{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-10-07",
        "endpointPrefix": "events",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon EventBridge",
        "serviceId": "EventBridge",
        "signatureVersion": "v4",
        "targetPrefix": "AWSEvents",
        "uid": "eventbridge-2015-10-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
        ]
    },
    "operations": {
        "ActivateEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "CancelReplay": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplayName"
                ],
                "members": {
                    "ReplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplayArn": {},
                    "State": {},
                    "StateReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "CreateApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ConnectionArn",
                    "InvocationEndpoint",
                    "HttpMethod"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ConnectionArn": {},
                    "InvocationEndpoint": {},
                    "HttpMethod": {},
                    "InvocationRateLimitPerSecond": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiDestinationArn": {},
                    "ApiDestinationState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGHAJ5RCKOQCV2LYFRI45HZ46SQDJJAYQROFM2ACVK6OJED3HAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "CreateArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName",
                    "EventSourceArn"
                ],
                "members": {
                    "ArchiveName": {},
                    "EventSourceArn": {},
                    "Description": {},
                    "EventPattern": {},
                    "RetentionDays": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArchiveArn": {},
                    "State": {},
                    "StateReason": {},
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "AuthorizationType",
                    "AuthParameters"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "AuthorizationType": {},
                    "AuthParameters": {
                        "type": "structure",
                        "members": {
                            "BasicAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "Username",
                                    "Password"
                                ],
                                "members": {
                                    "Username": {},
                                    "Password": {}
                                }
                            },
                            "OAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "ClientParameters",
                                    "AuthorizationEndpoint",
                                    "HttpMethod"
                                ],
                                "members": {
                                    "ClientParameters": {
                                        "type": "structure",
                                        "required": [
                                            "ClientID",
                                            "ClientSecret"
                                        ],
                                        "members": {
                                            "ClientID": {},
                                            "ClientSecret": {}
                                        }
                                    },
                                    "AuthorizationEndpoint": {},
                                    "HttpMethod": {},
                                    "OAuthHttpParameters": {
                                        "shape": "S14"
                                    }
                                }
                            },
                            "ApiKeyAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "ApiKeyName",
                                    "ApiKeyValue"
                                ],
                                "members": {
                                    "ApiKeyName": {},
                                    "ApiKeyValue": {}
                                }
                            },
                            "InvocationHttpParameters": {
                                "shape": "S14"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGHAJ5RCKOQCV2LYFRI45HZ46SQDJJAYQROFM2ACVK6OJED3HAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "CreateEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RoutingConfig",
                    "EventBuses"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEZCIQKPXG7WZXTJFZ3JPAT5KKXYC3NZBIPL6M5GZZIDX6H4L3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAFSK35QSLWLKKJIS7WOBNG5VNORSWVVTIJJKVGTD5LTRF5EC2FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGHAJ5RCKOQCV2LYFRI45HZ46SQDJJAYQROFM2ACVK6OJED3HAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "CreateEventBus": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventSourceName": {},
                    "Tags": {
                        "shape": "S24"
                    },
                    "KmsKeyIdentifier": {
                        "internalonly": true
                    },
                    "Description": {
                        "internalonly": true
                    },
                    "DeadLetterConfig": {
                        "shape": "S28",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventBusArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "CreatePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Account"
                ],
                "members": {
                    "Name": {},
                    "Account": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventSourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DeactivateEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DeauthorizeConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGHAJ5RCKOQCV2LYFRI45HZ46SQDJJAYQROFM2ACVK6OJED3HAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DeleteApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGHAJ5RCKOQCV2LYFRI45HZ46SQDJJAYQROFM2ACVK6OJED3HAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DeleteArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGHAJ5RCKOQCV2LYFRI45HZ46SQDJJAYQROFM2ACVK6OJED3HAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DeleteEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEZCIQKPXG7WZXTJFZ3JPAT5KKXYC3NZBIPL6M5GZZIDX6H4L3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAFSK35QSLWLKKJIS7WOBNG5VNORSWVVTIJJKVGTD5LTRF5EC2FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGHAJ5RCKOQCV2LYFRI45HZ46SQDJJAYQROFM2ACVK6OJED3HAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DeleteEventBus": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DeletePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Account"
                ],
                "members": {
                    "Name": {},
                    "Account": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DeleteRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventBusName": {},
                    "Force": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DescribeApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiDestinationArn": {},
                    "Name": {},
                    "Description": {},
                    "ApiDestinationState": {},
                    "ConnectionArn": {},
                    "InvocationEndpoint": {},
                    "HttpMethod": {},
                    "InvocationRateLimitPerSecond": {
                        "type": "integer"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGHAJ5RCKOQCV2LYFRI45HZ46SQDJJAYQROFM2ACVK6OJED3HAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DescribeArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArchiveArn": {},
                    "ArchiveName": {},
                    "EventSourceArn": {},
                    "Description": {},
                    "EventPattern": {},
                    "State": {},
                    "StateReason": {},
                    "RetentionDays": {
                        "type": "integer"
                    },
                    "SizeBytes": {
                        "type": "long"
                    },
                    "EventCount": {
                        "type": "long"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DescribeConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "Name": {},
                    "Description": {},
                    "ConnectionState": {},
                    "StateReason": {},
                    "AuthorizationType": {},
                    "SecretArn": {},
                    "AuthParameters": {
                        "type": "structure",
                        "members": {
                            "BasicAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "Username": {}
                                }
                            },
                            "OAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "ClientParameters": {
                                        "type": "structure",
                                        "members": {
                                            "ClientID": {}
                                        }
                                    },
                                    "AuthorizationEndpoint": {},
                                    "HttpMethod": {},
                                    "OAuthHttpParameters": {
                                        "shape": "S14"
                                    }
                                }
                            },
                            "ApiKeyAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "ApiKeyName": {}
                                }
                            },
                            "InvocationHttpParameters": {
                                "shape": "S14"
                            }
                        }
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGHAJ5RCKOQCV2LYFRI45HZ46SQDJJAYQROFM2ACVK6OJED3HAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DescribeEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "HomeRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Description": {},
                    "Arn": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {},
                    "EndpointId": {},
                    "EndpointUrl": {},
                    "State": {},
                    "StateReason": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEZCIQKPXG7WZXTJFZ3JPAT5KKXYC3NZBIPL6M5GZZIDX6H4L3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAFSK35QSLWLKKJIS7WOBNG5VNORSWVVTIJJKVGTD5LTRF5EC2FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDGHAJ5RCKOQCV2LYFRI45HZ46SQDJJAYQROFM2ACVK6OJED3HAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DescribeEventBus": {
            "input": {
                "type": "structure",
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DescribeEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedBy": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "ExpirationTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DescribePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js"
            ]
        },
        "DescribeReplay": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplayName"
                ],
                "members": {
                    "ReplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplayName": {},
                    "ReplayArn": {},
                    "Description": {},
                    "State": {},
                    "StateReason": {},
                    "EventSourceArn": {},
                    "Destination": {
                        "shape": "S3m"
                    },
                    "EventStartTime": {
                        "type": "timestamp"
                    },
                    "EventEndTime": {
                        "type": "timestamp"
                    },
                    "EventLastReplayedTime": {
                        "type": "timestamp"
                    },
                    "ReplayStartTime": {
                        "type": "timestamp"
                    },
                    "ReplayEndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
[...]
