{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-02-01",
        "endpointPrefix": "evidently",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon CloudWatch Evidently",
        "serviceId": "Evidently",
        "signatureVersion": "v4",
        "signingName": "evidently",
        "uid": "evidently-2021-02-01",
        "download_location": [
            "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "BatchEvaluateFeature": {
            "http": {
                "requestUri": "/projects/{project}/evaluations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "project",
                    "requests"
                ],
                "members": {
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    },
                    "requests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entityId",
                                "feature"
                            ],
                            "members": {
                                "entityId": {},
                                "evaluationContext": {
                                    "jsonvalue": true
                                },
                                "feature": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entityId",
                                "feature"
                            ],
                            "members": {
                                "details": {
                                    "jsonvalue": true
                                },
                                "entityId": {},
                                "feature": {},
                                "project": {},
                                "reason": {},
                                "value": {
                                    "shape": "Sd"
                                },
                                "variation": {}
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "dataplane."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateExperiment": {
            "http": {
                "requestUri": "/projects/{project}/experiments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "metricGoals",
                    "name",
                    "project",
                    "treatments"
                ],
                "members": {
                    "description": {},
                    "metricGoals": {
                        "shape": "Sk"
                    },
                    "name": {},
                    "onlineAbConfig": {
                        "shape": "St"
                    },
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    },
                    "randomizationSalt": {},
                    "samplingRate": {
                        "type": "long"
                    },
                    "segment": {},
                    "tags": {
                        "shape": "Sz"
                    },
                    "treatments": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "experiment"
                ],
                "members": {
                    "experiment": {
                        "shape": "S16"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateFeature": {
            "http": {
                "requestUri": "/projects/{project}/features",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "project",
                    "variations"
                ],
                "members": {
                    "defaultVariation": {},
                    "description": {},
                    "entityOverrides": {
                        "shape": "S1n"
                    },
                    "evaluationStrategy": {},
                    "name": {},
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    },
                    "tags": {
                        "shape": "Sz"
                    },
                    "variations": {
                        "shape": "S1p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "feature": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateLaunch": {
            "http": {
                "requestUri": "/projects/{project}/launches",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "groups",
                    "name",
                    "project"
                ],
                "members": {
                    "description": {},
                    "groups": {
                        "shape": "S23"
                    },
                    "metricMonitors": {
                        "shape": "S26"
                    },
                    "name": {},
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    },
                    "randomizationSalt": {},
                    "scheduledSplitsConfig": {
                        "shape": "S29"
                    },
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "launch"
                ],
                "members": {
                    "launch": {
                        "shape": "S2h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/projects",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "appConfigResource": {
                        "shape": "S2u"
                    },
                    "dataDelivery": {
                        "type": "structure",
                        "members": {
                            "cloudWatchLogs": {
                                "shape": "S2x"
                            },
                            "s3Destination": {
                                "shape": "S2z"
                            }
                        }
                    },
                    "description": {},
                    "name": {},
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "project"
                ],
                "members": {
                    "project": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateSegment": {
            "http": {
                "requestUri": "/segments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "pattern"
                ],
                "members": {
                    "description": {},
                    "name": {},
                    "pattern": {
                        "jsonvalue": true
                    },
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "segment"
                ],
                "members": {
                    "segment": {
                        "shape": "S3e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteExperiment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/projects/{project}/experiments/{experiment}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experiment",
                    "project"
                ],
                "members": {
                    "experiment": {
                        "location": "uri",
                        "locationName": "experiment"
                    },
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteFeature": {
            "http": {
                "method": "DELETE",
                "requestUri": "/projects/{project}/features/{feature}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "feature",
                    "project"
                ],
                "members": {
                    "feature": {
                        "location": "uri",
                        "locationName": "feature"
                    },
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteLaunch": {
            "http": {
                "method": "DELETE",
                "requestUri": "/projects/{project}/launches/{launch}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launch",
                    "project"
                ],
                "members": {
                    "launch": {
                        "location": "uri",
                        "locationName": "launch"
                    },
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteProject": {
            "http": {
                "method": "DELETE",
                "requestUri": "/projects/{project}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "project"
                ],
                "members": {
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteSegment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/segments/{segment}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "segment"
                ],
                "members": {
                    "segment": {
                        "location": "uri",
                        "locationName": "segment"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "EvaluateFeature": {
            "http": {
                "requestUri": "/projects/{project}/evaluations/{feature}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "entityId",
                    "feature",
                    "project"
                ],
                "members": {
                    "entityId": {},
                    "evaluationContext": {
                        "jsonvalue": true
                    },
                    "feature": {
                        "location": "uri",
                        "locationName": "feature"
                    },
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "details": {
                        "jsonvalue": true
                    },
                    "reason": {},
                    "value": {
                        "shape": "Sd"
                    },
                    "variation": {}
                }
            },
            "endpoint": {
                "hostPrefix": "dataplane."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetExperiment": {
            "http": {
                "method": "GET",
                "requestUri": "/projects/{project}/experiments/{experiment}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experiment",
                    "project"
                ],
                "members": {
                    "experiment": {
                        "location": "uri",
                        "locationName": "experiment"
                    },
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetExperimentResults": {
            "http": {
                "requestUri": "/projects/{project}/experiments/{experiment}/results",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experiment",
                    "metricNames",
                    "project",
                    "treatmentNames"
                ],
                "members": {
                    "baseStat": {},
                    "endTime": {
                        "type": "timestamp"
                    },
                    "experiment": {
                        "location": "uri",
                        "locationName": "experiment"
                    },
                    "metricNames": {
                        "type": "list",
                        "member": {}
                    },
                    "period": {
                        "type": "long"
                    },
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    },
                    "reportNames": {
                        "type": "list",
                        "member": {}
                    },
                    "resultStats": {
                        "type": "list",
                        "member": {}
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "treatmentNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "details": {},
                    "reports": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "content": {
                                    "jsonvalue": true
                                },
                                "metricName": {},
                                "reportName": {},
                                "treatmentName": {}
                            }
                        }
                    },
                    "resultsData": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "metricName": {},
                                "resultStat": {},
                                "treatmentName": {},
                                "values": {
                                    "type": "list",
                                    "member": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    },
                    "timestamps": {
                        "type": "list",
                        "member": {
                            "type": "timestamp"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetFeature": {
            "http": {
                "method": "GET",
                "requestUri": "/projects/{project}/features/{feature}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "feature",
                    "project"
                ],
                "members": {
                    "feature": {
                        "location": "uri",
                        "locationName": "feature"
                    },
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "feature"
                ],
                "members": {
                    "feature": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetLaunch": {
            "http": {
                "method": "GET",
                "requestUri": "/projects/{project}/launches/{launch}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launch",
                    "project"
                ],
                "members": {
                    "launch": {
                        "location": "uri",
                        "locationName": "launch"
                    },
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launch": {
                        "shape": "S2h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetProject": {
            "http": {
                "method": "GET",
                "requestUri": "/projects/{project}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "project"
                ],
                "members": {
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "project"
                ],
                "members": {
                    "project": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetSegment": {
            "http": {
                "method": "GET",
                "requestUri": "/segments/{segment}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "segment"
                ],
                "members": {
                    "segment": {
                        "location": "uri",
                        "locationName": "segment"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "segment"
                ],
                "members": {
                    "segment": {
                        "shape": "S3e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListExperiments": {
            "http": {
                "method": "GET",
                "requestUri": "/projects/{project}/experiments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "project"
                ],
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiments": {
                        "type": "list",
                        "member": {
                            "shape": "S16"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListFeatures": {
            "http": {
                "method": "GET",
                "requestUri": "/projects/{project}/features",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "project"
                ],
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "features": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "createdTime",
                                "evaluationStrategy",
                                "lastUpdatedTime",
                                "name",
                                "status"
                            ],
                            "members": {
                                "arn": {},
                                "createdTime": {
                                    "type": "timestamp"
                                },
                                "defaultVariation": {},
                                "evaluationRules": {
                                    "shape": "S1u"
                                },
                                "evaluationStrategy": {},
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "name": {},
                                "project": {},
                                "status": {},
                                "tags": {
                                    "shape": "Sz"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListLaunches": {
            "http": {
                "method": "GET",
                "requestUri": "/projects/{project}/launches",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "project"
                ],
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "project": {
                        "location": "uri",
                        "locationName": "project"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launches": {
                        "type": "list",
                        "member": {
                            "shape": "S2h"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListProjects": {
            "http": {
                "method": "GET",
                "requestUri": "/projects",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "projects": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "createdTime",
                                "lastUpdatedTime",
                                "name",
                                "status"
                            ],
                            "members": {
                                "activeExperimentCount": {
                                    "type": "long"
                                },
                                "activeLaunchCount": {
                                    "type": "long"
                                },
                                "arn": {},
                                "createdTime": {
                                    "type": "timestamp"
                                },
                                "description": {},
                                "experimentCount": {
                                    "type": "long"
                                },
                                "featureCount": {
                                    "type": "long"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "launchCount": {
                                    "type": "long"
                                },
                                "name": {},
                                "status": {},
                                "tags": {
                                    "shape": "Sz"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListSegmentReferences": {
            "http": {
                "method": "GET",
                "requestUri": "/segments/{segment}/references",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "segment",
                    "type"
                ],
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "segment": {
                        "location": "uri",
                        "locationName": "segment"
                    },
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "referencedBy": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "type"
                            ],
                            "members": {
                                "arn": {},
                                "endTime": {},
                                "lastUpdatedOn": {},
                                "name": {},
                                "startTime": {},
                                "status": {},
                                "type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBB5TMQSPD4S2BDRRSZCLWIY2CCZIQLY2O6PRCTJ3XC6AHYVBSA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVT3HXQXVQCLSSNPXJCMNEX4NJ5E5PNNPSKINEV45JDK7V6Q3RQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTMSPDHOOMGL2C7U4GGDWLUM3NIL7SHZGIMPDZTB5VV663M5ZTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListSegments": {
            "http": {
                "method": "GET",
                "requestUri": "/segments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "segments": {
                        "type": "list",
                        "member": {
                            "shape": "S3e"
                        }
                    }
                }
            },
            "download_location": [
[...]
