{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-12-01",
        "endpointPrefix": "fis",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "FIS",
        "serviceFullName": "AWS Fault Injection Simulator",
        "serviceId": "FaultInjectionSimulator",
        "signatureVersion": "v4",
        "signingName": "fis",
        "uid": "faultinjectionsimulator-2020-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVEF2QFCR2JBUFGHNHQPB2ED3XHI7U2PQ777RBMV5WOU3F7PR65A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
        ]
    },
    "operations": {
        "CreateExperimentTemplate": {
            "http": {
                "requestUri": "/experimentTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "description",
                    "stopConditions",
                    "actions",
                    "roleArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "stopConditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {},
                                "value": {}
                            }
                        }
                    },
                    "targets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "resourceType",
                                "selectionMode"
                            ],
                            "members": {
                                "resourceType": {},
                                "resourceArns": {
                                    "shape": "Sc"
                                },
                                "resourceTags": {
                                    "shape": "Se"
                                },
                                "parameters": {
                                    "shape": "Sh"
                                },
                                "filters": {
                                    "shape": "Sk"
                                },
                                "selectionMode": {}
                            }
                        }
                    },
                    "actions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "actionId"
                            ],
                            "members": {
                                "actionId": {},
                                "description": {},
                                "parameters": {
                                    "shape": "Sv"
                                },
                                "targets": {
                                    "shape": "Sy"
                                },
                                "startAfter": {
                                    "shape": "S10"
                                }
                            }
                        }
                    },
                    "roleArn": {},
                    "logConfiguration": {
                        "type": "structure",
                        "required": [
                            "logSchemaVersion"
                        ],
                        "members": {
                            "cloudWatchLogsConfiguration": {
                                "shape": "S14"
                            },
                            "s3Configuration": {
                                "shape": "S16"
                            },
                            "kinesisFirehoseConfiguration": {
                                "shape": "S19"
                            },
                            "logSchemaVersion": {
                                "type": "integer"
                            }
                        }
                    },
                    "tags": {
                        "shape": "Se"
                    },
                    "experimentOptions": {
                        "type": "structure",
                        "members": {
                            "accountTargeting": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "DeleteExperimentTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "GetAction": {
            "http": {
                "method": "GET",
                "requestUri": "/actions/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "action": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "description": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "description": {},
                                        "required": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "targets": {
                                "shape": "S24"
                            },
                            "tags": {
                                "shape": "Se"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "GetExperiment": {
            "http": {
                "method": "GET",
                "requestUri": "/experiments/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "GetExperimentTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "GetTargetResourceType": {
            "http": {
                "method": "GET",
                "requestUri": "/targetResourceTypes/{resourceType}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceType"
                ],
                "members": {
                    "id": {},
                    "resourceType": {
                        "location": "uri",
                        "locationName": "resourceType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetResourceType": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "resourceType": {},
                            "description": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "description": {},
                                        "required": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "ListActions": {
            "http": {
                "method": "GET",
                "requestUri": "/actions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "actions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "description": {},
                                "targets": {
                                    "shape": "S24"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "ListExperimentTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "description": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "ListExperiments": {
            "http": {
                "method": "GET",
                "requestUri": "/experiments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "experimentTemplateId": {},
                                "state": {
                                    "shape": "S2b"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "ListTargetResourceTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/targetResourceTypes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetResourceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "resourceType": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "StartExperiment": {
            "http": {
                "requestUri": "/experiments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "experimentTemplateId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "experimentTemplateId": {},
                    "tags": {
                        "shape": "Se"
                    },
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "StopExperiment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experiments/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "UpdateExperimentTemplate": {
            "http": {
                "method": "PATCH",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "description": {},
                    "stopConditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {},
                                "value": {}
                            }
                        }
                    },
                    "targets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "resourceType",
                                "selectionMode"
                            ],
                            "members": {
                                "resourceType": {},
                                "resourceArns": {
                                    "shape": "Sc"
                                },
                                "resourceTags": {
                                    "shape": "Se"
                                },
                                "parameters": {
                                    "shape": "Sh"
                                },
                                "filters": {
                                    "shape": "Sk"
                                },
                                "selectionMode": {}
                            }
                        }
                    },
                    "actions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "actionId": {},
                                "description": {},
                                "parameters": {
                                    "shape": "Sv"
                                },
                                "targets": {
                                    "shape": "Sy"
                                },
                                "startAfter": {
                                    "shape": "S10"
                                }
                            }
                        }
                    },
                    "roleArn": {},
                    "logConfiguration": {
                        "type": "structure",
                        "members": {
                            "cloudWatchLogsConfiguration": {
                                "shape": "S14"
                            },
                            "s3Configuration": {
                                "shape": "S16"
                            },
                            "kinesisFirehoseConfiguration": {
                                "shape": "S19"
                            },
                            "logSchemaVersion": {
                                "type": "integer"
                            }
                        }
                    },
                    "experimentOptions": {
                        "type": "structure",
                        "members": {
                            "emptyTargetResolutionMode": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "ListExperimentResolvedTargets": {
            "http": {
                "method": "GET",
                "requestUri": "/resolvedTargets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentId"
                ],
                "members": {
                    "experimentId": {
                        "location": "querystring",
                        "locationName": "experimentId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "targetName": {
                        "location": "querystring",
                        "locationName": "targetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resolvedTargets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceType": {},
                                "targetName": {},
                                "targetInformation": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "CreateTargetAccountConfiguration": {
            "http": {
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId",
                    "accountId",
                    "roleArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "roleArn": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfiguration": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "DeleteTargetAccountConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId",
                    "accountId"
                ],
                "members": {
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfiguration": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "GetTargetAccountConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId",
                    "accountId"
                ],
                "members": {
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfiguration": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "ListTargetAccountConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId"
                ],
                "members": {
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "roleArn": {},
                                "accountId": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QV2E6QGQ7LFZQG5C47WXGOJPIFKZFM34HH6AFYRCNUUTXVZFGLHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2VYHUJ6PGXJ4IEATNOD7C4FWRNBOUAFNDPUP6FSS3PTDOVUPPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPPBRKJGXVB3QN7MRE2TRTWHE7YFXAF3Z7MZN6TKBZDTGZQDN5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3TOHO2KNW2TANHXFQCEXWCM2SCA4AHVGOEB64SB37D6ZVXSQF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJUQJOVF6ASV47GPQPMEIQ5NE54AVGMLPREW47NITRFUNBTQP5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH7D2ZHUB2DDSIWWBQBNNJZBVM5DZIRPXQD54BYEMYIJ7SSVYIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZYCXXJJ62M7A33LQFP5LAZ76G6SUZJML7VRG4WDLZJQTZYHJSCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOJJDI2ZIZB7TLQIT3CEO2EEI4B4LSSFLBRLLI3R6UHQC3KOJ7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJAMRCPJQYMHKXISWD7SBMZAZKRMBY2Y33MMRMH2OCGWQJRF5Q3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYCTXOOBOSDBPFCJNEQ5GGMSPEFXOY3KXSZALA5D37AS5YC4WFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M53UZDDDW35A3YX35STEIEUMMON35VKASPVI2F2TKYPNC2OBTVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM2CCQ6QV3NKSJV4OZLIIFGKASISZJLLI5UEN37VYYLZP67E56VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXGFYRMMUEL4OG275TPNRCNRVYJAPYASHMARHAMZTNDFRKG2U3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMP6ZCKD5LOWLQYI64NYULSCNEVAJ6J2P5FOWE6HG4XREAQKYCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC6JX2TEKUWQIJ6TAAS63PRYPLBUSLCENDLX7LZUCTJQPBDZP7JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js"
            ]
        },
        "UpdateTargetAccountConfiguration": {
            "http": {
                "method": "PATCH",
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId",
                    "accountId"
                ],
                "members": {
[...]
