{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-12-01",
        "endpointPrefix": "fis",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "FIS",
        "serviceFullName": "AWS Fault Injection Simulator",
        "serviceId": "FaultInjectionSimulator",
        "signatureVersion": "v4",
        "signingName": "fis",
        "uid": "faultinjectionsimulator-2020-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VPVLG7BV4EZAVFLX4O52ARLW7SA56EWM73XJ7CQAU26MM6SQS3VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
        ]
    },
    "operations": {
        "CreateExperimentTemplate": {
            "http": {
                "requestUri": "/experimentTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "description",
                    "stopConditions",
                    "actions",
                    "roleArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "stopConditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {},
                                "value": {}
                            }
                        }
                    },
                    "targets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "resourceType",
                                "selectionMode"
                            ],
                            "members": {
                                "resourceType": {},
                                "resourceArns": {
                                    "shape": "Sc"
                                },
                                "resourceTags": {
                                    "shape": "Se"
                                },
                                "parameters": {
                                    "shape": "Sh"
                                },
                                "filters": {
                                    "shape": "Sk"
                                },
                                "selectionMode": {}
                            }
                        }
                    },
                    "actions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "actionId"
                            ],
                            "members": {
                                "actionId": {},
                                "description": {},
                                "parameters": {
                                    "shape": "Sv"
                                },
                                "targets": {
                                    "shape": "Sy"
                                },
                                "startAfter": {
                                    "shape": "S10"
                                }
                            }
                        }
                    },
                    "roleArn": {},
                    "logConfiguration": {
                        "type": "structure",
                        "required": [
                            "logSchemaVersion"
                        ],
                        "members": {
                            "cloudWatchLogsConfiguration": {
                                "shape": "S14"
                            },
                            "s3Configuration": {
                                "shape": "S16"
                            },
                            "kinesisFirehoseConfiguration": {
                                "shape": "S19"
                            },
                            "logSchemaVersion": {
                                "type": "integer"
                            }
                        }
                    },
                    "tags": {
                        "shape": "Se"
                    },
                    "experimentOptions": {
                        "type": "structure",
                        "members": {
                            "accountTargeting": {}
                        }
                    },
                    "reportConfiguration": {
                        "type": "structure",
                        "members": {
                            "storageDestinationIdentifier": {},
                            "preExperimentDuration": {},
                            "postExperimentDuration": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "DeleteExperimentTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "GetAction": {
            "http": {
                "method": "GET",
                "requestUri": "/actions/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "action": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "description": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "description": {},
                                        "required": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "targets": {
                                "shape": "S24"
                            },
                            "tags": {
                                "shape": "Se"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "GetExperiment": {
            "http": {
                "method": "GET",
                "requestUri": "/experiments/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "GetExperimentTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "GetTargetResourceType": {
            "http": {
                "method": "GET",
                "requestUri": "/targetResourceTypes/{resourceType}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceType"
                ],
                "members": {
                    "id": {},
                    "resourceType": {
                        "location": "uri",
                        "locationName": "resourceType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetResourceType": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "resourceType": {},
                            "description": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "description": {},
                                        "required": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "ListActions": {
            "http": {
                "method": "GET",
                "requestUri": "/actions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "actions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "description": {},
                                "targets": {
                                    "shape": "S24"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "ListExperimentTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "description": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "ListExperiments": {
            "http": {
                "method": "GET",
                "requestUri": "/experiments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "experimentTemplateId": {
                        "location": "querystring",
                        "locationName": "experimentTemplateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "experimentTemplateId": {},
                                "state": {
                                    "shape": "S2b"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "ListTargetResourceTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/targetResourceTypes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetResourceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "resourceType": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "StartExperiment": {
            "http": {
                "requestUri": "/experiments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "experimentTemplateId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "experimentTemplateId": {},
                    "tags": {
                        "shape": "Se"
                    },
                    "dryRun": {
                        "type": "boolean"
                    },
                    "experimentOptions": {
                        "type": "structure",
                        "members": {
                            "actionsMode": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "StopExperiment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experiments/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "UpdateExperimentTemplate": {
            "http": {
                "method": "PATCH",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "description": {},
                    "stopConditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {},
                                "value": {}
                            }
                        }
                    },
                    "targets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "resourceType",
                                "selectionMode"
                            ],
                            "members": {
                                "resourceType": {},
                                "resourceArns": {
                                    "shape": "Sc"
                                },
                                "resourceTags": {
                                    "shape": "Se"
                                },
                                "parameters": {
                                    "shape": "Sh"
                                },
                                "filters": {
                                    "shape": "Sk"
                                },
                                "selectionMode": {}
                            }
                        }
                    },
                    "actions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "actionId": {},
                                "description": {},
                                "parameters": {
                                    "shape": "Sv"
                                },
                                "targets": {
                                    "shape": "Sy"
                                },
                                "startAfter": {
                                    "shape": "S10"
                                }
                            }
                        }
                    },
                    "roleArn": {},
                    "logConfiguration": {
                        "type": "structure",
                        "members": {
                            "cloudWatchLogsConfiguration": {
                                "shape": "S14"
                            },
                            "s3Configuration": {
                                "shape": "S16"
                            },
                            "kinesisFirehoseConfiguration": {
                                "shape": "S19"
                            },
                            "logSchemaVersion": {
                                "type": "integer"
                            }
                        }
                    },
                    "experimentOptions": {
                        "type": "structure",
                        "members": {
                            "emptyTargetResolutionMode": {}
                        }
                    },
                    "reportConfiguration": {
                        "type": "structure",
                        "members": {
                            "storageDestinationIdentifier": {},
                            "preExperimentDuration": {},
                            "postExperimentDuration": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "ListExperimentResolvedTargets": {
            "http": {
                "method": "GET",
                "requestUri": "/resolvedTargets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentId"
                ],
                "members": {
                    "experimentId": {
                        "location": "querystring",
                        "locationName": "experimentId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "targetName": {
                        "location": "querystring",
                        "locationName": "targetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resolvedTargets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceType": {},
                                "targetName": {},
                                "targetInformation": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "CreateTargetAccountConfiguration": {
            "http": {
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId",
                    "accountId",
                    "roleArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "roleArn": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfiguration": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "DeleteTargetAccountConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId",
                    "accountId"
                ],
                "members": {
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfiguration": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "GetTargetAccountConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId",
                    "accountId"
                ],
                "members": {
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfiguration": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5KBHXU4OU3YIU4EIDGNWF5K7NGTBZXY2YATHM5SZFSSR7RP7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js"
            ]
        },
        "ListTargetAccountConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId"
                ],
                "members": {
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "roleArn": {},
                                "accountId": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DL46ORNBP66NFCYAOBO4CN2SKJ7J2W5LHAYHU5FZGLFIAKTC4KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IREELBJZEAIAYJTKDY5ALUMJARNVKOZBR6D6WCWOCFPMUKJJQRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEL47EZQNGOHKEMWR4OHDXVU72SOF2KFWP3FG4Z34YSP74WQV2LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWA3OC3DAFJNJHKKC7IR37UZDNAO6AFB7JK2OXRBJVEIN36KWRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBNP6KV3AF7ELZHMAFT77NQNMAMB76GGY7P7YWM72NECK2BZ4HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3D62BIQRGVVY3YQATSA42RL6PGSF5K2IZGDYGJ6L26HR5WU4GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LPPXEZKILA7SLUX5BC75R7DUJIHBMWDSMNANNTATAM2Q6XXYGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4ZVMNA4LXRSTNGJS6EMLSNS2FNQ324AOU4OTU2U2HBTEKBWYXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVDDFH77ILKMAOSQBWIM2L27WMFYAFBVGSKTLQT7Y32WTHEQHXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3M7VWVK2CG4FKVCZ7RMFOMS2QFBJWLD75JPEQMXCBQKRBOKXEEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7OX7XZDJJYIJZIJFJMYFRKWUUMQ74HMZ67C2FBXNZVKIIWYXDZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2VS7W2GYDL6DBMNA7CK5KJGBVBN7ZFAG3FJ6PLOEVFIW7UV2VPA/vendors.js",
[...]
