{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-12-01",
        "endpointPrefix": "fis",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "FIS",
        "serviceFullName": "AWS Fault Injection Simulator",
        "serviceId": "FaultInjectionSimulator",
        "signatureVersion": "v4",
        "signingName": "fis",
        "uid": "faultinjectionsimulator-2020-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLLXLPXTXXTRH3V7PU3AE4F4NDBH6FBWCB2PV4LC6VMP5RJCZVSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
        ]
    },
    "operations": {
        "CreateExperimentTemplate": {
            "http": {
                "requestUri": "/experimentTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "description",
                    "stopConditions",
                    "actions",
                    "roleArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "stopConditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {},
                                "value": {}
                            }
                        }
                    },
                    "targets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "resourceType",
                                "selectionMode"
                            ],
                            "members": {
                                "resourceType": {},
                                "resourceArns": {
                                    "shape": "Sc"
                                },
                                "resourceTags": {
                                    "shape": "Se"
                                },
                                "parameters": {
                                    "shape": "Sh"
                                },
                                "filters": {
                                    "shape": "Sk"
                                },
                                "selectionMode": {}
                            }
                        }
                    },
                    "actions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "actionId"
                            ],
                            "members": {
                                "actionId": {},
                                "description": {},
                                "parameters": {
                                    "shape": "Sv"
                                },
                                "targets": {
                                    "shape": "Sy"
                                },
                                "startAfter": {
                                    "shape": "S10"
                                }
                            }
                        }
                    },
                    "roleArn": {},
                    "logConfiguration": {
                        "type": "structure",
                        "required": [
                            "logSchemaVersion"
                        ],
                        "members": {
                            "cloudWatchLogsConfiguration": {
                                "shape": "S14"
                            },
                            "s3Configuration": {
                                "shape": "S16"
                            },
                            "kinesisFirehoseConfiguration": {
                                "shape": "S19"
                            },
                            "logSchemaVersion": {
                                "type": "integer"
                            }
                        }
                    },
                    "tags": {
                        "shape": "Se"
                    },
                    "experimentOptions": {
                        "type": "structure",
                        "members": {
                            "accountTargeting": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "DeleteExperimentTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "GetAction": {
            "http": {
                "method": "GET",
                "requestUri": "/actions/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "action": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "description": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "description": {},
                                        "required": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "targets": {
                                "shape": "S24"
                            },
                            "tags": {
                                "shape": "Se"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "GetExperiment": {
            "http": {
                "method": "GET",
                "requestUri": "/experiments/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "GetExperimentTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "GetTargetResourceType": {
            "http": {
                "method": "GET",
                "requestUri": "/targetResourceTypes/{resourceType}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceType"
                ],
                "members": {
                    "id": {},
                    "resourceType": {
                        "location": "uri",
                        "locationName": "resourceType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetResourceType": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "resourceType": {},
                            "description": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "description": {},
                                        "required": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "ListActions": {
            "http": {
                "method": "GET",
                "requestUri": "/actions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "actions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "description": {},
                                "targets": {
                                    "shape": "S24"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "ListExperimentTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "description": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "ListExperiments": {
            "http": {
                "method": "GET",
                "requestUri": "/experiments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "experimentTemplateId": {
                        "location": "querystring",
                        "locationName": "experimentTemplateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "experimentTemplateId": {},
                                "state": {
                                    "shape": "S2b"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "ListTargetResourceTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/targetResourceTypes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetResourceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "resourceType": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "StartExperiment": {
            "http": {
                "requestUri": "/experiments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "experimentTemplateId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "experimentTemplateId": {},
                    "tags": {
                        "shape": "Se"
                    },
                    "dryRun": {
                        "type": "boolean"
                    },
                    "experimentOptions": {
                        "type": "structure",
                        "members": {
                            "actionsMode": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "StopExperiment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experiments/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "UpdateExperimentTemplate": {
            "http": {
                "method": "PATCH",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "description": {},
                    "stopConditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {},
                                "value": {}
                            }
                        }
                    },
                    "targets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "resourceType",
                                "selectionMode"
                            ],
                            "members": {
                                "resourceType": {},
                                "resourceArns": {
                                    "shape": "Sc"
                                },
                                "resourceTags": {
                                    "shape": "Se"
                                },
                                "parameters": {
                                    "shape": "Sh"
                                },
                                "filters": {
                                    "shape": "Sk"
                                },
                                "selectionMode": {}
                            }
                        }
                    },
                    "actions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "actionId": {},
                                "description": {},
                                "parameters": {
                                    "shape": "Sv"
                                },
                                "targets": {
                                    "shape": "Sy"
                                },
                                "startAfter": {
                                    "shape": "S10"
                                }
                            }
                        }
                    },
                    "roleArn": {},
                    "logConfiguration": {
                        "type": "structure",
                        "members": {
                            "cloudWatchLogsConfiguration": {
                                "shape": "S14"
                            },
                            "s3Configuration": {
                                "shape": "S16"
                            },
                            "kinesisFirehoseConfiguration": {
                                "shape": "S19"
                            },
                            "logSchemaVersion": {
                                "type": "integer"
                            }
                        }
                    },
                    "experimentOptions": {
                        "type": "structure",
                        "members": {
                            "emptyTargetResolutionMode": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "ListExperimentResolvedTargets": {
            "http": {
                "method": "GET",
                "requestUri": "/resolvedTargets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentId"
                ],
                "members": {
                    "experimentId": {
                        "location": "querystring",
                        "locationName": "experimentId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "targetName": {
                        "location": "querystring",
                        "locationName": "targetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resolvedTargets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceType": {},
                                "targetName": {},
                                "targetInformation": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "CreateTargetAccountConfiguration": {
            "http": {
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId",
                    "accountId",
                    "roleArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "roleArn": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfiguration": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "DeleteTargetAccountConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId",
                    "accountId"
                ],
                "members": {
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfiguration": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "GetTargetAccountConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId",
                    "accountId"
                ],
                "members": {
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfiguration": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "ListTargetAccountConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId"
                ],
                "members": {
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "roleArn": {},
                                "accountId": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWRUSDOPV52ON7KGCNMF5E76U7SZ34VJNNYBNN6H7GGITPT65I3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QXP7F2AIMCURVOGLNQPQPBGW4KTT55UBE5PKWKQNBWRRCSWO4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS4AX5U4XTH2S5YHLPGJDU4NZYHAXKREHTET4BHA72TJOGSZ5JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNJPFMVLAAWRFNPY5PHFT3JLKSQCIB7ZC46YTVZTKDCI5EVHFD3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRMG3N3EOCJKF7S2EGQFZ4D5Q62SNX7KMY7CHIFVW6TILSXEVPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4C6PQRL6JQNSJJBN42NN4L2N3FI7DMYVG3P44U63OLXKVSY5WB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRG5XZ2LGBB2VRQH442PWUE6XEWLY3CBHNRQEVIMMPEYX6VU2BWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFF3JZQE4ARPZNDSHBWUDTNMCMY5LHNTYA7M7GBY6IEDFL3FI4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A2KHBPI5GDY6Y7WNAJ3JNHHVA6LR5DTPUOSWDY3STLAD4K2TW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBKP6PIQHBLQIKJHZSA6Q6NK7O5RGVIBZQSNDZR3IU2GLKYKVOFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62PVGXV4JDY7OAYQGQSSFVSVUWDCMLECWRKR53JTL2U75RPZ2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCRZFCPOTGAK4LC3R2IEFHH2GQBJ6WFA5C2BKF362BYAGQ7TAHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEO3ZLX4V7MLCMMLBSXTNNKLHVJ2SMQLK3SLRUZ3673RDXLPOS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUQ4FTRDJSQ2M7BALX53MBWTICPBZNQK25IETCXCBBPPWOX34YGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57MI2NX72TJKYKUS5HFIVL5PYD34K5WYS4WCV7BWXWWBHMHI4SFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYV6ODZX5A4OOBCJHBLRXZVFNOW2FABE7MTFBKXCSDRXQE7NHM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6GOOV63SM4UNMWMKYYZXM364TLVP3AG2T4BURGHWHA7TM675XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZK4MP6QSLXGU4ZA4YB23V6Z4UN24DRHNOI5PJCQ6X7CJSNCFXSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJITZUJ5GOAKBHMSKU2OEXR6KE42YVS7D2L57ZCHASJIID32FMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js"
            ]
        },
        "UpdateTargetAccountConfiguration": {
[...]
