{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-12-01",
        "endpointPrefix": "fis",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "FIS",
        "serviceFullName": "AWS Fault Injection Simulator",
        "serviceId": "FaultInjectionSimulator",
        "signatureVersion": "v4",
        "signingName": "fis",
        "uid": "faultinjectionsimulator-2020-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTXRIPFJYMJADBSMKEROUQILLOLN4ZE4WSLBIWBNOPX4UR2L3T4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
        ]
    },
    "operations": {
        "CreateExperimentTemplate": {
            "http": {
                "requestUri": "/experimentTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "description",
                    "stopConditions",
                    "actions",
                    "roleArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "stopConditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {},
                                "value": {}
                            }
                        }
                    },
                    "targets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "resourceType",
                                "selectionMode"
                            ],
                            "members": {
                                "resourceType": {},
                                "resourceArns": {
                                    "shape": "Sc"
                                },
                                "resourceTags": {
                                    "shape": "Se"
                                },
                                "parameters": {
                                    "shape": "Sh"
                                },
                                "filters": {
                                    "shape": "Sk"
                                },
                                "selectionMode": {}
                            }
                        }
                    },
                    "actions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "actionId"
                            ],
                            "members": {
                                "actionId": {},
                                "description": {},
                                "parameters": {
                                    "shape": "Sv"
                                },
                                "targets": {
                                    "shape": "Sy"
                                },
                                "startAfter": {
                                    "shape": "S10"
                                }
                            }
                        }
                    },
                    "roleArn": {},
                    "logConfiguration": {
                        "type": "structure",
                        "required": [
                            "logSchemaVersion"
                        ],
                        "members": {
                            "cloudWatchLogsConfiguration": {
                                "shape": "S14"
                            },
                            "s3Configuration": {
                                "shape": "S16"
                            },
                            "kinesisFirehoseConfiguration": {
                                "shape": "S19"
                            },
                            "logSchemaVersion": {
                                "type": "integer"
                            }
                        }
                    },
                    "tags": {
                        "shape": "Se"
                    },
                    "experimentOptions": {
                        "type": "structure",
                        "members": {
                            "accountTargeting": {}
                        }
                    },
                    "reportConfiguration": {
                        "type": "structure",
                        "members": {
                            "storageDestinationIdentifier": {},
                            "preExperimentDuration": {},
                            "postExperimentDuration": {}
                        }
                    },
                    "experimentReportConfiguration": {
                        "type": "structure",
                        "members": {
                            "outputs": {
                                "shape": "S1e"
                            },
                            "dataSources": {
                                "shape": "S1g"
                            },
                            "preExperimentDuration": {},
                            "postExperimentDuration": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "DeleteExperimentTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "GetAction": {
            "http": {
                "method": "GET",
                "requestUri": "/actions/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "action": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "description": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "description": {},
                                        "required": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "targets": {
                                "shape": "S24"
                            },
                            "tags": {
                                "shape": "Se"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "GetExperiment": {
            "http": {
                "method": "GET",
                "requestUri": "/experiments/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "GetExperimentTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "GetTargetResourceType": {
            "http": {
                "method": "GET",
                "requestUri": "/targetResourceTypes/{resourceType}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceType"
                ],
                "members": {
                    "id": {},
                    "resourceType": {
                        "location": "uri",
                        "locationName": "resourceType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetResourceType": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "resourceType": {},
                            "description": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "description": {},
                                        "required": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "ListActions": {
            "http": {
                "method": "GET",
                "requestUri": "/actions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "actions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "description": {},
                                "targets": {
                                    "shape": "S24"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "ListExperimentTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "description": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "ListExperiments": {
            "http": {
                "method": "GET",
                "requestUri": "/experiments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "experimentTemplateId": {
                        "location": "querystring",
                        "locationName": "experimentTemplateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "experimentTemplateId": {},
                                "state": {
                                    "shape": "S2b"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "ListTargetResourceTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/targetResourceTypes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetResourceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "resourceType": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "StartExperiment": {
            "http": {
                "requestUri": "/experiments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "experimentTemplateId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "experimentTemplateId": {},
                    "tags": {
                        "shape": "Se"
                    },
                    "dryRun": {
                        "type": "boolean"
                    },
                    "experimentOptions": {
                        "type": "structure",
                        "members": {
                            "actionsMode": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "StopExperiment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experiments/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S2a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "UpdateExperimentTemplate": {
            "http": {
                "method": "PATCH",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "description": {},
                    "stopConditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {},
                                "value": {}
                            }
                        }
                    },
                    "targets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "resourceType",
                                "selectionMode"
                            ],
                            "members": {
                                "resourceType": {},
                                "resourceArns": {
                                    "shape": "Sc"
                                },
                                "resourceTags": {
                                    "shape": "Se"
                                },
                                "parameters": {
                                    "shape": "Sh"
                                },
                                "filters": {
                                    "shape": "Sk"
                                },
                                "selectionMode": {}
                            }
                        }
                    },
                    "actions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "actionId": {},
                                "description": {},
                                "parameters": {
                                    "shape": "Sv"
                                },
                                "targets": {
                                    "shape": "Sy"
                                },
                                "startAfter": {
                                    "shape": "S10"
                                }
                            }
                        }
                    },
                    "roleArn": {},
                    "logConfiguration": {
                        "type": "structure",
                        "members": {
                            "cloudWatchLogsConfiguration": {
                                "shape": "S14"
                            },
                            "s3Configuration": {
                                "shape": "S16"
                            },
                            "kinesisFirehoseConfiguration": {
                                "shape": "S19"
                            },
                            "logSchemaVersion": {
                                "type": "integer"
                            }
                        }
                    },
                    "experimentOptions": {
                        "type": "structure",
                        "members": {
                            "emptyTargetResolutionMode": {}
                        }
                    },
                    "reportConfiguration": {
                        "type": "structure",
                        "members": {
                            "storageDestinationIdentifier": {},
                            "preExperimentDuration": {},
                            "postExperimentDuration": {}
                        }
                    },
                    "experimentReportConfiguration": {
                        "type": "structure",
                        "members": {
                            "outputs": {
                                "shape": "S1e"
                            },
                            "dataSources": {
                                "shape": "S1g"
                            },
                            "preExperimentDuration": {},
                            "postExperimentDuration": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "ListExperimentResolvedTargets": {
            "http": {
                "method": "GET",
                "requestUri": "/resolvedTargets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentId"
                ],
                "members": {
                    "experimentId": {
                        "location": "querystring",
                        "locationName": "experimentId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "targetName": {
                        "location": "querystring",
                        "locationName": "targetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resolvedTargets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceType": {},
                                "targetName": {},
                                "targetInformation": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "CreateTargetAccountConfiguration": {
            "http": {
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId",
                    "accountId",
                    "roleArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "roleArn": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfiguration": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "DeleteTargetAccountConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId",
                    "accountId"
                ],
                "members": {
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfiguration": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "GetTargetAccountConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId",
                    "accountId"
                ],
                "members": {
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfiguration": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTDCPAYZH6LF3TUH44OJMJZJXOUPHGAI7FWLHBRH5SUWLR4DVOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CBK372YRCFZOKCBYNAY4OB65KVQHAQUPKLZDCGN6VCLOGUHWJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBZF6VHDIEK2VPMHCMJ3POPV5FUG5G4W54FKGLBLFEILMTPWTJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWF5B7JRQCCL4FJFVSWML2RLOKCHCXATOGJOKYK2KQUIGNGTBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ54BKBVGOUIYIX2R42LWTQWWKKQK7ULWF5ZAGRLPJVZE7LMRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOCIWJ2L5MDPJGUU7RYPY66SSHVFRMQTBAMK7E5ZORXCAF4PMESQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI22JVMLTPE6RWP2TOXAVQXKHKW3XYYYGHHOMUG7D6PE5RWLYUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRW7SICLOMIKDCBOLISYKWVFZVOUUU4JNGZKKO2LFF3D3PASHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCHMJNFDD6A54CTL43CT7FMJIVLUMCT535W7B7DAZZLYQNNXPSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNPCA3A563ASWHDPSA63FYGRXP3AAIYXZ5CCEUMLCKIHLLTYTT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPGSVPQWKZUF5ELI4PDWHWIOBNQQ6RP2GHNIJUHBQBXJML3UFWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5IYGGPLDMMQ2IMYCQYQQFKHBBCGHVGA7E7F5LW2GXABG2R6BNQ/vendors.js"
            ]
        },
        "ListTargetAccountConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates/{id}/targetAccountConfigurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "experimentTemplateId"
                ],
                "members": {
                    "experimentTemplateId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetAccountConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "roleArn": {},
                                "accountId": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYT5R6YONMIV652EXSSE6NNA77QHE5SCNCYT77762RFCC75QWIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE3A2VISO4ETBCXLVKBWV4AUZ2DMGJDGBYYTVKBSV6OI4DE2ZVYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPCS2N4TSQBBK3EEGTSLNHJ3W7NEWQIQQG3C6TFXMPHOWPEW3BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVNBZ5XRYILSW6T2FTSCCXEEYSLKHLBFPEBT7NVFMTZP7K2ZZDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55VWKTA54HZBAZMEH5LKAHMVNYCXUKQUFQL2FR245WTJF3JCGFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LT62KBOI6BSL4AS6YYGSUCSZIL3MUMS3BQ4WUHS7TTVLN7MQ7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LW6VYIPFNQ6YO3JWJJWVDCABD6EBDTLNRGQRDQG6EOM6WCJ57EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTGCZGCVG36ZPHTXGE5AENO6REMFWMCMKAOPXM5ZIEUDQWG4S4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQMLAVTS43LHRNUVBQJIHBLJYP2CDRJL6RRDB26XKTKSR6O633LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WJ2ODHELLP74MHMLDP4AL3JRENETJSH575DILD7NMLB6IPVRTOQ/vendors.js",
[...]
