{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-03-12",
        "endpointPrefix": "finspace",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "finspace",
        "serviceFullName": "FinSpace User Environment Management service",
        "serviceId": "finspace",
        "signatureVersion": "v4",
        "signingName": "finspace",
        "uid": "finspace-2021-03-12",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateEnvironment": {
            "http": {
                "requestUri": "/environment"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "kmsKeyId": {},
                    "tags": {
                        "shape": "S5"
                    },
                    "federationMode": {},
                    "federationParameters": {
                        "shape": "S9"
                    },
                    "superuserParameters": {
                        "type": "structure",
                        "required": [
                            "emailAddress",
                            "firstName",
                            "lastName"
                        ],
                        "members": {
                            "emailAddress": {
                                "type": "string",
                                "sensitive": true
                            },
                            "firstName": {},
                            "lastName": {}
                        }
                    },
                    "dataBundles": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {},
                    "environmentArn": {},
                    "environmentUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environment/{environmentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environment/{environmentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environment": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListEnvironments": {
            "http": {
                "method": "GET",
                "requestUri": "/environment"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environments": {
                        "type": "list",
                        "member": {
                            "shape": "Ss"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateEnvironment": {
            "http": {
                "method": "PUT",
                "requestUri": "/environment/{environmentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "name": {},
                    "description": {},
                    "federationMode": {},
                    "federationParameters": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environment": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateDataConnector": {
            "http": {
                "requestUri": "/environment/{environmentId}/dataconnector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataConnectorName",
                    "dataProviderId",
                    "environmentId"
                ],
                "members": {
                    "clientToken": {},
                    "dataConnectorCredentialProfile": {
                        "shape": "S3"
                    },
                    "dataConnectorName": {},
                    "dataProviderId": {},
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataConnectorUserId": {},
                    "dataConnectorRunFrequency": {},
                    "connectorAttributes": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataConnector": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6XK53QVJD5ZGAH57JZYA5UMP76UBMSUF6A3GT55JUDUYRVM3GPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74ATQQR3SSB3W7PYTNKJSVJNM22BT5ZBHWOA3SIBL3RTGUFHMW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRHMV75AGAZQWML6GGZJEAIC3K3A7ZZIM5TXNFXXRSQPHQK633JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSVT5BQT3OMM4FSKS3YLD24M3IUNXLAJR6ZTNVBY4LUXM6AVU6NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZFCGYVVUJ4ZVQQEGVQ3HHNGITCGF7NWDKWE4RSWN6YFZ42LP7PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBTR7GQHQRIIRECMSCDQURJFXTVABQHCFVBGYSG7LKXVALQ3M2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYL2ZZJZFDJCGWBSS2C5WNTAZF7OMNLA5HM4RSQJWPFYUETURY2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RH6DSTG5E5IDP37UT2NYBTCNJMMEIGH4TECU4CRFMTRT3GBW3VOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25GEEZIFXZWAHQYLZ37WYSWENUBBMTVAGU2TRDZ7BY5EHS4D4GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR6APVJFR6JVINB2LS2MRZ7TP6XNM6Q3OONXFPLABM757MPIDXOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKSHDE6IQ27H6BVS7I2IOP24Z7TYPNR3F3GCXGIFNENX47JYTYNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VSF2IDTIETS7JLRHUEKQ3MB6VPWIUN7XZ6LI6IUTFMZPBYQDFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MWR2N6KW34EQL2L2GTZSUKXQ3GL27YZ7O6XV4JMWZUVESXX6FNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOTU7EU5OKAOF5YZL3U4ENK7LVI7HX46Q2ZL35OMY3H6QI2GDDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js"
            ]
        },
        "CreateKxChangeset": {
            "http": {
                "requestUri": "/kx/environments/{environmentId}/databases/{databaseName}/changesets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "databaseName",
                    "changeRequests",
                    "clientToken"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "databaseName": {
                        "location": "uri",
                        "locationName": "databaseName"
                    },
                    "changeRequests": {
                        "shape": "S1c"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "changesetId": {},
                    "databaseName": {},
                    "environmentId": {},
                    "changeRequests": {
                        "shape": "S1c"
                    },
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "errorInfo": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateKxCluster": {
            "http": {
                "requestUri": "/kx/environments/{environmentId}/clusters"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "environmentId",
                    "clusterName",
                    "clusterType",
                    "capacityConfiguration",
                    "kxVersion"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "clusterName": {},
                    "clusterType": {},
                    "port": {
                        "type": "integer"
                    },
                    "databases": {
                        "shape": "S1t"
                    },
                    "cacheStorageConfigurations": {
                        "shape": "S1z"
                    },
                    "clusterDescription": {},
                    "capacityConfiguration": {
                        "shape": "S23"
                    },
                    "kxVersion": {},
                    "vpcConfiguration": {
                        "shape": "S27"
                    },
                    "initializationScript": {},
                    "commandLineArguments": {
                        "shape": "S2f"
                    },
                    "code": {
                        "shape": "S2j"
                    },
                    "executionRole": {},
                    "savedownStorageConfiguration": {
                        "shape": "S2o"
                    },
                    "azMode": {},
                    "availableZone": {},
                    "tags": {
                        "shape": "Sr"
                    },
                    "autoScalingConfiguration": {
                        "shape": "S1j"
                    },
                    "releaseLabel": {},
                    "availabilityZoneId": {},
                    "tickerplantLogConfiguration": {
                        "type": "structure",
                        "members": {
                            "tickerplantLogVolumes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "scalingGroupConfiguration": {
                        "shape": "S36"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {},
                    "status": {},
                    "statusReason": {},
                    "clusterName": {},
                    "clusterType": {},
                    "port": {
                        "type": "integer"
                    },
                    "databases": {
                        "shape": "S1t"
                    },
                    "cacheStorageConfigurations": {
                        "shape": "S1z"
                    },
                    "clusterDescription": {},
                    "capacityConfiguration": {
                        "shape": "S23"
                    },
                    "kxVersion": {},
                    "vpcConfiguration": {
                        "shape": "S27"
                    },
                    "initializationScript": {},
                    "commandLineArguments": {
                        "shape": "S2f"
                    },
                    "code": {
                        "shape": "S2j"
                    },
                    "executionRole": {},
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    },
                    "savedownStorageConfiguration": {
                        "shape": "S2o"
                    },
                    "createdTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateKxDatabase": {
            "http": {
                "requestUri": "/kx/environments/{environmentId}/databases"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "databaseName",
                    "clientToken"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "databaseName": {},
                    "description": {},
                    "tags": {
                        "shape": "Sr"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "databaseName": {},
                    "databaseArn": {},
                    "environmentId": {},
                    "description": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateKxEnvironment": {
            "http": {
                "requestUri": "/kx/environments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "kmsKeyId"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "kmsKeyId": {},
                    "tags": {
                        "shape": "Sr"
                    },
                    "clientToken": {},
                    "maintenanceConfiguration": {
                        "shape": "S3r"
                    },
                    "licenseType": {},
                    "acceptEula": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "status": {},
                    "environmentId": {},
                    "description": {},
                    "environmentArn": {},
                    "kmsKeyId": {},
                    "creationTimestamp": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateKxUser": {
            "http": {
                "requestUri": "/kx/environments/{environmentId}/users"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userName",
                    "iamRole"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "userName": {},
                    "iamRole": {},
                    "tags": {
                        "shape": "Sr"
                    },
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userName": {},
                    "userArn": {},
                    "environmentId": {},
                    "iamRole": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateUser": {
            "http": {
                "requestUri": "/user"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "emailAddress",
                    "firstName",
                    "lastName",
                    "roleType"
                ],
                "members": {
                    "environmentId": {
                        "location": "querystring",
                        "locationName": "environmentId"
                    },
                    "emailAddress": {
                        "shape": "S14"
                    },
                    "firstName": {},
                    "lastName": {},
                    "roleType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userId": {},
                    "userArn": {},
                    "temporaryPassword": {
                        "shape": "S3d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6XK53QVJD5ZGAH57JZYA5UMP76UBMSUF6A3GT55JUDUYRVM3GPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74ATQQR3SSB3W7PYTNKJSVJNM22BT5ZBHWOA3SIBL3RTGUFHMW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRHMV75AGAZQWML6GGZJEAIC3K3A7ZZIM5TXNFXXRSQPHQK633JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSVT5BQT3OMM4FSKS3YLD24M3IUNXLAJR6ZTNVBY4LUXM6AVU6NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZFCGYVVUJ4ZVQQEGVQ3HHNGITCGF7NWDKWE4RSWN6YFZ42LP7PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBTR7GQHQRIIRECMSCDQURJFXTVABQHCFVBGYSG7LKXVALQ3M2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYL2ZZJZFDJCGWBSS2C5WNTAZF7OMNLA5HM4RSQJWPFYUETURY2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RH6DSTG5E5IDP37UT2NYBTCNJMMEIGH4TECU4CRFMTRT3GBW3VOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25GEEZIFXZWAHQYLZ37WYSWENUBBMTVAGU2TRDZ7BY5EHS4D4GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR6APVJFR6JVINB2LS2MRZ7TP6XNM6Q3OONXFPLABM757MPIDXOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKSHDE6IQ27H6BVS7I2IOP24Z7TYPNR3F3GCXGIFNENX47JYTYNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VSF2IDTIETS7JLRHUEKQ3MB6VPWIUN7XZ6LI6IUTFMZPBYQDFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MWR2N6KW34EQL2L2GTZSUKXQ3GL27YZ7O6XV4JMWZUVESXX6FNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOTU7EU5OKAOF5YZL3U4ENK7LVI7HX46Q2ZL35OMY3H6QI2GDDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js"
            ]
        },
        "DeleteDataConnector": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environment/{environmentId}/dataconnector/{dataConnectorId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataConnectorId",
                    "environmentId"
                ],
                "members": {
                    "dataConnectorId": {
                        "location": "uri",
                        "locationName": "dataConnectorId"
                    },
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataConnector": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6XK53QVJD5ZGAH57JZYA5UMP76UBMSUF6A3GT55JUDUYRVM3GPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74ATQQR3SSB3W7PYTNKJSVJNM22BT5ZBHWOA3SIBL3RTGUFHMW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRHMV75AGAZQWML6GGZJEAIC3K3A7ZZIM5TXNFXXRSQPHQK633JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSVT5BQT3OMM4FSKS3YLD24M3IUNXLAJR6ZTNVBY4LUXM6AVU6NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZFCGYVVUJ4ZVQQEGVQ3HHNGITCGF7NWDKWE4RSWN6YFZ42LP7PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBTR7GQHQRIIRECMSCDQURJFXTVABQHCFVBGYSG7LKXVALQ3M2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYL2ZZJZFDJCGWBSS2C5WNTAZF7OMNLA5HM4RSQJWPFYUETURY2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RH6DSTG5E5IDP37UT2NYBTCNJMMEIGH4TECU4CRFMTRT3GBW3VOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25GEEZIFXZWAHQYLZ37WYSWENUBBMTVAGU2TRDZ7BY5EHS4D4GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR6APVJFR6JVINB2LS2MRZ7TP6XNM6Q3OONXFPLABM757MPIDXOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKSHDE6IQ27H6BVS7I2IOP24Z7TYPNR3F3GCXGIFNENX47JYTYNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VSF2IDTIETS7JLRHUEKQ3MB6VPWIUN7XZ6LI6IUTFMZPBYQDFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MWR2N6KW34EQL2L2GTZSUKXQ3GL27YZ7O6XV4JMWZUVESXX6FNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOTU7EU5OKAOF5YZL3U4ENK7LVI7HX46Q2ZL35OMY3H6QI2GDDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js"
            ]
        },
        "DeleteKxCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/kx/environments/{environmentId}/clusters/{clusterName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "clusterName"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "clusterName": {
                        "location": "uri",
                        "locationName": "clusterName"
                    },
                    "clientToken": {
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteKxDatabase": {
            "http": {
                "method": "DELETE",
                "requestUri": "/kx/environments/{environmentId}/databases/{databaseName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "databaseName",
                    "clientToken"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "databaseName": {
                        "location": "uri",
                        "locationName": "databaseName"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteKxEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/kx/environments/{environmentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteKxUser": {
            "http": {
                "method": "DELETE",
                "requestUri": "/kx/environments/{environmentId}/users/{userName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "userName",
                    "environmentId"
                ],
                "members": {
                    "userName": {
                        "location": "uri",
                        "locationName": "userName"
                    },
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetDataConnector": {
            "http": {
                "method": "GET",
                "requestUri": "/environment/{environmentId}/dataconnector/{dataConnectorId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataConnectorId",
                    "environmentId"
                ],
                "members": {
                    "dataConnectorId": {
                        "location": "uri",
                        "locationName": "dataConnectorId"
                    },
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataConnector": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6XK53QVJD5ZGAH57JZYA5UMP76UBMSUF6A3GT55JUDUYRVM3GPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74ATQQR3SSB3W7PYTNKJSVJNM22BT5ZBHWOA3SIBL3RTGUFHMW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRHMV75AGAZQWML6GGZJEAIC3K3A7ZZIM5TXNFXXRSQPHQK633JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSVT5BQT3OMM4FSKS3YLD24M3IUNXLAJR6ZTNVBY4LUXM6AVU6NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZFCGYVVUJ4ZVQQEGVQ3HHNGITCGF7NWDKWE4RSWN6YFZ42LP7PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBTR7GQHQRIIRECMSCDQURJFXTVABQHCFVBGYSG7LKXVALQ3M2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYL2ZZJZFDJCGWBSS2C5WNTAZF7OMNLA5HM4RSQJWPFYUETURY2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RH6DSTG5E5IDP37UT2NYBTCNJMMEIGH4TECU4CRFMTRT3GBW3VOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25GEEZIFXZWAHQYLZ37WYSWENUBBMTVAGU2TRDZ7BY5EHS4D4GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR6APVJFR6JVINB2LS2MRZ7TP6XNM6Q3OONXFPLABM757MPIDXOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKSHDE6IQ27H6BVS7I2IOP24Z7TYPNR3F3GCXGIFNENX47JYTYNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VSF2IDTIETS7JLRHUEKQ3MB6VPWIUN7XZ6LI6IUTFMZPBYQDFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MWR2N6KW34EQL2L2GTZSUKXQ3GL27YZ7O6XV4JMWZUVESXX6FNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOTU7EU5OKAOF5YZL3U4ENK7LVI7HX46Q2ZL35OMY3H6QI2GDDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js"
            ]
        },
        "GetDataProvider": {
            "http": {
                "method": "GET",
                "requestUri": "/dataprovider/{dataProviderId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataProviderId"
                ],
                "members": {
                    "dataProviderId": {
                        "location": "uri",
                        "locationName": "dataProviderId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataProvider": {
                        "shape": "S3u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6XK53QVJD5ZGAH57JZYA5UMP76UBMSUF6A3GT55JUDUYRVM3GPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74ATQQR3SSB3W7PYTNKJSVJNM22BT5ZBHWOA3SIBL3RTGUFHMW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRHMV75AGAZQWML6GGZJEAIC3K3A7ZZIM5TXNFXXRSQPHQK633JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSVT5BQT3OMM4FSKS3YLD24M3IUNXLAJR6ZTNVBY4LUXM6AVU6NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZFCGYVVUJ4ZVQQEGVQ3HHNGITCGF7NWDKWE4RSWN6YFZ42LP7PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBTR7GQHQRIIRECMSCDQURJFXTVABQHCFVBGYSG7LKXVALQ3M2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYL2ZZJZFDJCGWBSS2C5WNTAZF7OMNLA5HM4RSQJWPFYUETURY2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RH6DSTG5E5IDP37UT2NYBTCNJMMEIGH4TECU4CRFMTRT3GBW3VOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25GEEZIFXZWAHQYLZ37WYSWENUBBMTVAGU2TRDZ7BY5EHS4D4GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR6APVJFR6JVINB2LS2MRZ7TP6XNM6Q3OONXFPLABM757MPIDXOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKSHDE6IQ27H6BVS7I2IOP24Z7TYPNR3F3GCXGIFNENX47JYTYNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VSF2IDTIETS7JLRHUEKQ3MB6VPWIUN7XZ6LI6IUTFMZPBYQDFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MWR2N6KW34EQL2L2GTZSUKXQ3GL27YZ7O6XV4JMWZUVESXX6FNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOTU7EU5OKAOF5YZL3U4ENK7LVI7HX46Q2ZL35OMY3H6QI2GDDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3HYQIH2CV6WHK6JWIDPFTU4MX53W4KWYM6FQWJEWK2CUCWB67KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5ABF2OKRF7TN3WKYN5XHPK6BG3ZBJXILJQ33FMSJGJDNOEPLITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUG76TFHPLWZOQMQ7XQTX3A6USMJKCJS4OIN4FSINUJGNOZZMG5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44WAWTLRWO2Q7WPOM6RLTABUB2L6SH5IQUCCQK7XI72IVSWNDDZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js"
            ]
        },
        "GetKxChangeset": {
            "http": {
                "method": "GET",
                "requestUri": "/kx/environments/{environmentId}/databases/{databaseName}/changesets/{changesetId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "databaseName",
                    "changesetId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "databaseName": {
                        "location": "uri",
                        "locationName": "databaseName"
                    },
                    "changesetId": {
                        "location": "uri",
                        "locationName": "changesetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "changesetId": {},
                    "databaseName": {},
                    "environmentId": {},
                    "changeRequests": {
                        "shape": "S1c"
                    },
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "activeFromTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "errorInfo": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
[...]
