{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-03-12",
        "endpointPrefix": "finspace",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "finspace",
        "serviceFullName": "FinSpace User Environment Management service",
        "serviceId": "finspace",
        "signatureVersion": "v4",
        "signingName": "finspace",
        "uid": "finspace-2021-03-12",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateEnvironment": {
            "http": {
                "requestUri": "/environment"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "kmsKeyId": {},
                    "tags": {
                        "shape": "S5"
                    },
                    "federationMode": {},
                    "federationParameters": {
                        "shape": "S9"
                    },
                    "superuserParameters": {
                        "type": "structure",
                        "required": [
                            "emailAddress",
                            "firstName",
                            "lastName"
                        ],
                        "members": {
                            "emailAddress": {
                                "type": "string",
                                "sensitive": true
                            },
                            "firstName": {},
                            "lastName": {}
                        }
                    },
                    "dataBundles": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {},
                    "environmentArn": {},
                    "environmentUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environment/{environmentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environment/{environmentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environment": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListEnvironments": {
            "http": {
                "method": "GET",
                "requestUri": "/environment"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environments": {
                        "type": "list",
                        "member": {
                            "shape": "Ss"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateEnvironment": {
            "http": {
                "method": "PUT",
                "requestUri": "/environment/{environmentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "name": {},
                    "description": {},
                    "federationMode": {},
                    "federationParameters": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environment": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDataConnector": {
            "http": {
                "requestUri": "/environment/{environmentId}/dataconnector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataConnectorName",
                    "dataProviderId",
                    "environmentId"
                ],
                "members": {
                    "clientToken": {},
                    "dataConnectorCredentialProfile": {
                        "shape": "S3"
                    },
                    "dataConnectorName": {},
                    "dataProviderId": {},
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataConnectorUserId": {},
                    "dataConnectorRunFrequency": {},
                    "connectorAttributes": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataConnector": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCMG4A5SEL3WOLW75DRUMTFDO6ATCL5P2KVLO7WGHOPN5CJD7LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCC3JS3AHWBW2CS4HQNQZVFF4UF7VDJKQAA3X6JJBR2MCDDSJA6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ7APC4XCAA3XRKG4HKMU4UJZ2DMY553ZLM6ZGMS475PEB4TGWRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB3OMMTUQVLQ3GUFEK3DTJUABXLTKKIJLJLVAU6M2PV7IVAFAHLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB5KPVRWGXZ62WBRBPYASK6MGB76Y24TBBQO7IAFBFEXTBXRELTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEX4FQZBXEW4Q5GMQNRVO5JUENY2KBIFXZ6ZFTVDXTIFIXAX3PZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6XK53QVJD5ZGAH57JZYA5UMP76UBMSUF6A3GT55JUDUYRVM3GPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74ATQQR3SSB3W7PYTNKJSVJNM22BT5ZBHWOA3SIBL3RTGUFHMW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRHMV75AGAZQWML6GGZJEAIC3K3A7ZZIM5TXNFXXRSQPHQK633JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSVT5BQT3OMM4FSKS3YLD24M3IUNXLAJR6ZTNVBY4LUXM6AVU6NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZFCGYVVUJ4ZVQQEGVQ3HHNGITCGF7NWDKWE4RSWN6YFZ42LP7PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBTR7GQHQRIIRECMSCDQURJFXTVABQHCFVBGYSG7LKXVALQ3M2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYL2ZZJZFDJCGWBSS2C5WNTAZF7OMNLA5HM4RSQJWPFYUETURY2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RH6DSTG5E5IDP37UT2NYBTCNJMMEIGH4TECU4CRFMTRT3GBW3VOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25GEEZIFXZWAHQYLZ37WYSWENUBBMTVAGU2TRDZ7BY5EHS4D4GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR6APVJFR6JVINB2LS2MRZ7TP6XNM6Q3OONXFPLABM757MPIDXOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKSHDE6IQ27H6BVS7I2IOP24Z7TYPNR3F3GCXGIFNENX47JYTYNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VSF2IDTIETS7JLRHUEKQ3MB6VPWIUN7XZ6LI6IUTFMZPBYQDFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MWR2N6KW34EQL2L2GTZSUKXQ3GL27YZ7O6XV4JMWZUVESXX6FNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOTU7EU5OKAOF5YZL3U4ENK7LVI7HX46Q2ZL35OMY3H6QI2GDDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "CreateKxChangeset": {
            "http": {
                "requestUri": "/kx/environments/{environmentId}/databases/{databaseName}/changesets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "databaseName",
                    "changeRequests",
                    "clientToken"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "databaseName": {
                        "location": "uri",
                        "locationName": "databaseName"
                    },
                    "changeRequests": {
                        "shape": "S1c"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "changesetId": {},
                    "databaseName": {},
                    "environmentId": {},
                    "changeRequests": {
                        "shape": "S1c"
                    },
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "errorInfo": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateKxCluster": {
            "http": {
                "requestUri": "/kx/environments/{environmentId}/clusters"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "environmentId",
                    "clusterName",
                    "clusterType",
                    "capacityConfiguration",
                    "kxVersion"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "clusterName": {},
                    "clusterType": {},
                    "port": {
                        "type": "integer"
                    },
                    "databases": {
                        "shape": "S1t"
                    },
                    "cacheStorageConfigurations": {
                        "shape": "S1z"
                    },
                    "clusterDescription": {},
                    "capacityConfiguration": {
                        "shape": "S23"
                    },
                    "kxVersion": {},
                    "vpcConfiguration": {
                        "shape": "S27"
                    },
                    "initializationScript": {},
                    "commandLineArguments": {
                        "shape": "S2f"
                    },
                    "code": {
                        "shape": "S2j"
                    },
                    "executionRole": {},
                    "savedownStorageConfiguration": {
                        "shape": "S2o"
                    },
                    "azMode": {},
                    "availableZone": {},
                    "tags": {
                        "shape": "Sr"
                    },
                    "autoScalingConfiguration": {
                        "shape": "S1j"
                    },
                    "releaseLabel": {},
                    "availabilityZoneId": {},
                    "tickerplantLogConfiguration": {
                        "type": "structure",
                        "members": {
                            "tickerplantLogVolumes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "scalingGroupConfiguration": {
                        "shape": "S36"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {},
                    "status": {},
                    "statusReason": {},
                    "clusterName": {},
                    "clusterType": {},
                    "port": {
                        "type": "integer"
                    },
                    "databases": {
                        "shape": "S1t"
                    },
                    "cacheStorageConfigurations": {
                        "shape": "S1z"
                    },
                    "clusterDescription": {},
                    "capacityConfiguration": {
                        "shape": "S23"
                    },
                    "kxVersion": {},
                    "vpcConfiguration": {
                        "shape": "S27"
                    },
                    "initializationScript": {},
                    "commandLineArguments": {
                        "shape": "S2f"
                    },
                    "code": {
                        "shape": "S2j"
                    },
                    "executionRole": {},
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    },
                    "savedownStorageConfiguration": {
                        "shape": "S2o"
                    },
                    "createdTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateKxDatabase": {
            "http": {
                "requestUri": "/kx/environments/{environmentId}/databases"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "databaseName",
                    "clientToken"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "databaseName": {},
                    "description": {},
                    "tags": {
                        "shape": "Sr"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "databaseName": {},
                    "databaseArn": {},
                    "environmentId": {},
                    "description": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateKxEnvironment": {
            "http": {
                "requestUri": "/kx/environments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "kmsKeyId"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "kmsKeyId": {},
                    "tags": {
                        "shape": "Sr"
                    },
                    "clientToken": {},
                    "maintenanceConfiguration": {
                        "shape": "S3r"
                    },
                    "licenseType": {},
                    "acceptEula": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "status": {},
                    "environmentId": {},
                    "description": {},
                    "environmentArn": {},
                    "kmsKeyId": {},
                    "creationTimestamp": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateKxUser": {
            "http": {
                "requestUri": "/kx/environments/{environmentId}/users"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userName",
                    "iamRole"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "userName": {},
                    "iamRole": {},
                    "tags": {
                        "shape": "Sr"
                    },
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userName": {},
                    "userArn": {},
                    "environmentId": {},
                    "iamRole": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateUser": {
            "http": {
                "requestUri": "/user"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "emailAddress",
                    "firstName",
                    "lastName",
                    "roleType"
                ],
                "members": {
                    "environmentId": {
                        "location": "querystring",
                        "locationName": "environmentId"
                    },
                    "emailAddress": {
                        "shape": "S14"
                    },
                    "firstName": {},
                    "lastName": {},
                    "roleType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userId": {},
                    "userArn": {},
                    "temporaryPassword": {
                        "shape": "S3d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCMG4A5SEL3WOLW75DRUMTFDO6ATCL5P2KVLO7WGHOPN5CJD7LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCC3JS3AHWBW2CS4HQNQZVFF4UF7VDJKQAA3X6JJBR2MCDDSJA6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ7APC4XCAA3XRKG4HKMU4UJZ2DMY553ZLM6ZGMS475PEB4TGWRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB3OMMTUQVLQ3GUFEK3DTJUABXLTKKIJLJLVAU6M2PV7IVAFAHLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB5KPVRWGXZ62WBRBPYASK6MGB76Y24TBBQO7IAFBFEXTBXRELTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEX4FQZBXEW4Q5GMQNRVO5JUENY2KBIFXZ6ZFTVDXTIFIXAX3PZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6XK53QVJD5ZGAH57JZYA5UMP76UBMSUF6A3GT55JUDUYRVM3GPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74ATQQR3SSB3W7PYTNKJSVJNM22BT5ZBHWOA3SIBL3RTGUFHMW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRHMV75AGAZQWML6GGZJEAIC3K3A7ZZIM5TXNFXXRSQPHQK633JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSVT5BQT3OMM4FSKS3YLD24M3IUNXLAJR6ZTNVBY4LUXM6AVU6NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZFCGYVVUJ4ZVQQEGVQ3HHNGITCGF7NWDKWE4RSWN6YFZ42LP7PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBTR7GQHQRIIRECMSCDQURJFXTVABQHCFVBGYSG7LKXVALQ3M2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYL2ZZJZFDJCGWBSS2C5WNTAZF7OMNLA5HM4RSQJWPFYUETURY2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RH6DSTG5E5IDP37UT2NYBTCNJMMEIGH4TECU4CRFMTRT3GBW3VOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25GEEZIFXZWAHQYLZ37WYSWENUBBMTVAGU2TRDZ7BY5EHS4D4GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR6APVJFR6JVINB2LS2MRZ7TP6XNM6Q3OONXFPLABM757MPIDXOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKSHDE6IQ27H6BVS7I2IOP24Z7TYPNR3F3GCXGIFNENX47JYTYNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VSF2IDTIETS7JLRHUEKQ3MB6VPWIUN7XZ6LI6IUTFMZPBYQDFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MWR2N6KW34EQL2L2GTZSUKXQ3GL27YZ7O6XV4JMWZUVESXX6FNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOTU7EU5OKAOF5YZL3U4ENK7LVI7HX46Q2ZL35OMY3H6QI2GDDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "DeleteDataConnector": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environment/{environmentId}/dataconnector/{dataConnectorId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataConnectorId",
                    "environmentId"
                ],
                "members": {
                    "dataConnectorId": {
                        "location": "uri",
                        "locationName": "dataConnectorId"
                    },
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataConnector": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCMG4A5SEL3WOLW75DRUMTFDO6ATCL5P2KVLO7WGHOPN5CJD7LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCC3JS3AHWBW2CS4HQNQZVFF4UF7VDJKQAA3X6JJBR2MCDDSJA6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ7APC4XCAA3XRKG4HKMU4UJZ2DMY553ZLM6ZGMS475PEB4TGWRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB3OMMTUQVLQ3GUFEK3DTJUABXLTKKIJLJLVAU6M2PV7IVAFAHLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB5KPVRWGXZ62WBRBPYASK6MGB76Y24TBBQO7IAFBFEXTBXRELTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEX4FQZBXEW4Q5GMQNRVO5JUENY2KBIFXZ6ZFTVDXTIFIXAX3PZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6XK53QVJD5ZGAH57JZYA5UMP76UBMSUF6A3GT55JUDUYRVM3GPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74ATQQR3SSB3W7PYTNKJSVJNM22BT5ZBHWOA3SIBL3RTGUFHMW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRHMV75AGAZQWML6GGZJEAIC3K3A7ZZIM5TXNFXXRSQPHQK633JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSVT5BQT3OMM4FSKS3YLD24M3IUNXLAJR6ZTNVBY4LUXM6AVU6NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZFCGYVVUJ4ZVQQEGVQ3HHNGITCGF7NWDKWE4RSWN6YFZ42LP7PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBTR7GQHQRIIRECMSCDQURJFXTVABQHCFVBGYSG7LKXVALQ3M2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYL2ZZJZFDJCGWBSS2C5WNTAZF7OMNLA5HM4RSQJWPFYUETURY2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RH6DSTG5E5IDP37UT2NYBTCNJMMEIGH4TECU4CRFMTRT3GBW3VOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25GEEZIFXZWAHQYLZ37WYSWENUBBMTVAGU2TRDZ7BY5EHS4D4GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR6APVJFR6JVINB2LS2MRZ7TP6XNM6Q3OONXFPLABM757MPIDXOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKSHDE6IQ27H6BVS7I2IOP24Z7TYPNR3F3GCXGIFNENX47JYTYNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VSF2IDTIETS7JLRHUEKQ3MB6VPWIUN7XZ6LI6IUTFMZPBYQDFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MWR2N6KW34EQL2L2GTZSUKXQ3GL27YZ7O6XV4JMWZUVESXX6FNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOTU7EU5OKAOF5YZL3U4ENK7LVI7HX46Q2ZL35OMY3H6QI2GDDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "DeleteKxCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/kx/environments/{environmentId}/clusters/{clusterName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "clusterName"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "clusterName": {
                        "location": "uri",
                        "locationName": "clusterName"
                    },
                    "clientToken": {
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteKxDatabase": {
            "http": {
                "method": "DELETE",
                "requestUri": "/kx/environments/{environmentId}/databases/{databaseName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "databaseName",
                    "clientToken"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "databaseName": {
                        "location": "uri",
                        "locationName": "databaseName"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteKxEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/kx/environments/{environmentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteKxUser": {
            "http": {
                "method": "DELETE",
                "requestUri": "/kx/environments/{environmentId}/users/{userName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "userName",
                    "environmentId"
                ],
                "members": {
                    "userName": {
                        "location": "uri",
                        "locationName": "userName"
                    },
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDataConnector": {
            "http": {
                "method": "GET",
                "requestUri": "/environment/{environmentId}/dataconnector/{dataConnectorId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataConnectorId",
                    "environmentId"
                ],
                "members": {
                    "dataConnectorId": {
                        "location": "uri",
                        "locationName": "dataConnectorId"
                    },
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataConnector": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCMG4A5SEL3WOLW75DRUMTFDO6ATCL5P2KVLO7WGHOPN5CJD7LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCC3JS3AHWBW2CS4HQNQZVFF4UF7VDJKQAA3X6JJBR2MCDDSJA6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ7APC4XCAA3XRKG4HKMU4UJZ2DMY553ZLM6ZGMS475PEB4TGWRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB3OMMTUQVLQ3GUFEK3DTJUABXLTKKIJLJLVAU6M2PV7IVAFAHLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB5KPVRWGXZ62WBRBPYASK6MGB76Y24TBBQO7IAFBFEXTBXRELTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEX4FQZBXEW4Q5GMQNRVO5JUENY2KBIFXZ6ZFTVDXTIFIXAX3PZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6XK53QVJD5ZGAH57JZYA5UMP76UBMSUF6A3GT55JUDUYRVM3GPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74ATQQR3SSB3W7PYTNKJSVJNM22BT5ZBHWOA3SIBL3RTGUFHMW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRHMV75AGAZQWML6GGZJEAIC3K3A7ZZIM5TXNFXXRSQPHQK633JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSVT5BQT3OMM4FSKS3YLD24M3IUNXLAJR6ZTNVBY4LUXM6AVU6NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZFCGYVVUJ4ZVQQEGVQ3HHNGITCGF7NWDKWE4RSWN6YFZ42LP7PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBTR7GQHQRIIRECMSCDQURJFXTVABQHCFVBGYSG7LKXVALQ3M2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYL2ZZJZFDJCGWBSS2C5WNTAZF7OMNLA5HM4RSQJWPFYUETURY2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RH6DSTG5E5IDP37UT2NYBTCNJMMEIGH4TECU4CRFMTRT3GBW3VOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25GEEZIFXZWAHQYLZ37WYSWENUBBMTVAGU2TRDZ7BY5EHS4D4GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR6APVJFR6JVINB2LS2MRZ7TP6XNM6Q3OONXFPLABM757MPIDXOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKSHDE6IQ27H6BVS7I2IOP24Z7TYPNR3F3GCXGIFNENX47JYTYNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VSF2IDTIETS7JLRHUEKQ3MB6VPWIUN7XZ6LI6IUTFMZPBYQDFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MWR2N6KW34EQL2L2GTZSUKXQ3GL27YZ7O6XV4JMWZUVESXX6FNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOTU7EU5OKAOF5YZL3U4ENK7LVI7HX46Q2ZL35OMY3H6QI2GDDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "GetDataProvider": {
            "http": {
                "method": "GET",
                "requestUri": "/dataprovider/{dataProviderId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataProviderId"
                ],
                "members": {
                    "dataProviderId": {
                        "location": "uri",
                        "locationName": "dataProviderId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataProvider": {
                        "shape": "S3u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCMG4A5SEL3WOLW75DRUMTFDO6ATCL5P2KVLO7WGHOPN5CJD7LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCC3JS3AHWBW2CS4HQNQZVFF4UF7VDJKQAA3X6JJBR2MCDDSJA6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ7APC4XCAA3XRKG4HKMU4UJZ2DMY553ZLM6ZGMS475PEB4TGWRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB3OMMTUQVLQ3GUFEK3DTJUABXLTKKIJLJLVAU6M2PV7IVAFAHLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB5KPVRWGXZ62WBRBPYASK6MGB76Y24TBBQO7IAFBFEXTBXRELTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEX4FQZBXEW4Q5GMQNRVO5JUENY2KBIFXZ6ZFTVDXTIFIXAX3PZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6XK53QVJD5ZGAH57JZYA5UMP76UBMSUF6A3GT55JUDUYRVM3GPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74ATQQR3SSB3W7PYTNKJSVJNM22BT5ZBHWOA3SIBL3RTGUFHMW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRHMV75AGAZQWML6GGZJEAIC3K3A7ZZIM5TXNFXXRSQPHQK633JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSVT5BQT3OMM4FSKS3YLD24M3IUNXLAJR6ZTNVBY4LUXM6AVU6NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZFCGYVVUJ4ZVQQEGVQ3HHNGITCGF7NWDKWE4RSWN6YFZ42LP7PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBTR7GQHQRIIRECMSCDQURJFXTVABQHCFVBGYSG7LKXVALQ3M2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYL2ZZJZFDJCGWBSS2C5WNTAZF7OMNLA5HM4RSQJWPFYUETURY2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RH6DSTG5E5IDP37UT2NYBTCNJMMEIGH4TECU4CRFMTRT3GBW3VOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25GEEZIFXZWAHQYLZ37WYSWENUBBMTVAGU2TRDZ7BY5EHS4D4GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR6APVJFR6JVINB2LS2MRZ7TP6XNM6Q3OONXFPLABM757MPIDXOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKSHDE6IQ27H6BVS7I2IOP24Z7TYPNR3F3GCXGIFNENX47JYTYNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VSF2IDTIETS7JLRHUEKQ3MB6VPWIUN7XZ6LI6IUTFMZPBYQDFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MWR2N6KW34EQL2L2GTZSUKXQ3GL27YZ7O6XV4JMWZUVESXX6FNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOTU7EU5OKAOF5YZL3U4ENK7LVI7HX46Q2ZL35OMY3H6QI2GDDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MC47CM7PUIAEQ7LSUOCZ43UTEHDQCEPVGBJCMX2R4MY645MKSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S375SYI7YTFWQ2IBQCIRKN3H3QQ4QRW4VT44OJKONZMIF75Q55ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "GetKxChangeset": {
            "http": {
                "method": "GET",
                "requestUri": "/kx/environments/{environmentId}/databases/{databaseName}/changesets/{changesetId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "databaseName",
                    "changesetId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "databaseName": {
                        "location": "uri",
                        "locationName": "databaseName"
                    },
                    "changesetId": {
                        "location": "uri",
                        "locationName": "changesetId"
                    }
                }
            },
            "output": {
[...]
