{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-08-04",
        "endpointPrefix": "firehose",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Firehose",
        "serviceFullName": "Amazon Kinesis Firehose",
        "serviceId": "Firehose",
        "signatureVersion": "v4",
        "targetPrefix": "Firehose_20150804",
        "uid": "firehose-2015-08-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
        ]
    },
    "operations": {
        "CreateDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "DeliveryStreamType": {},
                    "KinesisStreamSourceConfiguration": {
                        "type": "structure",
                        "required": [
                            "KinesisStreamARN",
                            "RoleARN"
                        ],
                        "members": {
                            "KinesisStreamARN": {},
                            "RoleARN": {}
                        }
                    },
                    "DeliveryStreamEncryptionConfigurationInput": {
                        "shape": "S7"
                    },
                    "S3DestinationConfiguration": {
                        "shape": "Sa",
                        "deprecated": true
                    },
                    "ExtendedS3DestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "BucketARN"
                        ],
                        "members": {
                            "RoleARN": {},
                            "BucketARN": {},
                            "Prefix": {},
                            "ErrorOutputPrefix": {},
                            "BufferingHints": {
                                "shape": "Se"
                            },
                            "CompressionFormat": {},
                            "EncryptionConfiguration": {
                                "shape": "Si"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupConfiguration": {
                                "shape": "Sa"
                            },
                            "DataFormatConversionConfiguration": {
                                "shape": "Sz"
                            }
                        }
                    },
                    "RedshiftDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "ClusterJDBCURL",
                            "CopyCommand",
                            "Username",
                            "Password",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "ClusterJDBCURL": {},
                            "CopyCommand": {
                                "shape": "S1q"
                            },
                            "Username": {
                                "shape": "S1u"
                            },
                            "Password": {
                                "shape": "S1v"
                            },
                            "RetryOptions": {
                                "shape": "S1w"
                            },
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupConfiguration": {
                                "shape": "Sa"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ElasticsearchDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "IndexName",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S25"
                            },
                            "RetryOptions": {
                                "shape": "S28"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "VpcConfiguration": {
                                "type": "structure",
                                "required": [
                                    "SubnetIds",
                                    "RoleARN",
                                    "SecurityGroupIds"
                                ],
                                "members": {
                                    "SubnetIds": {
                                        "shape": "S2c"
                                    },
                                    "RoleARN": {},
                                    "SecurityGroupIds": {
                                        "shape": "S2d"
                                    }
                                }
                            }
                        }
                    },
                    "SplunkDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "HECEndpoint",
                            "HECEndpointType",
                            "HECToken",
                            "S3Configuration"
                        ],
                        "members": {
                            "HECEndpoint": {},
                            "HECEndpointType": {},
                            "HECToken": {},
                            "HECAcknowledgmentTimeoutInSeconds": {
                                "type": "integer"
                            },
                            "RetryOptions": {
                                "shape": "S2j"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "HttpEndpointDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "EndpointConfiguration",
                            "S3Configuration"
                        ],
                        "members": {
                            "EndpointConfiguration": {
                                "shape": "S2n"
                            },
                            "BufferingHints": {
                                "shape": "S2r"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "RequestConfiguration": {
                                "shape": "S2u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S30"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S33"
                    },
                    "AmazonopensearchserviceDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "IndexName",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S2n"
                            },
                            "RetryOptions": {
                                "shape": "S2q"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "VpcConfiguration": {
                                "shape": "S2e"
                            }
                        }
                    },
                    "AmazonOpenSearchServerlessDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "IndexName",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "CollectionEndpoint": {},
                            "IndexName": {},
                            "BufferingHints": {
                                "shape": "S3p"
                            },
                            "RetryOptions": {
                                "shape": "S3s"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "VpcConfiguration": {
                                "shape": "S2e"
                            }
                        }
                    },
                    "MSKSourceConfiguration": {
                        "type": "structure",
                        "required": [
                            "MSKClusterARN",
                            "TopicName",
                            "AuthenticationConfiguration"
                        ],
                        "members": {
                            "MSKClusterARN": {},
                            "TopicName": {},
                            "AuthenticationConfiguration": {
                                "shape": "S4b"
                            }
                        }
                    },
                    "SnowflakeDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "AccountUrl",
                            "PrivateKey",
                            "User",
                            "Database",
                            "Schema",
                            "Table",
                            "RoleARN",
                            "S3Configuration"
                        ],
                        "members": {
                            "AccountUrl": {
                                "shape": "S46"
                            },
                            "PrivateKey": {
                                "shape": "S47"
                            },
                            "KeyPassphrase": {
                                "shape": "S48"
                            },
                            "User": {
                                "shape": "S49"
                            },
                            "Database": {
                                "shape": "S4a"
                            },
                            "Schema": {
                                "shape": "S4b"
                            },
                            "Table": {
                                "shape": "S4c"
                            },
                            "SnowflakeRoleConfiguration": {
                                "shape": "S4d"
                            },
                            "DataLoadingOption": {},
                            "MetaDataColumnName": {
                                "shape": "S4g"
                            },
                            "ContentColumnName": {
                                "shape": "S4h"
                            },
                            "SnowflakeVpcConfiguration": {
                                "shape": "S4i"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S4k"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            }
                        }
                    },
                    "IcebergDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "CatalogConfiguration",
                            "S3Configuration"
                        ],
                        "members": {
                            "DestinationTableConfigurationList": {
                                "shape": "S4w"
                            },
                            "BufferingHints": {
                                "shape": "Se"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "RetryOptions": {
                                "shape": "S1p"
                            },
                            "RoleARN": {},
                            "CatalogConfiguration": {
                                "shape": "S4z"
                            },
                            "S3Configuration": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeliveryStreamARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "AllowForceDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "ExclusiveStartDestinationId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeliveryStreamDescription"
                ],
                "members": {
                    "DeliveryStreamDescription": {
                        "type": "structure",
                        "required": [
                            "DeliveryStreamName",
                            "DeliveryStreamARN",
                            "DeliveryStreamStatus",
                            "DeliveryStreamType",
                            "VersionId",
                            "Destinations",
                            "HasMoreDestinations"
                        ],
                        "members": {
                            "DeliveryStreamName": {},
                            "DeliveryStreamARN": {},
                            "DeliveryStreamStatus": {},
                            "FailureDescription": {
                                "shape": "S3h"
                            },
                            "DeliveryStreamEncryptionConfiguration": {
                                "type": "structure",
                                "members": {
                                    "KeyARN": {},
                                    "KeyType": {},
                                    "Status": {},
                                    "FailureDescription": {
                                        "shape": "S3h"
                                    }
                                }
                            },
                            "DeliveryStreamType": {},
                            "VersionId": {},
                            "CreateTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdateTimestamp": {
                                "type": "timestamp"
                            },
                            "Source": {
                                "type": "structure",
                                "members": {
                                    "KinesisStreamSourceDescription": {
                                        "type": "structure",
                                        "members": {
                                            "KinesisStreamARN": {},
                                            "RoleARN": {},
                                            "DeliveryStartTimestamp": {
                                                "type": "timestamp"
                                            }
                                        }
                                    }
                                }
                            },
                            "Destinations": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "DestinationId"
                                    ],
                                    "members": {
                                        "DestinationId": {},
                                        "S3DestinationDescription": {
                                            "shape": "S3s"
                                        },
                                        "ExtendedS3DestinationDescription": {
                                            "type": "structure",
                                            "required": [
                                                "RoleARN",
                                                "BucketARN",
                                                "BufferingHints",
                                                "CompressionFormat",
                                                "EncryptionConfiguration"
                                            ],
                                            "members": {
                                                "RoleARN": {},
                                                "BucketARN": {},
                                                "Prefix": {},
                                                "ErrorOutputPrefix": {},
                                                "BufferingHints": {
                                                    "shape": "Se"
                                                },
                                                "CompressionFormat": {},
                                                "EncryptionConfiguration": {
                                                    "shape": "Si"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "S3BackupMode": {},
                                                "S3BackupDescription": {
                                                    "shape": "S3s"
                                                },
                                                "DataFormatConversionConfiguration": {
                                                    "shape": "Sz"
                                                }
                                            }
                                        },
                                        "RedshiftDestinationDescription": {
                                            "type": "structure",
                                            "required": [
                                                "RoleARN",
                                                "ClusterJDBCURL",
                                                "CopyCommand",
                                                "Username",
                                                "S3DestinationDescription"
                                            ],
                                            "members": {
                                                "RoleARN": {},
                                                "ClusterJDBCURL": {},
                                                "CopyCommand": {
                                                    "shape": "S1q"
                                                },
                                                "Username": {
                                                    "shape": "S1u"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S1w"
                                                },
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "S3BackupMode": {},
                                                "S3BackupDescription": {
                                                    "shape": "S3s"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                }
                                            }
                                        },
                                        "ElasticsearchDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "RoleARN": {},
                                                "DomainARN": {},
                                                "ClusterEndpoint": {},
                                                "IndexName": {},
                                                "TypeName": {},
                                                "IndexRotationPeriod": {},
                                                "BufferingHints": {
                                                    "shape": "S25"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S28"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "VpcConfigurationDescription": {
                                                    "type": "structure",
                                                    "required": [
                                                        "SubnetIds",
                                                        "RoleARN",
                                                        "SecurityGroupIds",
                                                        "VpcId"
                                                    ],
                                                    "members": {
                                                        "SubnetIds": {
                                                            "shape": "S2c"
                                                        },
                                                        "RoleARN": {},
                                                        "SecurityGroupIds": {
                                                            "shape": "S2d"
                                                        },
                                                        "VpcId": {}
                                                    }
                                                }
                                            }
                                        },
                                        "SplunkDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "HECEndpoint": {},
                                                "HECEndpointType": {},
                                                "HECToken": {},
                                                "HECAcknowledgmentTimeoutInSeconds": {
                                                    "type": "integer"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S2j"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                }
                                            }
                                        },
                                        "HttpEndpointDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "EndpointConfiguration": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Url": {
                                                            "shape": "S2o"
                                                        },
                                                        "Name": {}
                                                    }
                                                },
                                                "BufferingHints": {
                                                    "shape": "S2r"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "RequestConfiguration": {
                                                    "shape": "S2u"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "RoleARN": {},
                                                "RetryOptions": {
                                                    "shape": "S30"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "HasMoreDestinations": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListDeliveryStreams": {
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "type": "integer"
                    },
                    "DeliveryStreamType": {},
                    "ExclusiveStartDeliveryStreamName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeliveryStreamNames",
                    "HasMoreDeliveryStreams"
                ],
                "members": {
                    "DeliveryStreamNames": {
                        "type": "list",
                        "member": {}
                    },
                    "HasMoreDeliveryStreams": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListTagsForDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "ExclusiveStartTagKey": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags",
                    "HasMoreTags"
                ],
                "members": {
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S34"
                        }
                    },
                    "HasMoreTags": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "PutRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Record"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Record": {
                        "shape": "S49"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RecordId"
                ],
                "members": {
                    "RecordId": {},
                    "Encrypted": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "PutRecordBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Records"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Records": {
                        "type": "list",
                        "member": {
                            "shape": "S49"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedPutCount",
                    "RequestResponses"
                ],
                "members": {
                    "FailedPutCount": {
                        "type": "integer"
                    },
                    "Encrypted": {
                        "type": "boolean"
                    },
                    "RequestResponses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecordId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "StartDeliveryStreamEncryption": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "DeliveryStreamEncryptionConfigurationInput": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "StopDeliveryStreamEncryption": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "TagDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Tags"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Tags": {
                        "shape": "S33"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "UntagDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "TagKeys"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "UpdateDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "CurrentDeliveryStreamVersionId",
                    "DestinationId"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "CurrentDeliveryStreamVersionId": {},
                    "DestinationId": {},
                    "S3DestinationUpdate": {
                        "shape": "S4u",
                        "deprecated": true
                    },
                    "ExtendedS3DestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "BucketARN": {},
                            "Prefix": {},
                            "ErrorOutputPrefix": {},
                            "BufferingHints": {
                                "shape": "Se"
                            },
                            "CompressionFormat": {},
                            "EncryptionConfiguration": {
                                "shape": "Si"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupUpdate": {
                                "shape": "S4u"
                            },
                            "DataFormatConversionConfiguration": {
                                "shape": "Sz"
                            }
                        }
                    },
                    "RedshiftDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "ClusterJDBCURL": {},
                            "CopyCommand": {
                                "shape": "S1q"
                            },
                            "Username": {
                                "shape": "S1u"
                            },
                            "Password": {
                                "shape": "S1v"
                            },
                            "RetryOptions": {
                                "shape": "S1w"
                            },
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupUpdate": {
                                "shape": "S4u"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ElasticsearchDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S25"
                            },
                            "RetryOptions": {
                                "shape": "S28"
                            },
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "SplunkDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "HECEndpoint": {},
                            "HECEndpointType": {},
                            "HECToken": {},
                            "HECAcknowledgmentTimeoutInSeconds": {
                                "type": "integer"
                            },
                            "RetryOptions": {
                                "shape": "S2j"
                            },
                            "S3BackupMode": {},
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "HttpEndpointDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "EndpointConfiguration": {
                                "shape": "S2n"
                            },
                            "BufferingHints": {
                                "shape": "S2r"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "RequestConfiguration": {
                                "shape": "S2u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S30"
                            },
                            "S3BackupMode": {},
                            "S3Update": {
                                "shape": "S4u"
                            }
                        }
                    },
                    "AmazonopensearchserviceDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S2n"
                            },
                            "RetryOptions": {
                                "shape": "S2q"
                            },
                            "S3Update": {
                                "shape": "S5k"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "AmazonOpenSearchServerlessDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "CollectionEndpoint": {},
                            "IndexName": {},
                            "BufferingHints": {
                                "shape": "S3p"
                            },
                            "RetryOptions": {
                                "shape": "S3s"
                            },
                            "S3Update": {
                                "shape": "S5k"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "SnowflakeDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "AccountUrl": {
                                "shape": "S46"
                            },
                            "PrivateKey": {
                                "shape": "S47"
                            },
                            "KeyPassphrase": {
                                "shape": "S48"
                            },
                            "User": {
                                "shape": "S49"
                            },
                            "Database": {
                                "shape": "S4a"
                            },
                            "Schema": {
                                "shape": "S4b"
                            },
                            "Table": {
                                "shape": "S4c"
                            },
                            "SnowflakeRoleConfiguration": {
                                "shape": "S4d"
                            },
                            "DataLoadingOption": {},
                            "MetaDataColumnName": {
                                "shape": "S4g"
                            },
                            "ContentColumnName": {
                                "shape": "S4h"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S4k"
                            },
                            "S3BackupMode": {},
                            "S3Update": {
                                "shape": "S6e"
                            }
                        }
                    },
                    "IcebergDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "DestinationTableConfigurationList": {
                                "shape": "S4w"
                            },
                            "BufferingHints": {
                                "shape": "Se"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "RetryOptions": {
                                "shape": "S1p"
                            },
                            "RoleARN": {},
                            "CatalogConfiguration": {
                                "shape": "S4z"
                            },
                            "S3Configuration": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "GetKinesisStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamARN"
                ],
                "members": {
                    "DeliveryStreamARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KinesisStreamARN": {},
                    "CredentialsForReadingKinesisStream": {
                        "type": "structure",
                        "required": [
                            "AccessKeyId",
                            "SecretAccessKey",
                            "SessionToken",
                            "Expiration"
                        ],
                        "members": {
                            "AccessKeyId": {
                                "type": "string",
                                "sensitive": true
                            },
                            "SecretAccessKey": {
                                "type": "string",
                                "sensitive": true
                            },
                            "SessionToken": {
                                "type": "string",
                                "sensitive": true
                            },
                            "Expiration": {
                                "type": "timestamp"
                            }
                        },
                        "sensitive": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U7NPJ6ICIOSPO2IMTJ5W3PGL6QZZ2VGGDQEX2WKCR3CQ6A4VQSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U7NPJ6ICIOSPO2IMTJ5W3PGL6QZZ2VGGDQEX2WKCR3CQ6A4VQSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "required": [
                "KeyType"
            ],
            "members": {
                "KeyARN": {},
                "KeyType": {}
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "RoleARN",
                "BucketARN"
            ],
            "members": {
                "RoleARN": {},
                "BucketARN": {},
                "Prefix": {},
                "ErrorOutputPrefix": {},
                "BufferingHints": {
                    "shape": "Se"
                },
                "CompressionFormat": {},
                "EncryptionConfiguration": {
                    "shape": "Si"
                },
                "CloudWatchLoggingOptions": {
                    "shape": "Sl"
                }
            }
        },
        "Se": {
            "type": "structure",
            "members": {
                "SizeInMBs": {
                    "type": "integer"
                },
                "IntervalInSeconds": {
                    "type": "integer"
                }
            }
        },
        "Si": {
            "type": "structure",
            "members": {
                "NoEncryptionConfig": {},
[...]
