{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-08-04",
        "endpointPrefix": "firehose",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Firehose",
        "serviceFullName": "Amazon Kinesis Firehose",
        "serviceId": "Firehose",
        "signatureVersion": "v4",
        "targetPrefix": "Firehose_20150804",
        "uid": "firehose-2015-08-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
        ]
    },
    "operations": {
        "CreateDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "DeliveryStreamType": {},
                    "KinesisStreamSourceConfiguration": {
                        "type": "structure",
                        "required": [
                            "KinesisStreamARN",
                            "RoleARN"
                        ],
                        "members": {
                            "KinesisStreamARN": {},
                            "RoleARN": {}
                        }
                    },
                    "DeliveryStreamEncryptionConfigurationInput": {
                        "shape": "S7"
                    },
                    "S3DestinationConfiguration": {
                        "shape": "Sa",
                        "deprecated": true
                    },
                    "ExtendedS3DestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "BucketARN"
                        ],
                        "members": {
                            "RoleARN": {},
                            "BucketARN": {},
                            "Prefix": {},
                            "ErrorOutputPrefix": {},
                            "BufferingHints": {
                                "shape": "Se"
                            },
                            "CompressionFormat": {},
                            "EncryptionConfiguration": {
                                "shape": "Si"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupConfiguration": {
                                "shape": "Sa"
                            },
                            "DataFormatConversionConfiguration": {
                                "shape": "Sz"
                            }
                        }
                    },
                    "RedshiftDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "ClusterJDBCURL",
                            "CopyCommand",
                            "Username",
                            "Password",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "ClusterJDBCURL": {},
                            "CopyCommand": {
                                "shape": "S1q"
                            },
                            "Username": {
                                "shape": "S1u"
                            },
                            "Password": {
                                "shape": "S1v"
                            },
                            "RetryOptions": {
                                "shape": "S1w"
                            },
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupConfiguration": {
                                "shape": "Sa"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ElasticsearchDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "IndexName",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S25"
                            },
                            "RetryOptions": {
                                "shape": "S28"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "VpcConfiguration": {
                                "type": "structure",
                                "required": [
                                    "SubnetIds",
                                    "RoleARN",
                                    "SecurityGroupIds"
                                ],
                                "members": {
                                    "SubnetIds": {
                                        "shape": "S2c"
                                    },
                                    "RoleARN": {},
                                    "SecurityGroupIds": {
                                        "shape": "S2d"
                                    }
                                }
                            }
                        }
                    },
                    "SplunkDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "HECEndpoint",
                            "HECEndpointType",
                            "HECToken",
                            "S3Configuration"
                        ],
                        "members": {
                            "HECEndpoint": {},
                            "HECEndpointType": {},
                            "HECToken": {},
                            "HECAcknowledgmentTimeoutInSeconds": {
                                "type": "integer"
                            },
                            "RetryOptions": {
                                "shape": "S2j"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "HttpEndpointDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "EndpointConfiguration",
                            "S3Configuration"
                        ],
                        "members": {
                            "EndpointConfiguration": {
                                "shape": "S2n"
                            },
                            "BufferingHints": {
                                "shape": "S2r"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "RequestConfiguration": {
                                "shape": "S2u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S30"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S33"
                    },
                    "AmazonopensearchserviceDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "IndexName",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S2n"
                            },
                            "RetryOptions": {
                                "shape": "S2q"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "VpcConfiguration": {
                                "shape": "S2e"
                            }
                        }
                    },
                    "AmazonOpenSearchServerlessDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "IndexName",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "CollectionEndpoint": {},
                            "IndexName": {},
                            "BufferingHints": {
                                "shape": "S3p"
                            },
                            "RetryOptions": {
                                "shape": "S3s"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "VpcConfiguration": {
                                "shape": "S2e"
                            }
                        }
                    },
                    "MSKSourceConfiguration": {
                        "type": "structure",
                        "required": [
                            "MSKClusterARN",
                            "TopicName",
                            "AuthenticationConfiguration"
                        ],
                        "members": {
                            "MSKClusterARN": {},
                            "TopicName": {},
                            "AuthenticationConfiguration": {
                                "shape": "S4b"
                            }
                        }
                    },
                    "SnowflakeDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "AccountUrl",
                            "PrivateKey",
                            "User",
                            "Database",
                            "Schema",
                            "Table",
                            "RoleARN",
                            "S3Configuration"
                        ],
                        "members": {
                            "AccountUrl": {
                                "shape": "S46"
                            },
                            "PrivateKey": {
                                "shape": "S47"
                            },
                            "KeyPassphrase": {
                                "shape": "S48"
                            },
                            "User": {
                                "shape": "S49"
                            },
                            "Database": {
                                "shape": "S4a"
                            },
                            "Schema": {
                                "shape": "S4b"
                            },
                            "Table": {
                                "shape": "S4c"
                            },
                            "SnowflakeRoleConfiguration": {
                                "shape": "S4d"
                            },
                            "DataLoadingOption": {},
                            "MetaDataColumnName": {
                                "shape": "S4g"
                            },
                            "ContentColumnName": {
                                "shape": "S4h"
                            },
                            "SnowflakeVpcConfiguration": {
                                "shape": "S4i"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S4k"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeliveryStreamARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "AllowForceDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DescribeDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "ExclusiveStartDestinationId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeliveryStreamDescription"
                ],
                "members": {
                    "DeliveryStreamDescription": {
                        "type": "structure",
                        "required": [
                            "DeliveryStreamName",
                            "DeliveryStreamARN",
                            "DeliveryStreamStatus",
                            "DeliveryStreamType",
                            "VersionId",
                            "Destinations",
                            "HasMoreDestinations"
                        ],
                        "members": {
                            "DeliveryStreamName": {},
                            "DeliveryStreamARN": {},
                            "DeliveryStreamStatus": {},
                            "FailureDescription": {
                                "shape": "S3h"
                            },
                            "DeliveryStreamEncryptionConfiguration": {
                                "type": "structure",
                                "members": {
                                    "KeyARN": {},
                                    "KeyType": {},
                                    "Status": {},
                                    "FailureDescription": {
                                        "shape": "S3h"
                                    }
                                }
                            },
                            "DeliveryStreamType": {},
                            "VersionId": {},
                            "CreateTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdateTimestamp": {
                                "type": "timestamp"
                            },
                            "Source": {
                                "type": "structure",
                                "members": {
                                    "KinesisStreamSourceDescription": {
                                        "type": "structure",
                                        "members": {
                                            "KinesisStreamARN": {},
                                            "RoleARN": {},
                                            "DeliveryStartTimestamp": {
                                                "type": "timestamp"
                                            }
                                        }
                                    }
                                }
                            },
                            "Destinations": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "DestinationId"
                                    ],
                                    "members": {
                                        "DestinationId": {},
                                        "S3DestinationDescription": {
                                            "shape": "S3s"
                                        },
                                        "ExtendedS3DestinationDescription": {
                                            "type": "structure",
                                            "required": [
                                                "RoleARN",
                                                "BucketARN",
                                                "BufferingHints",
                                                "CompressionFormat",
                                                "EncryptionConfiguration"
                                            ],
                                            "members": {
                                                "RoleARN": {},
                                                "BucketARN": {},
                                                "Prefix": {},
                                                "ErrorOutputPrefix": {},
                                                "BufferingHints": {
                                                    "shape": "Se"
                                                },
                                                "CompressionFormat": {},
                                                "EncryptionConfiguration": {
                                                    "shape": "Si"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "S3BackupMode": {},
                                                "S3BackupDescription": {
                                                    "shape": "S3s"
                                                },
                                                "DataFormatConversionConfiguration": {
                                                    "shape": "Sz"
                                                }
                                            }
                                        },
                                        "RedshiftDestinationDescription": {
                                            "type": "structure",
                                            "required": [
                                                "RoleARN",
                                                "ClusterJDBCURL",
                                                "CopyCommand",
                                                "Username",
                                                "S3DestinationDescription"
                                            ],
                                            "members": {
                                                "RoleARN": {},
                                                "ClusterJDBCURL": {},
                                                "CopyCommand": {
                                                    "shape": "S1q"
                                                },
                                                "Username": {
                                                    "shape": "S1u"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S1w"
                                                },
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "S3BackupMode": {},
                                                "S3BackupDescription": {
                                                    "shape": "S3s"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                }
                                            }
                                        },
                                        "ElasticsearchDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "RoleARN": {},
                                                "DomainARN": {},
                                                "ClusterEndpoint": {},
                                                "IndexName": {},
                                                "TypeName": {},
                                                "IndexRotationPeriod": {},
                                                "BufferingHints": {
                                                    "shape": "S25"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S28"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "VpcConfigurationDescription": {
                                                    "type": "structure",
                                                    "required": [
                                                        "SubnetIds",
                                                        "RoleARN",
                                                        "SecurityGroupIds",
                                                        "VpcId"
                                                    ],
                                                    "members": {
                                                        "SubnetIds": {
                                                            "shape": "S2c"
                                                        },
                                                        "RoleARN": {},
                                                        "SecurityGroupIds": {
                                                            "shape": "S2d"
                                                        },
                                                        "VpcId": {}
                                                    }
                                                }
                                            }
                                        },
                                        "SplunkDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "HECEndpoint": {},
                                                "HECEndpointType": {},
                                                "HECToken": {},
                                                "HECAcknowledgmentTimeoutInSeconds": {
                                                    "type": "integer"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S2j"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                }
                                            }
                                        },
                                        "HttpEndpointDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "EndpointConfiguration": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Url": {
                                                            "shape": "S2o"
                                                        },
                                                        "Name": {}
                                                    }
                                                },
                                                "BufferingHints": {
                                                    "shape": "S2r"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "RequestConfiguration": {
                                                    "shape": "S2u"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "RoleARN": {},
                                                "RetryOptions": {
                                                    "shape": "S30"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "HasMoreDestinations": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "ListDeliveryStreams": {
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "type": "integer"
                    },
                    "DeliveryStreamType": {},
                    "ExclusiveStartDeliveryStreamName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeliveryStreamNames",
                    "HasMoreDeliveryStreams"
                ],
                "members": {
                    "DeliveryStreamNames": {
                        "type": "list",
                        "member": {}
                    },
                    "HasMoreDeliveryStreams": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "ListTagsForDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "ExclusiveStartTagKey": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags",
                    "HasMoreTags"
                ],
                "members": {
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S34"
                        }
                    },
                    "HasMoreTags": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "PutRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Record"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Record": {
                        "shape": "S49"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RecordId"
                ],
                "members": {
                    "RecordId": {},
                    "Encrypted": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "PutRecordBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Records"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Records": {
                        "type": "list",
                        "member": {
                            "shape": "S49"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedPutCount",
                    "RequestResponses"
                ],
                "members": {
                    "FailedPutCount": {
                        "type": "integer"
                    },
                    "Encrypted": {
                        "type": "boolean"
                    },
                    "RequestResponses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecordId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "StartDeliveryStreamEncryption": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "DeliveryStreamEncryptionConfigurationInput": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "StopDeliveryStreamEncryption": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "TagDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Tags"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Tags": {
                        "shape": "S33"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "UntagDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "TagKeys"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "UpdateDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "CurrentDeliveryStreamVersionId",
                    "DestinationId"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "CurrentDeliveryStreamVersionId": {},
                    "DestinationId": {},
                    "S3DestinationUpdate": {
                        "shape": "S4u",
                        "deprecated": true
                    },
                    "ExtendedS3DestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "BucketARN": {},
                            "Prefix": {},
                            "ErrorOutputPrefix": {},
                            "BufferingHints": {
                                "shape": "Se"
                            },
                            "CompressionFormat": {},
                            "EncryptionConfiguration": {
                                "shape": "Si"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupUpdate": {
                                "shape": "S4u"
                            },
                            "DataFormatConversionConfiguration": {
                                "shape": "Sz"
                            }
                        }
                    },
                    "RedshiftDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "ClusterJDBCURL": {},
                            "CopyCommand": {
                                "shape": "S1q"
                            },
                            "Username": {
                                "shape": "S1u"
                            },
                            "Password": {
                                "shape": "S1v"
                            },
                            "RetryOptions": {
                                "shape": "S1w"
                            },
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupUpdate": {
                                "shape": "S4u"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ElasticsearchDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S25"
                            },
                            "RetryOptions": {
                                "shape": "S28"
                            },
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "SplunkDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "HECEndpoint": {},
                            "HECEndpointType": {},
                            "HECToken": {},
                            "HECAcknowledgmentTimeoutInSeconds": {
                                "type": "integer"
                            },
                            "RetryOptions": {
                                "shape": "S2j"
                            },
                            "S3BackupMode": {},
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "HttpEndpointDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "EndpointConfiguration": {
                                "shape": "S2n"
                            },
                            "BufferingHints": {
                                "shape": "S2r"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "RequestConfiguration": {
                                "shape": "S2u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S30"
                            },
                            "S3BackupMode": {},
                            "S3Update": {
                                "shape": "S4u"
                            }
                        }
                    },
                    "AmazonopensearchserviceDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S2n"
                            },
                            "RetryOptions": {
                                "shape": "S2q"
                            },
                            "S3Update": {
                                "shape": "S5k"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "AmazonOpenSearchServerlessDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "CollectionEndpoint": {},
                            "IndexName": {},
                            "BufferingHints": {
                                "shape": "S3p"
                            },
                            "RetryOptions": {
                                "shape": "S3s"
                            },
                            "S3Update": {
                                "shape": "S5k"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "SnowflakeDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "AccountUrl": {
                                "shape": "S46"
                            },
                            "PrivateKey": {
                                "shape": "S47"
                            },
                            "KeyPassphrase": {
                                "shape": "S48"
                            },
                            "User": {
                                "shape": "S49"
                            },
                            "Database": {
                                "shape": "S4a"
                            },
                            "Schema": {
                                "shape": "S4b"
                            },
                            "Table": {
                                "shape": "S4c"
                            },
                            "SnowflakeRoleConfiguration": {
                                "shape": "S4d"
                            },
                            "DataLoadingOption": {},
                            "MetaDataColumnName": {
                                "shape": "S4g"
                            },
                            "ContentColumnName": {
                                "shape": "S4h"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S4k"
                            },
                            "S3BackupMode": {},
                            "S3Update": {
                                "shape": "S6e"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetKinesisStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamARN"
                ],
                "members": {
                    "DeliveryStreamARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KinesisStreamARN": {},
                    "CredentialsForReadingKinesisStream": {
                        "type": "structure",
                        "required": [
                            "AccessKeyId",
                            "SecretAccessKey",
                            "SessionToken",
                            "Expiration"
                        ],
                        "members": {
                            "AccessKeyId": {
                                "type": "string",
                                "sensitive": true
                            },
                            "SecretAccessKey": {
                                "type": "string",
                                "sensitive": true
                            },
                            "SessionToken": {
                                "type": "string",
                                "sensitive": true
                            },
                            "Expiration": {
                                "type": "timestamp"
                            }
                        },
                        "sensitive": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "required": [
                "KeyType"
            ],
            "members": {
                "KeyARN": {},
                "KeyType": {}
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "RoleARN",
                "BucketARN"
            ],
            "members": {
                "RoleARN": {},
                "BucketARN": {},
                "Prefix": {},
                "ErrorOutputPrefix": {},
                "BufferingHints": {
                    "shape": "Se"
                },
                "CompressionFormat": {},
                "EncryptionConfiguration": {
                    "shape": "Si"
                },
                "CloudWatchLoggingOptions": {
                    "shape": "Sl"
                }
            }
        },
        "Se": {
            "type": "structure",
            "members": {
                "SizeInMBs": {
                    "type": "integer"
                },
                "IntervalInSeconds": {
                    "type": "integer"
                }
            }
        },
        "Si": {
            "type": "structure",
            "members": {
                "NoEncryptionConfig": {},
                "KMSEncryptionConfig": {
                    "type": "structure",
                    "required": [
                        "AWSKMSKeyARN"
                    ],
                    "members": {
                        "AWSKMSKeyARN": {}
                    }
                }
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogGroupName": {},
                "LogStreamName": {}
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "Processors": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Type"
                        ],
                        "members": {
                            "Type": {},
                            "Parameters": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "ParameterName",
                                        "ParameterValue"
                                    ],
                                    "members": {
                                        "ParameterName": {},
                                        "ParameterValue": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sz": {
            "type": "structure",
            "members": {
                "SchemaConfiguration": {
                    "type": "structure",
                    "members": {
                        "RoleARN": {},
                        "CatalogId": {},
                        "DatabaseName": {},
                        "TableName": {},
                        "Region": {},
                        "VersionId": {}
                    }
                },
                "InputFormatConfiguration": {
                    "type": "structure",
                    "members": {
                        "Deserializer": {
                            "type": "structure",
                            "members": {
                                "OpenXJsonSerDe": {
                                    "type": "structure",
                                    "members": {
                                        "ConvertDotsInJsonKeysToUnderscores": {
                                            "type": "boolean"
                                        },
                                        "CaseInsensitive": {
                                            "type": "boolean"
                                        },
[...]
