{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-08-04",
        "endpointPrefix": "firehose",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Firehose",
        "serviceFullName": "Amazon Kinesis Firehose",
        "serviceId": "Firehose",
        "signatureVersion": "v4",
        "targetPrefix": "Firehose_20150804",
        "uid": "firehose-2015-08-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
        ]
    },
    "operations": {
        "CreateDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "DeliveryStreamType": {},
                    "KinesisStreamSourceConfiguration": {
                        "type": "structure",
                        "required": [
                            "KinesisStreamARN",
                            "RoleARN"
                        ],
                        "members": {
                            "KinesisStreamARN": {},
                            "RoleARN": {}
                        }
                    },
                    "DeliveryStreamEncryptionConfigurationInput": {
                        "shape": "S7"
                    },
                    "S3DestinationConfiguration": {
                        "shape": "Sa",
                        "deprecated": true
                    },
                    "ExtendedS3DestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "BucketARN"
                        ],
                        "members": {
                            "RoleARN": {},
                            "BucketARN": {},
                            "Prefix": {},
                            "ErrorOutputPrefix": {},
                            "BufferingHints": {
                                "shape": "Se"
                            },
                            "CompressionFormat": {},
                            "EncryptionConfiguration": {
                                "shape": "Si"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupConfiguration": {
                                "shape": "Sa"
                            },
                            "DataFormatConversionConfiguration": {
                                "shape": "Sz"
                            }
                        }
                    },
                    "RedshiftDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "ClusterJDBCURL",
                            "CopyCommand",
                            "Username",
                            "Password",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "ClusterJDBCURL": {},
                            "CopyCommand": {
                                "shape": "S1q"
                            },
                            "Username": {
                                "shape": "S1u"
                            },
                            "Password": {
                                "shape": "S1v"
                            },
                            "RetryOptions": {
                                "shape": "S1w"
                            },
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupConfiguration": {
                                "shape": "Sa"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ElasticsearchDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "IndexName",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S25"
                            },
                            "RetryOptions": {
                                "shape": "S28"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "VpcConfiguration": {
                                "type": "structure",
                                "required": [
                                    "SubnetIds",
                                    "RoleARN",
                                    "SecurityGroupIds"
                                ],
                                "members": {
                                    "SubnetIds": {
                                        "shape": "S2c"
                                    },
                                    "RoleARN": {},
                                    "SecurityGroupIds": {
                                        "shape": "S2d"
                                    }
                                }
                            }
                        }
                    },
                    "SplunkDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "HECEndpoint",
                            "HECEndpointType",
                            "HECToken",
                            "S3Configuration"
                        ],
                        "members": {
                            "HECEndpoint": {},
                            "HECEndpointType": {},
                            "HECToken": {},
                            "HECAcknowledgmentTimeoutInSeconds": {
                                "type": "integer"
                            },
                            "RetryOptions": {
                                "shape": "S2j"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "HttpEndpointDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "EndpointConfiguration",
                            "S3Configuration"
                        ],
                        "members": {
                            "EndpointConfiguration": {
                                "shape": "S2n"
                            },
                            "BufferingHints": {
                                "shape": "S2r"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "RequestConfiguration": {
                                "shape": "S2u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S30"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S33"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeliveryStreamARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DeleteDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "AllowForceDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DescribeDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "ExclusiveStartDestinationId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeliveryStreamDescription"
                ],
                "members": {
                    "DeliveryStreamDescription": {
                        "type": "structure",
                        "required": [
                            "DeliveryStreamName",
                            "DeliveryStreamARN",
                            "DeliveryStreamStatus",
                            "DeliveryStreamType",
                            "VersionId",
                            "Destinations",
                            "HasMoreDestinations"
                        ],
                        "members": {
                            "DeliveryStreamName": {},
                            "DeliveryStreamARN": {},
                            "DeliveryStreamStatus": {},
                            "FailureDescription": {
                                "shape": "S3h"
                            },
                            "DeliveryStreamEncryptionConfiguration": {
                                "type": "structure",
                                "members": {
                                    "KeyARN": {},
                                    "KeyType": {},
                                    "Status": {},
                                    "FailureDescription": {
                                        "shape": "S3h"
                                    }
                                }
                            },
                            "DeliveryStreamType": {},
                            "VersionId": {},
                            "CreateTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdateTimestamp": {
                                "type": "timestamp"
                            },
                            "Source": {
                                "type": "structure",
                                "members": {
                                    "KinesisStreamSourceDescription": {
                                        "type": "structure",
                                        "members": {
                                            "KinesisStreamARN": {},
                                            "RoleARN": {},
                                            "DeliveryStartTimestamp": {
                                                "type": "timestamp"
                                            }
                                        }
                                    }
                                }
                            },
                            "Destinations": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "DestinationId"
                                    ],
                                    "members": {
                                        "DestinationId": {},
                                        "S3DestinationDescription": {
                                            "shape": "S3s"
                                        },
                                        "ExtendedS3DestinationDescription": {
                                            "type": "structure",
                                            "required": [
                                                "RoleARN",
                                                "BucketARN",
                                                "BufferingHints",
                                                "CompressionFormat",
                                                "EncryptionConfiguration"
                                            ],
                                            "members": {
                                                "RoleARN": {},
                                                "BucketARN": {},
                                                "Prefix": {},
                                                "ErrorOutputPrefix": {},
                                                "BufferingHints": {
                                                    "shape": "Se"
                                                },
                                                "CompressionFormat": {},
                                                "EncryptionConfiguration": {
                                                    "shape": "Si"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "S3BackupMode": {},
                                                "S3BackupDescription": {
                                                    "shape": "S3s"
                                                },
                                                "DataFormatConversionConfiguration": {
                                                    "shape": "Sz"
                                                }
                                            }
                                        },
                                        "RedshiftDestinationDescription": {
                                            "type": "structure",
                                            "required": [
                                                "RoleARN",
                                                "ClusterJDBCURL",
                                                "CopyCommand",
                                                "Username",
                                                "S3DestinationDescription"
                                            ],
                                            "members": {
                                                "RoleARN": {},
                                                "ClusterJDBCURL": {},
                                                "CopyCommand": {
                                                    "shape": "S1q"
                                                },
                                                "Username": {
                                                    "shape": "S1u"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S1w"
                                                },
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "S3BackupMode": {},
                                                "S3BackupDescription": {
                                                    "shape": "S3s"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                }
                                            }
                                        },
                                        "ElasticsearchDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "RoleARN": {},
                                                "DomainARN": {},
                                                "ClusterEndpoint": {},
                                                "IndexName": {},
                                                "TypeName": {},
                                                "IndexRotationPeriod": {},
                                                "BufferingHints": {
                                                    "shape": "S25"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S28"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "VpcConfigurationDescription": {
                                                    "type": "structure",
                                                    "required": [
                                                        "SubnetIds",
                                                        "RoleARN",
                                                        "SecurityGroupIds",
                                                        "VpcId"
                                                    ],
                                                    "members": {
                                                        "SubnetIds": {
                                                            "shape": "S2c"
                                                        },
                                                        "RoleARN": {},
                                                        "SecurityGroupIds": {
                                                            "shape": "S2d"
                                                        },
                                                        "VpcId": {}
                                                    }
                                                }
                                            }
                                        },
                                        "SplunkDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "HECEndpoint": {},
                                                "HECEndpointType": {},
                                                "HECToken": {},
                                                "HECAcknowledgmentTimeoutInSeconds": {
                                                    "type": "integer"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S2j"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                }
                                            }
                                        },
                                        "HttpEndpointDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "EndpointConfiguration": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Url": {
                                                            "shape": "S2o"
                                                        },
                                                        "Name": {}
                                                    }
                                                },
                                                "BufferingHints": {
                                                    "shape": "S2r"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "RequestConfiguration": {
                                                    "shape": "S2u"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "RoleARN": {},
                                                "RetryOptions": {
                                                    "shape": "S30"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "HasMoreDestinations": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ListDeliveryStreams": {
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "type": "integer"
                    },
                    "DeliveryStreamType": {},
                    "ExclusiveStartDeliveryStreamName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeliveryStreamNames",
                    "HasMoreDeliveryStreams"
                ],
                "members": {
                    "DeliveryStreamNames": {
                        "type": "list",
                        "member": {}
                    },
                    "HasMoreDeliveryStreams": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ListTagsForDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "ExclusiveStartTagKey": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags",
                    "HasMoreTags"
                ],
                "members": {
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S34"
                        }
                    },
                    "HasMoreTags": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "PutRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Record"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Record": {
                        "shape": "S49"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RecordId"
                ],
                "members": {
                    "RecordId": {},
                    "Encrypted": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "PutRecordBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Records"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Records": {
                        "type": "list",
                        "member": {
                            "shape": "S49"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedPutCount",
                    "RequestResponses"
                ],
                "members": {
                    "FailedPutCount": {
                        "type": "integer"
                    },
                    "Encrypted": {
                        "type": "boolean"
                    },
                    "RequestResponses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecordId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "StartDeliveryStreamEncryption": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "DeliveryStreamEncryptionConfigurationInput": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "StopDeliveryStreamEncryption": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "TagDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Tags"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Tags": {
                        "shape": "S33"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "UntagDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "TagKeys"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "UpdateDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "CurrentDeliveryStreamVersionId",
                    "DestinationId"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "CurrentDeliveryStreamVersionId": {},
                    "DestinationId": {},
                    "S3DestinationUpdate": {
                        "shape": "S4u",
                        "deprecated": true
                    },
                    "ExtendedS3DestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "BucketARN": {},
                            "Prefix": {},
                            "ErrorOutputPrefix": {},
                            "BufferingHints": {
                                "shape": "Se"
                            },
                            "CompressionFormat": {},
                            "EncryptionConfiguration": {
                                "shape": "Si"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupUpdate": {
                                "shape": "S4u"
                            },
                            "DataFormatConversionConfiguration": {
                                "shape": "Sz"
                            }
                        }
                    },
                    "RedshiftDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "ClusterJDBCURL": {},
                            "CopyCommand": {
                                "shape": "S1q"
                            },
                            "Username": {
                                "shape": "S1u"
                            },
                            "Password": {
                                "shape": "S1v"
                            },
                            "RetryOptions": {
                                "shape": "S1w"
                            },
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupUpdate": {
                                "shape": "S4u"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ElasticsearchDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S25"
                            },
                            "RetryOptions": {
                                "shape": "S28"
                            },
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "SplunkDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "HECEndpoint": {},
                            "HECEndpointType": {},
                            "HECToken": {},
                            "HECAcknowledgmentTimeoutInSeconds": {
                                "type": "integer"
                            },
                            "RetryOptions": {
                                "shape": "S2j"
                            },
                            "S3BackupMode": {},
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "HttpEndpointDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "EndpointConfiguration": {
                                "shape": "S2n"
                            },
                            "BufferingHints": {
                                "shape": "S2r"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "RequestConfiguration": {
                                "shape": "S2u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S30"
                            },
                            "S3BackupMode": {},
                            "S3Update": {
                                "shape": "S4u"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "required": [
                "KeyType"
            ],
            "members": {
                "KeyARN": {},
                "KeyType": {}
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "RoleARN",
                "BucketARN"
            ],
            "members": {
                "RoleARN": {},
                "BucketARN": {},
                "Prefix": {},
                "ErrorOutputPrefix": {},
                "BufferingHints": {
                    "shape": "Se"
                },
                "CompressionFormat": {},
                "EncryptionConfiguration": {
                    "shape": "Si"
                },
                "CloudWatchLoggingOptions": {
                    "shape": "Sl"
                }
            }
        },
        "Se": {
            "type": "structure",
            "members": {
                "SizeInMBs": {
                    "type": "integer"
                },
                "IntervalInSeconds": {
                    "type": "integer"
                }
            }
        },
        "Si": {
            "type": "structure",
            "members": {
                "NoEncryptionConfig": {},
                "KMSEncryptionConfig": {
                    "type": "structure",
                    "required": [
                        "AWSKMSKeyARN"
                    ],
                    "members": {
                        "AWSKMSKeyARN": {}
                    }
                }
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogGroupName": {},
                "LogStreamName": {}
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "Processors": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Type"
                        ],
                        "members": {
                            "Type": {},
                            "Parameters": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "ParameterName",
                                        "ParameterValue"
                                    ],
                                    "members": {
                                        "ParameterName": {},
                                        "ParameterValue": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sz": {
            "type": "structure",
            "members": {
                "SchemaConfiguration": {
                    "type": "structure",
                    "members": {
                        "RoleARN": {},
                        "CatalogId": {},
                        "DatabaseName": {},
                        "TableName": {},
                        "Region": {},
                        "VersionId": {}
                    }
                },
                "InputFormatConfiguration": {
                    "type": "structure",
                    "members": {
                        "Deserializer": {
                            "type": "structure",
                            "members": {
                                "OpenXJsonSerDe": {
                                    "type": "structure",
                                    "members": {
                                        "ConvertDotsInJsonKeysToUnderscores": {
                                            "type": "boolean"
                                        },
                                        "CaseInsensitive": {
                                            "type": "boolean"
                                        },
                                        "ColumnToJsonKeyMappings": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        }
                                    }
                                },
                                "HiveJsonSerDe": {
                                    "type": "structure",
                                    "members": {
                                        "TimestampFormats": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "OutputFormatConfiguration": {
                    "type": "structure",
                    "members": {
                        "Serializer": {
                            "type": "structure",
                            "members": {
                                "ParquetSerDe": {
                                    "type": "structure",
                                    "members": {
                                        "BlockSizeBytes": {
                                            "type": "integer"
                                        },
                                        "PageSizeBytes": {
                                            "type": "integer"
                                        },
                                        "Compression": {},
                                        "EnableDictionaryCompression": {
                                            "type": "boolean"
                                        },
                                        "MaxPaddingBytes": {
                                            "type": "integer"
                                        },
                                        "WriterVersion": {}
                                    }
                                },
                                "OrcSerDe": {
                                    "type": "structure",
                                    "members": {
                                        "StripeSizeBytes": {
                                            "type": "integer"
                                        },
                                        "BlockSizeBytes": {
                                            "type": "integer"
                                        },
                                        "RowIndexStride": {
                                            "type": "integer"
                                        },
                                        "EnablePadding": {
                                            "type": "boolean"
                                        },
                                        "PaddingTolerance": {
                                            "type": "double"
                                        },
                                        "Compression": {},
                                        "BloomFilterColumns": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "BloomFilterFalsePositiveProbability": {
                                            "type": "double"
                                        },
                                        "DictionaryKeyThreshold": {
                                            "type": "double"
                                        },
                                        "FormatVersion": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "Enabled": {
                    "type": "boolean"
                }
            }
        },
        "S1q": {
            "type": "structure",
            "required": [
                "DataTableName"
            ],
            "members": {
                "DataTableName": {},
                "DataTableColumns": {},
                "CopyOptions": {}
            }
        },
        "S1u": {
            "type": "string",
            "sensitive": true
        },
        "S1v": {
            "type": "string",
            "sensitive": true
        },
        "S1w": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S25": {
            "type": "structure",
            "members": {
                "IntervalInSeconds": {
                    "type": "integer"
                },
                "SizeInMBs": {
                    "type": "integer"
                }
            }
        },
        "S28": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S2c": {
            "type": "list",
            "member": {}
        },
        "S2d": {
            "type": "list",
            "member": {}
        },
        "S2j": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S2n": {
            "type": "structure",
            "required": [
                "Url"
            ],
            "members": {
                "Url": {
                    "shape": "S2o"
                },
                "Name": {},
                "AccessKey": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S2o": {
            "type": "string",
            "sensitive": true
        },
        "S2r": {
            "type": "structure",
            "members": {
                "SizeInMBs": {
                    "type": "integer"
                },
                "IntervalInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S2u": {
            "type": "structure",
            "members": {
                "ContentEncoding": {},
                "CommonAttributes": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "AttributeName",
                            "AttributeValue"
                        ],
                        "members": {
                            "AttributeName": {
                                "type": "string",
                                "sensitive": true
                            },
                            "AttributeValue": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    }
                }
            }
        },
        "S30": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S33": {
            "type": "list",
            "member": {
                "shape": "S34"
            }
        },
        "S34": {
            "type": "structure",
            "required": [
                "Key"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "S3h": {
            "type": "structure",
            "required": [
                "Type",
                "Details"
            ],
            "members": {
                "Type": {},
                "Details": {}
            }
        },
        "S3s": {
            "type": "structure",
            "required": [
                "RoleARN",
                "BucketARN",
                "BufferingHints",
                "CompressionFormat",
                "EncryptionConfiguration"
            ],
            "members": {
                "RoleARN": {},
                "BucketARN": {},
                "Prefix": {},
                "ErrorOutputPrefix": {},
                "BufferingHints": {
                    "shape": "Se"
                },
                "CompressionFormat": {},
                "EncryptionConfiguration": {
                    "shape": "Si"
                },
                "CloudWatchLoggingOptions": {
                    "shape": "Sl"
                }
            }
        },
        "S49": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "type": "blob"
                }
            }
        },
        "S4u": {
            "type": "structure",
            "members": {
                "RoleARN": {},
                "BucketARN": {},
                "Prefix": {},
                "ErrorOutputPrefix": {},
                "BufferingHints": {
                    "shape": "Se"
                },
                "CompressionFormat": {},
                "EncryptionConfiguration": {
                    "shape": "Si"
                },
                "CloudWatchLoggingOptions": {
                    "shape": "Sl"
                }
            }
        },
        "S2m": {
            "type": "list",
            "member": {
                "shape": "S2n"
            }
        },
        "S3b": {
            "type": "structure",
            "required": [
                "RoleARN",
                "BucketARN",
                "BufferingHints",
                "CompressionFormat",
                "EncryptionConfiguration"
            ],
            "members": {
                "RoleARN": {},
                "BucketARN": {},
                "Prefix": {},
                "ErrorOutputPrefix": {},
                "BufferingHints": {
                    "shape": "Se"
                },
                "CompressionFormat": {},
                "EncryptionConfiguration": {
                    "shape": "Si"
                },
                "CloudWatchLoggingOptions": {
                    "shape": "Sl"
                }
            }
        },
        "S3q": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "type": "blob"
                }
            }
        },
        "S4b": {
            "type": "structure",
            "members": {
                "RoleARN": {},
                "BucketARN": {},
                "Prefix": {},
                "ErrorOutputPrefix": {},
                "BufferingHints": {
                    "shape": "Se"
                },
                "CompressionFormat": {},
                "EncryptionConfiguration": {
                    "shape": "Si"
                },
                "CloudWatchLoggingOptions": {
                    "shape": "Sl"
                }
            }
        },
        "S1o": {
            "type": "structure",
            "members": {
                "RetryOptions": {
                    "type": "structure",
                    "members": {
                        "DurationInSeconds": {
                            "type": "integer"
                        }
                    }
                },
                "Enabled": {
                    "type": "boolean"
                }
            }
        },
        "S1t": {
            "type": "structure",
            "required": [
                "DataTableName"
            ],
            "members": {
                "DataTableName": {},
                "DataTableColumns": {},
                "CopyOptions": {}
            }
        },
        "S1x": {
            "type": "string",
            "sensitive": true
        },
        "S1y": {
            "type": "string",
            "sensitive": true
        },
        "S1z": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S2b": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S2e": {
            "type": "structure",
            "required": [
                "SubnetIds",
                "RoleARN",
                "SecurityGroupIds"
            ],
            "members": {
                "SubnetIds": {
                    "shape": "S2f"
                },
                "RoleARN": {},
                "SecurityGroupIds": {
                    "shape": "S2g"
                }
            }
        },
        "S2f": {
            "type": "list",
            "member": {}
        },
        "S2g": {
            "type": "list",
            "member": {}
        },
        "S2q": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S2y": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S32": {
            "type": "structure",
            "required": [
                "Url"
            ],
            "members": {
                "Url": {
                    "shape": "S33"
                },
                "Name": {},
                "AccessKey": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S36": {
            "type": "structure",
            "members": {
                "SizeInMBs": {
                    "type": "integer"
                },
                "IntervalInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S39": {
            "type": "structure",
            "members": {
                "ContentEncoding": {},
                "CommonAttributes": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "AttributeName",
                            "AttributeValue"
                        ],
                        "members": {
                            "AttributeName": {
                                "type": "string",
                                "sensitive": true
                            },
                            "AttributeValue": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    }
                }
            }
        },
        "S3f": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S3i": {
            "type": "list",
            "member": {
                "shape": "S3j"
            }
        },
        "S3j": {
            "type": "structure",
            "required": [
                "Key"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "S3w": {
            "type": "structure",
            "required": [
                "Type",
                "Details"
            ],
            "members": {
                "Type": {},
                "Details": {}
            }
[...]
