{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-08-04",
        "endpointPrefix": "firehose",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Firehose",
        "serviceFullName": "Amazon Kinesis Firehose",
        "serviceId": "Firehose",
        "signatureVersion": "v4",
        "targetPrefix": "Firehose_20150804",
        "uid": "firehose-2015-08-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
        ]
    },
    "operations": {
        "CreateDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "DeliveryStreamType": {},
                    "KinesisStreamSourceConfiguration": {
                        "type": "structure",
                        "required": [
                            "KinesisStreamARN",
                            "RoleARN"
                        ],
                        "members": {
                            "KinesisStreamARN": {},
                            "RoleARN": {}
                        }
                    },
                    "DeliveryStreamEncryptionConfigurationInput": {
                        "shape": "S7"
                    },
                    "S3DestinationConfiguration": {
                        "shape": "Sa",
                        "deprecated": true
                    },
                    "ExtendedS3DestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "BucketARN"
                        ],
                        "members": {
                            "RoleARN": {},
                            "BucketARN": {},
                            "Prefix": {},
                            "ErrorOutputPrefix": {},
                            "BufferingHints": {
                                "shape": "Se"
                            },
                            "CompressionFormat": {},
                            "EncryptionConfiguration": {
                                "shape": "Si"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupConfiguration": {
                                "shape": "Sa"
                            },
                            "DataFormatConversionConfiguration": {
                                "shape": "Sz"
                            }
                        }
                    },
                    "RedshiftDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "ClusterJDBCURL",
                            "CopyCommand",
                            "Username",
                            "Password",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "ClusterJDBCURL": {},
                            "CopyCommand": {
                                "shape": "S1q"
                            },
                            "Username": {
                                "shape": "S1u"
                            },
                            "Password": {
                                "shape": "S1v"
                            },
                            "RetryOptions": {
                                "shape": "S1w"
                            },
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupConfiguration": {
                                "shape": "Sa"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ElasticsearchDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "IndexName",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S25"
                            },
                            "RetryOptions": {
                                "shape": "S28"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "VpcConfiguration": {
                                "type": "structure",
                                "required": [
                                    "SubnetIds",
                                    "RoleARN",
                                    "SecurityGroupIds"
                                ],
                                "members": {
                                    "SubnetIds": {
                                        "shape": "S2c"
                                    },
                                    "RoleARN": {},
                                    "SecurityGroupIds": {
                                        "shape": "S2d"
                                    }
                                }
                            }
                        }
                    },
                    "SplunkDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "HECEndpoint",
                            "HECEndpointType",
                            "HECToken",
                            "S3Configuration"
                        ],
                        "members": {
                            "HECEndpoint": {},
                            "HECEndpointType": {},
                            "HECToken": {},
                            "HECAcknowledgmentTimeoutInSeconds": {
                                "type": "integer"
                            },
                            "RetryOptions": {
                                "shape": "S2j"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "HttpEndpointDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "EndpointConfiguration",
                            "S3Configuration"
                        ],
                        "members": {
                            "EndpointConfiguration": {
                                "shape": "S2n"
                            },
                            "BufferingHints": {
                                "shape": "S2r"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "RequestConfiguration": {
                                "shape": "S2u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S30"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S33"
                    },
                    "AmazonopensearchserviceDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "IndexName",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S2n"
                            },
                            "RetryOptions": {
                                "shape": "S2q"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "VpcConfiguration": {
                                "shape": "S2e"
                            }
                        }
                    },
                    "AmazonOpenSearchServerlessDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "IndexName",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "CollectionEndpoint": {},
                            "IndexName": {},
                            "BufferingHints": {
                                "shape": "S3p"
                            },
                            "RetryOptions": {
                                "shape": "S3s"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "VpcConfiguration": {
                                "shape": "S2e"
                            }
                        }
                    },
                    "MSKSourceConfiguration": {
                        "type": "structure",
                        "required": [
                            "MSKClusterARN",
                            "TopicName",
                            "AuthenticationConfiguration"
                        ],
                        "members": {
                            "MSKClusterARN": {},
                            "TopicName": {},
                            "AuthenticationConfiguration": {
                                "shape": "S4b"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeliveryStreamARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "AllowForceDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "ExclusiveStartDestinationId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeliveryStreamDescription"
                ],
                "members": {
                    "DeliveryStreamDescription": {
                        "type": "structure",
                        "required": [
                            "DeliveryStreamName",
                            "DeliveryStreamARN",
                            "DeliveryStreamStatus",
                            "DeliveryStreamType",
                            "VersionId",
                            "Destinations",
                            "HasMoreDestinations"
                        ],
                        "members": {
                            "DeliveryStreamName": {},
                            "DeliveryStreamARN": {},
                            "DeliveryStreamStatus": {},
                            "FailureDescription": {
                                "shape": "S3h"
                            },
                            "DeliveryStreamEncryptionConfiguration": {
                                "type": "structure",
                                "members": {
                                    "KeyARN": {},
                                    "KeyType": {},
                                    "Status": {},
                                    "FailureDescription": {
                                        "shape": "S3h"
                                    }
                                }
                            },
                            "DeliveryStreamType": {},
                            "VersionId": {},
                            "CreateTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdateTimestamp": {
                                "type": "timestamp"
                            },
                            "Source": {
                                "type": "structure",
                                "members": {
                                    "KinesisStreamSourceDescription": {
                                        "type": "structure",
                                        "members": {
                                            "KinesisStreamARN": {},
                                            "RoleARN": {},
                                            "DeliveryStartTimestamp": {
                                                "type": "timestamp"
                                            }
                                        }
                                    }
                                }
                            },
                            "Destinations": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "DestinationId"
                                    ],
                                    "members": {
                                        "DestinationId": {},
                                        "S3DestinationDescription": {
                                            "shape": "S3s"
                                        },
                                        "ExtendedS3DestinationDescription": {
                                            "type": "structure",
                                            "required": [
                                                "RoleARN",
                                                "BucketARN",
                                                "BufferingHints",
                                                "CompressionFormat",
                                                "EncryptionConfiguration"
                                            ],
                                            "members": {
                                                "RoleARN": {},
                                                "BucketARN": {},
                                                "Prefix": {},
                                                "ErrorOutputPrefix": {},
                                                "BufferingHints": {
                                                    "shape": "Se"
                                                },
                                                "CompressionFormat": {},
                                                "EncryptionConfiguration": {
                                                    "shape": "Si"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "S3BackupMode": {},
                                                "S3BackupDescription": {
                                                    "shape": "S3s"
                                                },
                                                "DataFormatConversionConfiguration": {
                                                    "shape": "Sz"
                                                }
                                            }
                                        },
                                        "RedshiftDestinationDescription": {
                                            "type": "structure",
                                            "required": [
                                                "RoleARN",
                                                "ClusterJDBCURL",
                                                "CopyCommand",
                                                "Username",
                                                "S3DestinationDescription"
                                            ],
                                            "members": {
                                                "RoleARN": {},
                                                "ClusterJDBCURL": {},
                                                "CopyCommand": {
                                                    "shape": "S1q"
                                                },
                                                "Username": {
                                                    "shape": "S1u"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S1w"
                                                },
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "S3BackupMode": {},
                                                "S3BackupDescription": {
                                                    "shape": "S3s"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                }
                                            }
                                        },
                                        "ElasticsearchDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "RoleARN": {},
                                                "DomainARN": {},
                                                "ClusterEndpoint": {},
                                                "IndexName": {},
                                                "TypeName": {},
                                                "IndexRotationPeriod": {},
                                                "BufferingHints": {
                                                    "shape": "S25"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S28"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "VpcConfigurationDescription": {
                                                    "type": "structure",
                                                    "required": [
                                                        "SubnetIds",
                                                        "RoleARN",
                                                        "SecurityGroupIds",
                                                        "VpcId"
                                                    ],
                                                    "members": {
                                                        "SubnetIds": {
                                                            "shape": "S2c"
                                                        },
                                                        "RoleARN": {},
                                                        "SecurityGroupIds": {
                                                            "shape": "S2d"
                                                        },
                                                        "VpcId": {}
                                                    }
                                                }
                                            }
                                        },
                                        "SplunkDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "HECEndpoint": {},
                                                "HECEndpointType": {},
                                                "HECToken": {},
                                                "HECAcknowledgmentTimeoutInSeconds": {
                                                    "type": "integer"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S2j"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                }
                                            }
                                        },
                                        "HttpEndpointDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "EndpointConfiguration": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Url": {
                                                            "shape": "S2o"
                                                        },
                                                        "Name": {}
                                                    }
                                                },
                                                "BufferingHints": {
                                                    "shape": "S2r"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "RequestConfiguration": {
                                                    "shape": "S2u"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "RoleARN": {},
                                                "RetryOptions": {
                                                    "shape": "S30"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "HasMoreDestinations": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListDeliveryStreams": {
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "type": "integer"
                    },
                    "DeliveryStreamType": {},
                    "ExclusiveStartDeliveryStreamName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeliveryStreamNames",
                    "HasMoreDeliveryStreams"
                ],
                "members": {
                    "DeliveryStreamNames": {
                        "type": "list",
                        "member": {}
                    },
                    "HasMoreDeliveryStreams": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListTagsForDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "ExclusiveStartTagKey": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags",
                    "HasMoreTags"
                ],
                "members": {
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S34"
                        }
                    },
                    "HasMoreTags": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "PutRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Record"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Record": {
                        "shape": "S49"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RecordId"
                ],
                "members": {
                    "RecordId": {},
                    "Encrypted": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "PutRecordBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Records"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Records": {
                        "type": "list",
                        "member": {
                            "shape": "S49"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedPutCount",
                    "RequestResponses"
                ],
                "members": {
                    "FailedPutCount": {
                        "type": "integer"
                    },
                    "Encrypted": {
                        "type": "boolean"
                    },
                    "RequestResponses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecordId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "StartDeliveryStreamEncryption": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "DeliveryStreamEncryptionConfigurationInput": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "StopDeliveryStreamEncryption": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "TagDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Tags"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Tags": {
                        "shape": "S33"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "UntagDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "TagKeys"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "UpdateDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "CurrentDeliveryStreamVersionId",
                    "DestinationId"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "CurrentDeliveryStreamVersionId": {},
                    "DestinationId": {},
                    "S3DestinationUpdate": {
                        "shape": "S4u",
                        "deprecated": true
                    },
                    "ExtendedS3DestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "BucketARN": {},
                            "Prefix": {},
                            "ErrorOutputPrefix": {},
                            "BufferingHints": {
                                "shape": "Se"
                            },
                            "CompressionFormat": {},
                            "EncryptionConfiguration": {
                                "shape": "Si"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupUpdate": {
                                "shape": "S4u"
                            },
                            "DataFormatConversionConfiguration": {
                                "shape": "Sz"
                            }
                        }
                    },
                    "RedshiftDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "ClusterJDBCURL": {},
                            "CopyCommand": {
                                "shape": "S1q"
                            },
                            "Username": {
                                "shape": "S1u"
                            },
                            "Password": {
                                "shape": "S1v"
                            },
                            "RetryOptions": {
                                "shape": "S1w"
                            },
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupUpdate": {
                                "shape": "S4u"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ElasticsearchDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S25"
                            },
                            "RetryOptions": {
                                "shape": "S28"
                            },
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "SplunkDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "HECEndpoint": {},
                            "HECEndpointType": {},
                            "HECToken": {},
                            "HECAcknowledgmentTimeoutInSeconds": {
                                "type": "integer"
                            },
                            "RetryOptions": {
                                "shape": "S2j"
                            },
                            "S3BackupMode": {},
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "HttpEndpointDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "EndpointConfiguration": {
                                "shape": "S2n"
                            },
                            "BufferingHints": {
                                "shape": "S2r"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "RequestConfiguration": {
                                "shape": "S2u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S30"
                            },
                            "S3BackupMode": {},
                            "S3Update": {
                                "shape": "S4u"
                            }
                        }
                    },
                    "AmazonopensearchserviceDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S2n"
                            },
                            "RetryOptions": {
                                "shape": "S2q"
                            },
                            "S3Update": {
                                "shape": "S5k"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "AmazonOpenSearchServerlessDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "CollectionEndpoint": {},
                            "IndexName": {},
                            "BufferingHints": {
                                "shape": "S3p"
                            },
                            "RetryOptions": {
                                "shape": "S3s"
                            },
                            "S3Update": {
                                "shape": "S5k"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "required": [
                "KeyType"
            ],
            "members": {
                "KeyARN": {},
                "KeyType": {}
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "RoleARN",
                "BucketARN"
            ],
            "members": {
                "RoleARN": {},
                "BucketARN": {},
                "Prefix": {},
                "ErrorOutputPrefix": {},
                "BufferingHints": {
                    "shape": "Se"
                },
                "CompressionFormat": {},
                "EncryptionConfiguration": {
                    "shape": "Si"
                },
                "CloudWatchLoggingOptions": {
                    "shape": "Sl"
                }
            }
        },
        "Se": {
            "type": "structure",
            "members": {
                "SizeInMBs": {
                    "type": "integer"
                },
                "IntervalInSeconds": {
                    "type": "integer"
                }
            }
        },
        "Si": {
            "type": "structure",
            "members": {
                "NoEncryptionConfig": {},
                "KMSEncryptionConfig": {
                    "type": "structure",
                    "required": [
                        "AWSKMSKeyARN"
                    ],
                    "members": {
                        "AWSKMSKeyARN": {}
                    }
                }
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogGroupName": {},
                "LogStreamName": {}
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "Processors": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Type"
                        ],
                        "members": {
                            "Type": {},
                            "Parameters": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "ParameterName",
                                        "ParameterValue"
                                    ],
                                    "members": {
                                        "ParameterName": {},
                                        "ParameterValue": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sz": {
            "type": "structure",
            "members": {
                "SchemaConfiguration": {
                    "type": "structure",
                    "members": {
                        "RoleARN": {},
                        "CatalogId": {},
                        "DatabaseName": {},
                        "TableName": {},
                        "Region": {},
                        "VersionId": {}
                    }
                },
                "InputFormatConfiguration": {
                    "type": "structure",
                    "members": {
                        "Deserializer": {
                            "type": "structure",
                            "members": {
                                "OpenXJsonSerDe": {
                                    "type": "structure",
                                    "members": {
                                        "ConvertDotsInJsonKeysToUnderscores": {
                                            "type": "boolean"
                                        },
                                        "CaseInsensitive": {
                                            "type": "boolean"
                                        },
                                        "ColumnToJsonKeyMappings": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        }
                                    }
                                },
                                "HiveJsonSerDe": {
                                    "type": "structure",
                                    "members": {
                                        "TimestampFormats": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "OutputFormatConfiguration": {
                    "type": "structure",
                    "members": {
                        "Serializer": {
                            "type": "structure",
                            "members": {
                                "ParquetSerDe": {
                                    "type": "structure",
                                    "members": {
                                        "BlockSizeBytes": {
                                            "type": "integer"
                                        },
                                        "PageSizeBytes": {
                                            "type": "integer"
                                        },
                                        "Compression": {},
                                        "EnableDictionaryCompression": {
                                            "type": "boolean"
                                        },
                                        "MaxPaddingBytes": {
                                            "type": "integer"
                                        },
                                        "WriterVersion": {}
                                    }
                                },
                                "OrcSerDe": {
                                    "type": "structure",
                                    "members": {
                                        "StripeSizeBytes": {
                                            "type": "integer"
                                        },
                                        "BlockSizeBytes": {
                                            "type": "integer"
                                        },
                                        "RowIndexStride": {
                                            "type": "integer"
                                        },
                                        "EnablePadding": {
                                            "type": "boolean"
                                        },
                                        "PaddingTolerance": {
                                            "type": "double"
                                        },
                                        "Compression": {},
                                        "BloomFilterColumns": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "BloomFilterFalsePositiveProbability": {
                                            "type": "double"
                                        },
                                        "DictionaryKeyThreshold": {
                                            "type": "double"
                                        },
                                        "FormatVersion": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "Enabled": {
                    "type": "boolean"
                }
            }
        },
        "S1q": {
            "type": "structure",
            "required": [
                "DataTableName"
            ],
            "members": {
                "DataTableName": {},
                "DataTableColumns": {},
                "CopyOptions": {}
            }
        },
        "S1u": {
            "type": "string",
            "sensitive": true
        },
        "S1v": {
            "type": "string",
            "sensitive": true
        },
        "S1w": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S25": {
            "type": "structure",
            "members": {
                "IntervalInSeconds": {
                    "type": "integer"
                },
                "SizeInMBs": {
                    "type": "integer"
                }
            }
        },
        "S28": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S2c": {
            "type": "list",
            "member": {}
        },
        "S2d": {
            "type": "list",
            "member": {}
        },
        "S2j": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S2n": {
            "type": "structure",
            "required": [
                "Url"
            ],
            "members": {
                "Url": {
                    "shape": "S2o"
                },
                "Name": {},
                "AccessKey": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S2o": {
            "type": "string",
            "sensitive": true
        },
        "S2r": {
            "type": "structure",
            "members": {
                "SizeInMBs": {
                    "type": "integer"
                },
                "IntervalInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S2u": {
            "type": "structure",
            "members": {
                "ContentEncoding": {},
                "CommonAttributes": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "AttributeName",
                            "AttributeValue"
                        ],
                        "members": {
                            "AttributeName": {
                                "type": "string",
                                "sensitive": true
                            },
                            "AttributeValue": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    }
                }
            }
        },
        "S30": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S33": {
            "type": "list",
            "member": {
                "shape": "S34"
            }
        },
        "S34": {
            "type": "structure",
            "required": [
                "Key"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "S3h": {
            "type": "structure",
            "required": [
                "Type",
                "Details"
            ],
            "members": {
                "Type": {},
                "Details": {}
            }
        },
        "S3s": {
            "type": "structure",
            "required": [
                "RoleARN",
                "BucketARN",
                "BufferingHints",
                "CompressionFormat",
                "EncryptionConfiguration"
            ],
            "members": {
                "RoleARN": {},
                "BucketARN": {},
                "Prefix": {},
                "ErrorOutputPrefix": {},
                "BufferingHints": {
                    "shape": "Se"
                },
                "CompressionFormat": {},
                "EncryptionConfiguration": {
                    "shape": "Si"
                },
                "CloudWatchLoggingOptions": {
                    "shape": "Sl"
                }
            }
        },
        "S49": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "type": "blob"
                }
            }
        },
        "S4u": {
            "type": "structure",
            "members": {
                "RoleARN": {},
                "BucketARN": {},
                "Prefix": {},
                "ErrorOutputPrefix": {},
                "BufferingHints": {
                    "shape": "Se"
                },
                "CompressionFormat": {},
                "EncryptionConfiguration": {
                    "shape": "Si"
                },
                "CloudWatchLoggingOptions": {
                    "shape": "Sl"
                }
            }
        },
        "S2m": {
            "type": "list",
            "member": {
                "shape": "S2n"
            }
        },
        "S3b": {
            "type": "structure",
            "required": [
                "RoleARN",
                "BucketARN",
                "BufferingHints",
                "CompressionFormat",
[...]
