{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-08-04",
        "endpointPrefix": "firehose",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Firehose",
        "serviceFullName": "Amazon Kinesis Firehose",
        "serviceId": "Firehose",
        "signatureVersion": "v4",
        "targetPrefix": "Firehose_20150804",
        "uid": "firehose-2015-08-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
        ]
    },
    "operations": {
        "CreateDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "DeliveryStreamType": {},
                    "KinesisStreamSourceConfiguration": {
                        "type": "structure",
                        "required": [
                            "KinesisStreamARN",
                            "RoleARN"
                        ],
                        "members": {
                            "KinesisStreamARN": {},
                            "RoleARN": {}
                        }
                    },
                    "DeliveryStreamEncryptionConfigurationInput": {
                        "shape": "S7"
                    },
                    "S3DestinationConfiguration": {
                        "shape": "Sa",
                        "deprecated": true
                    },
                    "ExtendedS3DestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "BucketARN"
                        ],
                        "members": {
                            "RoleARN": {},
                            "BucketARN": {},
                            "Prefix": {},
                            "ErrorOutputPrefix": {},
                            "BufferingHints": {
                                "shape": "Se"
                            },
                            "CompressionFormat": {},
                            "EncryptionConfiguration": {
                                "shape": "Si"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupConfiguration": {
                                "shape": "Sa"
                            },
                            "DataFormatConversionConfiguration": {
                                "shape": "Sz"
                            }
                        }
                    },
                    "RedshiftDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "ClusterJDBCURL",
                            "CopyCommand",
                            "Username",
                            "Password",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "ClusterJDBCURL": {},
                            "CopyCommand": {
                                "shape": "S1q"
                            },
                            "Username": {
                                "shape": "S1u"
                            },
                            "Password": {
                                "shape": "S1v"
                            },
                            "RetryOptions": {
                                "shape": "S1w"
                            },
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupConfiguration": {
                                "shape": "Sa"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ElasticsearchDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "IndexName",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S25"
                            },
                            "RetryOptions": {
                                "shape": "S28"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "VpcConfiguration": {
                                "type": "structure",
                                "required": [
                                    "SubnetIds",
                                    "RoleARN",
                                    "SecurityGroupIds"
                                ],
                                "members": {
                                    "SubnetIds": {
                                        "shape": "S2c"
                                    },
                                    "RoleARN": {},
                                    "SecurityGroupIds": {
                                        "shape": "S2d"
                                    }
                                }
                            }
                        }
                    },
                    "SplunkDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "HECEndpoint",
                            "HECEndpointType",
                            "HECToken",
                            "S3Configuration"
                        ],
                        "members": {
                            "HECEndpoint": {},
                            "HECEndpointType": {},
                            "HECToken": {},
                            "HECAcknowledgmentTimeoutInSeconds": {
                                "type": "integer"
                            },
                            "RetryOptions": {
                                "shape": "S2j"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "HttpEndpointDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "EndpointConfiguration",
                            "S3Configuration"
                        ],
                        "members": {
                            "EndpointConfiguration": {
                                "shape": "S2n"
                            },
                            "BufferingHints": {
                                "shape": "S2r"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "RequestConfiguration": {
                                "shape": "S2u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S30"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S33"
                    },
                    "AmazonopensearchserviceDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "IndexName",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S2n"
                            },
                            "RetryOptions": {
                                "shape": "S2q"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "VpcConfiguration": {
                                "shape": "S2e"
                            }
                        }
                    },
                    "AmazonOpenSearchServerlessDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "IndexName",
                            "S3Configuration"
                        ],
                        "members": {
                            "RoleARN": {},
                            "CollectionEndpoint": {},
                            "IndexName": {},
                            "BufferingHints": {
                                "shape": "S3p"
                            },
                            "RetryOptions": {
                                "shape": "S3s"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "VpcConfiguration": {
                                "shape": "S2e"
                            }
                        }
                    },
                    "MSKSourceConfiguration": {
                        "type": "structure",
                        "required": [
                            "MSKClusterARN",
                            "TopicName",
                            "AuthenticationConfiguration"
                        ],
                        "members": {
                            "MSKClusterARN": {},
                            "TopicName": {},
                            "AuthenticationConfiguration": {
                                "shape": "S4b"
                            }
                        }
                    },
                    "SnowflakeDestinationConfiguration": {
                        "type": "structure",
                        "required": [
                            "AccountUrl",
                            "PrivateKey",
                            "User",
                            "Database",
                            "Schema",
                            "Table",
                            "RoleARN",
                            "S3Configuration"
                        ],
                        "members": {
                            "AccountUrl": {
                                "shape": "S46"
                            },
                            "PrivateKey": {
                                "shape": "S47"
                            },
                            "KeyPassphrase": {
                                "shape": "S48"
                            },
                            "User": {
                                "shape": "S49"
                            },
                            "Database": {
                                "shape": "S4a"
                            },
                            "Schema": {
                                "shape": "S4b"
                            },
                            "Table": {
                                "shape": "S4c"
                            },
                            "SnowflakeRoleConfiguration": {
                                "shape": "S4d"
                            },
                            "DataLoadingOption": {},
                            "MetaDataColumnName": {
                                "shape": "S4g"
                            },
                            "ContentColumnName": {
                                "shape": "S4h"
                            },
                            "SnowflakeVpcConfiguration": {
                                "shape": "S4i"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S4k"
                            },
                            "S3BackupMode": {},
                            "S3Configuration": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeliveryStreamARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "AllowForceDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribeDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "ExclusiveStartDestinationId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeliveryStreamDescription"
                ],
                "members": {
                    "DeliveryStreamDescription": {
                        "type": "structure",
                        "required": [
                            "DeliveryStreamName",
                            "DeliveryStreamARN",
                            "DeliveryStreamStatus",
                            "DeliveryStreamType",
                            "VersionId",
                            "Destinations",
                            "HasMoreDestinations"
                        ],
                        "members": {
                            "DeliveryStreamName": {},
                            "DeliveryStreamARN": {},
                            "DeliveryStreamStatus": {},
                            "FailureDescription": {
                                "shape": "S3h"
                            },
                            "DeliveryStreamEncryptionConfiguration": {
                                "type": "structure",
                                "members": {
                                    "KeyARN": {},
                                    "KeyType": {},
                                    "Status": {},
                                    "FailureDescription": {
                                        "shape": "S3h"
                                    }
                                }
                            },
                            "DeliveryStreamType": {},
                            "VersionId": {},
                            "CreateTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdateTimestamp": {
                                "type": "timestamp"
                            },
                            "Source": {
                                "type": "structure",
                                "members": {
                                    "KinesisStreamSourceDescription": {
                                        "type": "structure",
                                        "members": {
                                            "KinesisStreamARN": {},
                                            "RoleARN": {},
                                            "DeliveryStartTimestamp": {
                                                "type": "timestamp"
                                            }
                                        }
                                    }
                                }
                            },
                            "Destinations": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "DestinationId"
                                    ],
                                    "members": {
                                        "DestinationId": {},
                                        "S3DestinationDescription": {
                                            "shape": "S3s"
                                        },
                                        "ExtendedS3DestinationDescription": {
                                            "type": "structure",
                                            "required": [
                                                "RoleARN",
                                                "BucketARN",
                                                "BufferingHints",
                                                "CompressionFormat",
                                                "EncryptionConfiguration"
                                            ],
                                            "members": {
                                                "RoleARN": {},
                                                "BucketARN": {},
                                                "Prefix": {},
                                                "ErrorOutputPrefix": {},
                                                "BufferingHints": {
                                                    "shape": "Se"
                                                },
                                                "CompressionFormat": {},
                                                "EncryptionConfiguration": {
                                                    "shape": "Si"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "S3BackupMode": {},
                                                "S3BackupDescription": {
                                                    "shape": "S3s"
                                                },
                                                "DataFormatConversionConfiguration": {
                                                    "shape": "Sz"
                                                }
                                            }
                                        },
                                        "RedshiftDestinationDescription": {
                                            "type": "structure",
                                            "required": [
                                                "RoleARN",
                                                "ClusterJDBCURL",
                                                "CopyCommand",
                                                "Username",
                                                "S3DestinationDescription"
                                            ],
                                            "members": {
                                                "RoleARN": {},
                                                "ClusterJDBCURL": {},
                                                "CopyCommand": {
                                                    "shape": "S1q"
                                                },
                                                "Username": {
                                                    "shape": "S1u"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S1w"
                                                },
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "S3BackupMode": {},
                                                "S3BackupDescription": {
                                                    "shape": "S3s"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                }
                                            }
                                        },
                                        "ElasticsearchDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "RoleARN": {},
                                                "DomainARN": {},
                                                "ClusterEndpoint": {},
                                                "IndexName": {},
                                                "TypeName": {},
                                                "IndexRotationPeriod": {},
                                                "BufferingHints": {
                                                    "shape": "S25"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S28"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "VpcConfigurationDescription": {
                                                    "type": "structure",
                                                    "required": [
                                                        "SubnetIds",
                                                        "RoleARN",
                                                        "SecurityGroupIds",
                                                        "VpcId"
                                                    ],
                                                    "members": {
                                                        "SubnetIds": {
                                                            "shape": "S2c"
                                                        },
                                                        "RoleARN": {},
                                                        "SecurityGroupIds": {
                                                            "shape": "S2d"
                                                        },
                                                        "VpcId": {}
                                                    }
                                                }
                                            }
                                        },
                                        "SplunkDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "HECEndpoint": {},
                                                "HECEndpointType": {},
                                                "HECToken": {},
                                                "HECAcknowledgmentTimeoutInSeconds": {
                                                    "type": "integer"
                                                },
                                                "RetryOptions": {
                                                    "shape": "S2j"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                }
                                            }
                                        },
                                        "HttpEndpointDestinationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "EndpointConfiguration": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Url": {
                                                            "shape": "S2o"
                                                        },
                                                        "Name": {}
                                                    }
                                                },
                                                "BufferingHints": {
                                                    "shape": "S2r"
                                                },
                                                "CloudWatchLoggingOptions": {
                                                    "shape": "Sl"
                                                },
                                                "RequestConfiguration": {
                                                    "shape": "S2u"
                                                },
                                                "ProcessingConfiguration": {
                                                    "shape": "Sq"
                                                },
                                                "RoleARN": {},
                                                "RetryOptions": {
                                                    "shape": "S30"
                                                },
                                                "S3BackupMode": {},
                                                "S3DestinationDescription": {
                                                    "shape": "S3s"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "HasMoreDestinations": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListDeliveryStreams": {
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "type": "integer"
                    },
                    "DeliveryStreamType": {},
                    "ExclusiveStartDeliveryStreamName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeliveryStreamNames",
                    "HasMoreDeliveryStreams"
                ],
                "members": {
                    "DeliveryStreamNames": {
                        "type": "list",
                        "member": {}
                    },
                    "HasMoreDeliveryStreams": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListTagsForDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "ExclusiveStartTagKey": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags",
                    "HasMoreTags"
                ],
                "members": {
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S34"
                        }
                    },
                    "HasMoreTags": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "PutRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Record"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Record": {
                        "shape": "S49"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RecordId"
                ],
                "members": {
                    "RecordId": {},
                    "Encrypted": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "PutRecordBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Records"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Records": {
                        "type": "list",
                        "member": {
                            "shape": "S49"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedPutCount",
                    "RequestResponses"
                ],
                "members": {
                    "FailedPutCount": {
                        "type": "integer"
                    },
                    "Encrypted": {
                        "type": "boolean"
                    },
                    "RequestResponses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecordId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "StartDeliveryStreamEncryption": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "DeliveryStreamEncryptionConfigurationInput": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "StopDeliveryStreamEncryption": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName"
                ],
                "members": {
                    "DeliveryStreamName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "TagDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "Tags"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "Tags": {
                        "shape": "S33"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "UntagDeliveryStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "TagKeys"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "UpdateDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "DeliveryStreamName",
                    "CurrentDeliveryStreamVersionId",
                    "DestinationId"
                ],
                "members": {
                    "DeliveryStreamName": {},
                    "CurrentDeliveryStreamVersionId": {},
                    "DestinationId": {},
                    "S3DestinationUpdate": {
                        "shape": "S4u",
                        "deprecated": true
                    },
                    "ExtendedS3DestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "BucketARN": {},
                            "Prefix": {},
                            "ErrorOutputPrefix": {},
                            "BufferingHints": {
                                "shape": "Se"
                            },
                            "CompressionFormat": {},
                            "EncryptionConfiguration": {
                                "shape": "Si"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupUpdate": {
                                "shape": "S4u"
                            },
                            "DataFormatConversionConfiguration": {
                                "shape": "Sz"
                            }
                        }
                    },
                    "RedshiftDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "ClusterJDBCURL": {},
                            "CopyCommand": {
                                "shape": "S1q"
                            },
                            "Username": {
                                "shape": "S1u"
                            },
                            "Password": {
                                "shape": "S1v"
                            },
                            "RetryOptions": {
                                "shape": "S1w"
                            },
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "S3BackupMode": {},
                            "S3BackupUpdate": {
                                "shape": "S4u"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ElasticsearchDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S25"
                            },
                            "RetryOptions": {
                                "shape": "S28"
                            },
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "SplunkDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "HECEndpoint": {},
                            "HECEndpointType": {},
                            "HECToken": {},
                            "HECAcknowledgmentTimeoutInSeconds": {
                                "type": "integer"
                            },
                            "RetryOptions": {
                                "shape": "S2j"
                            },
                            "S3BackupMode": {},
                            "S3Update": {
                                "shape": "S4u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "HttpEndpointDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "EndpointConfiguration": {
                                "shape": "S2n"
                            },
                            "BufferingHints": {
                                "shape": "S2r"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "RequestConfiguration": {
                                "shape": "S2u"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S30"
                            },
                            "S3BackupMode": {},
                            "S3Update": {
                                "shape": "S4u"
                            }
                        }
                    },
                    "AmazonopensearchserviceDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "DomainARN": {},
                            "ClusterEndpoint": {},
                            "IndexName": {},
                            "TypeName": {},
                            "IndexRotationPeriod": {},
                            "BufferingHints": {
                                "shape": "S2n"
                            },
                            "RetryOptions": {
                                "shape": "S2q"
                            },
                            "S3Update": {
                                "shape": "S5k"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "AmazonOpenSearchServerlessDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "RoleARN": {},
                            "CollectionEndpoint": {},
                            "IndexName": {},
                            "BufferingHints": {
                                "shape": "S3p"
                            },
                            "RetryOptions": {
                                "shape": "S3s"
                            },
                            "S3Update": {
                                "shape": "S5k"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "SnowflakeDestinationUpdate": {
                        "type": "structure",
                        "members": {
                            "AccountUrl": {
                                "shape": "S46"
                            },
                            "PrivateKey": {
                                "shape": "S47"
                            },
                            "KeyPassphrase": {
                                "shape": "S48"
                            },
                            "User": {
                                "shape": "S49"
                            },
                            "Database": {
                                "shape": "S4a"
                            },
                            "Schema": {
                                "shape": "S4b"
                            },
                            "Table": {
                                "shape": "S4c"
                            },
                            "SnowflakeRoleConfiguration": {
                                "shape": "S4d"
                            },
                            "DataLoadingOption": {},
                            "MetaDataColumnName": {
                                "shape": "S4g"
                            },
                            "ContentColumnName": {
                                "shape": "S4h"
                            },
                            "CloudWatchLoggingOptions": {
                                "shape": "Sl"
                            },
                            "ProcessingConfiguration": {
                                "shape": "Sq"
                            },
                            "RoleARN": {},
                            "RetryOptions": {
                                "shape": "S4k"
                            },
                            "S3BackupMode": {},
                            "S3Update": {
                                "shape": "S6e"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "required": [
                "KeyType"
            ],
            "members": {
                "KeyARN": {},
                "KeyType": {}
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "RoleARN",
                "BucketARN"
            ],
            "members": {
                "RoleARN": {},
                "BucketARN": {},
                "Prefix": {},
                "ErrorOutputPrefix": {},
                "BufferingHints": {
                    "shape": "Se"
                },
                "CompressionFormat": {},
                "EncryptionConfiguration": {
                    "shape": "Si"
                },
                "CloudWatchLoggingOptions": {
                    "shape": "Sl"
                }
            }
        },
        "Se": {
            "type": "structure",
            "members": {
                "SizeInMBs": {
                    "type": "integer"
                },
                "IntervalInSeconds": {
                    "type": "integer"
                }
            }
        },
        "Si": {
            "type": "structure",
            "members": {
                "NoEncryptionConfig": {},
                "KMSEncryptionConfig": {
                    "type": "structure",
                    "required": [
                        "AWSKMSKeyARN"
                    ],
                    "members": {
                        "AWSKMSKeyARN": {}
                    }
                }
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogGroupName": {},
                "LogStreamName": {}
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "Processors": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Type"
                        ],
                        "members": {
                            "Type": {},
                            "Parameters": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "ParameterName",
                                        "ParameterValue"
                                    ],
                                    "members": {
                                        "ParameterName": {},
                                        "ParameterValue": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sz": {
            "type": "structure",
            "members": {
                "SchemaConfiguration": {
                    "type": "structure",
                    "members": {
                        "RoleARN": {},
                        "CatalogId": {},
                        "DatabaseName": {},
                        "TableName": {},
                        "Region": {},
                        "VersionId": {}
                    }
                },
                "InputFormatConfiguration": {
                    "type": "structure",
                    "members": {
                        "Deserializer": {
                            "type": "structure",
                            "members": {
                                "OpenXJsonSerDe": {
                                    "type": "structure",
                                    "members": {
                                        "ConvertDotsInJsonKeysToUnderscores": {
                                            "type": "boolean"
                                        },
                                        "CaseInsensitive": {
                                            "type": "boolean"
                                        },
                                        "ColumnToJsonKeyMappings": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        }
                                    }
                                },
                                "HiveJsonSerDe": {
                                    "type": "structure",
                                    "members": {
                                        "TimestampFormats": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "OutputFormatConfiguration": {
                    "type": "structure",
                    "members": {
                        "Serializer": {
                            "type": "structure",
                            "members": {
                                "ParquetSerDe": {
                                    "type": "structure",
                                    "members": {
                                        "BlockSizeBytes": {
                                            "type": "integer"
                                        },
                                        "PageSizeBytes": {
                                            "type": "integer"
                                        },
                                        "Compression": {},
                                        "EnableDictionaryCompression": {
                                            "type": "boolean"
                                        },
                                        "MaxPaddingBytes": {
                                            "type": "integer"
                                        },
                                        "WriterVersion": {}
                                    }
                                },
                                "OrcSerDe": {
                                    "type": "structure",
                                    "members": {
                                        "StripeSizeBytes": {
                                            "type": "integer"
                                        },
                                        "BlockSizeBytes": {
                                            "type": "integer"
                                        },
                                        "RowIndexStride": {
                                            "type": "integer"
                                        },
                                        "EnablePadding": {
                                            "type": "boolean"
                                        },
                                        "PaddingTolerance": {
                                            "type": "double"
                                        },
                                        "Compression": {},
                                        "BloomFilterColumns": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "BloomFilterFalsePositiveProbability": {
                                            "type": "double"
                                        },
                                        "DictionaryKeyThreshold": {
                                            "type": "double"
                                        },
                                        "FormatVersion": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "Enabled": {
                    "type": "boolean"
                }
            }
        },
        "S1q": {
            "type": "structure",
            "required": [
                "DataTableName"
            ],
            "members": {
                "DataTableName": {},
                "DataTableColumns": {},
                "CopyOptions": {}
            }
        },
        "S1u": {
            "type": "string",
            "sensitive": true
        },
        "S1v": {
            "type": "string",
            "sensitive": true
        },
        "S1w": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S25": {
            "type": "structure",
            "members": {
                "IntervalInSeconds": {
                    "type": "integer"
                },
                "SizeInMBs": {
                    "type": "integer"
                }
            }
        },
        "S28": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "integer"
                }
            }
        },
        "S2c": {
            "type": "list",
            "member": {}
        },
        "S2d": {
            "type": "list",
            "member": {}
        },
        "S2j": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
[...]
