{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-12-01",
        "endpointPrefix": "fis",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "FIS",
        "serviceFullName": "AWS Fault Injection Simulator",
        "serviceId": "fis",
        "signatureVersion": "v4",
        "signingName": "fis",
        "uid": "fis-2020-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "CreateExperimentTemplate": {
            "http": {
                "requestUri": "/experimentTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "description",
                    "stopConditions",
                    "actions",
                    "roleArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "stopConditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {},
                                "value": {}
                            }
                        }
                    },
                    "targets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "resourceType",
                                "selectionMode"
                            ],
                            "members": {
                                "resourceType": {},
                                "resourceArns": {
                                    "shape": "Sc"
                                },
                                "resourceTags": {
                                    "shape": "Se"
                                },
                                "filters": {
                                    "shape": "Sh"
                                },
                                "selectionMode": {},
                                "parameters": {
                                    "shape": "Sn"
                                }
                            }
                        }
                    },
                    "actions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "actionId"
                            ],
                            "members": {
                                "actionId": {},
                                "description": {},
                                "parameters": {
                                    "shape": "Sv"
                                },
                                "targets": {
                                    "shape": "Sy"
                                },
                                "startAfter": {
                                    "shape": "S10"
                                }
                            }
                        }
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Se"
                    },
                    "logConfiguration": {
                        "type": "structure",
                        "required": [
                            "logSchemaVersion"
                        ],
                        "members": {
                            "cloudWatchLogsConfiguration": {
                                "shape": "S14"
                            },
                            "s3Configuration": {
                                "shape": "S16"
                            },
                            "logSchemaVersion": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteExperimentTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetAction": {
            "http": {
                "method": "GET",
                "requestUri": "/actions/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "action": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "description": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "description": {},
                                        "required": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "targets": {
                                "shape": "S21"
                            },
                            "tags": {
                                "shape": "Se"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetExperiment": {
            "http": {
                "method": "GET",
                "requestUri": "/experiments/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetExperimentTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetTargetResourceType": {
            "http": {
                "method": "GET",
                "requestUri": "/targetResourceTypes/{resourceType}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceType"
                ],
                "members": {
                    "resourceType": {
                        "location": "uri",
                        "locationName": "resourceType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetResourceType": {
                        "type": "structure",
                        "members": {
                            "resourceType": {},
                            "description": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "description": {},
                                        "required": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "ListActions": {
            "http": {
                "method": "GET",
                "requestUri": "/actions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "actions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "description": {},
                                "targets": {
                                    "shape": "S21"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListExperimentTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/experimentTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "description": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListExperiments": {
            "http": {
                "method": "GET",
                "requestUri": "/experiments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "experimentTemplateId": {},
                                "state": {
                                    "shape": "S28"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListTargetResourceTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/targetResourceTypes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetResourceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceType": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "StartExperiment": {
            "http": {
                "requestUri": "/experiments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "experimentTemplateId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "experimentTemplateId": {},
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "StopExperiment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/experiments/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experiment": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UpdateExperimentTemplate": {
            "http": {
                "method": "PATCH",
                "requestUri": "/experimentTemplates/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "description": {},
                    "stopConditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {},
                                "value": {}
                            }
                        }
                    },
                    "targets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "resourceType",
                                "selectionMode"
                            ],
                            "members": {
                                "resourceType": {},
                                "resourceArns": {
                                    "shape": "Sc"
                                },
                                "resourceTags": {
                                    "shape": "Se"
                                },
                                "filters": {
                                    "shape": "Sh"
                                },
                                "selectionMode": {},
                                "parameters": {
                                    "shape": "Sn"
                                }
                            }
                        }
                    },
                    "actions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "actionId": {},
                                "description": {},
                                "parameters": {
                                    "shape": "Sv"
                                },
                                "targets": {
                                    "shape": "Sy"
                                },
                                "startAfter": {
                                    "shape": "S10"
                                }
                            }
                        }
                    },
                    "roleArn": {},
                    "logConfiguration": {
                        "type": "structure",
                        "members": {
                            "cloudWatchLogsConfiguration": {
                                "shape": "S14"
                            },
                            "s3Configuration": {
                                "shape": "S16"
                            },
                            "logSchemaVersion": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "experimentTemplate": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sc": {
            "type": "list",
            "member": {}
        },
        "Se": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sh": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "path",
                    "values"
                ],
                "members": {
                    "path": {},
                    "values": {
                        "shape": "Sk"
                    }
                }
            }
        },
        "Sk": {
            "type": "list",
            "member": {}
        },
        "Sn": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sv": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sy": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S10": {
            "type": "list",
            "member": {}
        },
        "S14": {
            "type": "structure",
            "required": [
                "logGroupArn"
            ],
            "members": {
                "logGroupArn": {}
            }
        },
        "S16": {
            "type": "structure",
            "required": [
                "bucketName"
            ],
            "members": {
                "bucketName": {},
                "prefix": {}
            }
        },
        "S1b": {
            "type": "structure",
            "members": {
                "id": {},
                "description": {},
                "targets": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "resourceType": {},
                            "resourceArns": {
                                "shape": "Sc"
                            },
                            "resourceTags": {
                                "shape": "Se"
                            },
                            "filters": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "path": {},
                                        "values": {
                                            "shape": "Sk"
                                        }
                                    }
                                }
                            },
                            "selectionMode": {},
                            "parameters": {
                                "shape": "Sn"
                            }
                        }
                    }
                },
                "actions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "actionId": {},
                            "description": {},
                            "parameters": {
                                "shape": "Sv"
                            },
                            "targets": {
                                "shape": "Sy"
                            },
                            "startAfter": {
                                "shape": "S10"
                            }
                        }
                    }
                },
                "stopConditions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "source": {},
                            "value": {}
                        }
                    }
                },
                "creationTime": {
                    "type": "timestamp"
                },
                "lastUpdateTime": {
                    "type": "timestamp"
                },
                "roleArn": {},
                "tags": {
                    "shape": "Se"
                },
                "logConfiguration": {
                    "type": "structure",
                    "members": {
                        "cloudWatchLogsConfiguration": {
                            "type": "structure",
                            "members": {
                                "logGroupArn": {}
                            }
                        },
                        "s3Configuration": {
                            "type": "structure",
                            "members": {
                                "bucketName": {},
                                "prefix": {}
                            }
                        },
                        "logSchemaVersion": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "S21": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "resourceType": {}
                }
            }
        },
        "S27": {
            "type": "structure",
            "members": {
                "id": {},
                "experimentTemplateId": {},
                "roleArn": {},
                "state": {
                    "shape": "S28"
                },
                "targets": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "resourceType": {},
                            "resourceArns": {
                                "shape": "Sc"
                            },
                            "resourceTags": {
                                "shape": "Se"
                            },
                            "filters": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "path": {},
                                        "values": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            },
                            "selectionMode": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "actions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "actionId": {},
                            "description": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "targets": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "startAfter": {
                                "type": "list",
                                "member": {}
                            },
                            "state": {
                                "type": "structure",
                                "members": {
                                    "status": {},
                                    "reason": {}
                                }
                            },
                            "startTime": {
                                "type": "timestamp"
                            },
                            "endTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                },
                "stopConditions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "source": {},
                            "value": {}
                        }
                    }
                },
                "creationTime": {
                    "type": "timestamp"
                },
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "tags": {
                    "shape": "Se"
                },
                "logConfiguration": {
                    "type": "structure",
                    "members": {
                        "cloudWatchLogsConfiguration": {
                            "type": "structure",
                            "members": {
                                "logGroupArn": {}
                            }
                        },
                        "s3Configuration": {
                            "type": "structure",
                            "members": {
                                "bucketName": {},
                                "prefix": {}
                            }
                        },
                        "logSchemaVersion": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "S28": {
            "type": "structure",
            "members": {
                "status": {},
                "reason": {}
            }
        },
        "S1r": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "resourceType": {}
                }
            }
        },
        "S1x": {
            "type": "structure",
            "members": {
                "id": {},
                "experimentTemplateId": {},
                "roleArn": {},
                "state": {
                    "shape": "S1y"
                },
                "targets": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "resourceType": {},
                            "resourceArns": {
                                "shape": "Sc"
                            },
                            "resourceTags": {
                                "shape": "Se"
                            },
                            "filters": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "path": {},
                                        "values": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            },
                            "selectionMode": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "actions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "actionId": {},
                            "description": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "targets": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "startAfter": {
                                "type": "list",
                                "member": {}
                            },
                            "state": {
                                "type": "structure",
                                "members": {
                                    "status": {},
                                    "reason": {}
                                }
                            },
                            "startTime": {
                                "type": "timestamp"
                            },
                            "endTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                },
                "stopConditions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "source": {},
                            "value": {}
                        }
                    }
                },
                "creationTime": {
                    "type": "timestamp"
                },
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "tags": {
                    "shape": "Se"
                }
            }
        },
        "S1y": {
            "type": "structure",
            "members": {
                "status": {},
                "reason": {}
            }
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sx": {
            "type": "list",
            "member": {}
        },
        "S11": {
            "type": "structure",
            "members": {
                "id": {},
                "description": {},
                "targets": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "resourceType": {},
                            "resourceArns": {
                                "shape": "Sc"
                            },
                            "resourceTags": {
                                "shape": "Se"
                            },
                            "filters": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "path": {},
                                        "values": {
                                            "shape": "Sk"
                                        }
                                    }
                                }
                            },
                            "selectionMode": {}
                        }
                    }
                },
                "actions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "actionId": {},
                            "description": {},
                            "parameters": {
                                "shape": "Ss"
                            },
                            "targets": {
                                "shape": "Sv"
                            },
                            "startAfter": {
                                "shape": "Sx"
                            }
                        }
                    }
                },
                "stopConditions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "source": {},
                            "value": {}
                        }
                    }
                },
                "creationTime": {
                    "type": "timestamp"
                },
                "lastUpdateTime": {
                    "type": "timestamp"
                },
                "roleArn": {},
                "tags": {
                    "shape": "Se"
                }
            }
        },
        "S1o": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "resourceType": {}
                }
            }
        },
        "S1v": {
            "type": "structure",
            "members": {
                "id": {},
                "experimentTemplateId": {},
                "roleArn": {},
                "state": {
                    "shape": "S1w"
                },
                "targets": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "resourceType": {},
                            "resourceArns": {
                                "shape": "Sc"
                            },
                            "resourceTags": {
                                "shape": "Se"
                            },
                            "filters": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "path": {},
                                        "values": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            },
                            "selectionMode": {}
                        }
                    }
                },
                "actions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "actionId": {},
                            "description": {},
                            "parameters": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "targets": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "startAfter": {
                                "type": "list",
                                "member": {}
                            },
                            "state": {
                                "type": "structure",
                                "members": {
                                    "status": {},
                                    "reason": {}
                                }
                            }
                        }
                    }
                },
                "stopConditions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "source": {},
                            "value": {}
                        }
                    }
                },
                "creationTime": {
                    "type": "timestamp"
                },
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "tags": {
                    "shape": "Se"
                }
            }
        },
        "S1w": {
            "type": "structure",
            "members": {
                "status": {},
                "reason": {}
            }
        }
    }
}