{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-01",
        "endpointPrefix": "fms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "FMS",
        "serviceFullName": "Firewall Management Service",
        "serviceId": "FMS",
        "signatureVersion": "v4",
        "targetPrefix": "AWSFMS_20180101",
        "uid": "fms-2018-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SZ4UMXT76T2EDOWQ2OZ4JQD6G2NWZEIB3NHSZUP6M5C72XYRB27A/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateAdminAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AdminAccount"
                ],
                "members": {
                    "AdminAccount": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AssociateThirdPartyFirewall": {
            "input": {
                "type": "structure",
                "required": [
                    "ThirdPartyFirewall"
                ],
                "members": {
                    "ThirdPartyFirewall": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ThirdPartyFirewallStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAQ6SOS5MJ7ODK3TBSSD7DEHEI6IDKSHXPEMVRHYL3N6QSKY5FDQ/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWN3DSF4OABSMWFHE6QZODB7RTGQ6KMDHPUTQF3H2L56CUAIL3DA/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL6IROJWQ7T73VRQQIN4JMLOOX3CHXR5AZJ2RQIYV4HIY24ACE3A/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB3WQGU2ARMHT7VUCN47SR734F4DXOEBXVTGWA4L7PH2XZ7JUEMQ/03c23c3883904c5a18fcf135364285d1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6NMPT76FYI2M5OB7BY6JHAYASRMPS573ZWSB4D5RZNJTCHRSEEQ/8efe99d93ee138c4d5966de9a7cfe7c8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7UH45VMN43NARYSR3FRHCNBLHNITXVUT6SE4D7ROO25FPU5XWUQ/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ4UMXT76T2EDOWQ2OZ4JQD6G2NWZEIB3NHSZUP6M5C72XYRB27A/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchAssociateResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceSetIdentifier",
                    "Items"
                ],
                "members": {
                    "ResourceSetIdentifier": {},
                    "Items": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceSetIdentifier",
                    "FailedItems"
                ],
                "members": {
                    "ResourceSetIdentifier": {},
                    "FailedItems": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAQ6SOS5MJ7ODK3TBSSD7DEHEI6IDKSHXPEMVRHYL3N6QSKY5FDQ/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWN3DSF4OABSMWFHE6QZODB7RTGQ6KMDHPUTQF3H2L56CUAIL3DA/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL6IROJWQ7T73VRQQIN4JMLOOX3CHXR5AZJ2RQIYV4HIY24ACE3A/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB3WQGU2ARMHT7VUCN47SR734F4DXOEBXVTGWA4L7PH2XZ7JUEMQ/03c23c3883904c5a18fcf135364285d1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6NMPT76FYI2M5OB7BY6JHAYASRMPS573ZWSB4D5RZNJTCHRSEEQ/8efe99d93ee138c4d5966de9a7cfe7c8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7UH45VMN43NARYSR3FRHCNBLHNITXVUT6SE4D7ROO25FPU5XWUQ/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ4UMXT76T2EDOWQ2OZ4JQD6G2NWZEIB3NHSZUP6M5C72XYRB27A/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchDisassociateResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceSetIdentifier",
                    "Items"
                ],
                "members": {
                    "ResourceSetIdentifier": {},
                    "Items": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceSetIdentifier",
                    "FailedItems"
                ],
                "members": {
                    "ResourceSetIdentifier": {},
                    "FailedItems": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAQ6SOS5MJ7ODK3TBSSD7DEHEI6IDKSHXPEMVRHYL3N6QSKY5FDQ/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWN3DSF4OABSMWFHE6QZODB7RTGQ6KMDHPUTQF3H2L56CUAIL3DA/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL6IROJWQ7T73VRQQIN4JMLOOX3CHXR5AZJ2RQIYV4HIY24ACE3A/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB3WQGU2ARMHT7VUCN47SR734F4DXOEBXVTGWA4L7PH2XZ7JUEMQ/03c23c3883904c5a18fcf135364285d1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6NMPT76FYI2M5OB7BY6JHAYASRMPS573ZWSB4D5RZNJTCHRSEEQ/8efe99d93ee138c4d5966de9a7cfe7c8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7UH45VMN43NARYSR3FRHCNBLHNITXVUT6SE4D7ROO25FPU5XWUQ/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ4UMXT76T2EDOWQ2OZ4JQD6G2NWZEIB3NHSZUP6M5C72XYRB27A/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAppsList": {
            "input": {
                "type": "structure",
                "required": [
                    "ListId"
                ],
                "members": {
                    "ListId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteNotificationChannel": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {},
                    "DeleteAllPolicyResources": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteProtocolsList": {
            "input": {
                "type": "structure",
                "required": [
                    "ListId"
                ],
                "members": {
                    "ListId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteResourceSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAQ6SOS5MJ7ODK3TBSSD7DEHEI6IDKSHXPEMVRHYL3N6QSKY5FDQ/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWN3DSF4OABSMWFHE6QZODB7RTGQ6KMDHPUTQF3H2L56CUAIL3DA/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL6IROJWQ7T73VRQQIN4JMLOOX3CHXR5AZJ2RQIYV4HIY24ACE3A/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB3WQGU2ARMHT7VUCN47SR734F4DXOEBXVTGWA4L7PH2XZ7JUEMQ/03c23c3883904c5a18fcf135364285d1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6NMPT76FYI2M5OB7BY6JHAYASRMPS573ZWSB4D5RZNJTCHRSEEQ/8efe99d93ee138c4d5966de9a7cfe7c8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7UH45VMN43NARYSR3FRHCNBLHNITXVUT6SE4D7ROO25FPU5XWUQ/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ4UMXT76T2EDOWQ2OZ4JQD6G2NWZEIB3NHSZUP6M5C72XYRB27A/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DisassociateAdminAccount": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DisassociateThirdPartyFirewall": {
            "input": {
                "type": "structure",
                "required": [
                    "ThirdPartyFirewall"
                ],
                "members": {
                    "ThirdPartyFirewall": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ThirdPartyFirewallStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAQ6SOS5MJ7ODK3TBSSD7DEHEI6IDKSHXPEMVRHYL3N6QSKY5FDQ/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWN3DSF4OABSMWFHE6QZODB7RTGQ6KMDHPUTQF3H2L56CUAIL3DA/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL6IROJWQ7T73VRQQIN4JMLOOX3CHXR5AZJ2RQIYV4HIY24ACE3A/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB3WQGU2ARMHT7VUCN47SR734F4DXOEBXVTGWA4L7PH2XZ7JUEMQ/03c23c3883904c5a18fcf135364285d1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6NMPT76FYI2M5OB7BY6JHAYASRMPS573ZWSB4D5RZNJTCHRSEEQ/8efe99d93ee138c4d5966de9a7cfe7c8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7UH45VMN43NARYSR3FRHCNBLHNITXVUT6SE4D7ROO25FPU5XWUQ/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ4UMXT76T2EDOWQ2OZ4JQD6G2NWZEIB3NHSZUP6M5C72XYRB27A/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAdminAccount": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdminAccount": {},
                    "RoleStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAppsList": {
            "input": {
                "type": "structure",
                "required": [
                    "ListId"
                ],
                "members": {
                    "ListId": {},
                    "DefaultList": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppsList": {
                        "shape": "Sx"
                    },
                    "AppsListArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetComplianceDetail": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "MemberAccount"
                ],
                "members": {
                    "PolicyId": {},
                    "MemberAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyComplianceDetail": {
                        "type": "structure",
                        "members": {
                            "PolicyOwner": {},
                            "PolicyId": {},
                            "MemberAccount": {},
                            "Violators": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "ResourceId": {},
                                        "ViolationReason": {},
                                        "ResourceType": {},
                                        "Metadata": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        }
                                    }
                                }
                            },
                            "EvaluationLimitExceeded": {
                                "type": "boolean"
                            },
                            "ExpiredAt": {
                                "type": "timestamp"
                            },
                            "IssueInfoMap": {
                                "shape": "S1i"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetNotificationChannel": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnsTopicArn": {},
                    "SnsRoleName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1p"
                    },
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetProtectionStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {},
                    "MemberAccountId": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdminAccountId": {},
                    "ServiceType": {},
                    "Data": {},
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetProtocolsList": {
            "input": {
                "type": "structure",
                "required": [
                    "ListId"
                ],
                "members": {
                    "ListId": {},
                    "DefaultList": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProtocolsList": {
                        "shape": "S2g"
                    },
                    "ProtocolsListArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetResourceSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceSet",
                    "ResourceSetArn"
                ],
                "members": {
                    "ResourceSet": {
                        "shape": "S2l"
                    },
                    "ResourceSetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAQ6SOS5MJ7ODK3TBSSD7DEHEI6IDKSHXPEMVRHYL3N6QSKY5FDQ/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWN3DSF4OABSMWFHE6QZODB7RTGQ6KMDHPUTQF3H2L56CUAIL3DA/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL6IROJWQ7T73VRQQIN4JMLOOX3CHXR5AZJ2RQIYV4HIY24ACE3A/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB3WQGU2ARMHT7VUCN47SR734F4DXOEBXVTGWA4L7PH2XZ7JUEMQ/03c23c3883904c5a18fcf135364285d1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6NMPT76FYI2M5OB7BY6JHAYASRMPS573ZWSB4D5RZNJTCHRSEEQ/8efe99d93ee138c4d5966de9a7cfe7c8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7UH45VMN43NARYSR3FRHCNBLHNITXVUT6SE4D7ROO25FPU5XWUQ/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ4UMXT76T2EDOWQ2OZ4JQD6G2NWZEIB3NHSZUP6M5C72XYRB27A/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetThirdPartyFirewallAssociationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ThirdPartyFirewall"
                ],
                "members": {
                    "ThirdPartyFirewall": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ThirdPartyFirewallStatus": {},
                    "MarketplaceOnboardingStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAQ6SOS5MJ7ODK3TBSSD7DEHEI6IDKSHXPEMVRHYL3N6QSKY5FDQ/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWN3DSF4OABSMWFHE6QZODB7RTGQ6KMDHPUTQF3H2L56CUAIL3DA/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL6IROJWQ7T73VRQQIN4JMLOOX3CHXR5AZJ2RQIYV4HIY24ACE3A/68eb6a50e402b5da80c7a5e1cb863553.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB3WQGU2ARMHT7VUCN47SR734F4DXOEBXVTGWA4L7PH2XZ7JUEMQ/03c23c3883904c5a18fcf135364285d1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6NMPT76FYI2M5OB7BY6JHAYASRMPS573ZWSB4D5RZNJTCHRSEEQ/8efe99d93ee138c4d5966de9a7cfe7c8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7UH45VMN43NARYSR3FRHCNBLHNITXVUT6SE4D7ROO25FPU5XWUQ/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ4UMXT76T2EDOWQ2OZ4JQD6G2NWZEIB3NHSZUP6M5C72XYRB27A/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USN6SNCTQINHXEDVKIAYFMYGAFPSLJVCCK6QYEPETBMIP53M66ZA/3f88a0733a0c0a0e3d920ab0d7bf0ad2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBCDGOLXFKIFPX3VWYQKCJZ3UJOV7DZEWXRNJTN7RTQPG4JOO22Q/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPS4LW3ZN2MX4VVZ2HB6Y66ZYEKA45TBMNRX57BFB2C7M7KW3CDQ/d063fdf063982d3fa7b0d0b21b6e4e1e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22YUOP3SLKOK7DSIXAZE37ROPJ7DDG2HOZLQJQTRMF4G3HCBPZQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLPMCHQQBBON3A2B3SKREDKIL6KBT7LHNY57DWGFQQ27LN37EMLQ/a597ec1e91bc62d0f7767267b9f78e5e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMJTLMIJADDDVBP3Y43XNA35WU4IZY4EBZEGV5TF3HL6LW4AZ3SQ/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUA74MTCDOWXX4B6Y2MKORABJ7OHT35MN4LPVA6OXU53A7ZYGMWA/041c0b6bcae6bd35aa036c13f77b0451.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7S36YTPMMMUHIOLAF7D6MLI25T3NTESMXSVOR2FD5BHDKL3C6IA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KZ43YBP56KOX4L3RYRRRRNQDYZEKHOCVKYZ376DHZNXC5HZLOTA/179d2b084d91615730463310ba33a1f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XN6U3GNPW3IEQHD2UN65UZ5FOENI4QNR7AK7F7BUX5KR2ZLNTVDA/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLM3EUHMVYHLMVWZSQ4Y273LAF2BTR3IQ7FTITRICKZQYAMNM7Q/ef6240315a1b5bcfb70c41ea2fc27e66.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/2d149101ad0ba5b2faddd1f16639fe4a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetViolationDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "MemberAccount",
                    "ResourceId",
                    "ResourceType"
                ],
                "members": {
                    "PolicyId": {},
                    "MemberAccount": {},
                    "ResourceId": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViolationDetail": {
                        "type": "structure",
                        "required": [
                            "PolicyId",
                            "MemberAccount",
                            "ResourceId",
                            "ResourceType",
                            "ResourceViolations"
                        ],
                        "members": {
                            "PolicyId": {},
                            "MemberAccount": {},
                            "ResourceId": {},
                            "ResourceType": {},
                            "ResourceViolations": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "AwsVPCSecurityGroupViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "ViolationTargetDescription": {},
                                                "PartialMatches": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "members": {
                                                            "Reference": {},
                                                            "TargetViolationReasons": {
                                                                "type": "list",
                                                                "member": {}
                                                            }
                                                        }
                                                    }
                                                },
                                                "PossibleSecurityGroupRemediationActions": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "members": {
                                                            "RemediationActionType": {},
                                                            "Description": {},
                                                            "RemediationResult": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "IPV4Range": {},
                                                                    "IPV6Range": {},
                                                                    "PrefixListId": {},
                                                                    "Protocol": {},
                                                                    "FromPort": {
                                                                        "type": "long"
                                                                    },
                                                                    "ToPort": {
                                                                        "type": "long"
                                                                    }
                                                                }
                                                            },
                                                            "IsDefaultAction": {
                                                                "type": "boolean"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "AwsEc2NetworkInterfaceViolation": {
                                            "shape": "S39"
                                        },
                                        "AwsEc2InstanceViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "AwsEc2NetworkInterfaceViolations": {
                                                    "type": "list",
                                                    "member": {
                                                        "shape": "S39"
                                                    }
                                                }
                                            }
                                        },
                                        "NetworkFirewallMissingFirewallViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "VPC": {},
                                                "AvailabilityZone": {},
                                                "TargetViolationReason": {}
                                            }
                                        },
                                        "NetworkFirewallMissingSubnetViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "VPC": {},
                                                "AvailabilityZone": {},
                                                "TargetViolationReason": {}
                                            }
                                        },
                                        "NetworkFirewallMissingExpectedRTViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "VPC": {},
                                                "AvailabilityZone": {},
                                                "CurrentRouteTable": {},
                                                "ExpectedRouteTable": {}
                                            }
                                        },
                                        "NetworkFirewallPolicyModifiedViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "CurrentPolicyDescription": {
                                                    "shape": "S3h"
                                                },
                                                "ExpectedPolicyDescription": {
                                                    "shape": "S3h"
                                                }
                                            }
                                        },
                                        "NetworkFirewallInternetTrafficNotInspectedViolation": {
                                            "type": "structure",
                                            "members": {
                                                "SubnetId": {},
                                                "SubnetAvailabilityZone": {},
                                                "RouteTableId": {},
                                                "ViolatingRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "IsRouteTableUsedInDifferentAZ": {
                                                    "type": "boolean"
                                                },
                                                "CurrentFirewallSubnetRouteTable": {},
                                                "ExpectedFirewallEndpoint": {},
                                                "FirewallSubnetId": {},
                                                "ExpectedFirewallSubnetRoutes": {
                                                    "shape": "S40"
                                                },
                                                "ActualFirewallSubnetRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "InternetGatewayId": {},
                                                "CurrentInternetGatewayRouteTable": {},
                                                "ExpectedInternetGatewayRoutes": {
                                                    "shape": "S40"
                                                },
                                                "ActualInternetGatewayRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "VpcId": {}
                                            }
                                        },
                                        "NetworkFirewallInvalidRouteConfigurationViolation": {
                                            "type": "structure",
                                            "members": {
                                                "AffectedSubnets": {
                                                    "shape": "S3a"
                                                },
                                                "RouteTableId": {},
                                                "IsRouteTableUsedInDifferentAZ": {
                                                    "type": "boolean"
                                                },
                                                "ViolatingRoute": {
                                                    "shape": "S3x"
                                                },
                                                "CurrentFirewallSubnetRouteTable": {},
                                                "ExpectedFirewallEndpoint": {},
                                                "ActualFirewallEndpoint": {},
                                                "ExpectedFirewallSubnetId": {},
                                                "ActualFirewallSubnetId": {},
                                                "ExpectedFirewallSubnetRoutes": {
                                                    "shape": "S40"
                                                },
                                                "ActualFirewallSubnetRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "InternetGatewayId": {},
                                                "CurrentInternetGatewayRouteTable": {},
                                                "ExpectedInternetGatewayRoutes": {
                                                    "shape": "S40"
                                                },
                                                "ActualInternetGatewayRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "VpcId": {}
                                            }
                                        },
                                        "NetworkFirewallBlackHoleRouteDetectedViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "RouteTableId": {},
                                                "VpcId": {},
                                                "ViolatingRoutes": {
                                                    "shape": "S3w"
                                                }
                                            }
                                        },
                                        "NetworkFirewallUnexpectedFirewallRoutesViolation": {
                                            "type": "structure",
                                            "members": {
                                                "FirewallSubnetId": {},
                                                "ViolatingRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "RouteTableId": {},
                                                "FirewallEndpoint": {},
                                                "VpcId": {}
                                            }
                                        },
                                        "NetworkFirewallUnexpectedGatewayRoutesViolation": {
                                            "type": "structure",
                                            "members": {
                                                "GatewayId": {},
                                                "ViolatingRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "RouteTableId": {},
                                                "VpcId": {}
                                            }
                                        },
                                        "NetworkFirewallMissingExpectedRoutesViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "ExpectedRoutes": {
                                                    "shape": "S40"
                                                },
                                                "VpcId": {}
                                            }
                                        },
                                        "DnsRuleGroupPriorityConflictViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "ViolationTargetDescription": {},
                                                "ConflictingPriority": {
                                                    "type": "integer"
                                                },
                                                "ConflictingPolicyId": {},
[...]
