{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-01",
        "endpointPrefix": "fms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "FMS",
        "serviceFullName": "Firewall Management Service",
        "serviceId": "FMS",
        "signatureVersion": "v4",
        "targetPrefix": "AWSFMS_20180101",
        "uid": "fms-2018-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateAdminAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AdminAccount"
                ],
                "members": {
                    "AdminAccount": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateThirdPartyFirewall": {
            "input": {
                "type": "structure",
                "required": [
                    "ThirdPartyFirewall"
                ],
                "members": {
                    "ThirdPartyFirewall": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ThirdPartyFirewallStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3BRWJI3CMIDPQ4V56BS6G4OJNUW5YHTYNWHQC3JRU6JQMLQAJSA/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3UBSO3DPYJV3RA7345L3FE6JT4IGIOWCFXAMGDKKTQLUI374C3A/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVHPHBXDWXF7LRXACHKJQCYV7DSOP54GO25NRG74HAPLEDJG6EUQ/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/e9bfc36de1e57bc742289a5f1a434cd5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchAssociateResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceSetIdentifier",
                    "Items"
                ],
                "members": {
                    "ResourceSetIdentifier": {},
                    "Items": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceSetIdentifier",
                    "FailedItems"
                ],
                "members": {
                    "ResourceSetIdentifier": {},
                    "FailedItems": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3BRWJI3CMIDPQ4V56BS6G4OJNUW5YHTYNWHQC3JRU6JQMLQAJSA/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3UBSO3DPYJV3RA7345L3FE6JT4IGIOWCFXAMGDKKTQLUI374C3A/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVHPHBXDWXF7LRXACHKJQCYV7DSOP54GO25NRG74HAPLEDJG6EUQ/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/e9bfc36de1e57bc742289a5f1a434cd5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchDisassociateResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceSetIdentifier",
                    "Items"
                ],
                "members": {
                    "ResourceSetIdentifier": {},
                    "Items": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceSetIdentifier",
                    "FailedItems"
                ],
                "members": {
                    "ResourceSetIdentifier": {},
                    "FailedItems": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3BRWJI3CMIDPQ4V56BS6G4OJNUW5YHTYNWHQC3JRU6JQMLQAJSA/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3UBSO3DPYJV3RA7345L3FE6JT4IGIOWCFXAMGDKKTQLUI374C3A/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVHPHBXDWXF7LRXACHKJQCYV7DSOP54GO25NRG74HAPLEDJG6EUQ/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/e9bfc36de1e57bc742289a5f1a434cd5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAppsList": {
            "input": {
                "type": "structure",
                "required": [
                    "ListId"
                ],
                "members": {
                    "ListId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteNotificationChannel": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {},
                    "DeleteAllPolicyResources": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteProtocolsList": {
            "input": {
                "type": "structure",
                "required": [
                    "ListId"
                ],
                "members": {
                    "ListId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteResourceSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3BRWJI3CMIDPQ4V56BS6G4OJNUW5YHTYNWHQC3JRU6JQMLQAJSA/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3UBSO3DPYJV3RA7345L3FE6JT4IGIOWCFXAMGDKKTQLUI374C3A/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVHPHBXDWXF7LRXACHKJQCYV7DSOP54GO25NRG74HAPLEDJG6EUQ/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/e9bfc36de1e57bc742289a5f1a434cd5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateAdminAccount": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateThirdPartyFirewall": {
            "input": {
                "type": "structure",
                "required": [
                    "ThirdPartyFirewall"
                ],
                "members": {
                    "ThirdPartyFirewall": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ThirdPartyFirewallStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3BRWJI3CMIDPQ4V56BS6G4OJNUW5YHTYNWHQC3JRU6JQMLQAJSA/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3UBSO3DPYJV3RA7345L3FE6JT4IGIOWCFXAMGDKKTQLUI374C3A/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVHPHBXDWXF7LRXACHKJQCYV7DSOP54GO25NRG74HAPLEDJG6EUQ/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/e9bfc36de1e57bc742289a5f1a434cd5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAdminAccount": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdminAccount": {},
                    "RoleStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAppsList": {
            "input": {
                "type": "structure",
                "required": [
                    "ListId"
                ],
                "members": {
                    "ListId": {},
                    "DefaultList": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppsList": {
                        "shape": "Sx"
                    },
                    "AppsListArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetComplianceDetail": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "MemberAccount"
                ],
                "members": {
                    "PolicyId": {},
                    "MemberAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyComplianceDetail": {
                        "type": "structure",
                        "members": {
                            "PolicyOwner": {},
                            "PolicyId": {},
                            "MemberAccount": {},
                            "Violators": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "ResourceId": {},
                                        "ViolationReason": {},
                                        "ResourceType": {},
                                        "Metadata": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        }
                                    }
                                }
                            },
                            "EvaluationLimitExceeded": {
                                "type": "boolean"
                            },
                            "ExpiredAt": {
                                "type": "timestamp"
                            },
                            "IssueInfoMap": {
                                "shape": "S1i"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetNotificationChannel": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnsTopicArn": {},
                    "SnsRoleName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1p"
                    },
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetProtectionStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {},
                    "MemberAccountId": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdminAccountId": {},
                    "ServiceType": {},
                    "Data": {},
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetProtocolsList": {
            "input": {
                "type": "structure",
                "required": [
                    "ListId"
                ],
                "members": {
                    "ListId": {},
                    "DefaultList": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProtocolsList": {
                        "shape": "S2g"
                    },
                    "ProtocolsListArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetResourceSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceSet",
                    "ResourceSetArn"
                ],
                "members": {
                    "ResourceSet": {
                        "shape": "S2l"
                    },
                    "ResourceSetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3BRWJI3CMIDPQ4V56BS6G4OJNUW5YHTYNWHQC3JRU6JQMLQAJSA/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3UBSO3DPYJV3RA7345L3FE6JT4IGIOWCFXAMGDKKTQLUI374C3A/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVHPHBXDWXF7LRXACHKJQCYV7DSOP54GO25NRG74HAPLEDJG6EUQ/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/e9bfc36de1e57bc742289a5f1a434cd5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetThirdPartyFirewallAssociationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ThirdPartyFirewall"
                ],
                "members": {
                    "ThirdPartyFirewall": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ThirdPartyFirewallStatus": {},
                    "MarketplaceOnboardingStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3BRWJI3CMIDPQ4V56BS6G4OJNUW5YHTYNWHQC3JRU6JQMLQAJSA/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3UBSO3DPYJV3RA7345L3FE6JT4IGIOWCFXAMGDKKTQLUI374C3A/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVHPHBXDWXF7LRXACHKJQCYV7DSOP54GO25NRG74HAPLEDJG6EUQ/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/71d1e31249efddd0c9abf4bcbd1bb3c6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/e9bfc36de1e57bc742289a5f1a434cd5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS57LOHNH4QQQS5Q3MYXVXO44S5SYZETTASWJ3ANV6LKJ42TRE6Q/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NEKL4JS6XKJIGSHY43XDS47RFI3LEJM23ZS7JMFDILLHR3HK6A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDKP3QANOYKAHGP3NC2LBYJYAGDKC4JMC5D6E2QTVKMCGXW4EJJQ/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHNB2V5HSQTBKX5QUK7BSDHHRWPW57PG5LIFYNIGRUHC4KFIDV7A/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2TIKMRIUSR4C73UOVPVEH6VEP654MMQ5JOZABJOZXDP6FYLZQQA/bb9eda32be9337a8c0759cf6f1ec6ecc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetViolationDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "MemberAccount",
                    "ResourceId",
                    "ResourceType"
                ],
                "members": {
                    "PolicyId": {},
                    "MemberAccount": {},
                    "ResourceId": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViolationDetail": {
                        "type": "structure",
                        "required": [
                            "PolicyId",
                            "MemberAccount",
                            "ResourceId",
                            "ResourceType",
                            "ResourceViolations"
                        ],
                        "members": {
                            "PolicyId": {},
                            "MemberAccount": {},
                            "ResourceId": {},
                            "ResourceType": {},
                            "ResourceViolations": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "AwsVPCSecurityGroupViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "ViolationTargetDescription": {},
                                                "PartialMatches": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "members": {
                                                            "Reference": {},
                                                            "TargetViolationReasons": {
                                                                "type": "list",
                                                                "member": {}
                                                            }
                                                        }
                                                    }
                                                },
                                                "PossibleSecurityGroupRemediationActions": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "members": {
                                                            "RemediationActionType": {},
                                                            "Description": {},
                                                            "RemediationResult": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "IPV4Range": {},
                                                                    "IPV6Range": {},
                                                                    "PrefixListId": {},
                                                                    "Protocol": {},
                                                                    "FromPort": {
                                                                        "type": "long"
                                                                    },
                                                                    "ToPort": {
                                                                        "type": "long"
                                                                    }
                                                                }
                                                            },
                                                            "IsDefaultAction": {
                                                                "type": "boolean"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "AwsEc2NetworkInterfaceViolation": {
                                            "shape": "S39"
                                        },
                                        "AwsEc2InstanceViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "AwsEc2NetworkInterfaceViolations": {
                                                    "type": "list",
                                                    "member": {
                                                        "shape": "S39"
                                                    }
                                                }
                                            }
                                        },
                                        "NetworkFirewallMissingFirewallViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "VPC": {},
                                                "AvailabilityZone": {},
                                                "TargetViolationReason": {}
                                            }
                                        },
                                        "NetworkFirewallMissingSubnetViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "VPC": {},
                                                "AvailabilityZone": {},
                                                "TargetViolationReason": {}
                                            }
                                        },
                                        "NetworkFirewallMissingExpectedRTViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "VPC": {},
                                                "AvailabilityZone": {},
                                                "CurrentRouteTable": {},
                                                "ExpectedRouteTable": {}
                                            }
                                        },
                                        "NetworkFirewallPolicyModifiedViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "CurrentPolicyDescription": {
                                                    "shape": "S3h"
                                                },
                                                "ExpectedPolicyDescription": {
                                                    "shape": "S3h"
                                                }
                                            }
                                        },
                                        "NetworkFirewallInternetTrafficNotInspectedViolation": {
                                            "type": "structure",
                                            "members": {
                                                "SubnetId": {},
                                                "SubnetAvailabilityZone": {},
                                                "RouteTableId": {},
                                                "ViolatingRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "IsRouteTableUsedInDifferentAZ": {
                                                    "type": "boolean"
                                                },
                                                "CurrentFirewallSubnetRouteTable": {},
                                                "ExpectedFirewallEndpoint": {},
                                                "FirewallSubnetId": {},
                                                "ExpectedFirewallSubnetRoutes": {
                                                    "shape": "S40"
                                                },
                                                "ActualFirewallSubnetRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "InternetGatewayId": {},
                                                "CurrentInternetGatewayRouteTable": {},
                                                "ExpectedInternetGatewayRoutes": {
                                                    "shape": "S40"
                                                },
                                                "ActualInternetGatewayRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "VpcId": {}
                                            }
                                        },
                                        "NetworkFirewallInvalidRouteConfigurationViolation": {
                                            "type": "structure",
                                            "members": {
                                                "AffectedSubnets": {
                                                    "shape": "S3a"
                                                },
                                                "RouteTableId": {},
                                                "IsRouteTableUsedInDifferentAZ": {
                                                    "type": "boolean"
                                                },
                                                "ViolatingRoute": {
                                                    "shape": "S3x"
                                                },
                                                "CurrentFirewallSubnetRouteTable": {},
                                                "ExpectedFirewallEndpoint": {},
                                                "ActualFirewallEndpoint": {},
                                                "ExpectedFirewallSubnetId": {},
                                                "ActualFirewallSubnetId": {},
                                                "ExpectedFirewallSubnetRoutes": {
                                                    "shape": "S40"
                                                },
                                                "ActualFirewallSubnetRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "InternetGatewayId": {},
                                                "CurrentInternetGatewayRouteTable": {},
                                                "ExpectedInternetGatewayRoutes": {
                                                    "shape": "S40"
                                                },
                                                "ActualInternetGatewayRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "VpcId": {}
                                            }
                                        },
                                        "NetworkFirewallBlackHoleRouteDetectedViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "RouteTableId": {},
                                                "VpcId": {},
                                                "ViolatingRoutes": {
                                                    "shape": "S3w"
                                                }
                                            }
                                        },
                                        "NetworkFirewallUnexpectedFirewallRoutesViolation": {
                                            "type": "structure",
                                            "members": {
                                                "FirewallSubnetId": {},
                                                "ViolatingRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "RouteTableId": {},
                                                "FirewallEndpoint": {},
                                                "VpcId": {}
                                            }
                                        },
                                        "NetworkFirewallUnexpectedGatewayRoutesViolation": {
                                            "type": "structure",
                                            "members": {
                                                "GatewayId": {},
                                                "ViolatingRoutes": {
                                                    "shape": "S3w"
                                                },
                                                "RouteTableId": {},
                                                "VpcId": {}
                                            }
                                        },
                                        "NetworkFirewallMissingExpectedRoutesViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "ExpectedRoutes": {
                                                    "shape": "S40"
                                                },
                                                "VpcId": {}
                                            }
                                        },
                                        "DnsRuleGroupPriorityConflictViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "ViolationTargetDescription": {},
                                                "ConflictingPriority": {
                                                    "type": "integer"
                                                },
                                                "ConflictingPolicyId": {},
                                                "UnavailablePriorities": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "DnsDuplicateRuleGroupViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "ViolationTargetDescription": {}
                                            }
                                        },
                                        "DnsRuleGroupLimitExceededViolation": {
                                            "type": "structure",
                                            "members": {
                                                "ViolationTarget": {},
                                                "ViolationTargetDescription": {},
                                                "NumberOfRuleGroupsAlreadyAssociated": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "PossibleRemediationActions": {
                                            "type": "structure",
                                            "members": {
                                                "Description": {},
                                                "Actions": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "required": [
                                                            "OrderedRemediationActions"
                                                        ],
                                                        "members": {
                                                            "Description": {},
                                                            "OrderedRemediationActions": {
                                                                "type": "list",
                                                                "member": {
                                                                    "type": "structure",
                                                                    "members": {
                                                                        "RemediationAction": {
[...]
