{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-06-26",
        "endpointPrefix": "forecastquery",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Forecast Query Service",
        "serviceId": "forecastquery",
        "signatureVersion": "v4",
        "signingName": "forecast",
        "targetPrefix": "AmazonForecastRuntime",
        "uid": "forecastquery-2018-06-26",
        "download_location": [
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
        ]
    },
    "operations": {
        "QueryForecast": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastArn",
                    "Filters"
                ],
                "members": {
                    "ForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Forecast": {
                        "type": "structure",
                        "members": {
                            "Predictions": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Timestamp": {},
                                            "Value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "QueryWhatIfForecast": {
            "input": {
                "type": "structure",
                "required": [
                    "WhatIfForecastArn",
                    "Filters"
                ],
                "members": {
                    "WhatIfForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "shape": "S4"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Forecast": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDHGO47APOEKUNPGNKIKVZKWR7ENTV7GAF477HMB2E2GX5QKRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js"
            ]
        },
        "GetInsightDashboard": {
            "input": {
                "type": "structure",
                "required": [
                    "InsightArn"
                ],
                "members": {
                    "InsightArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DashboardURL": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPIO4XR2HZMPQBX3MM7D27MM3CHM4RJPVLXGIG6C6I5ICEYGGLCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TKQBF3LBW7OPAMI3HFSTBIEQY3PEZO4KC2UHOBMKDCHZ4B5STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXCZBSPCW4L72V7UNAGQPQZV3OGZ7KFSBG6PW64M3ST2UNF4KCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FOSDX6JVVAETWGLKFMEODTO46HEJOM5KO3NWOPE5MGS34MO77TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QLSIVEICFI455D63NJUXWIOJGSTDUI5ODNJUQ34P3CT4RW7CKNYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBJAOGKS5OZOBVQ33MKFN22D366ZBZBLXHZ5HY7AK7BQVDNARVTA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDHGO47APOEKUNPGNKIKVZKWR7ENTV7GAF477HMB2E2GX5QKRCQ/main.js"
            ]
        },
        "QueryFeature": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastArn",
                    "Filters"
                ],
                "members": {
                    "ForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "shape": "S7"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Feature": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "Sd"
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPIO4XR2HZMPQBX3MM7D27MM3CHM4RJPVLXGIG6C6I5ICEYGGLCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TKQBF3LBW7OPAMI3HFSTBIEQY3PEZO4KC2UHOBMKDCHZ4B5STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXCZBSPCW4L72V7UNAGQPQZV3OGZ7KFSBG6PW64M3ST2UNF4KCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FOSDX6JVVAETWGLKFMEODTO46HEJOM5KO3NWOPE5MGS34MO77TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QLSIVEICFI455D63NJUXWIOJGSTDUI5ODNJUQ34P3CT4RW7CKNYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBJAOGKS5OZOBVQ33MKFN22D366ZBZBLXHZ5HY7AK7BQVDNARVTA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDHGO47APOEKUNPGNKIKVZKWR7ENTV7GAF477HMB2E2GX5QKRCQ/main.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "structure",
            "members": {
                "Predictions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {},
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            }
        },
        "S7": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Timestamp": {},
                    "Value": {
                        "type": "double"
                    }
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "Predictions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "shape": "Sd"
                    }
                }
            }
        }
    }
}