{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-06-26",
        "endpointPrefix": "forecastquery",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Forecast Query Service",
        "serviceId": "forecastquery",
        "signatureVersion": "v4",
        "signingName": "forecast",
        "targetPrefix": "AmazonForecastRuntime",
        "uid": "forecastquery-2018-06-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
        ]
    },
    "operations": {
        "QueryForecast": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastArn",
                    "Filters"
                ],
                "members": {
                    "ForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Forecast": {
                        "type": "structure",
                        "members": {
                            "Predictions": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Timestamp": {},
                                            "Value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "QueryWhatIfForecast": {
            "input": {
                "type": "structure",
                "required": [
                    "WhatIfForecastArn",
                    "Filters"
                ],
                "members": {
                    "WhatIfForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "shape": "S4"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Forecast": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJP5ZXHZ2PLXJAZJEXKYJTMPGQLVA3AE3KKPN7S4O4FDZVUWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFTFBDXGP4GAMAGN4SOPHU2HLOC5NM7YFPDVZN2FVLZKDEMIHDKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKV5AJAKTLW3MLXWF7ZTM4F2QJTKV7T66TFA3IHHRR7RK3GTWN6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetInsightDashboard": {
            "input": {
                "type": "structure",
                "required": [
                    "InsightArn"
                ],
                "members": {
                    "InsightArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DashboardURL": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPIO4XR2HZMPQBX3MM7D27MM3CHM4RJPVLXGIG6C6I5ICEYGGLCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TKQBF3LBW7OPAMI3HFSTBIEQY3PEZO4KC2UHOBMKDCHZ4B5STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXCZBSPCW4L72V7UNAGQPQZV3OGZ7KFSBG6PW64M3ST2UNF4KCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FOSDX6JVVAETWGLKFMEODTO46HEJOM5KO3NWOPE5MGS34MO77TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QLSIVEICFI455D63NJUXWIOJGSTDUI5ODNJUQ34P3CT4RW7CKNYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBJAOGKS5OZOBVQ33MKFN22D366ZBZBLXHZ5HY7AK7BQVDNARVTA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDHGO47APOEKUNPGNKIKVZKWR7ENTV7GAF477HMB2E2GX5QKRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVISMI4P5M5X2XIOSJ6PGLXFMUOXYE33W6M3NUCYV7FVCMCR4JHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJE2CKPK6TAJ2QKDW3X3YYDD6GNJ6BGKV35PPAH7TNWVEOCAI2RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YER3PFS3DHCZYE25ZUT3CC2254VASQNK4CLG5BGNLS5URW5DVIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIYFYLRBYPXIC7A2VIUJLHGTKCZQG3UH5VMYIKW2A5U6ZF2UWKTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGHDZ7YHIAZL7QLZHIL2ZJ4H5243BVI42IMQAQ7BPZTM5NPAEATA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFTFBDXGP4GAMAGN4SOPHU2HLOC5NM7YFPDVZN2FVLZKDEMIHDKQ/main.js"
            ]
        },
        "QueryFeature": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastArn",
                    "Filters"
                ],
                "members": {
                    "ForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "shape": "S7"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Feature": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "Sd"
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPIO4XR2HZMPQBX3MM7D27MM3CHM4RJPVLXGIG6C6I5ICEYGGLCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TKQBF3LBW7OPAMI3HFSTBIEQY3PEZO4KC2UHOBMKDCHZ4B5STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXCZBSPCW4L72V7UNAGQPQZV3OGZ7KFSBG6PW64M3ST2UNF4KCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FOSDX6JVVAETWGLKFMEODTO46HEJOM5KO3NWOPE5MGS34MO77TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QLSIVEICFI455D63NJUXWIOJGSTDUI5ODNJUQ34P3CT4RW7CKNYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBJAOGKS5OZOBVQ33MKFN22D366ZBZBLXHZ5HY7AK7BQVDNARVTA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDHGO47APOEKUNPGNKIKVZKWR7ENTV7GAF477HMB2E2GX5QKRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVISMI4P5M5X2XIOSJ6PGLXFMUOXYE33W6M3NUCYV7FVCMCR4JHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJE2CKPK6TAJ2QKDW3X3YYDD6GNJ6BGKV35PPAH7TNWVEOCAI2RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YER3PFS3DHCZYE25ZUT3CC2254VASQNK4CLG5BGNLS5URW5DVIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIYFYLRBYPXIC7A2VIUJLHGTKCZQG3UH5VMYIKW2A5U6ZF2UWKTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGHDZ7YHIAZL7QLZHIL2ZJ4H5243BVI42IMQAQ7BPZTM5NPAEATA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFTFBDXGP4GAMAGN4SOPHU2HLOC5NM7YFPDVZN2FVLZKDEMIHDKQ/main.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "structure",
            "members": {
                "Predictions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {},
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            }
        },
        "S7": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Timestamp": {},
                    "Value": {
                        "type": "double"
                    }
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "Predictions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "shape": "Sd"
                    }
                }
            }
        }
    }
}