{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-06-26",
        "endpointPrefix": "forecastquery",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Forecast Query Service",
        "serviceId": "forecastquery",
        "signatureVersion": "v4",
        "signingName": "forecast",
        "targetPrefix": "AmazonForecastRuntime",
        "uid": "forecastquery-2018-06-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26ISE5I2PJ5M3A5R2XYBTCAS52IQC6RQVN762WHK5FBJILKJ2L6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
        ]
    },
    "operations": {
        "QueryForecast": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastArn",
                    "Filters"
                ],
                "members": {
                    "ForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Forecast": {
                        "type": "structure",
                        "members": {
                            "Predictions": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Timestamp": {},
                                            "Value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26ISE5I2PJ5M3A5R2XYBTCAS52IQC6RQVN762WHK5FBJILKJ2L6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "QueryWhatIfForecast": {
            "input": {
                "type": "structure",
                "required": [
                    "WhatIfForecastArn",
                    "Filters"
                ],
                "members": {
                    "WhatIfForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "shape": "S4"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Forecast": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSD6RARMWHWRQLU5JNRXL3D3XJVVHNFVXQP7O2PXBFHCUY3PGP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26ISE5I2PJ5M3A5R2XYBTCAS52IQC6RQVN762WHK5FBJILKJ2L6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetInsightDashboard": {
            "input": {
                "type": "structure",
                "required": [
                    "InsightArn"
                ],
                "members": {
                    "InsightArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DashboardURL": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPIO4XR2HZMPQBX3MM7D27MM3CHM4RJPVLXGIG6C6I5ICEYGGLCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TKQBF3LBW7OPAMI3HFSTBIEQY3PEZO4KC2UHOBMKDCHZ4B5STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXCZBSPCW4L72V7UNAGQPQZV3OGZ7KFSBG6PW64M3ST2UNF4KCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FOSDX6JVVAETWGLKFMEODTO46HEJOM5KO3NWOPE5MGS34MO77TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QLSIVEICFI455D63NJUXWIOJGSTDUI5ODNJUQ34P3CT4RW7CKNYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBJAOGKS5OZOBVQ33MKFN22D366ZBZBLXHZ5HY7AK7BQVDNARVTA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDHGO47APOEKUNPGNKIKVZKWR7ENTV7GAF477HMB2E2GX5QKRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVISMI4P5M5X2XIOSJ6PGLXFMUOXYE33W6M3NUCYV7FVCMCR4JHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJE2CKPK6TAJ2QKDW3X3YYDD6GNJ6BGKV35PPAH7TNWVEOCAI2RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YER3PFS3DHCZYE25ZUT3CC2254VASQNK4CLG5BGNLS5URW5DVIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIYFYLRBYPXIC7A2VIUJLHGTKCZQG3UH5VMYIKW2A5U6ZF2UWKTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGHDZ7YHIAZL7QLZHIL2ZJ4H5243BVI42IMQAQ7BPZTM5NPAEATA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFTFBDXGP4GAMAGN4SOPHU2HLOC5NM7YFPDVZN2FVLZKDEMIHDKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26ISE5I2PJ5M3A5R2XYBTCAS52IQC6RQVN762WHK5FBJILKJ2L6Q/main.js"
            ]
        },
        "QueryFeature": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastArn",
                    "Filters"
                ],
                "members": {
                    "ForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "shape": "S7"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Feature": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "Sd"
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPIO4XR2HZMPQBX3MM7D27MM3CHM4RJPVLXGIG6C6I5ICEYGGLCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TKQBF3LBW7OPAMI3HFSTBIEQY3PEZO4KC2UHOBMKDCHZ4B5STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXCZBSPCW4L72V7UNAGQPQZV3OGZ7KFSBG6PW64M3ST2UNF4KCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FOSDX6JVVAETWGLKFMEODTO46HEJOM5KO3NWOPE5MGS34MO77TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QLSIVEICFI455D63NJUXWIOJGSTDUI5ODNJUQ34P3CT4RW7CKNYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBJAOGKS5OZOBVQ33MKFN22D366ZBZBLXHZ5HY7AK7BQVDNARVTA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDHGO47APOEKUNPGNKIKVZKWR7ENTV7GAF477HMB2E2GX5QKRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVISMI4P5M5X2XIOSJ6PGLXFMUOXYE33W6M3NUCYV7FVCMCR4JHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJE2CKPK6TAJ2QKDW3X3YYDD6GNJ6BGKV35PPAH7TNWVEOCAI2RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YER3PFS3DHCZYE25ZUT3CC2254VASQNK4CLG5BGNLS5URW5DVIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIYFYLRBYPXIC7A2VIUJLHGTKCZQG3UH5VMYIKW2A5U6ZF2UWKTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGHDZ7YHIAZL7QLZHIL2ZJ4H5243BVI42IMQAQ7BPZTM5NPAEATA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFTFBDXGP4GAMAGN4SOPHU2HLOC5NM7YFPDVZN2FVLZKDEMIHDKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26ISE5I2PJ5M3A5R2XYBTCAS52IQC6RQVN762WHK5FBJILKJ2L6Q/main.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "structure",
            "members": {
                "Predictions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {},
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            }
        },
        "S7": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Timestamp": {},
                    "Value": {
                        "type": "double"
                    }
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "Predictions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "shape": "Sd"
                    }
                }
            }
        }
    }
}