{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-06-26",
        "endpointPrefix": "forecastquery",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Forecast Query Service",
        "serviceId": "forecastquery",
        "signatureVersion": "v4",
        "signingName": "forecast",
        "targetPrefix": "AmazonForecastRuntime",
        "uid": "forecastquery-2018-06-26",
        "download_location": [
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
        ]
    },
    "operations": {
        "QueryForecast": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastArn",
                    "Filters"
                ],
                "members": {
                    "ForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Forecast": {
                        "type": "structure",
                        "members": {
                            "Predictions": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Timestamp": {},
                                            "Value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "QueryWhatIfForecast": {
            "input": {
                "type": "structure",
                "required": [
                    "WhatIfForecastArn",
                    "Filters"
                ],
                "members": {
                    "WhatIfForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "shape": "S4"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Forecast": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGHDZ7YHIAZL7QLZHIL2ZJ4H5243BVI42IMQAQ7BPZTM5NPAEATA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetInsightDashboard": {
            "input": {
                "type": "structure",
                "required": [
                    "InsightArn"
                ],
                "members": {
                    "InsightArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DashboardURL": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPIO4XR2HZMPQBX3MM7D27MM3CHM4RJPVLXGIG6C6I5ICEYGGLCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TKQBF3LBW7OPAMI3HFSTBIEQY3PEZO4KC2UHOBMKDCHZ4B5STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXCZBSPCW4L72V7UNAGQPQZV3OGZ7KFSBG6PW64M3ST2UNF4KCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FOSDX6JVVAETWGLKFMEODTO46HEJOM5KO3NWOPE5MGS34MO77TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QLSIVEICFI455D63NJUXWIOJGSTDUI5ODNJUQ34P3CT4RW7CKNYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBJAOGKS5OZOBVQ33MKFN22D366ZBZBLXHZ5HY7AK7BQVDNARVTA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDHGO47APOEKUNPGNKIKVZKWR7ENTV7GAF477HMB2E2GX5QKRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVISMI4P5M5X2XIOSJ6PGLXFMUOXYE33W6M3NUCYV7FVCMCR4JHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJE2CKPK6TAJ2QKDW3X3YYDD6GNJ6BGKV35PPAH7TNWVEOCAI2RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YER3PFS3DHCZYE25ZUT3CC2254VASQNK4CLG5BGNLS5URW5DVIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIYFYLRBYPXIC7A2VIUJLHGTKCZQG3UH5VMYIKW2A5U6ZF2UWKTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGHDZ7YHIAZL7QLZHIL2ZJ4H5243BVI42IMQAQ7BPZTM5NPAEATA/main.js"
            ]
        },
        "QueryFeature": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastArn",
                    "Filters"
                ],
                "members": {
                    "ForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "shape": "S7"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Feature": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "Sd"
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPIO4XR2HZMPQBX3MM7D27MM3CHM4RJPVLXGIG6C6I5ICEYGGLCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TKQBF3LBW7OPAMI3HFSTBIEQY3PEZO4KC2UHOBMKDCHZ4B5STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXCZBSPCW4L72V7UNAGQPQZV3OGZ7KFSBG6PW64M3ST2UNF4KCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FOSDX6JVVAETWGLKFMEODTO46HEJOM5KO3NWOPE5MGS34MO77TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QLSIVEICFI455D63NJUXWIOJGSTDUI5ODNJUQ34P3CT4RW7CKNYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBJAOGKS5OZOBVQ33MKFN22D366ZBZBLXHZ5HY7AK7BQVDNARVTA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDHGO47APOEKUNPGNKIKVZKWR7ENTV7GAF477HMB2E2GX5QKRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVISMI4P5M5X2XIOSJ6PGLXFMUOXYE33W6M3NUCYV7FVCMCR4JHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJE2CKPK6TAJ2QKDW3X3YYDD6GNJ6BGKV35PPAH7TNWVEOCAI2RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YER3PFS3DHCZYE25ZUT3CC2254VASQNK4CLG5BGNLS5URW5DVIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIYFYLRBYPXIC7A2VIUJLHGTKCZQG3UH5VMYIKW2A5U6ZF2UWKTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGHDZ7YHIAZL7QLZHIL2ZJ4H5243BVI42IMQAQ7BPZTM5NPAEATA/main.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "structure",
            "members": {
                "Predictions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {},
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            }
        },
        "S7": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Timestamp": {},
                    "Value": {
                        "type": "double"
                    }
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "Predictions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "shape": "Sd"
                    }
                }
            }
        }
    }
}