{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-06-26",
        "endpointPrefix": "forecastquery",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Forecast Query Service",
        "serviceId": "forecastquery",
        "signatureVersion": "v4",
        "signingName": "forecast",
        "targetPrefix": "AmazonForecastRuntime",
        "uid": "forecastquery-2018-06-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
        ]
    },
    "operations": {
        "QueryForecast": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastArn",
                    "Filters"
                ],
                "members": {
                    "ForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Forecast": {
                        "type": "structure",
                        "members": {
                            "Predictions": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Timestamp": {},
                                            "Value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "QueryWhatIfForecast": {
            "input": {
                "type": "structure",
                "required": [
                    "WhatIfForecastArn",
                    "Filters"
                ],
                "members": {
                    "WhatIfForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "shape": "S4"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Forecast": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js"
            ]
        },
        "GetInsightDashboard": {
            "input": {
                "type": "structure",
                "required": [
                    "InsightArn"
                ],
                "members": {
                    "InsightArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DashboardURL": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPIO4XR2HZMPQBX3MM7D27MM3CHM4RJPVLXGIG6C6I5ICEYGGLCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TKQBF3LBW7OPAMI3HFSTBIEQY3PEZO4KC2UHOBMKDCHZ4B5STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXCZBSPCW4L72V7UNAGQPQZV3OGZ7KFSBG6PW64M3ST2UNF4KCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FOSDX6JVVAETWGLKFMEODTO46HEJOM5KO3NWOPE5MGS34MO77TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QLSIVEICFI455D63NJUXWIOJGSTDUI5ODNJUQ34P3CT4RW7CKNYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBJAOGKS5OZOBVQ33MKFN22D366ZBZBLXHZ5HY7AK7BQVDNARVTA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js"
            ]
        },
        "QueryFeature": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastArn",
                    "Filters"
                ],
                "members": {
                    "ForecastArn": {},
                    "StartDate": {},
                    "EndDate": {},
                    "Filters": {
                        "shape": "S7"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Feature": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "Sd"
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPIO4XR2HZMPQBX3MM7D27MM3CHM4RJPVLXGIG6C6I5ICEYGGLCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TKQBF3LBW7OPAMI3HFSTBIEQY3PEZO4KC2UHOBMKDCHZ4B5STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXCZBSPCW4L72V7UNAGQPQZV3OGZ7KFSBG6PW64M3ST2UNF4KCNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FOSDX6JVVAETWGLKFMEODTO46HEJOM5KO3NWOPE5MGS34MO77TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CG5IN5I2UKW23BOQ2P5EMAXF7SHUZF6N5V3JDT4IOXXEMQRHUWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QLSIVEICFI455D63NJUXWIOJGSTDUI5ODNJUQ34P3CT4RW7CKNYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBJAOGKS5OZOBVQ33MKFN22D366ZBZBLXHZ5HY7AK7BQVDNARVTA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3IC5KXJXPOGH4VF27N4UJWE7NJWBUBITOECIZXV72SOC4KD75MA/main.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "structure",
            "members": {
                "Predictions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {},
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            }
        },
        "S7": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Timestamp": {},
                    "Value": {
                        "type": "double"
                    }
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "Predictions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "shape": "Sd"
                    }
                }
            }
        }
    }
}