{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "foxtrotoutputmanagement",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "FoxtrotOutputManagement",
        "serviceId": "FoxtrotOutputManagement",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "foxtrotoutputmanagement-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
        ]
    },
    "operations": {
        "CreateBaselineForecast": {
            "http": {
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/baselineforecasts",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetId",
                    "filterKeys",
                    "forecastType",
                    "instanceId",
                    "planningCycleId",
                    "workbookId"
                ],
                "members": {
                    "baselineForecastEntityId": {},
                    "createdBy": {},
                    "customerHierarchyDimensions": {
                        "shape": "S4"
                    },
                    "datasetId": {},
                    "derivedForecastEntityId": {},
                    "explainabilityDatasetId": {},
                    "filterKeys": {
                        "shape": "S6"
                    },
                    "forecastGranularity": {},
                    "forecastHorizon": {
                        "type": "integer"
                    },
                    "forecastNormalizedImpactScores": {
                        "shape": "S9"
                    },
                    "forecastStartDate": {
                        "type": "timestamp"
                    },
                    "forecastType": {},
                    "historicalSalesDatasetId": {},
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "itemMetadataDatasetId": {},
                    "locationHierarchyDimensions": {
                        "shape": "Sf"
                    },
                    "lowestGrainModelAccuracyS3Location": {},
                    "mape": {
                        "type": "double"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "productHierarchyDimensions": {
                        "shape": "Si"
                    },
                    "rmse": {
                        "type": "double"
                    },
                    "salesDataDatasetId": {},
                    "salesDataDatasetVersion": {},
                    "wape": {
                        "type": "double"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "channelHierarchyDimensions": {
                        "shape": "Sc"
                    },
                    "itemMetadataDatasetVersion": {},
                    "datasetInstanceId": {
                        "shape": "S3"
                    },
                    "dataStoreVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "baselineForecastEntityId": {},
                    "baselineForecastId": {},
                    "createdBy": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "customerHierarchyDimensions": {
                        "shape": "S4"
                    },
                    "datasetId": {},
                    "derivedForecastEntityId": {},
                    "explainabilityDatasetId": {},
                    "filterKeys": {
                        "shape": "S6"
                    },
                    "forecastGranularity": {},
                    "forecastHorizon": {
                        "type": "integer"
                    },
                    "forecastNormalizedImpactScores": {
                        "shape": "S9"
                    },
                    "forecastStartDate": {
                        "type": "timestamp"
                    },
                    "forecastType": {},
                    "historicalSalesDatasetId": {},
                    "instanceId": {},
                    "itemMetadataDatasetId": {},
                    "locationHierarchyDimensions": {
                        "shape": "Sf"
                    },
                    "lowestGrainModelAccuracyS3Location": {},
                    "mape": {
                        "type": "double"
                    },
                    "planningCycleId": {},
                    "productHierarchyDimensions": {
                        "shape": "Si"
                    },
                    "rmse": {
                        "type": "double"
                    },
                    "salesDataDatasetId": {},
                    "salesDataDatasetVersion": {},
                    "status": {},
                    "wape": {
                        "type": "double"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "CreateDemandPlan": {
            "http": {
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/sourceforecasts/{sourceForecastId}/demandplans",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "demandPlanName",
                    "instanceId",
                    "planningCycleId",
                    "quantileValue",
                    "sourceForecastId",
                    "workbookId"
                ],
                "members": {
                    "demandPlanDescription": {},
                    "demandPlanName": {},
                    "derivedForecastIds": {
                        "type": "list",
                        "member": {}
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "isGalaxy": {
                        "type": "boolean"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "quantileValue": {},
                    "sourceForecastId": {
                        "location": "uri",
                        "locationName": "sourceForecastId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdBy": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "demandPlanDescription": {},
                    "demandPlanId": {},
                    "demandPlanName": {},
                    "demandPlanStatus": {},
                    "derivedForecastIds": {
                        "shape": "Ss"
                    },
                    "instanceId": {},
                    "planningCycleId": {},
                    "quantileValue": {},
                    "sourceForecastId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "CreateDemandPlanningCycleAccuracy": {
            "http": {
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/accuracy",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "planningCycleId",
                    "workbookId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "lowestGrainAccuracyDatasetId": {},
                    "mape": {
                        "type": "double"
                    },
                    "outputS3location": {},
                    "overallAccuracy": {
                        "type": "double"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "rmse": {
                        "type": "double"
                    },
                    "salesDataDatasetId": {},
                    "salesDatasetVersion": {},
                    "wape": {
                        "type": "double"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createTime": {
                        "type": "timestamp"
                    },
                    "instanceId": {},
                    "lowestGrainAccuracyDatasetId": {},
                    "mape": {
                        "type": "double"
                    },
                    "outputS3location": {},
                    "overallAccuracy": {
                        "type": "double"
                    },
                    "planningCycleId": {},
                    "rmse": {
                        "type": "double"
                    },
                    "wape": {
                        "type": "double"
                    },
                    "workbookId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "CreateDerivedForecast": {
            "http": {
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/derivedforecasts",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name",
                    "planningCycleId",
                    "sourceForecastId",
                    "workbookId"
                ],
                "members": {
                    "filters": {
                        "shape": "Sx"
                    },
                    "forecastGranularity": {},
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "isGalaxy": {
                        "type": "boolean"
                    },
                    "name": {},
                    "otherOverrideReason": {},
                    "overrideAll": {
                        "type": "structure",
                        "required": [
                            "type",
                            "value"
                        ],
                        "members": {
                            "type": {},
                            "value": {
                                "type": "double"
                            }
                        }
                    },
                    "overrideReason": {},
                    "overrides": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "double"
                        }
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "quantileValue": {},
                    "sourceForecastId": {},
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "baselineForecastId": {},
                    "createdBy": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "derivedForecastId": {},
                    "forecastGranularity": {},
                    "instanceId": {},
                    "name": {},
                    "otherOverrideReason": {},
                    "overrideReason": {},
                    "planningCycleId": {},
                    "status": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteBaselineForecast": {
            "http": {
                "method": "DELETE",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/baselineforecasts/{baselineForecastId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "baselineForecastId",
                    "instanceId",
                    "planningCycleId",
                    "workbookId"
                ],
                "members": {
                    "baselineForecastId": {
                        "location": "uri",
                        "locationName": "baselineForecastId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteDemandPlan": {
            "http": {
                "method": "DELETE",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/sourceforecasts/{sourceForecastId}/demandplans/{demandPlanId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "demandPlanId",
                    "instanceId",
                    "planningCycleId",
                    "sourceForecastId",
                    "workbookId"
                ],
                "members": {
                    "demandPlanId": {
                        "location": "uri",
                        "locationName": "demandPlanId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "sourceForecastId": {
                        "location": "uri",
                        "locationName": "sourceForecastId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteDerivedForecast": {
            "http": {
                "method": "DELETE",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/derivedforecasts/{derivedForecastId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "derivedForecastId",
                    "instanceId",
                    "planningCycleId",
                    "workbookId"
                ],
                "members": {
                    "derivedForecastId": {
                        "location": "uri",
                        "locationName": "derivedForecastId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DescribeBaselineForecast": {
            "http": {
                "method": "GET",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/baselineforecasts/{baselineForecastId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "baselineForecastId",
                    "instanceId",
                    "planningCycleId",
                    "workbookId"
                ],
                "members": {
                    "baselineForecastId": {
                        "location": "uri",
                        "locationName": "baselineForecastId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "baselineForecastEntityId": {},
                    "baselineForecastId": {},
                    "createdBy": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "customerHierarchyDimensions": {
                        "shape": "S4"
                    },
                    "datasetId": {},
                    "explainabilityDatasetId": {},
                    "filterKeys": {
                        "shape": "S6"
                    },
                    "forecastGranularity": {},
                    "forecastHorizon": {
                        "type": "integer"
                    },
                    "forecastNormalizedImpactScores": {
                        "shape": "S9"
                    },
                    "forecastStartDate": {
                        "type": "timestamp"
                    },
                    "forecastType": {},
                    "historicalSalesDatasetId": {},
                    "instanceId": {},
                    "itemMetadataDatasetId": {},
                    "locationHierarchyDimensions": {
                        "shape": "Sf"
                    },
                    "lowestGrainModelAccuracyS3PresignedUrl": {},
                    "mape": {
                        "type": "double"
                    },
                    "planningCycleId": {},
                    "productHierarchyDimensions": {
                        "shape": "Si"
                    },
                    "rmse": {
                        "type": "double"
                    },
                    "salesDataDatasetId": {},
                    "salesDataDatasetVersion": {},
                    "status": {},
                    "wape": {
                        "type": "double"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DescribeDerivedForecast": {
            "http": {
                "method": "GET",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/derivedforecasts/{derivedForecastId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "derivedForecastId",
                    "instanceId",
                    "planningCycleId",
                    "workbookId"
                ],
                "members": {
                    "derivedForecastId": {
                        "location": "uri",
                        "locationName": "derivedForecastId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "baselineForecastId": {},
                    "createdBy": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "datasetId": {},
                    "derivedForecastDatasetPreSignedS3Url": {},
                    "derivedForecastId": {},
                    "errorMessage": {},
                    "filters": {
                        "shape": "Sx"
                    },
                    "forecastGranularity": {},
                    "instanceId": {},
                    "name": {},
                    "otherOverrideReason": {},
                    "overrideReason": {},
                    "planningCycleId": {},
                    "status": {},
                    "updateTime": {
                        "type": "timestamp"
                    },
                    "updatedBy": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetDemandPlan": {
            "http": {
                "method": "GET",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/sourceforecasts/{sourceForecastId}/demandplans/{demandPlanId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "demandPlanId",
                    "instanceId",
                    "planningCycleId",
                    "sourceForecastId",
                    "workbookId"
                ],
                "members": {
                    "demandPlanId": {
                        "location": "uri",
                        "locationName": "demandPlanId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "sourceForecastId": {
                        "location": "uri",
                        "locationName": "sourceForecastId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdBy": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "demandPlanDatasetId": {},
                    "demandPlanDescription": {},
                    "demandPlanId": {},
                    "demandPlanName": {},
                    "demandPlanStatus": {},
                    "derivedForecastIds": {
                        "shape": "Ss"
                    },
                    "instanceId": {},
                    "latestExecutionErrorMessage": {},
                    "latestExecutionStatus": {},
                    "planningCycleId": {},
                    "quantileValue": {},
                    "sourceForecastId": {},
                    "updateTime": {
                        "type": "timestamp"
                    },
                    "updatedBy": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetDemandPlanningCycleAccuracy": {
            "http": {
                "method": "GET",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/accuracy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "planningCycleId",
                    "workbookId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createTime": {
                        "type": "timestamp"
                    },
                    "instanceId": {},
                    "lowestGrainAccuracyDatasetId": {},
                    "mape": {
                        "type": "double"
                    },
                    "outputS3PreSignedURL": {},
                    "overallAccuracy": {
                        "type": "double"
                    },
                    "planningCycleId": {},
                    "rmse": {
                        "type": "double"
                    },
                    "wape": {
                        "type": "double"
                    },
                    "workbookId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListDemandPlans": {
            "http": {
                "method": "GET",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/sourceforecasts/{sourceForecastId}/demandplans",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "planningCycleId",
                    "sourceForecastId",
                    "workbookId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "sourceForecastId": {
                        "location": "uri",
                        "locationName": "sourceForecastId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "demandPlans"
                ],
                "members": {
                    "demandPlans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdBy": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "demandPlanDatasetId": {},
                                "demandPlanDescription": {},
                                "demandPlanId": {},
                                "demandPlanName": {},
                                "demandPlanStatus": {},
                                "instanceId": {},
                                "planningCycleId": {},
                                "updateTime": {
                                    "type": "timestamp"
                                },
                                "updatedBy": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListDerivedForecasts": {
            "http": {
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/baselineforecasts/{baselineForecastId}/derivedforecasts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "baselineForecastId",
                    "filtersUsedForDerivedForecasts",
                    "instanceId",
                    "planningCycleId",
                    "workbookId"
                ],
                "members": {
                    "baselineForecastId": {
                        "location": "uri",
                        "locationName": "baselineForecastId"
                    },
                    "filtersUsedForDerivedForecasts": {
                        "shape": "Sx"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "derivedForecasts"
                ],
                "members": {
                    "derivedForecasts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "baselineForecastId": {},
                                "createdBy": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "datasetId": {},
                                "derivedForecastId": {},
                                "errorMessage": {},
                                "filters": {
                                    "shape": "Sx"
                                },
                                "forecastGranularity": {},
                                "instanceId": {},
                                "name": {},
                                "otherOverrideReason": {},
                                "overrideReason": {},
                                "planningCycleId": {},
                                "status": {},
                                "updateTime": {
                                    "type": "timestamp"
                                },
                                "updatedBy": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "PublishDemandPlan": {
            "http": {
                "method": "PUT",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/demandplans/{demandPlanId}/publish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "demandPlanId",
                    "instanceId",
                    "planningCycleId",
                    "workbookId"
                ],
                "members": {
                    "demandPlanId": {
                        "location": "uri",
                        "locationName": "demandPlanId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "demandPlanDatasetId": {},
                    "demandPlanId": {},
                    "demandPlanStatus": {},
                    "demandPlanningCycleId": {},
                    "updateTime": {
                        "type": "timestamp"
                    },
                    "updatedBy": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "UpdateDemandPlan": {
            "http": {
                "method": "PUT",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/sourceforecasts/{sourceForecastId}/demandplans/{demandPlanId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "demandPlanId",
                    "instanceId",
                    "planningCycleId",
                    "sourceForecastId",
                    "workbookId"
                ],
                "members": {
                    "addDerivedForecasts": {
                        "type": "list",
                        "member": {}
                    },
                    "demandPlanDescription": {},
                    "demandPlanId": {
                        "location": "uri",
                        "locationName": "demandPlanId"
                    },
                    "demandPlanName": {},
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "isGalaxy": {
                        "type": "boolean"
                    },
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "sourceForecastId": {
                        "location": "uri",
                        "locationName": "sourceForecastId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "demandPlanDescription": {},
                    "demandPlanId": {},
                    "demandPlanName": {},
                    "demandPlanStatus": {},
                    "latestExecutionStatus": {},
                    "updateTime": {
                        "type": "timestamp"
                    },
                    "updatedBy": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "UpdateDerivedForecast": {
            "http": {
                "method": "PUT",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/planningcycles/{planningCycleId}/derivedforecasts/{derivedForecastId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "derivedForecastId",
                    "instanceId",
                    "name",
                    "planningCycleId",
                    "workbookId"
                ],
                "members": {
                    "derivedForecastId": {
                        "location": "uri",
                        "locationName": "derivedForecastId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "name": {},
                    "planningCycleId": {
                        "location": "uri",
                        "locationName": "planningCycleId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "baselineForecastId": {},
                    "createdBy": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "datasetId": {},
                    "derivedForecastId": {},
                    "errorMessage": {},
                    "instanceId": {},
                    "name": {},
                    "otherOverrideReason": {},
                    "overrideReason": {},
                    "planningCycleId": {},
                    "status": {},
                    "updateTime": {
                        "type": "timestamp"
                    },
                    "updatedBy": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "CreateOverride": {
            "http": {
                "requestUri": "/instances/{instanceId}/demandplans/{demandPlanId}/override/",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "demandPlanId",
                    "productFilters",
                    "additionalFilters",
                    "overrideType",
                    "overrideValue",
                    "overrideDates",
                    "overrideGranularity",
                    "overrideReasonCode"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S3",
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "demandPlanId": {
                        "location": "uri",
                        "locationName": "demandPlanId"
                    },
                    "productFilters": {
                        "shape": "S1c"
                    },
                    "additionalFilters": {
                        "shape": "S1e"
                    },
                    "overrideType": {},
                    "overrideValue": {
                        "shape": "S1g"
                    },
                    "overrideDates": {
                        "shape": "S1h"
                    },
                    "overrideGranularity": {},
                    "overrideReasonCode": {},
                    "overrideReasonComment": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "demandPlanId": {},
                    "planningCycleId": {},
                    "overrideGranularity": {},
                    "overrideReasonCode": {},
                    "overrideReasonComment": {
                        "shape": "S17"
                    },
                    "overrideId": {},
                    "status": {},
                    "createdBySsoUserId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteOverride": {
            "http": {
                "method": "DELETE",
                "requestUri": "/instances/{instanceId}/demandplans/{demandPlanId}/override/{overrideId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "demandPlanId",
                    "overrideId"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S3",
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "demandPlanId": {
                        "location": "uri",
                        "locationName": "demandPlanId"
                    },
                    "overrideId": {
                        "location": "uri",
                        "locationName": "overrideId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DescribeOverride": {
            "http": {
                "method": "GET",
                "requestUri": "/instances/{instanceId}/demandplans/{demandPlanId}/override/{overrideId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "demandPlanId",
                    "overrideId"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S3",
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "demandPlanId": {
                        "location": "uri",
                        "locationName": "demandPlanId"
                    },
                    "overrideId": {
                        "location": "uri",
                        "locationName": "overrideId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "override": {
                        "shape": "S1z"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListBaselineForecasts": {
            "http": {
                "method": "GET",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/baselineforecasts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "instanceId": {
                        "shape": "S3",
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "baselineForecasts"
                ],
                "members": {
                    "baselineForecasts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "datasetId": {},
                                "planningCycleId": {},
                                "instanceId": {
                                    "shape": "S3"
                                },
                                "baselineForecastId": {},
                                "forecastType": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "updateTime": {
                                    "type": "timestamp"
                                },
                                "status": {},
                                "createdBy": {},
                                "filterKeys": {
                                    "shape": "S7"
                                },
                                "productHierarchyDimensions": {
                                    "shape": "S9"
                                },
                                "locationHierarchyDimensions": {
                                    "shape": "Sa"
                                },
                                "customerHierarchyDimensions": {
                                    "shape": "Sb"
                                },
                                "channelHierarchyDimensions": {
                                    "shape": "Sc"
                                },
                                "salesDataDatasetId": {},
                                "salesDataDatasetVersion": {},
                                "itemMetadataDatasetId": {},
                                "itemMetadataDatasetVersion": {},
                                "forecastGranularity": {},
                                "forecastHorizon": {
                                    "type": "integer"
                                },
                                "forecastStartDate": {
                                    "type": "timestamp"
                                },
                                "historicalSalesDatasetId": {},
                                "forecastNormalizedImpactScores": {
                                    "shape": "Sg"
                                },
                                "explainabilityDatasetId": {},
                                "rmse": {
                                    "shape": "Sj"
                                },
                                "mape": {
                                    "shape": "Sj"
                                },
                                "wape": {
                                    "shape": "Sj"
                                },
                                "baselineForecastEntityId": {},
                                "dataStoreVersion": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListOverrides": {
            "http": {
                "requestUri": "/instances/{instanceId}/demandplans/{demandPlanId}/overrides",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "demandPlanId"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S3",
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "demandPlanId": {
                        "location": "uri",
                        "locationName": "demandPlanId"
                    },
                    "order": {
                        "location": "querystring",
                        "locationName": "order"
                    },
                    "productFilters": {
                        "shape": "S1c"
                    },
                    "additionalFilters": {
                        "shape": "S1e"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "overrides"
                ],
                "members": {
                    "overrides": {
                        "type": "list",
                        "member": {
                            "shape": "S1z"
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "oms."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {
                "type": "double"
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "list",
            "member": {}
        },
        "Sx": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "S6"
            }
        },
        "S3": {
            "type": "string",
            "deprecated": true
        },
        "S7": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "list",
            "member": {}
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "Sg": {
            "type": "map",
            "key": {},
            "value": {
                "type": "double",
                "sensitive": true
            }
        },
        "Sj": {
            "type": "double",
            "sensitive": true
        },
        "Sq": {
            "type": "string",
            "sensitive": true
        },
        "Sr": {
            "type": "string",
            "sensitive": true
        },
        "Su": {
            "type": "list",
            "member": {}
        },
        "Sw": {
            "type": "double",
            "sensitive": true
        },
        "Sz": {
            "type": "string",
            "sensitive": true
        },
        "S10": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "S11"
            }
        },
        "S11": {
            "type": "list",
            "member": {
                "shape": "S12"
            }
        },
        "S12": {
            "type": "string",
            "sensitive": true
        },
        "S14": {
            "type": "double",
            "sensitive": true
        },
        "S17": {
            "type": "string",
            "sensitive": true
        },
        "S18": {
            "type": "string",
            "sensitive": true
        },
        "S1c": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "S12"
            }
        },
        "S1e": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "S11"
            }
        },
        "S1g": {
            "type": "double",
            "sensitive": true
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1z": {
            "type": "structure",
            "members": {
                "productFilters": {
                    "shape": "S1c"
                },
                "additionalFilters": {
                    "shape": "S1e"
                },
                "overrideType": {},
                "overrideValue": {
                    "shape": "S1g"
                },
                "overrideDates": {
                    "shape": "S1h"
                },
                "valueBefore": {
                    "shape": "Sw"
                },
                "valueAfter": {
                    "shape": "Sw"
                },
                "overrideImpactByDate": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "valueBefore": {
                                "shape": "Sw"
                            },
                            "valueAfter": {
                                "shape": "Sw"
                            },
                            "itemsOverridden": {
                                "type": "long"
                            }
                        }
                    }
                },
                "demandPlanId": {},
                "planningCycleId": {},
                "overrideGranularity": {},
                "overrideReasonCode": {},
                "overrideReasonComment": {
                    "shape": "S17"
                },
                "itemsOverridden": {
                    "type": "long"
                },
                "overrideId": {},
                "status": {},
                "failureReason": {},
                "createdBySsoUserId": {},
                "creationTime": {
                    "type": "timestamp"
                }
            }
        }
    }
}