{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-07-26",
        "endpointPrefix": "foxtrotdataapiservice",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "FoxtrotDataAPIService",
        "serviceId": "FoxtrotData",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "foxtrotdata-2022-07-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
        ]
    },
    "operations": {
        "GetBaselineForecast": {
            "http": {
                "requestUri": "/GetBaselineForecast",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId",
                    "startDate",
                    "endDate",
                    "timeGranularity"
                ],
                "members": {
                    "workbookId": {},
                    "instanceId": {
                        "shape": "S3"
                    },
                    "demandPlanningCycleId": {},
                    "startDate": {
                        "shape": "S5"
                    },
                    "endDate": {
                        "shape": "S5"
                    },
                    "timeGranularity": {},
                    "sortOrder": {},
                    "productHierarchySelections": {
                        "shape": "S8"
                    },
                    "locationHierarchySelections": {
                        "shape": "S8"
                    },
                    "channelHierarchySelections": {
                        "shape": "S8"
                    },
                    "customerHierarchySelections": {
                        "shape": "S8"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "forecastValues"
                ],
                "members": {
                    "forecastValues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "timestamp": {
                                    "shape": "S5"
                                },
                                "p10": {
                                    "type": "double"
                                },
                                "p50": {
                                    "type": "double"
                                },
                                "p90": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetForecastDimensionSummary": {
            "http": {
                "requestUri": "/GetForecastDimensionSummary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId"
                ],
                "members": {
                    "workbookId": {},
                    "instanceId": {
                        "shape": "S3"
                    },
                    "demandPlanningCycleId": {},
                    "productHierarchySelections": {
                        "shape": "S8"
                    },
                    "productHierarchyDimensions": {
                        "shape": "Si"
                    },
                    "locationHierarchyDimensions": {
                        "shape": "Si"
                    },
                    "channelHierarchyDimensions": {
                        "shape": "Si"
                    },
                    "customerHierarchyDimensions": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "productCount",
                    "locationCount",
                    "channelCount",
                    "customerCount"
                ],
                "members": {
                    "productCount": {
                        "type": "long"
                    },
                    "locationCount": {
                        "type": "long"
                    },
                    "channelCount": {
                        "type": "long"
                    },
                    "customerCount": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetHistoricalSales": {
            "http": {
                "requestUri": "/GetHistoricalSales",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId",
                    "startDate",
                    "endDate",
                    "timeGranularity"
                ],
                "members": {
                    "workbookId": {},
                    "instanceId": {
                        "shape": "S3"
                    },
                    "demandPlanningCycleId": {},
                    "startDate": {
                        "shape": "S5"
                    },
                    "endDate": {
                        "shape": "S5"
                    },
                    "timeGranularity": {},
                    "sortOrder": {},
                    "productHierarchySelections": {
                        "shape": "S8"
                    },
                    "locationHierarchySelections": {
                        "shape": "S8"
                    },
                    "channelHierarchySelections": {
                        "shape": "S8"
                    },
                    "customerHierarchySelections": {
                        "shape": "S8"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "historicalSales"
                ],
                "members": {
                    "historicalSales": {
                        "shape": "So"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetOverrideData": {
            "http": {
                "requestUri": "/GetOverrideData",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId",
                    "datasetId",
                    "startDate",
                    "endDate",
                    "timeGranularity"
                ],
                "members": {
                    "workbookId": {},
                    "instanceId": {
                        "shape": "S3"
                    },
                    "demandPlanningCycleId": {},
                    "datasetId": {},
                    "startDate": {
                        "shape": "S5"
                    },
                    "endDate": {
                        "shape": "S5"
                    },
                    "timeGranularity": {},
                    "sortOrder": {},
                    "productHierarchySelections": {
                        "shape": "S8"
                    },
                    "locationHierarchySelections": {
                        "shape": "S8"
                    },
                    "channelHierarchySelections": {
                        "shape": "S8"
                    },
                    "customerHierarchySelections": {
                        "shape": "S8"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "overrideValues"
                ],
                "members": {
                    "overrideValues": {
                        "shape": "So"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "SearchForecastDimensionHierarchy": {
            "http": {
                "requestUri": "/SearchForecastDimensionHierarchy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId",
                    "hierarchyType",
                    "hierarchyDimensions"
                ],
                "members": {
                    "workbookId": {},
                    "instanceId": {
                        "shape": "S3"
                    },
                    "demandPlanningCycleId": {},
                    "productHierarchySelections": {
                        "shape": "S8"
                    },
                    "hierarchyType": {},
                    "hierarchyDimensions": {
                        "shape": "Si"
                    },
                    "searchText": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "hierarchyList"
                ],
                "members": {
                    "hierarchyList": {
                        "shape": "Sx"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "SearchProductHierarchy": {
            "http": {
                "requestUri": "/SearchProductHierarchy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId"
                ],
                "members": {
                    "workbookId": {},
                    "instanceId": {
                        "shape": "S3"
                    },
                    "demandPlanningCycleId": {},
                    "searchText": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "products"
                ],
                "members": {
                    "products": {
                        "shape": "Sx"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "deprecated": true
        },
        "S5": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S8": {
            "type": "list",
            "member": {
                "shape": "S9"
            }
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "timestamp": {
                        "shape": "S5"
                    },
                    "quantity": {
                        "type": "long"
                    }
                }
            }
        },
        "Sx": {
            "type": "list",
            "member": {
                "shape": "S9"
            }
        }
    }
}