{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-02-25",
        "endpointPrefix": "foxtrotcontrolservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "FoxtrotControlService",
        "serviceId": "FoxtrotControl",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "foxtrotcontrol-2021-02-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
        ]
    },
    "operations": {
        "CreateDemandPlanningCycle": {
            "http": {
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/demandplanningcycles",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "planningCycleConfig"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "planningCycleConfig": {
                        "shape": "S4"
                    },
                    "recurrenceConfig": {
                        "shape": "S7"
                    },
                    "isGalaxy": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instanceId": {},
                    "workbookId": {},
                    "planningCycleId": {},
                    "planningCycleConfig": {
                        "shape": "S4"
                    },
                    "datasetGroupId": {},
                    "demandPlanningCycleId": {},
                    "demandPlanningCycleResources": {
                        "shape": "Sg"
                    },
                    "createTime": {
                        "shape": "S5"
                    },
                    "updateTime": {
                        "shape": "S5"
                    },
                    "status": {},
                    "recurrenceConfig": {
                        "shape": "S7"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "control."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "DeleteDemandForecastConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/demandplanningcycles/{demandPlanningCycleId}/demandforecastconfig",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "demandPlanningCycleId",
                    "workbookId",
                    "instanceId"
                ],
                "members": {
                    "demandPlanningCycleId": {
                        "location": "uri",
                        "locationName": "demandPlanningCycleId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "control."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "DeleteDemandPlanningCycle": {
            "http": {
                "method": "DELETE",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/demandplanningcycles/{demandPlanningCycleId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "demandPlanningCycleId": {
                        "location": "uri",
                        "locationName": "demandPlanningCycleId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "control."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "GetDemandForecastConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/demandplanningcycles/{demandPlanningCycleId}/demandforecastconfig",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "demandPlanningCycleId",
                    "workbookId",
                    "instanceId"
                ],
                "members": {
                    "demandPlanningCycleId": {
                        "location": "uri",
                        "locationName": "demandPlanningCycleId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "demandPlanningCycleId": {},
                    "instanceId": {},
                    "demandForecastConfiguration": {
                        "shape": "Sq"
                    },
                    "createTime": {
                        "shape": "S5"
                    },
                    "updateTime": {
                        "shape": "S5"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "control."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "GetDemandPlanningCycle": {
            "http": {
                "method": "GET",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/demandplanningcycles/{demandPlanningCycleId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "demandPlanningCycleId": {
                        "location": "uri",
                        "locationName": "demandPlanningCycleId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instanceId": {},
                    "workbookId": {},
                    "planningCycleId": {},
                    "planningCycleConfig": {
                        "shape": "S4"
                    },
                    "datasetGroupId": {},
                    "demandPlanningCycleId": {},
                    "demandPlanningCycleResources": {
                        "shape": "Sg"
                    },
                    "createTime": {
                        "shape": "S5"
                    },
                    "updateTime": {
                        "shape": "S5"
                    },
                    "status": {},
                    "recurrenceConfig": {
                        "shape": "S7"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "control."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "ListDemandPlanningCycles": {
            "http": {
                "method": "GET",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/demandplanningcycles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "salesDatasetId"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "salesDatasetId": {
                        "location": "querystring",
                        "locationName": "salesDatasetId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "demandPlanningCycles"
                ],
                "members": {
                    "demandPlanningCycles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instanceId": {},
                                "workbookId": {},
                                "planningCycleId": {},
                                "planningCycleConfig": {
                                    "shape": "S4"
                                },
                                "datasetGroupId": {},
                                "demandPlanningCycleId": {},
                                "demandPlanningCycleResources": {
                                    "shape": "Sg"
                                },
                                "createTime": {
                                    "shape": "S5"
                                },
                                "updateTime": {
                                    "shape": "S5"
                                },
                                "status": {},
                                "recurrenceConfig": {
                                    "shape": "S7"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "control."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "PutDemandForecastConfig": {
            "http": {
                "method": "PUT",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/demandplanningcycles/{demandPlanningCycleId}/demandforecastconfig",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "demandPlanningCycleId",
                    "workbookId",
                    "instanceId",
                    "demandForecastConfiguration"
                ],
                "members": {
                    "demandPlanningCycleId": {
                        "location": "uri",
                        "locationName": "demandPlanningCycleId"
                    },
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "demandForecastConfiguration": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "demandPlanningCycleId": {},
                    "instanceId": {},
                    "demandForecastConfiguration": {
                        "shape": "Sq"
                    },
                    "createTime": {
                        "shape": "S5"
                    },
                    "updateTime": {
                        "shape": "S5"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "control."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "UpdateDemandPlanningCycle": {
            "http": {
                "method": "PUT",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/demandplanningcycles/{demandPlanningCycleId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId",
                    "demandPlanningCycleResources"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "demandPlanningCycleId": {
                        "location": "uri",
                        "locationName": "demandPlanningCycleId"
                    },
                    "demandPlanningCycleResources": {
                        "shape": "Sg"
                    },
                    "demandPlanPublishedBy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instanceId": {},
                    "workbookId": {},
                    "planningCycleId": {},
                    "planningCycleConfig": {
                        "shape": "S4"
                    },
                    "datasetGroupId": {},
                    "demandPlanningCycleId": {},
                    "demandPlanningCycleResources": {
                        "shape": "Sg"
                    },
                    "createTime": {
                        "shape": "S5"
                    },
                    "updateTime": {
                        "shape": "S5"
                    },
                    "status": {},
                    "recurrenceConfig": {
                        "shape": "S7"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "control."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "UpdateDemandPlanningCycleMetadata": {
            "http": {
                "method": "PATCH",
                "requestUri": "/instances/{instanceId}/workbooks/{workbookId}/demandplanningcycles/{demandPlanningCycleId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId",
                    "planningCycleConfig"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "demandPlanningCycleId": {
                        "location": "uri",
                        "locationName": "demandPlanningCycleId"
                    },
                    "planningCycleConfig": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instanceId": {},
                    "workbookId": {},
                    "planningCycleId": {},
                    "planningCycleConfig": {
                        "shape": "S4"
                    },
                    "datasetGroupId": {},
                    "demandPlanningCycleId": {},
                    "demandPlanningCycleResources": {
                        "shape": "Sg"
                    },
                    "createTime": {
                        "shape": "S5"
                    },
                    "updateTime": {
                        "shape": "S5"
                    },
                    "status": {},
                    "recurrenceConfig": {
                        "shape": "S7"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "control."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "required": [
                "planningStartTime"
            ],
            "members": {
                "planningStartTime": {
                    "shape": "S5"
                },
                "planningEndTime": {
                    "shape": "S5"
                },
                "status": {}
            }
        },
        "S5": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S7": {
            "type": "structure",
            "members": {
                "totalNumberOfCyclesInRecurrence": {
                    "type": "integer"
                },
                "eachDemandPlanningCycleLength": {
                    "type": "integer"
                },
                "demandPlanningCycleLengthUnit": {}
            }
        },
        "Sg": {
            "type": "structure",
            "members": {
                "baselineForecastId": {},
                "demandPlanId": {},
                "salesDatasetIdForBaseline": {},
                "salesDatasetIdVersionForBaseline": {}
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "datasetGroupId",
                "forecastHorizon",
                "forecastFrequency"
            ],
            "members": {
                "datasetGroupId": {},
                "forecastHorizon": {
                    "type": "integer"
                },
                "forecastFrequency": {},
                "notificationEnabledEvents": {
                    "type": "list",
                    "member": {}
                },
                "filterKeys": {
                    "type": "list",
                    "member": {}
                },
                "productHierarchyDimensions": {
                    "type": "list",
                    "member": {}
                },
                "locationHierarchyDimensions": {
                    "type": "list",
                    "member": {}
                },
                "customerHierarchyDimensions": {
                    "type": "list",
                    "member": {}
                },
                "productAttributes": {
                    "type": "list",
                    "member": {}
                }
            }
        }
    }
}