{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-07-26",
        "endpointPrefix": "foxtrotdataapiservice",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "FoxtrotDataAPIService",
        "serviceId": "FoxtrotData",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "foxtrotdata-2022-07-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
        ]
    },
    "operations": {
        "GetBaselineForecast": {
            "http": {
                "requestUri": "/GetBaselineForecast",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId",
                    "startDate",
                    "endDate",
                    "timeGranularity"
                ],
                "members": {
                    "workbookId": {},
                    "instanceId": {
                        "shape": "S3"
                    },
                    "demandPlanningCycleId": {},
                    "startDate": {
                        "shape": "S5"
                    },
                    "endDate": {
                        "shape": "S5"
                    },
                    "timeGranularity": {},
                    "sortOrder": {},
                    "productHierarchySelections": {
                        "shape": "S8"
                    },
                    "locationHierarchySelections": {
                        "shape": "S8"
                    },
                    "channelHierarchySelections": {
                        "shape": "S8"
                    },
                    "customerHierarchySelections": {
                        "shape": "S8"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "forecastValues"
                ],
                "members": {
                    "forecastValues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "timestamp": {
                                    "shape": "S5"
                                },
                                "p10": {
                                    "type": "double"
                                },
                                "p50": {
                                    "type": "double"
                                },
                                "p90": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetForecastDimensionSummary": {
            "http": {
                "requestUri": "/GetForecastDimensionSummary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId"
                ],
                "members": {
                    "workbookId": {},
                    "instanceId": {
                        "shape": "S3"
                    },
                    "demandPlanningCycleId": {},
                    "productHierarchySelections": {
                        "shape": "S8"
                    },
                    "productHierarchyDimensions": {
                        "shape": "Si"
                    },
                    "locationHierarchyDimensions": {
                        "shape": "Si"
                    },
                    "channelHierarchyDimensions": {
                        "shape": "Si"
                    },
                    "customerHierarchyDimensions": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "productCount",
                    "locationCount",
                    "channelCount",
                    "customerCount"
                ],
                "members": {
                    "productCount": {
                        "type": "long"
                    },
                    "locationCount": {
                        "type": "long"
                    },
                    "channelCount": {
                        "type": "long"
                    },
                    "customerCount": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetHistoricalSales": {
            "http": {
                "requestUri": "/GetHistoricalSales",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId",
                    "startDate",
                    "endDate",
                    "timeGranularity"
                ],
                "members": {
                    "workbookId": {},
                    "instanceId": {
                        "shape": "S3"
                    },
                    "demandPlanningCycleId": {},
                    "startDate": {
                        "shape": "S5"
                    },
                    "endDate": {
                        "shape": "S5"
                    },
                    "timeGranularity": {},
                    "sortOrder": {},
                    "productHierarchySelections": {
                        "shape": "S8"
                    },
                    "locationHierarchySelections": {
                        "shape": "S8"
                    },
                    "channelHierarchySelections": {
                        "shape": "S8"
                    },
                    "customerHierarchySelections": {
                        "shape": "S8"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "historicalSales"
                ],
                "members": {
                    "historicalSales": {
                        "shape": "So"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetOverrideData": {
            "http": {
                "requestUri": "/GetOverrideData",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId",
                    "datasetId",
                    "startDate",
                    "endDate",
                    "timeGranularity"
                ],
                "members": {
                    "workbookId": {},
                    "instanceId": {
                        "shape": "S3"
                    },
                    "demandPlanningCycleId": {},
                    "datasetId": {},
                    "startDate": {
                        "shape": "S5"
                    },
                    "endDate": {
                        "shape": "S5"
                    },
                    "timeGranularity": {},
                    "sortOrder": {},
                    "productHierarchySelections": {
                        "shape": "S8"
                    },
                    "locationHierarchySelections": {
                        "shape": "S8"
                    },
                    "channelHierarchySelections": {
                        "shape": "S8"
                    },
                    "customerHierarchySelections": {
                        "shape": "S8"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "overrideValues"
                ],
                "members": {
                    "overrideValues": {
                        "shape": "So"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "SearchForecastDimensionHierarchy": {
            "http": {
                "requestUri": "/SearchForecastDimensionHierarchy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId",
                    "hierarchyType",
                    "hierarchyDimensions"
                ],
                "members": {
                    "workbookId": {},
                    "instanceId": {
                        "shape": "S3"
                    },
                    "demandPlanningCycleId": {},
                    "productHierarchySelections": {
                        "shape": "S8"
                    },
                    "hierarchyType": {},
                    "hierarchyDimensions": {
                        "shape": "Si"
                    },
                    "searchText": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "hierarchyList"
                ],
                "members": {
                    "hierarchyList": {
                        "shape": "Sx"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "SearchProductHierarchy": {
            "http": {
                "requestUri": "/SearchProductHierarchy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "instanceId",
                    "demandPlanningCycleId"
                ],
                "members": {
                    "workbookId": {},
                    "instanceId": {
                        "shape": "S3"
                    },
                    "demandPlanningCycleId": {},
                    "searchText": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "products"
                ],
                "members": {
                    "products": {
                        "shape": "Sx"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "deprecated": true
        },
        "S5": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S8": {
            "type": "list",
            "member": {
                "shape": "S9"
            }
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "timestamp": {
                        "shape": "S5"
                    },
                    "quantity": {
                        "type": "long"
                    }
                }
            }
        },
        "Sx": {
            "type": "list",
            "member": {
                "shape": "S9"
            }
        }
    }
}