{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-22",
        "endpointPrefix": "scn",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS GalaxyDataIngestionService",
        "serviceId": "GalaxyDataIngestionService",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "galaxydataingestionservice-2021-08-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
        ]
    },
    "operations": {
        "CreateConnection": {
            "http": {
                "requestUri": "/CreateConnection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name"
                ],
                "members": {
                    "instanceId": {},
                    "name": {},
                    "description": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateDataflow": {
            "http": {
                "requestUri": "/CreateDataflow"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId",
                    "name",
                    "targetDatasetId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "name": {},
                    "targetDatasetId": {},
                    "datasetType": {},
                    "datasetPartitions": {
                        "shape": "S10"
                    },
                    "sources": {
                        "shape": "S12"
                    },
                    "ingestionType": {},
                    "eventType": {},
                    "outboundEventConfiguration": {
                        "shape": "S1s"
                    },
                    "preDefinedTransformationType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId",
                    "dataflowId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DescribeConnection": {
            "http": {
                "requestUri": "/DescribeConnection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connection"
                ],
                "members": {
                    "connection": {
                        "type": "structure",
                        "required": [
                            "instanceId",
                            "connectionId",
                            "name",
                            "createdAt",
                            "updatedAt"
                        ],
                        "members": {
                            "instanceId": {},
                            "connectionId": {},
                            "name": {},
                            "description": {},
                            "createdAt": {
                                "type": "long"
                            },
                            "updatedAt": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "DescribeDataflow": {
            "http": {
                "requestUri": "/DescribeDataflow"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId",
                    "dataflowId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataflow"
                ],
                "members": {
                    "dataflow": {
                        "type": "structure",
                        "required": [
                            "instanceId",
                            "connectionId",
                            "dataflowId",
                            "targetDatasetId",
                            "name",
                            "status",
                            "createdAt",
                            "updatedAt"
                        ],
                        "members": {
                            "instanceId": {},
                            "connectionId": {},
                            "dataflowId": {},
                            "targetDatasetId": {},
                            "name": {},
                            "status": {},
                            "createdAt": {
                                "type": "long"
                            },
                            "updatedAt": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "CreateDataIntegrationFlow": {
            "http": {
                "method": "PUT",
                "requestUri": "/api/data-integration/control/instances/{instanceId}/data-integration-flows/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name",
                    "sources",
                    "transformation",
                    "target"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "sources": {
                        "shape": "S9"
                    },
                    "transformation": {
                        "shape": "So"
                    },
                    "target": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name"
                ],
                "members": {
                    "instanceId": {},
                    "name": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateInstance": {
            "http": {
                "requestUri": "/CreateInstance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accountId",
                    "encryptedFASToken",
                    "encryptedFASTokenDecryptionKMSKeyArn"
                ],
                "members": {
                    "instanceId": {},
                    "accountId": {},
                    "encryptedFASToken": {},
                    "encryptedFASTokenDecryptionKMSKeyArn": {},
                    "tags": {
                        "type": "list",
                        "member": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        }
                    },
                    "kmsKeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteConnection": {
            "http": {
                "requestUri": "/DeleteConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "isHardDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteDataIntegrationFlow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/api/data-integration/control/instances/{instanceId}/data-integration-flows/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name"
                ],
                "members": {
                    "instanceId": {},
                    "name": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteDataflow": {
            "http": {
                "requestUri": "/DeleteDataflow",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId",
                    "dataflowId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {},
                    "isHardDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId",
                    "dataflowId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteInstance": {
            "http": {
                "requestUri": "/DeleteInstance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ExportConnection": {
            "http": {
                "requestUri": "/ExportConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflows": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionExport"
                ],
                "members": {
                    "instanceId": {},
                    "connectionExport": {
                        "shape": "S2l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetConnection": {
            "http": {
                "requestUri": "/GetConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connection"
                ],
                "members": {
                    "connection": {
                        "shape": "S2t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetDataIntegrationFlow": {
            "http": {
                "method": "GET",
                "requestUri": "/api/data-integration/control/instances/{instanceId}/data-integration-flows/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "flow"
                ],
                "members": {
                    "flow": {
                        "shape": "S2x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetDataflow": {
            "http": {
                "requestUri": "/GetDataflow",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {},
                    "connectionName": {},
                    "dataflowName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataflow"
                ],
                "members": {
                    "dataflow": {
                        "shape": "S31"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetEDISampleMappingPossibility": {
            "http": {
                "requestUri": "/GetEDISampleMappingPossibility",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "sampleFileLocation",
                    "eventType",
                    "transactionset"
                ],
                "members": {
                    "instanceId": {},
                    "sampleFileLocation": {},
                    "eventType": {},
                    "transactionset": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "output": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "sourceField": {},
                                "possibilities": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "entityName": {},
                                            "confidence": {
                                                "type": "bigdecimal"
                                            }
                                        }
                                    }
                                },
                                "sampleValue": {}
                            }
                        }
                    },
                    "aaSessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetInstance": {
            "http": {
                "requestUri": "/GetInstance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instance"
                ],
                "members": {
                    "instance": {
                        "type": "structure",
                        "required": [
                            "instanceId"
                        ],
                        "members": {
                            "instanceId": {},
                            "instanceName": {},
                            "region": {},
                            "accountId": {},
                            "s3BucketName": {},
                            "createdAt": {
                                "type": "long"
                            },
                            "updatedAt": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetJob": {
            "http": {
                "requestUri": "/GetJob",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "jobId"
                ],
                "members": {
                    "instanceId": {},
                    "jobId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "jobId",
                    "status"
                ],
                "members": {
                    "instanceId": {},
                    "jobId": {},
                    "status": {},
                    "error": {
                        "type": "structure",
                        "members": {
                            "errorCode": {},
                            "errorMessage": {},
                            "paramters": {
                                "shape": "S1a"
                            }
                        }
                    },
                    "jobDefinition": {
                        "shape": "S3v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ImportConnection": {
            "http": {
                "requestUri": "/ImportConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionExport"
                ],
                "members": {
                    "instanceId": {},
                    "connectionExport": {
                        "shape": "S2l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ListConnections": {
            "http": {
                "requestUri": "/ListConnections",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connections"
                ],
                "members": {
                    "connections": {
                        "type": "list",
                        "member": {
                            "shape": "S2t"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ListCustomerFiles": {
            "http": {
                "requestUri": "/ListCustomerFiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "files"
                ],
                "members": {
                    "files": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "instanceId",
                                "connectionId",
                                "status",
                                "path",
                                "uploadType",
                                "uploadTimeStamp"
                            ],
                            "members": {
                                "instanceId": {},
                                "connectionId": {},
                                "dataflowId": {},
                                "fileId": {},
                                "status": {},
                                "path": {},
                                "uploadType": {},
                                "uploadTimeStamp": {
                                    "type": "long"
                                },
                                "errorCode": {},
                                "errorMessage": {},
                                "errorDiagnosticsFilePath": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ListCustomerFilesInternal": {
            "http": {
                "requestUri": "/ListCustomerFilesInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "files"
                ],
                "members": {
                    "files": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "instanceId",
                                "connectionId",
                                "status",
                                "path",
                                "uploadType",
                                "uploadTimeStamp"
                            ],
                            "members": {
                                "instanceId": {},
                                "connectionId": {},
                                "dataflowId": {},
                                "fileId": {},
                                "jobId": {},
                                "status": {},
                                "path": {},
                                "uploadType": {},
                                "uploadTimeStamp": {
                                    "type": "long"
                                },
                                "errorCode": {},
                                "errorMessage": {},
                                "errorDiagnosticsFilePath": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ListDataIntegrationFlows": {
            "http": {
                "method": "GET",
                "requestUri": "/api/data-integration/control/instances/{instanceId}/data-integration-flows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "flows"
                ],
                "members": {
                    "flows": {
                        "type": "list",
                        "member": {
                            "shape": "S2x"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ListDataflowStats": {
            "http": {
                "requestUri": "/ListDataflowStats",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataflowStats"
                ],
                "members": {
                    "dataflowStats": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "dataflowId",
                                "dataflowName",
                                "unacknowledgedErrors"
                            ],
                            "members": {
                                "dataflowId": {},
                                "dataflowName": {},
                                "customerFilesFailed": {
                                    "type": "long"
                                },
                                "customerFilesSucceeded": {
                                    "type": "long"
                                },
                                "unacknowledgedErrors": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ListDataflows": {
            "http": {
                "requestUri": "/ListDataflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "datasetType": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "eventType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataflows"
                ],
                "members": {
                    "dataflows": {
                        "type": "list",
                        "member": {
                            "shape": "S31"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "StartJob": {
            "http": {
                "requestUri": "/StartJob",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "jobDefinition"
                ],
                "members": {
                    "instanceId": {},
                    "kmsKeyArn": {},
                    "jobDefinition": {
                        "shape": "S3v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "jobId"
                ],
                "members": {
                    "instanceId": {},
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
[...]
