{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-11-16",
        "endpointPrefix": "galaxysamplefileupload",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "GalaxySampleFileUploadService",
        "serviceId": "GalaxySampleFileUpload",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "galaxysamplefileupload-2020-11-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
        ]
    },
    "operations": {
        "CreatePresignedUrl": {
            "http": {
                "requestUri": "/createPresignedUrl",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId",
                    "dataflowId",
                    "fileSize"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {},
                    "fileSize": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "presignedUrl": {
                        "type": "string",
                        "sensitive": true
                    },
                    "sseEncryption": {},
                    "sseKeyId": {},
                    "sseEncryptionContext": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteSampleFileResource": {
            "http": {
                "requestUri": "/deleteSampleFileResource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetSampleFileResourcesDeleteStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/getSampleFileResourcesDeleteStatus/{objectPrefix+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "objectPrefix"
                ],
                "members": {
                    "objectPrefix": {
                        "location": "uri",
                        "locationName": "objectPrefix"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        }
    },
    "shapes": {}
}