{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-07-26",
        "endpointPrefix": "galaxycollaborationcontrolplaneservice",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "GalaxyCollaborationControlPlaneService",
        "serviceId": "GalaxyCollaborationControlPlane",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "galaxycollaborationcontrolplane-2022-07-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
        ]
    },
    "operations": {
        "DeleteInstanceResources": {
            "http": {
                "method": "DELETE",
                "requestUri": "/instance/{InstanceId}/collaboration/settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "ListForecastCollaborationSupplyPlannerSettings": {
            "http": {
                "method": "GET",
                "requestUri": "/instance/{InstanceId}/forecast-collaborations/supply-planner/settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "SettingId": {
                        "location": "querystring",
                        "locationName": "setting-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Settings"
                ],
                "members": {
                    "Settings": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "ListForecastCollaborationTradingPartnerSettings": {
            "http": {
                "method": "GET",
                "requestUri": "/instance/{InstanceId}/forecast-collaborations/trading-partner/settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "SettingId": {
                        "location": "querystring",
                        "locationName": "setting-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Settings"
                ],
                "members": {
                    "Settings": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "ListPurchaseOrderCollaborationBuyerSettings": {
            "http": {
                "method": "GET",
                "requestUri": "/instance/{InstanceId}/purchase-order-collaborations/buyer/settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "SettingId": {
                        "location": "querystring",
                        "locationName": "setting-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Settings"
                ],
                "members": {
                    "Settings": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "ListPurchaseOrderCollaborationSupplierSettings": {
            "http": {
                "method": "GET",
                "requestUri": "/instance/{InstanceId}/purchase-order-collaborations/supplier/settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "SettingId": {
                        "location": "querystring",
                        "locationName": "setting-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Settings"
                ],
                "members": {
                    "Settings": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "UpdateForecastCollaborationSupplyPlannerSettings": {
            "http": {
                "method": "PATCH",
                "requestUri": "/instance/{InstanceId}/forecast-collaborations/supply-planner/settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "Settings"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "Settings": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Settings"
                ],
                "members": {
                    "Settings": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "UpdateForecastCollaborationTradingPartnerSettings": {
            "http": {
                "method": "PATCH",
                "requestUri": "/instance/{InstanceId}/forecast-collaborations/trading-partner/settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "Settings"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "Settings": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Settings"
                ],
                "members": {
                    "Settings": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "UpdatePurchaseOrderCollaborationBuyerSettings": {
            "http": {
                "method": "PATCH",
                "requestUri": "/instance/{InstanceId}/purchase-order-collaborations/buyer/settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "Settings"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "Settings": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Settings"
                ],
                "members": {
                    "Settings": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "UpdatePurchaseOrderCollaborationSupplierSettings": {
            "http": {
                "method": "PATCH",
                "requestUri": "/instance/{InstanceId}/purchase-order-collaborations/supplier/settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "Settings"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "Settings": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Settings"
                ],
                "members": {
                    "Settings": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "required": [
                "CollaborationType",
                "Settings"
            ],
            "members": {
                "CollaborationType": {},
                "Settings": {
                    "shape": "S9"
                }
            }
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}