{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-05-23",
        "endpointPrefix": "galaxyinsightsdataservice",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "GalaxyInsightsDataService",
        "serviceId": "GalaxyInsightsDataServiceFargate",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "galaxyinsightsdataservicefargate-2022-05-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
        ]
    },
    "operations": {
        "ActivateQueryExecutionPlans": {
            "http": {
                "requestUri": "/activate-query-execution-plans",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasets"
                ],
                "members": {
                    "instanceId": {},
                    "datasets": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "AuroraCopyOrderInsightsResults": {
            "http": {
                "requestUri": "/aurora-copy-order-insights-results",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "orderInsightsFileList"
                ],
                "members": {
                    "instanceId": {},
                    "orderInsightsFileList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "folderType": {},
                                "columnList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "type": {},
                                            "notNull": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                },
                                "bucketName": {},
                                "filePath": {}
                            }
                        }
                    },
                    "copyOpenDataRequestFromRedshift": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "BatchDeleteInsightLineItem": {
            "http": {
                "requestUri": "/batch-delete-insight-line-item",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "insightLineItemIdList"
                ],
                "members": {
                    "instanceId": {},
                    "insightLineItemIdList": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errorCount"
                ],
                "members": {
                    "errorCount": {
                        "type": "integer"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "BatchGetMilestoneDefinition": {
            "http": {
                "requestUri": "/batch-get-milestone-definition",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "milestoneIds"
                ],
                "members": {
                    "instanceId": {},
                    "milestoneIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "milestoneDefinitions": {
                        "shape": "Sr"
                    },
                    "unprocessedRecords": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "BatchUpdateInsightLineItemStatus": {
            "http": {
                "requestUri": "/batch-update-insight-line-item-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "insightLineItemIdList",
                    "status"
                ],
                "members": {
                    "instanceId": {},
                    "insightLineItemIdList": {
                        "shape": "Sj"
                    },
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errorCount"
                ],
                "members": {
                    "errorCount": {
                        "type": "integer"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "CheckKpiDataQuality": {
            "http": {
                "requestUri": "/check-kpi-data-quality",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "kpiDataQuality"
                ],
                "members": {
                    "kpiDataQuality": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S1p"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ComputePostRebalancedQuantities": {
            "http": {
                "requestUri": "/rebalancing/option/{configurationId}/{helperSiteId}/detail/projected-inventory",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "configurationId",
                    "helperSiteId",
                    "projectedDaysFromStartTimestamp"
                ],
                "members": {
                    "instanceId": {},
                    "configurationId": {
                        "deprecated": true,
                        "deprecatedMessage": "rebalancing `configurationId/helperSiteId` composite primary key will be replace with rebalancing `optionId` ",
                        "location": "uri",
                        "locationName": "configurationId"
                    },
                    "helperSiteId": {
                        "shape": "S1u",
                        "deprecated": true,
                        "deprecatedMessage": "rebalancing `configurationId/helperSiteId` composite primary key will be replace with rebalancing `optionId` ",
                        "location": "uri",
                        "locationName": "helperSiteId"
                    },
                    "projectedDaysFromStartTimestamp": {
                        "location": "querystring",
                        "locationName": "projectedDaysFromStartTimestamp",
                        "type": "long"
                    },
                    "startTimestamp": {
                        "location": "querystring",
                        "locationName": "startTimestamp"
                    },
                    "optionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "postRebalancedQuantities"
                ],
                "members": {
                    "postRebalancedQuantities": {
                        "shape": "S1z"
                    }
                }
            },
            "deprecated": true,
            "deprecatedMessage": "Use operation `ComputePostRebalancedQuantitiesV1`",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ComputePostRebalancedQuantitiesV1": {
            "http": {
                "requestUri": "/v1/rebalancing/option/{optionId}/detail/projected-inventory",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "optionId",
                    "projectedDaysFromStartTimestamp"
                ],
                "members": {
                    "instanceId": {},
                    "optionId": {
                        "location": "uri",
                        "locationName": "optionId"
                    },
                    "projectedDaysFromStartTimestamp": {
                        "location": "querystring",
                        "locationName": "projectedDaysFromStartTimestamp",
                        "type": "long"
                    },
                    "startTimestamp": {
                        "location": "querystring",
                        "locationName": "startTimestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "postRebalancedQuantities"
                ],
                "members": {
                    "postRebalancedQuantities": {
                        "shape": "S1z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "CopyOrderInsightsResults": {
            "http": {
                "requestUri": "/copy-order-insights-results",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "orderInsightsFolderList"
                ],
                "members": {
                    "instanceId": {},
                    "orderInsightsFolderList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "s3Path": {},
                                "folderType": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "CreateInsightFilter": {
            "http": {
                "requestUri": "/create-insight-filter",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userId",
                    "name",
                    "attributes"
                ],
                "members": {
                    "instanceId": {},
                    "userId": {},
                    "name": {
                        "shape": "S2b"
                    },
                    "locationIds": {
                        "shape": "S2c"
                    },
                    "regionIds": {
                        "shape": "S2c"
                    },
                    "productIds": {
                        "shape": "S2c"
                    },
                    "categoryIds": {
                        "shape": "S2c"
                    },
                    "attributes": {
                        "shape": "S2d"
                    },
                    "riskClassifications": {
                        "shape": "S2d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "filterArn"
                ],
                "members": {
                    "filterArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "CreateInsightLineItem": {
            "http": {
                "requestUri": "/create-insight-line-item",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "insightId",
                    "subscriptionId",
                    "productId",
                    "locationId",
                    "insightType"
                ],
                "members": {
                    "instanceId": {},
                    "insightId": {},
                    "subscriptionId": {},
                    "productId": {
                        "shape": "S2b"
                    },
                    "locationId": {
                        "shape": "S2b"
                    },
                    "insightType": {},
                    "vendorId": {
                        "shape": "S2b"
                    },
                    "inventoryRiskDescription": {
                        "shape": "S2k"
                    },
                    "leadTimeDescription": {
                        "shape": "S2m"
                    },
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "insightLineItemId",
                    "insightLineItemArn"
                ],
                "members": {
                    "insightLineItemId": {},
                    "insightLineItemArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "CreateInsightSubscription": {
            "http": {
                "requestUri": "/create-insight-subscription",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "insightType",
                    "filters",
                    "name",
                    "watchers",
                    "owner"
                ],
                "members": {
                    "instanceId": {},
                    "insightType": {},
                    "filters": {
                        "shape": "S2t"
                    },
                    "leadTimeInsightConfiguration": {
                        "shape": "S2u"
                    },
                    "inventoryRiskInsightConfiguration": {
                        "shape": "S30"
                    },
                    "name": {
                        "shape": "S34"
                    },
                    "description": {
                        "shape": "S35"
                    },
                    "watchers": {
                        "shape": "S36"
                    },
                    "owner": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "subscriptionId",
                    "subscriptionArn"
                ],
                "members": {
                    "subscriptionId": {},
                    "subscriptionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "CreateInsightSummary": {
            "http": {
                "requestUri": "/create-insight",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "subscriptionId",
                    "workflowId",
                    "insightType",
                    "summary",
                    "datasets"
                ],
                "members": {
                    "instanceId": {},
                    "subscriptionId": {},
                    "workflowId": {},
                    "insightType": {},
                    "summary": {
                        "shape": "S3a"
                    },
                    "datasets": {
                        "shape": "S3c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "insightId",
                    "insightArn"
                ],
                "members": {
                    "insightId": {},
                    "insightArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "CreateMaterializedView": {
            "http": {
                "requestUri": "/create-materialized-view",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "dataset",
                    "materializedViewType"
                ],
                "members": {
                    "instanceId": {},
                    "dataset": {
                        "shape": "S4"
                    },
                    "materializedViewType": {},
                    "availableDatasets": {
                        "shape": "S3"
                    },
                    "metadataList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "dataset": {
                        "shape": "S4"
                    },
                    "materializedViewType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "CreateMaterializedViewsForDatasets": {
            "http": {
                "requestUri": "/create-materialized-views-for-datasets",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasets"
                ],
                "members": {
                    "instanceId": {},
                    "datasets": {
                        "shape": "S3"
                    },
                    "externalInstanceSchemaType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "deprecated": true,
            "deprecatedMessage": "Use CreateMaterializedView instead",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "CreateMilestoneDefinition": {
            "http": {
                "requestUri": "/create-milestone-definition",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "milestoneDefinition"
                ],
                "members": {
                    "instanceId": {},
                    "milestoneDefinition": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "milestoneId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "CreateResourceLink": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-resource-link",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "remoteAccountId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "remoteAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceLinkId"
                ],
                "members": {
                    "resourceLinkId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "DeleteInsightFilter": {
            "http": {
                "requestUri": "/delete-insight-filter",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userId",
                    "filterId"
                ],
                "members": {
                    "instanceId": {},
                    "userId": {
                        "location": "querystring",
                        "locationName": "userId"
                    },
                    "filterId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "DeleteInsightSubscription": {
            "http": {
                "requestUri": "/delete-insight-subscription",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "subscriptionId"
                ],
                "members": {
                    "instanceId": {},
                    "subscriptionId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "DeleteInstanceDynamodbRecords": {
            "http": {
                "requestUri": "/instances/{instanceId}/delete_dynamodb_records",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "tableName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "hasCompleted"
                ],
                "members": {
                    "hasCompleted": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "DeleteMaterializedViewsForDatasets": {
            "http": {
                "requestUri": "/delete-materialized-views-for-datasets",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasets"
                ],
                "members": {
                    "instanceId": {},
                    "datasets": {
                        "shape": "S3"
                    },
                    "mvType": {},
                    "kpi": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "DeleteMilestoneDefinition": {
            "http": {
                "requestUri": "/delete-milestone-definition",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "milestoneId"
                ],
                "members": {
                    "instanceId": {},
                    "milestoneId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "DeleteResourceLink": {
            "http": {
                "requestUri": "/instances/{instanceId}/delete-resource-link",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceLinkId"
                ],
                "members": {
                    "resourceLinkId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "DeregisterGalaxyInstance": {
            "http": {
                "requestUri": "/instances/{instanceId}/deregister-galaxy-instance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "DescribeQuery": {
            "http": {
                "requestUri": "/describe-query",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "queryId"
                ],
                "members": {
                    "instanceId": {},
                    "queryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "error": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ExportRebalancingOptions": {
            "http": {
                "requestUri": "/rebalancing/export/{optionId}/option",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "optionId",
                    "exportFormat"
                ],
                "members": {
                    "instanceId": {},
                    "optionId": {
                        "location": "uri",
                        "locationName": "optionId"
                    },
                    "exportFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "exportStatus",
                    "exportLocation",
                    "preSignedUrl"
                ],
                "members": {
                    "exportStatus": {},
                    "exportLocation": {
                        "shape": "S4e"
                    },
                    "preSignedUrl": {
                        "shape": "S4f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetCurrentInsightsWorkflowStatus": {
            "http": {
                "requestUri": "/instances/{instanceId}/current-insights-workflow-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "insightsUsecase"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "insightsUsecase": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflowStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetDefaultWorkOrderPlan": {
            "http": {
                "requestUri": "/get-default-work-order-plan",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "materialSourceType": {
                        "shape": "S4l",
                        "deprecated": true,
                        "deprecatedMessage": "Use ReservationType instead"
                    },
                    "reservationType": {
                        "shape": "S4m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workOrderPlan": {
                        "shape": "S4o",
                        "deprecated": true,
                        "deprecatedMessage": "Use workOrderPlans instead"
                    },
                    "workOrderPlans": {
                        "shape": "S4t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetInsightLineItem": {
            "http": {
                "requestUri": "/get-insight-line-item",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "insightLineItemId"
                ],
                "members": {
                    "instanceId": {},
                    "insightLineItemId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "insightLineItem": {
                        "shape": "S4w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetInsightSubscription": {
            "http": {
                "requestUri": "/get-insight-subscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "subscriptionId"
                ],
                "members": {
                    "instanceId": {},
                    "subscriptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "insightSubscription": {
                        "type": "structure",
                        "required": [
                            "subscriptionId",
                            "subscriptionArn",
                            "insightType",
                            "filters",
                            "name",
                            "status"
                        ],
                        "members": {
                            "subscriptionId": {},
                            "subscriptionArn": {},
                            "insightType": {},
                            "filters": {
                                "shape": "S2t"
                            },
                            "name": {
                                "shape": "S34"
                            },
                            "status": {},
                            "description": {
                                "shape": "S35"
                            },
                            "watchers": {
                                "shape": "S2z"
                            },
                            "owner": {},
                            "accountId": {},
                            "leadTimeInsightConfiguration": {
                                "shape": "S2u"
                            },
                            "inventoryRiskInsightConfiguration": {
                                "shape": "S30"
                            },
                            "lineItemCount": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetInstanceAttribute": {
            "http": {
                "requestUri": "/instances/{instanceId}/instance-attribute",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "attributeType"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "attributeType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "attributeValue"
                ],
                "members": {
                    "attributeValue": {
                        "shape": "S55"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetInstanceRequiredDatasetAvailabilityStatus": {
            "http": {
                "requestUri": "/instances/{instanceId}/instance-required-dataset-availability-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "datasetAvailabilityStatus",
                    "usecaseFulfillment"
                ],
                "members": {
                    "datasetAvailabilityStatus": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "boolean"
                        }
                    },
                    "usecaseFulfillment": {
                        "type": "structure",
                        "members": {
                            "inventoryProjectionsUseCaseFulfilled": {
                                "type": "boolean"
                            },
                            "inventoryRiskUseCaseFulfilled": {
                                "type": "boolean"
                            },
                            "inventoryRebalancingUsecaseFulfilled": {
                                "type": "boolean"
                            },
                            "gidsDataVendingUsecaseFulfilled": {
                                "type": "boolean"
                            },
                            "leadtimeUsecaseFulfilled": {
                                "type": "boolean"
                            },
                            "orderInsightsUsercaseFulfilled": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetKpiData": {
            "http": {
                "requestUri": "/get-kpi-data",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "filters",
                    "startDate",
                    "endDate",
                    "granularity",
                    "kpiType"
                ],
                "members": {
                    "instanceId": {},
                    "filters": {
                        "type": "structure",
                        "members": {
                            "siteIds": {
                                "shape": "S2c"
                            },
                            "productIds": {
                                "shape": "S2c"
                            }
                        }
                    },
                    "startDate": {},
                    "endDate": {},
                    "granularity": {},
                    "kpiType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "kpiType",
                    "kpiValues",
                    "kpiDataQuality"
                ],
                "members": {
                    "kpiType": {},
                    "kpiValues": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "double"
                        }
                    },
                    "kpiDataQuality": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetLatestInsightsExportJob": {
            "http": {
                "requestUri": "/get-latest-export-insights-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "insightType"
                ],
                "members": {
                    "instanceId": {},
                    "insightType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "jobStatus",
                    "createdAt"
                ],
                "members": {
                    "jobId": {},
                    "jobStatus": {},
                    "createdAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetMilestoneDefinition": {
            "http": {
                "requestUri": "/get-milestone-definition",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "milestoneId"
                ],
                "members": {
                    "instanceId": {},
                    "milestoneId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "milestoneDefinition": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetMilestoneRequestStatus": {
            "http": {
                "requestUri": "/get-milestone-request-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "milestoneRequestId",
                    "milestoneId"
                ],
                "members": {
                    "instanceId": {},
                    "milestoneRequestId": {},
                    "milestoneId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "milestoneRequestStatus"
                ],
                "members": {
                    "milestoneRequestStatus": {},
                    "requestSentDate": {},
                    "responseReceivedDate": {},
                    "updateResponseReasonType": {},
                    "updatedDeliveryDate": {},
                    "quantityUnit": {},
                    "requestedQuantity": {},
                    "updatedQuantity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetModelEndpointStatus": {
            "http": {
                "requestUri": "/get-model-endpoint-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "algorithm"
                ],
                "members": {
                    "instanceId": {},
                    "algorithm": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "isModelReady"
                ],
                "members": {
                    "isModelReady": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetPIVForProduct": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-piv-for-product",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "productId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "shape": "S75"
                    },
                    "productId": {
                        "shape": "S77"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sites"
                ],
                "members": {
                    "sites": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "maxSafetyStock": {
                                    "shape": "S7i"
                                },
                                "maxDocLimit": {
                                    "shape": "S7j"
                                },
                                "minSafetyStock": {
                                    "shape": "S7k"
                                },
                                "minDocLimit": {
                                    "shape": "S7l"
                                },
                                "riskCalculationType": {},
                                "availableInventoryQuantity": {
                                    "shape": "S7m"
                                },
                                "inTransitInventoryQuantity": {
                                    "shape": "S7m"
                                },
                                "onOrderInventoryQuantity": {
                                    "shape": "S7m"
                                },
                                "siteId": {
                                    "shape": "S79"
                                },
                                "siteName": {
                                    "shape": "S7n"
                                },
                                "siteType": {
                                    "shape": "S7o"
                                },
                                "regionName": {
                                    "shape": "S7p"
                                },
                                "geoId": {
                                    "shape": "S7q"
                                },
                                "pivOverTime": {
                                    "shape": "S7r"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetPIVForSite": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-piv-for-site",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "siteId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "shape": "S75"
                    },
                    "siteId": {
                        "shape": "S79"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "products"
                ],
                "members": {
                    "products": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "maxSafetyStock": {
                                    "shape": "S7i"
                                },
                                "maxDocLimit": {
                                    "shape": "S7j"
                                },
                                "minSafetyStock": {
                                    "shape": "S7k"
                                },
                                "minDocLimit": {
                                    "shape": "S7l"
                                },
                                "riskCalculationType": {},
                                "availableInventoryQuantity": {
                                    "shape": "S7m"
                                },
                                "inTransitInventoryQuantity": {
                                    "shape": "S7m"
                                },
                                "onOrderInventoryQuantity": {
                                    "shape": "S7m"
                                },
                                "productId": {
                                    "shape": "S77"
                                },
                                "productName": {
                                    "shape": "S81"
                                },
                                "productCategory": {
                                    "shape": "S82"
                                },
                                "productCategoryId": {
                                    "shape": "S7b"
                                },
                                "pivOverTime": {
                                    "shape": "S7r"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetPIVForSiteAndProduct": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-piv-for-site-and-product",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "siteId",
                    "productId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "siteId": {
                        "shape": "S79"
                    },
                    "productId": {
                        "shape": "S77"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "lastUpdatedTimestamp": {},
                    "minSafetyStockThreshold": {
                        "shape": "S7m"
                    },
                    "maxSafetyStockThreshold": {
                        "shape": "S7m"
                    },
                    "minDocLimitThreshold": {
                        "shape": "S85"
                    },
                    "maxDocLimitThreshold": {
                        "shape": "S85"
                    },
                    "riskCalculationType": {},
                    "projectedInventory": {
                        "shape": "S7r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetPIVForSitesAndProducts": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-piv-for-sites-and-products",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "siteIdAndProductIdList"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "siteIdAndProductIdList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "siteId",
                                "productId"
                            ],
                            "members": {
                                "siteId": {
                                    "shape": "S79"
                                },
                                "productId": {
                                    "shape": "S77"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "pivRecords": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "minSafetyStockThreshold": {
                                    "shape": "S7m"
                                },
                                "minDaysOfCoverThreshold": {
                                    "shape": "S85"
                                },
                                "maxSafetyStockThreshold": {
                                    "shape": "S7m"
                                },
                                "maxDaysOfCoverThreshold": {
                                    "shape": "S85"
                                },
                                "riskCalculationType": {},
                                "projectedInventory": {
                                    "shape": "S7r"
                                },
                                "product": {
                                    "shape": "S8c"
                                },
                                "site": {
                                    "shape": "S8f"
                                }
                            }
                        }
                    },
                    "lastUpdatedTimestamp": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetProcessDefinitionList": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-process-definition_list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "filteredProcesses": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "processDefinitionList"
                ],
                "members": {
                    "processDefinitionList": {
                        "shape": "S65"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetProductSummaryAggregates": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-product-summary-aggregates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "filter": {
                        "shape": "S75"
                    },
                    "projectionPeriod": {
                        "shape": "S8m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "productSummaryAggregates"
                ],
                "members": {
                    "productSummaryAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "product": {
                                    "shape": "S8c"
                                },
                                "productSummaryOverTime": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "timepoint": {},
                                            "timeGranularity": {},
                                            "timeInd": {
                                                "type": "integer"
                                            },
                                            "available": {
                                                "shape": "S7m"
                                            },
                                            "inTransit": {
                                                "shape": "S7m"
                                            },
                                            "allocated": {
                                                "shape": "S7m"
                                            },
                                            "onOrder": {
                                                "shape": "S7m"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetProducts": {
            "http": {
                "requestUri": "/get-products",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "productIds"
                ],
                "members": {
                    "instanceId": {},
                    "productIds": {
                        "type": "list",
                        "member": {
                            "shape": "S77"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "products"
                ],
                "members": {
                    "products": {
                        "shape": "S8v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetSegmentationState": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-segmentation-state",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "segmentationType": {},
                    "segmentationState": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetSiteSummaryAggregates": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-site-summary-aggregates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "filter": {
                        "shape": "S75"
                    },
                    "projectionPeriod": {
                        "shape": "S8m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "siteSummaryAggregates"
                ],
                "members": {
                    "siteSummaryAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "site": {
                                    "shape": "S8f"
                                },
                                "siteSummaryOverTime": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "timepoint": {},
                                            "timeGranularity": {},
                                            "timeInd": {
                                                "type": "integer"
                                            },
                                            "balanced": {
                                                "shape": "S7m"
                                            },
                                            "total": {
                                                "shape": "S7m"
                                            },
                                            "stockout": {
                                                "shape": "S7m"
                                            },
                                            "excess": {
                                                "shape": "S7m"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetSites": {
            "http": {
                "requestUri": "/get-sites",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "siteIds"
                ],
                "members": {
                    "instanceId": {},
                    "siteIds": {
                        "type": "list",
                        "member": {
                            "shape": "S79"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sites"
                ],
                "members": {
                    "sites": {
                        "shape": "S99"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetWorkOrderLineDetails": {
            "http": {
                "requestUri": "/get-work-order-line-details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "orderLineId"
                ],
                "members": {
                    "instanceId": {},
                    "orderLineId": {},
                    "workOrderId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "orderLineDetails"
                ],
                "members": {
                    "orderLineDetails": {
                        "shape": "S9d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetWorkOrderLinePlan": {
            "http": {
                "requestUri": "/get-work-order-line-plan",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "workOrderId",
                    "productId"
                ],
                "members": {
                    "instanceId": {},
                    "workOrderId": {
                        "shape": "S9e"
                    },
                    "productId": {
                        "shape": "S77"
                    },
                    "materialSourceType": {
                        "shape": "S4l",
                        "deprecated": true,
                        "deprecatedMessage": "Use ReservationType instead"
                    },
                    "reservationType": {
                        "shape": "S4m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workOrderPlan": {
                        "shape": "S4p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "IsUserAuthorizedForInsightLineItem": {
            "http": {
                "requestUri": "/is-user-authorized-for-insight-line-item",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userId",
                    "instanceId",
                    "insightLineItemId"
                ],
                "members": {
                    "userId": {},
                    "instanceId": {},
                    "insightLineItemId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "isAuthorized"
                ],
                "members": {
                    "isAuthorized": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListCustomAttributeNames": {
            "http": {
                "requestUri": "/instances/{instanceId}/attribute-names",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "entityType"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "entityType": {},
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "names"
                ],
                "members": {
                    "names": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "fieldId": {},
                                "fieldName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListCustomAttributeValues": {
            "http": {
                "requestUri": "/instances/{instanceId}/attribute-values",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "entityType",
                    "fieldId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "entityType": {},
                    "fieldId": {},
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "values"
                ],
                "members": {
                    "values": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListGeographiesAsGalaxyAdmin": {
            "http": {
                "requestUri": "/instances/{instanceId}/list-geographies-as-galaxy-admin",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "geographies"
                ],
                "members": {
                    "geographies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "geographyId": {
                                    "shape": "S7q"
                                },
                                "description": {
                                    "shape": "S2b"
                                },
                                "parentGeographyId": {
                                    "shape": "S7q"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListInsightFilters": {
            "http": {
                "requestUri": "/list-insight-filters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userId"
                ],
                "members": {
                    "instanceId": {},
                    "userId": {
                        "location": "querystring",
                        "locationName": "userId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "filterArn",
                                "name",
                                "attributes"
                            ],
                            "members": {
                                "filterArn": {},
                                "name": {
                                    "shape": "S2b"
                                },
                                "locationIds": {
                                    "shape": "S2c"
                                },
                                "regionIds": {
                                    "shape": "S2c"
                                },
                                "productIds": {
                                    "shape": "S2c"
                                },
                                "categoryIds": {
                                    "shape": "S2c"
                                },
                                "attributes": {
                                    "shape": "S2d"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListInsightLineItems": {
            "http": {
                "requestUri": "/list-insight-line-items",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "subscriptionId": {
                        "location": "querystring",
                        "locationName": "subscriptionId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "statusList": {
                        "deprecated": true,
                        "deprecatedMessage": "This argument will be removed in upcoming deployments. Use status instead.",
                        "type": "list",
                        "member": {}
                    },
                    "countOnly": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "insightLineItems"
                ],
                "members": {
                    "insightLineItems": {
                        "type": "list",
                        "member": {
                            "shape": "S4w"
                        }
                    },
                    "count": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListInsightSubscriptions": {
            "http": {
                "requestUri": "/list-insight-subscriptions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userId",
                    "userType"
                ],
                "members": {
                    "instanceId": {},
                    "userId": {
                        "location": "querystring",
                        "locationName": "userId"
                    },
                    "userType": {
                        "location": "querystring",
                        "locationName": "userType"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "insightSubscriptions"
                ],
                "members": {
                    "insightSubscriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "subscriptionId",
                                "subscriptionArn",
                                "insightType",
                                "filters",
                                "name",
                                "owner"
                            ],
                            "members": {
                                "subscriptionId": {},
                                "subscriptionArn": {},
                                "insightType": {},
                                "filters": {
                                    "shape": "S2t"
                                },
                                "name": {
                                    "shape": "S34"
                                },
                                "owner": {},
                                "lineItemCount": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListInsightSummariesBySubscription": {
            "http": {
                "requestUri": "/list-insight-summaries-by-subscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "subscriptionId"
                ],
                "members": {
                    "instanceId": {},
                    "subscriptionId": {
                        "location": "querystring",
                        "locationName": "subscriptionId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "insightSummaries"
                ],
                "members": {
                    "insightSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "insightId",
                                "insightArn",
                                "insightType",
                                "summary",
                                "datasets"
                            ],
                            "members": {
                                "insightId": {},
                                "insightArn": {},
                                "insightType": {},
                                "summary": {
                                    "shape": "S3a"
                                },
                                "datasets": {
                                    "shape": "S3c"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListInventoryQuantityAggregates": {
            "http": {
                "requestUri": "/instances/{instanceId}/inventory-quantity-aggregates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "shape": "S75"
                    },
                    "timeHorizonDays": {
                        "type": "integer"
                    }
                }
            },
            "output": {
[...]
