{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-04-01",
        "endpointPrefix": "gpms",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "GalaxyPartnerManagementService",
        "serviceId": "GalaxyPartnerManagement",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "galaxypartnermanagement-2023-04-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
        ]
    },
    "operations": {
        "AcceptInvitation": {
            "http": {
                "requestUri": "/acceptInvitation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "invitationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "invitationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "AcceptPartnerUserInvitation": {
            "http": {
                "requestUri": "/acceptPartnerUserInvitation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partnerUserDetail"
                ],
                "members": {
                    "partnerUserDetail": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "BackFillInvitationTypeInternal": {
            "http": {
                "requestUri": "/backfillInvitationTypeInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "overrideMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "BatchAcceptInvitation": {
            "http": {
                "requestUri": "/batchAcceptInvitation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "invitations"
                ],
                "members": {
                    "instanceId": {},
                    "invitations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "invitationId"
                            ],
                            "members": {
                                "invitationId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "acceptedInvitations",
                    "errors"
                ],
                "members": {
                    "acceptedInvitations": {
                        "shape": "Sk"
                    },
                    "errors": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "BatchDeclineInvitation": {
            "http": {
                "requestUri": "/batchDeclineInvitation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "invitations"
                ],
                "members": {
                    "instanceId": {},
                    "invitations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "invitationId",
                                "declineReasonType",
                                "declineMessage"
                            ],
                            "members": {
                                "invitationId": {},
                                "declineReasonType": {},
                                "declineMessage": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "declinedInvitations",
                    "errors"
                ],
                "members": {
                    "declinedInvitations": {
                        "shape": "Sk"
                    },
                    "errors": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "BatchGetInvitation": {
            "http": {
                "requestUri": "/batchGetInvitation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "invitationIds"
                ],
                "members": {
                    "instanceId": {},
                    "invitationIds": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "batchPartnerInvitationOutput"
                ],
                "members": {
                    "batchPartnerInvitationOutput": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "invitationId",
                                "tradingPartnerId",
                                "tradingPartnerName"
                            ],
                            "members": {
                                "invitationId": {},
                                "tradingPartnerId": {},
                                "tradingPartnerName": {
                                    "shape": "Sz"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "CreatePartnershipInternal": {
            "http": {
                "requestUri": "/createPartnershipInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "customerInstanceId",
                    "partnerInstanceId",
                    "status",
                    "partnerDetails"
                ],
                "members": {
                    "customerInstanceId": {},
                    "partnerInstanceId": {},
                    "status": {},
                    "customerAwsAccountId": {},
                    "partnerSSOUserId": {},
                    "customerSSOUserId": {},
                    "partnerDetails": {
                        "shape": "S13"
                    },
                    "expireInDays": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "invitationId"
                ],
                "members": {
                    "invitationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteInstanceResources": {
            "http": {
                "requestUri": "/DeleteInstanceResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeletePartnershipInternal": {
            "http": {
                "requestUri": "/deletePartnershipInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "invitationId": {},
                    "customerInstanceId": {},
                    "partnerInstanceId": {},
                    "partnerInstanceVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deleteInstance"
                ],
                "members": {
                    "invitationId": {},
                    "deleteInstance": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetCustomerInvitation": {
            "http": {
                "requestUri": "/getCustomerInvitation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "invitationId"
                ],
                "members": {
                    "instanceId": {},
                    "invitationId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partner"
                ],
                "members": {
                    "partner": {
                        "type": "structure",
                        "required": [
                            "invitationId",
                            "portalStatus",
                            "inviteDate",
                            "updateDate",
                            "organizationName",
                            "contactName",
                            "contactEmail"
                        ],
                        "members": {
                            "invitationId": {},
                            "portalStatus": {},
                            "inviteDate": {
                                "type": "timestamp"
                            },
                            "updateDate": {
                                "type": "timestamp"
                            },
                            "invitationType": {},
                            "declineReasonType": {},
                            "declineMessage": {},
                            "organizationName": {},
                            "contactName": {
                                "shape": "Sz"
                            },
                            "contactEmail": {
                                "shape": "S9"
                            },
                            "instanceId": {},
                            "organizationHqCountry": {},
                            "duns": {},
                            "osId": {},
                            "externalPartnerId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetCustomerInvitationStats": {
            "http": {
                "requestUri": "/getCustomerInvitationStats",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "invitationType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "invitationStatsMap"
                ],
                "members": {
                    "invitationStatsMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "integer"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetPartnerInvitation": {
            "http": {
                "requestUri": "/getPartnerInvitation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "invitationId"
                ],
                "members": {
                    "instanceId": {},
                    "invitationId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customer"
                ],
                "members": {
                    "customer": {
                        "shape": "S1u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetPartnership": {
            "http": {
                "requestUri": "/getPartnership",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "partner1InstanceId",
                    "partner2InstanceId"
                ],
                "members": {
                    "partner1InstanceId": {},
                    "partner2InstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partner1Region",
                    "partner2Region",
                    "status"
                ],
                "members": {
                    "partner1Region": {},
                    "partner2Region": {},
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetTradingPartner": {
            "http": {
                "requestUri": "/getTradingPartner",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "externalPartnerId": {},
                    "tPartnerInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "externalPartnerId",
                    "tPartnerInstanceId",
                    "status"
                ],
                "members": {
                    "externalPartnerId": {},
                    "tPartnerInstanceId": {},
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "InvitePartnerUsers": {
            "http": {
                "requestUri": "/invitePartnerUsers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "lightweightInstanceId",
                    "partnerDetails"
                ],
                "members": {
                    "lightweightInstanceId": {},
                    "partnerDetails": {
                        "shape": "S22"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "invitedPartnerUsers"
                ],
                "members": {
                    "invitedPartnerUsers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "contactFirstName",
                                "contactLastName",
                                "contactEmail",
                                "partnerUserStatus",
                                "partnerSSOUserId",
                                "partnerUserRole",
                                "inviteDate"
                            ],
                            "members": {
                                "contactFirstName": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "contactLastName": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "contactEmail": {
                                    "shape": "S9"
                                },
                                "partnerUserStatus": {},
                                "partnerSSOUserId": {},
                                "partnerUserRole": {},
                                "inviteDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "InvitePartners": {
            "http": {
                "requestUri": "/invitePartners",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "partnerDetails"
                ],
                "members": {
                    "instanceId": {},
                    "partnerDetails": {
                        "shape": "S22"
                    },
                    "invitationType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "invitedPartners",
                    "invitePartnersErrors"
                ],
                "members": {
                    "invitedPartners": {
                        "shape": "S2b"
                    },
                    "invitePartnersErrors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "partnerName",
                                "contactFirstName",
                                "contactLastName",
                                "contactEmail",
                                "code",
                                "errorMessage"
                            ],
                            "members": {
                                "partnerName": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "contactFirstName": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "contactLastName": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "contactEmail": {
                                    "shape": "S9"
                                },
                                "code": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListCustomerInvitations": {
            "http": {
                "requestUri": "/listCustomerInvitations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "invitationType": {},
                    "filteringStatus": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "invitationDetails"
                ],
                "members": {
                    "invitationDetails": {
                        "shape": "S2b"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListInvitations": {
            "http": {
                "requestUri": "/listInvitations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "instanceVersion": {},
                    "filteringStatus": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partnershipInvitations"
                ],
                "members": {
                    "partnershipInvitations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "invitationId",
                                "inviteDate",
                                "portalStatus"
                            ],
                            "members": {
                                "invitationId": {},
                                "inviteDate": {
                                    "type": "timestamp"
                                },
                                "portalStatus": {},
                                "receiverDetail": {
                                    "type": "structure",
                                    "required": [
                                        "name",
                                        "contactName",
                                        "contactEmail"
                                    ],
                                    "members": {
                                        "name": {},
                                        "contactName": {
                                            "shape": "Sz"
                                        },
                                        "contactEmail": {
                                            "shape": "S9"
                                        },
                                        "instanceId": {},
                                        "country": {},
                                        "duns": {},
                                        "osId": {},
                                        "externalPartnerId": {}
                                    }
                                },
                                "inviterDetail": {
                                    "type": "structure",
                                    "required": [
                                        "instanceId"
                                    ],
                                    "members": {
                                        "instanceId": {},
                                        "name": {},
                                        "contactName": {
                                            "shape": "Sz"
                                        },
                                        "contactEmail": {
                                            "shape": "S9"
                                        },
                                        "country": {}
                                    }
                                },
                                "declineDetail": {
                                    "type": "structure",
                                    "required": [
                                        "declineReasonType",
                                        "declineMessage"
                                    ],
                                    "members": {
                                        "declineReasonType": {},
                                        "declineMessage": {}
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListPartnerInvitations": {
            "http": {
                "requestUri": "/listPartnerInvitations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "invitationType": {},
                    "filteringStatus": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customers"
                ],
                "members": {
                    "customers": {
                        "type": "list",
                        "member": {
                            "shape": "S1u"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListPartnerUsers": {
            "http": {
                "requestUri": "/listPartnerUsers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "lightweightInstanceId"
                ],
                "members": {
                    "lightweightInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partnerUsers"
                ],
                "members": {
                    "partnerUsers": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListTradingPartners": {
            "http": {
                "requestUri": "/listTradingPartners",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "scdlTradingPartnerDetails"
                ],
                "members": {
                    "scdlTradingPartnerDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "tPartnerId"
                            ],
                            "members": {
                                "partnerName": {
                                    "shape": "Sz"
                                },
                                "tPartnerId": {},
                                "country": {},
                                "duns": {},
                                "osId": {},
                                "contactFirstName": {
                                    "shape": "Sz"
                                },
                                "contactLastName": {
                                    "shape": "Sz"
                                },
                                "contactEmail": {
                                    "shape": "S9"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListTradingPartnersWithNetworkInfo": {
            "http": {
                "requestUri": "/listTradingPartnersWithNetworkInfo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "finishedGoodId": {},
                    "productGroupId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tradingPartners": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "tradingPartnerInformationId": {},
                                "tradingPartnerId": {},
                                "invitationId": {},
                                "partnerInstanceId": {},
                                "partnerName": {
                                    "shape": "Sz"
                                },
                                "portalStatus": {},
                                "duns": {},
                                "osId": {},
                                "contactName": {
                                    "shape": "Sz"
                                },
                                "contactEmail": {
                                    "shape": "S9"
                                },
                                "inviteDate": {
                                    "type": "timestamp"
                                },
                                "latitude": {
                                    "type": "double"
                                },
                                "longitude": {
                                    "type": "double"
                                },
                                "isSupplier": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "RemovePartnerUser": {
            "http": {
                "requestUri": "/removePartnerUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "lightweightInstanceId",
                    "partnerUserId"
                ],
                "members": {
                    "lightweightInstanceId": {},
                    "partnerUserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partnerUserId",
                    "partnerUserStatus"
                ],
                "members": {
                    "partnerUserId": {},
                    "partnerUserStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ResendInvitations": {
            "http": {
                "requestUri": "/resendInvitations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "oldInvitationIds"
                ],
                "members": {
                    "instanceId": {},
                    "oldInvitationIds": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "reinvitedPartners"
                ],
                "members": {
                    "reinvitedPartners": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2c"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "VerifyInvitation": {
            "http": {
                "requestUri": "/verifyInvitation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "invitationId",
                    "email"
                ],
                "members": {
                    "invitationId": {},
                    "email": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "structure",
            "required": [
                "contactFirstName",
                "contactLastName",
                "contactEmail",
                "status",
                "userRole",
                "partnerUserId"
            ],
            "members": {
                "contactFirstName": {
                    "type": "string",
                    "sensitive": true
                },
                "contactLastName": {
                    "type": "string",
                    "sensitive": true
                },
                "contactEmail": {
                    "shape": "S9"
                },
                "status": {},
                "userRole": {},
                "partnerUserId": {}
            }
        },
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sk": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "invitationId"
                ],
                "members": {
                    "invitationId": {}
                }
            }
        },
        "Sm": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "invitationId",
                    "code",
                    "message"
                ],
                "members": {
                    "invitationId": {},
                    "code": {},
                    "message": {}
                }
            }
        },
        "Sv": {
            "type": "list",
            "member": {}
        },
        "Sz": {
            "type": "string",
            "sensitive": true
        },
        "S13": {
            "type": "structure",
            "required": [
                "partnerName",
                "contactFirstName",
                "contactLastName",
                "contactEmail"
            ],
            "members": {
                "partnerName": {
                    "type": "string",
                    "sensitive": true
                },
                "externalPartnerId": {},
                "contactFirstName": {
                    "type": "string",
                    "sensitive": true
                },
                "contactLastName": {
                    "type": "string",
                    "sensitive": true
                },
                "contactEmail": {
                    "shape": "S9"
                },
                "partnerRole": {},
                "duns": {},
                "osId": {}
            }
        },
        "S1u": {
            "type": "structure",
            "required": [
                "invitationId",
                "portalStatus",
                "inviteDate",
                "updateDate",
                "instanceId",
                "organizationName",
                "contactName",
                "contactEmail"
            ],
            "members": {
                "invitationId": {},
                "portalStatus": {},
                "inviteDate": {
                    "type": "timestamp"
                },
                "updateDate": {
                    "type": "timestamp"
                },
                "invitationType": {},
                "declineReasonType": {},
                "declineMessage": {},
                "instanceId": {},
                "organizationName": {},
                "contactName": {
                    "shape": "Sz"
                },
                "contactEmail": {
                    "shape": "S9"
                },
                "organizationHqCountry": {}
            }
        },
        "S22": {
            "type": "list",
            "member": {
                "shape": "S13"
            }
        },
        "S2b": {
            "type": "list",
            "member": {
                "shape": "S2c"
            }
        },
        "S2c": {
            "type": "structure",
            "required": [
                "partnerName",
                "contactName",
                "contactEmail",
                "invitationId",
                "inviteDate",
                "portalStatus"
            ],
            "members": {
                "partnerName": {
                    "shape": "Sz"
                },
                "externalPartnerId": {},
                "contactName": {
                    "shape": "Sz"
                },
                "contactEmail": {
                    "shape": "S9"
                },
                "partnerNameInProfile": {
                    "shape": "Sz"
                },
                "country": {},
                "DUNS": {},
                "OsId": {},
                "invitationId": {},
                "partnerInstanceId": {},
                "partnerSSOUserId": {},
                "partnerRegion": {},
                "inviteDate": {
                    "type": "timestamp"
                },
                "portalStatus": {}
            }
        }
    }
}