{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-05-23",
        "endpointPrefix": "galaxyinsightsdataservice",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "GalaxyInsightsDataService",
        "serviceId": "GalaxyInsightsDataServiceFargate",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "galaxyinsightsdataservicefargate-2022-05-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
        ]
    },
    "operations": {
        "ActivateQueryExecutionPlans": {
            "http": {
                "requestUri": "/activate-query-execution-plans",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasets"
                ],
                "members": {
                    "instanceId": {},
                    "datasets": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "AuroraCopyOrderInsightsResults": {
            "http": {
                "requestUri": "/aurora-copy-order-insights-results",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "orderInsightsFileList"
                ],
                "members": {
                    "instanceId": {},
                    "orderInsightsFileList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "folderType": {},
                                "columnList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "type": {},
                                            "notNull": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                },
                                "bucketName": {},
                                "filePath": {}
                            }
                        }
                    },
                    "copyOpenDataRequestFromRedshift": {
                        "type": "boolean"
                    },
                    "useOptSchema": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "BatchDeleteInsightLineItem": {
            "http": {
                "requestUri": "/batch-delete-insight-line-item",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "insightLineItemIdList"
                ],
                "members": {
                    "instanceId": {},
                    "insightLineItemIdList": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errorCount"
                ],
                "members": {
                    "errorCount": {
                        "type": "integer"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "BatchGetMilestoneDefinition": {
            "http": {
                "requestUri": "/batch-get-milestone-definition",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "milestoneIds"
                ],
                "members": {
                    "instanceId": {},
                    "milestoneIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "milestoneDefinitions": {
                        "shape": "Sr"
                    },
                    "unprocessedRecords": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "BatchUpdateInsightLineItemStatus": {
            "http": {
                "requestUri": "/batch-update-insight-line-item-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "insightLineItemIdList",
                    "status"
                ],
                "members": {
                    "instanceId": {},
                    "insightLineItemIdList": {
                        "shape": "Sj"
                    },
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errorCount"
                ],
                "members": {
                    "errorCount": {
                        "type": "integer"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CheckKpiDataQuality": {
            "http": {
                "requestUri": "/check-kpi-data-quality",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "kpiDataQuality"
                ],
                "members": {
                    "kpiDataQuality": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S1p"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ComputePostRebalancedQuantities": {
            "http": {
                "requestUri": "/rebalancing/option/{configurationId}/{helperSiteId}/detail/projected-inventory",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "configurationId",
                    "helperSiteId",
                    "projectedDaysFromStartTimestamp"
                ],
                "members": {
                    "instanceId": {},
                    "configurationId": {
                        "deprecated": true,
                        "deprecatedMessage": "rebalancing `configurationId/helperSiteId` composite primary key will be replace with rebalancing `optionId` ",
                        "location": "uri",
                        "locationName": "configurationId"
                    },
                    "helperSiteId": {
                        "shape": "S1u",
                        "deprecated": true,
                        "deprecatedMessage": "rebalancing `configurationId/helperSiteId` composite primary key will be replace with rebalancing `optionId` ",
                        "location": "uri",
                        "locationName": "helperSiteId"
                    },
                    "projectedDaysFromStartTimestamp": {
                        "location": "querystring",
                        "locationName": "projectedDaysFromStartTimestamp",
                        "type": "long"
                    },
                    "startTimestamp": {
                        "location": "querystring",
                        "locationName": "startTimestamp"
                    },
                    "optionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "postRebalancedQuantities"
                ],
                "members": {
                    "postRebalancedQuantities": {
                        "shape": "S1z"
                    }
                }
            },
            "deprecated": true,
            "deprecatedMessage": "Use operation `ComputePostRebalancedQuantitiesV1`",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ComputePostRebalancedQuantitiesV1": {
            "http": {
                "requestUri": "/v1/rebalancing/option/{optionId}/detail/projected-inventory",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "optionId",
                    "projectedDaysFromStartTimestamp"
                ],
                "members": {
                    "instanceId": {},
                    "optionId": {
                        "location": "uri",
                        "locationName": "optionId"
                    },
                    "projectedDaysFromStartTimestamp": {
                        "location": "querystring",
                        "locationName": "projectedDaysFromStartTimestamp",
                        "type": "long"
                    },
                    "startTimestamp": {
                        "location": "querystring",
                        "locationName": "startTimestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "postRebalancedQuantities"
                ],
                "members": {
                    "postRebalancedQuantities": {
                        "shape": "S1z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CopyOrderInsightsResults": {
            "http": {
                "requestUri": "/copy-order-insights-results",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "orderInsightsFolderList"
                ],
                "members": {
                    "instanceId": {},
                    "orderInsightsFolderList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "s3Path": {},
                                "folderType": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateInsightFilter": {
            "http": {
                "requestUri": "/create-insight-filter",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userId",
                    "name",
                    "attributes"
                ],
                "members": {
                    "instanceId": {},
                    "userId": {},
                    "name": {
                        "shape": "S2b"
                    },
                    "locationIds": {
                        "shape": "S2c"
                    },
                    "regionIds": {
                        "shape": "S2c"
                    },
                    "productIds": {
                        "shape": "S2c"
                    },
                    "categoryIds": {
                        "shape": "S2c"
                    },
                    "attributes": {
                        "shape": "S2d"
                    },
                    "riskClassifications": {
                        "shape": "S2d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "filterArn"
                ],
                "members": {
                    "filterArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateInsightLineItem": {
            "http": {
                "requestUri": "/create-insight-line-item",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "insightId",
                    "subscriptionId",
                    "productId",
                    "locationId",
                    "insightType"
                ],
                "members": {
                    "instanceId": {},
                    "insightId": {},
                    "subscriptionId": {},
                    "productId": {
                        "shape": "S2b"
                    },
                    "locationId": {
                        "shape": "S2b"
                    },
                    "insightType": {},
                    "vendorId": {
                        "shape": "S2b"
                    },
                    "inventoryRiskDescription": {
                        "shape": "S2k"
                    },
                    "leadTimeDescription": {
                        "shape": "S2m"
                    },
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "insightLineItemId",
                    "insightLineItemArn"
                ],
                "members": {
                    "insightLineItemId": {},
                    "insightLineItemArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateInsightSubscription": {
            "http": {
                "requestUri": "/create-insight-subscription",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "insightType",
                    "filters",
                    "name",
                    "watchers",
                    "owner"
                ],
                "members": {
                    "instanceId": {},
                    "insightType": {},
                    "filters": {
                        "shape": "S2t"
                    },
                    "leadTimeInsightConfiguration": {
                        "shape": "S2u"
                    },
                    "inventoryRiskInsightConfiguration": {
                        "shape": "S30"
                    },
                    "name": {
                        "shape": "S34"
                    },
                    "description": {
                        "shape": "S35"
                    },
                    "watchers": {
                        "shape": "S36"
                    },
                    "owner": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "subscriptionId",
                    "subscriptionArn"
                ],
                "members": {
                    "subscriptionId": {},
                    "subscriptionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateInsightSummary": {
            "http": {
                "requestUri": "/create-insight",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "subscriptionId",
                    "workflowId",
                    "insightType",
                    "summary",
                    "datasets"
                ],
                "members": {
                    "instanceId": {},
                    "subscriptionId": {},
                    "workflowId": {},
                    "insightType": {},
                    "summary": {
                        "shape": "S3a"
                    },
                    "datasets": {
                        "shape": "S3c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "insightId",
                    "insightArn"
                ],
                "members": {
                    "insightId": {},
                    "insightArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateMaterializedView": {
            "http": {
                "requestUri": "/create-materialized-view",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "dataset",
                    "materializedViewType"
                ],
                "members": {
                    "instanceId": {},
                    "dataset": {
                        "shape": "S4"
                    },
                    "materializedViewType": {},
                    "availableDatasets": {
                        "shape": "S3"
                    },
                    "metadataList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "dataset": {
                        "shape": "S4"
                    },
                    "materializedViewType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateMaterializedViewsForDatasets": {
            "http": {
                "requestUri": "/create-materialized-views-for-datasets",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasets"
                ],
                "members": {
                    "instanceId": {},
                    "datasets": {
                        "shape": "S3"
                    },
                    "externalInstanceSchemaType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "deprecated": true,
            "deprecatedMessage": "Use CreateMaterializedView instead",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateMilestoneDefinition": {
            "http": {
                "requestUri": "/create-milestone-definition",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "milestoneDefinition"
                ],
                "members": {
                    "instanceId": {},
                    "milestoneDefinition": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "milestoneId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateResourceLink": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-resource-link",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "remoteAccountId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "remoteAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceLinkId"
                ],
                "members": {
                    "resourceLinkId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteInsightFilter": {
            "http": {
                "requestUri": "/delete-insight-filter",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userId",
                    "filterId"
                ],
                "members": {
                    "instanceId": {},
                    "userId": {
                        "location": "querystring",
                        "locationName": "userId"
                    },
                    "filterId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteInsightSubscription": {
            "http": {
                "requestUri": "/delete-insight-subscription",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "subscriptionId"
                ],
                "members": {
                    "instanceId": {},
                    "subscriptionId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteInstanceDynamodbRecords": {
            "http": {
                "requestUri": "/instances/{instanceId}/delete_dynamodb_records",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "tableName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "hasCompleted"
                ],
                "members": {
                    "hasCompleted": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteMaterializedViewsForDatasets": {
            "http": {
                "requestUri": "/delete-materialized-views-for-datasets",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasets"
                ],
                "members": {
                    "instanceId": {},
                    "datasets": {
                        "shape": "S3"
                    },
                    "mvType": {},
                    "kpi": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteMilestoneDefinition": {
            "http": {
                "requestUri": "/delete-milestone-definition",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "milestoneId"
                ],
                "members": {
                    "instanceId": {},
                    "milestoneId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteResourceLink": {
            "http": {
                "requestUri": "/instances/{instanceId}/delete-resource-link",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceLinkId"
                ],
                "members": {
                    "resourceLinkId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeregisterGalaxyInstance": {
            "http": {
                "requestUri": "/instances/{instanceId}/deregister-galaxy-instance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DescribeQuery": {
            "http": {
                "requestUri": "/describe-query",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "queryId"
                ],
                "members": {
                    "instanceId": {},
                    "queryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "error": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ExportRebalancingOptions": {
            "http": {
                "requestUri": "/rebalancing/export/{optionId}/option",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "optionId",
                    "exportFormat"
                ],
                "members": {
                    "instanceId": {},
                    "optionId": {
                        "location": "uri",
                        "locationName": "optionId"
                    },
                    "exportFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "exportStatus",
                    "exportLocation",
                    "preSignedUrl"
                ],
                "members": {
                    "exportStatus": {},
                    "exportLocation": {
                        "shape": "S4e"
                    },
                    "preSignedUrl": {
                        "shape": "S4f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
[...]
