{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-03-28",
        "endpointPrefix": "galaxyinternal.service",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "GalaxyService",
        "signatureVersion": "v4",
        "signingName": "galaxy",
        "targetPrefix": "GalaxyService",
        "uid": "galaxyinternal.service-2018-03-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
        ]
    },
    "operations": {
        "AcceptSharedDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "SharedDirectoryId"
                ],
                "members": {
                    "SharedDirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "SharedDirectory": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "AddIpRoutes": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "IpRoutes"
                ],
                "members": {
                    "DirectoryId": {},
                    "IpRoutes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CidrIp": {},
                                "Tags": {
                                    "shape": "Sg"
                                }
                            }
                        }
                    },
                    "UpdateSecurityGroupForDirectoryControllers": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "AddRegion": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RegionName",
                    "VPCSettings"
                ],
                "members": {
                    "DirectoryId": {},
                    "RegionName": {},
                    "VPCSettings": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "AddReservedAliasCustomers": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias",
                    "CustomerIds"
                ],
                "members": {
                    "Alias": {},
                    "CustomerIds": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "AddTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "AuthorizeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ApplicationId"
                ],
                "members": {
                    "DirectoryId": {},
                    "ApplicationId": {},
                    "ServiceAccountUserName": {},
                    "ServiceAccountPassword": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CancelSchemaExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SchemaExtensionId"
                ],
                "members": {
                    "DirectoryId": {},
                    "SchemaExtensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CheckAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Available": {
                        "type": "boolean"
                    },
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "ConnectDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Type",
                    "ConnectSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1l"
                    },
                    "Tags": {
                        "shape": "Sg"
                    },
                    "Type": {},
                    "Alias": {},
                    "ConnectSettings": {
                        "type": "structure",
                        "required": [
                            "VpcId",
                            "SubnetIds",
                            "CustomerDnsIps",
                            "CustomerUserName"
                        ],
                        "members": {
                            "VpcId": {},
                            "SubnetIds": {
                                "shape": "Sq"
                            },
                            "CustomerDnsIps": {
                                "shape": "S1o"
                            },
                            "CustomerUserName": {},
                            "AutoCredentialRotationEnabled": {
                                "type": "boolean"
                            }
                        }
                    },
                    "RequesterAppName": {},
                    "ExternalTags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateClient": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientName",
                    "Version",
                    "ApplicationId",
                    "ContactEmail"
                ],
                "members": {
                    "ClientName": {},
                    "Version": {},
                    "ApplicationId": {},
                    "ContactEmail": {},
                    "RedirectUri": {
                        "shape": "S1z"
                    },
                    "ErrorUri": {
                        "shape": "S1z"
                    },
                    "ClientProperties": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "ClientId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateComputer": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ComputerName",
                    "Password"
                ],
                "members": {
                    "DirectoryId": {},
                    "ComputerName": {},
                    "Password": {
                        "shape": "S1a"
                    },
                    "OrganizationalUnitDistinguishedName": {},
                    "ComputerAttributes": {
                        "shape": "S29"
                    },
                    "RemoteDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Computer": {
                        "type": "structure",
                        "members": {
                            "ComputerId": {},
                            "ComputerName": {},
                            "ComputerAttributes": {
                                "shape": "S29"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "DnsIpAddrs"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "DnsIpAddrs": {
                        "shape": "S1o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Type"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1a"
                    },
                    "Tags": {
                        "shape": "Sg"
                    },
                    "Type": {},
                    "Alias": {},
                    "SetAsDefault": {
                        "type": "boolean"
                    },
                    "ClassicSettings": {
                        "type": "structure",
                        "required": [
                            "SecurityGroupId",
                            "AvailabilityZones"
                        ],
                        "members": {
                            "SecurityGroupId": {},
                            "AvailabilityZones": {
                                "shape": "S2n"
                            }
                        }
                    },
                    "VpcSettings": {
                        "shape": "So"
                    },
                    "RequesterAppName": {},
                    "IamUserId": {},
                    "ExternalTags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateDnsRecordSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias",
                    "Name",
                    "Type",
                    "Values"
                ],
                "members": {
                    "Alias": {},
                    "Name": {},
                    "Type": {},
                    "Values": {
                        "shape": "S2u"
                    },
                    "TTL": {
                        "type": "long"
                    },
                    "Comment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateDomainAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateDomainProxy": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "DomainProxyCredentials"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "DomainProxyCredentials": {
                        "shape": "S32"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "DomainProxyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateDomainSnapshotForUpgrade": {
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {},
                    "domainSnapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateIdentityPoolDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Password": {
                        "shape": "S1a"
                    },
                    "Tags": {
                        "shape": "Sg"
                    },
                    "RequesterAppName": {},
                    "IamUserId": {},
                    "IdentityPoolType": {},
                    "SkipDefaultAliasCreation": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "LogGroupName"
                ],
                "members": {
                    "DirectoryId": {},
                    "LogGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateMicrosoftAD": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "VpcSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1a"
                    },
                    "Tags": {
                        "shape": "Sg"
                    },
                    "Type": {},
                    "Edition": {},
                    "Alias": {},
                    "SetAsDefault": {
                        "type": "boolean"
                    },
                    "VpcSettings": {
                        "shape": "So"
                    },
                    "RequesterAppName": {},
                    "ExternalTags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "TrustPassword",
                    "TrustDirection"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "TrustPassword": {
                        "type": "string",
                        "sensitive": true
                    },
                    "TrustDirection": {},
                    "TrustType": {},
                    "ConditionalForwarderIpAddrs": {
                        "shape": "S1o"
                    },
                    "SelectiveAuth": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
[...]
