{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-03-28",
        "endpointPrefix": "galaxyinternal.service.v20150416",
        "jsonVersion": "1.1",
        "protocol": "json",
        "protocols": [
            "json"
        ],
        "serviceFullName": "DirectoryService_20150416",
        "signatureVersion": "v4",
        "signingName": "galaxy",
        "targetPrefix": "DirectoryService_20150416",
        "uid": "galaxyinternal.service.v20150416-2018-03-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
        ]
    },
    "operations": {
        "AcceptSharedDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "SharedDirectoryId"
                ],
                "members": {
                    "SharedDirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SharedDirectory": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "AddIpRoutes": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "IpRoutes"
                ],
                "members": {
                    "DirectoryId": {},
                    "IpRoutes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CidrIp": {},
                                "Description": {}
                            }
                        }
                    },
                    "UpdateSecurityGroupForDirectoryControllers": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "AddRegion": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RegionName",
                    "VPCSettings"
                ],
                "members": {
                    "DirectoryId": {},
                    "RegionName": {},
                    "VPCSettings": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CancelSchemaExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SchemaExtensionId"
                ],
                "members": {
                    "DirectoryId": {},
                    "SchemaExtensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ConnectDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size",
                    "ConnectSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S12"
                    },
                    "Description": {},
                    "Size": {},
                    "ConnectSettings": {
                        "type": "structure",
                        "required": [
                            "VpcId",
                            "SubnetIds",
                            "CustomerDnsIps",
                            "CustomerUserName"
                        ],
                        "members": {
                            "VpcId": {},
                            "SubnetIds": {
                                "shape": "Sm"
                            },
                            "CustomerDnsIps": {
                                "shape": "S15"
                            },
                            "CustomerUserName": {}
                        }
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateComputer": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ComputerName",
                    "Password"
                ],
                "members": {
                    "DirectoryId": {},
                    "ComputerName": {},
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    },
                    "OrganizationalUnitDistinguishedName": {},
                    "ComputerAttributes": {
                        "shape": "S1g"
                    },
                    "RemoteDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Computer": {
                        "type": "structure",
                        "members": {
                            "ComputerId": {},
                            "ComputerName": {},
                            "ComputerAttributes": {
                                "shape": "S1g"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "DnsIpAddrs"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "DnsIpAddrs": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "Size": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateDomainAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateDomainProxy": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "DomainProxyCredentials"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "DomainProxyCredentials": {
                        "shape": "S1w"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainProxyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "LogGroupName"
                ],
                "members": {
                    "DirectoryId": {},
                    "LogGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateMicrosoftAD": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "VpcSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Size": {},
                    "Edition": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "TrustPassword",
                    "TrustDirection"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "TrustPassword": {
                        "type": "string",
                        "sensitive": true
                    },
                    "TrustDirection": {},
                    "TrustType": {},
                    "ConditionalForwarderIpAddrs": {
                        "shape": "S15"
                    },
                    "SelectiveAuth": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteDomainProxy": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "DomainProxyId"
                ],
                "members": {
                    "DirectoryId": {},
                    "DomainProxyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainProxyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotId"
                ],
                "members": {
                    "SnapshotId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "TrustId"
                ],
                "members": {
                    "TrustId": {},
                    "DeleteAssociatedConditionalForwarder": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeregisterCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeregisterEventTopic": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "TopicName"
                ],
                "members": {
                    "DirectoryId": {},
                    "TopicName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DescribeAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "AliasName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AliasInfo": {
                        "shape": "S33"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DescribeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {
                        "type": "structure",
                        "members": {
                            "CertificateId": {},
                            "State": {},
                            "StateReason": {},
                            "CommonName": {},
                            "RegisteredDateTime": {
                                "type": "timestamp"
                            },
                            "ExpiryDateTime": {
                                "type": "timestamp"
                            },
                            "Type": {},
                            "ClientCertAuthSettings": {
                                "shape": "S3e"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
[...]
