{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-03-01",
        "endpointPrefix": "galaxysustainabilitydata",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "GalaxySustainabilityDataService",
        "serviceId": "GalaxySustainabilityData",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "galaxysustainabilitydata-2023-03-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
        ]
    },
    "operations": {
        "CreateBatchDataResponseExport": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-batch-data-response-export",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "exportLocalDate",
                    "timezone"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "exportLocalDate": {},
                    "timezone": {},
                    "csvFormat": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "CreateCadenceBatchDataResponseExport": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-cadence-batch-data-response-export",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "cadence",
                    "timezone"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "cadence": {},
                    "timezone": {},
                    "csvFormat": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cadenceBatchDataResponseExportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "CreateInstanceConfiguration": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-instance-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "scdlInstanceId",
                    "kmsKeyArn",
                    "customerAwsAccountId",
                    "datasetIds"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "scdlInstanceId": {},
                    "kmsKeyArn": {},
                    "customerAwsAccountId": {},
                    "datasetIds": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "CreateMaterializedView": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-materialized-view",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetVersionIds",
                    "materializedViewName"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "datasetVersionIds": {
                        "shape": "Sm"
                    },
                    "materializedViewName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "materializedViewId"
                ],
                "members": {
                    "materializedViewId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "CreateResourceLink": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-resource-link",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "scdlInstanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "scdlInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "CreateSustainabilityBootstrapJob": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-sustainability-bootstrap-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "kmsKeyArn",
                    "customerAwsAccountId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "kmsKeyArn": {},
                    "customerAwsAccountId": {},
                    "runId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "CreateSustainabilityTeardownJob": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-sustainability-teardown-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "runId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "DeleteCadenceBatchDataResponseExport": {
            "http": {
                "method": "DELETE",
                "requestUri": "/instances/{instanceId}/delete-cadence-batch-data-response-export/{cadenceBatchDataResponseExportId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "cadenceBatchDataResponseExportId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "cadenceBatchDataResponseExportId": {
                        "location": "uri",
                        "locationName": "cadenceBatchDataResponseExportId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "DeleteInstanceConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/instances/{instanceId}/delete-instance-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "DeleteInstanceResources": {
            "http": {
                "requestUri": "/instances/{instanceId}/delete-instance-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "DeleteMaterializedView": {
            "http": {
                "requestUri": "/instances/{instanceId}/delete-materialized-view",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "materializedViewId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "materializedViewId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "DeleteMoodysData": {
            "http": {
                "method": "DELETE",
                "requestUri": "/instances/{instanceId}/delete-moodys-data",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "DeleteResourceLink": {
            "http": {
                "requestUri": "/instances/{instanceId}/delete-resource-link",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "scdlInstanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "scdlInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "DescribeSustainabilityBootstrapJob": {
            "http": {
                "requestUri": "/instances/{instanceId}/describe-sustainability-bootstrap-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "runId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "DescribeSustainabilityTeardownJob": {
            "http": {
                "requestUri": "/instances/{instanceId}/describe-sustainability-teardown-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "runId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetDataRequestSubmissionsStatus": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-data-request-submissions-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "dataRequestId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "dataRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataRequest": {
                        "type": "structure",
                        "required": [
                            "deleted",
                            "declined"
                        ],
                        "members": {
                            "deleted": {
                                "type": "boolean"
                            },
                            "deletedTime": {},
                            "declined": {
                                "type": "boolean"
                            },
                            "declinedTime": {}
                        }
                    },
                    "submissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "responseVersion",
                                "submissionTime",
                                "deleted"
                            ],
                            "members": {
                                "responseVersion": {
                                    "type": "integer"
                                },
                                "submissionTime": {},
                                "deleted": {
                                    "type": "boolean"
                                },
                                "deletedTime": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetDisclosureExportArtifactId": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-disclosure-export-artifact-id",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "dataRequestId",
                    "responseVersion"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "dataRequestId": {},
                    "responseVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "artifactId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetInstanceConfiguration": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-instance-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "scdlInstanceId",
                    "kmsKeyArn",
                    "customerAwsAccountId",
                    "datasetIds",
                    "datasetVersionIds",
                    "materializedViewIds"
                ],
                "members": {
                    "scdlInstanceId": {},
                    "kmsKeyArn": {},
                    "customerAwsAccountId": {},
                    "datasetIds": {
                        "shape": "Sh"
                    },
                    "datasetVersionIds": {
                        "shape": "Sm"
                    },
                    "materializedViewIds": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetMaterializedViewDefinitions": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-materialized-view-definitions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "materializedViewNames"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "materializedViewNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "materializedViewDefinitions"
                ],
                "members": {
                    "materializedViewDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "materializedViewName",
                                "requiredDatasetNames",
                                "optionalDatasetNames"
                            ],
                            "members": {
                                "materializedViewName": {},
                                "requiredDatasetNames": {
                                    "shape": "S1v"
                                },
                                "optionalDatasetNames": {
                                    "shape": "S1v"
                                },
                                "datasetNames": {
                                    "shape": "S1v"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetPartnersRiskScoreOverview": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-risk-score-overview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "totalPartnerCount",
                    "totalMoodysAccessedCount",
                    "totalMoodysPredictCount",
                    "totalNoScoreCount"
                ],
                "members": {
                    "totalPartnerCount": {
                        "type": "integer"
                    },
                    "totalMoodysAccessedCount": {
                        "type": "integer"
                    },
                    "totalMoodysPredictCount": {
                        "type": "integer"
                    },
                    "totalNoScoreCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetSerOverview": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-ser-overview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "reportingPeriodStart",
                    "reportingPeriodMonths"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "reportingPeriodStart": {},
                    "reportingPeriodMonths": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sentDataRequestCount",
                    "completedDataRequestCount",
                    "declinedDataRequestCount",
                    "committedToCarbonFreePartnerCount",
                    "climatePledgeSignatoryPartnerCount",
                    "emissionTotalMTCO2e"
                ],
                "members": {
                    "sentDataRequestCount": {
                        "type": "integer"
                    },
                    "completedDataRequestCount": {
                        "type": "integer"
                    },
                    "declinedDataRequestCount": {
                        "type": "integer"
                    },
                    "committedToCarbonFreePartnerCount": {
                        "type": "integer"
                    },
                    "climatePledgeSignatoryPartnerCount": {
                        "type": "integer"
                    },
                    "emissionTotalMTCO2e": {
                        "type": "double"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListCadenceBatchDataResponseExport": {
            "http": {
                "requestUri": "/instances/{instanceId}/list-cadence-batch-data-response-export",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cadenceBatchDataResponseExports"
                ],
                "members": {
                    "cadenceBatchDataResponseExports": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListLocations": {
            "http": {
                "requestUri": "/instances/{instanceId}/list-locations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "locations"
                ],
                "members": {
                    "locations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "locationId",
                                "name",
                                "type",
                                "country"
                            ],
                            "members": {
                                "locationId": {},
                                "name": {},
                                "type": {},
                                "street": {},
                                "city": {},
                                "country": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListPartnerRiskScore": {
            "http": {
                "requestUri": "/instances/{instanceId}/list-partner-risk-score",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "scoreType": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partnerRiskScores"
                ],
                "members": {
                    "partnerRiskScores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "invitationId"
                            ],
                            "members": {
                                "invitationId": {},
                                "scoreType": {},
                                "esgOverallScore": {
                                    "type": "integer"
                                },
                                "environmentalScore": {
                                    "type": "integer"
                                },
                                "socialScore": {
                                    "type": "integer"
                                },
                                "governanceScore": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListProductCategories": {
            "http": {
                "requestUri": "/instances/{instanceId}/list-product-categories",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "productCategories"
                ],
                "members": {
                    "productCategories": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListSerPartnerCountryBreakdown": {
            "http": {
                "requestUri": "/instances/{instanceId}/list-ser-partner-country-breakdown",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "reportingPeriodStart",
                    "reportingPeriodMonths",
                    "scope",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "reportingPeriodStart": {},
                    "reportingPeriodMonths": {
                        "type": "integer"
                    },
                    "scope": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partnerCountryBreakdownList"
                ],
                "members": {
                    "partnerCountryBreakdownList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "partnerInstanceId",
                                "countryCode",
                                "partnerCompanyName",
                                "productCategoryList",
                                "emissionTotalMTCO2e"
                            ],
                            "members": {
                                "partnerInstanceId": {},
                                "countryCode": {},
                                "partnerCompanyName": {},
                                "productCategoryList": {
                                    "shape": "S2s"
                                },
                                "emissionTotalMTCO2e": {
                                    "type": "double"
                                },
                                "stationaryEmissionsTotalMTCO2e": {
                                    "type": "double"
                                },
                                "stationaryNaturalGasEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "stationaryPetrolEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "stationaryTotalOilEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "stationaryTotalPropaneEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "stationaryTotalOtherEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "mobileEmissionsTotalMTCO2e": {
                                    "type": "double"
                                },
                                "mobilePetrolEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "mobileDieselEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "mobileOtherEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "fugitiveEmissionsTotalMTCO2e": {
                                    "type": "double"
                                },
                                "fugitiveAirConditioningEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "fugitivePurchaseGasEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "processEmissionsTotalMTCO2e": {
                                    "type": "double"
                                },
                                "purchasedElectricityEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "purchasedHeatEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "purchasedSteamEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "purchasedCoolingEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "purchaseGoodsAndServicesEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "capitalGoodsEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "energyOutsideOtherScopesEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "upstreamTransportEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "wasteGeneratedEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "businessTravelEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "employeeCommutingEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "upstreamLeasedAssetsEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "downstreamTransportEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "productsSoldProcessingEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "productsSoldUseEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "productsSoldEndOfLifeEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "downstreamLeasedAssetsEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "franchiseEmissionsMTCO2e": {
                                    "type": "double"
                                },
                                "investmentEmissionsMTCO2e": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListSerPartnerCountrySummary": {
            "http": {
                "requestUri": "/instances/{instanceId}/list-ser-partner-country-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "reportingPeriodStart",
                    "reportingPeriodMonths",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "reportingPeriodStart": {},
                    "reportingPeriodMonths": {
                        "type": "integer"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partnerCountrySummaryList"
                ],
                "members": {
                    "partnerCountrySummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "partnerInstanceId",
                                "countryCode",
                                "partnerCompanyName",
                                "emissionTotalMTCO2e",
                                "productCategoryList",
                                "valueOfGoodsUSD",
                                "committedToCarbonFree",
                                "climatePledgeSignatory"
                            ],
                            "members": {
                                "partnerInstanceId": {},
                                "countryCode": {},
                                "partnerCompanyName": {},
                                "emissionTotalMTCO2e": {
                                    "type": "double"
                                },
                                "productCategoryList": {
                                    "shape": "S2s"
                                },
                                "valueOfGoodsUSD": {
                                    "type": "double"
                                },
                                "committedToCarbonFree": {
                                    "type": "boolean"
                                },
                                "climatePledgeSignatory": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListSerScopeEmissionSummary": {
            "http": {
                "requestUri": "/instances/{instanceId}/list-ser-scope-emission-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "reportingPeriodStart",
                    "reportingPeriodMonths"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "reportingPeriodStart": {},
                    "reportingPeriodMonths": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "scopeEmissionSummaryList",
                    "partnerCount"
                ],
                "members": {
                    "scopeEmissionSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "scope",
                                "scopePartnerCount",
                                "emissionTotalMTCO2e"
                            ],
                            "members": {
                                "scope": {},
                                "scopePartnerCount": {
                                    "type": "integer"
                                },
                                "emissionTotalMTCO2e": {
                                    "type": "double"
                                },
                                "highestEmissionCategory": {},
                                "highestEmissionCategoryMTCO2e": {
                                    "type": "double"
                                },
                                "highestEmissionCategoryPartnerCount": {
                                    "type": "integer"
                                },
                                "highestEmissionPartnerCompanyName": {},
                                "highestEmissionPartnerMTCO2e": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "partnerCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "PutDisclosureExportReference": {
            "http": {
                "method": "PUT",
                "requestUri": "/instances/{instanceId}/put-disclosure-export-reference",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "dataRequestId",
                    "responseVersion",
                    "artifactId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "dataRequestId": {},
                    "responseVersion": {
                        "type": "integer"
                    },
                    "artifactId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "PutMoodysData": {
            "http": {
                "method": "PUT",
                "requestUri": "/instances/{instanceId}/put-moodys-data",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "invitationId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "invitationId": {},
                    "scoreType": {},
                    "esgOverallScore": {
                        "type": "integer"
                    },
                    "environmentalScore": {
                        "type": "integer"
                    },
                    "socialScore": {
                        "type": "integer"
                    },
                    "governanceScore": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "UpdateInstanceConfiguration": {
            "http": {
                "requestUri": "/instances/{instanceId}/update-instance-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetVersionIds"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "datasetVersionIds": {
                        "shape": "Sm"
                    },
                    "materializedViewIds": {
                        "shape": "S1p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "excludeHeaderRow": {
                    "type": "boolean"
                },
                "delimiterCharacter": {},
                "quoteCharacter": {},
                "fieldsEnclosedByQuotes": {
                    "type": "boolean"
                }
            }
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sm": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1p": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1v": {
            "type": "list",
            "member": {}
        },
        "S2s": {
            "type": "list",
            "member": {}
        }
    }
}