{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-10-03",
        "endpointPrefix": "galaxyconfigurationcontrolplaneservice",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "GalaxyConfigurationControlPlaneService",
        "serviceId": "GalaxyConfigurationControlPlane",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "galaxyconfigurationcontrolplane-2023-10-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
        ]
    },
    "operations": {
        "CreateBillOfMaterialsImportJob": {
            "http": {
                "requestUri": "/api/configuration/instances/{instanceId}/bill-of-materials-import-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "s3uri"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "s3uri": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "CreateInstanceTeardownJob": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/instance-teardown-jobs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "CreateInventoryPolicy": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/inventory-policies",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "InventoryPolicy"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "InventoryPolicy": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InventoryPolicy"
                ],
                "members": {
                    "InventoryPolicy": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "CreateSourcingRule": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/sourcing-rules",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "SourcingRule"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "SourcingRule": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SourcingRule"
                ],
                "members": {
                    "SourcingRule": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "CreateTransportationLane": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/transportation-lanes",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "TransportationLane"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "TransportationLane": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TransportationLane"
                ],
                "members": {
                    "TransportationLane": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "CreateVendorLeadTime": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/vendor-lead-times",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "VendorLeadTime"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "VendorLeadTime": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VendorLeadTime"
                ],
                "members": {
                    "VendorLeadTime": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "CreateVendorProduct": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/vendor-products",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "VendorProduct"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "VendorProduct": {
                        "shape": "Sp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VendorProduct"
                ],
                "members": {
                    "VendorProduct": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "DeleteInventoryPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/api/config/instances/{InstanceId}/inventory-policies/{InventoryPolicyId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "InventoryPolicyId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "InventoryPolicyId": {
                        "location": "uri",
                        "locationName": "InventoryPolicyId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InventoryPolicy"
                ],
                "members": {
                    "InventoryPolicy": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "DeleteSourcingRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/api/config/instances/{InstanceId}/sourcing-rules/{SourcingRuleId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "SourcingRuleId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "SourcingRuleId": {
                        "location": "uri",
                        "locationName": "SourcingRuleId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SourcingRule"
                ],
                "members": {
                    "SourcingRule": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "DeleteTransportationLane": {
            "http": {
                "method": "DELETE",
                "requestUri": "/api/config/instances/{InstanceId}/transportation-lanes/{TransportationLaneId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "TransportationLaneId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "TransportationLaneId": {
                        "location": "uri",
                        "locationName": "TransportationLaneId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TransportationLane"
                ],
                "members": {
                    "TransportationLane": {
                        "shape": "Sj"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "DeleteVendorLeadTime": {
            "http": {
                "method": "DELETE",
                "requestUri": "/api/config/instances/{InstanceId}/vendor-lead-times/{VendorPartnerId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "VendorPartnerId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "VendorPartnerId": {
                        "location": "uri",
                        "locationName": "VendorPartnerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VendorLeadTime"
                ],
                "members": {
                    "VendorLeadTime": {
                        "shape": "Sm"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "DeleteVendorProduct": {
            "http": {
                "method": "DELETE",
                "requestUri": "/api/config/instances/{InstanceId}/vendor-products/{VendorPartnerId}/products/{ProductId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "VendorPartnerId",
                    "ProductId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "VendorPartnerId": {
                        "location": "uri",
                        "locationName": "VendorPartnerId"
                    },
                    "ProductId": {
                        "location": "uri",
                        "locationName": "ProductId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VendorProduct"
                ],
                "members": {
                    "VendorProduct": {
                        "shape": "Sp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ExportAllExplodedBoms": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/bill-of-materials-export-all-exploded",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "IdempotencyToken"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "Status"
                ],
                "members": {
                    "JobId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ExportBillOfMaterials": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/bill-of-materials-export",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "IdempotencyToken"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "Status"
                ],
                "members": {
                    "JobId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ExportInventoryPolicy": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/inventory-policies-export",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "IdempotencyToken"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "Status"
                ],
                "members": {
                    "JobId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ExportProductionProcess": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/production-processes-export",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "IdempotencyToken"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "Status"
                ],
                "members": {
                    "JobId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ExportSourcingRule": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/sourcing-rules-export",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "IdempotencyToken"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "Status"
                ],
                "members": {
                    "JobId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ExportTransportationLane": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/transportation-lanes-export",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "IdempotencyToken"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "Status"
                ],
                "members": {
                    "JobId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ExportVendorLeadTime": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/vendor-lead-times-export",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "IdempotencyToken"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "Status"
                ],
                "members": {
                    "JobId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ExportVendorProduct": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/vendor-products-export",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "IdempotencyToken"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "Status"
                ],
                "members": {
                    "JobId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetBillOfMaterialsImportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/api/configuration/instances/{instanceId}/bill-of-materials-import-jobs/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "jobId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "job"
                ],
                "members": {
                    "job": {
                        "type": "structure",
                        "required": [
                            "instanceId",
                            "jobId",
                            "status",
                            "s3uri"
                        ],
                        "members": {
                            "instanceId": {},
                            "jobId": {},
                            "status": {},
                            "s3uri": {},
                            "message": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetExportJobStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/api/config/instances/{InstanceId}/export-jobs/{JobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "JobId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "JobId",
                    "Status",
                    "S3Uri"
                ],
                "members": {
                    "InstanceId": {},
                    "JobId": {},
                    "Status": {},
                    "S3Uri": {},
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetImportJobStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/api/config/instances/{InstanceId}/import-jobs/{JobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "JobId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "JobId",
                    "Status",
                    "S3Uri"
                ],
                "members": {
                    "InstanceId": {},
                    "JobId": {},
                    "Status": {},
                    "S3Uri": {},
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetInstanceTeardownJob": {
            "http": {
                "method": "GET",
                "requestUri": "/api/config/instances/{InstanceId}/instance-teardown-jobs/{JobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "JobId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "JobId",
                    "Status"
                ],
                "members": {
                    "InstanceId": {},
                    "JobId": {},
                    "Status": {},
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetInventoryPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/api/config/instances/{InstanceId}/inventory-policies/{InventoryPolicyId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "InventoryPolicyId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "InventoryPolicyId": {
                        "location": "uri",
                        "locationName": "InventoryPolicyId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InventoryPolicy"
                ],
                "members": {
                    "InventoryPolicy": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetSite": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/sites/{SiteId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "SiteId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "SiteId": {
                        "location": "uri",
                        "locationName": "SiteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Site": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetSourcingRule": {
            "http": {
                "method": "GET",
                "requestUri": "/api/config/instances/{InstanceId}/sourcing-rules/{SourcingRuleId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "SourcingRuleId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "SourcingRuleId": {
                        "location": "uri",
                        "locationName": "SourcingRuleId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SourcingRule"
                ],
                "members": {
                    "SourcingRule": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetTransportationLane": {
            "http": {
                "method": "GET",
                "requestUri": "/api/config/instances/{InstanceId}/transportation-lanes/{TransportationLaneId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "TransportationLaneId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "TransportationLaneId": {
                        "location": "uri",
                        "locationName": "TransportationLaneId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TransportationLane"
                ],
                "members": {
                    "TransportationLane": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetVendorLeadTime": {
            "http": {
                "method": "GET",
                "requestUri": "/api/config/instances/{InstanceId}/vendor-lead-times/{VendorPartnerId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "VendorPartnerId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "VendorPartnerId": {
                        "location": "uri",
                        "locationName": "VendorPartnerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VendorLeadTime"
                ],
                "members": {
                    "VendorLeadTime": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetVendorProduct": {
            "http": {
                "method": "GET",
                "requestUri": "/api/config/instances/{InstanceId}/vendor-products/{VendorPartnerId}/products/{ProductId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "VendorPartnerId",
                    "ProductId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "VendorPartnerId": {
                        "location": "uri",
                        "locationName": "VendorPartnerId"
                    },
                    "ProductId": {
                        "location": "uri",
                        "locationName": "ProductId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VendorProduct"
                ],
                "members": {
                    "VendorProduct": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ImportBillOfMaterials": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/bill-of-materials-import",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "S3Uri"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "S3Uri": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ImportInventoryPolicy": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/inventory-policies-import",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "S3Uri"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "S3Uri": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ImportProductionProcess": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/production-processes-import",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "S3Uri"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "S3Uri": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ImportSourcingRule": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/sourcing-rules-import",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "S3Uri"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "S3Uri": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ImportTransportationLane": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/transportation-lanes-import",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "S3Uri"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "S3Uri": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ImportVendorLeadTime": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/vendor-lead-times-import",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "S3Uri"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "S3Uri": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ImportVendorProduct": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/vendor-products-import",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "S3Uri"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "S3Uri": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListFinishedGoods": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/finished-goods",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "MaxResults"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FinishedGoods"
                ],
                "members": {
                    "FinishedGoods": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "BomId",
                                "ProductId",
                                "SiteId"
                            ],
                            "members": {
                                "BomId": {},
                                "ProductId": {},
                                "SiteId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListGeographies": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/geographies",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "SearchText": {
                        "location": "querystring",
                        "locationName": "searchText"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Geographies"
                ],
                "members": {
                    "Geographies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {},
                                "Description": {},
                                "ParentGeoId": {},
                                "Address1": {},
                                "Address2": {},
                                "Address3": {},
                                "City": {},
                                "StateProv": {},
                                "PostalCode": {},
                                "Country": {},
                                "PhoneNumber": {},
                                "TimeZone": {},
                                "DbCreationDttm": {},
                                "DbUpdationDttm": {},
                                "Version": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListInventoryPolicies": {
            "http": {
                "method": "GET",
                "requestUri": "/api/config/instances/{InstanceId}/inventory-policies",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InventoryPolicies"
                ],
                "members": {
                    "InventoryPolicies": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListProductHierarchies": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/product-hierarchies",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "SearchText": {
                        "location": "querystring",
                        "locationName": "searchText"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProductHierarchies"
                ],
                "members": {
                    "ProductHierarchies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {},
                                "Description": {},
                                "CompanyId": {},
                                "ParentProductGroupId": {},
                                "CreationDate": {},
                                "UpdateDate": {},
                                "DbCreationDttm": {},
                                "DbUpdationDttm": {},
                                "Version": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListProducts": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/products",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "SearchText": {
                        "location": "querystring",
                        "locationName": "searchText"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Products"
                ],
                "members": {
                    "Products": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "Description"
                            ],
                            "members": {
                                "Id": {},
                                "Description": {},
                                "CompanyId": {},
                                "ProductGroupId": {},
                                "ProductType": {},
                                "ThumbnailUrl": {},
                                "HtsCode": {},
                                "IsHazmat": {},
                                "IsFlammable": {},
                                "IsSpecialHandling": {},
                                "IsPerishable": {},
                                "IsDigital": {},
                                "IsDeleted": {},
                                "IsLotControlled": {},
                                "IsExpiryControlled": {},
                                "CreationDate": {},
                                "BrandName": {},
                                "DiscontinueDay": {},
                                "BaseUom": {},
                                "UnitCost": {
                                    "type": "double"
                                },
                                "UnitPrice": {
                                    "type": "double"
                                },
                                "InventoryHoldingCost": {
                                    "type": "double"
                                },
                                "CurrencyUom": {},
                                "ProductAvailableDay": {},
                                "ShippingWeight": {
                                    "type": "double"
                                },
                                "UnitVolume": {
                                    "type": "double"
                                },
                                "PkgLength": {
                                    "type": "double"
                                },
                                "PkgWidth": {
                                    "type": "double"
                                },
                                "PkgHeight": {
                                    "type": "double"
                                },
                                "WeightUom": {},
                                "DimUom": {},
                                "VolumeUom": {},
                                "Diameter": {
                                    "type": "double"
                                },
                                "Color": {},
                                "CasepackSize": {
                                    "type": "integer"
                                },
                                "Gtin": {},
                                "DbCreationDttm": {},
                                "DbUpdationDttm": {},
                                "Sap0materialAttrPrdha": {},
                                "Version": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListSites": {
            "http": {
                "requestUri": "/api/config/instances/{InstanceId}/sites",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "SearchText": {
                        "location": "querystring",
                        "locationName": "searchText"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Sites"
                ],
                "members": {
                    "Sites": {
                        "type": "list",
                        "member": {
                            "shape": "S1w"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListSourcingRules": {
            "http": {
                "method": "GET",
                "requestUri": "/api/config/instances/{InstanceId}/sourcing-rules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SourcingRules"
                ],
                "members": {
                    "SourcingRules": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListTransportationLanes": {
            "http": {
                "method": "GET",
                "requestUri": "/api/config/instances/{InstanceId}/transportation-lanes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TransportationLanes"
                ],
                "members": {
                    "TransportationLanes": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListVendorLeadTimes": {
            "http": {
                "method": "GET",
                "requestUri": "/api/config/instances/{InstanceId}/vendor-lead-times",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VendorLeadTimes"
                ],
                "members": {
                    "VendorLeadTimes": {
                        "type": "list",
                        "member": {
                            "shape": "Sm"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListVendorProducts": {
            "http": {
                "method": "GET",
                "requestUri": "/api/config/instances/{InstanceId}/vendor-products",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VendorProducts"
                ],
                "members": {
                    "VendorProducts": {
                        "type": "list",
                        "member": {
                            "shape": "Sp"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "UpdateInventoryPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/api/config/instances/{InstanceId}/inventory-policies/{InventoryPolicyId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "InventoryPolicyId",
                    "InventoryPolicy"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "InventoryPolicyId": {
                        "location": "uri",
                        "locationName": "InventoryPolicyId"
                    },
                    "InventoryPolicy": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InventoryPolicy"
                ],
                "members": {
                    "InventoryPolicy": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "UpdateSourcingRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/api/config/instances/{InstanceId}/sourcing-rules/{SourcingRuleId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "SourcingRuleId",
                    "SourcingRule"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "SourcingRuleId": {
                        "location": "uri",
                        "locationName": "SourcingRuleId"
                    },
                    "SourcingRule": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SourcingRule"
                ],
                "members": {
                    "SourcingRule": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "UpdateTransportationLane": {
            "http": {
                "method": "PUT",
                "requestUri": "/api/config/instances/{InstanceId}/transportation-lanes/{TransportationLaneId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "TransportationLaneId",
                    "TransportationLane"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "TransportationLaneId": {
                        "location": "uri",
                        "locationName": "TransportationLaneId"
                    },
                    "TransportationLane": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TransportationLane"
                ],
                "members": {
                    "TransportationLane": {
                        "shape": "Sj"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "UpdateVendorLeadTime": {
            "http": {
                "method": "PUT",
                "requestUri": "/api/config/instances/{InstanceId}/vendor-lead-times/{VendorPartnerId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "VendorPartnerId",
                    "VendorLeadTime"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "VendorPartnerId": {
                        "location": "uri",
                        "locationName": "VendorPartnerId"
                    },
                    "VendorLeadTime": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VendorLeadTime"
                ],
                "members": {
                    "VendorLeadTime": {
                        "shape": "Sm"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "UpdateVendorProduct": {
            "http": {
                "method": "PUT",
                "requestUri": "/api/config/instances/{InstanceId}/vendor-products/{VendorPartnerId}/products/{ProductId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "VendorPartnerId",
                    "ProductId",
                    "VendorProduct"
                ],
                "members": {
                    "InstanceId": {
                        "location": "uri",
                        "locationName": "InstanceId"
                    },
                    "VendorPartnerId": {
                        "location": "uri",
                        "locationName": "VendorPartnerId"
                    },
                    "ProductId": {
                        "location": "uri",
                        "locationName": "ProductId"
                    },
                    "VendorProduct": {
                        "shape": "Sp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VendorProduct"
                ],
                "members": {
                    "VendorProduct": {
                        "shape": "Sp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "http": {
                "requestUri": "/api/config/tagris/sweeper/resource-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
[...]
