{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-03-28",
        "endpointPrefix": "galaxyinternal.service",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "GalaxyService",
        "signatureVersion": "v4",
        "signingName": "galaxy",
        "targetPrefix": "GalaxyService",
        "uid": "galaxyinternal.service-2018-03-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4LPUG3OGMTLHBBL3Z3TBM5UBWO3E4I2TCLNRXA5IZ7KN6T7DENQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
        ]
    },
    "operations": {
        "AcceptSharedDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "SharedDirectoryId"
                ],
                "members": {
                    "SharedDirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "SharedDirectory": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "AddIpRoutes": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "IpRoutes"
                ],
                "members": {
                    "DirectoryId": {},
                    "IpRoutes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CidrIp": {},
                                "Tags": {
                                    "shape": "Sg"
                                }
                            }
                        }
                    },
                    "UpdateSecurityGroupForDirectoryControllers": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "AddRegion": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RegionName",
                    "VPCSettings"
                ],
                "members": {
                    "DirectoryId": {},
                    "RegionName": {},
                    "VPCSettings": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "AddReservedAliasCustomers": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias",
                    "CustomerIds"
                ],
                "members": {
                    "Alias": {},
                    "CustomerIds": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "AddTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "AuthorizeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ApplicationId"
                ],
                "members": {
                    "DirectoryId": {},
                    "ApplicationId": {},
                    "ServiceAccountUserName": {},
                    "ServiceAccountPassword": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CancelSchemaExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SchemaExtensionId"
                ],
                "members": {
                    "DirectoryId": {},
                    "SchemaExtensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CheckAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Available": {
                        "type": "boolean"
                    },
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ConnectDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Type",
                    "ConnectSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1l"
                    },
                    "Tags": {
                        "shape": "Sg"
                    },
                    "Type": {},
                    "Alias": {},
                    "ConnectSettings": {
                        "type": "structure",
                        "required": [
                            "VpcId",
                            "SubnetIds",
                            "CustomerDnsIps",
                            "CustomerUserName"
                        ],
                        "members": {
                            "VpcId": {},
                            "SubnetIds": {
                                "shape": "Sq"
                            },
                            "CustomerDnsIps": {
                                "shape": "S1o"
                            },
                            "CustomerUserName": {},
                            "AutoCredentialRotationEnabled": {
                                "type": "boolean"
                            }
                        }
                    },
                    "RequesterAppName": {},
                    "ExternalTags": {
                        "shape": "S12"
                    },
                    "NetworkType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateClient": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientName",
                    "Version",
                    "ApplicationId",
                    "ContactEmail"
                ],
                "members": {
                    "ClientName": {},
                    "Version": {},
                    "ApplicationId": {},
                    "ContactEmail": {},
                    "RedirectUri": {
                        "shape": "S1z"
                    },
                    "ErrorUri": {
                        "shape": "S1z"
                    },
                    "ClientProperties": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "ClientId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateComputer": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ComputerName",
                    "Password"
                ],
                "members": {
                    "DirectoryId": {},
                    "ComputerName": {},
                    "Password": {
                        "shape": "S1a"
                    },
                    "OrganizationalUnitDistinguishedName": {},
                    "ComputerAttributes": {
                        "shape": "S29"
                    },
                    "RemoteDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Computer": {
                        "type": "structure",
                        "members": {
                            "ComputerId": {},
                            "ComputerName": {},
                            "ComputerAttributes": {
                                "shape": "S29"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "DnsIpAddrs"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "DnsIpAddrs": {
                        "shape": "S1o"
                    },
                    "DnsIpv6Addrs": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Type"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1a"
                    },
                    "Tags": {
                        "shape": "Sg"
                    },
                    "Type": {},
                    "Alias": {},
                    "SetAsDefault": {
                        "type": "boolean"
                    },
                    "ClassicSettings": {
                        "type": "structure",
                        "required": [
                            "SecurityGroupId",
                            "AvailabilityZones"
                        ],
                        "members": {
                            "SecurityGroupId": {},
                            "AvailabilityZones": {
                                "shape": "S2n"
                            }
                        }
                    },
                    "VpcSettings": {
                        "shape": "So"
                    },
                    "RequesterAppName": {},
                    "IamUserId": {},
                    "ExternalTags": {
                        "shape": "S12"
                    },
                    "CustomerDnsIpV6": {},
                    "NetworkType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateDnsRecordSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias",
                    "Name",
                    "Type",
                    "Values"
                ],
                "members": {
                    "Alias": {},
                    "Name": {},
                    "Type": {},
                    "Values": {
                        "shape": "S2u"
                    },
                    "TTL": {
                        "type": "long"
                    },
                    "Comment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateDomainAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateDomainProxy": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "DomainProxyCredentials"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "DomainProxyCredentials": {
                        "shape": "S32"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "DomainProxyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateDomainSnapshotForUpgrade": {
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {},
                    "domainSnapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateIdentityPoolDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Password": {
                        "shape": "S1a"
                    },
                    "Tags": {
                        "shape": "Sg"
                    },
                    "RequesterAppName": {},
                    "IamUserId": {},
                    "IdentityPoolType": {},
                    "SkipDefaultAliasCreation": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "LogGroupName"
                ],
                "members": {
                    "DirectoryId": {},
                    "LogGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateMicrosoftAD": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "VpcSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1a"
                    },
                    "Tags": {
                        "shape": "Sg"
                    },
                    "Type": {},
                    "Edition": {},
                    "Alias": {},
                    "SetAsDefault": {
                        "type": "boolean"
                    },
                    "VpcSettings": {
                        "shape": "So"
                    },
                    "RequesterAppName": {},
                    "ExternalTags": {
                        "shape": "S12"
                    },
                    "NetworkType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "TrustPassword",
                    "TrustDirection"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "TrustPassword": {
                        "type": "string",
                        "sensitive": true
                    },
                    "TrustDirection": {},
                    "TrustType": {},
                    "ConditionalForwarderIpAddrs": {
                        "shape": "S1o"
                    },
                    "SelectiveAuth": {},
                    "ConditionalForwarderIpv6Addrs": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KULRGN55YK6WT2O3DSTLBM5WYZVVY2JCXJGNRLEIO722D5B5BQHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAEES3SPWKVDAEICI3VS644RDFJXJFFLRO4AZSJACA5VPQWYV3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXEYJWUFRSZRWSGDWLHCFWFQRT2I2N7MX4O6QF5ZHCTUUBLCHQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRMKFVGC72EWQUXTJUN5GEKY3Y7XGI6DN7IPY3JJCZUKNX72FZIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteClient": {
            "input": {
                "type": "structure",
                "required": [
[...]
