{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-03-01",
        "endpointPrefix": "galaxysustainabilitydata",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "GalaxySustainabilityDataService",
        "serviceId": "GalaxySustainabilityData",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "galaxysustainabilitydata-2023-03-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
        ]
    },
    "operations": {
        "CreateBatchDataResponseExport": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-batch-data-response-export",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "exportLocalDate",
                    "timezone"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "exportLocalDate": {},
                    "timezone": {},
                    "csvFormat": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateCadenceBatchDataResponseExport": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-cadence-batch-data-response-export",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "cadence",
                    "timezone"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "cadence": {},
                    "timezone": {},
                    "csvFormat": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cadenceBatchDataResponseExportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateInstanceConfiguration": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-instance-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "scdlInstanceId",
                    "kmsKeyArn",
                    "customerAwsAccountId",
                    "datasetIds"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "scdlInstanceId": {},
                    "kmsKeyArn": {},
                    "customerAwsAccountId": {},
                    "datasetIds": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateMaterializedView": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-materialized-view",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetVersionIds",
                    "materializedViewName"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "datasetVersionIds": {
                        "shape": "Sm"
                    },
                    "materializedViewName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "materializedViewId"
                ],
                "members": {
                    "materializedViewId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateResourceLink": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-resource-link",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "scdlInstanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "scdlInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateSustainabilityBootstrapJob": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-sustainability-bootstrap-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "kmsKeyArn",
                    "customerAwsAccountId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "kmsKeyArn": {},
                    "customerAwsAccountId": {},
                    "runId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "CreateSustainabilityTeardownJob": {
            "http": {
                "requestUri": "/instances/{instanceId}/create-sustainability-teardown-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "runId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteCadenceBatchDataResponseExport": {
            "http": {
                "method": "DELETE",
                "requestUri": "/instances/{instanceId}/delete-cadence-batch-data-response-export/{cadenceBatchDataResponseExportId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "cadenceBatchDataResponseExportId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "cadenceBatchDataResponseExportId": {
                        "location": "uri",
                        "locationName": "cadenceBatchDataResponseExportId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteInstanceConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/instances/{instanceId}/delete-instance-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteInstanceResources": {
            "http": {
                "requestUri": "/instances/{instanceId}/delete-instance-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteMaterializedView": {
            "http": {
                "requestUri": "/instances/{instanceId}/delete-materialized-view",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "materializedViewId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "materializedViewId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteMoodysData": {
            "http": {
                "method": "DELETE",
                "requestUri": "/instances/{instanceId}/delete-moodys-data",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DeleteResourceLink": {
            "http": {
                "requestUri": "/instances/{instanceId}/delete-resource-link",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "scdlInstanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "scdlInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DescribeSustainabilityBootstrapJob": {
            "http": {
                "requestUri": "/instances/{instanceId}/describe-sustainability-bootstrap-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "runId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "DescribeSustainabilityTeardownJob": {
            "http": {
                "requestUri": "/instances/{instanceId}/describe-sustainability-teardown-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "runId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetDataRequestSubmissionsStatus": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-data-request-submissions-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "dataRequestId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "dataRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataRequest": {
                        "type": "structure",
                        "required": [
                            "deleted",
                            "declined"
                        ],
                        "members": {
                            "deleted": {
                                "type": "boolean"
                            },
                            "deletedTime": {},
                            "declined": {
                                "type": "boolean"
                            },
                            "declinedTime": {}
                        }
                    },
                    "submissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "responseVersion",
                                "submissionTime",
                                "deleted"
                            ],
                            "members": {
                                "responseVersion": {
                                    "type": "integer"
                                },
                                "submissionTime": {},
                                "deleted": {
                                    "type": "boolean"
                                },
                                "deletedTime": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetDisclosureExportArtifactId": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-disclosure-export-artifact-id",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "dataRequestId",
                    "responseVersion"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "dataRequestId": {},
                    "responseVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "artifactId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetInstanceConfiguration": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-instance-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "scdlInstanceId",
                    "kmsKeyArn",
                    "customerAwsAccountId",
                    "datasetIds",
                    "datasetVersionIds",
                    "materializedViewIds"
                ],
                "members": {
                    "scdlInstanceId": {},
                    "kmsKeyArn": {},
                    "customerAwsAccountId": {},
                    "datasetIds": {
                        "shape": "Sh"
                    },
                    "datasetVersionIds": {
                        "shape": "Sm"
                    },
                    "materializedViewIds": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetMaterializedViewDefinitions": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-materialized-view-definitions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "materializedViewNames"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "materializedViewNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "materializedViewDefinitions"
                ],
                "members": {
                    "materializedViewDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "materializedViewName",
                                "requiredDatasetNames",
                                "optionalDatasetNames"
                            ],
                            "members": {
                                "materializedViewName": {},
                                "requiredDatasetNames": {
                                    "shape": "S1v"
                                },
                                "optionalDatasetNames": {
                                    "shape": "S1v"
                                },
                                "datasetNames": {
                                    "shape": "S1v"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetPartnersRiskScoreOverview": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-risk-score-overview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "totalPartnerCount",
                    "totalMoodysAccessedCount",
                    "totalMoodysPredictCount",
                    "totalNoScoreCount"
                ],
                "members": {
                    "totalPartnerCount": {
                        "type": "integer"
                    },
                    "totalMoodysAccessedCount": {
                        "type": "integer"
                    },
                    "totalMoodysPredictCount": {
                        "type": "integer"
                    },
                    "totalNoScoreCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "GetSerOverview": {
            "http": {
                "requestUri": "/instances/{instanceId}/get-ser-overview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "reportingPeriodStart",
                    "reportingPeriodMonths"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "reportingPeriodStart": {},
                    "reportingPeriodMonths": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sentDataRequestCount",
                    "completedDataRequestCount",
                    "declinedDataRequestCount",
                    "committedToCarbonFreePartnerCount",
                    "climatePledgeSignatoryPartnerCount",
                    "emissionTotalMTCO2e"
                ],
                "members": {
                    "sentDataRequestCount": {
                        "type": "integer"
                    },
                    "completedDataRequestCount": {
                        "type": "integer"
                    },
                    "declinedDataRequestCount": {
                        "type": "integer"
                    },
                    "committedToCarbonFreePartnerCount": {
                        "type": "integer"
                    },
                    "climatePledgeSignatoryPartnerCount": {
                        "type": "integer"
                    },
                    "emissionTotalMTCO2e": {
                        "type": "double"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ListCadenceBatchDataResponseExport": {
            "http": {
                "requestUri": "/instances/{instanceId}/list-cadence-batch-data-response-export",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cadenceBatchDataResponseExports"
                ],
                "members": {
                    "cadenceBatchDataResponseExports": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ListLocations": {
            "http": {
                "requestUri": "/instances/{instanceId}/list-locations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "locations"
                ],
                "members": {
                    "locations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "locationId",
                                "name",
                                "type",
                                "country"
                            ],
                            "members": {
                                "locationId": {},
                                "name": {},
                                "type": {},
                                "street": {},
                                "city": {},
                                "country": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ListPartnerRiskScore": {
            "http": {
                "requestUri": "/instances/{instanceId}/list-partner-risk-score",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "scoreType": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partnerRiskScores"
                ],
                "members": {
                    "partnerRiskScores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "invitationId"
                            ],
                            "members": {
                                "invitationId": {},
                                "scoreType": {},
                                "esgOverallScore": {
                                    "type": "integer"
                                },
                                "environmentalScore": {
                                    "type": "integer"
                                },
                                "socialScore": {
                                    "type": "integer"
                                },
                                "governanceScore": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js"
            ]
        },
        "ListProductCategories": {
            "http": {
                "requestUri": "/instances/{instanceId}/list-product-categories",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "productCategories"
                ],
                "members": {
                    "productCategories": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFXJJZZOJQZE2ODJI7EJCBNP26OU2CEIV34JZXUVUF5HNDF2OHTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAF6NX2RZS2ZBGDT72UBE5CLCOXAIZNGBIIF26WIFXWT2I4PYTQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDPCZXIVLMPM252O4GCL72L3RJPQAG2MOEE4PTTSZVC7T43GLGYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD4YU4TOONEXTZ5F4E43OOEQ5LK6Y7AU64MPQARERMJLQYMFI4AA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2PMDK7DBABHTTMCUX6ZONKGZK6VILELADJNQY5AYAFTTXPQWVXA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5GLR2IGVF2CZZBFZDJGJ3NBC5J2Y4NDDUNIXYFXRAIWVXPOA4Q/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS3PULUOGANAU2XO4KMOQH6ZSY7JCCE4LEB5VEBNR6XWFC3BEDEQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4XCHXFOPWTLB5BGAGGVJBXHZFA2K4HV66UJ37DMV5QHBPDCBXMQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
[...]
