{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-22",
        "endpointPrefix": "scn",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS GalaxyDataIngestionService",
        "serviceId": "GalaxyDataIngestionService",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "galaxydataingestionservice-2021-08-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
        ]
    },
    "operations": {
        "CreateConnection": {
            "http": {
                "requestUri": "/CreateConnection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name"
                ],
                "members": {
                    "instanceId": {},
                    "name": {},
                    "description": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "CreateDataflow": {
            "http": {
                "requestUri": "/CreateDataflow"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId",
                    "name",
                    "targetDatasetId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "name": {},
                    "targetDatasetId": {},
                    "datasetType": {},
                    "datasetPartitions": {
                        "shape": "S10"
                    },
                    "sources": {
                        "shape": "S12"
                    },
                    "ingestionType": {},
                    "eventType": {},
                    "outboundEventConfiguration": {
                        "shape": "S1s"
                    },
                    "preDefinedTransformationType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId",
                    "dataflowId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DescribeConnection": {
            "http": {
                "requestUri": "/DescribeConnection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connection"
                ],
                "members": {
                    "connection": {
                        "type": "structure",
                        "required": [
                            "instanceId",
                            "connectionId",
                            "name",
                            "createdAt",
                            "updatedAt"
                        ],
                        "members": {
                            "instanceId": {},
                            "connectionId": {},
                            "name": {},
                            "description": {},
                            "createdAt": {
                                "type": "long"
                            },
                            "updatedAt": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "DescribeDataflow": {
            "http": {
                "requestUri": "/DescribeDataflow"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId",
                    "dataflowId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataflow"
                ],
                "members": {
                    "dataflow": {
                        "type": "structure",
                        "required": [
                            "instanceId",
                            "connectionId",
                            "dataflowId",
                            "targetDatasetId",
                            "name",
                            "status",
                            "createdAt",
                            "updatedAt"
                        ],
                        "members": {
                            "instanceId": {},
                            "connectionId": {},
                            "dataflowId": {},
                            "targetDatasetId": {},
                            "name": {},
                            "status": {},
                            "createdAt": {
                                "type": "long"
                            },
                            "updatedAt": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "CreateDataIntegrationFlow": {
            "http": {
                "method": "PUT",
                "requestUri": "/api/data-integration/control/instances/{instanceId}/data-integration-flows/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name",
                    "sources",
                    "transformation",
                    "target"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "sources": {
                        "shape": "S9"
                    },
                    "transformation": {
                        "shape": "So"
                    },
                    "target": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name"
                ],
                "members": {
                    "instanceId": {},
                    "name": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "CreateInstance": {
            "http": {
                "requestUri": "/CreateInstance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accountId",
                    "encryptedFASToken",
                    "encryptedFASTokenDecryptionKMSKeyArn"
                ],
                "members": {
                    "instanceId": {},
                    "accountId": {},
                    "encryptedFASToken": {},
                    "encryptedFASTokenDecryptionKMSKeyArn": {},
                    "tags": {
                        "type": "list",
                        "member": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        }
                    },
                    "kmsKeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteConnection": {
            "http": {
                "requestUri": "/DeleteConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "isHardDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteDataIntegrationFlow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/api/data-integration/control/instances/{instanceId}/data-integration-flows/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name"
                ],
                "members": {
                    "instanceId": {},
                    "name": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteDataflow": {
            "http": {
                "requestUri": "/DeleteDataflow",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId",
                    "dataflowId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {},
                    "isHardDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId",
                    "dataflowId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteInstance": {
            "http": {
                "requestUri": "/DeleteInstance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ExportConnection": {
            "http": {
                "requestUri": "/ExportConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflows": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionExport"
                ],
                "members": {
                    "instanceId": {},
                    "connectionExport": {
                        "shape": "S2l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetConnection": {
            "http": {
                "requestUri": "/GetConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connection"
                ],
                "members": {
                    "connection": {
                        "shape": "S2t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetDataIntegrationFlow": {
            "http": {
                "method": "GET",
                "requestUri": "/api/data-integration/control/instances/{instanceId}/data-integration-flows/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "flow"
                ],
                "members": {
                    "flow": {
                        "shape": "S2x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetDataflow": {
            "http": {
                "requestUri": "/GetDataflow",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {},
                    "connectionName": {},
                    "dataflowName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataflow"
                ],
                "members": {
                    "dataflow": {
                        "shape": "S31"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetEDISampleMappingPossibility": {
            "http": {
                "requestUri": "/GetEDISampleMappingPossibility",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "sampleFileLocation",
                    "eventType",
                    "transactionset"
                ],
                "members": {
                    "instanceId": {},
                    "sampleFileLocation": {},
                    "eventType": {},
                    "transactionset": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "output": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "sourceField": {},
                                "possibilities": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "entityName": {},
                                            "confidence": {
                                                "type": "bigdecimal"
                                            }
                                        }
                                    }
                                },
                                "sampleValue": {}
                            }
                        }
                    },
                    "aaSessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetInstance": {
            "http": {
                "requestUri": "/GetInstance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instance"
                ],
                "members": {
                    "instance": {
                        "type": "structure",
                        "required": [
                            "instanceId"
                        ],
                        "members": {
                            "instanceId": {},
                            "instanceName": {},
                            "region": {},
                            "accountId": {},
                            "s3BucketName": {},
                            "createdAt": {
                                "type": "long"
                            },
                            "updatedAt": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetJob": {
            "http": {
                "requestUri": "/GetJob",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "jobId"
                ],
                "members": {
                    "instanceId": {},
                    "jobId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "jobId",
                    "status"
                ],
                "members": {
                    "instanceId": {},
                    "jobId": {},
                    "status": {},
                    "error": {
                        "type": "structure",
                        "members": {
                            "errorCode": {},
                            "errorMessage": {},
                            "paramters": {
                                "shape": "S1a"
                            }
                        }
                    },
                    "jobDefinition": {
                        "shape": "S3v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ImportConnection": {
            "http": {
                "requestUri": "/ImportConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionExport"
                ],
                "members": {
                    "instanceId": {},
                    "connectionExport": {
                        "shape": "S2l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListConnections": {
            "http": {
                "requestUri": "/ListConnections",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connections"
                ],
                "members": {
                    "connections": {
                        "type": "list",
                        "member": {
                            "shape": "S2t"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListCustomerFiles": {
            "http": {
                "requestUri": "/ListCustomerFiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "files"
                ],
                "members": {
                    "files": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "instanceId",
                                "connectionId",
                                "status",
                                "path",
                                "uploadType",
                                "uploadTimeStamp"
                            ],
                            "members": {
                                "instanceId": {},
                                "connectionId": {},
                                "dataflowId": {},
                                "fileId": {},
                                "status": {},
                                "path": {},
                                "uploadType": {},
                                "uploadTimeStamp": {
                                    "type": "long"
                                },
                                "errorCode": {},
                                "errorMessage": {},
                                "errorDiagnosticsFilePath": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListCustomerFilesInternal": {
            "http": {
                "requestUri": "/ListCustomerFilesInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "files"
                ],
                "members": {
                    "files": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "instanceId",
                                "connectionId",
                                "status",
                                "path",
                                "uploadType",
                                "uploadTimeStamp"
                            ],
                            "members": {
                                "instanceId": {},
                                "connectionId": {},
                                "dataflowId": {},
                                "fileId": {},
                                "jobId": {},
                                "status": {},
                                "path": {},
                                "uploadType": {},
                                "uploadTimeStamp": {
                                    "type": "long"
                                },
                                "errorCode": {},
                                "errorMessage": {},
                                "errorDiagnosticsFilePath": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListDataIntegrationFlows": {
            "http": {
                "method": "GET",
                "requestUri": "/api/data-integration/control/instances/{instanceId}/data-integration-flows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "flows"
                ],
                "members": {
                    "flows": {
                        "type": "list",
                        "member": {
                            "shape": "S2x"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListDataflowStats": {
            "http": {
                "requestUri": "/ListDataflowStats",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataflowStats"
                ],
                "members": {
                    "dataflowStats": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "dataflowId",
                                "dataflowName",
                                "unacknowledgedErrors"
                            ],
                            "members": {
                                "dataflowId": {},
                                "dataflowName": {},
                                "customerFilesFailed": {
                                    "type": "long"
                                },
                                "customerFilesSucceeded": {
                                    "type": "long"
                                },
                                "unacknowledgedErrors": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListDataflows": {
            "http": {
                "requestUri": "/ListDataflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "datasetType": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "eventType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataflows"
                ],
                "members": {
                    "dataflows": {
                        "type": "list",
                        "member": {
                            "shape": "S31"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "StartJob": {
            "http": {
                "requestUri": "/StartJob",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "jobDefinition"
                ],
                "members": {
                    "instanceId": {},
                    "kmsKeyArn": {},
                    "jobDefinition": {
                        "shape": "S3v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "jobId"
                ],
                "members": {
                    "instanceId": {},
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "UpdateConnection": {
            "http": {
                "requestUri": "/UpdateConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "name": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "UpdateCustomerFile": {
            "http": {
                "requestUri": "/UpdateCustomerFile",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "customerFileId",
                    "action"
                ],
                "members": {
                    "instanceId": {},
                    "customerFileId": {},
                    "action": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "customerFileId"
                ],
                "members": {
                    "instanceId": {},
                    "customerFileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "UpdateDataIntegrationFlow": {
            "http": {
                "method": "PATCH",
                "requestUri": "/api/data-integration/control/instances/{instanceId}/data-integration-flows/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name"
                ],
                "members": {
                    "instanceId": {
                        "location": "uri",
                        "locationName": "instanceId"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "sources": {
                        "shape": "S9"
                    },
                    "transformation": {
                        "shape": "So"
                    },
                    "target": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "flow"
                ],
                "members": {
                    "flow": {
                        "shape": "S2x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "UpdateDataflow": {
            "http": {
                "requestUri": "/UpdateDataflow",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId",
                    "dataflowId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {},
                    "name": {},
                    "sources": {
                        "shape": "S12"
                    },
                    "unacknowledgedErrorCount": {
                        "type": "long"
                    },
                    "datasetPartitions": {
                        "shape": "S10"
                    },
                    "outboundEventConfiguration": {
                        "shape": "S1s"
                    },
                    "transformationQuery": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "connectionId",
                    "dataflowId"
                ],
                "members": {
                    "instanceId": {},
                    "connectionId": {},
                    "dataflowId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "sourceType",
                    "sourceName"
                ],
                "members": {
                    "sourceType": {},
                    "sourceName": {},
                    "s3Source": {
                        "type": "structure",
                        "required": [
                            "bucketName",
                            "prefix"
                        ],
                        "members": {
                            "bucketName": {},
                            "prefix": {},
                            "options": {
                                "shape": "Sg"
                            }
                        }
                    },
                    "datasetSource": {
                        "type": "structure",
                        "required": [
                            "datasetType",
                            "datasetId"
                        ],
                        "members": {
                            "datasetType": {},
                            "datasetId": {},
                            "options": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            }
        },
        "Sg": {
            "type": "structure",
            "members": {
                "fileType": {}
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "datasetVersion": {},
                "loadType": {},
                "dedupeRecords": {
                    "type": "boolean"
                }
            }
        },
        "So": {
            "type": "structure",
            "required": [
                "transformationType"
            ],
            "members": {
                "transformationType": {},
                "sqlTransformation": {
                    "type": "structure",
                    "required": [
                        "query"
                    ],
                    "members": {
                        "query": {}
                    }
                }
            }
        },
        "Ss": {
            "type": "structure",
            "required": [
                "targetType"
            ],
            "members": {
                "targetType": {},
                "s3Target": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "prefix"
                    ],
                    "members": {
                        "bucketName": {},
                        "prefix": {},
                        "options": {
                            "shape": "Sg"
                        }
                    }
                },
                "datasetTarget": {
                    "type": "structure",
                    "required": [
                        "datasetType",
                        "datasetId"
                    ],
                    "members": {
                        "datasetType": {},
                        "datasetId": {},
                        "options": {
                            "shape": "Sk"
                        }
                    }
                }
            }
        },
        "S10": {
            "type": "list",
            "member": {}
        },
        "S12": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "sourceScope",
                    "recipe",
                    "identifierFields"
                ],
                "members": {
                    "name": {},
                    "sourceScope": {},
                    "recipe": {
                        "shape": "S16"
                    },
                    "stagingTransformationQuery": {},
                    "identifierFields": {
                        "shape": "S10"
                    },
                    "isSecondary": {
                        "type": "boolean"
                    },
                    "stagingDataExtractionFilter": {
                        "shape": "S1k"
                    },
                    "sourceFields": {
                        "shape": "S1m"
                    }
                }
            }
        },
        "S16": {
            "type": "list",
            "member": {
                "shape": "S17"
            }
        },
        "S17": {
            "type": "structure",
            "required": [
                "action"
            ],
            "members": {
                "action": {
                    "type": "structure",
                    "required": [
                        "operation",
                        "parameters"
                    ],
                    "members": {
                        "operation": {},
                        "parameters": {
                            "shape": "S1a"
                        }
                    }
                },
                "conditionExpressions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "condition",
                            "targetColumn"
                        ],
                        "members": {
                            "condition": {},
                            "targetColumn": {},
                            "value": {}
                        }
                    }
                }
            }
        },
        "S1a": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1k": {
            "type": "structure",
            "required": [
                "recipe"
            ],
            "members": {
                "recipe": {
                    "type": "list",
                    "member": {
                        "shape": "S17"
                    }
                }
            }
        },
        "S1m": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "isPrimaryKey": {
                        "type": "boolean"
                    },
                    "isPartitionKey": {
                        "type": "boolean"
                    }
                }
            }
        },
        "S1s": {
            "type": "structure",
            "required": [
                "targetType"
            ],
            "members": {
                "targetType": {},
                "s3Target": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "prefix"
                    ],
                    "members": {
                        "bucketName": {},
                        "prefix": {}
                    }
                },
                "transformationType": {},
                "sqlTransformation": {
                    "type": "structure",
                    "required": [
                        "query"
                    ],
                    "members": {
                        "query": {}
                    }
                }
            }
        },
        "S2l": {
            "type": "structure",
            "required": [
                "connection",
                "dataflows"
            ],
            "members": {
                "connection": {
                    "type": "structure",
                    "required": [
                        "name",
                        "type"
                    ],
                    "members": {
                        "name": {},
                        "type": {},
                        "description": {}
                    }
                },
                "dataflows": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name"
                        ],
                        "members": {
                            "name": {},
                            "datasetType": {},
                            "sources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "name",
                                        "scope",
                                        "recipe",
                                        "identifierFields"
                                    ],
                                    "members": {
                                        "name": {},
                                        "scope": {},
                                        "recipe": {
                                            "shape": "S16"
                                        },
                                        "identifierFields": {
                                            "shape": "S10"
                                        },
                                        "stagingTransformationQuery": {},
                                        "isSecondary": {
                                            "type": "boolean"
                                        },
                                        "stagingDataExtractionFilter": {
                                            "shape": "S1k"
                                        },
                                        "sourceFields": {
                                            "shape": "S1m"
                                        }
                                    }
                                }
                            },
                            "datasetPartitions": {
                                "shape": "S10"
                            },
                            "ingestionType": {},
                            "eventType": {},
                            "outboundEventConfiguration": {
                                "shape": "S1s"
                            },
                            "transformationQuery": {}
                        }
                    }
                }
            }
        },
        "S2t": {
            "type": "structure",
            "required": [
                "instanceId",
                "connectionId",
                "name",
                "type",
                "createdAt",
                "updatedAt"
            ],
            "members": {
                "instanceId": {},
                "connectionId": {},
                "name": {},
                "description": {},
                "type": {},
                "createdAt": {
                    "type": "long"
                },
                "updatedAt": {
                    "type": "long"
                }
            }
        },
        "S2x": {
            "type": "structure",
            "required": [
                "instanceId",
                "name",
                "sources",
                "transformation",
                "target",
                "createdTime",
                "lastModifiedTime"
            ],
            "members": {
                "instanceId": {},
                "name": {},
                "sources": {
                    "shape": "S9"
                },
                "transformation": {
                    "shape": "So"
                },
                "target": {
                    "shape": "Ss"
                },
                "createdTime": {
                    "type": "timestamp"
                },
                "lastModifiedTime": {
                    "type": "timestamp"
                }
            }
        },
        "S31": {
            "type": "structure",
            "required": [
                "instanceId",
                "connectionId",
                "dataflowId",
                "name",
                "createdAt",
                "updatedAt",
                "unacknowledgedErrorCount"
            ],
            "members": {
                "instanceId": {},
                "connectionId": {},
                "dataflowId": {},
                "targetDatasetId": {},
                "datasetType": {},
                "name": {},
                "sources": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "uploadPaths",
                            "name",
                            "sourceScope",
                            "recipe",
                            "identifierFields"
                        ],
                        "members": {
                            "uploadPaths": {
                                "type": "structure",
                                "members": {
                                    "incremental": {},
                                    "replace": {},
                                    "delete": {},
                                    "trigger": {}
                                }
                            },
                            "name": {},
                            "sourceScope": {},
                            "recipe": {
                                "shape": "S16"
                            },
                            "stagingTransformationQuery": {},
                            "identifierFields": {
                                "shape": "S10"
                            },
                            "isSecondary": {
                                "type": "boolean"
                            },
                            "stagingDataExtractionFilter": {
                                "shape": "S1k"
                            },
                            "sourceFields": {
                                "shape": "S1m"
                            },
                            "stagingDatasetId": {}
                        }
                    }
                },
                "createdAt": {
                    "type": "long"
                },
                "updatedAt": {
                    "type": "long"
                },
                "unacknowledgedErrorCount": {
                    "type": "long"
                },
                "datasetPartitions": {
                    "shape": "S10"
                },
                "ingestionType": {},
                "eventType": {},
                "outboundEventConfiguration": {
                    "shape": "S1s"
                },
                "transformationQuery": {}
            }
        },
        "S3v": {
            "type": "structure",
            "required": [
                "sources",
                "transformationDefinition",
                "targets"
            ],
            "members": {
                "sources": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "sourceType",
                            "sourceName"
                        ],
                        "members": {
                            "sourceType": {},
                            "sourceName": {},
                            "datasetSource": {
                                "type": "structure",
                                "required": [
                                    "instanceId",
                                    "datasetId"
                                ],
                                "members": {
                                    "instanceId": {},
                                    "datasetId": {},
                                    "versionId": {
                                        "type": "long"
                                    },
                                    "catalogId": {}
                                }
                            },
                            "s3Source": {
                                "type": "structure",
                                "required": [
                                    "bucketName",
                                    "prefix",
                                    "fileType"
                                ],
                                "members": {
                                    "bucketName": {},
                                    "prefix": {},
                                    "fileType": {}
                                }
                            }
                        }
                    }
                },
                "transformationDefinition": {
                    "type": "structure",
                    "required": [
                        "transformationType"
                    ],
                    "members": {
                        "transformationType": {},
                        "sparkSQLTransformation": {
                            "type": "structure",
                            "required": [
                                "query",
                                "fileType"
                            ],
                            "members": {
                                "query": {},
                                "fileType": {}
                            }
                        }
                    }
                },
                "targets": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "targetType"
                        ],
                        "members": {
                            "targetType": {},
                            "datasetTarget": {
                                "type": "structure",
                                "required": [
                                    "instanceId",
                                    "datasetId",
                                    "operation"
                                ],
                                "members": {
                                    "instanceId": {},
                                    "datasetId": {},
                                    "operation": {}
                                }
                            },
                            "s3Target": {
                                "type": "structure",
                                "required": [
                                    "bucketName",
                                    "prefix"
                                ],
                                "members": {
                                    "bucketName": {},
                                    "prefix": {},
                                    "outputToSingleFile": {
                                        "type": "boolean"
                                    },
                                    "partitionKeys": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "enforceSequentialOrder": {
                    "type": "boolean"
                },
                "loadSequenceNumber": {
                    "type": "long"
                },
                "parameters": {
                    "shape": "S1a"
                }
            }
        }
    }
}