{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-05-06",
        "endpointPrefix": "galaxycollaborationservice",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "GalaxyCollaborationService",
        "serviceId": "GalaxyCollaboration",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "galaxycollaboration-2022-05-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
        ]
    },
    "operations": {
        "AddMembersToResourceBasedChat": {
            "http": {
                "requestUri": "/add-members-to-resource-based-chat",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "resourceType",
                    "resourceId",
                    "usersToAdd"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "resourceType": {},
                    "resourceId": {
                        "shape": "S4"
                    },
                    "usersToAdd": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    },
                    "chatMembersAdded": {
                        "shape": "S5"
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "memberNotAdded": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "AddModeratorToResourceBasedChat": {
            "http": {
                "requestUri": "/add-moderator-to-resource-based-chat",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "resourceType",
                    "resourceId",
                    "moderatorToAdd"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "resourceType": {},
                    "resourceId": {
                        "shape": "S4"
                    },
                    "moderatorToAdd": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    },
                    "moderatorAdded": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "CreateChimeInstanceInternal": {
            "http": {
                "requestUri": "/create-chime-instance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "accountId",
                    "encryptedFasToken",
                    "kmsKeyArn"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "accountId": {},
                    "encryptedFasToken": {},
                    "kmsKeyArn": {},
                    "tags": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "chimeAppInstanceArn"
                ],
                "members": {
                    "chimeAppInstanceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DeleteChimeInstanceInternal": {
            "http": {
                "requestUri": "/delete-chime-instance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "accountId"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "accountId": {},
                    "encryptedFasToken": {},
                    "kmsKeyArn": {},
                    "deleteType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DeleteChimeUserInternal": {
            "http": {
                "requestUri": "/delete-chime-user-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "chimeUserArn"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "chimeUserArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DeleteResourceBasedChatInternal": {
            "http": {
                "requestUri": "/delete-resource-based-chat-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "accountId",
                    "resourceType",
                    "resourceId",
                    "chatCreatorUserArn"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "accountId": {},
                    "resourceType": {},
                    "resourceId": {
                        "shape": "S4"
                    },
                    "chatCreatorUserArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "chatArn"
                ],
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DeleteUserBasedChatInternal": {
            "http": {
                "requestUri": "/delete-user-based-chat-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "chatArn",
                    "chatCreatorUserArn"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "chatArn": {
                        "shape": "S8"
                    },
                    "chatCreatorUserArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "chatArn"
                ],
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DescribeChatForUser": {
            "http": {
                "requestUri": "/describe-chat-for-user",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "chatArn"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "chatArn": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userChatSummary": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "GetChatPreferencesForUser": {
            "http": {
                "requestUri": "/get-chat-preferences-for-user",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "chatArn"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "chatArn": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "chatArn",
                    "allowNotifications"
                ],
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    },
                    "allowNotifications": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "GetChimeInstanceInternal": {
            "http": {
                "requestUri": "/get-chime-instance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "accountId"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "chimeAppInstanceId": {},
                    "chimeAppInstanceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "GetMessagingSessionConnectionDetails": {
            "http": {
                "requestUri": "/get-messaging-session-connection-details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId"
                ],
                "members": {
                    "galaxyInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpointUrl": {},
                    "userArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "GetOrCreateChimeUser": {
            "http": {
                "requestUri": "/get-or-create-chime-user",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId"
                ],
                "members": {
                    "galaxyInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "chimeUserArn"
                ],
                "members": {
                    "chimeUserArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "GetOrCreateResourceBasedChat": {
            "http": {
                "requestUri": "/get-or-create-resource-based-chat",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "resourceType",
                    "resourceId",
                    "chatName",
                    "usersToAdd"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "resourceType": {},
                    "resourceId": {
                        "shape": "S4"
                    },
                    "chatName": {
                        "shape": "S11"
                    },
                    "usersToAdd": {
                        "shape": "S5"
                    },
                    "moderatorsToAdd": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "chatArn"
                ],
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    },
                    "usersNotAdded": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "GetOrCreateUserBasedChat": {
            "http": {
                "requestUri": "/get-or-create-user-based-chat",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "chatName",
                    "usersToAdd"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "chatName": {
                        "shape": "S11"
                    },
                    "usersToAdd": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "chatArn"
                ],
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "GetResourceBasedChatArn": {
            "http": {
                "requestUri": "/get-resource-based-chat-arn",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "resourceType",
                    "resourceId"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "resourceType": {},
                    "resourceId": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "chatArn"
                ],
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "ListChatMembers": {
            "http": {
                "requestUri": "/list-chat-members",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "chatArn"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "chatArn": {
                        "shape": "S8"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    },
                    "chatMembers": {
                        "type": "list",
                        "member": {
                            "shape": "S1n"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "ListChatMessages": {
            "http": {
                "requestUri": "/list-chat-messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "chatArn"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "chatArn": {
                        "shape": "S8"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "notBefore": {
                        "type": "timestamp"
                    },
                    "notAfter": {
                        "type": "timestamp"
                    },
                    "sortOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "chatArn",
                    "chatMessages"
                ],
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    },
                    "chatMessages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageContent": {
                                    "shape": "S1v"
                                },
                                "createdTimestamp": {
                                    "type": "timestamp"
                                },
                                "lastEditedTimestamp": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "messageId": {},
                                "user": {
                                    "shape": "S1n"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "ListChatModerators": {
            "http": {
                "requestUri": "/list-chat-moderators",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "chatArn"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "chatArn": {
                        "shape": "S8"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    },
                    "chatModerators": {
                        "type": "list",
                        "member": {
                            "shape": "S1n"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "ListChats": {
            "http": {
                "requestUri": "/list-chats",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userChats"
                ],
                "members": {
                    "userChats": {
                        "type": "list",
                        "member": {
                            "shape": "Sx"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "RemoveMemberFromResourceBasedChat": {
            "http": {
                "requestUri": "/remove-member-from-resource-based-chat",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "resourceType",
                    "resourceId",
                    "userToRemove"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "resourceType": {},
                    "resourceId": {
                        "shape": "S4"
                    },
                    "userToRemove": {},
                    "userIsModerator": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "chatArn",
                    "userRemoved"
                ],
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    },
                    "userRemoved": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "SearchChimeUsers": {
            "http": {
                "requestUri": "/search-chime-users",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "searchFilterValue"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "searchFilterValue": {
                        "type": "string",
                        "sensitive": true
                    },
                    "searchFilterKey": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userId": {},
                                "userName": {},
                                "primaryEmail": {},
                                "displayName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "SendChatMessage": {
            "http": {
                "requestUri": "/send-chat-message",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "chatArn",
                    "messageContent"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "chatArn": {
                        "shape": "S8"
                    },
                    "messageContent": {
                        "shape": "S1v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "messageId"
                ],
                "members": {
                    "messageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "UpdateChatPreferencesForUser": {
            "http": {
                "requestUri": "/update-chat-preferences-for-user",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "chatArn",
                    "allowNotifications"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "chatArn": {
                        "shape": "S8"
                    },
                    "allowNotifications": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "chatArn",
                    "allowNotifications"
                ],
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    },
                    "allowNotifications": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "UpdateChatReadMarker": {
            "http": {
                "requestUri": "/update-chat-read-marker",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "galaxyInstanceId",
                    "chatArn"
                ],
                "members": {
                    "galaxyInstanceId": {},
                    "chatArn": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "chatArn": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "string",
            "sensitive": true
        },
        "S5": {
            "type": "list",
            "member": {}
        },
        "S8": {
            "type": "string",
            "sensitive": true
        },
        "Sx": {
            "type": "structure",
            "members": {
                "readMarkerTimestamp": {
                    "type": "timestamp"
                },
                "chatSummary": {
                    "type": "structure",
                    "members": {
                        "chatArn": {
                            "shape": "S8"
                        },
                        "lastMessageTimestamp": {
                            "type": "timestamp"
                        },
                        "metadata": {},
                        "chatName": {
                            "shape": "S11"
                        }
                    }
                }
            }
        },
        "S11": {
            "type": "string",
            "sensitive": true
        },
        "S1n": {
            "type": "structure",
            "required": [
                "userId"
            ],
            "members": {
                "userId": {},
                "name": {}
            },
            "sensitive": true
        },
        "S1v": {
            "type": "string",
            "sensitive": true
        }
    }
}