{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-10-01",
        "endpointPrefix": "gamelift",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon GameLift",
        "serviceId": "GameLift",
        "signatureVersion": "v4",
        "targetPrefix": "GameLift",
        "uid": "gamelift-2015-10-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
        ]
    },
    "operations": {
        "AcceptMatch": {
            "input": {
                "type": "structure",
                "required": [
                    "TicketId",
                    "PlayerIds",
                    "AcceptanceType"
                ],
                "members": {
                    "TicketId": {},
                    "PlayerIds": {
                        "shape": "S3"
                    },
                    "AcceptanceType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ClaimGameServer": {
            "input": {
                "type": "structure",
                "required": [
                    "GameServerGroupName"
                ],
                "members": {
                    "GameServerGroupName": {},
                    "GameServerId": {},
                    "GameServerData": {},
                    "FilterOption": {
                        "type": "structure",
                        "members": {
                            "InstanceStatuses": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GameServer": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RoutingStrategy"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "RoutingStrategy": {
                        "shape": "Sm"
                    },
                    "Tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Alias": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateBuild": {
            "input": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Version": {},
                    "StorageLocation": {
                        "shape": "Sz"
                    },
                    "OperatingSystem": {},
                    "Tags": {
                        "shape": "Sq"
                    },
                    "ServerSdkVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Build": {
                        "shape": "S13"
                    },
                    "UploadCredentials": {
                        "shape": "S18"
                    },
                    "StorageLocation": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "EC2InstanceType"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "BuildId": {},
                    "ScriptId": {},
                    "ServerLaunchPath": {},
                    "ServerLaunchParameters": {},
                    "LogPaths": {
                        "shape": "S3"
                    },
                    "EC2InstanceType": {},
                    "EC2InboundPermissions": {
                        "shape": "S1d"
                    },
                    "NewGameSessionProtectionPolicy": {},
                    "RuntimeConfiguration": {
                        "shape": "S1j"
                    },
                    "ResourceCreationLimitPolicy": {
                        "shape": "S1p"
                    },
                    "MetricGroups": {
                        "shape": "S1r"
                    },
                    "PeerVpcAwsAccountId": {},
                    "PeerVpcId": {},
                    "FleetType": {},
                    "InstanceRoleArn": {},
                    "CertificateConfiguration": {
                        "shape": "S1u"
                    },
                    "Tags": {
                        "shape": "Sq"
                    },
                    "Locations": {
                        "shape": "S1y"
                    },
                    "ComputeType": {},
                    "AnywhereConfiguration": {
                        "shape": "S23"
                    },
                    "FleetImageName": {},
                    "ContainerGroupConfiguration": {
                        "shape": "S2g"
                    },
                    "ContainerGroupsConfiguration": {
                        "type": "structure",
                        "required": [
                            "ContainerGroupDefinitionIds",
                            "ConnectionPortRange"
                        ],
                        "members": {
                            "ContainerGroupDefinitionIds": {
                                "type": "list",
                                "member": {}
                            },
                            "ConnectionPortRange": {
                                "shape": "S3f"
                            },
                            "DesiredReplicaContainerGroupsPerInstance": {
                                "type": "integer"
                            }
                        }
                    },
                    "InstanceRoleCredentialsProvider": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FleetAttributes": {
                        "shape": "S1x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateGameServerGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GameServerGroupName",
                    "RoleArn",
                    "MinSize",
                    "MaxSize",
                    "LaunchTemplate",
                    "InstanceDefinitions"
                ],
                "members": {
                    "GameServerGroupName": {},
                    "RoleArn": {},
                    "MinSize": {
                        "type": "integer"
                    },
                    "MaxSize": {
                        "type": "integer"
                    },
                    "LaunchTemplate": {
                        "type": "structure",
                        "members": {
                            "LaunchTemplateId": {},
                            "LaunchTemplateName": {},
                            "Version": {}
                        }
                    },
                    "InstanceDefinitions": {
                        "shape": "S2a"
                    },
                    "AutoScalingPolicy": {
                        "type": "structure",
                        "required": [
                            "TargetTrackingConfiguration"
                        ],
                        "members": {
                            "EstimatedInstanceWarmup": {
                                "type": "integer"
                            },
                            "TargetTrackingConfiguration": {
                                "type": "structure",
                                "required": [
                                    "TargetValue"
                                ],
                                "members": {
                                    "TargetValue": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    },
                    "BalancingStrategy": {},
                    "GameServerProtectionPolicy": {},
                    "VpcSubnets": {
                        "type": "list",
                        "member": {}
                    },
                    "Tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GameServerGroup": {
                        "shape": "S2m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateGameSession": {
            "input": {
                "type": "structure",
                "required": [
                    "MaximumPlayerSessionCount"
                ],
                "members": {
                    "FleetId": {},
                    "AliasId": {},
                    "MaximumPlayerSessionCount": {
                        "type": "integer"
                    },
                    "Name": {},
                    "GameProperties": {
                        "shape": "S2u"
                    },
                    "CreatorId": {},
                    "GameSessionId": {},
                    "IdempotencyToken": {},
                    "GameSessionData": {},
                    "Location": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GameSession": {
                        "shape": "S31"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateGameSessionQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "TimeoutInSeconds": {
                        "type": "integer"
                    },
                    "PlayerLatencyPolicies": {
                        "shape": "S3a"
                    },
                    "Destinations": {
                        "shape": "S3c"
                    },
                    "Tags": {
                        "shape": "Sq"
                    },
                    "FilterConfiguration": {
                        "shape": "S3o"
                    },
                    "PriorityConfiguration": {
                        "shape": "S3q"
                    },
                    "CustomEventData": {},
                    "NotificationTarget": {},
                    "NotificationOptions": {
                        "shape": "S6e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GameSessionQueue": {
                        "shape": "S3g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateMatchmakingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RequestTimeoutSeconds",
                    "AcceptanceRequired",
                    "RuleSetName"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "GameSessionQueueArns": {
                        "shape": "S3j"
                    },
                    "RequestTimeoutSeconds": {
                        "type": "integer"
                    },
                    "AcceptanceTimeoutSeconds": {
                        "type": "integer"
                    },
                    "AcceptanceRequired": {
                        "type": "boolean"
                    },
                    "RuleSetName": {},
                    "NotificationTarget": {},
                    "AdditionalPlayerCount": {
                        "type": "integer"
                    },
                    "CustomEventData": {},
                    "GameProperties": {
                        "shape": "S2u"
                    },
                    "GameSessionData": {},
                    "BackfillMode": {},
                    "FlexMatchMode": {},
                    "Tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Configuration": {
                        "shape": "S3t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateMatchmakingRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RuleSetBody"
                ],
                "members": {
                    "Name": {},
                    "RuleSetBody": {},
                    "Tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RuleSet"
                ],
                "members": {
                    "RuleSet": {
                        "shape": "S3z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreatePlayerSession": {
            "input": {
                "type": "structure",
                "required": [
                    "GameSessionId",
                    "PlayerId"
                ],
                "members": {
                    "GameSessionId": {},
                    "PlayerId": {},
                    "PlayerData": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PlayerSession": {
                        "shape": "S43"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreatePlayerSessions": {
            "input": {
                "type": "structure",
                "required": [
                    "GameSessionId",
                    "PlayerIds"
                ],
                "members": {
                    "GameSessionId": {},
                    "PlayerIds": {
                        "type": "list",
                        "member": {}
                    },
                    "PlayerDataMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PlayerSessions": {
                        "shape": "S4a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateScript": {
            "input": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Version": {},
                    "StorageLocation": {
                        "shape": "Sz"
                    },
                    "ZipFile": {
                        "type": "blob"
                    },
                    "Tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Script": {
                        "shape": "S4e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateVpcPeeringAuthorization": {
            "input": {
                "type": "structure",
                "required": [
                    "GameLiftAwsAccountId",
                    "PeerVpcId"
                ],
                "members": {
                    "GameLiftAwsAccountId": {},
                    "PeerVpcId": {},
                    "SecurityGroupIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VpcPeeringAuthorization": {
                        "shape": "S4h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateVpcPeeringConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "FleetId",
                    "PeerVpcAwsAccountId",
                    "PeerVpcId"
                ],
                "members": {
                    "FleetId": {},
                    "PeerVpcAwsAccountId": {},
                    "PeerVpcId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasId"
                ],
                "members": {
                    "AliasId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteBuild": {
            "input": {
                "type": "structure",
                "required": [
                    "BuildId"
                ],
                "members": {
                    "BuildId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "FleetId"
                ],
                "members": {
                    "FleetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteGameServerGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GameServerGroupName"
                ],
                "members": {
                    "GameServerGroupName": {},
                    "DeleteOption": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GameServerGroup": {
                        "shape": "S2m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteGameSessionQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteMatchmakingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteMatchmakingRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteScalingPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "FleetId"
                ],
                "members": {
                    "Name": {},
                    "FleetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteScript": {
            "input": {
                "type": "structure",
                "required": [
                    "ScriptId"
                ],
                "members": {
                    "ScriptId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3SBMALZBDIQIRJVBZMOUCTOFVQU3EFGLUFKGZRGM7FNCAJXTYWQ/vendors-amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
[...]
