{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-17",
        "endpointPrefix": "gamesparks",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "GameSparks",
        "serviceId": "GameSparks",
        "signatureVersion": "v4",
        "signingName": "gamesparks",
        "uid": "gamesparks-2021-08-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/U66AGQADZIJNSC35ERWDF5M6YPBP2HPJC2LVVO32NLADQAVIIBTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateGame": {
            "http": {
                "requestUri": "/game",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName"
                ],
                "members": {
                    "ClientToken": {},
                    "Description": {},
                    "GameName": {},
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Game": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "CreateSnapshot": {
            "http": {
                "requestUri": "/game/{GameName}/snapshot",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName"
                ],
                "members": {
                    "Description": {},
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "Source": {
                        "type": "structure",
                        "required": [
                            "File"
                        ],
                        "members": {
                            "File": {
                                "shape": "Sg"
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Snapshot": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "CreateStage": {
            "http": {
                "requestUri": "/game/{GameName}/stage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName",
                    "Role",
                    "StageName"
                ],
                "members": {
                    "ClientToken": {},
                    "Description": {},
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "Role": {},
                    "StageName": {},
                    "Tags": {
                        "shape": "S5"
                    },
                    "TerminationProtection": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Stage": {
                        "shape": "St"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "DeleteGame": {
            "http": {
                "method": "DELETE",
                "requestUri": "/game/{GameName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "DeleteStage": {
            "http": {
                "method": "DELETE",
                "requestUri": "/game/{GameName}/stage/{StageName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName",
                    "StageName"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "StageName": {
                        "location": "uri",
                        "locationName": "StageName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "DisconnectPlayer": {
            "http": {
                "requestUri": "/runtime/game/{GameName}/stage/{StageName}/player/{PlayerId}/disconnect",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName",
                    "PlayerId",
                    "StageName"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "PlayerId": {
                        "location": "uri",
                        "locationName": "PlayerId"
                    },
                    "StageName": {
                        "location": "uri",
                        "locationName": "StageName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DisconnectFailures": {
                        "shape": "S14"
                    },
                    "DisconnectSuccesses": {
                        "shape": "S14"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "ExportSnapshot": {
            "http": {
                "method": "GET",
                "requestUri": "/game/{GameName}/snapshot/{SnapshotId}/export",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName",
                    "SnapshotId"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "SnapshotId": {
                        "location": "uri",
                        "locationName": "SnapshotId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "S3Url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "GetExtension": {
            "http": {
                "method": "GET",
                "requestUri": "/extension/{Namespace}/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Namespace"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Namespace": {
                        "location": "uri",
                        "locationName": "Namespace"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Extension": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "GetExtensionVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/extension/{Namespace}/{Name}/version/{ExtensionVersion}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ExtensionVersion",
                    "Name",
                    "Namespace"
                ],
                "members": {
                    "ExtensionVersion": {
                        "location": "uri",
                        "locationName": "ExtensionVersion"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Namespace": {
                        "location": "uri",
                        "locationName": "Namespace"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExtensionVersion": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "GetGame": {
            "http": {
                "method": "GET",
                "requestUri": "/game/{GameName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Game": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "GetGameConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/game/{GameName}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "Sections": {
                        "shape": "S1n",
                        "location": "querystring",
                        "locationName": "Sections"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GameConfiguration": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "GetGeneratedCodeJob": {
            "http": {
                "method": "GET",
                "requestUri": "/game/{GameName}/snapshot/{SnapshotId}/generated-sdk-code-job/{JobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName",
                    "JobId",
                    "SnapshotId"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    },
                    "SnapshotId": {
                        "location": "uri",
                        "locationName": "SnapshotId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GeneratedCodeJob": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "GetPlayerConnectionStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/runtime/game/{GameName}/stage/{StageName}/player/{PlayerId}/connection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName",
                    "PlayerId",
                    "StageName"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "PlayerId": {
                        "location": "uri",
                        "locationName": "PlayerId"
                    },
                    "StageName": {
                        "location": "uri",
                        "locationName": "StageName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Created": {
                                    "shape": "Sb"
                                },
                                "Id": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "GetSnapshot": {
            "http": {
                "method": "GET",
                "requestUri": "/game/{GameName}/snapshot/{SnapshotId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName",
                    "SnapshotId"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "Sections": {
                        "shape": "S1n",
                        "location": "querystring",
                        "locationName": "Sections"
                    },
                    "SnapshotId": {
                        "location": "uri",
                        "locationName": "SnapshotId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Snapshot": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "GetStage": {
            "http": {
                "method": "GET",
                "requestUri": "/game/{GameName}/stage/{StageName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName",
                    "StageName"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "StageName": {
                        "location": "uri",
                        "locationName": "StageName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Stage": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "GetStageDeployment": {
            "http": {
                "method": "GET",
                "requestUri": "/game/{GameName}/stage/{StageName}/deployment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName",
                    "StageName"
                ],
                "members": {
                    "DeploymentId": {
                        "location": "querystring",
                        "locationName": "DeploymentId"
                    },
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "StageName": {
                        "location": "uri",
                        "locationName": "StageName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StageDeployment": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "ImportGameConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/game/{GameName}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName",
                    "ImportSource"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "ImportSource": {
                        "type": "structure",
                        "required": [
                            "File"
                        ],
                        "members": {
                            "File": {
                                "type": "blob"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GameConfiguration": {
                        "shape": "S1p"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "ListExtensionVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/extension/{Namespace}/{Name}/version",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Namespace"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Namespace": {
                        "location": "uri",
                        "locationName": "Namespace"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExtensionVersions": {
                        "type": "list",
                        "member": {
                            "shape": "S1i"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "ListExtensions": {
            "http": {
                "method": "GET",
                "requestUri": "/extension",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Extensions": {
                        "type": "list",
                        "member": {
                            "shape": "S1d"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "ListGames": {
            "http": {
                "method": "GET",
                "requestUri": "/game",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Games": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Description": {},
                                "Name": {},
                                "State": {},
                                "Tags": {
                                    "shape": "S5"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "ListGeneratedCodeJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/game/{GameName}/snapshot/{SnapshotId}/generated-sdk-code-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName",
                    "SnapshotId"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "SnapshotId": {
                        "location": "uri",
                        "locationName": "SnapshotId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GeneratedCodeJobs": {
                        "type": "list",
                        "member": {
                            "shape": "S1t"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "ListSnapshots": {
            "http": {
                "method": "GET",
                "requestUri": "/game/{GameName}/snapshot",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Snapshots": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Created": {
                                    "shape": "Sb"
                                },
                                "Description": {},
                                "Id": {},
                                "LastUpdated": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF32AUZK2NDFASCPQEIJCQR3XIID5VGDOBVU3PJPMG2NSCPWS7BQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KA7JARC27RD6QGG7P2F6WSZDRZT74R36NAO22JXBWMBQTW2WFMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSN45GRWH3NPSUJDWSP35WU22DT4OOTNWGN2A6VAJCXT3NSHD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2IYGRMJWYXXBEP7KDWJLDA27E4UOM63T6GOX7R2AIVIZ7SMVLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2C455TQROT44D7HLAGC7RPOEXPVF46YZKIA75VTCZ3BK4OCG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D62TF5HRJEEQ224RCQQXVFGGAGZCTRLNTZAB3FWHNLGCZQLA6Y7A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SW7VBDMVKS4CECAYFJOU5K55LCS5QMB5Y2CYV5FWTEGTGLOI3UCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUHXCIOB7SFTQ2TIGBQ63KAPPWCYMFA4TYZUGYB2L6Y5TVV352PA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3NKKN27CWOP3PMAISFYAT4PJIWST5WGYXRBMEZ6P5OAI7EPWFJQ/aws-sdk.js"
            ]
        },
        "ListStageDeployments": {
            "http": {
                "method": "GET",
                "requestUri": "/game/{GameName}/stage/{StageName}/deployments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "GameName",
                    "StageName"
                ],
                "members": {
                    "GameName": {
                        "location": "uri",
                        "locationName": "GameName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "StageName": {
                        "location": "uri",
                        "locationName": "StageName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "StageDeployments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DeploymentAction": {},
                                "DeploymentId": {},
                                "DeploymentResult": {
                                    "shape": "S29"
                                },
                                "DeploymentState": {},
                                "LastUpdated": {
                                    "shape": "Sb"
                                },
                                "SnapshotId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBT2V4W72NGY5EPBHC6SPLTNCL5KG2646S23MLWDAVLXK2YBFNBQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZPEEGMNUTQUQOJBHIQX3EZCDW3CPVMLLSG2UGRMB5G6WLGCYSLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PKYCQPDGNVCEV3QYXKFX34PSSWNO2ECS7FOISPGIUYLF3HFORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP364ZTHP463Q4CKDGUWWAXZOV3V7K2ALLODMJBRWQIX3AYP6L5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQ7CLG5TPEBICVY3BA2S7NMXCRQVOB7CW2K76VV3M43XN2EQNE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPG2J3LWNVGF34SXGLILXLBHI4XKQQVLVYJ77TBQA63PZTMYB3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVNKJTDEQZCKFTLCQTAVONCESBZAOYKRKJ6YT6L6LWLEKC3R2SAA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JV2AJA6P6CLHY5LJCOHXTAV2G6UNZ4OPJTZQMMJTB3GYG5XLQJFQ/vendors.sdk.js",
[...]
