{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-03-01",
        "endpointPrefix": "garepos",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "GalaxyArtifactsRepositoryService",
        "serviceId": "garepos",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "garepos-2023-03-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
        ]
    },
    "operations": {
        "CloneArtifact": {
            "http": {
                "requestUri": "/cloneArtifact",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceInstanceId",
                    "destinationInstanceId",
                    "sourceArtifactId",
                    "sourceRegion",
                    "destinationRegion"
                ],
                "members": {
                    "sourceInstanceId": {},
                    "destinationInstanceId": {},
                    "sourceArtifactId": {},
                    "sourceRegion": {},
                    "destinationRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sourceInstanceId",
                    "sourceRegion",
                    "sourceArtifactId",
                    "destinationInstanceId",
                    "destinationRegion",
                    "destinationArtifactId",
                    "fileName",
                    "status"
                ],
                "members": {
                    "sourceInstanceId": {},
                    "sourceRegion": {},
                    "sourceArtifactId": {},
                    "destinationInstanceId": {},
                    "destinationRegion": {},
                    "destinationArtifactId": {},
                    "fileName": {},
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteArtifact": {
            "http": {
                "requestUri": "/deleteArtifact",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "artifactId"
                ],
                "members": {
                    "instanceId": {},
                    "artifactId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "artifactId",
                    "artifactName",
                    "artifactStatus",
                    "reasonForDeletion",
                    "creationDate",
                    "lastUpdateDate"
                ],
                "members": {
                    "artifactId": {},
                    "artifactName": {},
                    "artifactStatus": {},
                    "reasonForDeletion": {},
                    "creationDate": {
                        "type": "timestamp"
                    },
                    "lastUpdateDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteInstanceResources": {
            "http": {
                "requestUri": "/DeleteInstanceResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetDownloadingUrl": {
            "http": {
                "requestUri": "/getDownloadingUrl",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "artifactId"
                ],
                "members": {
                    "instanceId": {},
                    "artifactId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "url",
                    "artifactId"
                ],
                "members": {
                    "url": {
                        "type": "string",
                        "sensitive": true
                    },
                    "artifactId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetUploadingUrl": {
            "http": {
                "requestUri": "/getUploadingUrl",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "fileName",
                    "conditions"
                ],
                "members": {
                    "instanceId": {},
                    "groupId": {},
                    "fileName": {},
                    "conditions": {
                        "type": "structure",
                        "required": [
                            "contentLength",
                            "contentType"
                        ],
                        "members": {
                            "contentLength": {},
                            "contentType": {},
                            "expirationInSeconds": {}
                        }
                    },
                    "metadata": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "url",
                    "artifactId",
                    "conditions"
                ],
                "members": {
                    "url": {},
                    "artifactId": {},
                    "conditions": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListArtifactsMetadata": {
            "http": {
                "requestUri": "/listArtifactsMetadata",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "artifactId"
                ],
                "members": {
                    "instanceId": {},
                    "artifactId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "artifactsMetadata",
                    "instanceId"
                ],
                "members": {
                    "artifactsMetadata": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "artifactId",
                                "artifactStatus",
                                "creationDate",
                                "lastUpdateDate",
                                "fileName",
                                "contentLength",
                                "contentType"
                            ],
                            "members": {
                                "artifactId": {},
                                "artifactStatus": {},
                                "reasonForDeletion": {},
                                "creationDate": {
                                    "type": "timestamp"
                                },
                                "lastUpdateDate": {
                                    "type": "timestamp"
                                },
                                "fileName": {},
                                "contentLength": {},
                                "contentType": {},
                                "metadata": {}
                            }
                        }
                    },
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        }
    },
    "shapes": {}
}