{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-01-30",
        "endpointPrefix": "garsreplenishmentreviewservice",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "GarsReplenishmentReviewService",
        "serviceId": "GarsReplenishmentReview",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "garsreplenishmentreview-2023-01-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
        ]
    },
    "operations": {
        "CreateReplenishmentReviewInstanceConfig": {
            "http": {
                "requestUri": "/create-replenishment-review-instance-config",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "releaseCutOffDays"
                ],
                "members": {
                    "instanceId": {},
                    "releaseCutOffDays": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "replenishmentReviewInstanceConfig"
                ],
                "members": {
                    "replenishmentReviewInstanceConfig": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ExportArPlans": {
            "http": {
                "requestUri": "/export-ar-plans",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "replenishmentPlanOutputSelections",
                    "exportType"
                ],
                "members": {
                    "instanceId": {},
                    "replenishmentPlanOutputSelections": {
                        "shape": "S7"
                    },
                    "exportType": {},
                    "pipelineId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {},
                    "downloadUrl": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ExportBomPlans": {
            "http": {
                "requestUri": "/export-bom-plans",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "pipelineId"
                ],
                "members": {
                    "instanceId": {},
                    "pipelineId": {},
                    "supplyPlanningOutputSelections": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "succeeded"
                ],
                "members": {
                    "succeeded": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetBomPlanSummary": {
            "http": {
                "requestUri": "/get-bom-plan-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "pipelineId"
                ],
                "members": {
                    "instanceId": {},
                    "pipelineId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "planHorzion": {
                        "shape": "Sh"
                    },
                    "lastRuntime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetExceptionsSupplyInsightsStatistics": {
            "http": {
                "requestUri": "/get-exceptions-supply-insights-statistics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "supplyInsight"
                ],
                "members": {
                    "supplyInsight": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "numberOfRequests",
                                "value",
                                "exceptionType",
                                "rootCause"
                            ],
                            "members": {
                                "numberOfRequests": {
                                    "type": "integer"
                                },
                                "value": {
                                    "type": "float"
                                },
                                "exceptionType": {},
                                "rootCause": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetPlanToPOConversionAnalytics": {
            "http": {
                "requestUri": "/get-po-conversion-analytics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "numOfPendingPOConversion",
                    "valueOfPendingPOConversion",
                    "numOfConvertedPO",
                    "valueOfConvertedPO"
                ],
                "members": {
                    "numOfPendingPOConversion": {
                        "type": "integer"
                    },
                    "valueOfPendingPOConversion": {
                        "type": "float"
                    },
                    "numOfConvertedPO": {
                        "type": "integer"
                    },
                    "valueOfConvertedPO": {
                        "type": "float"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetPorSupplyInsightsStatistics": {
            "http": {
                "requestUri": "/get-por-supply-insights-statistics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "supplyInsight"
                ],
                "members": {
                    "supplyInsight": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "numberOfRequests",
                                "value",
                                "reviewByDate",
                                "daysRemaining",
                                "type"
                            ],
                            "members": {
                                "numberOfRequests": {
                                    "type": "integer"
                                },
                                "value": {
                                    "type": "float"
                                },
                                "reviewByDate": {},
                                "daysRemaining": {
                                    "type": "integer"
                                },
                                "type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetPurchasePlanStatistics": {
            "http": {
                "requestUri": "/get-purchase-plan-statistics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "purchasePlanStatistics"
                ],
                "members": {
                    "purchasePlanStatistics": {
                        "type": "structure",
                        "required": [
                            "numOfOrdersNeedsApproval",
                            "valueOfOrdersNeedsApproval",
                            "numOfOrdersScheduledForRelease",
                            "valueOfOrdersScheduledForRelease",
                            "totalNumOfOrders",
                            "totalValueOfOrders",
                            "lastExecutedTime"
                        ],
                        "members": {
                            "numOfOrdersNeedsApproval": {
                                "type": "integer"
                            },
                            "valueOfOrdersNeedsApproval": {
                                "type": "float"
                            },
                            "numOfOrdersScheduledForRelease": {
                                "type": "integer"
                            },
                            "valueOfOrdersScheduledForRelease": {
                                "type": "float"
                            },
                            "totalNumOfOrders": {
                                "type": "integer"
                            },
                            "totalValueOfOrders": {
                                "type": "float"
                            },
                            "lastExecutedTime": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "GetReplenishmentReviewInstanceConfig": {
            "http": {
                "requestUri": "/get-replenishment-review-instance-config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "replenishmentReviewInstanceConfig"
                ],
                "members": {
                    "replenishmentReviewInstanceConfig": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListBomInsights": {
            "http": {
                "requestUri": "/list-bom-insights",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "pipelineId",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {},
                    "pipelineId": {},
                    "keyword": {},
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "requiredDateRange": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "insights"
                ],
                "members": {
                    "insights": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "type",
                                "productId",
                                "siteId",
                                "numberOfItems"
                            ],
                            "members": {
                                "type": {},
                                "productName": {},
                                "productId": {},
                                "siteName": {},
                                "siteId": {},
                                "numberOfItems": {
                                    "type": "integer"
                                },
                                "purchasePlanChangeThreshold": {
                                    "type": "float"
                                },
                                "valueImpacted": {
                                    "type": "float"
                                },
                                "quantityImpacted": {
                                    "type": "float"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListBomProcesses": {
            "http": {
                "requestUri": "/list-bom-processes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "pipelineId",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {},
                    "pipelineId": {},
                    "keyword": {},
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "processes"
                ],
                "members": {
                    "processes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "processId"
                            ],
                            "members": {
                                "processId": {},
                                "processName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListBomProductionPlans": {
            "http": {
                "requestUri": "/list-bom-production-plans",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "pipelineId",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {},
                    "pipelineId": {},
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "queryInput": {
                        "type": "structure",
                        "members": {
                            "requiredDateRange": {
                                "shape": "Sh"
                            },
                            "companyIds": {
                                "shape": "S7"
                            },
                            "pipelineExecSeqIds": {
                                "shape": "S7"
                            },
                            "processIds": {
                                "shape": "S7"
                            },
                            "productGroupIds": {
                                "shape": "S7"
                            },
                            "productIds": {
                                "shape": "S7"
                            },
                            "siteIds": {
                                "shape": "S7"
                            },
                            "regionIds": {
                                "shape": "S7"
                            }
                        }
                    },
                    "sortInput": {
                        "shape": "S1d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "productionPlans"
                ],
                "members": {
                    "productionPlans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id"
                            ],
                            "members": {
                                "id": {},
                                "companyId": {},
                                "pipelineExecSeqId": {},
                                "productId": {},
                                "productName": {},
                                "requiredQuantity": {
                                    "type": "float"
                                },
                                "requiredDate": {},
                                "leadTimeInDays": {
                                    "type": "integer"
                                },
                                "processId": {},
                                "processName": {},
                                "siteId": {},
                                "siteName": {},
                                "value": {
                                    "type": "float"
                                },
                                "currency": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListBomPurchasePlans": {
            "http": {
                "requestUri": "/list-bom-purchase-plans",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "pipelineId",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {},
                    "pipelineId": {},
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "queryInput": {
                        "type": "structure",
                        "members": {
                            "requiredDateRange": {
                                "shape": "Sh"
                            },
                            "companyIds": {
                                "shape": "S7"
                            },
                            "pipelineExecSeqIds": {
                                "shape": "S7"
                            },
                            "productGroupIds": {
                                "shape": "S7"
                            },
                            "productIds": {
                                "shape": "S7"
                            },
                            "siteIds": {
                                "shape": "S7"
                            },
                            "regionIds": {
                                "shape": "S7"
                            },
                            "vendorIds": {
                                "shape": "S7"
                            },
                            "status": {
                                "shape": "S7"
                            }
                        }
                    },
                    "sortInput": {
                        "shape": "S1d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "purchasePlans"
                ],
                "members": {
                    "purchasePlans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id"
                            ],
                            "members": {
                                "id": {},
                                "companyId": {},
                                "pipelineExecSeqId": {},
                                "productId": {},
                                "productName": {},
                                "requiredDate": {},
                                "leadTimeInDays": {
                                    "type": "integer"
                                },
                                "requiredQuantity": {
                                    "type": "float"
                                },
                                "requiredQuantityPercentageChange": {
                                    "type": "float"
                                },
                                "status": {
                                    "shape": "S7"
                                },
                                "vendorId": {},
                                "vendorName": {},
                                "siteId": {},
                                "siteName": {},
                                "value": {
                                    "type": "float"
                                },
                                "currency": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListBomTransferPlans": {
            "http": {
                "requestUri": "/list-bom-transfer-plans",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "pipelineId",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {},
                    "pipelineId": {},
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "queryInput": {
                        "type": "structure",
                        "members": {
                            "requiredDateRange": {
                                "shape": "Sh"
                            },
                            "companyIds": {
                                "shape": "S7"
                            },
                            "pipelineExecSeqIds": {
                                "shape": "S7"
                            },
                            "productGroupIds": {
                                "shape": "S7"
                            },
                            "productIds": {
                                "shape": "S7"
                            },
                            "siteIds": {
                                "shape": "S7"
                            },
                            "regionIds": {
                                "shape": "S7"
                            },
                            "fromSiteIds": {
                                "shape": "S7"
                            }
                        }
                    },
                    "sortInput": {
                        "shape": "S1d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transferPlans"
                ],
                "members": {
                    "transferPlans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id"
                            ],
                            "members": {
                                "id": {},
                                "companyId": {},
                                "pipelineExecSeqId": {},
                                "productId": {},
                                "productName": {},
                                "requiredQuantity": {
                                    "type": "float"
                                },
                                "requiredDate": {},
                                "leadTimeInDays": {
                                    "type": "integer"
                                },
                                "fromSiteId": {},
                                "fromSiteName": {},
                                "toSiteId": {},
                                "toSiteName": {},
                                "value": {
                                    "type": "float"
                                },
                                "currency": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListPlanExceptions": {
            "http": {
                "requestUri": "/list-plan-exceptions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {},
                    "pipelineId": {},
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "queryInput": {
                        "type": "structure",
                        "members": {
                            "productIds": {
                                "shape": "S7"
                            },
                            "siteIds": {
                                "shape": "S7"
                            },
                            "vendorIds": {
                                "shape": "S7"
                            },
                            "impactValueMin": {
                                "type": "float"
                            },
                            "impactValueMax": {
                                "type": "float"
                            }
                        }
                    },
                    "sortInput": {
                        "type": "structure",
                        "members": {
                            "sortBy": {},
                            "sortAsc": {
                                "type": "boolean"
                            }
                        }
                    },
                    "exceptionRootCauseInput": {
                        "type": "structure",
                        "members": {
                            "rootCause": {
                                "shape": "S7"
                            }
                        }
                    },
                    "exceptionTypeAndRootCauseInputs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "exceptionType": {},
                                "rootCauses": {
                                    "shape": "S7"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "planExceptions"
                ],
                "members": {
                    "planExceptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id"
                            ],
                            "members": {
                                "id": {},
                                "productId": {},
                                "productName": {},
                                "siteId": {},
                                "siteName": {},
                                "impactValue": {
                                    "type": "float"
                                },
                                "currency": {},
                                "exceptionType": {},
                                "rootCause": {},
                                "creationDate": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListPurchaseOrderRequestLines": {
            "http": {
                "requestUri": "/list-purchase-order-request-lines",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {},
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "queryInput": {
                        "type": "structure",
                        "members": {
                            "valueSegment": {},
                            "velocitySegment": {},
                            "variabilitySegment": {},
                            "companyIds": {
                                "shape": "S7"
                            },
                            "pipelineExecSeqIds": {
                                "shape": "S7"
                            },
                            "productIds": {
                                "shape": "S7"
                            },
                            "siteIds": {
                                "shape": "S7"
                            },
                            "vendorIds": {
                                "shape": "S7"
                            },
                            "orderValueMin": {
                                "type": "float"
                            },
                            "orderValueMax": {
                                "type": "float"
                            },
                            "orderQuantityMin": {
                                "type": "float"
                            },
                            "orderQuantityMax": {
                                "type": "float"
                            },
                            "requestedDeliveryStartDate": {},
                            "requestedDeliveryEndDate": {}
                        }
                    },
                    "sortInput": {
                        "type": "structure",
                        "members": {
                            "sortBy": {},
                            "sortAsc": {
                                "type": "boolean"
                            }
                        }
                    },
                    "statusAndReleaseTimeInput": {
                        "type": "structure",
                        "members": {
                            "status": {
                                "type": "list",
                                "member": {}
                            },
                            "releaseTime": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "purchaseOrderRequestLines"
                ],
                "members": {
                    "purchaseOrderRequestLines": {
                        "shape": "S29"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "ListReplenishmentVendors": {
            "http": {
                "requestUri": "/list-replenishment-vendors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "maxResults"
                ],
                "members": {
                    "instanceId": {},
                    "pipelineId": {},
                    "keyword": {},
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vendors"
                ],
                "members": {
                    "vendors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "vendorId"
                            ],
                            "members": {
                                "vendorId": {},
                                "vendorName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "UpdatePurchaseOrderRequestLines": {
            "http": {
                "requestUri": "/update-purchase-order-request-lines",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "mutationEntries"
                ],
                "members": {
                    "instanceId": {},
                    "mutationEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id"
                            ],
                            "members": {
                                "id": {},
                                "quantity_override": {
                                    "type": "float"
                                },
                                "status": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "updatedPurchaseOrderRequestLines"
                ],
                "members": {
                    "updatedPurchaseOrderRequestLines": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        },
        "UpdateReplenishmentReviewInstanceConfig": {
            "http": {
                "requestUri": "/update-replenishment-review-instance-config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "releaseCutOffDays"
                ],
                "members": {
                    "instanceId": {},
                    "releaseCutOffDays": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "replenishmentReviewInstanceConfig"
                ],
                "members": {
                    "replenishmentReviewInstanceConfig": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "instanceId",
                "releaseCutOffDays"
            ],
            "members": {
                "instanceId": {},
                "releaseCutOffDays": {
                    "type": "integer"
                }
            }
        },
        "S7": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "structure",
            "members": {
                "startTime": {},
                "endTime": {}
            }
        },
        "S1d": {
            "type": "structure",
            "members": {
                "sortBy": {},
                "sortAsc": {
                    "type": "boolean"
                }
            }
        },
        "S29": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "companyId": {},
                    "pipelineExecSeqId": {},
                    "productId": {},
                    "productName": {},
                    "productCategoryId": {},
                    "productCategoryName": {},
                    "siteId": {},
                    "siteName": {},
                    "vendorId": {},
                    "vendorName": {},
                    "orderQuantity": {
                        "type": "float"
                    },
                    "orderValue": {
                        "type": "float"
                    },
                    "orderByDate": {},
                    "status": {},
                    "creationDate": {},
                    "reviewByDate": {},
                    "daysRemainingForReviewDate": {
                        "type": "integer"
                    },
                    "expectedDeliveryDate": {},
                    "leadTimeInDays": {
                        "type": "integer"
                    },
                    "orderQuantityChangePercentage": {
                        "type": "float"
                    },
                    "lastCycleQuantityChangePercentage": {
                        "type": "float"
                    },
                    "needApprovalReason": {},
                    "thresholdOfNeedApproval": {
                        "type": "float"
                    },
                    "currency": {}
                }
            }
        }
    }
}