{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "execute-api",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Configuration Service Get Configuration API",
        "serviceId": "GetConfigurationLambda",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "getconfigurationlambda-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/M7L2XT252WCXUISF44HU2FBZSL62BUF4DBCPQCXWCNHNAK4BXMOA/chunk6737.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTKHBIDGZQU2HITWD24CJFIRTJN6LKX75BM3SOWDDHSFTMLKFYYQ/chunk6737.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMGAVDO654QASEQ5TYLVDG3SRQPIBW3QZU5K3W6VVZXVTWH7NKPA/chunk6737.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GURTUQ45Q5XTC7PQSPMVZYON6XKFDUT7JI7ZFRIFVD6XSWR32PJQ/chunk9522.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZUL4ONJALTGJF4GUXGSUOB2IBEPELDCQ7TYB4FGPYAUIDBUVZTQ/chunk8728.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOGHTMDMKKYYSJ6TD6ERDITCDKW2TNGRNBGZOEKRM4TYZ4PYBHYQ/chunk9000.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUW7X4DKGOY6H72LXB6W5WMNKQMKRJQYM3FIJ2FZ7WZODKNEILZQ/chunk5833.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP3CE5ASJT2GFAMGSE5VCZLTAME5VRCRMFNPIQKXRM7Y2EYHYOYQ/chunk9000.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSOGOEGBHHDHKNXTM2J6KRBZAVNJREGMNT2UKLQH7BCKS7CN32PQ/chunk50.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MCPIUOVGLNS75QQTTICJXGTB6ZULOJ7FETS2KHJQ5Z523CCINBOQ/chunk50.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53U7ERB52K6GUVTJ6V5ZUO6MZN52EBEEA6O4ZWWZU64O6J56NJGQ/chunk2660.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PPZY7BCFVUOZCPEFRJRA22357E5F5JIM4AAFRTHBG74ZQFFFBPRA/chunk2660.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RABPTV4LR3EMRHMAZS6M35D3ZWX77Z6R6AELTMGW45M5BLSW6S4Q/chunk2660.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYHDAIKNFRM5E6PX4CXUKQA2XPAYWB4UF65EQ3KKZPWNBOR2KZA/chunk2660.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TL2D6A5QAIWLRYKVZO5PEYWABEVWSHBJPZZYX3EJGVIFI45F65Q/chunk2660.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7SE3JNHQHGL4E6MMPX7MMXX3TLOIEZZBD6DNHX7FBS4TYW3NKKGQ/chunk2660.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTKK6N2TTVXDBDNMVCQFWYWN62GBA4N5HXQAGQQL2AWQDXXBSELA/chunk4029.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IWDZEHNRIYM3O7LP7KOMLYVXZWHEYM37GQQJ4BQF2VJ23NE3XOMQ/chunk7026.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EOVT2WU26UU64VUJWVQCZQM43SXHGBURBQVUX6SFTBEG6N5H5HVA/chunk9102.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K2E3HTLIMZG7VR6A77ZEOJD42WUI3SOLCTC7S5ZFQJW76NHGHKJQ/chunk9102.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDHPECRXY3YG5SI2FF3MAWPIMXB7UL5T7I4NH4G3CIV7AXI5JK5Q/chunk930.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRIXRXX2J7W5MW2OBLYHIDLRCV2WKVHOUZKOPHM63O2ATVTCK7GA/chunk930.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BQCMLIV2SQCSZ3R6SAMWNXRLJPMYWQ6DBCD6XARZ24WNCYERA7RQ/chunk930.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDQUUM5Y5JNIHQR7JLX4CI3B23S4EHBPMSBRMI4LKWIJXANEQN6A/chunk2613.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MNDBX5D4R4Q6SYQC3SE7MARJB3RCQITQDIGXHQIY73YRCPIBK5VA/chunk2613.js"
        ]
    },
    "operations": {
        "GetConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/getConfigurations/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId"
                ],
                "members": {
                    "applicationId": {
                        "location": "querystring",
                        "locationName": "applicationId"
                    },
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Configurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "ConfigurationData": {
                                    "jsonvalue": true
                                },
                                "ConfigurationDescription": {},
                                "ConfigurationName": {},
                                "EnvName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7L2XT252WCXUISF44HU2FBZSL62BUF4DBCPQCXWCNHNAK4BXMOA/chunk6737.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTKHBIDGZQU2HITWD24CJFIRTJN6LKX75BM3SOWDDHSFTMLKFYYQ/chunk6737.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMGAVDO654QASEQ5TYLVDG3SRQPIBW3QZU5K3W6VVZXVTWH7NKPA/chunk6737.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GURTUQ45Q5XTC7PQSPMVZYON6XKFDUT7JI7ZFRIFVD6XSWR32PJQ/chunk9522.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZUL4ONJALTGJF4GUXGSUOB2IBEPELDCQ7TYB4FGPYAUIDBUVZTQ/chunk8728.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOGHTMDMKKYYSJ6TD6ERDITCDKW2TNGRNBGZOEKRM4TYZ4PYBHYQ/chunk9000.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUW7X4DKGOY6H72LXB6W5WMNKQMKRJQYM3FIJ2FZ7WZODKNEILZQ/chunk5833.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP3CE5ASJT2GFAMGSE5VCZLTAME5VRCRMFNPIQKXRM7Y2EYHYOYQ/chunk9000.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSOGOEGBHHDHKNXTM2J6KRBZAVNJREGMNT2UKLQH7BCKS7CN32PQ/chunk50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCPIUOVGLNS75QQTTICJXGTB6ZULOJ7FETS2KHJQ5Z523CCINBOQ/chunk50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53U7ERB52K6GUVTJ6V5ZUO6MZN52EBEEA6O4ZWWZU64O6J56NJGQ/chunk2660.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPZY7BCFVUOZCPEFRJRA22357E5F5JIM4AAFRTHBG74ZQFFFBPRA/chunk2660.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RABPTV4LR3EMRHMAZS6M35D3ZWX77Z6R6AELTMGW45M5BLSW6S4Q/chunk2660.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYHDAIKNFRM5E6PX4CXUKQA2XPAYWB4UF65EQ3KKZPWNBOR2KZA/chunk2660.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TL2D6A5QAIWLRYKVZO5PEYWABEVWSHBJPZZYX3EJGVIFI45F65Q/chunk2660.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SE3JNHQHGL4E6MMPX7MMXX3TLOIEZZBD6DNHX7FBS4TYW3NKKGQ/chunk2660.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKK6N2TTVXDBDNMVCQFWYWN62GBA4N5HXQAGQQL2AWQDXXBSELA/chunk4029.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWDZEHNRIYM3O7LP7KOMLYVXZWHEYM37GQQJ4BQF2VJ23NE3XOMQ/chunk7026.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOVT2WU26UU64VUJWVQCZQM43SXHGBURBQVUX6SFTBEG6N5H5HVA/chunk9102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2E3HTLIMZG7VR6A77ZEOJD42WUI3SOLCTC7S5ZFQJW76NHGHKJQ/chunk9102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDHPECRXY3YG5SI2FF3MAWPIMXB7UL5T7I4NH4G3CIV7AXI5JK5Q/chunk930.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRIXRXX2J7W5MW2OBLYHIDLRCV2WKVHOUZKOPHM63O2ATVTCK7GA/chunk930.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQCMLIV2SQCSZ3R6SAMWNXRLJPMYWQ6DBCD6XARZ24WNCYERA7RQ/chunk930.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQUUM5Y5JNIHQR7JLX4CI3B23S4EHBPMSBRMI4LKWIJXANEQN6A/chunk2613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDBX5D4R4Q6SYQC3SE7MARJB3RCQITQDIGXHQIY73YRCPIBK5VA/chunk2613.js"
            ]
        }
    },
    "shapes": {}
}