{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "execute-api",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Configuration Service Get Configuration API",
        "serviceId": "GetConfigurationLambda",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "getconfigurationlambda-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IHPDMEZXQTBAZK7RQLIMCZRIR45Z3UQCZ5BS56CGI73VI43YL2YA/chunk3758.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7U3SPXIALKVYWC255EM3AMEO25TLBMP35CQEBIHU6K6F6GNAMAA/chunk9266.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5NXXPHWAPEFBGU746SXH3RJVJH5UWGK5MEFO6Q2YVHYNJUJO6A/chunk9266.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EUVBFGVO77U6BO4M2WFITUXBDQC6PTLZTYYSPKMKBUUEDDHAECA/chunk8685.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NM4EWPXC3GUEC6ADZUAWSV3WAXRPW7DJXSDVXUQJFOOSRITVOKZQ/chunk8685.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PHEWDIN3EVF4XSMGUDB6ZBJ2KQQ5SHXWNYOHHQWRDLBYIHV2TTQ/chunk8607.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWRBVHU3YEIL6Q62TTGPOVINKR7KOWTYX36GJ5EDGCNCSFSOVOGA/chunk8607.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVDYMV3HZXIQK4OLFG4EMLST6MVP22HLHYPA7OKU3IJ3EEF25VWQ/chunk3217.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N6DVL6S7HREDO3OPDD6L7RFFPPZ5JC4HBJWEN4N5MIMLBL2ZFQXQ/chunk4419.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPBJ6HNBBBHKX6ZOKTDGPSEZAILHAGPCNLYAMGNJWW6HQFO55QEA/chunk4419.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMB7ZRVSZ3WPH46BCRTHDPOGQYUCOLC7VPYDROPLAFLLUN5ZWOHA/chunk4419.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QHGLCYWLF6LJAPVSNAAWLFFL7PV4KZ365U4MHXW7SUV4TQU7ZTIA/chunk4419.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V5C6T76U2HGML7IBFXMHQ5M2U3FHL64PZVCYWFVDWCK76YSDWEHQ/chunk4419.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNAU4YNDXM7AXHK42RLLNHAJHCNWJP6ULU256ANAQLAIWLFRU6WA/chunk496.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DCRFOPZKHDGRWXUFR5G6RJOIJIXCPNTK23Y6AUTPMCJU4GDTNVLA/chunk496.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OEIXYAVYXRI26CPDRRIOOBB5PCGIQCSBPJDLM47WCZYKP5GE3H3A/chunk496.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XX5CGS7BKVO4PP3XZSVCCZSWTAFAMF377XYKNKCNCZYQAHCV3PNQ/chunk496.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLWUH6YGV66INW3N2KUPSTYOXLDFPWRLTRQ5XQMN5P3SBZPEFQJA/chunk496.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FFDJCJHZ2EDJ534QZZUQXR6NRQRJVU5WN2RNV5DOSH5G43XZPKNA/chunk7798.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JC27BBAAG2PVAHJF7T7HXG5WMU33XDUTK7PXIXCQKFEK3TZVI3TQ/chunk7798.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ2Z4VZU54LVZFRI5RG6YS45AAYFCOYMEYF63OTKDVQLIXU2T6DA/chunk7798.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJFJHFCDBYPL6BK6ZDYELLTEGKEHGLA6RQJUYCMALYSSUWH33ZFQ/chunk7798.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NURPMFAI4GV55GEQ4JHHXHEWSIGD45LD4DE73GKDEHYGJOLY5WTA/chunk7798.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKKOYPUTGIDGPQJUTCO4MH5UFYRDP3YYHIX2VY4WZUMP5YKUPLNQ/chunk7798.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F7M3UCULOZAT7IT5ZJ6T2CWTHFHT352HTFFUU7QD34RMAMGR3KQA/chunk7798.js"
        ]
    },
    "operations": {
        "GetConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/getConfigurations/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId"
                ],
                "members": {
                    "applicationId": {
                        "location": "querystring",
                        "locationName": "applicationId"
                    },
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Configurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "ConfigurationData": {
                                    "jsonvalue": true
                                },
                                "ConfigurationDescription": {},
                                "ConfigurationName": {},
                                "EnvName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7U3SPXIALKVYWC255EM3AMEO25TLBMP35CQEBIHU6K6F6GNAMAA/chunk9266.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5NXXPHWAPEFBGU746SXH3RJVJH5UWGK5MEFO6Q2YVHYNJUJO6A/chunk9266.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EUVBFGVO77U6BO4M2WFITUXBDQC6PTLZTYYSPKMKBUUEDDHAECA/chunk8685.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM4EWPXC3GUEC6ADZUAWSV3WAXRPW7DJXSDVXUQJFOOSRITVOKZQ/chunk8685.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PHEWDIN3EVF4XSMGUDB6ZBJ2KQQ5SHXWNYOHHQWRDLBYIHV2TTQ/chunk8607.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWRBVHU3YEIL6Q62TTGPOVINKR7KOWTYX36GJ5EDGCNCSFSOVOGA/chunk8607.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDYMV3HZXIQK4OLFG4EMLST6MVP22HLHYPA7OKU3IJ3EEF25VWQ/chunk3217.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6DVL6S7HREDO3OPDD6L7RFFPPZ5JC4HBJWEN4N5MIMLBL2ZFQXQ/chunk4419.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPBJ6HNBBBHKX6ZOKTDGPSEZAILHAGPCNLYAMGNJWW6HQFO55QEA/chunk4419.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMB7ZRVSZ3WPH46BCRTHDPOGQYUCOLC7VPYDROPLAFLLUN5ZWOHA/chunk4419.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGLCYWLF6LJAPVSNAAWLFFL7PV4KZ365U4MHXW7SUV4TQU7ZTIA/chunk4419.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5C6T76U2HGML7IBFXMHQ5M2U3FHL64PZVCYWFVDWCK76YSDWEHQ/chunk4419.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNAU4YNDXM7AXHK42RLLNHAJHCNWJP6ULU256ANAQLAIWLFRU6WA/chunk496.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCRFOPZKHDGRWXUFR5G6RJOIJIXCPNTK23Y6AUTPMCJU4GDTNVLA/chunk496.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEIXYAVYXRI26CPDRRIOOBB5PCGIQCSBPJDLM47WCZYKP5GE3H3A/chunk496.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XX5CGS7BKVO4PP3XZSVCCZSWTAFAMF377XYKNKCNCZYQAHCV3PNQ/chunk496.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLWUH6YGV66INW3N2KUPSTYOXLDFPWRLTRQ5XQMN5P3SBZPEFQJA/chunk496.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFDJCJHZ2EDJ534QZZUQXR6NRQRJVU5WN2RNV5DOSH5G43XZPKNA/chunk7798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JC27BBAAG2PVAHJF7T7HXG5WMU33XDUTK7PXIXCQKFEK3TZVI3TQ/chunk7798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ2Z4VZU54LVZFRI5RG6YS45AAYFCOYMEYF63OTKDVQLIXU2T6DA/chunk7798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJFJHFCDBYPL6BK6ZDYELLTEGKEHGLA6RQJUYCMALYSSUWH33ZFQ/chunk7798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NURPMFAI4GV55GEQ4JHHXHEWSIGD45LD4DE73GKDEHYGJOLY5WTA/chunk7798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKKOYPUTGIDGPQJUTCO4MH5UFYRDP3YYHIX2VY4WZUMP5YKUPLNQ/chunk7798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7M3UCULOZAT7IT5ZJ6T2CWTHFHT352HTFFUU7QD34RMAMGR3KQA/chunk7798.js"
            ]
        }
    },
    "shapes": {}
}