{
    "version": "2.0",
    "metadata": {
        "apiVersion": "1986-04-08",
        "endpointPrefix": "giraffe",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Giraffe Internal Service",
        "serviceId": "Giraffe",
        "signatureVersion": "v4",
        "targetPrefix": "GiraffeService",
        "uid": "giraffe-1986-04-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
        ]
    },
    "operations": {
        "AddMembersToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId",
                    "groupId",
                    "memberIds"
                ],
                "members": {
                    "organizationId": {},
                    "groupId": {},
                    "memberIds": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "succeeded": {
                        "shape": "S7"
                    },
                    "failed": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KC5LGAYXE7455WT544K5UODWJUGVVFXGXTW7TMD6OPXN5ETKB3NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSLYSWKYZNU25CD7RASLMSY3HFHGGYBGDUCD3GH2EOZKX4YMLIJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V436P6T72XFY54ZX6EM7H4JLMTCWYXYR76ARQ2ASYTELRNWCDHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERBFOJ2J456MWB3DLQRALQG224TKUKZ6PT7HCOPCN745VCC22KSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SRDKXJILK5CV6CSDNWY2CVEEYHKFTGBC3MH5VNRLGDE765HQK4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBLCZOUC4GLGGD36BJJZBQXKELHY3YC7WSHVXTBS4GK6EELAHV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOQJNXU6N322QF3PGVFTSXJVIYF3ASJ32EOHVPVVEXSMMNPAY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGUPYACDXN5MNQZGCHRQY4KPS7U2SBLALC6EMJOR66BCNAGR3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKT3W35N3PK2OOQ7AEYQZZ7CEX42BVFB535JXXFBEBXQJRJT7IEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KLP4MWWYXTZG5KZPFRYZDJFJP6C6AG3U4IDAUKYLUC7V2JOXTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYTIW4Z5LXXB6RS2A5AMVAPUQIDBIGB23GRTEFX7RWPXF67DXOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U44PXJOJSQLG32RLLDJI7CI7AXV3JLTMHA3PX5YQ5HA4E35LQF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHONCKGPOIWX57S6D763TD5Y3GOPQOV5QZLWUYVNVZXZYN7QWODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js"
            ]
        },
        "CheckAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "alias"
                ],
                "members": {
                    "alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "available": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "ConfirmMobileProvisioning": {
            "input": {
                "type": "structure",
                "required": [
                    "domainName",
                    "userName",
                    "mobileDeviceId",
                    "globalPolicyKey"
                ],
                "members": {
                    "domainName": {},
                    "userName": {},
                    "mobileDeviceId": {},
                    "globalPolicyKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "mobilePolicyKey"
                ],
                "members": {
                    "mobilePolicyKey": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "ConfirmWipeMobileDevice": {
            "input": {
                "type": "structure",
                "required": [
                    "domainName",
                    "userName",
                    "mobileDeviceId"
                ],
                "members": {
                    "domainName": {},
                    "userName": {},
                    "mobileDeviceId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "CreateComplimentaryMailDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "EncryptedCredentials"
                ],
                "members": {
                    "OrganizationId": {},
                    "EncryptedCredentials": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "CreateDefaultMobilePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId"
                ],
                "members": {
                    "OrganizationId": {},
                    "EncryptedCredentials": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "CreateDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "EncryptedCredentials"
                ],
                "members": {
                    "OrganizationId": {},
                    "EncryptedCredentials": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId",
                    "groupName"
                ],
                "members": {
                    "organizationId": {},
                    "groupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "groupId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KC5LGAYXE7455WT544K5UODWJUGVVFXGXTW7TMD6OPXN5ETKB3NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSLYSWKYZNU25CD7RASLMSY3HFHGGYBGDUCD3GH2EOZKX4YMLIJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V436P6T72XFY54ZX6EM7H4JLMTCWYXYR76ARQ2ASYTELRNWCDHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERBFOJ2J456MWB3DLQRALQG224TKUKZ6PT7HCOPCN745VCC22KSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SRDKXJILK5CV6CSDNWY2CVEEYHKFTGBC3MH5VNRLGDE765HQK4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBLCZOUC4GLGGD36BJJZBQXKELHY3YC7WSHVXTBS4GK6EELAHV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOQJNXU6N322QF3PGVFTSXJVIYF3ASJ32EOHVPVVEXSMMNPAY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGUPYACDXN5MNQZGCHRQY4KPS7U2SBLALC6EMJOR66BCNAGR3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKT3W35N3PK2OOQ7AEYQZZ7CEX42BVFB535JXXFBEBXQJRJT7IEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KLP4MWWYXTZG5KZPFRYZDJFJP6C6AG3U4IDAUKYLUC7V2JOXTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYTIW4Z5LXXB6RS2A5AMVAPUQIDBIGB23GRTEFX7RWPXF67DXOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U44PXJOJSQLG32RLLDJI7CI7AXV3JLTMHA3PX5YQ5HA4E35LQF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHONCKGPOIWX57S6D763TD5Y3GOPQOV5QZLWUYVNVZXZYN7QWODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js"
            ]
        },
        "CreateMailDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId",
                    "domainName"
                ],
                "members": {
                    "organizationId": {},
                    "domainName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "CreateMailUser": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId",
                    "username",
                    "password",
                    "displayName"
                ],
                "members": {
                    "organizationId": {},
                    "emailAddress": {},
                    "username": {},
                    "password": {
                        "shape": "S12"
                    },
                    "firstName": {},
                    "lastName": {},
                    "displayName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "organizationId",
                    "userId"
                ],
                "members": {
                    "organizationId": {},
                    "userId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KC5LGAYXE7455WT544K5UODWJUGVVFXGXTW7TMD6OPXN5ETKB3NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSLYSWKYZNU25CD7RASLMSY3HFHGGYBGDUCD3GH2EOZKX4YMLIJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V436P6T72XFY54ZX6EM7H4JLMTCWYXYR76ARQ2ASYTELRNWCDHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERBFOJ2J456MWB3DLQRALQG224TKUKZ6PT7HCOPCN745VCC22KSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SRDKXJILK5CV6CSDNWY2CVEEYHKFTGBC3MH5VNRLGDE765HQK4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBLCZOUC4GLGGD36BJJZBQXKELHY3YC7WSHVXTBS4GK6EELAHV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOQJNXU6N322QF3PGVFTSXJVIYF3ASJ32EOHVPVVEXSMMNPAY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGUPYACDXN5MNQZGCHRQY4KPS7U2SBLALC6EMJOR66BCNAGR3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKT3W35N3PK2OOQ7AEYQZZ7CEX42BVFB535JXXFBEBXQJRJT7IEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KLP4MWWYXTZG5KZPFRYZDJFJP6C6AG3U4IDAUKYLUC7V2JOXTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYTIW4Z5LXXB6RS2A5AMVAPUQIDBIGB23GRTEFX7RWPXF67DXOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U44PXJOJSQLG32RLLDJI7CI7AXV3JLTMHA3PX5YQ5HA4E35LQF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHONCKGPOIWX57S6D763TD5Y3GOPQOV5QZLWUYVNVZXZYN7QWODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js"
            ]
        },
        "CreateOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Domains": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DomainName"
                            ],
                            "members": {
                                "DomainName": {},
                                "HostedZoneId": {}
                            }
                        }
                    },
                    "KmsKeyArn": {},
                    "EnableInteroperability": {
                        "type": "boolean"
                    },
                    "ForceResetDirectorySfn": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "CreateResource": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId",
                    "resourceName",
                    "resourceRoleType",
                    "email"
                ],
                "members": {
                    "organizationId": {},
                    "resourceName": {},
                    "resourceDescription": {},
                    "resourceRoleType": {},
                    "email": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceId"
                ],
                "members": {
                    "resourceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KC5LGAYXE7455WT544K5UODWJUGVVFXGXTW7TMD6OPXN5ETKB3NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSLYSWKYZNU25CD7RASLMSY3HFHGGYBGDUCD3GH2EOZKX4YMLIJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V436P6T72XFY54ZX6EM7H4JLMTCWYXYR76ARQ2ASYTELRNWCDHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERBFOJ2J456MWB3DLQRALQG224TKUKZ6PT7HCOPCN745VCC22KSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SRDKXJILK5CV6CSDNWY2CVEEYHKFTGBC3MH5VNRLGDE765HQK4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBLCZOUC4GLGGD36BJJZBQXKELHY3YC7WSHVXTBS4GK6EELAHV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOQJNXU6N322QF3PGVFTSXJVIYF3ASJ32EOHVPVVEXSMMNPAY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGUPYACDXN5MNQZGCHRQY4KPS7U2SBLALC6EMJOR66BCNAGR3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKT3W35N3PK2OOQ7AEYQZZ7CEX42BVFB535JXXFBEBXQJRJT7IEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KLP4MWWYXTZG5KZPFRYZDJFJP6C6AG3U4IDAUKYLUC7V2JOXTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYTIW4Z5LXXB6RS2A5AMVAPUQIDBIGB23GRTEFX7RWPXF67DXOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U44PXJOJSQLG32RLLDJI7CI7AXV3JLTMHA3PX5YQ5HA4E35LQF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHONCKGPOIWX57S6D763TD5Y3GOPQOV5QZLWUYVNVZXZYN7QWODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js"
            ]
        },
        "CreateUserWithId": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId",
                    "userId",
                    "userName",
                    "password"
                ],
                "members": {
                    "organizationId": {},
                    "userId": {},
                    "userName": {},
                    "password": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userARN": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DeleteDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "EncryptedCredentials"
                ],
                "members": {
                    "OrganizationId": {},
                    "DirectoryId": {},
                    "EncryptedCredentials": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DeleteMailDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId",
                    "domainName"
                ],
                "members": {
                    "organizationId": {},
                    "domainName": {},
                    "EncryptedCredentials": {
                        "shape": "Sn"
                    },
                    "ForceDelete": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DeleteMigrationAdministrator": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId"
                ],
                "members": {
                    "organizationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DeleteMobileDevice": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId",
                    "mobileDeviceId",
                    "email"
                ],
                "members": {
                    "organizationId": {},
                    "userId": {},
                    "mobileDeviceId": {},
                    "email": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DeleteOrganizationDefaults": {
            "input": {
                "type": "structure",
                "members": {
                    "OrganizationId": {},
                    "EncryptedCredentials": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedTasks": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DeleteResources": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId",
                    "resourceIds"
                ],
                "members": {
                    "organizationId": {},
                    "resourceIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "succeeded",
                    "failed"
                ],
                "members": {
                    "succeeded": {
                        "type": "list",
                        "member": {}
                    },
                    "failed": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KC5LGAYXE7455WT544K5UODWJUGVVFXGXTW7TMD6OPXN5ETKB3NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSLYSWKYZNU25CD7RASLMSY3HFHGGYBGDUCD3GH2EOZKX4YMLIJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V436P6T72XFY54ZX6EM7H4JLMTCWYXYR76ARQ2ASYTELRNWCDHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERBFOJ2J456MWB3DLQRALQG224TKUKZ6PT7HCOPCN745VCC22KSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SRDKXJILK5CV6CSDNWY2CVEEYHKFTGBC3MH5VNRLGDE765HQK4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBLCZOUC4GLGGD36BJJZBQXKELHY3YC7WSHVXTBS4GK6EELAHV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOQJNXU6N322QF3PGVFTSXJVIYF3ASJ32EOHVPVVEXSMMNPAY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGUPYACDXN5MNQZGCHRQY4KPS7U2SBLALC6EMJOR66BCNAGR3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKT3W35N3PK2OOQ7AEYQZZ7CEX42BVFB535JXXFBEBXQJRJT7IEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KLP4MWWYXTZG5KZPFRYZDJFJP6C6AG3U4IDAUKYLUC7V2JOXTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYTIW4Z5LXXB6RS2A5AMVAPUQIDBIGB23GRTEFX7RWPXF67DXOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U44PXJOJSQLG32RLLDJI7CI7AXV3JLTMHA3PX5YQ5HA4E35LQF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHONCKGPOIWX57S6D763TD5Y3GOPQOV5QZLWUYVNVZXZYN7QWODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js"
            ]
        },
        "DescribeDirectories": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryIds"
                ],
                "members": {
                    "directoryIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "directoryId": {},
                                "name": {},
                                "alias": {},
                                "type": {},
                                "stage": {},
                                "launchTime": {
                                    "type": "timestamp"
                                },
                                "mode": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU6R7DMYECO5FCCV6OKHNLZG4MW5YJ5G4II7NWK3VCMOZTRXWCMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7UXAAYXZIGTR727MYGXSLYATV3EBSFLCEXMGJ6EVKNO37GMMENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJS3EPLNXS6PQ3U7XMGCHPYKBDS6374PPNBVL4XMGACX6BCITAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HDAJH3YUFO35RBUQ3G7MZPUCSPZIDEEXZTXWR4C5NEJMDB3BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7WVMZUWRDGBT2XLBZICEFEUUUZZ6AOXWHKEAIFSEQH3LHTAQQ/vendors.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId"
                ],
                "members": {
                    "organizationId": {},
                    "page": {
                        "shape": "S28"
                    },
                    "filters": {
                        "shape": "S2b"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "groups": {
                        "shape": "S2f"
                    },
                    "countTotal": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DescribeMailDomains": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId"
                ],
                "members": {
                    "organizationId": {},
                    "domainNames": {
                        "shape": "S2j"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "organizationId": {},
                    "mailDomains": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "domainName": {},
                                "isComplementary": {
                                    "type": "boolean"
                                },
                                "isDefault": {
                                    "type": "boolean"
                                },
                                "verificationStatus": {},
                                "verificationToken": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DescribeOrganizations": {
            "input": {
                "type": "structure",
                "members": {
                    "organizationIds": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "organizations"
                ],
                "members": {
                    "organizations": {
                        "shape": "S2r"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNFLOIBFMVAH2HHLVNWFNF24XNKAT4C5SIYJEKHJNK3GADUPCFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K5LSJV4HC4Y6KHQWD7AUUYXYIXW2TPQRKFABRU3YFD37HEXQCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N36AWUVYLUOIPE6ZUJJIIJKFHKYMHPCUFWZUSD6UTACPHMCLIZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DescribeResources": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId"
                ],
                "members": {
                    "organizationId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resources"
                ],
                "members": {
                    "resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "resourceId",
                                "email",
                                "resourceName",
                                "resourceRoleType"
                            ],
                            "members": {
                                "resourceId": {},
                                "email": {},
                                "resourceName": {},
                                "resourceRoleType": {},
                                "LastEdited": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KC5LGAYXE7455WT544K5UODWJUGVVFXGXTW7TMD6OPXN5ETKB3NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSLYSWKYZNU25CD7RASLMSY3HFHGGYBGDUCD3GH2EOZKX4YMLIJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V436P6T72XFY54ZX6EM7H4JLMTCWYXYR76ARQ2ASYTELRNWCDHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERBFOJ2J456MWB3DLQRALQG224TKUKZ6PT7HCOPCN745VCC22KSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SRDKXJILK5CV6CSDNWY2CVEEYHKFTGBC3MH5VNRLGDE765HQK4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBLCZOUC4GLGGD36BJJZBQXKELHY3YC7WSHVXTBS4GK6EELAHV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEOQJNXU6N322QF3PGVFTSXJVIYF3ASJ32EOHVPVVEXSMMNPAY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGUPYACDXN5MNQZGCHRQY4KPS7U2SBLALC6EMJOR66BCNAGR3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKT3W35N3PK2OOQ7AEYQZZ7CEX42BVFB535JXXFBEBXQJRJT7IEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KLP4MWWYXTZG5KZPFRYZDJFJP6C6AG3U4IDAUKYLUC7V2JOXTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYTIW4Z5LXXB6RS2A5AMVAPUQIDBIGB23GRTEFX7RWPXF67DXOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U44PXJOJSQLG32RLLDJI7CI7AXV3JLTMHA3PX5YQ5HA4E35LQF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHONCKGPOIWX57S6D763TD5Y3GOPQOV5QZLWUYVNVZXZYN7QWODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationId"
                ],
                "members": {
                    "organizationId": {},
                    "page": {
                        "shape": "S28"
                    },
                    "filters": {
                        "shape": "S2b"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "users"
                ],
                "members": {
                    "users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userId",
                                "email",
                                "isEnabled"
                            ],
                            "members": {
                                "userId": {},
                                "email": {},
                                "userName": {},
                                "displayName": {},
                                "isEnabled": {
                                    "type": "boolean"
                                },
                                "userRole": {},
                                "LastEdited": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "countTotal": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65WYCRAS3OZ3PR6HZIKNZO4AWAWFZCMTDXF7HYHP3TJQJUBBW7MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7DJN63CED565PEWVQHEIO342K2GAUKZL72JPPEW4VNHUJDURBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHEM52GB7NKTRNWPKVX3SWD2JEYSCPKWM6OUPX7EP22CZCOQTWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKX5JDTRY4AOY6U5YN6O4NTL5FSLRXT3LJSQ4DGX2YC3ZHAUCGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGHM2L4JWDWPMHCSFD6ZS7J7KDJVIJHFPF5PA4RW6JVHZV3IDJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTBTGO2HX4NNE2OXDJUC2VLRZAJTSMDVXVI5A24G2IWYRWO3PR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KPFBBWRZKBRZVHSD2CWQESUET56VSOWNAQYMHGD6GSBF3BF5C6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5OIAOZOQOMCIH3TVTH5Z5PII3AUCDLAOI2L77INC67G4KGH363A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ32SJVRCPZQPTZUUIVL34KVJO5FTEWATUS5RYDKEH6ZT4FAEQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNQ5JPAR6MUSZCEGLG4XOYVOICKFMDV2WRTQV5MRQR2IVRU6BFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKCIZ2HSEGANB2DJNRJXOHL3Z76DQAKP2VROUE6LC3GO637FS2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5B4EF3J7A325KSSEH2ACAKT3XYZKWRQ74ZJNF35KM363ZQIJ6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRYHES3FICYN4PT3HRB7DPLAMUYBLTI2X5MMJ6BAMPO6UHRNFKPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MESD4NTRUVQGGEJGHZYC3IJKTNDRBE76VMZATXP6DQNCT4R42IRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQQDQZA57W2XDDMTGJBF2GQEFILRDYGZQGOW2PTRXCQAURMVL2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D654DS2Y3FMIOPNMS3RHS3AVZFDSMLHBRN3JIB475EIERXKCYIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2BQGPLB7OLOP3DV2PAVJUY2J4YHGVXZYENT7K3B45WPIHHX3FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QS2AXDYUVG5RLMMTQ362LCA2PWVSOFWGHMMSK3PQ3APVHMHLPGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTMNG5F62DS4W2F773ICPD4JQX2COMFATGMYNV4WQFQKBZIL66AA/vendors.js",
[...]
