{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2012-06-01",
        "checksumFormat": "sha256",
        "endpointPrefix": "glacier",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Glacier",
        "serviceId": "Glacier",
        "signatureVersion": "v4",
        "uid": "glacier-2012-06-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
        ]
    },
    "operations": {
        "AbortMultipartUpload": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{accountId}/vaults/{vaultName}/multipart-uploads/{uploadId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "uploadId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "uploadId": {
                        "location": "uri",
                        "locationName": "uploadId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "AbortVaultLock": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{accountId}/vaults/{vaultName}/lock-policy",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "AddTagsToVault": {
            "http": {
                "requestUri": "/{accountId}/vaults/{vaultName}/tags?operation=add",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "CompleteMultipartUpload": {
            "http": {
                "requestUri": "/{accountId}/vaults/{vaultName}/multipart-uploads/{uploadId}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "uploadId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "uploadId": {
                        "location": "uri",
                        "locationName": "uploadId"
                    },
                    "archiveSize": {
                        "location": "header",
                        "locationName": "x-amz-archive-size"
                    },
                    "checksum": {
                        "location": "header",
                        "locationName": "x-amz-sha256-tree-hash"
                    }
                }
            },
            "output": {
                "shape": "S9"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "CompleteVaultLock": {
            "http": {
                "requestUri": "/{accountId}/vaults/{vaultName}/lock-policy/{lockId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "lockId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "lockId": {
                        "location": "uri",
                        "locationName": "lockId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "CreateVault": {
            "http": {
                "method": "PUT",
                "requestUri": "/{accountId}/vaults/{vaultName}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "location": {
                        "location": "header",
                        "locationName": "Location"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "DeleteArchive": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{accountId}/vaults/{vaultName}/archives/{archiveId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "archiveId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "archiveId": {
                        "location": "uri",
                        "locationName": "archiveId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "DeleteVault": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{accountId}/vaults/{vaultName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "DeleteVaultAccessPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{accountId}/vaults/{vaultName}/access-policy",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "DeleteVaultNotifications": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{accountId}/vaults/{vaultName}/notification-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "DescribeJob": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "jobId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "shape": "Si"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "DescribeVault": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "output": {
                "shape": "S1a"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "GetDataRetrievalPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/policies/data-retrieval"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "GetJobOutput": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/jobs/{jobId}/output"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "jobId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "range": {
                        "location": "header",
                        "locationName": "Range"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "body": {
                        "shape": "S1k"
                    },
                    "checksum": {
                        "location": "header",
                        "locationName": "x-amz-sha256-tree-hash"
                    },
                    "status": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "contentRange": {
                        "location": "header",
                        "locationName": "Content-Range"
                    },
                    "acceptRanges": {
                        "location": "header",
                        "locationName": "Accept-Ranges"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "archiveDescription": {
                        "location": "header",
                        "locationName": "x-amz-archive-description"
                    }
                },
                "payload": "body"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "GetVaultAccessPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/access-policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1o"
                    }
                },
                "payload": "policy"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "GetVaultLock": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/lock-policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {},
                    "State": {},
                    "ExpirationDate": {},
                    "CreationDate": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "GetVaultNotifications": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/notification-configuration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "vaultNotificationConfig": {
                        "shape": "S1t"
                    }
                },
                "payload": "vaultNotificationConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "InitiateJob": {
            "http": {
                "requestUri": "/{accountId}/vaults/{vaultName}/jobs",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "jobParameters": {
                        "type": "structure",
                        "members": {
                            "Format": {},
                            "Type": {},
                            "ArchiveId": {},
                            "Description": {},
                            "SNSTopic": {},
                            "RetrievalByteRange": {},
                            "Tier": {},
                            "InventoryRetrievalParameters": {
                                "type": "structure",
                                "members": {
                                    "StartDate": {},
                                    "EndDate": {},
                                    "Limit": {},
                                    "Marker": {}
                                }
                            },
                            "SelectParameters": {
                                "shape": "Sp"
                            },
                            "OutputLocation": {
                                "shape": "Sx"
                            }
                        }
                    }
                },
                "payload": "jobParameters"
            },
            "output": {
                "type": "structure",
                "members": {
                    "location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "jobId": {
                        "location": "header",
                        "locationName": "x-amz-job-id"
                    },
                    "jobOutputPath": {
                        "location": "header",
                        "locationName": "x-amz-job-output-path"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "InitiateMultipartUpload": {
            "http": {
                "requestUri": "/{accountId}/vaults/{vaultName}/multipart-uploads",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "archiveDescription": {
                        "location": "header",
                        "locationName": "x-amz-archive-description"
                    },
                    "partSize": {
                        "location": "header",
                        "locationName": "x-amz-part-size"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "uploadId": {
                        "location": "header",
                        "locationName": "x-amz-multipart-upload-id"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "InitiateVaultLock": {
            "http": {
                "requestUri": "/{accountId}/vaults/{vaultName}/lock-policy",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "policy": {
                        "type": "structure",
                        "members": {
                            "Policy": {}
                        }
                    }
                },
                "payload": "policy"
            },
            "output": {
                "type": "structure",
                "members": {
                    "lockId": {
                        "location": "header",
                        "locationName": "x-amz-lock-id"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "ListJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/jobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit"
                    },
                    "marker": {
                        "location": "querystring",
                        "locationName": "marker"
                    },
                    "statuscode": {
                        "location": "querystring",
                        "locationName": "statuscode"
                    },
                    "completed": {
                        "location": "querystring",
                        "locationName": "completed"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobList": {
                        "type": "list",
                        "member": {
                            "shape": "Si"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "ListMultipartUploads": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/multipart-uploads"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "marker": {
                        "location": "querystring",
                        "locationName": "marker"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UploadsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MultipartUploadId": {},
                                "VaultARN": {},
                                "ArchiveDescription": {},
                                "PartSizeInBytes": {
                                    "type": "long"
                                },
                                "CreationDate": {}
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "ListParts": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/multipart-uploads/{uploadId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "uploadId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "uploadId": {
                        "location": "uri",
                        "locationName": "uploadId"
                    },
                    "marker": {
                        "location": "querystring",
                        "locationName": "marker"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MultipartUploadId": {},
                    "VaultARN": {},
                    "ArchiveDescription": {},
                    "PartSizeInBytes": {
                        "type": "long"
                    },
                    "CreationDate": {},
                    "Parts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RangeInBytes": {},
                                "SHA256TreeHash": {}
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKP5ZVNU43A2BEBYRLECWGCDFBGIJBJLST3CLBGSHPIISYDAEDAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT7GXZKQIXUIM5RHBKISWDIFWK2X56KIRT5KZ56MV3N57UHRURDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWDAX2QHW426ZVAQDX24EPGG2AUPR6HQZFIVVJBYJLJZQWZ4FUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js"
            ]
        },
        "ListProvisionedCapacity": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/provisioned-capacity"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
[...]
