{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2012-06-01",
        "checksumFormat": "sha256",
        "endpointPrefix": "glacier",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Glacier",
        "serviceId": "Glacier",
        "signatureVersion": "v4",
        "uid": "glacier-2012-06-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5WJFZZ3ERPXRWLROKYRYLIZUWJV73RRGUBSFOUMIG35R7UCJNHQ/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
        ]
    },
    "operations": {
        "AbortMultipartUpload": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{accountId}/vaults/{vaultName}/multipart-uploads/{uploadId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "uploadId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "uploadId": {
                        "location": "uri",
                        "locationName": "uploadId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "AbortVaultLock": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{accountId}/vaults/{vaultName}/lock-policy",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "AddTagsToVault": {
            "http": {
                "requestUri": "/{accountId}/vaults/{vaultName}/tags?operation=add",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "CompleteMultipartUpload": {
            "http": {
                "requestUri": "/{accountId}/vaults/{vaultName}/multipart-uploads/{uploadId}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "uploadId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "uploadId": {
                        "location": "uri",
                        "locationName": "uploadId"
                    },
                    "archiveSize": {
                        "location": "header",
                        "locationName": "x-amz-archive-size"
                    },
                    "checksum": {
                        "location": "header",
                        "locationName": "x-amz-sha256-tree-hash"
                    }
                }
            },
            "output": {
                "shape": "S9"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "CompleteVaultLock": {
            "http": {
                "requestUri": "/{accountId}/vaults/{vaultName}/lock-policy/{lockId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "lockId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "lockId": {
                        "location": "uri",
                        "locationName": "lockId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "CreateVault": {
            "http": {
                "method": "PUT",
                "requestUri": "/{accountId}/vaults/{vaultName}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "location": {
                        "location": "header",
                        "locationName": "Location"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "DeleteArchive": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{accountId}/vaults/{vaultName}/archives/{archiveId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "archiveId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "archiveId": {
                        "location": "uri",
                        "locationName": "archiveId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "DeleteVault": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{accountId}/vaults/{vaultName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "DeleteVaultAccessPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{accountId}/vaults/{vaultName}/access-policy",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "DeleteVaultNotifications": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{accountId}/vaults/{vaultName}/notification-configuration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "DescribeJob": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "jobId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "shape": "Si"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "DescribeVault": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "output": {
                "shape": "S1a"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "GetDataRetrievalPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/policies/data-retrieval"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "GetJobOutput": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/jobs/{jobId}/output"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "jobId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "range": {
                        "location": "header",
                        "locationName": "Range"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "body": {
                        "shape": "S1k"
                    },
                    "checksum": {
                        "location": "header",
                        "locationName": "x-amz-sha256-tree-hash"
                    },
                    "status": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "contentRange": {
                        "location": "header",
                        "locationName": "Content-Range"
                    },
                    "acceptRanges": {
                        "location": "header",
                        "locationName": "Accept-Ranges"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "archiveDescription": {
                        "location": "header",
                        "locationName": "x-amz-archive-description"
                    }
                },
                "payload": "body"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "GetVaultAccessPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/access-policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {
                        "shape": "S1o"
                    }
                },
                "payload": "policy"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "GetVaultLock": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/lock-policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {},
                    "State": {},
                    "ExpirationDate": {},
                    "CreationDate": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "GetVaultNotifications": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/notification-configuration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "vaultNotificationConfig": {
                        "shape": "S1t"
                    }
                },
                "payload": "vaultNotificationConfig"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "InitiateJob": {
            "http": {
                "requestUri": "/{accountId}/vaults/{vaultName}/jobs",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "jobParameters": {
                        "type": "structure",
                        "members": {
                            "Format": {},
                            "Type": {},
                            "ArchiveId": {},
                            "Description": {},
                            "SNSTopic": {},
                            "RetrievalByteRange": {},
                            "Tier": {},
                            "InventoryRetrievalParameters": {
                                "type": "structure",
                                "members": {
                                    "StartDate": {},
                                    "EndDate": {},
                                    "Limit": {},
                                    "Marker": {}
                                }
                            },
                            "SelectParameters": {
                                "shape": "Sp"
                            },
                            "OutputLocation": {
                                "shape": "Sx"
                            }
                        }
                    }
                },
                "payload": "jobParameters"
            },
            "output": {
                "type": "structure",
                "members": {
                    "location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "jobId": {
                        "location": "header",
                        "locationName": "x-amz-job-id"
                    },
                    "jobOutputPath": {
                        "location": "header",
                        "locationName": "x-amz-job-output-path"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "InitiateMultipartUpload": {
            "http": {
                "requestUri": "/{accountId}/vaults/{vaultName}/multipart-uploads",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "archiveDescription": {
                        "location": "header",
                        "locationName": "x-amz-archive-description"
                    },
                    "partSize": {
                        "location": "header",
                        "locationName": "x-amz-part-size"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "uploadId": {
                        "location": "header",
                        "locationName": "x-amz-multipart-upload-id"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "InitiateVaultLock": {
            "http": {
                "requestUri": "/{accountId}/vaults/{vaultName}/lock-policy",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "policy": {
                        "type": "structure",
                        "members": {
                            "Policy": {}
                        }
                    }
                },
                "payload": "policy"
            },
            "output": {
                "type": "structure",
                "members": {
                    "lockId": {
                        "location": "header",
                        "locationName": "x-amz-lock-id"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "ListJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/jobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit"
                    },
                    "marker": {
                        "location": "querystring",
                        "locationName": "marker"
                    },
                    "statuscode": {
                        "location": "querystring",
                        "locationName": "statuscode"
                    },
                    "completed": {
                        "location": "querystring",
                        "locationName": "completed"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobList": {
                        "type": "list",
                        "member": {
                            "shape": "Si"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "ListMultipartUploads": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/multipart-uploads"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "marker": {
                        "location": "querystring",
                        "locationName": "marker"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UploadsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MultipartUploadId": {},
                                "VaultARN": {},
                                "ArchiveDescription": {},
                                "PartSizeInBytes": {
                                    "type": "long"
                                },
                                "CreationDate": {}
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OONSRM34HQ4KWUTLPMFGKCDPJPKQ6W77M474FHCWCLDECCIX7VPA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W62LZDZDWLTJDUVNIT47AP3KGMAP7ZRWEMEXMU6BLGFFWHLYHOXA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SBVSCWV5XO2BSM7R24ESOD3WVFE3BASOOXOPO6GA7D45JPNVPKQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMZ72XEXWMLCPELNISMSZ73XLIESWEOQQFUACB2EU7TVTMV6XAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMOEJRDW6B4OP63KOE5U66LM5YP4HHX3ZJTYRD4ZPDDJA4TKB5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js"
            ]
        },
        "ListParts": {
            "http": {
                "method": "GET",
                "requestUri": "/{accountId}/vaults/{vaultName}/multipart-uploads/{uploadId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "vaultName",
                    "uploadId"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "vaultName": {
                        "location": "uri",
                        "locationName": "vaultName"
                    },
                    "uploadId": {
                        "location": "uri",
                        "locationName": "uploadId"
                    },
                    "marker": {
                        "location": "querystring",
                        "locationName": "marker"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MultipartUploadId": {},
                    "VaultARN": {},
                    "ArchiveDescription": {},
                    "PartSizeInBytes": {
                        "type": "long"
                    },
                    "CreationDate": {},
                    "Parts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
[...]
