{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-03-22",
        "endpointPrefix": "glasgowdataformservice",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "scn",
        "serviceFullName": "GlasgowDataFormService",
        "serviceId": "GlasgowDataForm",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "glasgowdataform-2023-03-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
        ]
    },
    "operations": {
        "CreateDisclosureDataForm": {
            "http": {
                "requestUri": "/createDisclosureDataForm",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "dataForm"
                ],
                "members": {
                    "instanceId": {},
                    "dataForm": {
                        "type": "structure",
                        "required": [
                            "title",
                            "description",
                            "providerDefinitions"
                        ],
                        "members": {
                            "title": {},
                            "description": {},
                            "providerDefinitions": {},
                            "requesterDefinitions": {},
                            "version": {},
                            "externalId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataFormId"
                ],
                "members": {
                    "dataFormId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetDisclosureDataForm": {
            "http": {
                "requestUri": "/getDisclosureDataForm",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataFormId",
                    "version",
                    "instanceId"
                ],
                "members": {
                    "dataFormId": {},
                    "version": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataForm"
                ],
                "members": {
                    "dataForm": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetDisclosureDataFormInternal": {
            "http": {
                "requestUri": "/getDisclosureDataFormInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataFormId",
                    "version",
                    "instanceId"
                ],
                "members": {
                    "dataFormId": {},
                    "version": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataForm"
                ],
                "members": {
                    "dataForm": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListDisclosureDataForms": {
            "http": {
                "requestUri": "/listDisclosureDataForms",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "dataForms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "dataFormId",
                                "version"
                            ],
                            "members": {
                                "dataFormId": {},
                                "version": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataForms"
                ],
                "members": {
                    "dataForms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "title",
                                "id",
                                "status",
                                "description",
                                "version"
                            ],
                            "members": {
                                "title": {},
                                "id": {},
                                "status": {},
                                "description": {},
                                "version": {},
                                "externalId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "UpdateDisclosureDataForm": {
            "http": {
                "requestUri": "/updateDisclosureDataForm",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "dataForm"
                ],
                "members": {
                    "instanceId": {},
                    "dataForm": {
                        "type": "structure",
                        "required": [
                            "id"
                        ],
                        "members": {
                            "id": {},
                            "description": {},
                            "currentVersion": {},
                            "nextVersion": {},
                            "status": {},
                            "providerDefinitions": {},
                            "requesterDefinitions": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataFormId",
                    "version"
                ],
                "members": {
                    "dataFormId": {},
                    "version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "structure",
            "required": [
                "title",
                "id",
                "status",
                "description",
                "version",
                "providerDefinitions"
            ],
            "members": {
                "title": {},
                "id": {},
                "status": {},
                "description": {},
                "version": {},
                "externalId": {},
                "providerDefinitions": {},
                "requesterDefinitions": {}
            }
        }
    }
}