{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-08",
        "endpointPrefix": "globalaccelerator",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Global Accelerator",
        "serviceId": "Global Accelerator",
        "signatureVersion": "v4",
        "signingName": "globalaccelerator",
        "targetPrefix": "GlobalAccelerator_V20180706",
        "uid": "globalaccelerator-2018-08-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AddCustomRoutingEndpoints": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointConfigurations",
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EndpointId": {}
                            }
                        }
                    },
                    "EndpointGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointDescriptions": {
                        "shape": "S6"
                    },
                    "EndpointGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AddEndpoints": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointConfigurations",
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointConfigurations": {
                        "shape": "S9"
                    },
                    "EndpointGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointDescriptions": {
                        "shape": "Se"
                    },
                    "EndpointGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/cc2bde0403bc3efc42bf5ebc30870ad3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/82deb06c637cb028ed701121c651069c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/00ca60c6c5476ac4ebd5199c8278cccc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3UTAHLIDNQ6KZTB6RSGLN6KWHABBND7BRM66MZZGTBZSTYCLE6A/78bd3bb63ecdc783bddfa82594772445.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GOA2ULVDXT3NCHE26SZIJBH3ER3SJUCACCHE565YQJHLY36ASQ/c321a2e55e30a86636e856ac9bed1370.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/be3436e5afed7799a4f73198de4501f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AdvertiseByoipCidr": {
            "input": {
                "type": "structure",
                "required": [
                    "Cidr"
                ],
                "members": {
                    "Cidr": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ByoipCidr": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AllowCustomRoutingTraffic": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn",
                    "EndpointId"
                ],
                "members": {
                    "EndpointGroupArn": {},
                    "EndpointId": {},
                    "DestinationAddresses": {
                        "shape": "Sp"
                    },
                    "DestinationPorts": {
                        "shape": "Sr"
                    },
                    "AllowAllTrafficToEndpoint": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "IdempotencyToken"
                ],
                "members": {
                    "Name": {},
                    "IpAddressType": {},
                    "IpAddresses": {
                        "shape": "Sv"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accelerator": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateCustomRoutingAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "IdempotencyToken"
                ],
                "members": {
                    "Name": {},
                    "IpAddressType": {},
                    "IpAddresses": {
                        "shape": "Sv"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accelerator": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateCustomRoutingEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn",
                    "EndpointGroupRegion",
                    "DestinationConfigurations",
                    "IdempotencyToken"
                ],
                "members": {
                    "ListenerArn": {},
                    "EndpointGroupRegion": {},
                    "DestinationConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "FromPort",
                                "ToPort",
                                "Protocols"
                            ],
                            "members": {
                                "FromPort": {
                                    "type": "integer"
                                },
                                "ToPort": {
                                    "type": "integer"
                                },
                                "Protocols": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointGroup": {
                        "shape": "S1j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateCustomRoutingListener": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn",
                    "PortRanges",
                    "IdempotencyToken"
                ],
                "members": {
                    "AcceleratorArn": {},
                    "PortRanges": {
                        "shape": "S1p"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Listener": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn",
                    "EndpointGroupRegion",
                    "IdempotencyToken"
                ],
                "members": {
                    "ListenerArn": {},
                    "EndpointGroupRegion": {},
                    "EndpointConfigurations": {
                        "shape": "S9"
                    },
                    "TrafficDialPercentage": {
                        "type": "float"
                    },
                    "HealthCheckPort": {
                        "type": "integer"
                    },
                    "HealthCheckProtocol": {},
                    "HealthCheckPath": {},
                    "HealthCheckIntervalSeconds": {
                        "type": "integer"
                    },
                    "ThresholdCount": {
                        "type": "integer"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    },
                    "PortOverrides": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointGroup": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateListener": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn",
                    "PortRanges",
                    "Protocol",
                    "IdempotencyToken"
                ],
                "members": {
                    "AcceleratorArn": {},
                    "PortRanges": {
                        "shape": "S1p"
                    },
                    "Protocol": {},
                    "ClientAffinity": {},
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Listener": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteCustomRoutingAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteCustomRoutingEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteCustomRoutingListener": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn"
                ],
                "members": {
                    "ListenerArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteListener": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn"
                ],
                "members": {
                    "ListenerArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DenyCustomRoutingTraffic": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn",
                    "EndpointId"
                ],
                "members": {
                    "EndpointGroupArn": {},
                    "EndpointId": {},
                    "DestinationAddresses": {
                        "shape": "Sp"
                    },
                    "DestinationPorts": {
                        "shape": "Sr"
                    },
                    "DenyAllTrafficToEndpoint": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeprovisionByoipCidr": {
            "input": {
                "type": "structure",
                "required": [
                    "Cidr"
                ],
                "members": {
                    "Cidr": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ByoipCidr": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accelerator": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAcceleratorAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AcceleratorAttributes": {
                        "shape": "S2l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeCustomRoutingAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accelerator": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeCustomRoutingAcceleratorAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AcceleratorAttributes": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeCustomRoutingEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointGroup": {
                        "shape": "S1j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeCustomRoutingListener": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn"
                ],
                "members": {
                    "ListenerArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Listener": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointGroup": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAK4NYVQVEWDRFJVGU2OHRDQ7GMIWHNOF3HGVBMU5SJ5Y7TTOMLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MO3XAHGQXR3BF33DWGTDTUYKPYPBRP6T5D2WXJXIMWV263343UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWWGPEBHFAW5LK45KAFXTFGUBLIXLUS7DU2TOQATRRNZCI4W5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCPEOURYOTYQXDZSTYGC6FGCFXQXYJFFCEG2WUBJOVFGI5GZM7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYLFRBZDBZ3JW4Q33CHWJBTA4XJ5BOTW3EG5NM3ZEJZNV7S7O2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
[...]
