{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-08",
        "endpointPrefix": "globalaccelerator",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Global Accelerator",
        "serviceId": "Global Accelerator",
        "signatureVersion": "v4",
        "signingName": "globalaccelerator",
        "targetPrefix": "GlobalAccelerator_V20180706",
        "uid": "globalaccelerator-2018-08-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
        ]
    },
    "operations": {
        "AddCustomRoutingEndpoints": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointConfigurations",
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EndpointId": {}
                            }
                        }
                    },
                    "EndpointGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointDescriptions": {
                        "shape": "S6"
                    },
                    "EndpointGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "AddEndpoints": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointConfigurations",
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointConfigurations": {
                        "shape": "S9"
                    },
                    "EndpointGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointDescriptions": {
                        "shape": "Se"
                    },
                    "EndpointGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/d3e6c2fbe32bd4fb87477675126a289b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/b17ebd80da28af061ba28422037a1f68.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/7a2f424698820b4587325b5a0815e8cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONBZFIPSPT7D45YQ3YG5D5DHPOMTAR4Q5ICDE3STJFA7R2T4XOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "AdvertiseByoipCidr": {
            "input": {
                "type": "structure",
                "required": [
                    "Cidr"
                ],
                "members": {
                    "Cidr": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ByoipCidr": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "AllowCustomRoutingTraffic": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn",
                    "EndpointId"
                ],
                "members": {
                    "EndpointGroupArn": {},
                    "EndpointId": {},
                    "DestinationAddresses": {
                        "shape": "Sp"
                    },
                    "DestinationPorts": {
                        "shape": "Sr"
                    },
                    "AllowAllTrafficToEndpoint": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "IdempotencyToken"
                ],
                "members": {
                    "Name": {},
                    "IpAddressType": {},
                    "IpAddresses": {
                        "shape": "Sv"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accelerator": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateCustomRoutingAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "IdempotencyToken"
                ],
                "members": {
                    "Name": {},
                    "IpAddressType": {},
                    "IpAddresses": {
                        "shape": "Sv"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accelerator": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateCustomRoutingEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn",
                    "EndpointGroupRegion",
                    "DestinationConfigurations",
                    "IdempotencyToken"
                ],
                "members": {
                    "ListenerArn": {},
                    "EndpointGroupRegion": {},
                    "DestinationConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "FromPort",
                                "ToPort",
                                "Protocols"
                            ],
                            "members": {
                                "FromPort": {
                                    "type": "integer"
                                },
                                "ToPort": {
                                    "type": "integer"
                                },
                                "Protocols": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointGroup": {
                        "shape": "S1j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateCustomRoutingListener": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn",
                    "PortRanges",
                    "IdempotencyToken"
                ],
                "members": {
                    "AcceleratorArn": {},
                    "PortRanges": {
                        "shape": "S1p"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Listener": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn",
                    "EndpointGroupRegion",
                    "IdempotencyToken"
                ],
                "members": {
                    "ListenerArn": {},
                    "EndpointGroupRegion": {},
                    "EndpointConfigurations": {
                        "shape": "S9"
                    },
                    "TrafficDialPercentage": {
                        "type": "float"
                    },
                    "HealthCheckPort": {
                        "type": "integer"
                    },
                    "HealthCheckProtocol": {},
                    "HealthCheckPath": {},
                    "HealthCheckIntervalSeconds": {
                        "type": "integer"
                    },
                    "ThresholdCount": {
                        "type": "integer"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    },
                    "PortOverrides": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointGroup": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateListener": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn",
                    "PortRanges",
                    "Protocol",
                    "IdempotencyToken"
                ],
                "members": {
                    "AcceleratorArn": {},
                    "PortRanges": {
                        "shape": "S1p"
                    },
                    "Protocol": {},
                    "ClientAffinity": {},
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Listener": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteCustomRoutingAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteCustomRoutingEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteCustomRoutingListener": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn"
                ],
                "members": {
                    "ListenerArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteListener": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn"
                ],
                "members": {
                    "ListenerArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DenyCustomRoutingTraffic": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn",
                    "EndpointId"
                ],
                "members": {
                    "EndpointGroupArn": {},
                    "EndpointId": {},
                    "DestinationAddresses": {
                        "shape": "Sp"
                    },
                    "DestinationPorts": {
                        "shape": "Sr"
                    },
                    "DenyAllTrafficToEndpoint": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeprovisionByoipCidr": {
            "input": {
                "type": "structure",
                "required": [
                    "Cidr"
                ],
                "members": {
                    "Cidr": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ByoipCidr": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accelerator": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeAcceleratorAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AcceleratorAttributes": {
                        "shape": "S2l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeCustomRoutingAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accelerator": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeCustomRoutingAcceleratorAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AcceleratorAttributes": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeCustomRoutingEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointGroup": {
                        "shape": "S1j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeCustomRoutingListener": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn"
                ],
                "members": {
                    "ListenerArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Listener": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointGroup": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYLBIDBRM5SJS27AWRZZAJINFVAR3ZI53FJWNYOEVIFGF4Q45ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624MWOFYVPKHO2HFUGZLGJD4476AIM7P7D7DVXVCAZWKH4YBY7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeListener": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn"
                ],
                "members": {
                    "ListenerArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Listener": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XNW2C5VC7SLEMJVHWZEJJKEQRWTBUGAB5GMCPCTSFANSPRAHUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH2FJXMLN5SKY3PSM5Z343EDNW5A2CNE23ZXVWHBH3L6MGSBD5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUQFSEMQDIXCK3O6HPZWHLTHWKYO45IFQDGREGIRBS3FK7BFE3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
[...]
