{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-08",
        "endpointPrefix": "globalaccelerator",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Global Accelerator",
        "serviceId": "Global Accelerator",
        "signatureVersion": "v4",
        "signingName": "globalaccelerator",
        "targetPrefix": "GlobalAccelerator_V20180706",
        "uid": "globalaccelerator-2018-08-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
        ]
    },
    "operations": {
        "AddCustomRoutingEndpoints": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointConfigurations",
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EndpointId": {}
                            }
                        }
                    },
                    "EndpointGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointDescriptions": {
                        "shape": "S6"
                    },
                    "EndpointGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "AddEndpoints": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointConfigurations",
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointConfigurations": {
                        "shape": "S9"
                    },
                    "EndpointGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointDescriptions": {
                        "shape": "Se"
                    },
                    "EndpointGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMCXUKPCPIKKDTA3EM57IHMMDNMLP3WZMPX2PL7NAETPBKI4I7Q/90be8a9f09735e2bfa418fb111b89eb0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3GDPIJOJ4R6BT24NBFAG64YZE2UP4H7GJGTNVJDGYZKAGOEQYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "AdvertiseByoipCidr": {
            "input": {
                "type": "structure",
                "required": [
                    "Cidr"
                ],
                "members": {
                    "Cidr": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ByoipCidr": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "AllowCustomRoutingTraffic": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn",
                    "EndpointId"
                ],
                "members": {
                    "EndpointGroupArn": {},
                    "EndpointId": {},
                    "DestinationAddresses": {
                        "shape": "Sp"
                    },
                    "DestinationPorts": {
                        "shape": "Sr"
                    },
                    "AllowAllTrafficToEndpoint": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "CreateAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "IdempotencyToken"
                ],
                "members": {
                    "Name": {},
                    "IpAddressType": {},
                    "IpAddresses": {
                        "shape": "Sv"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accelerator": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "CreateCustomRoutingAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "IdempotencyToken"
                ],
                "members": {
                    "Name": {},
                    "IpAddressType": {},
                    "IpAddresses": {
                        "shape": "Sv"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accelerator": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "CreateCustomRoutingEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn",
                    "EndpointGroupRegion",
                    "DestinationConfigurations",
                    "IdempotencyToken"
                ],
                "members": {
                    "ListenerArn": {},
                    "EndpointGroupRegion": {},
                    "DestinationConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "FromPort",
                                "ToPort",
                                "Protocols"
                            ],
                            "members": {
                                "FromPort": {
                                    "type": "integer"
                                },
                                "ToPort": {
                                    "type": "integer"
                                },
                                "Protocols": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointGroup": {
                        "shape": "S1j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "CreateCustomRoutingListener": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn",
                    "PortRanges",
                    "IdempotencyToken"
                ],
                "members": {
                    "AcceleratorArn": {},
                    "PortRanges": {
                        "shape": "S1p"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Listener": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "CreateEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn",
                    "EndpointGroupRegion",
                    "IdempotencyToken"
                ],
                "members": {
                    "ListenerArn": {},
                    "EndpointGroupRegion": {},
                    "EndpointConfigurations": {
                        "shape": "S9"
                    },
                    "TrafficDialPercentage": {
                        "type": "float"
                    },
                    "HealthCheckPort": {
                        "type": "integer"
                    },
                    "HealthCheckProtocol": {},
                    "HealthCheckPath": {},
                    "HealthCheckIntervalSeconds": {
                        "type": "integer"
                    },
                    "ThresholdCount": {
                        "type": "integer"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    },
                    "PortOverrides": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointGroup": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "CreateListener": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn",
                    "PortRanges",
                    "Protocol",
                    "IdempotencyToken"
                ],
                "members": {
                    "AcceleratorArn": {},
                    "PortRanges": {
                        "shape": "S1p"
                    },
                    "Protocol": {},
                    "ClientAffinity": {},
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Listener": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DeleteAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DeleteCustomRoutingAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DeleteCustomRoutingEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DeleteCustomRoutingListener": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn"
                ],
                "members": {
                    "ListenerArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DeleteEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DeleteListener": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn"
                ],
                "members": {
                    "ListenerArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DenyCustomRoutingTraffic": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn",
                    "EndpointId"
                ],
                "members": {
                    "EndpointGroupArn": {},
                    "EndpointId": {},
                    "DestinationAddresses": {
                        "shape": "Sp"
                    },
                    "DestinationPorts": {
                        "shape": "Sr"
                    },
                    "DenyAllTrafficToEndpoint": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DeprovisionByoipCidr": {
            "input": {
                "type": "structure",
                "required": [
                    "Cidr"
                ],
                "members": {
                    "Cidr": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ByoipCidr": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accelerator": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeAcceleratorAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AcceleratorAttributes": {
                        "shape": "S2l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeCustomRoutingAccelerator": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accelerator": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeCustomRoutingAcceleratorAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "AcceleratorArn"
                ],
                "members": {
                    "AcceleratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AcceleratorAttributes": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeCustomRoutingEndpointGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointGroupArn"
                ],
                "members": {
                    "EndpointGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointGroup": {
                        "shape": "S1j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeCustomRoutingListener": {
            "input": {
                "type": "structure",
                "required": [
                    "ListenerArn"
                ],
                "members": {
                    "ListenerArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Listener": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V452GJPASUXHTCKA6YASQ3DTBSGXCP34JLHD7M5EIXAHJF7ZMOZA/9c61984f37fbe7951eca70878b04e694.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/5d40c6dfdde1cadd7d8a4bc12f27d29c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/bc4172856fae6adb7946acee6bfa5c20.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/14f10fbd2a5cb94b61491a008570e415.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/ad6bd31d7c22a445e7eeeed3e29182ae.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/4ee6b34f18ab45b23e721959239224a3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/e5c9db9d8787726e91e1abb4845a2902.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
[...]
