{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-03-31",
        "endpointPrefix": "glue",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Glue",
        "serviceId": "Glue",
        "signatureVersion": "v4",
        "targetPrefix": "AWSGlue",
        "uid": "glue-2017-03-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js"
        ]
    },
    "operations": {
        "BatchCreatePartition": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName",
                    "PartitionInputList"
                ],
                "members": {
                    "CatalogId": {},
                    "DatabaseName": {},
                    "TableName": {},
                    "PartitionInputList": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Errors": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "BatchDeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionNameList"
                ],
                "members": {
                    "CatalogId": {},
                    "ConnectionNameList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Succeeded": {
                        "shape": "Sn"
                    },
                    "Errors": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S14"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "BatchDeletePartition": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName",
                    "PartitionsToDelete"
                ],
                "members": {
                    "CatalogId": {},
                    "DatabaseName": {},
                    "TableName": {},
                    "PartitionsToDelete": {
                        "type": "list",
                        "member": {
                            "shape": "S1c"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Errors": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "BatchDeleteTable": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TablesToDelete"
                ],
                "members": {
                    "CatalogId": {},
                    "DatabaseName": {},
                    "TablesToDelete": {
                        "type": "list",
                        "member": {}
                    },
                    "TransactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TableName": {},
                                "ErrorDetail": {
                                    "shape": "S14"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "BatchDeleteTableVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName",
                    "VersionIds"
                ],
                "members": {
                    "CatalogId": {},
                    "DatabaseName": {},
                    "TableName": {},
                    "VersionIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TableName": {},
                                "VersionId": {},
                                "ErrorDetail": {
                                    "shape": "S14"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "BatchGetBlueprints": {
            "input": {
                "type": "structure",
                "required": [
                    "Names"
                ],
                "members": {
                    "Names": {
                        "type": "list",
                        "member": {}
                    },
                    "IncludeBlueprint": {
                        "type": "boolean"
                    },
                    "IncludeParameterSpec": {
                        "type": "boolean"
                    },
                    "LFBlueprint": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Blueprints": {
                        "type": "list",
                        "member": {
                            "shape": "S1w"
                        }
                    },
                    "MissingBlueprints": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js"
            ]
        },
        "BatchGetCrawlers": {
            "input": {
                "type": "structure",
                "required": [
                    "CrawlerNames"
                ],
                "members": {
                    "CrawlerNames": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Crawlers": {
                        "shape": "S28"
                    },
                    "CrawlersNotFound": {
                        "shape": "S26"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "BatchGetCustomEntityTypes": {
            "input": {
                "type": "structure",
                "required": [
                    "Names"
                ],
                "members": {
                    "Names": {
                        "shape": "S3l"
                    },
                    "JobRunId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomEntityTypes": {
                        "shape": "S3n"
                    },
                    "CustomEntityTypesNotFound": {
                        "shape": "S3l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYOHDTNBMY4H4NUXUJWAUE4U3W2ENRQD564C5TQ7GBWHDST5KVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHA7ECMRR3W6MOBZEMF6W2X66O4QRCWO7JS4NDOMDEWQBVACO5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "BatchGetDevEndpoints": {
            "input": {
                "type": "structure",
                "required": [
                    "DevEndpointNames"
                ],
                "members": {
                    "DevEndpointNames": {
                        "shape": "S3r"
                    },
                    "customerAccountId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DevEndpoints": {
                        "shape": "S3t"
                    },
                    "DevEndpointsNotFound": {
                        "shape": "S3r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "BatchGetJobs": {
            "input": {
                "type": "structure",
                "required": [
                    "JobNames"
                ],
                "members": {
                    "JobNames": {
                        "shape": "S43"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Jobs": {
                        "shape": "S45"
                    },
                    "JobsNotFound": {
                        "shape": "S43"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "BatchGetPartition": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName",
                    "PartitionsToGet"
                ],
                "members": {
                    "CatalogId": {},
                    "DatabaseName": {},
                    "TableName": {},
                    "PartitionsToGet": {
                        "shape": "S86"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Partitions": {
                        "shape": "S88"
                    },
                    "UnprocessedKeys": {
                        "shape": "S86"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "BatchGetTriggers": {
            "input": {
                "type": "structure",
                "required": [
                    "TriggerNames"
                ],
                "members": {
                    "TriggerNames": {
                        "shape": "S8b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Triggers": {
                        "shape": "S8d"
                    },
                    "TriggersNotFound": {
                        "shape": "S8b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "BatchGetWorkflows": {
            "input": {
                "type": "structure",
                "required": [
                    "Names"
                ],
                "members": {
                    "Names": {
                        "shape": "S8v"
                    },
                    "IncludeGraph": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Workflows": {
                        "type": "list",
                        "member": {
                            "shape": "S8y"
                        }
                    },
                    "MissingWorkflows": {
                        "shape": "S8v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "BatchStopJobRun": {
            "input": {
                "type": "structure",
                "required": [
                    "JobName",
                    "JobRunIds"
                ],
                "members": {
                    "JobName": {},
                    "JobRunIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SuccessfulSubmissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "JobName": {},
                                "JobRunId": {}
                            }
                        }
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "JobName": {},
                                "JobRunId": {},
                                "ErrorDetail": {
                                    "shape": "S14"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "BatchUpdatePartition": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName",
                    "Entries"
                ],
                "members": {
                    "CatalogId": {},
                    "DatabaseName": {},
                    "TableName": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "PartitionValueList",
                                "PartitionInput"
                            ],
                            "members": {
                                "PartitionValueList": {
                                    "shape": "S9w"
                                },
                                "PartitionInput": {
                                    "shape": "S5"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PartitionValueList": {
                                    "shape": "S9w"
                                },
                                "ErrorDetail": {
                                    "shape": "S14"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js"
            ]
        },
        "CancelMLTaskRun": {
            "input": {
                "type": "structure",
                "required": [
                    "TransformId",
                    "TaskRunId"
                ],
                "members": {
                    "TransformId": {},
                    "TaskRunId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TransformId": {},
                    "TaskRunId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "CancelStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "SessionId",
                    "Id"
                ],
                "members": {
                    "SessionId": {},
                    "Id": {
                        "type": "integer"
                    },
                    "RequestOrigin": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYOHDTNBMY4H4NUXUJWAUE4U3W2ENRQD564C5TQ7GBWHDST5KVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHA7ECMRR3W6MOBZEMF6W2X66O4QRCWO7JS4NDOMDEWQBVACO5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CheckSchemaVersionValidity": {
            "input": {
                "type": "structure",
                "required": [
                    "DataFormat",
                    "SchemaDefinition"
                ],
                "members": {
                    "DataFormat": {},
                    "SchemaDefinition": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Valid": {
                        "type": "boolean"
                    },
                    "Error": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js"
            ]
        },
        "CreateBlueprint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "BlueprintLocation"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "BlueprintLocation": {},
                    "Tags": {
                        "shape": "Sae"
                    },
                    "LFBlueprint": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js"
            ]
        },
        "CreateClassifier": {
            "input": {
                "type": "structure",
                "members": {
                    "GrokClassifier": {
                        "type": "structure",
                        "required": [
                            "Classification",
                            "Name",
                            "GrokPattern"
                        ],
                        "members": {
                            "Classification": {},
                            "Name": {},
                            "GrokPattern": {},
                            "CustomPatterns": {}
                        }
                    },
                    "XMLClassifier": {
                        "type": "structure",
                        "required": [
                            "Classification",
                            "Name"
                        ],
                        "members": {
                            "Classification": {},
                            "Name": {},
                            "RowTag": {}
                        }
                    },
                    "JsonClassifier": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "JsonPath"
                        ],
                        "members": {
                            "Name": {},
                            "JsonPath": {}
                        }
                    },
                    "CsvClassifier": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "Delimiter": {},
                            "QuoteSymbol": {},
                            "ContainsHeader": {},
                            "Header": {
                                "shape": "Sav"
                            },
                            "DisableValueTrimming": {
                                "type": "boolean"
                            },
                            "AllowSingleColumn": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionInput"
                ],
                "members": {
                    "CatalogId": {},
                    "ConnectionInput": {
                        "shape": "Say"
                    },
                    "Tags": {
                        "shape": "Sae"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "CreateCrawler": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Role",
                    "Targets"
                ],
                "members": {
                    "Name": {},
                    "Role": {},
                    "DatabaseName": {},
                    "Description": {},
                    "Targets": {
                        "shape": "S2b"
                    },
                    "Schedule": {},
                    "Classifiers": {
                        "shape": "S2w"
                    },
                    "TablePrefix": {},
                    "SchemaChangePolicy": {
                        "shape": "S2z"
                    },
                    "RecrawlPolicy": {
                        "shape": "S2x"
                    },
                    "LineageConfiguration": {
                        "shape": "S32"
                    },
                    "LakeFormationConfiguration": {
                        "shape": "S3i"
                    },
                    "Configuration": {},
                    "CrawlerSecurityConfiguration": {},
                    "Tags": {
                        "shape": "Sae"
                    },
                    "TableProfilingConfiguration": {
                        "shape": "S3u"
                    },
                    "PIIConfiguration": {
                        "shape": "S5g"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js"
            ]
        },
        "CreateCustomEntityType": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RegexString"
                ],
                "members": {
                    "Name": {},
                    "RegexString": {},
                    "ContextWords": {
                        "shape": "S3p"
                    },
                    "Tags": {
                        "shape": "Sc1"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYOHDTNBMY4H4NUXUJWAUE4U3W2ENRQD564C5TQ7GBWHDST5KVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHA7ECMRR3W6MOBZEMF6W2X66O4QRCWO7JS4NDOMDEWQBVACO5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseInput"
                ],
                "members": {
                    "CatalogId": {},
                    "DatabaseInput": {
                        "shape": "Sbb"
                    },
                    "Tags": {
                        "shape": "Sae"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVWHWUOOJUNNPWFA4DANLHU6MSRM4GNYZ7OFO3CE56R35KVKA7GQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR46Y562AZRJHY6QIO6KGEVSATISGE3J7BHBSMZLOF3SUWWUSAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js",
[...]
