{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-18",
        "endpointPrefix": "grafana",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Managed Grafana",
        "serviceId": "grafana",
        "signatureVersion": "v4",
        "signingName": "grafana",
        "uid": "grafana-2020-08-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
        ]
    },
    "operations": {
        "AssociateLicense": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/licenses/{licenseType}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "licenseType",
                    "workspaceId"
                ],
                "members": {
                    "licenseType": {
                        "location": "uri",
                        "locationName": "licenseType"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "grafanaToken": {
                        "location": "header",
                        "locationName": "Grafana-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspace"
                ],
                "members": {
                    "workspace": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "CreateWorkspace": {
            "http": {
                "requestUri": "/workspaces",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountAccessType",
                    "authenticationProviders",
                    "permissionType"
                ],
                "members": {
                    "accountAccessType": {},
                    "authenticationProviders": {
                        "shape": "S8"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "configuration": {
                        "jsonvalue": true
                    },
                    "organizationRoleName": {
                        "shape": "Sl"
                    },
                    "permissionType": {},
                    "stackSetName": {},
                    "tags": {
                        "shape": "Sr"
                    },
                    "vpcConfiguration": {
                        "shape": "Su"
                    },
                    "workspaceDataSources": {
                        "shape": "Sc"
                    },
                    "workspaceDescription": {
                        "shape": "Se"
                    },
                    "workspaceName": {
                        "shape": "Si"
                    },
                    "workspaceNotificationDestinations": {
                        "shape": "Sj"
                    },
                    "workspaceOrganizationalUnits": {
                        "shape": "Sm"
                    },
                    "workspaceRoleArn": {
                        "shape": "Sz"
                    },
                    "grafanaVersion": {},
                    "networkAccessControl": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspace"
                ],
                "members": {
                    "workspace": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "CreateWorkspaceApiKey": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/apikeys",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "keyName",
                    "keyRole",
                    "secondsToLive",
                    "workspaceId"
                ],
                "members": {
                    "keyName": {},
                    "keyRole": {},
                    "secondsToLive": {
                        "type": "integer"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "key",
                    "keyName",
                    "workspaceId"
                ],
                "members": {
                    "key": {
                        "type": "string",
                        "sensitive": true
                    },
                    "keyName": {},
                    "workspaceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DeleteWorkspace": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workspaces/{workspaceId}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspace"
                ],
                "members": {
                    "workspace": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DeleteWorkspaceApiKey": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workspaces/{workspaceId}/apikeys/{keyName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "keyName",
                    "workspaceId"
                ],
                "members": {
                    "keyName": {
                        "location": "uri",
                        "locationName": "keyName"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "keyName",
                    "workspaceId"
                ],
                "members": {
                    "keyName": {},
                    "workspaceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DescribeWorkspace": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspace"
                ],
                "members": {
                    "workspace": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DescribeWorkspaceAuthentication": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}/authentication",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "authentication"
                ],
                "members": {
                    "authentication": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DescribeWorkspaceConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuration"
                ],
                "members": {
                    "configuration": {
                        "jsonvalue": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DisassociateLicense": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workspaces/{workspaceId}/licenses/{licenseType}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "licenseType",
                    "workspaceId"
                ],
                "members": {
                    "licenseType": {
                        "location": "uri",
                        "locationName": "licenseType"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspace"
                ],
                "members": {
                    "workspace": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "ListPermissions": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}/permissions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "groupId": {
                        "location": "querystring",
                        "locationName": "groupId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "userId": {
                        "location": "querystring",
                        "locationName": "userId"
                    },
                    "userType": {
                        "location": "querystring",
                        "locationName": "userType"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "permissions"
                ],
                "members": {
                    "nextToken": {},
                    "permissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "role",
                                "user"
                            ],
                            "members": {
                                "role": {},
                                "user": {
                                    "shape": "S2a"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "ListWorkspaces": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspaces"
                ],
                "members": {
                    "nextToken": {},
                    "workspaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "authentication",
                                "created",
                                "endpoint",
                                "grafanaVersion",
                                "id",
                                "modified",
                                "status"
                            ],
                            "members": {
                                "authentication": {
                                    "shape": "S7"
                                },
                                "created": {
                                    "type": "timestamp"
                                },
                                "description": {
                                    "shape": "Se"
                                },
                                "endpoint": {},
                                "grafanaVersion": {},
                                "id": {},
                                "modified": {
                                    "type": "timestamp"
                                },
                                "name": {
                                    "shape": "Si"
                                },
                                "notificationDestinations": {
                                    "shape": "Sj"
                                },
                                "status": {},
                                "tags": {
                                    "shape": "Sr"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "UpdatePermissions": {
            "http": {
                "method": "PATCH",
                "requestUri": "/workspaces/{workspaceId}/permissions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "updateInstructionBatch",
                    "workspaceId"
                ],
                "members": {
                    "updateInstructionBatch": {
                        "type": "list",
                        "member": {
                            "shape": "S2p"
                        }
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errors"
                ],
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "causedBy",
                                "code",
                                "message"
                            ],
                            "members": {
                                "causedBy": {
                                    "shape": "S2p"
                                },
                                "code": {
                                    "type": "integer"
                                },
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "UpdateWorkspace": {
            "http": {
                "method": "PUT",
                "requestUri": "/workspaces/{workspaceId}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "accountAccessType": {},
                    "organizationRoleName": {
                        "shape": "Sl"
                    },
                    "permissionType": {},
                    "removeVpcConfiguration": {
                        "type": "boolean"
                    },
                    "stackSetName": {},
                    "vpcConfiguration": {
                        "shape": "Su"
                    },
                    "workspaceDataSources": {
                        "shape": "Sc"
                    },
                    "workspaceDescription": {
                        "shape": "Se"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "workspaceName": {
                        "shape": "Si"
                    },
                    "workspaceNotificationDestinations": {
                        "shape": "Sj"
                    },
                    "workspaceOrganizationalUnits": {
                        "shape": "Sm"
                    },
                    "workspaceRoleArn": {
                        "shape": "Sz"
                    },
                    "networkAccessControl": {
                        "shape": "Sj"
                    },
                    "removeNetworkAccessConfiguration": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspace"
                ],
                "members": {
                    "workspace": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "UpdateWorkspaceAuthentication": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/authentication",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "authenticationProviders",
                    "workspaceId"
                ],
                "members": {
                    "authenticationProviders": {
                        "shape": "S8"
                    },
                    "samlConfiguration": {
                        "shape": "S1m"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "authentication"
                ],
                "members": {
                    "authentication": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "UpdateWorkspaceConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/workspaces/{workspaceId}/configuration",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuration",
                    "workspaceId"
                ],
                "members": {
                    "configuration": {
                        "jsonvalue": true
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "grafanaVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "ListVersions": {
            "name": "ListVersions",
            "http": {
                "method": "GET",
                "requestUri": "/versions",
                "responseCode": 200
            },
            "input": {
                "shape": "ListVersionsRequest",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "workspaceId": {
                        "location": "querystring",
                        "locationName": "workspace-id"
                    }
                }
            },
            "output": {
                "shape": "ListVersionsResponse"
            },
            "errors": [
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "CreateWorkspaceServiceAccount": {
            "name": "CreateWorkspaceServiceAccount",
            "http": {
                "method": "POST",
                "requestUri": "/workspaces/{workspaceId}/serviceaccounts",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateWorkspaceServiceAccountRequest"
            },
            "output": {
                "shape": "CreateWorkspaceServiceAccountResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DeleteWorkspaceServiceAccount": {
            "name": "DeleteWorkspaceServiceAccount",
            "http": {
                "method": "DELETE",
                "requestUri": "/workspaces/{workspaceId}/serviceaccounts/{serviceAccountId}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteWorkspaceServiceAccountRequest"
            },
            "output": {
                "shape": "DeleteWorkspaceServiceAccountResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "ListWorkspaceServiceAccounts": {
            "name": "ListWorkspaceServiceAccounts",
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}/serviceaccounts",
                "responseCode": 200
            },
            "input": {
                "shape": "ListWorkspaceServiceAccountsRequest"
            },
            "output": {
                "shape": "ListWorkspaceServiceAccountsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "CreateWorkspaceServiceAccountToken": {
            "name": "CreateWorkspaceServiceAccountToken",
            "http": {
                "method": "POST",
                "requestUri": "/workspaces/{workspaceId}/serviceaccounts/{serviceAccountId}/tokens",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateWorkspaceServiceAccountTokenRequest"
            },
            "output": {
                "shape": "CreateWorkspaceServiceAccountTokenResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DeleteWorkspaceServiceAccountToken": {
            "name": "DeleteWorkspaceServiceAccountToken",
            "http": {
                "method": "DELETE",
                "requestUri": "/workspaces/{workspaceId}/serviceaccounts/{serviceAccountId}/tokens/{tokenId}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteWorkspaceServiceAccountTokenRequest"
            },
            "output": {
                "shape": "DeleteWorkspaceServiceAccountTokenResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
[...]
