{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-18",
        "endpointPrefix": "grafana",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Managed Grafana",
        "serviceId": "grafana",
        "signatureVersion": "v4",
        "signingName": "grafana",
        "uid": "grafana-2020-08-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateLicense": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/licenses/{licenseType}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "licenseType",
                    "workspaceId"
                ],
                "members": {
                    "licenseType": {
                        "location": "uri",
                        "locationName": "licenseType"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "grafanaToken": {
                        "location": "header",
                        "locationName": "Grafana-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspace"
                ],
                "members": {
                    "workspace": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateWorkspace": {
            "http": {
                "requestUri": "/workspaces",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountAccessType",
                    "authenticationProviders",
                    "permissionType"
                ],
                "members": {
                    "accountAccessType": {},
                    "authenticationProviders": {
                        "shape": "S8"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "configuration": {
                        "jsonvalue": true
                    },
                    "organizationRoleName": {
                        "shape": "Sl"
                    },
                    "permissionType": {},
                    "stackSetName": {},
                    "tags": {
                        "shape": "Sr"
                    },
                    "vpcConfiguration": {
                        "shape": "Su"
                    },
                    "workspaceDataSources": {
                        "shape": "Sc"
                    },
                    "workspaceDescription": {
                        "shape": "Se"
                    },
                    "workspaceName": {
                        "shape": "Si"
                    },
                    "workspaceNotificationDestinations": {
                        "shape": "Sj"
                    },
                    "workspaceOrganizationalUnits": {
                        "shape": "Sm"
                    },
                    "workspaceRoleArn": {
                        "shape": "Sz"
                    },
                    "grafanaVersion": {},
                    "networkAccessControl": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspace"
                ],
                "members": {
                    "workspace": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateWorkspaceApiKey": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/apikeys",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "keyName",
                    "keyRole",
                    "secondsToLive",
                    "workspaceId"
                ],
                "members": {
                    "keyName": {},
                    "keyRole": {},
                    "secondsToLive": {
                        "type": "integer"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "key",
                    "keyName",
                    "workspaceId"
                ],
                "members": {
                    "key": {
                        "type": "string",
                        "sensitive": true
                    },
                    "keyName": {},
                    "workspaceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteWorkspace": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workspaces/{workspaceId}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspace"
                ],
                "members": {
                    "workspace": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteWorkspaceApiKey": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workspaces/{workspaceId}/apikeys/{keyName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "keyName",
                    "workspaceId"
                ],
                "members": {
                    "keyName": {
                        "location": "uri",
                        "locationName": "keyName"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "keyName",
                    "workspaceId"
                ],
                "members": {
                    "keyName": {},
                    "workspaceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeWorkspace": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspace"
                ],
                "members": {
                    "workspace": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeWorkspaceAuthentication": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}/authentication",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "authentication"
                ],
                "members": {
                    "authentication": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeWorkspaceConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuration"
                ],
                "members": {
                    "configuration": {
                        "jsonvalue": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DisassociateLicense": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workspaces/{workspaceId}/licenses/{licenseType}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "licenseType",
                    "workspaceId"
                ],
                "members": {
                    "licenseType": {
                        "location": "uri",
                        "locationName": "licenseType"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspace"
                ],
                "members": {
                    "workspace": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListPermissions": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}/permissions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "groupId": {
                        "location": "querystring",
                        "locationName": "groupId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "userId": {
                        "location": "querystring",
                        "locationName": "userId"
                    },
                    "userType": {
                        "location": "querystring",
                        "locationName": "userType"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "permissions"
                ],
                "members": {
                    "nextToken": {},
                    "permissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "role",
                                "user"
                            ],
                            "members": {
                                "role": {},
                                "user": {
                                    "shape": "S2a"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListWorkspaces": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspaces"
                ],
                "members": {
                    "nextToken": {},
                    "workspaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "authentication",
                                "created",
                                "endpoint",
                                "grafanaVersion",
                                "id",
                                "modified",
                                "status"
                            ],
                            "members": {
                                "authentication": {
                                    "shape": "S7"
                                },
                                "created": {
                                    "type": "timestamp"
                                },
                                "description": {
                                    "shape": "Se"
                                },
                                "endpoint": {},
                                "grafanaVersion": {},
                                "id": {},
                                "modified": {
                                    "type": "timestamp"
                                },
                                "name": {
                                    "shape": "Si"
                                },
                                "notificationDestinations": {
                                    "shape": "Sj"
                                },
                                "status": {},
                                "tags": {
                                    "shape": "Sr"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdatePermissions": {
            "http": {
                "method": "PATCH",
                "requestUri": "/workspaces/{workspaceId}/permissions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "updateInstructionBatch",
                    "workspaceId"
                ],
                "members": {
                    "updateInstructionBatch": {
                        "type": "list",
                        "member": {
                            "shape": "S2p"
                        }
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errors"
                ],
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "causedBy",
                                "code",
                                "message"
                            ],
                            "members": {
                                "causedBy": {
                                    "shape": "S2p"
                                },
                                "code": {
                                    "type": "integer"
                                },
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateWorkspace": {
            "http": {
                "method": "PUT",
                "requestUri": "/workspaces/{workspaceId}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "accountAccessType": {},
                    "organizationRoleName": {
                        "shape": "Sl"
                    },
                    "permissionType": {},
                    "removeVpcConfiguration": {
                        "type": "boolean"
                    },
                    "stackSetName": {},
                    "vpcConfiguration": {
                        "shape": "Su"
                    },
                    "workspaceDataSources": {
                        "shape": "Sc"
                    },
                    "workspaceDescription": {
                        "shape": "Se"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "workspaceName": {
                        "shape": "Si"
                    },
                    "workspaceNotificationDestinations": {
                        "shape": "Sj"
                    },
                    "workspaceOrganizationalUnits": {
                        "shape": "Sm"
                    },
                    "workspaceRoleArn": {
                        "shape": "Sz"
                    },
                    "networkAccessControl": {
                        "shape": "Sj"
                    },
                    "removeNetworkAccessConfiguration": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspace"
                ],
                "members": {
                    "workspace": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateWorkspaceAuthentication": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/authentication",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "authenticationProviders",
                    "workspaceId"
                ],
                "members": {
                    "authenticationProviders": {
                        "shape": "S8"
                    },
                    "samlConfiguration": {
                        "shape": "S1m"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "authentication"
                ],
                "members": {
                    "authentication": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateWorkspaceConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/workspaces/{workspaceId}/configuration",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuration",
                    "workspaceId"
                ],
                "members": {
                    "configuration": {
                        "jsonvalue": true
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "grafanaVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListVersions": {
            "name": "ListVersions",
            "http": {
                "method": "GET",
                "requestUri": "/versions",
                "responseCode": 200
            },
            "input": {
                "shape": "ListVersionsRequest",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "workspaceId": {
                        "location": "querystring",
                        "locationName": "workspace-id"
                    }
                }
            },
            "output": {
                "shape": "ListVersionsResponse"
            },
            "errors": [
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateWorkspaceServiceAccount": {
            "name": "CreateWorkspaceServiceAccount",
            "http": {
                "method": "POST",
                "requestUri": "/workspaces/{workspaceId}/serviceaccounts",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateWorkspaceServiceAccountRequest",
                "members": {
                    "grafanaRole": {},
                    "name": {},
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "shape": "CreateWorkspaceServiceAccountResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OH7TN4T6KGVPO6AUNS3772BI5N3ERPF74QKJCXWUJ2JQABECZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZCZ2AUIDRGLUIDMHHHNQ2IODIIEV2GZXTMIORC7S3CX7EZWZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHZEC4H2JC7F5JYVDULPVUOMYT6E5JTEEDHPGM3GV6VV5QO24UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQGPRN2YU44DEUSC5IKCHMDLTPTHWCTCC6DFFUTSWDQNYSHIK25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js"
            ]
        },
        "DeleteWorkspaceServiceAccount": {
            "name": "DeleteWorkspaceServiceAccount",
            "http": {
                "method": "DELETE",
                "requestUri": "/workspaces/{workspaceId}/serviceaccounts/{serviceAccountId}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteWorkspaceServiceAccountRequest",
                "members": {
                    "serviceAccountId": {
                        "location": "uri",
                        "locationName": "serviceAccountId"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "shape": "DeleteWorkspaceServiceAccountResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OH7TN4T6KGVPO6AUNS3772BI5N3ERPF74QKJCXWUJ2JQABECZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZCZ2AUIDRGLUIDMHHHNQ2IODIIEV2GZXTMIORC7S3CX7EZWZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHZEC4H2JC7F5JYVDULPVUOMYT6E5JTEEDHPGM3GV6VV5QO24UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQGPRN2YU44DEUSC5IKCHMDLTPTHWCTCC6DFFUTSWDQNYSHIK25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRIFW3QOBYMYY6TDQKNIV2HQE4O63KRPUE7N75LDHKLM4C6NJLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F4XAHZ6KS2ZCLNTN4O7W2GMOEFPKLAY6FZL56KOZKQO4ED5EDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWGWAWRILLN5YM3AZBIFXV2ZO72QOAXD7L2XKFQIVARW7KV3DO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJGRPUO4RORKO2CBE27KHGYE7L3CQRDPOSVR357BIWPCFMH7GY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZHLNJTNIV3JGLNVSGP42EBM4NAZWYPZPK5WY3ESWLES6TLZY2CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63HWAAVMERA5PRTFGYBI33CJ6P74LOQFOE2UGDKA537UOHYTHLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKVSVTDTPTU2A2WDTUHTL2RJJUNQJ5AMKSSTNC3HMUQW4EO6JWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js"
            ]
        },
        "ListWorkspaceServiceAccounts": {
            "name": "ListWorkspaceServiceAccounts",
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}/serviceaccounts",
                "responseCode": 200
            },
            "input": {
                "shape": "ListWorkspaceServiceAccountsRequest",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "shape": "ListWorkspaceServiceAccountsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OH7TN4T6KGVPO6AUNS3772BI5N3ERPF74QKJCXWUJ2JQABECZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZCZ2AUIDRGLUIDMHHHNQ2IODIIEV2GZXTMIORC7S3CX7EZWZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHZEC4H2JC7F5JYVDULPVUOMYT6E5JTEEDHPGM3GV6VV5QO24UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQGPRN2YU44DEUSC5IKCHMDLTPTHWCTCC6DFFUTSWDQNYSHIK25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37PVDYYNVY2NEOJO6Z6ZXTZX5ROTZPDX3OF2373MUDBIVZCKMOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6TQKJ4WYQ6FLERSDNHBAYIDY4TAAKOXBTH3REL5NMBYJ7JY4V5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XZG2LAOIJEW7OEPA2X35LGMFLN2VSLOQN4SUL6ZGWGL7H53TYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LF2ZWNQI7P3ML5JNUKDSM5VIHEGR3M4MRZN4PBGC7K77Y3QYFDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFWYW67QJBJXC5QE5QFNNEMKTMBW65STUJPTKDXUR5VMNQC6CGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76CBNTGYU23GXRYTNYAUL7CV3LAEAG5MAIGHJC3WOPELJBBQXPFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIUY7POLNXEVEVLTX4PDSWIKPBWAUJE7CMKX7MYFIA33RLV5N7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKITROUCE54FQDFBBAOZ7CI2BKLHBBRNW73YRZ7FGY5DQS3LASAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USJ6IRRMFPPWGMZZZH6UXHVZI5JZR5AENNRDEPMSPOIYL7J33ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYFWB5YMETJMRO4IZ6XMBMIFTWAGXFYBEHFHOCT2GV6KOO2SHVWQ/vendors.js",
[...]
