{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-11-30",
        "endpointPrefix": "greengrass",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWS GreengrassV2",
        "serviceFullName": "AWS IoT Greengrass V2",
        "serviceId": "GreengrassV2",
        "signatureVersion": "v4",
        "uid": "greengrassv2-2020-11-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
            "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateServiceRoleToAccount": {
            "http": {
                "method": "PUT",
                "requestUri": "/greengrass/servicerole",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "roleArn"
                ],
                "members": {
                    "roleArn": {
                        "locationName": "RoleArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedAt": {
                        "locationName": "AssociatedAt"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCIWBVH2AE2UANYC7DZQJNWDMN4QISYXGUIAKSEAZA5NKAM2BCIQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3JO5ILO5ANLDDKU6U3U526V6Z2VHDWZCLCUA5X33XT2MZO5DQHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUCNNZYH7RWEGRRTN7JA6VOJDE2EDP7FUVOX3ZR4MU32TFCX3UTA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH23NGPRO7ZE4EAOCOBMVJY2LWLUMGM3DIXETAX7MJ4JJ5P7LCIQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IL6TRV6PKKHEYYGQL5524EHXCJTZG6ENSZLPEQXM4NMCEBYSXKA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4I5GAW36MRXXZD6OBUXDIDBK2SBMAWYKIODO2SUTSBRUBTJUSQQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchAssociateClientDeviceWithCoreDevice": {
            "http": {
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/associateClientDevices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "thingName"
                            ],
                            "members": {
                                "thingName": {}
                            }
                        }
                    },
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "thingName": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IL6TRV6PKKHEYYGQL5524EHXCJTZG6ENSZLPEQXM4NMCEBYSXKA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4I5GAW36MRXXZD6OBUXDIDBK2SBMAWYKIODO2SUTSBRUBTJUSQQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchDisassociateClientDeviceFromCoreDevice": {
            "http": {
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/disassociateClientDevices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "thingName"
                            ],
                            "members": {
                                "thingName": {}
                            }
                        }
                    },
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "thingName": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IL6TRV6PKKHEYYGQL5524EHXCJTZG6ENSZLPEQXM4NMCEBYSXKA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4I5GAW36MRXXZD6OBUXDIDBK2SBMAWYKIODO2SUTSBRUBTJUSQQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CancelDeployment": {
            "http": {
                "requestUri": "/greengrass/v2/deployments/{deploymentId}/cancel"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateComponentVersion": {
            "http": {
                "requestUri": "/greengrass/v2/createComponentVersion",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "inlineRecipe": {
                        "type": "blob"
                    },
                    "lambdaFunction": {
                        "type": "structure",
                        "required": [
                            "lambdaArn"
                        ],
                        "members": {
                            "lambdaArn": {},
                            "componentName": {},
                            "componentVersion": {},
                            "componentPlatforms": {
                                "shape": "Sp"
                            },
                            "componentDependencies": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "versionRequirement": {},
                                        "dependencyType": {}
                                    }
                                }
                            },
                            "componentLambdaParameters": {
                                "type": "structure",
                                "members": {
                                    "eventSources": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "topic",
                                                "type"
                                            ],
                                            "members": {
                                                "topic": {},
                                                "type": {}
                                            }
                                        }
                                    },
                                    "maxQueueSize": {
                                        "type": "integer"
                                    },
                                    "maxInstancesCount": {
                                        "type": "integer"
                                    },
                                    "maxIdleTimeInSeconds": {
                                        "type": "integer"
                                    },
                                    "timeoutInSeconds": {
                                        "type": "integer"
                                    },
                                    "statusTimeoutInSeconds": {
                                        "type": "integer"
                                    },
                                    "pinned": {
                                        "type": "boolean"
                                    },
                                    "inputPayloadEncodingType": {},
                                    "execArgs": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "environmentVariables": {
                                        "type": "map",
                                        "key": {},
                                        "value": {}
                                    },
                                    "linuxProcessParams": {
                                        "type": "structure",
                                        "members": {
                                            "isolationMode": {},
                                            "containerParams": {
                                                "type": "structure",
                                                "members": {
                                                    "memorySizeInKB": {
                                                        "type": "integer"
                                                    },
                                                    "mountROSysfs": {
                                                        "type": "boolean"
                                                    },
                                                    "volumes": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "required": [
                                                                "sourcePath",
                                                                "destinationPath"
                                                            ],
                                                            "members": {
                                                                "sourcePath": {},
                                                                "destinationPath": {},
                                                                "permission": {},
                                                                "addGroupOwner": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "devices": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "required": [
                                                                "path"
                                                            ],
                                                            "members": {
                                                                "path": {},
                                                                "permission": {},
                                                                "addGroupOwner": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "S1f"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "componentName",
                    "componentVersion",
                    "creationTimestamp",
                    "status"
                ],
                "members": {
                    "arn": {},
                    "componentName": {},
                    "componentVersion": {},
                    "creationTimestamp": {
                        "type": "timestamp"
                    },
                    "status": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDeployment": {
            "http": {
                "requestUri": "/greengrass/v2/deployments",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetArn"
                ],
                "members": {
                    "targetArn": {},
                    "deploymentName": {},
                    "components": {
                        "shape": "S1t"
                    },
                    "iotJobConfiguration": {
                        "shape": "S23"
                    },
                    "deploymentPolicies": {
                        "shape": "S2k"
                    },
                    "parentTargetArn": {},
                    "tags": {
                        "shape": "S1f"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deploymentId": {},
                    "iotJobId": {},
                    "iotJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteComponent": {
            "http": {
                "method": "DELETE",
                "requestUri": "/greengrass/v2/components/{arn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteCoreDevice": {
            "http": {
                "method": "DELETE",
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDeployment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/greengrass/v2/deployments/{deploymentId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCIWBVH2AE2UANYC7DZQJNWDMN4QISYXGUIAKSEAZA5NKAM2BCIQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3JO5ILO5ANLDDKU6U3U526V6Z2VHDWZCLCUA5X33XT2MZO5DQHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUCNNZYH7RWEGRRTN7JA6VOJDE2EDP7FUVOX3ZR4MU32TFCX3UTA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH23NGPRO7ZE4EAOCOBMVJY2LWLUMGM3DIXETAX7MJ4JJ5P7LCIQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IL6TRV6PKKHEYYGQL5524EHXCJTZG6ENSZLPEQXM4NMCEBYSXKA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4I5GAW36MRXXZD6OBUXDIDBK2SBMAWYKIODO2SUTSBRUBTJUSQQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeComponent": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components/{arn}/metadata"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "componentName": {},
                    "componentVersion": {},
                    "creationTimestamp": {
                        "type": "timestamp"
                    },
                    "publisher": {},
                    "description": {},
                    "status": {
                        "shape": "S1m"
                    },
                    "platforms": {
                        "shape": "Sp"
                    },
                    "tags": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateServiceRoleFromAccount": {
            "http": {
                "method": "DELETE",
                "requestUri": "/greengrass/servicerole",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "disassociatedAt": {
                        "locationName": "DisassociatedAt"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCIWBVH2AE2UANYC7DZQJNWDMN4QISYXGUIAKSEAZA5NKAM2BCIQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3JO5ILO5ANLDDKU6U3U526V6Z2VHDWZCLCUA5X33XT2MZO5DQHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUCNNZYH7RWEGRRTN7JA6VOJDE2EDP7FUVOX3ZR4MU32TFCX3UTA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH23NGPRO7ZE4EAOCOBMVJY2LWLUMGM3DIXETAX7MJ4JJ5P7LCIQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IL6TRV6PKKHEYYGQL5524EHXCJTZG6ENSZLPEQXM4NMCEBYSXKA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4I5GAW36MRXXZD6OBUXDIDBK2SBMAWYKIODO2SUTSBRUBTJUSQQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetComponent": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components/{arn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "recipeOutputFormat": {
                        "location": "querystring",
                        "locationName": "recipeOutputFormat"
                    },
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "recipeOutputFormat",
                    "recipe"
                ],
                "members": {
                    "recipeOutputFormat": {},
                    "recipe": {
                        "type": "blob"
                    },
                    "tags": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetComponentVersionArtifact": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components/{arn}/artifacts/{artifactName+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "artifactName"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "artifactName": {
                        "location": "uri",
                        "locationName": "artifactName"
                    },
                    "s3EndpointType": {
                        "location": "querystring",
                        "locationName": "s3EndpointType"
                    },
                    "iotEndpointType": {
                        "location": "header",
                        "locationName": "x-amz-iot-endpoint-type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "preSignedUrl"
                ],
                "members": {
                    "preSignedUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetConnectivityInfo": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/things/{thingName}/connectivityInfo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "thingName"
                ],
                "members": {
                    "thingName": {
                        "location": "uri",
                        "locationName": "thingName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectivityInfo": {
                        "shape": "S39",
                        "locationName": "ConnectivityInfo"
                    },
                    "message": {
                        "locationName": "Message"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCIWBVH2AE2UANYC7DZQJNWDMN4QISYXGUIAKSEAZA5NKAM2BCIQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3JO5ILO5ANLDDKU6U3U526V6Z2VHDWZCLCUA5X33XT2MZO5DQHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUCNNZYH7RWEGRRTN7JA6VOJDE2EDP7FUVOX3ZR4MU32TFCX3UTA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH23NGPRO7ZE4EAOCOBMVJY2LWLUMGM3DIXETAX7MJ4JJ5P7LCIQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IL6TRV6PKKHEYYGQL5524EHXCJTZG6ENSZLPEQXM4NMCEBYSXKA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4I5GAW36MRXXZD6OBUXDIDBK2SBMAWYKIODO2SUTSBRUBTJUSQQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetCoreDevice": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "coreDeviceThingName": {},
                    "coreVersion": {},
                    "platform": {},
                    "architecture": {},
                    "status": {},
                    "lastStatusUpdateTimestamp": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDeployment": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/deployments/{deploymentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetArn": {},
                    "revisionId": {},
                    "deploymentId": {},
                    "deploymentName": {},
                    "deploymentStatus": {},
                    "iotJobId": {},
                    "iotJobArn": {},
                    "components": {
                        "shape": "S1t"
                    },
                    "deploymentPolicies": {
                        "shape": "S2k"
                    },
                    "iotJobConfiguration": {
                        "shape": "S23"
                    },
                    "creationTimestamp": {
                        "type": "timestamp"
                    },
                    "isLatestForTarget": {
                        "type": "boolean"
                    },
                    "parentTargetArn": {},
                    "tags": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetServiceRoleForAccount": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/servicerole",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedAt": {
                        "locationName": "AssociatedAt"
                    },
                    "roleArn": {
                        "locationName": "RoleArn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCIWBVH2AE2UANYC7DZQJNWDMN4QISYXGUIAKSEAZA5NKAM2BCIQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3JO5ILO5ANLDDKU6U3U526V6Z2VHDWZCLCUA5X33XT2MZO5DQHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUCNNZYH7RWEGRRTN7JA6VOJDE2EDP7FUVOX3ZR4MU32TFCX3UTA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH23NGPRO7ZE4EAOCOBMVJY2LWLUMGM3DIXETAX7MJ4JJ5P7LCIQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IL6TRV6PKKHEYYGQL5524EHXCJTZG6ENSZLPEQXM4NMCEBYSXKA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4I5GAW36MRXXZD6OBUXDIDBK2SBMAWYKIODO2SUTSBRUBTJUSQQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListClientDevicesAssociatedWithCoreDevice": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/associatedClientDevices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedClientDevices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "thingName": {},
                                "associationTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IL6TRV6PKKHEYYGQL5524EHXCJTZG6ENSZLPEQXM4NMCEBYSXKA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4I5GAW36MRXXZD6OBUXDIDBK2SBMAWYKIODO2SUTSBRUBTJUSQQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListComponentVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components/{arn}/versions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "componentVersions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "componentName": {},
                                "componentVersion": {},
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListComponents": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components"
            },
            "input": {
                "type": "structure",
                "members": {
                    "scope": {
                        "location": "querystring",
                        "locationName": "scope"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "components": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "componentName": {},
                                "latestVersion": {
                                    "type": "structure",
                                    "members": {
                                        "arn": {},
                                        "componentVersion": {},
                                        "creationTimestamp": {
                                            "type": "timestamp"
                                        },
                                        "description": {},
                                        "publisher": {},
                                        "platforms": {
                                            "shape": "Sp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListCoreDevices": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/coreDevices"
            },
            "input": {
                "type": "structure",
                "members": {
                    "thingGroupArn": {
                        "location": "querystring",
                        "locationName": "thingGroupArn"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "runtime": {
                        "location": "querystring",
                        "locationName": "runtime"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "coreDevices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "coreDeviceThingName": {},
                                "status": {},
                                "lastStatusUpdateTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListDeployments": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/deployments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "targetArn": {
                        "location": "querystring",
                        "locationName": "targetArn"
                    },
                    "historyFilter": {
                        "location": "querystring",
                        "locationName": "historyFilter"
                    },
                    "parentTargetArn": {
                        "location": "querystring",
                        "locationName": "parentTargetArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
[...]
