{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-11-30",
        "endpointPrefix": "greengrass",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWS GreengrassV2",
        "serviceFullName": "AWS IoT Greengrass V2",
        "serviceId": "GreengrassV2",
        "signatureVersion": "v4",
        "uid": "greengrassv2-2020-11-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateServiceRoleToAccount": {
            "http": {
                "method": "PUT",
                "requestUri": "/greengrass/servicerole",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "roleArn"
                ],
                "members": {
                    "roleArn": {
                        "locationName": "RoleArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedAt": {
                        "locationName": "AssociatedAt"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQTUZCXIS3HIDLTXOCAUUITJXDXJVKGTXN5TW7ZXNIXCZHCY5WEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIPLEVUS7JDF2GGWHCITEIIEKWTTJ5FKVRP2YFLM7LRXMGOXZZ3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "BatchAssociateClientDeviceWithCoreDevice": {
            "http": {
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/associateClientDevices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "thingName"
                            ],
                            "members": {
                                "thingName": {}
                            }
                        }
                    },
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "thingName": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "BatchDisassociateClientDeviceFromCoreDevice": {
            "http": {
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/disassociateClientDevices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "thingName"
                            ],
                            "members": {
                                "thingName": {}
                            }
                        }
                    },
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "thingName": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "CancelDeployment": {
            "http": {
                "requestUri": "/greengrass/v2/deployments/{deploymentId}/cancel"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "CreateComponentVersion": {
            "http": {
                "requestUri": "/greengrass/v2/createComponentVersion",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "inlineRecipe": {
                        "type": "blob"
                    },
                    "lambdaFunction": {
                        "type": "structure",
                        "required": [
                            "lambdaArn"
                        ],
                        "members": {
                            "lambdaArn": {},
                            "componentName": {},
                            "componentVersion": {},
                            "componentPlatforms": {
                                "shape": "Sp"
                            },
                            "componentDependencies": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "versionRequirement": {},
                                        "dependencyType": {}
                                    }
                                }
                            },
                            "componentLambdaParameters": {
                                "type": "structure",
                                "members": {
                                    "eventSources": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "topic",
                                                "type"
                                            ],
                                            "members": {
                                                "topic": {},
                                                "type": {}
                                            }
                                        }
                                    },
                                    "maxQueueSize": {
                                        "type": "integer"
                                    },
                                    "maxInstancesCount": {
                                        "type": "integer"
                                    },
                                    "maxIdleTimeInSeconds": {
                                        "type": "integer"
                                    },
                                    "timeoutInSeconds": {
                                        "type": "integer"
                                    },
                                    "statusTimeoutInSeconds": {
                                        "type": "integer"
                                    },
                                    "pinned": {
                                        "type": "boolean"
                                    },
                                    "inputPayloadEncodingType": {},
                                    "execArgs": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "environmentVariables": {
                                        "type": "map",
                                        "key": {},
                                        "value": {}
                                    },
                                    "linuxProcessParams": {
                                        "type": "structure",
                                        "members": {
                                            "isolationMode": {},
                                            "containerParams": {
                                                "type": "structure",
                                                "members": {
                                                    "memorySizeInKB": {
                                                        "type": "integer"
                                                    },
                                                    "mountROSysfs": {
                                                        "type": "boolean"
                                                    },
                                                    "volumes": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "required": [
                                                                "sourcePath",
                                                                "destinationPath"
                                                            ],
                                                            "members": {
                                                                "sourcePath": {},
                                                                "destinationPath": {},
                                                                "permission": {},
                                                                "addGroupOwner": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "devices": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "required": [
                                                                "path"
                                                            ],
                                                            "members": {
                                                                "path": {},
                                                                "permission": {},
                                                                "addGroupOwner": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "S1f"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "componentName",
                    "componentVersion",
                    "creationTimestamp",
                    "status"
                ],
                "members": {
                    "arn": {},
                    "componentName": {},
                    "componentVersion": {},
                    "creationTimestamp": {
                        "type": "timestamp"
                    },
                    "status": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "CreateDeployment": {
            "http": {
                "requestUri": "/greengrass/v2/deployments",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetArn"
                ],
                "members": {
                    "targetArn": {},
                    "deploymentName": {},
                    "components": {
                        "shape": "S1t"
                    },
                    "iotJobConfiguration": {
                        "shape": "S23"
                    },
                    "deploymentPolicies": {
                        "shape": "S2k"
                    },
                    "parentTargetArn": {},
                    "tags": {
                        "shape": "S1f"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deploymentId": {},
                    "iotJobId": {},
                    "iotJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DeleteComponent": {
            "http": {
                "method": "DELETE",
                "requestUri": "/greengrass/v2/components/{arn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DeleteCoreDevice": {
            "http": {
                "method": "DELETE",
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DeleteDeployment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/greengrass/v2/deployments/{deploymentId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQTUZCXIS3HIDLTXOCAUUITJXDXJVKGTXN5TW7ZXNIXCZHCY5WEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIPLEVUS7JDF2GGWHCITEIIEKWTTJ5FKVRP2YFLM7LRXMGOXZZ3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DescribeComponent": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components/{arn}/metadata"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "componentName": {},
                    "componentVersion": {},
                    "creationTimestamp": {
                        "type": "timestamp"
                    },
                    "publisher": {},
                    "description": {},
                    "status": {
                        "shape": "S1m"
                    },
                    "platforms": {
                        "shape": "Sp"
                    },
                    "tags": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DisassociateServiceRoleFromAccount": {
            "http": {
                "method": "DELETE",
                "requestUri": "/greengrass/servicerole",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "disassociatedAt": {
                        "locationName": "DisassociatedAt"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQTUZCXIS3HIDLTXOCAUUITJXDXJVKGTXN5TW7ZXNIXCZHCY5WEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIPLEVUS7JDF2GGWHCITEIIEKWTTJ5FKVRP2YFLM7LRXMGOXZZ3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetComponent": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components/{arn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "recipeOutputFormat": {
                        "location": "querystring",
                        "locationName": "recipeOutputFormat"
                    },
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "recipeOutputFormat",
                    "recipe"
                ],
                "members": {
                    "recipeOutputFormat": {},
                    "recipe": {
                        "type": "blob"
                    },
                    "tags": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "GetComponentVersionArtifact": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components/{arn}/artifacts/{artifactName+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "artifactName"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "artifactName": {
                        "location": "uri",
                        "locationName": "artifactName"
                    },
                    "s3EndpointType": {
                        "location": "querystring",
                        "locationName": "s3EndpointType"
                    },
                    "iotEndpointType": {
                        "location": "header",
                        "locationName": "x-amz-iot-endpoint-type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "preSignedUrl"
                ],
                "members": {
                    "preSignedUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "GetConnectivityInfo": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/things/{thingName}/connectivityInfo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "thingName"
                ],
                "members": {
                    "thingName": {
                        "location": "uri",
                        "locationName": "thingName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectivityInfo": {
                        "shape": "S39",
                        "locationName": "ConnectivityInfo"
                    },
                    "message": {
                        "locationName": "Message"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQTUZCXIS3HIDLTXOCAUUITJXDXJVKGTXN5TW7ZXNIXCZHCY5WEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIPLEVUS7JDF2GGWHCITEIIEKWTTJ5FKVRP2YFLM7LRXMGOXZZ3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetCoreDevice": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "coreDeviceThingName": {},
                    "coreVersion": {},
                    "platform": {},
                    "architecture": {},
                    "status": {},
                    "lastStatusUpdateTimestamp": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "GetDeployment": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/deployments/{deploymentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetArn": {},
                    "revisionId": {},
                    "deploymentId": {},
                    "deploymentName": {},
                    "deploymentStatus": {},
                    "iotJobId": {},
                    "iotJobArn": {},
                    "components": {
                        "shape": "S1t"
                    },
                    "deploymentPolicies": {
                        "shape": "S2k"
                    },
                    "iotJobConfiguration": {
                        "shape": "S23"
                    },
                    "creationTimestamp": {
                        "type": "timestamp"
                    },
                    "isLatestForTarget": {
                        "type": "boolean"
                    },
                    "parentTargetArn": {},
                    "tags": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "GetServiceRoleForAccount": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/servicerole",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedAt": {
                        "locationName": "AssociatedAt"
                    },
                    "roleArn": {
                        "locationName": "RoleArn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQTUZCXIS3HIDLTXOCAUUITJXDXJVKGTXN5TW7ZXNIXCZHCY5WEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIPLEVUS7JDF2GGWHCITEIIEKWTTJ5FKVRP2YFLM7LRXMGOXZZ3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListClientDevicesAssociatedWithCoreDevice": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/associatedClientDevices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedClientDevices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "thingName": {},
                                "associationTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListComponentVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components/{arn}/versions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "componentVersions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "componentName": {},
                                "componentVersion": {},
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListComponents": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components"
            },
            "input": {
                "type": "structure",
                "members": {
                    "scope": {
                        "location": "querystring",
                        "locationName": "scope"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "components": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "componentName": {},
                                "latestVersion": {
                                    "type": "structure",
                                    "members": {
                                        "arn": {},
                                        "componentVersion": {},
                                        "creationTimestamp": {
                                            "type": "timestamp"
                                        },
                                        "description": {},
                                        "publisher": {},
                                        "platforms": {
                                            "shape": "Sp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListCoreDevices": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/coreDevices"
            },
            "input": {
                "type": "structure",
                "members": {
                    "thingGroupArn": {
                        "location": "querystring",
                        "locationName": "thingGroupArn"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "runtime": {
                        "location": "querystring",
                        "locationName": "runtime"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "coreDevices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "coreDeviceThingName": {},
                                "status": {},
                                "lastStatusUpdateTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVK2DHZFVERXJ46LHCKEVVQEUK5LVSNZWWVDLHVKSANKI7SC7KAQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXO3D72A2HKJRGT6VGIXPNIMPA5BLXE4MMJDRHGGNFRAAJFI6AJA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListDeployments": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/deployments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "targetArn": {
                        "location": "querystring",
                        "locationName": "targetArn"
                    },
                    "historyFilter": {
                        "location": "querystring",
                        "locationName": "historyFilter"
                    },
                    "parentTargetArn": {
                        "location": "querystring",
                        "locationName": "parentTargetArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
[...]
