{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-11-30",
        "endpointPrefix": "greengrass",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWS GreengrassV2",
        "serviceFullName": "AWS IoT Greengrass V2",
        "serviceId": "GreengrassV2",
        "signatureVersion": "v4",
        "uid": "greengrassv2-2020-11-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5WECH2BCOT4W3BTELOMDCGYYQ7RNE3LIYBVYKLE5FITE3EUIF3PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateServiceRoleToAccount": {
            "http": {
                "method": "PUT",
                "requestUri": "/greengrass/servicerole",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "roleArn"
                ],
                "members": {
                    "roleArn": {
                        "locationName": "RoleArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedAt": {
                        "locationName": "AssociatedAt"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDPTYEITRDKZ4RLHED7APV2LWGCQJIEWZVFWD3YF55EP3TSALHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMQ5LKTH32GD7KED3HKNBKECLTEUSQIUJ36FOX5UVPBYF7DGWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AV6SM57BTLDUDURF6P47WTLKVQ6RGUTNYPFDJVNCTTLBKJS53DIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRH4RO4T2ASI664FHA5UANXXKIWBWSQ77VDY4J2R7VE2DNMWVN4Q/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDG6A6MJKXOLXKSF26CZ6XFBPILY37FQTR43YUYKCGLB5I47R5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYV7RRHXAQYLVCH43TRNORARZXPALRQ3CNYQXVHN6E5FXIOAVIOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WECH2BCOT4W3BTELOMDCGYYQ7RNE3LIYBVYKLE5FITE3EUIF3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchAssociateClientDeviceWithCoreDevice": {
            "http": {
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/associateClientDevices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "thingName"
                            ],
                            "members": {
                                "thingName": {}
                            }
                        }
                    },
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "thingName": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMQ5LKTH32GD7KED3HKNBKECLTEUSQIUJ36FOX5UVPBYF7DGWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AV6SM57BTLDUDURF6P47WTLKVQ6RGUTNYPFDJVNCTTLBKJS53DIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRH4RO4T2ASI664FHA5UANXXKIWBWSQ77VDY4J2R7VE2DNMWVN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDG6A6MJKXOLXKSF26CZ6XFBPILY37FQTR43YUYKCGLB5I47R5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYV7RRHXAQYLVCH43TRNORARZXPALRQ3CNYQXVHN6E5FXIOAVIOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WECH2BCOT4W3BTELOMDCGYYQ7RNE3LIYBVYKLE5FITE3EUIF3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchDisassociateClientDeviceFromCoreDevice": {
            "http": {
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/disassociateClientDevices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "thingName"
                            ],
                            "members": {
                                "thingName": {}
                            }
                        }
                    },
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "thingName": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMQ5LKTH32GD7KED3HKNBKECLTEUSQIUJ36FOX5UVPBYF7DGWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AV6SM57BTLDUDURF6P47WTLKVQ6RGUTNYPFDJVNCTTLBKJS53DIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRH4RO4T2ASI664FHA5UANXXKIWBWSQ77VDY4J2R7VE2DNMWVN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDG6A6MJKXOLXKSF26CZ6XFBPILY37FQTR43YUYKCGLB5I47R5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYV7RRHXAQYLVCH43TRNORARZXPALRQ3CNYQXVHN6E5FXIOAVIOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WECH2BCOT4W3BTELOMDCGYYQ7RNE3LIYBVYKLE5FITE3EUIF3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CancelDeployment": {
            "http": {
                "requestUri": "/greengrass/v2/deployments/{deploymentId}/cancel"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateComponentVersion": {
            "http": {
                "requestUri": "/greengrass/v2/createComponentVersion",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "inlineRecipe": {
                        "type": "blob"
                    },
                    "lambdaFunction": {
                        "type": "structure",
                        "required": [
                            "lambdaArn"
                        ],
                        "members": {
                            "lambdaArn": {},
                            "componentName": {},
                            "componentVersion": {},
                            "componentPlatforms": {
                                "shape": "Sp"
                            },
                            "componentDependencies": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "versionRequirement": {},
                                        "dependencyType": {}
                                    }
                                }
                            },
                            "componentLambdaParameters": {
                                "type": "structure",
                                "members": {
                                    "eventSources": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "topic",
                                                "type"
                                            ],
                                            "members": {
                                                "topic": {},
                                                "type": {}
                                            }
                                        }
                                    },
                                    "maxQueueSize": {
                                        "type": "integer"
                                    },
                                    "maxInstancesCount": {
                                        "type": "integer"
                                    },
                                    "maxIdleTimeInSeconds": {
                                        "type": "integer"
                                    },
                                    "timeoutInSeconds": {
                                        "type": "integer"
                                    },
                                    "statusTimeoutInSeconds": {
                                        "type": "integer"
                                    },
                                    "pinned": {
                                        "type": "boolean"
                                    },
                                    "inputPayloadEncodingType": {},
                                    "execArgs": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "environmentVariables": {
                                        "type": "map",
                                        "key": {},
                                        "value": {}
                                    },
                                    "linuxProcessParams": {
                                        "type": "structure",
                                        "members": {
                                            "isolationMode": {},
                                            "containerParams": {
                                                "type": "structure",
                                                "members": {
                                                    "memorySizeInKB": {
                                                        "type": "integer"
                                                    },
                                                    "mountROSysfs": {
                                                        "type": "boolean"
                                                    },
                                                    "volumes": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "required": [
                                                                "sourcePath",
                                                                "destinationPath"
                                                            ],
                                                            "members": {
                                                                "sourcePath": {},
                                                                "destinationPath": {},
                                                                "permission": {},
                                                                "addGroupOwner": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "devices": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "required": [
                                                                "path"
                                                            ],
                                                            "members": {
                                                                "path": {},
                                                                "permission": {},
                                                                "addGroupOwner": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "S1f"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "componentName",
                    "componentVersion",
                    "creationTimestamp",
                    "status"
                ],
                "members": {
                    "arn": {},
                    "componentName": {},
                    "componentVersion": {},
                    "creationTimestamp": {
                        "type": "timestamp"
                    },
                    "status": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateDeployment": {
            "http": {
                "requestUri": "/greengrass/v2/deployments",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetArn"
                ],
                "members": {
                    "targetArn": {},
                    "deploymentName": {},
                    "components": {
                        "shape": "S1t"
                    },
                    "iotJobConfiguration": {
                        "shape": "S23"
                    },
                    "deploymentPolicies": {
                        "shape": "S2k"
                    },
                    "parentTargetArn": {},
                    "tags": {
                        "shape": "S1f"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deploymentId": {},
                    "iotJobId": {},
                    "iotJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteComponent": {
            "http": {
                "method": "DELETE",
                "requestUri": "/greengrass/v2/components/{arn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteCoreDevice": {
            "http": {
                "method": "DELETE",
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteDeployment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/greengrass/v2/deployments/{deploymentId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDPTYEITRDKZ4RLHED7APV2LWGCQJIEWZVFWD3YF55EP3TSALHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMQ5LKTH32GD7KED3HKNBKECLTEUSQIUJ36FOX5UVPBYF7DGWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AV6SM57BTLDUDURF6P47WTLKVQ6RGUTNYPFDJVNCTTLBKJS53DIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRH4RO4T2ASI664FHA5UANXXKIWBWSQ77VDY4J2R7VE2DNMWVN4Q/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDG6A6MJKXOLXKSF26CZ6XFBPILY37FQTR43YUYKCGLB5I47R5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYV7RRHXAQYLVCH43TRNORARZXPALRQ3CNYQXVHN6E5FXIOAVIOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WECH2BCOT4W3BTELOMDCGYYQ7RNE3LIYBVYKLE5FITE3EUIF3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeComponent": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components/{arn}/metadata"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "componentName": {},
                    "componentVersion": {},
                    "creationTimestamp": {
                        "type": "timestamp"
                    },
                    "publisher": {},
                    "description": {},
                    "status": {
                        "shape": "S1m"
                    },
                    "platforms": {
                        "shape": "Sp"
                    },
                    "tags": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DisassociateServiceRoleFromAccount": {
            "http": {
                "method": "DELETE",
                "requestUri": "/greengrass/servicerole",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "disassociatedAt": {
                        "locationName": "DisassociatedAt"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDPTYEITRDKZ4RLHED7APV2LWGCQJIEWZVFWD3YF55EP3TSALHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMQ5LKTH32GD7KED3HKNBKECLTEUSQIUJ36FOX5UVPBYF7DGWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AV6SM57BTLDUDURF6P47WTLKVQ6RGUTNYPFDJVNCTTLBKJS53DIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRH4RO4T2ASI664FHA5UANXXKIWBWSQ77VDY4J2R7VE2DNMWVN4Q/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDG6A6MJKXOLXKSF26CZ6XFBPILY37FQTR43YUYKCGLB5I47R5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYV7RRHXAQYLVCH43TRNORARZXPALRQ3CNYQXVHN6E5FXIOAVIOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WECH2BCOT4W3BTELOMDCGYYQ7RNE3LIYBVYKLE5FITE3EUIF3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetComponent": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components/{arn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "recipeOutputFormat": {
                        "location": "querystring",
                        "locationName": "recipeOutputFormat"
                    },
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "recipeOutputFormat",
                    "recipe"
                ],
                "members": {
                    "recipeOutputFormat": {},
                    "recipe": {
                        "type": "blob"
                    },
                    "tags": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetComponentVersionArtifact": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components/{arn}/artifacts/{artifactName+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "artifactName"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "artifactName": {
                        "location": "uri",
                        "locationName": "artifactName"
                    },
                    "s3EndpointType": {
                        "location": "querystring",
                        "locationName": "s3EndpointType"
                    },
                    "iotEndpointType": {
                        "location": "header",
                        "locationName": "x-amz-iot-endpoint-type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "preSignedUrl"
                ],
                "members": {
                    "preSignedUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetConnectivityInfo": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/things/{thingName}/connectivityInfo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "thingName"
                ],
                "members": {
                    "thingName": {
                        "location": "uri",
                        "locationName": "thingName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectivityInfo": {
                        "shape": "S39",
                        "locationName": "ConnectivityInfo"
                    },
                    "message": {
                        "locationName": "Message"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDPTYEITRDKZ4RLHED7APV2LWGCQJIEWZVFWD3YF55EP3TSALHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMQ5LKTH32GD7KED3HKNBKECLTEUSQIUJ36FOX5UVPBYF7DGWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AV6SM57BTLDUDURF6P47WTLKVQ6RGUTNYPFDJVNCTTLBKJS53DIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRH4RO4T2ASI664FHA5UANXXKIWBWSQ77VDY4J2R7VE2DNMWVN4Q/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDG6A6MJKXOLXKSF26CZ6XFBPILY37FQTR43YUYKCGLB5I47R5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYV7RRHXAQYLVCH43TRNORARZXPALRQ3CNYQXVHN6E5FXIOAVIOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WECH2BCOT4W3BTELOMDCGYYQ7RNE3LIYBVYKLE5FITE3EUIF3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetCoreDevice": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "coreDeviceThingName": {},
                    "coreVersion": {},
                    "platform": {},
                    "architecture": {},
                    "status": {},
                    "lastStatusUpdateTimestamp": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetDeployment": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/deployments/{deploymentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "targetArn": {},
                    "revisionId": {},
                    "deploymentId": {},
                    "deploymentName": {},
                    "deploymentStatus": {},
                    "iotJobId": {},
                    "iotJobArn": {},
                    "components": {
                        "shape": "S1t"
                    },
                    "deploymentPolicies": {
                        "shape": "S2k"
                    },
                    "iotJobConfiguration": {
                        "shape": "S23"
                    },
                    "creationTimestamp": {
                        "type": "timestamp"
                    },
                    "isLatestForTarget": {
                        "type": "boolean"
                    },
                    "parentTargetArn": {},
                    "tags": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetServiceRoleForAccount": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/servicerole",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedAt": {
                        "locationName": "AssociatedAt"
                    },
                    "roleArn": {
                        "locationName": "RoleArn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDPTYEITRDKZ4RLHED7APV2LWGCQJIEWZVFWD3YF55EP3TSALHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMQ5LKTH32GD7KED3HKNBKECLTEUSQIUJ36FOX5UVPBYF7DGWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AV6SM57BTLDUDURF6P47WTLKVQ6RGUTNYPFDJVNCTTLBKJS53DIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRH4RO4T2ASI664FHA5UANXXKIWBWSQ77VDY4J2R7VE2DNMWVN4Q/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDG6A6MJKXOLXKSF26CZ6XFBPILY37FQTR43YUYKCGLB5I47R5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYV7RRHXAQYLVCH43TRNORARZXPALRQ3CNYQXVHN6E5FXIOAVIOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WECH2BCOT4W3BTELOMDCGYYQ7RNE3LIYBVYKLE5FITE3EUIF3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListClientDevicesAssociatedWithCoreDevice": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/associatedClientDevices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "coreDeviceThingName"
                ],
                "members": {
                    "coreDeviceThingName": {
                        "location": "uri",
                        "locationName": "coreDeviceThingName"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedClientDevices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "thingName": {},
                                "associationTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UMQ5LKTH32GD7KED3HKNBKECLTEUSQIUJ36FOX5UVPBYF7DGWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AV6SM57BTLDUDURF6P47WTLKVQ6RGUTNYPFDJVNCTTLBKJS53DIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRH4RO4T2ASI664FHA5UANXXKIWBWSQ77VDY4J2R7VE2DNMWVN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDG6A6MJKXOLXKSF26CZ6XFBPILY37FQTR43YUYKCGLB5I47R5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYV7RRHXAQYLVCH43TRNORARZXPALRQ3CNYQXVHN6E5FXIOAVIOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WECH2BCOT4W3BTELOMDCGYYQ7RNE3LIYBVYKLE5FITE3EUIF3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListComponentVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components/{arn}/versions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "componentVersions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "componentName": {},
                                "componentVersion": {},
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListComponents": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/components"
            },
            "input": {
                "type": "structure",
                "members": {
                    "scope": {
                        "location": "querystring",
                        "locationName": "scope"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "components": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "componentName": {},
                                "latestVersion": {
                                    "type": "structure",
                                    "members": {
                                        "arn": {},
                                        "componentVersion": {},
                                        "creationTimestamp": {
                                            "type": "timestamp"
                                        },
                                        "description": {},
                                        "publisher": {},
                                        "platforms": {
                                            "shape": "Sp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListCoreDevices": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/coreDevices"
            },
            "input": {
                "type": "structure",
                "members": {
                    "thingGroupArn": {
                        "location": "querystring",
                        "locationName": "thingGroupArn"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "runtime": {
                        "location": "querystring",
                        "locationName": "runtime"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "coreDevices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "coreDeviceThingName": {},
                                "status": {},
                                "lastStatusUpdateTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListDeployments": {
            "http": {
                "method": "GET",
                "requestUri": "/greengrass/v2/deployments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "targetArn": {
                        "location": "querystring",
                        "locationName": "targetArn"
                    },
                    "historyFilter": {
                        "location": "querystring",
                        "locationName": "historyFilter"
                    },
                    "parentTargetArn": {
                        "location": "querystring",
                        "locationName": "parentTargetArn"
                    },
                    "maxResults": {
                        "location": "querystring",
[...]
