{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-05-23",
        "endpointPrefix": "groundstation",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Ground Station",
        "serviceId": "GroundStation",
        "signatureVersion": "v4",
        "signingName": "groundstation",
        "uid": "groundstation-2019-05-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PRRYWM7ZLCPHID5U24XNNBTV2DPHGQMWPNEAX6ULQB2F6O2PQY7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelContact": {
            "http": {
                "method": "DELETE",
                "requestUri": "/contact/{contactId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "contactId"
                ],
                "members": {
                    "contactId": {
                        "location": "uri",
                        "locationName": "contactId"
                    }
                }
            },
            "output": {
                "shape": "S3"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateConfig": {
            "http": {
                "requestUri": "/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configData",
                    "name"
                ],
                "members": {
                    "configData": {
                        "shape": "S5"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "shape": "Sz"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDataflowEndpointGroup": {
            "http": {
                "requestUri": "/dataflowEndpointGroup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endpointDetails"
                ],
                "members": {
                    "endpointDetails": {
                        "shape": "S12"
                    },
                    "tags": {
                        "shape": "Sy"
                    },
                    "contactPostPassDurationSeconds": {
                        "type": "integer"
                    },
                    "contactPrePassDurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S1c"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateEphemeris": {
            "http": {
                "requestUri": "/ephemeris",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "satelliteId"
                ],
                "members": {
                    "enabled": {
                        "type": "boolean"
                    },
                    "ephemeris": {
                        "type": "structure",
                        "members": {
                            "oem": {
                                "type": "structure",
                                "members": {
                                    "oemData": {},
                                    "s3Object": {
                                        "shape": "S1h"
                                    }
                                }
                            },
                            "tle": {
                                "type": "structure",
                                "members": {
                                    "s3Object": {
                                        "shape": "S1h"
                                    },
                                    "tleData": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "tleLine1",
                                                "tleLine2",
                                                "validTimeRange"
                                            ],
                                            "members": {
                                                "tleLine1": {},
                                                "tleLine2": {},
                                                "validTimeRange": {
                                                    "type": "structure",
                                                    "required": [
                                                        "endTime",
                                                        "startTime"
                                                    ],
                                                    "members": {
                                                        "endTime": {
                                                            "type": "timestamp"
                                                        },
                                                        "startTime": {
                                                            "type": "timestamp"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "expirationTime": {
                        "type": "timestamp"
                    },
                    "kmsKeyArn": {},
                    "name": {},
                    "priority": {
                        "type": "integer"
                    },
                    "satelliteId": {},
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "shape": "S1u"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALATOHBVN5PSFYM6V2T3FRTXWO5ZI2CWJUGA7IYSITRLXKTTS6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOM37I2BDH4GSQAKPQWZB6OF5NF7VMV4REBIWD3VHFJUBHASTWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRRYWM7ZLCPHID5U24XNNBTV2DPHGQMWPNEAX6ULQB2F6O2PQY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateMissionProfile": {
            "http": {
                "requestUri": "/missionprofile",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataflowEdges",
                    "minimumViableContactDurationSeconds",
                    "name",
                    "trackingConfigArn"
                ],
                "members": {
                    "contactPostPassDurationSeconds": {
                        "type": "integer"
                    },
                    "contactPrePassDurationSeconds": {
                        "type": "integer"
                    },
                    "dataflowEdges": {
                        "shape": "S1x"
                    },
                    "minimumViableContactDurationSeconds": {
                        "type": "integer"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sy"
                    },
                    "trackingConfigArn": {},
                    "streamsKmsKey": {
                        "shape": "S2d"
                    },
                    "streamsKmsRole": {}
                }
            },
            "output": {
                "shape": "S20"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/config/{configType}/{configId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configId",
                    "configType"
                ],
                "members": {
                    "configId": {
                        "location": "uri",
                        "locationName": "configId"
                    },
                    "configType": {
                        "location": "uri",
                        "locationName": "configType"
                    }
                }
            },
            "output": {
                "shape": "Sz"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDataflowEndpointGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/dataflowEndpointGroup/{dataflowEndpointGroupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataflowEndpointGroupId"
                ],
                "members": {
                    "dataflowEndpointGroupId": {
                        "location": "uri",
                        "locationName": "dataflowEndpointGroupId"
                    }
                }
            },
            "output": {
                "shape": "S1c"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteEphemeris": {
            "http": {
                "method": "DELETE",
                "requestUri": "/ephemeris/{ephemerisId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ephemerisId"
                ],
                "members": {
                    "ephemerisId": {
                        "location": "uri",
                        "locationName": "ephemerisId"
                    }
                }
            },
            "output": {
                "shape": "S1u"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALATOHBVN5PSFYM6V2T3FRTXWO5ZI2CWJUGA7IYSITRLXKTTS6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOM37I2BDH4GSQAKPQWZB6OF5NF7VMV4REBIWD3VHFJUBHASTWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRRYWM7ZLCPHID5U24XNNBTV2DPHGQMWPNEAX6ULQB2F6O2PQY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteMissionProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/missionprofile/{missionProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "missionProfileId"
                ],
                "members": {
                    "missionProfileId": {
                        "location": "uri",
                        "locationName": "missionProfileId"
                    }
                }
            },
            "output": {
                "shape": "S20"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeContact": {
            "http": {
                "method": "GET",
                "requestUri": "/contact/{contactId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "contactId"
                ],
                "members": {
                    "contactId": {
                        "location": "uri",
                        "locationName": "contactId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contactId": {},
                    "contactStatus": {},
                    "dataflowList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "destination": {
                                    "type": "structure",
                                    "members": {
                                        "configDetails": {
                                            "shape": "S2b"
                                        },
                                        "configId": {},
                                        "configType": {},
                                        "dataflowDestinationRegion": {}
                                    }
                                },
                                "errorMessage": {},
                                "source": {
                                    "type": "structure",
                                    "members": {
                                        "configDetails": {
                                            "shape": "S2b"
                                        },
                                        "configId": {},
                                        "configType": {},
                                        "dataflowSourceRegion": {}
                                    }
                                }
                            }
                        }
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "errorMessage": {},
                    "groundStation": {},
                    "maximumElevation": {
                        "shape": "S2f"
                    },
                    "missionProfileArn": {},
                    "postPassEndTime": {
                        "type": "timestamp"
                    },
                    "prePassStartTime": {
                        "type": "timestamp"
                    },
                    "region": {},
                    "satelliteArn": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEphemeris": {
            "http": {
                "method": "GET",
                "requestUri": "/ephemeris/{ephemerisId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ephemerisId"
                ],
                "members": {
                    "ephemerisId": {
                        "location": "uri",
                        "locationName": "ephemerisId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "ephemerisId": {},
                    "invalidReason": {},
                    "name": {},
                    "priority": {
                        "type": "integer"
                    },
                    "satelliteId": {},
                    "status": {},
                    "suppliedData": {
                        "type": "structure",
                        "members": {
                            "oem": {
                                "shape": "S2p"
                            },
                            "tle": {
                                "shape": "S2p"
                            }
                        },
                        "union": true
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALATOHBVN5PSFYM6V2T3FRTXWO5ZI2CWJUGA7IYSITRLXKTTS6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOM37I2BDH4GSQAKPQWZB6OF5NF7VMV4REBIWD3VHFJUBHASTWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRRYWM7ZLCPHID5U24XNNBTV2DPHGQMWPNEAX6ULQB2F6O2PQY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/config/{configType}/{configId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configId",
                    "configType"
                ],
                "members": {
                    "configId": {
                        "location": "uri",
                        "locationName": "configId"
                    },
                    "configType": {
                        "location": "uri",
                        "locationName": "configType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configArn",
                    "configData",
                    "configId",
                    "name"
                ],
                "members": {
                    "configArn": {},
                    "configData": {
                        "shape": "S5"
                    },
                    "configId": {},
                    "configType": {},
                    "name": {},
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDataflowEndpointGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/dataflowEndpointGroup/{dataflowEndpointGroupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataflowEndpointGroupId"
                ],
                "members": {
                    "dataflowEndpointGroupId": {
                        "location": "uri",
                        "locationName": "dataflowEndpointGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataflowEndpointGroupArn": {},
                    "dataflowEndpointGroupId": {},
                    "endpointsDetails": {
                        "shape": "S12"
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetMinuteUsage": {
            "http": {
                "requestUri": "/minute-usage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "month",
                    "year"
                ],
                "members": {
                    "month": {
                        "type": "integer"
                    },
                    "year": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "estimatedMinutesRemaining": {
                        "type": "integer"
                    },
                    "isReservedMinutesCustomer": {
                        "type": "boolean"
                    },
                    "totalReservedMinuteAllocation": {
                        "type": "integer"
                    },
                    "totalScheduledMinutes": {
                        "type": "integer"
                    },
                    "upcomingMinutesScheduled": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetMissionProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/missionprofile/{missionProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "missionProfileId"
                ],
                "members": {
                    "missionProfileId": {
                        "location": "uri",
                        "locationName": "missionProfileId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contactPostPassDurationSeconds": {
                        "type": "integer"
                    },
                    "contactPrePassDurationSeconds": {
                        "type": "integer"
                    },
                    "dataflowEdges": {
                        "shape": "S1x"
                    },
                    "minimumViableContactDurationSeconds": {
                        "type": "integer"
                    },
                    "missionProfileArn": {},
                    "missionProfileId": {},
                    "name": {},
                    "region": {},
                    "tags": {
                        "shape": "Sy"
                    },
                    "trackingConfigArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetSatellite": {
            "http": {
                "method": "GET",
                "requestUri": "/satellite/{satelliteId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "satelliteId"
                ],
                "members": {
                    "satelliteId": {
                        "location": "uri",
                        "locationName": "satelliteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "currentEphemeris": {
                        "shape": "S34"
                    },
                    "groundStations": {
                        "shape": "S36"
                    },
                    "noradSatelliteID": {
                        "type": "integer"
                    },
                    "satelliteArn": {},
                    "satelliteId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListConfigs": {
            "http": {
                "method": "GET",
                "requestUri": "/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "configList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "configArn": {},
                                "configId": {},
                                "configType": {},
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListContacts": {
            "http": {
                "requestUri": "/contacts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endTime",
                    "startTime",
                    "statusList"
                ],
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "groundStation": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "missionProfileArn": {},
                    "nextToken": {},
                    "satelliteArn": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "statusList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contactList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "contactId": {},
                                "contactStatus": {},
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "errorMessage": {},
                                "groundStation": {},
                                "maximumElevation": {
                                    "shape": "S2f"
                                },
                                "missionProfileArn": {},
                                "postPassEndTime": {
                                    "type": "timestamp"
                                },
                                "prePassStartTime": {
                                    "type": "timestamp"
                                },
                                "region": {},
                                "satelliteArn": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "tags": {
                                    "shape": "Sy"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListDataflowEndpointGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/dataflowEndpointGroup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataflowEndpointGroupList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "dataflowEndpointGroupArn": {},
                                "dataflowEndpointGroupId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListEphemerides": {
            "http": {
                "requestUri": "/ephemerides",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endTime",
                    "satelliteId",
                    "startTime"
                ],
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "satelliteId": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "statusList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ephemerides": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "enabled": {
                                    "type": "boolean"
                                },
                                "ephemerisId": {},
                                "name": {},
                                "priority": {
                                    "type": "integer"
                                },
                                "sourceS3Object": {
                                    "shape": "S1h"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALATOHBVN5PSFYM6V2T3FRTXWO5ZI2CWJUGA7IYSITRLXKTTS6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOM37I2BDH4GSQAKPQWZB6OF5NF7VMV4REBIWD3VHFJUBHASTWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRRYWM7ZLCPHID5U24XNNBTV2DPHGQMWPNEAX6ULQB2F6O2PQY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListGroundStations": {
            "http": {
                "method": "GET",
                "requestUri": "/groundstation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "satelliteId": {
                        "location": "querystring",
                        "locationName": "satelliteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "groundStationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "groundStationId": {},
                                "groundStationName": {},
                                "region": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CGTSVILX36IFMCVQE3NAGEY7CR5ULHVHU25PEDCERMWVB5V53PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RVNW5MXH25YVPMRVBQ7OGPT6XQ7SDQYMEOEBZHYXKNKE47I4O6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2Y3T4RLUDDINRBB6HJVDA65EPVZ3GKYWSTCBW74CCBVPL7DGYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJSTXZTZB3PJWAMXCBCYYYLTWWBGLHIWKLQKGVIFZMSYJOETN6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFM2SYJW6PHACFTMTGSEGG6HCF77CTIYTRLBSNBWLV636QERLW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJHZWKKTHAGV4F4NRD542TZMNSOYLSFKAXO3KXA4JV7PDDSRUCEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2DWXKTQTMY7B43IWQSYPDQLOF2YCIUSXZROQUQYRDLSQ4YR4TZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListMissionProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/missionprofile",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "missionProfileList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "missionProfileArn": {},
                                "missionProfileId": {},
                                "name": {},
[...]
