{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "SamuraiDatasetConsoleControlPlaneLambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "SamuraiDatasetConsoleControlPlaneLambda",
        "serviceFullName": "A beautiful and amazing Lyra-Samurai-C2J",
        "serviceId": "LYRASDSSAMURAICONSOLE",
        "signatureVersion": "v4",
        "signingName": "groundtruthlabeling",
        "uid": "groundtruth-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERZEJJE5YZGSZTWVDVABFVU2GJ7ZPRXTUPAOP64HPQFLX5A6Y6EA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
        ]
    },
    "operations": {
        "AssociatePatchToManifestJob": {
            "http": {
                "requestUri": "/AssociatePatchToManifestJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource",
                                    "etag"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "shape": "S5"
                                    },
                                    "version": {},
                                    "etag": {}
                                }
                            },
                            "patchSource": {
                                "shape": "S5"
                            },
                            "sourcesSorted": {
                                "type": "boolean"
                            },
                            "datasetObjectIdAttributeName": {}
                        }
                    },
                    "classesToDeleteLabelsFor": {
                        "type": "list",
                        "member": {}
                    },
                    "classesToRenameMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "operation": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "DescribeConsoleJob": {
            "http": {
                "requestUri": "/DescribeConsoleJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "requestId"
                ],
                "members": {
                    "jobId": {},
                    "requestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobStatus": {},
                    "processedObjectCount": {
                        "type": "long"
                    },
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "GenerateLIDARPreviewTaskConfigJob": {
            "http": {
                "requestUri": "/GenerateLIDARPreviewTaskConfigJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "roleArn",
                    "outputTaskConfigS3UriPrefix",
                    "frameType",
                    "manifestLine",
                    "modality"
                ],
                "members": {
                    "requestId": {},
                    "roleArn": {},
                    "outputTaskConfigS3UriPrefix": {},
                    "kmsKeyId": {},
                    "frameType": {},
                    "manifestLine": {},
                    "modality": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "ListDatasetObjects": {
            "http": {
                "requestUri": "/ListDatasetObjects"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "labelAttributeName": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "St"
                            },
                            "pageSize": {
                                "type": "integer"
                            }
                        }
                    },
                    "roleArn": {},
                    "continuationToken": {},
                    "streamingEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "datasetObjectsList": {
                        "type": "list",
                        "member": {}
                    },
                    "datasetObjectsCount": {
                        "type": "integer"
                    },
                    "truncated": {
                        "type": "boolean"
                    },
                    "continuationToken": {},
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "ListLabelAttributeNames": {
            "http": {
                "requestUri": "/ListLabelAttributeNames"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "St"
                            }
                        }
                    },
                    "roleArn": {},
                    "jobType": {},
                    "jobName": {},
                    "pageSize": {
                        "type": "integer"
                    },
                    "continuationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "resultList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "labelAttributeName": {},
                                "jobName": {},
                                "jobType": {},
                                "semSegWithHexColor": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "pageObjectCount": {
                        "type": "integer"
                    },
                    "continuationToken": {},
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "RunFilterOrSampleDatasetJob": {
            "http": {
                "requestUri": "/RunFilterOrSampleDatasetJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "strategy": {},
                            "percentageOfInputDatasetSize": {
                                "type": "integer"
                            },
                            "filterExpression": {},
                            "compressionType": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "RunGenerateManifestByCrawlingJob": {
            "http": {
                "requestUri": "/RunGenerateManifestByCrawlingJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "members": {
                                    "crawlingS3DataSource": {
                                        "type": "structure",
                                        "members": {
                                            "s3Prefix": {},
                                            "fileSuffixes": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "autoLabellingStrategy": {},
                            "crawlStrategy": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "roleArn": {},
                    "frameExtractInterval": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "RunGenerateManifestMetricsJob": {
            "http": {
                "requestUri": "/RunGenerateManifestMetricsJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource",
                            "metricsToGet"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "shape": "S5"
                                    },
                                    "etag": {},
                                    "versionId": {}
                                }
                            },
                            "metricsToGet": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "required": [
                            "s3Uri"
                        ],
                        "members": {
                            "s3Uri": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "CreateIntakeForm": {
            "http": {
                "requestUri": "/CreateIntakeForm"
            },
            "input": {
                "type": "structure",
                "required": [
                    "customerAccountId",
                    "intakeForm",
                    "intakeFormName"
                ],
                "members": {
                    "customerAccountId": {},
                    "intakeForm": {},
                    "intakeFormName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/CreateProject"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "dataType",
                    "roleArn",
                    "modality"
                ],
                "members": {
                    "projectName": {},
                    "dataType": {},
                    "kmsKeyId": {},
                    "roleArn": {},
                    "modality": {},
                    "projectDescription": {},
                    "customerContactInfo": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "GetIntakeFormStatus": {
            "http": {
                "requestUri": "/GetIntakeFormStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "customerAccountId",
                    "intakeFormName"
                ],
                "members": {
                    "customerAccountId": {},
                    "intakeFormName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "intakeFormStatus"
                ],
                "members": {
                    "intakeFormStatus": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "ListProjects": {
            "http": {
                "requestUri": "/ListProjects"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "kmsKeyId": {},
                                "batchCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S1r"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "beaconProjectAccountId": {},
                                "billableUnit": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "customerAccountId": {},
                                "customerCodeName": {},
                                "dataType": {},
                                "datasetObjectCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S1r"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lastModifiedTime": {
                                    "type": "timestamp"
                                },
                                "modality": {},
                                "projectArn": {},
                                "projectName": {},
                                "projectStatus": {},
                                "projectType": {},
                                "metadata": {},
                                "roleArn": {},
                                "projectDescription": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "CreateBatch": {
            "http": {
                "requestUri": "/CreateBatch"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "batchName"
                ],
                "members": {
                    "projectName": {},
                    "batchName": {},
                    "batchType": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "type": "structure",
                                        "required": [
                                            "s3Uri"
                                        ],
                                        "members": {
                                            "s3Uri": {},
                                            "beaconAccountS3Uri": {}
                                        }
                                    }
                                }
                            },
                            "roleArn": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "required": [
                            "s3OutputPath"
                        ],
                        "members": {
                            "s3OutputPath": {
                                "type": "structure",
                                "required": [
                                    "s3Uri"
                                ],
                                "members": {
                                    "s3Uri": {},
                                    "beaconAccountS3Uri": {}
                                }
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "batchDescription": {},
                    "coordinatorConfig": {
                        "type": "structure",
                        "members": {
                            "coordinatorStateMachineExecutionArn": {},
                            "taskTokens": {
                                "type": "structure",
                                "members": {
                                    "processingTaskToken": {},
                                    "waitAfterIngestionToken": {},
                                    "waitBeforeDeliveryToken": {}
                                }
                            }
                        }
                    },
                    "batchInputType": {},
                    "batchDatasetConfig": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "CreateWorkflowDefinition": {
            "http": {
                "requestUri": "/CreateWorkflowDefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "customerAccountId",
                    "workflowDefinitionName",
                    "workflowDefinitionSpec"
                ],
                "members": {
                    "projectName": {},
                    "customerAccountId": {},
                    "workflowDefinitionName": {},
                    "workflowDefinitionSpec": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "version": {
                        "type": "long"
                    },
                    "workflowDefinitionArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "ListBatches": {
            "http": {
                "requestUri": "/ListBatches"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "projectName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "batchArn": {},
                                "batchDatasetConfig": {
                                    "type": "structure",
                                    "members": {
                                        "curatedDatasetManifestS3Uri": {},
                                        "datasetName": {},
                                        "datasetStatus": {}
                                    }
                                },
                                "batchDescription": {},
                                "batchName": {},
                                "batchStatus": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "datasetObjectCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S21"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lastModifiedTime": {
                                    "type": "timestamp"
                                },
                                "projectArn": {},
                                "version": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "UpdateBatch": {
            "http": {
                "requestUri": "/UpdateBatch"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "batchName",
                    "batchStatus",
                    "expectedVersion"
                ],
                "members": {
                    "projectName": {},
                    "batchName": {},
                    "batchStatus": {},
                    "expectedVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFF47DU6E4M3I3QJB5X6TERPO4OURQG3HO5R2HBUB5ZTXAIYGZSQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3STMSJUWCNDCOMEZNWNKM37WTYW2QINSIULONY6SKCAGDM524GCA/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8589.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "GetBatch": {
            "http": {
                "requestUri": "/GetBatch"
            },
            "input": {
                "type": "structure",
                "members": {
                    "projectName": {},
                    "customerAccountId": {},
                    "batchName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchArn": {},
                    "batchDatasetConfig": {
                        "shape": "Sx"
                    },
                    "batchDescription": {},
                    "batchName": {},
                    "batchStatus": {},
                    "batchInputType": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "datasetObjectCounts": {
                        "shape": "S1t"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "projectArn": {},
                    "version": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BDTUT4BHBNBQYU3UFSFKQQZ7H6FURVKBCQ65Z6NATUAC3YZTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIE3Z4XRKCOTBVDRXET2SGYBA3IZHCCJAGXYXAXAX2ZEVA7HEUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REL2X7LO5F2ZOZMBWUQRMOHATAXF5FGTVXKZQNB3CMLTYIMGEUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTNSREWJA4UK4HG43EYGTJGXIMYEDXADPNUKNFQLYAIKBBPMBUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZEJJE5YZGSZTWVDVABFVU2GJ7ZPRXTUPAOP64HPQFLX5A6Y6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "GetProject": {
            "http": {
                "method": "GET",
                "requestUri": "/GetProject"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "customerAccountId"
                ],
                "members": {
                    "projectName": {},
                    "customerAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "kmsKeyId": {},
                    "batchCounts": {
                        "shape": "S20"
                    },
                    "beaconProjectAccountId": {},
                    "version": {
                        "type": "long"
                    },
                    "billableUnit": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "customerAccountId": {},
                    "customerCodeName": {},
                    "dataType": {},
                    "datasetObjectCounts": {
                        "shape": "S23"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "modality": {},
                    "projectArn": {},
                    "projectName": {},
                    "projectStatus": {},
                    "projectType": {},
                    "metadata": {},
                    "roleArn": {},
                    "projectDescription": {},
                    "workflowDefinitionConfig": {
                        "type": "structure",
                        "members": {
                            "workflowDefinitionArn": {},
                            "version": {
                                "type": "long"
                            },
                            "workflowDefinitionS3Reference": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BDTUT4BHBNBQYU3UFSFKQQZ7H6FURVKBCQ65Z6NATUAC3YZTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIE3Z4XRKCOTBVDRXET2SGYBA3IZHCCJAGXYXAXAX2ZEVA7HEUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REL2X7LO5F2ZOZMBWUQRMOHATAXF5FGTVXKZQNB3CMLTYIMGEUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTNSREWJA4UK4HG43EYGTJGXIMYEDXADPNUKNFQLYAIKBBPMBUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZEJJE5YZGSZTWVDVABFVU2GJ7ZPRXTUPAOP64HPQFLX5A6Y6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "UpdateProject": {
            "http": {
                "method": "PUT",
                "requestUri": "/UpdateProject"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "customerAccountId",
                    "projectStatus",
                    "expectedVersion"
                ],
                "members": {
                    "projectName": {},
                    "customerAccountId": {},
                    "kmsKeyId": {},
                    "roleArn": {},
                    "projectDescription": {},
                    "projectStatus": {},
                    "expectedVersion": {
                        "type": "long"
                    },
                    "billableUnit": {},
                    "metadata": {},
                    "beaconProjectAccountId": {},
                    "customerCodeName": {},
                    "projectType": {},
                    "beaconS3InputBucket": {},
                    "beaconS3OutputBucket": {},
                    "workflowDefinitionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BDTUT4BHBNBQYU3UFSFKQQZ7H6FURVKBCQ65Z6NATUAC3YZTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIE3Z4XRKCOTBVDRXET2SGYBA3IZHCCJAGXYXAXAX2ZEVA7HEUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REL2X7LO5F2ZOZMBWUQRMOHATAXF5FGTVXKZQNB3CMLTYIMGEUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTNSREWJA4UK4HG43EYGTJGXIMYEDXADPNUKNFQLYAIKBBPMBUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZEJJE5YZGSZTWVDVABFVU2GJ7ZPRXTUPAOP64HPQFLX5A6Y6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "manifestS3Uri": {},
                "labelChannelS3Prefix": {}
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S1r": {
            "type": "map",
            "key": {},
            "value": {
                "type": "long"
            }
        },
        "S21": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        },
        "S25": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S2w": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "datasetArn": {}
            }
        },
        "S1t": {
            "type": "structure",
            "members": {
                "statusCounts": {
                    "shape": "S1u"
                },
                "total": {
                    "type": "long"
                }
            }
        },
        "S1u": {
            "type": "map",
            "key": {},
            "value": {
                "type": "long"
            }
        },
        "S20": {
            "type": "structure",
            "members": {
                "statusCounts": {
                    "shape": "S1u"
                },
                "total": {
                    "type": "long"
                }
            }
        },
        "S23": {
            "type": "structure",
            "members": {
                "statusCounts": {
                    "shape": "S1u"
                },
                "total": {
                    "type": "long"
                }
            }
        },
        "S2h": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S31": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        },
        "S1v": {
            "type": "map",
            "key": {},
            "value": {
                "type": "long"
            }
        },
        "S24": {
            "type": "structure",
            "members": {
                "statusCounts": {
                    "shape": "S1v"
                },
                "total": {
                    "type": "long"
                }
            }
        },
        "S2i": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S32": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        }
    }
}