{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "SamuraiDatasetConsoleControlPlaneLambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "SamuraiDatasetConsoleControlPlaneLambda",
        "serviceFullName": "A beautiful and amazing Lyra-Samurai-C2J",
        "serviceId": "LYRASDSSAMURAICONSOLE",
        "signatureVersion": "v4",
        "signingName": "groundtruthlabeling",
        "uid": "groundtruth-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
        ]
    },
    "operations": {
        "AssociatePatchToManifestJob": {
            "http": {
                "requestUri": "/AssociatePatchToManifestJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource",
                                    "etag"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "shape": "S5"
                                    },
                                    "version": {},
                                    "etag": {}
                                }
                            },
                            "patchSource": {
                                "shape": "S5"
                            },
                            "sourcesSorted": {
                                "type": "boolean"
                            },
                            "datasetObjectIdAttributeName": {}
                        }
                    },
                    "classesToDeleteLabelsFor": {
                        "type": "list",
                        "member": {}
                    },
                    "classesToRenameMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "operation": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "DescribeConsoleJob": {
            "http": {
                "requestUri": "/DescribeConsoleJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "requestId"
                ],
                "members": {
                    "jobId": {},
                    "requestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobStatus": {},
                    "processedObjectCount": {
                        "type": "long"
                    },
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "GenerateLIDARPreviewTaskConfigJob": {
            "http": {
                "requestUri": "/GenerateLIDARPreviewTaskConfigJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "roleArn",
                    "outputTaskConfigS3UriPrefix",
                    "frameType",
                    "manifestLine",
                    "modality"
                ],
                "members": {
                    "requestId": {},
                    "roleArn": {},
                    "outputTaskConfigS3UriPrefix": {},
                    "kmsKeyId": {},
                    "frameType": {},
                    "manifestLine": {},
                    "modality": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "ListDatasetObjects": {
            "http": {
                "requestUri": "/ListDatasetObjects"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "labelAttributeName": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "St"
                            },
                            "pageSize": {
                                "type": "integer"
                            }
                        }
                    },
                    "roleArn": {},
                    "continuationToken": {},
                    "streamingEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "datasetObjectsList": {
                        "type": "list",
                        "member": {}
                    },
                    "datasetObjectsCount": {
                        "type": "integer"
                    },
                    "truncated": {
                        "type": "boolean"
                    },
                    "continuationToken": {},
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "ListLabelAttributeNames": {
            "http": {
                "requestUri": "/ListLabelAttributeNames"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "St"
                            }
                        }
                    },
                    "roleArn": {},
                    "jobType": {},
                    "jobName": {},
                    "pageSize": {
                        "type": "integer"
                    },
                    "continuationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "resultList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "labelAttributeName": {},
                                "jobName": {},
                                "jobType": {},
                                "semSegWithHexColor": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "pageObjectCount": {
                        "type": "integer"
                    },
                    "continuationToken": {},
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "RunFilterOrSampleDatasetJob": {
            "http": {
                "requestUri": "/RunFilterOrSampleDatasetJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "strategy": {},
                            "percentageOfInputDatasetSize": {
                                "type": "integer"
                            },
                            "filterExpression": {},
                            "compressionType": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "RunGenerateManifestByCrawlingJob": {
            "http": {
                "requestUri": "/RunGenerateManifestByCrawlingJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "members": {
                                    "crawlingS3DataSource": {
                                        "type": "structure",
                                        "members": {
                                            "s3Prefix": {},
                                            "fileSuffixes": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "autoLabellingStrategy": {},
                            "crawlStrategy": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "roleArn": {},
                    "frameExtractInterval": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "RunGenerateManifestMetricsJob": {
            "http": {
                "requestUri": "/RunGenerateManifestMetricsJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource",
                            "metricsToGet"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "shape": "S5"
                                    },
                                    "etag": {},
                                    "versionId": {}
                                }
                            },
                            "metricsToGet": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "required": [
                            "s3Uri"
                        ],
                        "members": {
                            "s3Uri": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "CreateIntakeForm": {
            "http": {
                "requestUri": "/CreateIntakeForm"
            },
            "input": {
                "type": "structure",
                "required": [
                    "customerAccountId",
                    "intakeForm",
                    "intakeFormName"
                ],
                "members": {
                    "customerAccountId": {},
                    "intakeForm": {},
                    "intakeFormName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/CreateProject"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "dataType",
                    "roleArn",
                    "modality"
                ],
                "members": {
                    "projectName": {},
                    "dataType": {},
                    "kmsKeyId": {},
                    "roleArn": {},
                    "modality": {},
                    "projectDescription": {},
                    "customerContactInfo": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "GetIntakeFormStatus": {
            "http": {
                "requestUri": "/GetIntakeFormStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "customerAccountId",
                    "intakeFormName"
                ],
                "members": {
                    "customerAccountId": {},
                    "intakeFormName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "intakeFormStatus"
                ],
                "members": {
                    "intakeFormStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "ListProjects": {
            "http": {
                "requestUri": "/ListProjects"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "kmsKeyId": {},
                                "batchCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S1r"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "beaconProjectAccountId": {},
                                "billableUnit": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "customerAccountId": {},
                                "customerCodeName": {},
                                "dataType": {},
                                "datasetObjectCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S1r"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lastModifiedTime": {
                                    "type": "timestamp"
                                },
                                "modality": {},
                                "projectArn": {},
                                "projectName": {},
                                "projectStatus": {},
                                "projectType": {},
                                "metadata": {},
                                "roleArn": {},
                                "projectDescription": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "CreateBatch": {
            "http": {
                "requestUri": "/CreateBatch"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "batchName"
                ],
                "members": {
                    "projectName": {},
                    "batchName": {},
                    "batchType": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "type": "structure",
                                        "required": [
                                            "s3Uri"
                                        ],
                                        "members": {
                                            "s3Uri": {},
                                            "beaconAccountS3Uri": {}
                                        }
                                    }
                                }
                            },
                            "roleArn": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "required": [
                            "s3OutputPath"
                        ],
                        "members": {
                            "s3OutputPath": {
                                "type": "structure",
                                "required": [
                                    "s3Uri"
                                ],
                                "members": {
                                    "s3Uri": {},
                                    "beaconAccountS3Uri": {}
                                }
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "batchDescription": {},
                    "coordinatorConfig": {
                        "type": "structure",
                        "members": {
                            "coordinatorStateMachineExecutionArn": {},
                            "taskTokens": {
                                "type": "structure",
                                "members": {
                                    "processingTaskToken": {},
                                    "waitAfterIngestionToken": {},
                                    "waitBeforeDeliveryToken": {}
                                }
                            }
                        }
                    },
                    "batchInputType": {},
                    "batchDatasetConfig": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "CreateWorkflowDefinition": {
            "http": {
                "requestUri": "/CreateWorkflowDefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "customerAccountId",
                    "workflowDefinitionName",
                    "workflowDefinitionSpec"
                ],
                "members": {
                    "projectName": {},
                    "customerAccountId": {},
                    "workflowDefinitionName": {},
                    "workflowDefinitionSpec": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "version": {
                        "type": "long"
                    },
                    "workflowDefinitionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "ListBatches": {
            "http": {
                "requestUri": "/ListBatches"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "projectName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "batchArn": {},
                                "batchDatasetConfig": {
                                    "type": "structure",
                                    "members": {
                                        "curatedDatasetManifestS3Uri": {},
                                        "datasetName": {},
                                        "datasetStatus": {}
                                    }
                                },
                                "batchDescription": {},
                                "batchName": {},
                                "batchStatus": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "datasetObjectCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S21"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lastModifiedTime": {
                                    "type": "timestamp"
                                },
                                "projectArn": {},
                                "version": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "UpdateBatch": {
            "http": {
                "requestUri": "/UpdateBatch"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "batchName",
                    "batchStatus",
                    "expectedVersion"
                ],
                "members": {
                    "projectName": {},
                    "batchName": {},
                    "batchStatus": {},
                    "expectedVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J37FX6JLW6RORUDOMKOWVWVWKZSOVW5XSNA4Q5TFDUHUGP6DDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE6WA7GYY7XXAAW32EQJL5GUQDFWIEQEPAEI66UU7OPDFR3YHQBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QW76OJKOZ2LINX3QUINW45C76WVOAZHIYVJ6QYREET7KKA72D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTX54W376FK3633D4AB7DHU5C7BTDVYIFIEJYWSR62QAU3K7X4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "GetBatch": {
            "http": {
                "requestUri": "/GetBatch"
            },
            "input": {
                "type": "structure",
                "members": {
                    "projectName": {},
                    "customerAccountId": {},
                    "batchName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchArn": {},
                    "batchDatasetConfig": {
                        "shape": "Sx"
                    },
                    "batchDescription": {},
                    "batchName": {},
                    "batchStatus": {},
                    "batchInputType": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "datasetObjectCounts": {
                        "shape": "S1t"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "projectArn": {},
                    "version": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBN34LRPPYRPPJOSE2ASFSZY6SESADKRDUPSK2UNCS5MZKFKIX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4ZMYYKL2BMLVA3DDUPQT3JFFK7CUONEUD45FRIVCZR2JJYMAEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "GetProject": {
            "http": {
                "method": "GET",
                "requestUri": "/GetProject"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "customerAccountId"
                ],
                "members": {
                    "projectName": {},
                    "customerAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "kmsKeyId": {},
                    "batchCounts": {
                        "shape": "S20"
                    },
                    "beaconProjectAccountId": {},
                    "version": {
                        "type": "long"
                    },
                    "billableUnit": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "customerAccountId": {},
                    "customerCodeName": {},
                    "dataType": {},
                    "datasetObjectCounts": {
                        "shape": "S23"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "modality": {},
                    "projectArn": {},
                    "projectName": {},
                    "projectStatus": {},
                    "projectType": {},
                    "metadata": {},
                    "roleArn": {},
                    "projectDescription": {},
                    "workflowDefinitionConfig": {
                        "type": "structure",
                        "members": {
                            "workflowDefinitionArn": {},
                            "version": {
                                "type": "long"
                            },
                            "workflowDefinitionS3Reference": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBN34LRPPYRPPJOSE2ASFSZY6SESADKRDUPSK2UNCS5MZKFKIX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4ZMYYKL2BMLVA3DDUPQT3JFFK7CUONEUD45FRIVCZR2JJYMAEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "UpdateProject": {
            "http": {
                "method": "PUT",
                "requestUri": "/UpdateProject"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "customerAccountId",
                    "projectStatus",
                    "expectedVersion"
                ],
                "members": {
                    "projectName": {},
                    "customerAccountId": {},
                    "kmsKeyId": {},
                    "roleArn": {},
                    "projectDescription": {},
                    "projectStatus": {},
                    "expectedVersion": {
                        "type": "long"
                    },
                    "billableUnit": {},
                    "metadata": {},
                    "beaconProjectAccountId": {},
                    "customerCodeName": {},
                    "projectType": {},
                    "beaconS3InputBucket": {},
                    "beaconS3OutputBucket": {},
                    "workflowDefinitionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBN34LRPPYRPPJOSE2ASFSZY6SESADKRDUPSK2UNCS5MZKFKIX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4ZMYYKL2BMLVA3DDUPQT3JFFK7CUONEUD45FRIVCZR2JJYMAEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "manifestS3Uri": {},
                "labelChannelS3Prefix": {}
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S1r": {
            "type": "map",
            "key": {},
            "value": {
                "type": "long"
            }
        },
        "S21": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        },
        "S25": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S2w": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "datasetArn": {}
            }
        },
        "S1t": {
            "type": "structure",
            "members": {
                "statusCounts": {
                    "shape": "S1u"
                },
                "total": {
                    "type": "long"
                }
            }
        },
        "S1u": {
            "type": "map",
            "key": {},
            "value": {
                "type": "long"
            }
        },
        "S20": {
            "type": "structure",
            "members": {
                "statusCounts": {
                    "shape": "S1u"
                },
                "total": {
                    "type": "long"
                }
            }
        },
        "S23": {
            "type": "structure",
            "members": {
                "statusCounts": {
                    "shape": "S1u"
                },
                "total": {
                    "type": "long"
                }
            }
        },
        "S2h": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S31": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        }
    }
}