{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "SamuraiDatasetConsoleControlPlaneLambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "SamuraiDatasetConsoleControlPlaneLambda",
        "serviceFullName": "A beautiful and amazing Lyra-Samurai-C2J",
        "serviceId": "LYRASDSSAMURAICONSOLE",
        "signatureVersion": "v4",
        "signingName": "groundtruthlabeling",
        "uid": "groundtruth-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
        ]
    },
    "operations": {
        "AssociatePatchToManifestJob": {
            "http": {
                "requestUri": "/AssociatePatchToManifestJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource",
                                    "etag"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "shape": "S5"
                                    },
                                    "version": {},
                                    "etag": {}
                                }
                            },
                            "patchSource": {
                                "shape": "S5"
                            },
                            "sourcesSorted": {
                                "type": "boolean"
                            },
                            "datasetObjectIdAttributeName": {}
                        }
                    },
                    "classesToDeleteLabelsFor": {
                        "type": "list",
                        "member": {}
                    },
                    "classesToRenameMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "operation": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "DescribeConsoleJob": {
            "http": {
                "requestUri": "/DescribeConsoleJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "requestId"
                ],
                "members": {
                    "jobId": {},
                    "requestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobStatus": {},
                    "processedObjectCount": {
                        "type": "long"
                    },
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "GenerateLIDARPreviewTaskConfigJob": {
            "http": {
                "requestUri": "/GenerateLIDARPreviewTaskConfigJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "roleArn",
                    "outputTaskConfigS3UriPrefix",
                    "frameType",
                    "manifestLine",
                    "modality"
                ],
                "members": {
                    "requestId": {},
                    "roleArn": {},
                    "outputTaskConfigS3UriPrefix": {},
                    "kmsKeyId": {},
                    "frameType": {},
                    "manifestLine": {},
                    "modality": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "ListDatasetObjects": {
            "http": {
                "requestUri": "/ListDatasetObjects"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "labelAttributeName": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "St"
                            },
                            "pageSize": {
                                "type": "integer"
                            }
                        }
                    },
                    "roleArn": {},
                    "continuationToken": {},
                    "streamingEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "datasetObjectsList": {
                        "type": "list",
                        "member": {}
                    },
                    "datasetObjectsCount": {
                        "type": "integer"
                    },
                    "truncated": {
                        "type": "boolean"
                    },
                    "continuationToken": {},
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "ListLabelAttributeNames": {
            "http": {
                "requestUri": "/ListLabelAttributeNames"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "St"
                            }
                        }
                    },
                    "roleArn": {},
                    "jobType": {},
                    "jobName": {},
                    "pageSize": {
                        "type": "integer"
                    },
                    "continuationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "resultList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "labelAttributeName": {},
                                "jobName": {},
                                "jobType": {},
                                "semSegWithHexColor": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "pageObjectCount": {
                        "type": "integer"
                    },
                    "continuationToken": {},
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "RunFilterOrSampleDatasetJob": {
            "http": {
                "requestUri": "/RunFilterOrSampleDatasetJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "strategy": {},
                            "percentageOfInputDatasetSize": {
                                "type": "integer"
                            },
                            "filterExpression": {},
                            "compressionType": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "RunGenerateManifestByCrawlingJob": {
            "http": {
                "requestUri": "/RunGenerateManifestByCrawlingJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "members": {
                                    "crawlingS3DataSource": {
                                        "type": "structure",
                                        "members": {
                                            "s3Prefix": {},
                                            "fileSuffixes": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "autoLabellingStrategy": {},
                            "crawlStrategy": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "roleArn": {},
                    "frameExtractInterval": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "RunGenerateManifestMetricsJob": {
            "http": {
                "requestUri": "/RunGenerateManifestMetricsJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource",
                            "metricsToGet"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "shape": "S5"
                                    },
                                    "etag": {},
                                    "versionId": {}
                                }
                            },
                            "metricsToGet": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "required": [
                            "s3Uri"
                        ],
                        "members": {
                            "s3Uri": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "CreateIntakeForm": {
            "http": {
                "requestUri": "/CreateIntakeForm"
            },
            "input": {
                "type": "structure",
                "required": [
                    "customerAccountId",
                    "intakeForm",
                    "intakeFormName"
                ],
                "members": {
                    "customerAccountId": {},
                    "intakeForm": {},
                    "intakeFormName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/CreateProject"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "dataType",
                    "roleArn",
                    "modality"
                ],
                "members": {
                    "projectName": {},
                    "dataType": {},
                    "kmsKeyId": {},
                    "roleArn": {},
                    "modality": {},
                    "projectDescription": {},
                    "customerContactInfo": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "GetIntakeFormStatus": {
            "http": {
                "requestUri": "/GetIntakeFormStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "customerAccountId",
                    "intakeFormName"
                ],
                "members": {
                    "customerAccountId": {},
                    "intakeFormName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "intakeFormStatus"
                ],
                "members": {
                    "intakeFormStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "ListProjects": {
            "http": {
                "requestUri": "/ListProjects"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "kmsKeyId": {},
                                "batchCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S1r"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "beaconProjectAccountId": {},
                                "billableUnit": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "customerAccountId": {},
                                "customerCodeName": {},
                                "dataType": {},
                                "datasetObjectCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S1r"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lastModifiedTime": {
                                    "type": "timestamp"
                                },
                                "modality": {},
                                "projectArn": {},
                                "projectName": {},
                                "projectStatus": {},
                                "projectType": {},
                                "metadata": {},
                                "roleArn": {},
                                "projectDescription": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "CreateBatch": {
            "http": {
                "requestUri": "/CreateBatch"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "batchName"
                ],
                "members": {
                    "projectName": {},
                    "batchName": {},
                    "batchType": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "type": "structure",
                                        "required": [
                                            "s3Uri"
                                        ],
                                        "members": {
                                            "s3Uri": {},
                                            "beaconAccountS3Uri": {}
                                        }
                                    }
                                }
                            },
                            "roleArn": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "required": [
                            "s3OutputPath"
                        ],
                        "members": {
                            "s3OutputPath": {
                                "type": "structure",
                                "required": [
                                    "s3Uri"
                                ],
                                "members": {
                                    "s3Uri": {},
                                    "beaconAccountS3Uri": {}
                                }
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "batchDescription": {},
                    "coordinatorConfig": {
                        "type": "structure",
                        "members": {
                            "coordinatorStateMachineExecutionArn": {},
                            "taskTokens": {
                                "type": "structure",
                                "members": {
                                    "processingTaskToken": {},
                                    "waitAfterIngestionToken": {},
                                    "waitBeforeDeliveryToken": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "CreateWorkflowDefinition": {
            "http": {
                "requestUri": "/CreateWorkflowDefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "customerAccountId",
                    "workflowDefinitionName",
                    "workflowDefinitionSpec"
                ],
                "members": {
                    "projectName": {},
                    "customerAccountId": {},
                    "workflowDefinitionName": {},
                    "workflowDefinitionSpec": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "version": {
                        "type": "long"
                    },
                    "workflowDefinitionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "ListBatches": {
            "http": {
                "requestUri": "/ListBatches"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "projectName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "batchArn": {},
                                "batchDatasetConfig": {
                                    "type": "structure",
                                    "members": {
                                        "curatedDatasetManifestS3Uri": {},
                                        "datasetName": {},
                                        "datasetStatus": {}
                                    }
                                },
                                "batchDescription": {},
                                "batchName": {},
                                "batchStatus": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "datasetObjectCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S21"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lastModifiedTime": {
                                    "type": "timestamp"
                                },
                                "projectArn": {},
                                "version": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        },
        "UpdateBatch": {
            "http": {
                "requestUri": "/UpdateBatch"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "batchName",
                    "batchStatus",
                    "expectedVersion"
                ],
                "members": {
                    "projectName": {},
                    "batchName": {},
                    "batchStatus": {},
                    "expectedVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULXHEVUDTHZQYR3J7M7QYKMI43KTCGMQOFWC56JTVZNNJUI3ZO4Q/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHBY3WXG5KIE74D2AI7T3OV725UR5D4UQOQLPBLSIHZKCXJGGGSA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3H4F72Z2AWRPVE57HNIPPV2LCE6WTJTSDSAMIJ3L52HWHET37OQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIFDXCECFEOZU3K2JWPCDDABWRAH3DQTHTQFV5O7CEKCXEZ2D4AA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CZQDFR6R2JLZJ4OURYFHR243JX3BJTZRZXTRJZDSDEJGUM7ZGCQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7BRVPJTBQGFYDITCAJPJ5GWH7HQJL6OXH34NOOERK2WZLIC23QQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D2YTH7XTTLT4RW7YJKTIY4LWVUKIJRX3UYQ2FPAQY4GW3GJK5BQ/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "manifestS3Uri": {},
                "labelChannelS3Prefix": {}
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S1r": {
            "type": "map",
            "key": {},
            "value": {
                "type": "long"
            }
        },
        "S21": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        },
        "S25": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S2w": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        }
    }
}