{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-05-23",
        "endpointPrefix": "groundstation",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Ground Station",
        "serviceId": "GroundStation",
        "signatureVersion": "v4",
        "signingName": "groundstation",
        "uid": "groundstation-2019-05-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
        ]
    },
    "operations": {
        "CancelContact": {
            "http": {
                "method": "DELETE",
                "requestUri": "/contact/{contactId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "contactId"
                ],
                "members": {
                    "contactId": {
                        "location": "uri",
                        "locationName": "contactId"
                    }
                }
            },
            "output": {
                "shape": "S3"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "CreateConfig": {
            "http": {
                "requestUri": "/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configData",
                    "name"
                ],
                "members": {
                    "configData": {
                        "shape": "S5"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "shape": "Sz"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "CreateDataflowEndpointGroup": {
            "http": {
                "requestUri": "/dataflowEndpointGroup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endpointDetails"
                ],
                "members": {
                    "endpointDetails": {
                        "shape": "S12"
                    },
                    "tags": {
                        "shape": "Sy"
                    },
                    "contactPostPassDurationSeconds": {
                        "type": "integer"
                    },
                    "contactPrePassDurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S1c"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "CreateEphemeris": {
            "http": {
                "requestUri": "/ephemeris",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "satelliteId"
                ],
                "members": {
                    "enabled": {
                        "type": "boolean"
                    },
                    "ephemeris": {
                        "type": "structure",
                        "members": {
                            "oem": {
                                "type": "structure",
                                "members": {
                                    "oemData": {},
                                    "s3Object": {
                                        "shape": "S1h"
                                    }
                                }
                            },
                            "tle": {
                                "type": "structure",
                                "members": {
                                    "s3Object": {
                                        "shape": "S1h"
                                    },
                                    "tleData": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "tleLine1",
                                                "tleLine2",
                                                "validTimeRange"
                                            ],
                                            "members": {
                                                "tleLine1": {},
                                                "tleLine2": {},
                                                "validTimeRange": {
                                                    "type": "structure",
                                                    "required": [
                                                        "endTime",
                                                        "startTime"
                                                    ],
                                                    "members": {
                                                        "endTime": {
                                                            "type": "timestamp"
                                                        },
                                                        "startTime": {
                                                            "type": "timestamp"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "expirationTime": {
                        "type": "timestamp"
                    },
                    "kmsKeyArn": {},
                    "name": {},
                    "priority": {
                        "type": "integer"
                    },
                    "satelliteId": {},
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "shape": "S1u"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42PRLRO6Q7TDCIENC3L5AXEVTCXRECA2Y3C7NSPPXIGZT7T6DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAPXTPSDSVP6R6VPX32OBENXVZX5N7VF5HNQUUA2HZGZTZT375GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "CreateMissionProfile": {
            "http": {
                "requestUri": "/missionprofile",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataflowEdges",
                    "minimumViableContactDurationSeconds",
                    "name",
                    "trackingConfigArn"
                ],
                "members": {
                    "contactPostPassDurationSeconds": {
                        "type": "integer"
                    },
                    "contactPrePassDurationSeconds": {
                        "type": "integer"
                    },
                    "dataflowEdges": {
                        "shape": "S1x"
                    },
                    "minimumViableContactDurationSeconds": {
                        "type": "integer"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sy"
                    },
                    "trackingConfigArn": {},
                    "streamsKmsKey": {
                        "shape": "S2d"
                    },
                    "streamsKmsRole": {}
                }
            },
            "output": {
                "shape": "S20"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "DeleteConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/config/{configType}/{configId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configId",
                    "configType"
                ],
                "members": {
                    "configId": {
                        "location": "uri",
                        "locationName": "configId"
                    },
                    "configType": {
                        "location": "uri",
                        "locationName": "configType"
                    }
                }
            },
            "output": {
                "shape": "Sz"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "DeleteDataflowEndpointGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/dataflowEndpointGroup/{dataflowEndpointGroupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataflowEndpointGroupId"
                ],
                "members": {
                    "dataflowEndpointGroupId": {
                        "location": "uri",
                        "locationName": "dataflowEndpointGroupId"
                    }
                }
            },
            "output": {
                "shape": "S1c"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "DeleteEphemeris": {
            "http": {
                "method": "DELETE",
                "requestUri": "/ephemeris/{ephemerisId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ephemerisId"
                ],
                "members": {
                    "ephemerisId": {
                        "location": "uri",
                        "locationName": "ephemerisId"
                    }
                }
            },
            "output": {
                "shape": "S1u"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42PRLRO6Q7TDCIENC3L5AXEVTCXRECA2Y3C7NSPPXIGZT7T6DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAPXTPSDSVP6R6VPX32OBENXVZX5N7VF5HNQUUA2HZGZTZT375GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "DeleteMissionProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/missionprofile/{missionProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "missionProfileId"
                ],
                "members": {
                    "missionProfileId": {
                        "location": "uri",
                        "locationName": "missionProfileId"
                    }
                }
            },
            "output": {
                "shape": "S20"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "DescribeContact": {
            "http": {
                "method": "GET",
                "requestUri": "/contact/{contactId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "contactId"
                ],
                "members": {
                    "contactId": {
                        "location": "uri",
                        "locationName": "contactId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contactId": {},
                    "contactStatus": {},
                    "dataflowList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "destination": {
                                    "type": "structure",
                                    "members": {
                                        "configDetails": {
                                            "shape": "S2b"
                                        },
                                        "configId": {},
                                        "configType": {},
                                        "dataflowDestinationRegion": {}
                                    }
                                },
                                "errorMessage": {},
                                "source": {
                                    "type": "structure",
                                    "members": {
                                        "configDetails": {
                                            "shape": "S2b"
                                        },
                                        "configId": {},
                                        "configType": {},
                                        "dataflowSourceRegion": {}
                                    }
                                }
                            }
                        }
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "errorMessage": {},
                    "groundStation": {},
                    "maximumElevation": {
                        "shape": "S2f"
                    },
                    "missionProfileArn": {},
                    "postPassEndTime": {
                        "type": "timestamp"
                    },
                    "prePassStartTime": {
                        "type": "timestamp"
                    },
                    "region": {},
                    "satelliteArn": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "DescribeEphemeris": {
            "http": {
                "method": "GET",
                "requestUri": "/ephemeris/{ephemerisId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ephemerisId"
                ],
                "members": {
                    "ephemerisId": {
                        "location": "uri",
                        "locationName": "ephemerisId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "ephemerisId": {},
                    "invalidReason": {},
                    "name": {},
                    "priority": {
                        "type": "integer"
                    },
                    "satelliteId": {},
                    "status": {},
                    "suppliedData": {
                        "type": "structure",
                        "members": {
                            "oem": {
                                "shape": "S2p"
                            },
                            "tle": {
                                "shape": "S2p"
                            }
                        },
                        "union": true
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42PRLRO6Q7TDCIENC3L5AXEVTCXRECA2Y3C7NSPPXIGZT7T6DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAPXTPSDSVP6R6VPX32OBENXVZX5N7VF5HNQUUA2HZGZTZT375GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "GetConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/config/{configType}/{configId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configId",
                    "configType"
                ],
                "members": {
                    "configId": {
                        "location": "uri",
                        "locationName": "configId"
                    },
                    "configType": {
                        "location": "uri",
                        "locationName": "configType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configArn",
                    "configData",
                    "configId",
                    "name"
                ],
                "members": {
                    "configArn": {},
                    "configData": {
                        "shape": "S5"
                    },
                    "configId": {},
                    "configType": {},
                    "name": {},
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "GetDataflowEndpointGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/dataflowEndpointGroup/{dataflowEndpointGroupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataflowEndpointGroupId"
                ],
                "members": {
                    "dataflowEndpointGroupId": {
                        "location": "uri",
                        "locationName": "dataflowEndpointGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataflowEndpointGroupArn": {},
                    "dataflowEndpointGroupId": {},
                    "endpointsDetails": {
                        "shape": "S12"
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "GetMinuteUsage": {
            "http": {
                "requestUri": "/minute-usage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "month",
                    "year"
                ],
                "members": {
                    "month": {
                        "type": "integer"
                    },
                    "year": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "estimatedMinutesRemaining": {
                        "type": "integer"
                    },
                    "isReservedMinutesCustomer": {
                        "type": "boolean"
                    },
                    "totalReservedMinuteAllocation": {
                        "type": "integer"
                    },
                    "totalScheduledMinutes": {
                        "type": "integer"
                    },
                    "upcomingMinutesScheduled": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "GetMissionProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/missionprofile/{missionProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "missionProfileId"
                ],
                "members": {
                    "missionProfileId": {
                        "location": "uri",
                        "locationName": "missionProfileId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contactPostPassDurationSeconds": {
                        "type": "integer"
                    },
                    "contactPrePassDurationSeconds": {
                        "type": "integer"
                    },
                    "dataflowEdges": {
                        "shape": "S1x"
                    },
                    "minimumViableContactDurationSeconds": {
                        "type": "integer"
                    },
                    "missionProfileArn": {},
                    "missionProfileId": {},
                    "name": {},
                    "region": {},
                    "tags": {
                        "shape": "Sy"
                    },
                    "trackingConfigArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "GetSatellite": {
            "http": {
                "method": "GET",
                "requestUri": "/satellite/{satelliteId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "satelliteId"
                ],
                "members": {
                    "satelliteId": {
                        "location": "uri",
                        "locationName": "satelliteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "currentEphemeris": {
                        "shape": "S34"
                    },
                    "groundStations": {
                        "shape": "S36"
                    },
                    "noradSatelliteID": {
                        "type": "integer"
                    },
                    "satelliteArn": {},
                    "satelliteId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "ListConfigs": {
            "http": {
                "method": "GET",
                "requestUri": "/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "configList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "configArn": {},
                                "configId": {},
                                "configType": {},
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "ListContacts": {
            "http": {
                "requestUri": "/contacts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endTime",
                    "startTime",
                    "statusList"
                ],
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "groundStation": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "missionProfileArn": {},
                    "nextToken": {},
                    "satelliteArn": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "statusList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contactList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "contactId": {},
                                "contactStatus": {},
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "errorMessage": {},
                                "groundStation": {},
                                "maximumElevation": {
                                    "shape": "S2f"
                                },
                                "missionProfileArn": {},
                                "postPassEndTime": {
                                    "type": "timestamp"
                                },
                                "prePassStartTime": {
                                    "type": "timestamp"
                                },
                                "region": {},
                                "satelliteArn": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "tags": {
                                    "shape": "Sy"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "ListDataflowEndpointGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/dataflowEndpointGroup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataflowEndpointGroupList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "dataflowEndpointGroupArn": {},
                                "dataflowEndpointGroupId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "ListEphemerides": {
            "http": {
                "requestUri": "/ephemerides",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endTime",
                    "satelliteId",
                    "startTime"
                ],
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "satelliteId": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "statusList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ephemerides": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "enabled": {
                                    "type": "boolean"
                                },
                                "ephemerisId": {},
                                "name": {},
                                "priority": {
                                    "type": "integer"
                                },
                                "sourceS3Object": {
                                    "shape": "S1h"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42PRLRO6Q7TDCIENC3L5AXEVTCXRECA2Y3C7NSPPXIGZT7T6DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAPXTPSDSVP6R6VPX32OBENXVZX5N7VF5HNQUUA2HZGZTZT375GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "ListGroundStations": {
            "http": {
                "method": "GET",
                "requestUri": "/groundstation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "satelliteId": {
                        "location": "querystring",
                        "locationName": "satelliteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "groundStationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "groundStationId": {},
                                "groundStationName": {},
                                "region": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH5BNAVDI43K7XS4U7XAJJILZJEUSVAZBYPKNMMLORH7DSYWHPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7SUUBG4NUPMTINYEZDOEZOJWUL62XWZDT7VQHAITLYOJOLUVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XL4XDKDWKOSGNQCUXXCHMMFOAORWXPW2AGMUKAUYWRDWVF5PYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTGMQG74HSPC722CFKLWCXN4NBDAN7KYFLPVWHMANK6PLN44UHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB5TAE65MYE4EDEXU6HCHXT6HQ6N4WYSY3VAWDOBVZHDZRNEG37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NNWW7DK3PAJZVF3KF6J7BBMGZUD4VYOMFQQ6WFJUAIHY34YM7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/276FC34J3SB757IHFK75PTDZXRJZIDOABIERXEO3SROVBASCL6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW2LFLWK44RX7A77ZXR2U7DJ4KGP6TTUPVLORKCWYKR4CR75EMDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RGEMOBHDS2ZRXYVMTIULQZ3PPKZ5V5RHHRTIK4YX34VS2KY76FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYIKUWFW3ACYBWBKDHHS7TRSHQFBNQMI47M2ZH2UEPAJ3LBOWZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AALLQYZKWJV26YJI2E6Q5ZYQTVWTYHJ723HNHABA2YHBAOS7TVMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LELWDM3AJGAVLXSIHXDWGU7B5RYSEE36GXC3HLW5SLHZHQ4PK3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5LI4K4LYJVL7NQKPKDAPQCTJKH7RBUKTBKT5PYFHTMQQPSJFONA/vendors.js"
            ]
        },
        "ListMissionProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/missionprofile",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "missionProfileList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "missionProfileArn": {},
                                "missionProfileId": {},
                                "name": {},
                                "region": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
[...]
