{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "SamuraiDatasetConsoleControlPlaneLambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "SamuraiDatasetConsoleControlPlaneLambda",
        "serviceFullName": "A beautiful and amazing Lyra-Samurai-C2J",
        "serviceId": "LYRASDSSAMURAICONSOLE",
        "signatureVersion": "v4",
        "signingName": "groundtruthlabeling",
        "uid": "groundtruth-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OU2E2F3I574FP3WGCJQO6YRQUA2LOV3TPO5EB7RWHSVQJ3QI6VQA/groundtruth.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJRYXOK25W4SLC5TQ6AHLBIWGK3K3JVLZY2U5SSBZIDSYWTA75NQ/groundtruth.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5O7KKSHRWTHYDZYR7YXKYO7OWPRFSIZSA4VREYRHEQZXJRHSSNFQ/groundtruth.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DQLUMHUGARIC5IAG3DDGVZ744NZAR2S4CM3GU45KJX2NZSQOLCFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5UHJRFLW32JWWTSJJ73K4LYANVTHQCCTRGMLIO325KGLDGB66MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N726OJ5C222Y4KLXZIACSFCYDUK3META5GLXQC5CARZQE25W4MJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
        ]
    },
    "operations": {
        "AssociatePatchToManifestJob": {
            "http": {
                "requestUri": "/AssociatePatchToManifestJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource",
                                    "etag"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "shape": "S5"
                                    },
                                    "version": {},
                                    "etag": {}
                                }
                            },
                            "patchSource": {
                                "shape": "S5"
                            },
                            "sourcesSorted": {
                                "type": "boolean"
                            },
                            "datasetObjectIdAttributeName": {}
                        }
                    },
                    "classesToDeleteLabelsFor": {
                        "type": "list",
                        "member": {}
                    },
                    "classesToRenameMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "operation": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OU2E2F3I574FP3WGCJQO6YRQUA2LOV3TPO5EB7RWHSVQJ3QI6VQA/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJRYXOK25W4SLC5TQ6AHLBIWGK3K3JVLZY2U5SSBZIDSYWTA75NQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7KKSHRWTHYDZYR7YXKYO7OWPRFSIZSA4VREYRHEQZXJRHSSNFQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQLUMHUGARIC5IAG3DDGVZ744NZAR2S4CM3GU45KJX2NZSQOLCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5UHJRFLW32JWWTSJJ73K4LYANVTHQCCTRGMLIO325KGLDGB66MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N726OJ5C222Y4KLXZIACSFCYDUK3META5GLXQC5CARZQE25W4MJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "DescribeConsoleJob": {
            "http": {
                "requestUri": "/DescribeConsoleJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "requestId"
                ],
                "members": {
                    "jobId": {},
                    "requestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobStatus": {},
                    "processedObjectCount": {
                        "type": "long"
                    },
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OU2E2F3I574FP3WGCJQO6YRQUA2LOV3TPO5EB7RWHSVQJ3QI6VQA/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJRYXOK25W4SLC5TQ6AHLBIWGK3K3JVLZY2U5SSBZIDSYWTA75NQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7KKSHRWTHYDZYR7YXKYO7OWPRFSIZSA4VREYRHEQZXJRHSSNFQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQLUMHUGARIC5IAG3DDGVZ744NZAR2S4CM3GU45KJX2NZSQOLCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5UHJRFLW32JWWTSJJ73K4LYANVTHQCCTRGMLIO325KGLDGB66MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N726OJ5C222Y4KLXZIACSFCYDUK3META5GLXQC5CARZQE25W4MJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "GenerateLIDARPreviewTaskConfigJob": {
            "http": {
                "requestUri": "/GenerateLIDARPreviewTaskConfigJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "roleArn",
                    "outputTaskConfigS3UriPrefix",
                    "frameType",
                    "manifestLine",
                    "modality"
                ],
                "members": {
                    "requestId": {},
                    "roleArn": {},
                    "outputTaskConfigS3UriPrefix": {},
                    "kmsKeyId": {},
                    "frameType": {},
                    "manifestLine": {},
                    "modality": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OU2E2F3I574FP3WGCJQO6YRQUA2LOV3TPO5EB7RWHSVQJ3QI6VQA/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJRYXOK25W4SLC5TQ6AHLBIWGK3K3JVLZY2U5SSBZIDSYWTA75NQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7KKSHRWTHYDZYR7YXKYO7OWPRFSIZSA4VREYRHEQZXJRHSSNFQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQLUMHUGARIC5IAG3DDGVZ744NZAR2S4CM3GU45KJX2NZSQOLCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5UHJRFLW32JWWTSJJ73K4LYANVTHQCCTRGMLIO325KGLDGB66MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N726OJ5C222Y4KLXZIACSFCYDUK3META5GLXQC5CARZQE25W4MJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "ListDatasetObjects": {
            "http": {
                "requestUri": "/ListDatasetObjects"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "labelAttributeName": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "St"
                            },
                            "pageSize": {
                                "type": "integer"
                            }
                        }
                    },
                    "roleArn": {},
                    "continuationToken": {},
                    "streamingEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "datasetObjectsList": {
                        "type": "list",
                        "member": {}
                    },
                    "datasetObjectsCount": {
                        "type": "integer"
                    },
                    "truncated": {
                        "type": "boolean"
                    },
                    "continuationToken": {},
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OU2E2F3I574FP3WGCJQO6YRQUA2LOV3TPO5EB7RWHSVQJ3QI6VQA/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJRYXOK25W4SLC5TQ6AHLBIWGK3K3JVLZY2U5SSBZIDSYWTA75NQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7KKSHRWTHYDZYR7YXKYO7OWPRFSIZSA4VREYRHEQZXJRHSSNFQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQLUMHUGARIC5IAG3DDGVZ744NZAR2S4CM3GU45KJX2NZSQOLCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5UHJRFLW32JWWTSJJ73K4LYANVTHQCCTRGMLIO325KGLDGB66MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N726OJ5C222Y4KLXZIACSFCYDUK3META5GLXQC5CARZQE25W4MJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "ListLabelAttributeNames": {
            "http": {
                "requestUri": "/ListLabelAttributeNames"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "St"
                            }
                        }
                    },
                    "roleArn": {},
                    "jobType": {},
                    "jobName": {},
                    "pageSize": {
                        "type": "integer"
                    },
                    "continuationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "resultList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "labelAttributeName": {},
                                "jobName": {},
                                "jobType": {},
                                "semSegWithHexColor": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "pageObjectCount": {
                        "type": "integer"
                    },
                    "continuationToken": {},
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OU2E2F3I574FP3WGCJQO6YRQUA2LOV3TPO5EB7RWHSVQJ3QI6VQA/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJRYXOK25W4SLC5TQ6AHLBIWGK3K3JVLZY2U5SSBZIDSYWTA75NQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7KKSHRWTHYDZYR7YXKYO7OWPRFSIZSA4VREYRHEQZXJRHSSNFQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQLUMHUGARIC5IAG3DDGVZ744NZAR2S4CM3GU45KJX2NZSQOLCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5UHJRFLW32JWWTSJJ73K4LYANVTHQCCTRGMLIO325KGLDGB66MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N726OJ5C222Y4KLXZIACSFCYDUK3META5GLXQC5CARZQE25W4MJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "RunFilterOrSampleDatasetJob": {
            "http": {
                "requestUri": "/RunFilterOrSampleDatasetJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "strategy": {},
                            "percentageOfInputDatasetSize": {
                                "type": "integer"
                            },
                            "filterExpression": {},
                            "compressionType": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OU2E2F3I574FP3WGCJQO6YRQUA2LOV3TPO5EB7RWHSVQJ3QI6VQA/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJRYXOK25W4SLC5TQ6AHLBIWGK3K3JVLZY2U5SSBZIDSYWTA75NQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7KKSHRWTHYDZYR7YXKYO7OWPRFSIZSA4VREYRHEQZXJRHSSNFQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQLUMHUGARIC5IAG3DDGVZ744NZAR2S4CM3GU45KJX2NZSQOLCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5UHJRFLW32JWWTSJJ73K4LYANVTHQCCTRGMLIO325KGLDGB66MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N726OJ5C222Y4KLXZIACSFCYDUK3META5GLXQC5CARZQE25W4MJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "RunGenerateManifestByCrawlingJob": {
            "http": {
                "requestUri": "/RunGenerateManifestByCrawlingJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "members": {
                                    "crawlingS3DataSource": {
                                        "type": "structure",
                                        "members": {
                                            "s3Prefix": {},
                                            "fileSuffixes": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "autoLabellingStrategy": {},
                            "crawlStrategy": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "roleArn": {},
                    "frameExtractInterval": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OU2E2F3I574FP3WGCJQO6YRQUA2LOV3TPO5EB7RWHSVQJ3QI6VQA/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJRYXOK25W4SLC5TQ6AHLBIWGK3K3JVLZY2U5SSBZIDSYWTA75NQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7KKSHRWTHYDZYR7YXKYO7OWPRFSIZSA4VREYRHEQZXJRHSSNFQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQLUMHUGARIC5IAG3DDGVZ744NZAR2S4CM3GU45KJX2NZSQOLCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5UHJRFLW32JWWTSJJ73K4LYANVTHQCCTRGMLIO325KGLDGB66MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N726OJ5C222Y4KLXZIACSFCYDUK3META5GLXQC5CARZQE25W4MJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "RunGenerateManifestMetricsJob": {
            "http": {
                "requestUri": "/RunGenerateManifestMetricsJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource",
                            "metricsToGet"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "shape": "S5"
                                    },
                                    "etag": {},
                                    "versionId": {}
                                }
                            },
                            "metricsToGet": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "required": [
                            "s3Uri"
                        ],
                        "members": {
                            "s3Uri": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OU2E2F3I574FP3WGCJQO6YRQUA2LOV3TPO5EB7RWHSVQJ3QI6VQA/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJRYXOK25W4SLC5TQ6AHLBIWGK3K3JVLZY2U5SSBZIDSYWTA75NQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7KKSHRWTHYDZYR7YXKYO7OWPRFSIZSA4VREYRHEQZXJRHSSNFQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQLUMHUGARIC5IAG3DDGVZ744NZAR2S4CM3GU45KJX2NZSQOLCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5UHJRFLW32JWWTSJJ73K4LYANVTHQCCTRGMLIO325KGLDGB66MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N726OJ5C222Y4KLXZIACSFCYDUK3META5GLXQC5CARZQE25W4MJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "CreateIntakeForm": {
            "http": {
                "requestUri": "/CreateIntakeForm"
            },
            "input": {
                "type": "structure",
                "required": [
                    "customerAccountId",
                    "intakeForm",
                    "intakeFormName"
                ],
                "members": {
                    "customerAccountId": {},
                    "intakeForm": {},
                    "intakeFormName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OU2E2F3I574FP3WGCJQO6YRQUA2LOV3TPO5EB7RWHSVQJ3QI6VQA/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJRYXOK25W4SLC5TQ6AHLBIWGK3K3JVLZY2U5SSBZIDSYWTA75NQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7KKSHRWTHYDZYR7YXKYO7OWPRFSIZSA4VREYRHEQZXJRHSSNFQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQLUMHUGARIC5IAG3DDGVZ744NZAR2S4CM3GU45KJX2NZSQOLCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5UHJRFLW32JWWTSJJ73K4LYANVTHQCCTRGMLIO325KGLDGB66MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N726OJ5C222Y4KLXZIACSFCYDUK3META5GLXQC5CARZQE25W4MJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/CreateProject"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "dataType",
                    "roleArn",
                    "modality"
                ],
                "members": {
                    "projectName": {},
                    "dataType": {},
                    "kmsKeyId": {},
                    "roleArn": {},
                    "modality": {},
                    "projectDescription": {},
                    "customerContactInfo": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OU2E2F3I574FP3WGCJQO6YRQUA2LOV3TPO5EB7RWHSVQJ3QI6VQA/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJRYXOK25W4SLC5TQ6AHLBIWGK3K3JVLZY2U5SSBZIDSYWTA75NQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7KKSHRWTHYDZYR7YXKYO7OWPRFSIZSA4VREYRHEQZXJRHSSNFQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQLUMHUGARIC5IAG3DDGVZ744NZAR2S4CM3GU45KJX2NZSQOLCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5UHJRFLW32JWWTSJJ73K4LYANVTHQCCTRGMLIO325KGLDGB66MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N726OJ5C222Y4KLXZIACSFCYDUK3META5GLXQC5CARZQE25W4MJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "GetIntakeFormStatus": {
            "http": {
                "requestUri": "/GetIntakeFormStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "customerAccountId",
                    "intakeFormName"
                ],
                "members": {
                    "customerAccountId": {},
                    "intakeFormName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "intakeFormStatus"
                ],
                "members": {
                    "intakeFormStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OU2E2F3I574FP3WGCJQO6YRQUA2LOV3TPO5EB7RWHSVQJ3QI6VQA/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJRYXOK25W4SLC5TQ6AHLBIWGK3K3JVLZY2U5SSBZIDSYWTA75NQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7KKSHRWTHYDZYR7YXKYO7OWPRFSIZSA4VREYRHEQZXJRHSSNFQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQLUMHUGARIC5IAG3DDGVZ744NZAR2S4CM3GU45KJX2NZSQOLCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5UHJRFLW32JWWTSJJ73K4LYANVTHQCCTRGMLIO325KGLDGB66MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N726OJ5C222Y4KLXZIACSFCYDUK3META5GLXQC5CARZQE25W4MJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "ListProjects": {
            "http": {
                "requestUri": "/ListProjects"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "kmsKeyId": {},
                                "batchCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S1r"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "beaconProjectAccountId": {},
                                "billableUnit": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "customerAccountId": {},
                                "customerCodeName": {},
                                "dataType": {},
                                "datasetObjectCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S1r"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lastModifiedTime": {
                                    "type": "timestamp"
                                },
                                "modality": {},
                                "projectArn": {},
                                "projectName": {},
                                "projectStatus": {},
                                "projectType": {},
                                "metadata": {},
                                "roleArn": {},
                                "projectDescription": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OU2E2F3I574FP3WGCJQO6YRQUA2LOV3TPO5EB7RWHSVQJ3QI6VQA/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJRYXOK25W4SLC5TQ6AHLBIWGK3K3JVLZY2U5SSBZIDSYWTA75NQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7KKSHRWTHYDZYR7YXKYO7OWPRFSIZSA4VREYRHEQZXJRHSSNFQ/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQLUMHUGARIC5IAG3DDGVZ744NZAR2S4CM3GU45KJX2NZSQOLCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5UHJRFLW32JWWTSJJ73K4LYANVTHQCCTRGMLIO325KGLDGB66MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N726OJ5C222Y4KLXZIACSFCYDUK3META5GLXQC5CARZQE25W4MJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "CreateBatch": {
            "http": {
                "requestUri": "/CreateBatch"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "batchName"
                ],
                "members": {
                    "projectName": {},
                    "batchName": {},
                    "batchType": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "type": "structure",
                                        "required": [
                                            "s3Uri"
                                        ],
                                        "members": {
                                            "s3Uri": {},
                                            "beaconAccountS3Uri": {}
                                        }
                                    }
                                }
                            },
                            "roleArn": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "required": [
                            "s3OutputPath"
                        ],
                        "members": {
                            "s3OutputPath": {
                                "type": "structure",
                                "required": [
                                    "s3Uri"
                                ],
                                "members": {
                                    "s3Uri": {},
                                    "beaconAccountS3Uri": {}
                                }
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "batchDescription": {},
                    "coordinatorConfig": {
                        "type": "structure",
                        "members": {
                            "coordinatorStateMachineExecutionArn": {},
                            "taskTokens": {
                                "type": "structure",
                                "members": {
                                    "processingTaskToken": {},
                                    "waitAfterIngestionToken": {},
                                    "waitBeforeDeliveryToken": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "CreateWorkflowDefinition": {
            "http": {
                "requestUri": "/CreateWorkflowDefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "customerAccountId",
                    "workflowDefinitionName",
                    "workflowDefinitionSpec"
                ],
                "members": {
                    "projectName": {},
                    "customerAccountId": {},
                    "workflowDefinitionName": {},
                    "workflowDefinitionSpec": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "version": {
                        "type": "long"
                    },
                    "workflowDefinitionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "ListBatches": {
            "http": {
                "requestUri": "/ListBatches"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "projectName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "batchArn": {},
                                "batchDatasetConfig": {
                                    "type": "structure",
                                    "members": {
                                        "curatedDatasetManifestS3Uri": {},
                                        "datasetName": {},
                                        "datasetStatus": {}
                                    }
                                },
                                "batchDescription": {},
                                "batchName": {},
                                "batchStatus": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "datasetObjectCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S21"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lastModifiedTime": {
                                    "type": "timestamp"
                                },
                                "projectArn": {},
                                "version": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        },
        "UpdateBatch": {
            "http": {
                "requestUri": "/UpdateBatch"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "batchName",
                    "batchStatus",
                    "expectedVersion"
                ],
                "members": {
                    "projectName": {},
                    "batchName": {},
                    "batchStatus": {},
                    "expectedVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUCUF7ITESYDXLJPGAYT3XEWYU5ZEFGZ6MDMCT3DLJCVN33YBWZQ/dynamic-common-1307.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMMLBXDWSPWBUMZ7WZKE5QMKMZUUF4SE4YQT3SIN7QWI36MPX5VQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L54KI7YVGHS4ZER56PB2TF32E2F5I7GGTUEIEDSRDASJB4CPOM2Q/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "manifestS3Uri": {},
                "labelChannelS3Prefix": {}
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S1r": {
            "type": "map",
            "key": {},
            "value": {
                "type": "long"
            }
        },
        "S21": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        },
        "S25": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S2w": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        }
    }
}