{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "SamuraiDatasetConsoleControlPlaneLambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "SamuraiDatasetConsoleControlPlaneLambda",
        "serviceFullName": "A beautiful and amazing Lyra-Samurai-C2J",
        "serviceId": "LYRASDSSAMURAICONSOLE",
        "signatureVersion": "v4",
        "signingName": "groundtruthlabeling",
        "uid": "groundtruth-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
        ]
    },
    "operations": {
        "AssociatePatchToManifestJob": {
            "http": {
                "requestUri": "/AssociatePatchToManifestJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource",
                                    "etag"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "shape": "S5"
                                    },
                                    "version": {},
                                    "etag": {}
                                }
                            },
                            "patchSource": {
                                "shape": "S5"
                            },
                            "sourcesSorted": {
                                "type": "boolean"
                            },
                            "datasetObjectIdAttributeName": {}
                        }
                    },
                    "classesToDeleteLabelsFor": {
                        "type": "list",
                        "member": {}
                    },
                    "classesToRenameMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "operation": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "DescribeConsoleJob": {
            "http": {
                "requestUri": "/DescribeConsoleJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "requestId"
                ],
                "members": {
                    "jobId": {},
                    "requestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobStatus": {},
                    "processedObjectCount": {
                        "type": "long"
                    },
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "GenerateLIDARPreviewTaskConfigJob": {
            "http": {
                "requestUri": "/GenerateLIDARPreviewTaskConfigJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "roleArn",
                    "outputTaskConfigS3UriPrefix",
                    "frameType",
                    "manifestLine",
                    "modality"
                ],
                "members": {
                    "requestId": {},
                    "roleArn": {},
                    "outputTaskConfigS3UriPrefix": {},
                    "kmsKeyId": {},
                    "frameType": {},
                    "manifestLine": {},
                    "modality": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "ListDatasetObjects": {
            "http": {
                "requestUri": "/ListDatasetObjects"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "labelAttributeName": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "St"
                            },
                            "pageSize": {
                                "type": "integer"
                            }
                        }
                    },
                    "roleArn": {},
                    "continuationToken": {},
                    "streamingEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "datasetObjectsList": {
                        "type": "list",
                        "member": {}
                    },
                    "datasetObjectsCount": {
                        "type": "integer"
                    },
                    "truncated": {
                        "type": "boolean"
                    },
                    "continuationToken": {},
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "ListLabelAttributeNames": {
            "http": {
                "requestUri": "/ListLabelAttributeNames"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "St"
                            }
                        }
                    },
                    "roleArn": {},
                    "jobType": {},
                    "jobName": {},
                    "pageSize": {
                        "type": "integer"
                    },
                    "continuationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "resultList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "labelAttributeName": {},
                                "jobName": {},
                                "jobType": {},
                                "semSegWithHexColor": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "pageObjectCount": {
                        "type": "integer"
                    },
                    "continuationToken": {},
                    "errorCode": {
                        "type": "integer"
                    },
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "RunFilterOrSampleDatasetJob": {
            "http": {
                "requestUri": "/RunFilterOrSampleDatasetJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "strategy": {},
                            "percentageOfInputDatasetSize": {
                                "type": "integer"
                            },
                            "filterExpression": {},
                            "compressionType": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "RunGenerateManifestByCrawlingJob": {
            "http": {
                "requestUri": "/RunGenerateManifestByCrawlingJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "members": {
                                    "crawlingS3DataSource": {
                                        "type": "structure",
                                        "members": {
                                            "s3Prefix": {},
                                            "fileSuffixes": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "autoLabellingStrategy": {},
                            "crawlStrategy": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "members": {
                            "dataSource": {
                                "shape": "S17"
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "roleArn": {},
                    "frameExtractInterval": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "RunGenerateManifestMetricsJob": {
            "http": {
                "requestUri": "/RunGenerateManifestMetricsJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "requestId": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource",
                            "metricsToGet"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "shape": "S5"
                                    },
                                    "etag": {},
                                    "versionId": {}
                                }
                            },
                            "metricsToGet": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "required": [
                            "s3Uri"
                        ],
                        "members": {
                            "s3Uri": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "CreateIntakeForm": {
            "http": {
                "requestUri": "/CreateIntakeForm"
            },
            "input": {
                "type": "structure",
                "required": [
                    "customerAccountId",
                    "intakeForm",
                    "intakeFormName"
                ],
                "members": {
                    "customerAccountId": {},
                    "intakeForm": {},
                    "intakeFormName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/CreateProject"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "dataType",
                    "roleArn",
                    "modality"
                ],
                "members": {
                    "projectName": {},
                    "dataType": {},
                    "kmsKeyId": {},
                    "roleArn": {},
                    "modality": {},
                    "projectDescription": {},
                    "customerContactInfo": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "GetIntakeFormStatus": {
            "http": {
                "requestUri": "/GetIntakeFormStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "customerAccountId",
                    "intakeFormName"
                ],
                "members": {
                    "customerAccountId": {},
                    "intakeFormName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "intakeFormStatus"
                ],
                "members": {
                    "intakeFormStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "ListProjects": {
            "http": {
                "requestUri": "/ListProjects"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "kmsKeyId": {},
                                "batchCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S1r"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "beaconProjectAccountId": {},
                                "billableUnit": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "customerAccountId": {},
                                "customerCodeName": {},
                                "dataType": {},
                                "datasetObjectCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S1r"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lastModifiedTime": {
                                    "type": "timestamp"
                                },
                                "modality": {},
                                "projectArn": {},
                                "projectName": {},
                                "projectStatus": {},
                                "projectType": {},
                                "metadata": {},
                                "roleArn": {},
                                "projectDescription": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "CreateBatch": {
            "http": {
                "requestUri": "/CreateBatch"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "batchName"
                ],
                "members": {
                    "projectName": {},
                    "batchName": {},
                    "batchType": {},
                    "inputConfig": {
                        "type": "structure",
                        "required": [
                            "dataSource"
                        ],
                        "members": {
                            "dataSource": {
                                "type": "structure",
                                "required": [
                                    "s3DataSource"
                                ],
                                "members": {
                                    "s3DataSource": {
                                        "type": "structure",
                                        "required": [
                                            "s3Uri"
                                        ],
                                        "members": {
                                            "s3Uri": {},
                                            "beaconAccountS3Uri": {}
                                        }
                                    }
                                }
                            },
                            "roleArn": {}
                        }
                    },
                    "outputConfig": {
                        "type": "structure",
                        "required": [
                            "s3OutputPath"
                        ],
                        "members": {
                            "s3OutputPath": {
                                "type": "structure",
                                "required": [
                                    "s3Uri"
                                ],
                                "members": {
                                    "s3Uri": {},
                                    "beaconAccountS3Uri": {}
                                }
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "batchDescription": {},
                    "coordinatorConfig": {
                        "type": "structure",
                        "members": {
                            "coordinatorStateMachineExecutionArn": {},
                            "taskTokens": {
                                "type": "structure",
                                "members": {
                                    "processingTaskToken": {},
                                    "waitAfterIngestionToken": {},
                                    "waitBeforeDeliveryToken": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "CreateWorkflowDefinition": {
            "http": {
                "requestUri": "/CreateWorkflowDefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "customerAccountId",
                    "workflowDefinitionName",
                    "workflowDefinitionSpec"
                ],
                "members": {
                    "projectName": {},
                    "customerAccountId": {},
                    "workflowDefinitionName": {},
                    "workflowDefinitionSpec": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "version": {
                        "type": "long"
                    },
                    "workflowDefinitionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "ListBatches": {
            "http": {
                "requestUri": "/ListBatches"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "projectName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "batchArn": {},
                                "batchDatasetConfig": {
                                    "type": "structure",
                                    "members": {
                                        "curatedDatasetManifestS3Uri": {},
                                        "datasetName": {},
                                        "datasetStatus": {}
                                    }
                                },
                                "batchDescription": {},
                                "batchName": {},
                                "batchStatus": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "datasetObjectCounts": {
                                    "type": "structure",
                                    "members": {
                                        "statusCounts": {
                                            "shape": "S21"
                                        },
                                        "total": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lastModifiedTime": {
                                    "type": "timestamp"
                                },
                                "projectArn": {},
                                "version": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        },
        "UpdateBatch": {
            "http": {
                "requestUri": "/UpdateBatch"
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectName",
                    "batchName",
                    "batchStatus",
                    "expectedVersion"
                ],
                "members": {
                    "projectName": {},
                    "batchName": {},
                    "batchStatus": {},
                    "expectedVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMJOBO24S7ZLTHPGALSB2NJ4WVXBY33DB5OXDZ6CR3N5ZKH722AA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E5XI575ZVBOQTRRZZSXLWJ4U2PRXWMGQEPZ4KFNOIRNWCAANXYQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TGJTADEXPWU6BN4BLXK22I6O7EUY64JDLBW35Z4L5CN57P7PXRQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VF2QARNKOF564ZB3SLHSUETEUNROOSOWMFXJZ5EYSQ2F4NHCDMSQ/dynamic-common-5530.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AQKPPQA3CFDR437QKQSDI4Q2KH42TJ3MKIBOEN5BWWMEWC5W4XQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JHMI4TGJRFOZ3VYBRCMUWH7XU5NJOKEVJZXKGZEBS6YS4WSI2RQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45KUQDDVY6IU4BEMM7GEBGRUXCCPAGYWRSVMJSVARFFIQCFNOTOA/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXGRCUMSWKMQIPYCXKBOJVA4WAWVLHOERRHE3RPXBJN7DD3TBVQ/dynamic-common-5530.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKJHDRJ57EGESY5PGLJEJR577SWOFR6SSCERCBQNRQD2QAG6TVTA/dynamic-common-2801.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOTYV3YQTRFX5G5EAEEHRUWN6OKLHJZR3DAXVEDRR4AQV5DHDGMA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THEVJKIGAA5GUF2SANA2WHSKUQVGVHIKLD6RY2EYQP7X4LCJOJ5A/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC7TQQ3DMXLCTMZWTJINMLWLVRJU6LCONHQYXV3IYJHWUELATAJA/dynamic-common-2801.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FERZKN2WDIDPHA2QWPMAEQSQ372JMOPYJIDYK6BVAIMX5C5K4FXA/dynamic-common-2801.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "manifestS3Uri": {},
                "labelChannelS3Prefix": {}
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S1r": {
            "type": "map",
            "key": {},
            "value": {
                "type": "long"
            }
        },
        "S21": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        },
        "S25": {
            "type": "structure",
            "members": {
                "listS3DataSource": {
                    "type": "structure",
                    "members": {
                        "manifestS3Uri": {}
                    }
                }
            }
        },
        "S2w": {
            "type": "structure",
            "members": {
                "s3DataSource": {
                    "shape": "S5"
                }
            }
        }
    }
}