{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-05-23",
        "endpointPrefix": "groundstation",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Ground Station",
        "serviceId": "GroundStation",
        "signatureVersion": "v4",
        "signingName": "groundstation",
        "uid": "groundstation-2019-05-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXZIZDWY5CBUOICQ4GVFLBI5OQ4HOTXGW426BH7D6NOTGLWWMUQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelContact": {
            "http": {
                "method": "DELETE",
                "requestUri": "/contact/{contactId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "contactId"
                ],
                "members": {
                    "contactId": {
                        "location": "uri",
                        "locationName": "contactId"
                    }
                }
            },
            "output": {
                "shape": "S3"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateConfig": {
            "http": {
                "requestUri": "/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configData",
                    "name"
                ],
                "members": {
                    "configData": {
                        "shape": "S5"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "shape": "Sz"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateDataflowEndpointGroup": {
            "http": {
                "requestUri": "/dataflowEndpointGroup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endpointDetails"
                ],
                "members": {
                    "endpointDetails": {
                        "shape": "S12"
                    },
                    "tags": {
                        "shape": "Sy"
                    },
                    "contactPostPassDurationSeconds": {
                        "type": "integer"
                    },
                    "contactPrePassDurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S1c"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateEphemeris": {
            "http": {
                "requestUri": "/ephemeris",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "satelliteId"
                ],
                "members": {
                    "enabled": {
                        "type": "boolean"
                    },
                    "ephemeris": {
                        "type": "structure",
                        "members": {
                            "oem": {
                                "type": "structure",
                                "members": {
                                    "oemData": {},
                                    "s3Object": {
                                        "shape": "S1h"
                                    }
                                }
                            },
                            "tle": {
                                "type": "structure",
                                "members": {
                                    "s3Object": {
                                        "shape": "S1h"
                                    },
                                    "tleData": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "tleLine1",
                                                "tleLine2",
                                                "validTimeRange"
                                            ],
                                            "members": {
                                                "tleLine1": {},
                                                "tleLine2": {},
                                                "validTimeRange": {
                                                    "type": "structure",
                                                    "required": [
                                                        "endTime",
                                                        "startTime"
                                                    ],
                                                    "members": {
                                                        "endTime": {
                                                            "type": "timestamp"
                                                        },
                                                        "startTime": {
                                                            "type": "timestamp"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "expirationTime": {
                        "type": "timestamp"
                    },
                    "kmsKeyArn": {},
                    "name": {},
                    "priority": {
                        "type": "integer"
                    },
                    "satelliteId": {},
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "shape": "S1u"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPOG6TVMN234UXINQKXBHHS64ILA35GFLOX2SJ73RD72UD6SPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUA4DEBYVHAUG5EF5CI7ZCGWB4BU2ZGW6MSYTLA5GV7LI62DTNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSB5Y6NK6HBFVG2PVFBXD2JEACZVIRBABEBKRLQBRUOX36AZDWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63QWO5P2BY5STETGHXXHJTO2SYGYMCQ4YH6OHUDCP4CX6BABAAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXZIZDWY5CBUOICQ4GVFLBI5OQ4HOTXGW426BH7D6NOTGLWWMUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateMissionProfile": {
            "http": {
                "requestUri": "/missionprofile",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataflowEdges",
                    "minimumViableContactDurationSeconds",
                    "name",
                    "trackingConfigArn"
                ],
                "members": {
                    "contactPostPassDurationSeconds": {
                        "type": "integer"
                    },
                    "contactPrePassDurationSeconds": {
                        "type": "integer"
                    },
                    "dataflowEdges": {
                        "shape": "S1x"
                    },
                    "minimumViableContactDurationSeconds": {
                        "type": "integer"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sy"
                    },
                    "trackingConfigArn": {},
                    "streamsKmsKey": {
                        "shape": "S2d"
                    },
                    "streamsKmsRole": {},
                    "telemetrySinkConfigArn": {}
                }
            },
            "output": {
                "shape": "S20"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/config/{configType}/{configId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configId",
                    "configType"
                ],
                "members": {
                    "configId": {
                        "location": "uri",
                        "locationName": "configId"
                    },
                    "configType": {
                        "location": "uri",
                        "locationName": "configType"
                    }
                }
            },
            "output": {
                "shape": "Sz"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteDataflowEndpointGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/dataflowEndpointGroup/{dataflowEndpointGroupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataflowEndpointGroupId"
                ],
                "members": {
                    "dataflowEndpointGroupId": {
                        "location": "uri",
                        "locationName": "dataflowEndpointGroupId"
                    }
                }
            },
            "output": {
                "shape": "S1c"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteEphemeris": {
            "http": {
                "method": "DELETE",
                "requestUri": "/ephemeris/{ephemerisId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ephemerisId"
                ],
                "members": {
                    "ephemerisId": {
                        "location": "uri",
                        "locationName": "ephemerisId"
                    }
                }
            },
            "output": {
                "shape": "S1u"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPOG6TVMN234UXINQKXBHHS64ILA35GFLOX2SJ73RD72UD6SPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUA4DEBYVHAUG5EF5CI7ZCGWB4BU2ZGW6MSYTLA5GV7LI62DTNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSB5Y6NK6HBFVG2PVFBXD2JEACZVIRBABEBKRLQBRUOX36AZDWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63QWO5P2BY5STETGHXXHJTO2SYGYMCQ4YH6OHUDCP4CX6BABAAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXZIZDWY5CBUOICQ4GVFLBI5OQ4HOTXGW426BH7D6NOTGLWWMUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteMissionProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/missionprofile/{missionProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "missionProfileId"
                ],
                "members": {
                    "missionProfileId": {
                        "location": "uri",
                        "locationName": "missionProfileId"
                    }
                }
            },
            "output": {
                "shape": "S20"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeContact": {
            "http": {
                "method": "GET",
                "requestUri": "/contact/{contactId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "contactId"
                ],
                "members": {
                    "contactId": {
                        "location": "uri",
                        "locationName": "contactId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contactId": {},
                    "contactStatus": {},
                    "dataflowList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "destination": {
                                    "type": "structure",
                                    "members": {
                                        "configDetails": {
                                            "shape": "S2b"
                                        },
                                        "configId": {},
                                        "configType": {},
                                        "dataflowDestinationRegion": {}
                                    }
                                },
                                "errorMessage": {},
                                "source": {
                                    "type": "structure",
                                    "members": {
                                        "configDetails": {
                                            "shape": "S2b"
                                        },
                                        "configId": {},
                                        "configType": {},
                                        "dataflowSourceRegion": {}
                                    }
                                }
                            }
                        }
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "errorMessage": {},
                    "groundStation": {},
                    "maximumElevation": {
                        "shape": "S2f"
                    },
                    "missionProfileArn": {},
                    "postPassEndTime": {
                        "type": "timestamp"
                    },
                    "prePassStartTime": {
                        "type": "timestamp"
                    },
                    "region": {},
                    "satelliteArn": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeEphemeris": {
            "http": {
                "method": "GET",
                "requestUri": "/ephemeris/{ephemerisId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ephemerisId"
                ],
                "members": {
                    "ephemerisId": {
                        "location": "uri",
                        "locationName": "ephemerisId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "ephemerisId": {},
                    "invalidReason": {},
                    "name": {},
                    "priority": {
                        "type": "integer"
                    },
                    "satelliteId": {},
                    "status": {},
                    "suppliedData": {
                        "type": "structure",
                        "members": {
                            "oem": {
                                "shape": "S2p"
                            },
                            "tle": {
                                "shape": "S2p"
                            }
                        },
                        "union": true
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPOG6TVMN234UXINQKXBHHS64ILA35GFLOX2SJ73RD72UD6SPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUA4DEBYVHAUG5EF5CI7ZCGWB4BU2ZGW6MSYTLA5GV7LI62DTNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSB5Y6NK6HBFVG2PVFBXD2JEACZVIRBABEBKRLQBRUOX36AZDWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63QWO5P2BY5STETGHXXHJTO2SYGYMCQ4YH6OHUDCP4CX6BABAAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXZIZDWY5CBUOICQ4GVFLBI5OQ4HOTXGW426BH7D6NOTGLWWMUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/config/{configType}/{configId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configId",
                    "configType"
                ],
                "members": {
                    "configId": {
                        "location": "uri",
                        "locationName": "configId"
                    },
                    "configType": {
                        "location": "uri",
                        "locationName": "configType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configArn",
                    "configData",
                    "configId",
                    "name"
                ],
                "members": {
                    "configArn": {},
                    "configData": {
                        "shape": "S5"
                    },
                    "configId": {},
                    "configType": {},
                    "name": {},
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetDataflowEndpointGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/dataflowEndpointGroup/{dataflowEndpointGroupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataflowEndpointGroupId"
                ],
                "members": {
                    "dataflowEndpointGroupId": {
                        "location": "uri",
                        "locationName": "dataflowEndpointGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataflowEndpointGroupArn": {},
                    "dataflowEndpointGroupId": {},
                    "endpointsDetails": {
                        "shape": "S12"
                    },
                    "tags": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetMinuteUsage": {
            "http": {
                "requestUri": "/minute-usage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "month",
                    "year"
                ],
                "members": {
                    "month": {
                        "type": "integer"
                    },
                    "year": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "estimatedMinutesRemaining": {
                        "type": "integer"
                    },
                    "isReservedMinutesCustomer": {
                        "type": "boolean"
                    },
                    "totalReservedMinuteAllocation": {
                        "type": "integer"
                    },
                    "totalScheduledMinutes": {
                        "type": "integer"
                    },
                    "upcomingMinutesScheduled": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetMissionProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/missionprofile/{missionProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "missionProfileId"
                ],
                "members": {
                    "missionProfileId": {
                        "location": "uri",
                        "locationName": "missionProfileId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contactPostPassDurationSeconds": {
                        "type": "integer"
                    },
                    "contactPrePassDurationSeconds": {
                        "type": "integer"
                    },
                    "dataflowEdges": {
                        "shape": "S1x"
                    },
                    "minimumViableContactDurationSeconds": {
                        "type": "integer"
                    },
                    "missionProfileArn": {},
                    "missionProfileId": {},
                    "name": {},
                    "region": {},
                    "tags": {
                        "shape": "Sy"
                    },
                    "trackingConfigArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetSatellite": {
            "http": {
                "method": "GET",
                "requestUri": "/satellite/{satelliteId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "satelliteId"
                ],
                "members": {
                    "satelliteId": {
                        "location": "uri",
                        "locationName": "satelliteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "currentEphemeris": {
                        "shape": "S34"
                    },
                    "groundStations": {
                        "shape": "S36"
                    },
                    "noradSatelliteID": {
                        "type": "integer"
                    },
                    "satelliteArn": {},
                    "satelliteId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListConfigs": {
            "http": {
                "method": "GET",
                "requestUri": "/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "configList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "configArn": {},
                                "configId": {},
                                "configType": {},
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListContacts": {
            "http": {
                "requestUri": "/contacts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endTime",
                    "startTime",
                    "statusList"
                ],
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "groundStation": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "missionProfileArn": {},
                    "nextToken": {},
                    "satelliteArn": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "statusList": {
                        "type": "list",
                        "member": {}
                    },
                    "ephemeris": {
                        "type": "structure",
                        "members": {
                            "azEl": {
                                "type": "structure",
                                "required": [
                                    "id"
                                ],
                                "members": {
                                    "id": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contactList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "contactId": {},
                                "contactStatus": {},
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "errorMessage": {},
                                "groundStation": {},
                                "maximumElevation": {
                                    "shape": "S2f"
                                },
                                "missionProfileArn": {},
                                "postPassEndTime": {
                                    "type": "timestamp"
                                },
                                "prePassStartTime": {
                                    "type": "timestamp"
                                },
                                "region": {},
                                "satelliteArn": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "tags": {
                                    "shape": "Sy"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListDataflowEndpointGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/dataflowEndpointGroup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataflowEndpointGroupList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "dataflowEndpointGroupArn": {},
                                "dataflowEndpointGroupId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListEphemerides": {
            "http": {
                "requestUri": "/ephemerides",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "endTime",
                    "satelliteId",
                    "startTime"
                ],
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "satelliteId": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "statusList": {
                        "type": "list",
                        "member": {}
                    },
                    "ephemerisType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ephemerides": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "enabled": {
                                    "type": "boolean"
                                },
                                "ephemerisId": {},
                                "name": {},
                                "priority": {
                                    "type": "integer"
                                },
                                "sourceS3Object": {
                                    "shape": "S1h"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPOG6TVMN234UXINQKXBHHS64ILA35GFLOX2SJ73RD72UD6SPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUA4DEBYVHAUG5EF5CI7ZCGWB4BU2ZGW6MSYTLA5GV7LI62DTNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSB5Y6NK6HBFVG2PVFBXD2JEACZVIRBABEBKRLQBRUOX36AZDWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63QWO5P2BY5STETGHXXHJTO2SYGYMCQ4YH6OHUDCP4CX6BABAAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXZIZDWY5CBUOICQ4GVFLBI5OQ4HOTXGW426BH7D6NOTGLWWMUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListGroundStations": {
            "http": {
                "method": "GET",
                "requestUri": "/groundstation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "satelliteId": {
                        "location": "querystring",
                        "locationName": "satelliteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "groundStationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "groundStationId": {},
                                "groundStationName": {},
                                "region": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJTRSZBZJKEDP3BBXCS2S3CMS3TPC4LAOWI3PWLQVJJCW7DJL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBQ5NUQP234KCCLUMN65LHBDCYZAKMVHBX5O4EMQSMLIODJZYHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVVMN2477GGQ2M6OJ2RMERSVJ4TZDWL46CV5VTI6NU43QQWNDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUMUDEA5IJDBBG3XWCRIIQ56EQB344ORWSTKVARCAJBNDHH574SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2LLLCTFRBZQR4LAXEMIKROOUTKPC5VC3Y2IZVTCQIBBJVG2OREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFINJMNV6J6RVPOHY5RDQHS2QQ7BSSDJPBK7XRL7FYKQICSCEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44Y7N6S223Y5I627I3K3DIIFJPFJINOJTRWXD5LPIWGQRIZ5BEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBVVZRXQ2MCLJQS6X3TEXGAHNA3RR74YOCC2YGQRMILDF42OQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCLYIDZNDHHEVXS5WCBVHMEWK377DUH6WGO22QGIGBBXA5GQKWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYTFER3BBRIV5TJVLNE44TO4GPEDVXBCOLZX2EJL5H7HSRQAG52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPC53ICZ3HBVDVWVPBQBMPNBG354PTUEG3U3EL4QV6ZQPPNBXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4BHUGST3ZXFIQ2UVVZLU6QR4QD5QUAGTK2T7XTRZVUJNEBHMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJPGZTNAS2UMCEUZQ6KSBMCWIALR34N3RXPEKH6Z3BZBHG7ZMC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGKZM7GBP2J2MMP7GTKKVELMVAEGIKPQODNARUBLVSRVRT2LREZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListMissionProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/missionprofile",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "missionProfileList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
[...]
