{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-28",
        "endpointPrefix": "guardduty",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon GuardDuty",
        "serviceId": "GuardDuty",
        "signatureVersion": "v4",
        "signingName": "guardduty",
        "uid": "guardduty-2017-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
        ]
    },
    "operations": {
        "AcceptAdministratorInvitation": {
            "http": {
                "requestUri": "/detector/{detectorId}/administrator",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "AdministratorId",
                    "InvitationId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "AdministratorId": {
                        "locationName": "administratorId"
                    },
                    "InvitationId": {
                        "locationName": "invitationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O54HE5D4TOJHN7A4PNXJLRQHEKSREZROR7BIPGCE3FUNWT4MXE4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65E2TUSBQKPCTEAKFODJSUN35REUDA36VKLT3VPACC2VLZBK2V7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6LSJDTISN4BIGCQLGIUHGTNOKXHWUAZHF77DP7NZWMSF5SNNEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL4MKCSV6MWIEZ4RJTLUHFXOCEWYOXOXWPVQW5TWW6FVTWQQ5JLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPNOBFOPK6BIG26C5ZFS3UFGKRGJVEASKMGX4XSNJMXBSXHMXX2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6L3KUHB26K62EDJ6SBNGWO5P6GKDBPDPESMDUZIMQLG4PN4WWAA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "AcceptInvitation": {
            "http": {
                "requestUri": "/detector/{detectorId}/master",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "MasterId",
                    "InvitationId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "MasterId": {
                        "locationName": "masterId"
                    },
                    "InvitationId": {
                        "locationName": "invitationId"
                    }
                },
                "deprecated": true,
                "deprecatedMessage": "This input is deprecated, use AcceptAdministratorInvitationRequest instead"
            },
            "output": {
                "type": "structure",
                "members": {},
                "deprecated": true,
                "deprecatedMessage": "This output is deprecated, use AcceptAdministratorInvitationResponse instead"
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated, use AcceptAdministratorInvitation instead",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "ArchiveFindings": {
            "http": {
                "requestUri": "/detector/{detectorId}/findings/archive",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "FindingIds"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "FindingIds": {
                        "shape": "S8",
                        "locationName": "findingIds"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "CreateDetector": {
            "http": {
                "requestUri": "/detector",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Enable"
                ],
                "members": {
                    "Enable": {
                        "locationName": "enable",
                        "type": "boolean"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "locationName": "clientToken"
                    },
                    "FindingPublishingFrequency": {
                        "locationName": "findingPublishingFrequency"
                    },
                    "DataSources": {
                        "shape": "Sf",
                        "deprecated": true,
                        "deprecatedMessage": "This parameter is deprecated, use Features instead",
                        "locationName": "dataSources"
                    },
                    "Tags": {
                        "shape": "Sn",
                        "locationName": "tags"
                    },
                    "Features": {
                        "shape": "Sq",
                        "locationName": "features"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DetectorId": {
                        "locationName": "detectorId"
                    },
                    "UnprocessedDataSources": {
                        "locationName": "unprocessedDataSources",
                        "type": "structure",
                        "members": {
                            "MalwareProtection": {
                                "shape": "Sz",
                                "locationName": "malwareProtection"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "CreateFilter": {
            "http": {
                "requestUri": "/detector/{detectorId}/filter",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "Name",
                    "FindingCriteria"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "Action": {
                        "locationName": "action"
                    },
                    "Rank": {
                        "locationName": "rank",
                        "type": "integer"
                    },
                    "FindingCriteria": {
                        "shape": "S18",
                        "locationName": "findingCriteria"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "locationName": "clientToken"
                    },
                    "Tags": {
                        "shape": "Sn",
                        "locationName": "tags"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "locationName": "name"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "CreateIPSet": {
            "http": {
                "requestUri": "/detector/{detectorId}/ipset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "Name",
                    "Format",
                    "Location",
                    "Activate"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "Format": {
                        "locationName": "format"
                    },
                    "Location": {
                        "locationName": "location"
                    },
                    "Activate": {
                        "locationName": "activate",
                        "type": "boolean"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "locationName": "clientToken"
                    },
                    "Tags": {
                        "shape": "Sn",
                        "locationName": "tags"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IpSetId"
                ],
                "members": {
                    "IpSetId": {
                        "locationName": "ipSetId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "CreateMembers": {
            "http": {
                "requestUri": "/detector/{detectorId}/member",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "AccountDetails"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "AccountDetails": {
                        "locationName": "accountDetails",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "AccountId",
                                "Email"
                            ],
                            "members": {
                                "AccountId": {
                                    "locationName": "accountId"
                                },
                                "Email": {
                                    "locationName": "email"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UnprocessedAccounts"
                ],
                "members": {
                    "UnprocessedAccounts": {
                        "shape": "S1t",
                        "locationName": "unprocessedAccounts"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "CreatePublishingDestination": {
            "http": {
                "requestUri": "/detector/{detectorId}/publishingDestination",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "DestinationType",
                    "DestinationProperties"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "DestinationType": {
                        "locationName": "destinationType"
                    },
                    "DestinationProperties": {
                        "shape": "S1x",
                        "locationName": "destinationProperties"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DestinationId"
                ],
                "members": {
                    "DestinationId": {
                        "locationName": "destinationId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "CreateSampleFindings": {
            "http": {
                "requestUri": "/detector/{detectorId}/findings/create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "FindingTypes": {
                        "locationName": "findingTypes",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "CreateThreatIntelSet": {
            "http": {
                "requestUri": "/detector/{detectorId}/threatintelset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "Name",
                    "Format",
                    "Location",
                    "Activate"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "Format": {
                        "locationName": "format"
                    },
                    "Location": {
                        "locationName": "location"
                    },
                    "Activate": {
                        "locationName": "activate",
                        "type": "boolean"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "locationName": "clientToken"
                    },
                    "Tags": {
                        "shape": "Sn",
                        "locationName": "tags"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ThreatIntelSetId"
                ],
                "members": {
                    "ThreatIntelSetId": {
                        "locationName": "threatIntelSetId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "DeclineInvitations": {
            "http": {
                "requestUri": "/invitation/decline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountIds"
                ],
                "members": {
                    "AccountIds": {
                        "shape": "S27",
                        "locationName": "accountIds"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UnprocessedAccounts"
                ],
                "members": {
                    "UnprocessedAccounts": {
                        "shape": "S1t",
                        "locationName": "unprocessedAccounts"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "DeleteDetector": {
            "http": {
                "method": "DELETE",
                "requestUri": "/detector/{detectorId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "DeleteFilter": {
            "http": {
                "method": "DELETE",
                "requestUri": "/detector/{detectorId}/filter/{filterName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "FilterName"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "FilterName": {
                        "location": "uri",
                        "locationName": "filterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "DeleteIPSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/detector/{detectorId}/ipset/{ipSetId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "IpSetId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "IpSetId": {
                        "location": "uri",
                        "locationName": "ipSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "DeleteInvitations": {
            "http": {
                "requestUri": "/invitation/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountIds"
                ],
                "members": {
                    "AccountIds": {
                        "shape": "S27",
                        "locationName": "accountIds"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UnprocessedAccounts"
                ],
                "members": {
                    "UnprocessedAccounts": {
                        "shape": "S1t",
                        "locationName": "unprocessedAccounts"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "DeleteMembers": {
            "http": {
                "requestUri": "/detector/{detectorId}/member/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "AccountIds"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "AccountIds": {
                        "shape": "S27",
                        "locationName": "accountIds"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UnprocessedAccounts"
                ],
                "members": {
                    "UnprocessedAccounts": {
                        "shape": "S1t",
                        "locationName": "unprocessedAccounts"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "DeletePublishingDestination": {
            "http": {
                "method": "DELETE",
                "requestUri": "/detector/{detectorId}/publishingDestination/{destinationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "DestinationId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "DestinationId": {
                        "location": "uri",
                        "locationName": "destinationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "DeleteThreatIntelSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/detector/{detectorId}/threatintelset/{threatIntelSetId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "ThreatIntelSetId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "ThreatIntelSetId": {
                        "location": "uri",
                        "locationName": "threatIntelSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "DescribeMalwareScans": {
            "http": {
                "requestUri": "/detector/{detectorId}/malware-scans",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "FilterCriteria": {
                        "locationName": "filterCriteria",
                        "type": "structure",
                        "members": {
                            "FilterCriterion": {
                                "locationName": "filterCriterion",
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "CriterionKey": {
                                            "locationName": "criterionKey"
                                        },
                                        "FilterCondition": {
                                            "locationName": "filterCondition",
                                            "type": "structure",
                                            "members": {
                                                "EqualsValue": {
                                                    "locationName": "equalsValue"
                                                },
                                                "GreaterThan": {
                                                    "locationName": "greaterThan",
                                                    "type": "long"
                                                },
                                                "LessThan": {
                                                    "locationName": "lessThan",
                                                    "type": "long"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "SortCriteria": {
                        "shape": "S2w",
                        "locationName": "sortCriteria"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Scans"
                ],
                "members": {
                    "Scans": {
                        "locationName": "scans",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DetectorId": {
                                    "locationName": "detectorId"
                                },
                                "AdminDetectorId": {
                                    "locationName": "adminDetectorId"
                                },
                                "ScanId": {
                                    "locationName": "scanId"
                                },
                                "ScanStatus": {
                                    "locationName": "scanStatus"
                                },
                                "FailureReason": {
                                    "locationName": "failureReason"
                                },
                                "ScanStartTime": {
                                    "locationName": "scanStartTime",
                                    "type": "timestamp"
                                },
                                "ScanEndTime": {
                                    "locationName": "scanEndTime",
                                    "type": "timestamp"
                                },
                                "TriggerDetails": {
                                    "locationName": "triggerDetails",
                                    "type": "structure",
                                    "members": {
                                        "GuardDutyFindingId": {
                                            "locationName": "guardDutyFindingId"
                                        },
                                        "Description": {
                                            "locationName": "description"
                                        }
                                    }
                                },
                                "ResourceDetails": {
                                    "locationName": "resourceDetails",
                                    "type": "structure",
                                    "members": {
                                        "InstanceArn": {
                                            "locationName": "instanceArn"
                                        }
                                    }
                                },
                                "ScanResultDetails": {
                                    "locationName": "scanResultDetails",
                                    "type": "structure",
                                    "members": {
                                        "ScanResult": {
                                            "locationName": "scanResult"
                                        }
                                    }
                                },
                                "AccountId": {
                                    "locationName": "accountId"
                                },
                                "TotalBytes": {
                                    "locationName": "totalBytes",
                                    "type": "long"
                                },
                                "FileCount": {
                                    "locationName": "fileCount",
                                    "type": "long"
                                },
                                "AttachedVolumes": {
                                    "shape": "S39",
                                    "locationName": "attachedVolumes"
                                },
                                "ScanType": {
                                    "locationName": "scanType"
                                }
                            }
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O54HE5D4TOJHN7A4PNXJLRQHEKSREZROR7BIPGCE3FUNWT4MXE4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65E2TUSBQKPCTEAKFODJSUN35REUDA36VKLT3VPACC2VLZBK2V7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6LSJDTISN4BIGCQLGIUHGTNOKXHWUAZHF77DP7NZWMSF5SNNEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL4MKCSV6MWIEZ4RJTLUHFXOCEWYOXOXWPVQW5TWW6FVTWQQ5JLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPNOBFOPK6BIG26C5ZFS3UFGKRGJVEASKMGX4XSNJMXBSXHMXX2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6L3KUHB26K62EDJ6SBNGWO5P6GKDBPDPESMDUZIMQLG4PN4WWAA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGWV2FW2GPXSBSNDAISA5JCKZQ5GLPHX6XQYJQD36DE72APNFFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUYMX3ZYAHAF54VTBOEKS2ZWI6F3UU4KJN3QCU5SKRYALC2UMRGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXDLBQAAGHGGHNSKBJSVQ3Y63EJM5EJVHAOWIEWFNAPDHTS5Q5PQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDQL5EN2FVN2GY5FLABYVMBAGF5PIJDWTCHVF2PP6GRBSPW6MFNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWSG77QQCFUO6GVHTWDHQWGBYYCZZQ6JXLD5PTE4JMZE3YGJJ3YA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBUKQJ4GTVSBBXL6RSYYTF4CIHSROEJQHDT3B7FUFTLS6TEFD57Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQFDPU7O4QRPCHQ54MSWYUHXSW2UFOFGUV4AB24HZPWDI3ECYOKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "DescribeOrganizationConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/detector/{detectorId}/admin",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MemberAccountLimitReached"
                ],
                "members": {
                    "AutoEnable": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use AutoEnableOrganizationMembers instead",
                        "locationName": "autoEnable",
                        "type": "boolean"
                    },
                    "MemberAccountLimitReached": {
                        "locationName": "memberAccountLimitReached",
                        "type": "boolean"
                    },
                    "DataSources": {
                        "deprecated": true,
                        "deprecatedMessage": "This parameter is deprecated, use Features instead",
                        "locationName": "dataSources",
                        "type": "structure",
                        "required": [
                            "S3Logs"
                        ],
                        "members": {
                            "S3Logs": {
                                "locationName": "s3Logs",
                                "type": "structure",
                                "required": [
                                    "AutoEnable"
                                ],
                                "members": {
                                    "AutoEnable": {
                                        "locationName": "autoEnable",
                                        "type": "boolean"
                                    }
                                }
                            },
                            "Kubernetes": {
                                "locationName": "kubernetes",
                                "type": "structure",
                                "required": [
                                    "AuditLogs"
                                ],
                                "members": {
                                    "AuditLogs": {
                                        "locationName": "auditLogs",
                                        "type": "structure",
                                        "required": [
                                            "AutoEnable"
                                        ],
                                        "members": {
                                            "AutoEnable": {
                                                "locationName": "autoEnable",
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            },
                            "MalwareProtection": {
                                "locationName": "malwareProtection",
                                "type": "structure",
                                "members": {
                                    "ScanEc2InstanceWithFindings": {
                                        "locationName": "scanEc2InstanceWithFindings",
                                        "type": "structure",
                                        "members": {
                                            "EbsVolumes": {
                                                "locationName": "ebsVolumes",
                                                "type": "structure",
                                                "members": {
                                                    "AutoEnable": {
                                                        "locationName": "autoEnable",
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "Database": {
                                "locationName": "database",
                                "type": "structure",
                                "required": [
                                    "Rds"
                                ],
                                "members": {
                                    "Rds": {
                                        "locationName": "rds",
                                        "type": "structure",
                                        "required": [
                                            "DatabaseEvents"
                                        ],
                                        "members": {
                                            "DatabaseEvents": {
                                                "locationName": "databaseEvents",
                                                "type": "structure",
                                                "required": [
                                                    "AutoEnable"
                                                ],
                                                "members": {
                                                    "AutoEnable": {
                                                        "locationName": "autoEnable",
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Features": {
                        "locationName": "features",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {
                                    "locationName": "name"
                                },
                                "AutoEnable": {
                                    "locationName": "autoEnable"
                                },
                                "AdditionalConfiguration": {
                                    "locationName": "additionalConfiguration",
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Name": {
                                                "locationName": "name"
                                            },
                                            "AutoEnable": {
                                                "locationName": "autoEnable"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "AutoEnableOrganizationMembers": {
                        "locationName": "autoEnableOrganizationMembers"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2OBCV42GLCPOHK54AFWJOJ4YBAOSLFCP354AJJZHEN6R3OYNHEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KJVZFILUL7SA2T62GFGGSV26DYS6IMLQVYXAVQ3A3K442FEQXQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3CJJUHSDSEBQUG6D4CKCSTGMNTEQS5IJKGMJ2GISUEFOIWKKY4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
[...]
