{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-28",
        "endpointPrefix": "guardduty",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon GuardDuty",
        "serviceId": "GuardDuty",
        "signatureVersion": "v4",
        "signingName": "guardduty",
        "uid": "guardduty-2017-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNCQTJTDY5ZCIHKX4HVSW6WCXJZ4B5QV3GH4SA5GLBF6KWOXTPZA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AcceptAdministratorInvitation": {
            "http": {
                "requestUri": "/detector/{detectorId}/administrator",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "AdministratorId",
                    "InvitationId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "AdministratorId": {
                        "locationName": "administratorId"
                    },
                    "InvitationId": {
                        "locationName": "invitationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMCEEPUSLSRQYVHB644LMD4EYRHDJ4F6OX63BW55PG7HOOAGRBLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RL6ESAOP5HEP6HBJPW4UZO3XLCYPYNCWTGV7SYEKOM7JUMS52YQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OMGPOLHQ777KW2WKP2U727MZEIR5LGEC6VRJIRAQVVV4LHF7CCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4TE3SHZDBUQ4SZCBPM7VMVYKGMULZICAIN76ZYSUMYK2B3VFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4NNIWH5L3LPWI3WPM5LHS6PD5WYP6DHTPWYNK4BWZUMJTENNYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPKFA5FQXUKFYWIRPM2DITAOLC4GECF6WUQFDISF5BP4EWNF6LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNCQTJTDY5ZCIHKX4HVSW6WCXJZ4B5QV3GH4SA5GLBF6KWOXTPZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AcceptInvitation": {
            "http": {
                "requestUri": "/detector/{detectorId}/master",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "MasterId",
                    "InvitationId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "MasterId": {
                        "locationName": "masterId"
                    },
                    "InvitationId": {
                        "locationName": "invitationId"
                    }
                },
                "deprecated": true,
                "deprecatedMessage": "This input is deprecated, use AcceptAdministratorInvitationRequest instead"
            },
            "output": {
                "type": "structure",
                "members": {},
                "deprecated": true,
                "deprecatedMessage": "This output is deprecated, use AcceptAdministratorInvitationResponse instead"
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated, use AcceptAdministratorInvitation instead",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ArchiveFindings": {
            "http": {
                "requestUri": "/detector/{detectorId}/findings/archive",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "FindingIds"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "FindingIds": {
                        "shape": "S8",
                        "locationName": "findingIds"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateDetector": {
            "http": {
                "requestUri": "/detector",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Enable"
                ],
                "members": {
                    "Enable": {
                        "locationName": "enable",
                        "type": "boolean"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "locationName": "clientToken"
                    },
                    "FindingPublishingFrequency": {
                        "locationName": "findingPublishingFrequency"
                    },
                    "DataSources": {
                        "shape": "Sf",
                        "deprecated": true,
                        "deprecatedMessage": "This parameter is deprecated, use Features instead",
                        "locationName": "dataSources"
                    },
                    "Tags": {
                        "shape": "Sn",
                        "locationName": "tags"
                    },
                    "Features": {
                        "shape": "Sq",
                        "locationName": "features"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DetectorId": {
                        "locationName": "detectorId"
                    },
                    "UnprocessedDataSources": {
                        "locationName": "unprocessedDataSources",
                        "type": "structure",
                        "members": {
                            "MalwareProtection": {
                                "shape": "Sz",
                                "locationName": "malwareProtection"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateFilter": {
            "http": {
                "requestUri": "/detector/{detectorId}/filter",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "Name",
                    "FindingCriteria"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "Action": {
                        "locationName": "action"
                    },
                    "Rank": {
                        "locationName": "rank",
                        "type": "integer"
                    },
                    "FindingCriteria": {
                        "shape": "S18",
                        "locationName": "findingCriteria"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "locationName": "clientToken"
                    },
                    "Tags": {
                        "shape": "Sn",
                        "locationName": "tags"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "locationName": "name"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateIPSet": {
            "http": {
                "requestUri": "/detector/{detectorId}/ipset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "Name",
                    "Format",
                    "Location",
                    "Activate"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "Format": {
                        "locationName": "format"
                    },
                    "Location": {
                        "locationName": "location"
                    },
                    "Activate": {
                        "locationName": "activate",
                        "type": "boolean"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "locationName": "clientToken"
                    },
                    "Tags": {
                        "shape": "Sn",
                        "locationName": "tags"
                    },
                    "ExpectedBucketOwner": {
                        "locationName": "expectedBucketOwner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IpSetId"
                ],
                "members": {
                    "IpSetId": {
                        "locationName": "ipSetId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateMembers": {
            "http": {
                "requestUri": "/detector/{detectorId}/member",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "AccountDetails"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "AccountDetails": {
                        "locationName": "accountDetails",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "AccountId",
                                "Email"
                            ],
                            "members": {
                                "AccountId": {
                                    "locationName": "accountId"
                                },
                                "Email": {
                                    "locationName": "email"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UnprocessedAccounts"
                ],
                "members": {
                    "UnprocessedAccounts": {
                        "shape": "S1t",
                        "locationName": "unprocessedAccounts"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreatePublishingDestination": {
            "http": {
                "requestUri": "/detector/{detectorId}/publishingDestination",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "DestinationType",
                    "DestinationProperties"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "DestinationType": {
                        "locationName": "destinationType"
                    },
                    "DestinationProperties": {
                        "shape": "S1x",
                        "locationName": "destinationProperties"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DestinationId"
                ],
                "members": {
                    "DestinationId": {
                        "locationName": "destinationId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateSampleFindings": {
            "http": {
                "requestUri": "/detector/{detectorId}/findings/create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "FindingTypes": {
                        "locationName": "findingTypes",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateThreatIntelSet": {
            "http": {
                "requestUri": "/detector/{detectorId}/threatintelset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "Name",
                    "Format",
                    "Location",
                    "Activate"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "Format": {
                        "locationName": "format"
                    },
                    "Location": {
                        "locationName": "location"
                    },
                    "Activate": {
                        "locationName": "activate",
                        "type": "boolean"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "locationName": "clientToken"
                    },
                    "Tags": {
                        "shape": "Sn",
                        "locationName": "tags"
                    },
                    "ExpectedBucketOwner": {
                        "locationName": "expectedBucketOwner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ThreatIntelSetId"
                ],
                "members": {
                    "ThreatIntelSetId": {
                        "locationName": "threatIntelSetId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeclineInvitations": {
            "http": {
                "requestUri": "/invitation/decline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountIds"
                ],
                "members": {
                    "AccountIds": {
                        "shape": "S27",
                        "locationName": "accountIds"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UnprocessedAccounts"
                ],
                "members": {
                    "UnprocessedAccounts": {
                        "shape": "S1t",
                        "locationName": "unprocessedAccounts"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteDetector": {
            "http": {
                "method": "DELETE",
                "requestUri": "/detector/{detectorId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteFilter": {
            "http": {
                "method": "DELETE",
                "requestUri": "/detector/{detectorId}/filter/{filterName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "FilterName"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "FilterName": {
                        "location": "uri",
                        "locationName": "filterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteIPSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/detector/{detectorId}/ipset/{ipSetId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "IpSetId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "IpSetId": {
                        "location": "uri",
                        "locationName": "ipSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteInvitations": {
            "http": {
                "requestUri": "/invitation/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountIds"
                ],
                "members": {
                    "AccountIds": {
                        "shape": "S27",
                        "locationName": "accountIds"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UnprocessedAccounts"
                ],
                "members": {
                    "UnprocessedAccounts": {
                        "shape": "S1t",
                        "locationName": "unprocessedAccounts"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteMembers": {
            "http": {
                "requestUri": "/detector/{detectorId}/member/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "AccountIds"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "AccountIds": {
                        "shape": "S27",
                        "locationName": "accountIds"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UnprocessedAccounts"
                ],
                "members": {
                    "UnprocessedAccounts": {
                        "shape": "S1t",
                        "locationName": "unprocessedAccounts"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeletePublishingDestination": {
            "http": {
                "method": "DELETE",
                "requestUri": "/detector/{detectorId}/publishingDestination/{destinationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "DestinationId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "DestinationId": {
                        "location": "uri",
                        "locationName": "destinationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteThreatIntelSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/detector/{detectorId}/threatintelset/{threatIntelSetId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId",
                    "ThreatIntelSetId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "ThreatIntelSetId": {
                        "location": "uri",
                        "locationName": "threatIntelSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeMalwareScans": {
            "http": {
                "requestUri": "/detector/{detectorId}/malware-scans",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "FilterCriteria": {
                        "locationName": "filterCriteria",
                        "type": "structure",
                        "members": {
                            "FilterCriterion": {
                                "locationName": "filterCriterion",
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "CriterionKey": {
                                            "locationName": "criterionKey"
                                        },
                                        "FilterCondition": {
                                            "locationName": "filterCondition",
                                            "type": "structure",
                                            "members": {
                                                "EqualsValue": {
                                                    "locationName": "equalsValue"
                                                },
                                                "GreaterThan": {
                                                    "locationName": "greaterThan",
                                                    "type": "long"
                                                },
                                                "LessThan": {
                                                    "locationName": "lessThan",
                                                    "type": "long"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "SortCriteria": {
                        "shape": "S2w",
                        "locationName": "sortCriteria"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Scans"
                ],
                "members": {
                    "Scans": {
                        "locationName": "scans",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DetectorId": {
                                    "locationName": "detectorId"
                                },
                                "AdminDetectorId": {
                                    "locationName": "adminDetectorId"
                                },
                                "ScanId": {
                                    "locationName": "scanId"
                                },
                                "ScanStatus": {
                                    "locationName": "scanStatus"
                                },
                                "FailureReason": {
                                    "locationName": "failureReason"
                                },
                                "ScanStartTime": {
                                    "locationName": "scanStartTime",
                                    "type": "timestamp"
                                },
                                "ScanEndTime": {
                                    "locationName": "scanEndTime",
                                    "type": "timestamp"
                                },
                                "TriggerDetails": {
                                    "locationName": "triggerDetails",
                                    "type": "structure",
                                    "members": {
                                        "GuardDutyFindingId": {
                                            "locationName": "guardDutyFindingId"
                                        },
                                        "Description": {
                                            "locationName": "description"
                                        }
                                    }
                                },
                                "ResourceDetails": {
                                    "locationName": "resourceDetails",
                                    "type": "structure",
                                    "members": {
                                        "InstanceArn": {
                                            "locationName": "instanceArn"
                                        }
                                    }
                                },
                                "ScanResultDetails": {
                                    "locationName": "scanResultDetails",
                                    "type": "structure",
                                    "members": {
                                        "ScanResult": {
                                            "locationName": "scanResult"
                                        }
                                    }
                                },
                                "AccountId": {
                                    "locationName": "accountId"
                                },
                                "TotalBytes": {
                                    "locationName": "totalBytes",
                                    "type": "long"
                                },
                                "FileCount": {
                                    "locationName": "fileCount",
                                    "type": "long"
                                },
                                "AttachedVolumes": {
                                    "shape": "S39",
                                    "locationName": "attachedVolumes"
                                },
                                "ScanType": {
                                    "locationName": "scanType"
                                }
                            }
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMCEEPUSLSRQYVHB644LMD4EYRHDJ4F6OX63BW55PG7HOOAGRBLQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RL6ESAOP5HEP6HBJPW4UZO3XLCYPYNCWTGV7SYEKOM7JUMS52YQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OMGPOLHQ777KW2WKP2U727MZEIR5LGEC6VRJIRAQVVV4LHF7CCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4TE3SHZDBUQ4SZCBPM7VMVYKGMULZICAIN76ZYSUMYK2B3VFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4NNIWH5L3LPWI3WPM5LHS6PD5WYP6DHTPWYNK4BWZUMJTENNYTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPKFA5FQXUKFYWIRPM2DITAOLC4GECF6WUQFDISF5BP4EWNF6LQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNCQTJTDY5ZCIHKX4HVSW6WCXJZ4B5QV3GH4SA5GLBF6KWOXTPZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CD444TV4SY6UPQK6SEQQPNI5FR3JHB4KUXPVUQSQEFXFDBCQHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IYXCBTPE56QGMXO3CA2T7VD5MVO5YE5WQX26YBU3J6CU65XG4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6X5RRA3DMMSB3NITTXEWDX6TIBLQIJZ7FDW3R4R5SQPGXHGNKRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UE3P3BQXBEZ7VS3AZO7GAOBWHV6M6UXZBZ74EV2WZKPFY4AWYABQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBERCRXG76DA345YPFTOUU5X3J7D4TQO6EFNQ7ETFFITCYWFATCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM4PMOMSVEO7O6HWRLGPQNCN26CH2OQCDEW222HCL2QX73ZAVNHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F3GXZ2CSRMJYDYXFLS4KWVZCECDJDTFLVVNJGL5RC2CNZV22XEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLPIME5UNZQJ2XTDXGFJMMAOMTTMIWHKCORANBKBIAKXEDDJ3XQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeOrganizationConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/detector/{detectorId}/admin",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DetectorId"
                ],
                "members": {
                    "DetectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MemberAccountLimitReached"
                ],
                "members": {
                    "AutoEnable": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use AutoEnableOrganizationMembers instead",
                        "locationName": "autoEnable",
                        "type": "boolean"
                    },
                    "MemberAccountLimitReached": {
                        "locationName": "memberAccountLimitReached",
                        "type": "boolean"
                    },
                    "DataSources": {
                        "deprecated": true,
                        "deprecatedMessage": "This parameter is deprecated, use Features instead",
                        "locationName": "dataSources",
                        "type": "structure",
                        "required": [
                            "S3Logs"
                        ],
                        "members": {
                            "S3Logs": {
                                "locationName": "s3Logs",
                                "type": "structure",
                                "required": [
                                    "AutoEnable"
                                ],
                                "members": {
                                    "AutoEnable": {
                                        "locationName": "autoEnable",
                                        "type": "boolean"
                                    }
                                }
                            },
                            "Kubernetes": {
                                "locationName": "kubernetes",
                                "type": "structure",
                                "required": [
                                    "AuditLogs"
                                ],
                                "members": {
                                    "AuditLogs": {
                                        "locationName": "auditLogs",
                                        "type": "structure",
                                        "required": [
                                            "AutoEnable"
                                        ],
                                        "members": {
                                            "AutoEnable": {
                                                "locationName": "autoEnable",
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            },
                            "MalwareProtection": {
                                "locationName": "malwareProtection",
                                "type": "structure",
                                "members": {
                                    "ScanEc2InstanceWithFindings": {
                                        "locationName": "scanEc2InstanceWithFindings",
                                        "type": "structure",
                                        "members": {
                                            "EbsVolumes": {
                                                "locationName": "ebsVolumes",
                                                "type": "structure",
                                                "members": {
                                                    "AutoEnable": {
                                                        "locationName": "autoEnable",
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "Database": {
                                "locationName": "database",
                                "type": "structure",
                                "required": [
                                    "Rds"
                                ],
                                "members": {
                                    "Rds": {
                                        "locationName": "rds",
                                        "type": "structure",
                                        "required": [
                                            "DatabaseEvents"
                                        ],
                                        "members": {
                                            "DatabaseEvents": {
                                                "locationName": "databaseEvents",
                                                "type": "structure",
                                                "required": [
                                                    "AutoEnable"
                                                ],
                                                "members": {
                                                    "AutoEnable": {
                                                        "locationName": "autoEnable",
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Features": {
                        "locationName": "features",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {
                                    "locationName": "name"
                                },
                                "AutoEnable": {
                                    "locationName": "autoEnable"
                                },
                                "AdditionalConfiguration": {
                                    "locationName": "additionalConfiguration",
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Name": {
                                                "locationName": "name"
                                            },
                                            "AutoEnable": {
                                                "locationName": "autoEnable"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "AutoEnableOrganizationMembers": {
                        "locationName": "autoEnableOrganizationMembers"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUZGLXYZP4OXZHBEZVDEQMVQU565HBBETYZJQFB5FZSV5S2HZYMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXSGS62FEA2X2JE3PJOBMH3MGNS5SAFDTPT2ZHR6C3VEH7UW3KVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4NGP5OFL6KQXEBFGGIOJXEF6WJEDMPZQQA3RGM3FMXSFS55Z7IQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRL4B7EY6LEUDQTAR5UXUR7UDOALA3PUFS6CUYTZALUQ3UGUVG3Q/vendor.js",
[...]
