{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-08-04",
        "endpointPrefix": "health",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWSHealth",
        "serviceFullName": "AWS Health APIs and Notifications",
        "serviceId": "Health",
        "signatureVersion": "v4",
        "targetPrefix": "AWSHealth_20160804",
        "uid": "health-2016-08-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "DescribeAffectedAccountsForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArn"
                ],
                "members": {
                    "eventArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "affectedAccounts": {
                        "type": "list",
                        "member": {}
                    },
                    "eventScopeCode": {},
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js"
            ]
        },
        "DescribeAffectedEntities": {
            "input": {
                "type": "structure",
                "required": [
                    "filter"
                ],
                "members": {
                    "filter": {
                        "type": "structure",
                        "required": [
                            "eventArns"
                        ],
                        "members": {
                            "eventArns": {
                                "shape": "Sb"
                            },
                            "entityArns": {
                                "shape": "Sc"
                            },
                            "entityValues": {
                                "shape": "Se"
                            },
                            "lastUpdatedTimes": {
                                "shape": "Sg"
                            },
                            "tags": {
                                "shape": "Sj"
                            },
                            "statusCodes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entities": {
                        "shape": "Sr"
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js"
            ]
        },
        "DescribeAffectedEntitiesForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationEntityFilters"
                ],
                "members": {
                    "organizationEntityFilters": {
                        "type": "list",
                        "member": {
                            "shape": "Sw"
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "organizationEntityAccountFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "eventArn"
                            ],
                            "members": {
                                "eventArn": {},
                                "awsAccountId": {},
                                "statusCodes": {
                                    "shape": "Sn"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entities": {
                        "shape": "Sr"
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js"
            ]
        },
        "DescribeEntityAggregates": {
            "input": {
                "type": "structure",
                "members": {
                    "eventArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entityAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "count": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js"
            ]
        },
        "DescribeEventAggregates": {
            "input": {
                "type": "structure",
                "required": [
                    "aggregateField"
                ],
                "members": {
                    "filter": {
                        "shape": "S19"
                    },
                    "aggregateField": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eventAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "aggregateValue": {},
                                "count": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js"
            ]
        },
        "DescribeEventDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArns"
                ],
                "members": {
                    "eventArns": {
                        "shape": "Sb"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "event": {
                                    "shape": "S1v"
                                },
                                "eventDescription": {
                                    "shape": "S1x"
                                },
                                "eventMetadata": {
                                    "shape": "S1z"
                                }
                            }
                        }
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js"
            ]
        },
        "DescribeEventDetailsForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationEventDetailFilters"
                ],
                "members": {
                    "organizationEventDetailFilters": {
                        "type": "list",
                        "member": {
                            "shape": "Sw"
                        }
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "event": {
                                    "shape": "S1v"
                                },
                                "eventDescription": {
                                    "shape": "S1x"
                                },
                                "eventMetadata": {
                                    "shape": "S1z"
                                }
                            }
                        }
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js"
            ]
        },
        "DescribeEventTypes": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "type": "structure",
                        "members": {
                            "eventTypeCodes": {
                                "type": "list",
                                "member": {}
                            },
                            "services": {
                                "shape": "S1c"
                            },
                            "eventTypeCategories": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eventTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "service": {},
                                "code": {},
                                "category": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js"
            ]
        },
        "DescribeEvents": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "shape": "S19"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "shape": "S1v"
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js"
            ]
        },
        "DescribeEventsForOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "type": "structure",
                        "members": {
                            "eventTypeCodes": {
                                "shape": "S1a"
                            },
                            "awsAccountIds": {
                                "type": "list",
                                "member": {}
                            },
                            "services": {
                                "shape": "S1c"
                            },
                            "regions": {
                                "shape": "S1e"
                            },
                            "startTime": {
                                "shape": "Sh"
                            },
                            "endTime": {
                                "shape": "Sh"
                            },
                            "lastUpdatedTime": {
                                "shape": "Sh"
                            },
                            "entityArns": {
                                "shape": "Sc"
                            },
                            "entityValues": {
                                "shape": "Se"
                            },
                            "eventTypeCategories": {
                                "shape": "S1i"
                            },
                            "eventStatusCodes": {
                                "shape": "S1k"
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "service": {},
                                "eventTypeCode": {},
                                "eventTypeCategory": {},
                                "eventScopeCode": {},
                                "region": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "statusCode": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js"
            ]
        },
        "DescribeHealthServiceStatusForOrganization": {
            "output": {
                "type": "structure",
                "members": {
                    "healthServiceAccessStatusForOrganization": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js"
            ]
        },
        "DisableHealthServiceAccessForOrganization": {
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js"
            ]
        },
        "EnableHealthServiceAccessForOrganization": {
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js"
            ]
        },
        "DescribeEntityAggregatesForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArns"
                ],
                "members": {
                    "eventArns": {
                        "type": "list",
                        "member": {}
                    },
                    "awsAccountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "organizationEntityAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "count": {
                                    "type": "integer"
                                },
                                "statuses": {
                                    "shape": "S1a"
                                },
                                "accounts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "accountId": {},
                                            "count": {
                                                "type": "integer"
                                            },
                                            "statuses": {
                                                "shape": "S1a"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sg": {
            "type": "list",
            "member": {
                "shape": "Sh"
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "from": {
                    "type": "timestamp"
                },
                "to": {
                    "type": "timestamp"
                }
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "shape": "Sk"
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "entityArn": {},
                    "eventArn": {},
                    "entityValue": {},
                    "entityUrl": {},
                    "awsAccountId": {},
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "statusCode": {},
                    "tags": {
                        "shape": "Sk"
                    }
                }
            }
        },
        "Sw": {
            "type": "structure",
            "required": [
                "eventArn"
            ],
            "members": {
                "eventArn": {},
                "awsAccountId": {}
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sb"
                },
                "eventTypeCodes": {
                    "shape": "S1a"
                },
                "services": {
                    "shape": "S1c"
                },
                "regions": {
                    "shape": "S1e"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sg"
                },
                "endTimes": {
                    "shape": "Sg"
                },
                "lastUpdatedTimes": {
                    "shape": "Sg"
                },
                "entityArns": {
                    "shape": "Sc"
                },
                "entityValues": {
                    "shape": "Se"
                },
                "eventTypeCategories": {
                    "shape": "S1i"
                },
                "tags": {
                    "shape": "Sj"
                },
                "eventStatusCodes": {
                    "shape": "S1k"
                }
            }
        },
        "S1a": {
            "type": "list",
            "member": {}
        },
        "S1c": {
            "type": "list",
            "member": {}
        },
        "S1e": {
            "type": "list",
            "member": {}
        },
        "S1i": {
            "type": "list",
            "member": {}
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S1v": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S1x": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S1z": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S18": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sb"
                },
                "eventTypeCodes": {
                    "shape": "S19"
                },
                "services": {
                    "shape": "S1b"
                },
                "regions": {
                    "shape": "S1d"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sg"
                },
                "endTimes": {
                    "shape": "Sg"
                },
                "lastUpdatedTimes": {
                    "shape": "Sg"
                },
                "entityArns": {
                    "shape": "Sc"
                },
                "entityValues": {
                    "shape": "Se"
                },
                "eventTypeCategories": {
                    "shape": "S1h"
                },
                "tags": {
                    "shape": "Sj"
                },
                "eventStatusCodes": {
                    "shape": "S1j"
                }
            }
        },
        "S1b": {
            "type": "list",
            "member": {}
        },
        "S1d": {
            "type": "list",
            "member": {}
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "S1u": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S1w": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S1y": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sa": {
            "type": "list",
            "member": {}
        },
        "Sd": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {
                "shape": "Sg"
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "shape": "Sj"
            }
        },
        "Sq": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "entityArn": {},
                    "eventArn": {},
                    "entityValue": {},
                    "entityUrl": {},
                    "awsAccountId": {},
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "statusCode": {},
                    "tags": {
                        "shape": "Sj"
                    }
                }
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "eventArn",
                "awsAccountId"
            ],
            "members": {
                "eventArn": {},
                "awsAccountId": {}
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sa"
                },
                "eventTypeCodes": {
                    "shape": "S18"
                },
                "services": {
                    "shape": "S1a"
                },
                "regions": {
                    "shape": "S1c"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sf"
                },
                "endTimes": {
                    "shape": "Sf"
                },
                "lastUpdatedTimes": {
                    "shape": "Sf"
                },
                "entityArns": {
                    "shape": "Sb"
                },
                "entityValues": {
                    "shape": "Sd"
                },
                "eventTypeCategories": {
                    "shape": "S1g"
                },
                "tags": {
                    "shape": "Si"
                },
                "eventStatusCodes": {
                    "shape": "S1i"
                }
            }
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S1t": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {}
            }
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "S1l": {
            "type": "list",
            "member": {}
        },
        "S1n": {
            "type": "list",
            "member": {}
        },
        "S1p": {
            "type": "list",
            "member": {}
        },
        "S26": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S28": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S2a": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}