{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-08-04",
        "endpointPrefix": "health",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWSHealth",
        "serviceFullName": "AWS Health APIs and Notifications",
        "serviceId": "Health",
        "signatureVersion": "v4",
        "targetPrefix": "AWSHealth_20160804",
        "uid": "health-2016-08-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
        ]
    },
    "operations": {
        "DescribeAffectedAccountsForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArn"
                ],
                "members": {
                    "eventArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "affectedAccounts": {
                        "type": "list",
                        "member": {}
                    },
                    "eventScopeCode": {},
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
            ]
        },
        "DescribeAffectedEntities": {
            "input": {
                "type": "structure",
                "required": [
                    "filter"
                ],
                "members": {
                    "filter": {
                        "type": "structure",
                        "required": [
                            "eventArns"
                        ],
                        "members": {
                            "eventArns": {
                                "shape": "Sb"
                            },
                            "entityArns": {
                                "shape": "Sc"
                            },
                            "entityValues": {
                                "shape": "Se"
                            },
                            "lastUpdatedTimes": {
                                "shape": "Sg"
                            },
                            "tags": {
                                "shape": "Sj"
                            },
                            "statusCodes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entities": {
                        "shape": "Sr"
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
            ]
        },
        "DescribeAffectedEntitiesForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationEntityFilters"
                ],
                "members": {
                    "organizationEntityFilters": {
                        "type": "list",
                        "member": {
                            "shape": "Sw"
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "organizationEntityAccountFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "eventArn"
                            ],
                            "members": {
                                "eventArn": {},
                                "awsAccountId": {},
                                "statusCodes": {
                                    "shape": "Sn"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entities": {
                        "shape": "Sr"
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
            ]
        },
        "DescribeEntityAggregates": {
            "input": {
                "type": "structure",
                "members": {
                    "eventArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entityAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "count": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
            ]
        },
        "DescribeEventAggregates": {
            "input": {
                "type": "structure",
                "required": [
                    "aggregateField"
                ],
                "members": {
                    "filter": {
                        "shape": "S19"
                    },
                    "aggregateField": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eventAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "aggregateValue": {},
                                "count": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
            ]
        },
        "DescribeEventDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArns"
                ],
                "members": {
                    "eventArns": {
                        "shape": "Sb"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "event": {
                                    "shape": "S1v"
                                },
                                "eventDescription": {
                                    "shape": "S1x"
                                },
                                "eventMetadata": {
                                    "shape": "S1z"
                                }
                            }
                        }
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
            ]
        },
        "DescribeEventDetailsForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationEventDetailFilters"
                ],
                "members": {
                    "organizationEventDetailFilters": {
                        "type": "list",
                        "member": {
                            "shape": "Sw"
                        }
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "event": {
                                    "shape": "S1v"
                                },
                                "eventDescription": {
                                    "shape": "S1x"
                                },
                                "eventMetadata": {
                                    "shape": "S1z"
                                }
                            }
                        }
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
            ]
        },
        "DescribeEventTypes": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "type": "structure",
                        "members": {
                            "eventTypeCodes": {
                                "type": "list",
                                "member": {}
                            },
                            "services": {
                                "shape": "S1c"
                            },
                            "eventTypeCategories": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eventTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "service": {},
                                "code": {},
                                "category": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
            ]
        },
        "DescribeEvents": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "shape": "S19"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "shape": "S1v"
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
            ]
        },
        "DescribeEventsForOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "type": "structure",
                        "members": {
                            "eventTypeCodes": {
                                "shape": "S1a"
                            },
                            "awsAccountIds": {
                                "type": "list",
                                "member": {}
                            },
                            "services": {
                                "shape": "S1c"
                            },
                            "regions": {
                                "shape": "S1e"
                            },
                            "startTime": {
                                "shape": "Sh"
                            },
                            "endTime": {
                                "shape": "Sh"
                            },
                            "lastUpdatedTime": {
                                "shape": "Sh"
                            },
                            "entityArns": {
                                "shape": "Sc"
                            },
                            "entityValues": {
                                "shape": "Se"
                            },
                            "eventTypeCategories": {
                                "shape": "S1i"
                            },
                            "eventStatusCodes": {
                                "shape": "S1k"
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "service": {},
                                "eventTypeCode": {},
                                "eventTypeCategory": {},
                                "eventScopeCode": {},
                                "region": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "statusCode": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
            ]
        },
        "DescribeHealthServiceStatusForOrganization": {
            "output": {
                "type": "structure",
                "members": {
                    "healthServiceAccessStatusForOrganization": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
            ]
        },
        "DisableHealthServiceAccessForOrganization": {
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
            ]
        },
        "EnableHealthServiceAccessForOrganization": {
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js"
            ]
        },
        "DescribeEntityAggregatesForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArns"
                ],
                "members": {
                    "eventArns": {
                        "type": "list",
                        "member": {}
                    },
                    "awsAccountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "organizationEntityAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "count": {
                                    "type": "integer"
                                },
                                "statuses": {
                                    "shape": "S1a"
                                },
                                "accounts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "accountId": {},
                                            "count": {
                                                "type": "integer"
                                            },
                                            "statuses": {
                                                "shape": "S1a"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4NQV7FGP2YPXS6WU2BKXDIZJACDBPFLHI3GH7Q327MPKREIM6CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4NQV7FGP2YPXS6WU2BKXDIZJACDBPFLHI3GH7Q327MPKREIM6CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4NQV7FGP2YPXS6WU2BKXDIZJACDBPFLHI3GH7Q327MPKREIM6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCD5PT73D2DH57ZJYUGSGSNCVLHRH3BG6HBUGC5A5FP6YPMGYEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sg": {
            "type": "list",
            "member": {
                "shape": "Sh"
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "from": {
                    "type": "timestamp"
                },
                "to": {
                    "type": "timestamp"
                }
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "shape": "Sk"
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "entityArn": {},
                    "eventArn": {},
                    "entityValue": {},
                    "entityUrl": {},
                    "awsAccountId": {},
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "statusCode": {},
                    "tags": {
                        "shape": "Sk"
                    }
                }
            }
        },
        "Sw": {
            "type": "structure",
            "required": [
                "eventArn"
            ],
            "members": {
                "eventArn": {},
                "awsAccountId": {}
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sb"
                },
                "eventTypeCodes": {
                    "shape": "S1a"
                },
                "services": {
                    "shape": "S1c"
                },
                "regions": {
                    "shape": "S1e"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sg"
                },
                "endTimes": {
                    "shape": "Sg"
                },
                "lastUpdatedTimes": {
                    "shape": "Sg"
                },
                "entityArns": {
                    "shape": "Sc"
                },
                "entityValues": {
                    "shape": "Se"
                },
                "eventTypeCategories": {
                    "shape": "S1i"
                },
                "tags": {
                    "shape": "Sj"
                },
                "eventStatusCodes": {
                    "shape": "S1k"
                }
            }
        },
        "S1a": {
            "type": "list",
            "member": {}
        },
        "S1c": {
            "type": "list",
            "member": {}
        },
        "S1e": {
            "type": "list",
            "member": {}
        },
        "S1i": {
            "type": "list",
            "member": {}
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S1v": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S1x": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S1z": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S18": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sb"
                },
                "eventTypeCodes": {
                    "shape": "S19"
                },
                "services": {
                    "shape": "S1b"
                },
                "regions": {
                    "shape": "S1d"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sg"
                },
                "endTimes": {
                    "shape": "Sg"
                },
                "lastUpdatedTimes": {
                    "shape": "Sg"
                },
                "entityArns": {
                    "shape": "Sc"
                },
                "entityValues": {
                    "shape": "Se"
                },
                "eventTypeCategories": {
                    "shape": "S1h"
                },
                "tags": {
                    "shape": "Sj"
                },
                "eventStatusCodes": {
                    "shape": "S1j"
                }
            }
        },
        "S1b": {
            "type": "list",
            "member": {}
        },
        "S1d": {
            "type": "list",
            "member": {}
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "S1u": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S1w": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S1y": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sa": {
            "type": "list",
            "member": {}
        },
        "Sd": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {
                "shape": "Sg"
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "shape": "Sj"
            }
        },
        "Sq": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "entityArn": {},
                    "eventArn": {},
                    "entityValue": {},
                    "entityUrl": {},
                    "awsAccountId": {},
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "statusCode": {},
                    "tags": {
                        "shape": "Sj"
                    }
                }
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "eventArn",
                "awsAccountId"
            ],
            "members": {
                "eventArn": {},
                "awsAccountId": {}
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sa"
                },
                "eventTypeCodes": {
                    "shape": "S18"
                },
                "services": {
                    "shape": "S1a"
                },
                "regions": {
                    "shape": "S1c"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sf"
                },
                "endTimes": {
                    "shape": "Sf"
                },
                "lastUpdatedTimes": {
                    "shape": "Sf"
                },
                "entityArns": {
                    "shape": "Sb"
                },
                "entityValues": {
                    "shape": "Sd"
                },
                "eventTypeCategories": {
                    "shape": "S1g"
                },
                "tags": {
                    "shape": "Si"
                },
                "eventStatusCodes": {
                    "shape": "S1i"
                }
            }
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S1t": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {}
            }
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "S1l": {
            "type": "list",
            "member": {}
        },
        "S1n": {
            "type": "list",
            "member": {}
        },
        "S1p": {
            "type": "list",
            "member": {}
        },
        "S26": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S28": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S2a": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}