{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-08-04",
        "endpointPrefix": "health",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWSHealth",
        "serviceFullName": "AWS Health APIs and Notifications",
        "serviceId": "Health",
        "signatureVersion": "v4",
        "targetPrefix": "AWSHealth_20160804",
        "uid": "health-2016-08-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
        ]
    },
    "operations": {
        "DescribeAffectedAccountsForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArn"
                ],
                "members": {
                    "eventArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "affectedAccounts": {
                        "type": "list",
                        "member": {}
                    },
                    "eventScopeCode": {},
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        },
        "DescribeAffectedEntities": {
            "input": {
                "type": "structure",
                "required": [
                    "filter"
                ],
                "members": {
                    "filter": {
                        "type": "structure",
                        "required": [
                            "eventArns"
                        ],
                        "members": {
                            "eventArns": {
                                "shape": "Sb"
                            },
                            "entityArns": {
                                "shape": "Sc"
                            },
                            "entityValues": {
                                "shape": "Se"
                            },
                            "lastUpdatedTimes": {
                                "shape": "Sg"
                            },
                            "tags": {
                                "shape": "Sj"
                            },
                            "statusCodes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entities": {
                        "shape": "Sr"
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        },
        "DescribeAffectedEntitiesForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationEntityFilters"
                ],
                "members": {
                    "organizationEntityFilters": {
                        "type": "list",
                        "member": {
                            "shape": "Sw"
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "organizationEntityAccountFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "eventArn"
                            ],
                            "members": {
                                "eventArn": {},
                                "awsAccountId": {},
                                "statusCodes": {
                                    "shape": "Sn"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entities": {
                        "shape": "Sr"
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        },
        "DescribeEntityAggregates": {
            "input": {
                "type": "structure",
                "members": {
                    "eventArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entityAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "count": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        },
        "DescribeEventAggregates": {
            "input": {
                "type": "structure",
                "required": [
                    "aggregateField"
                ],
                "members": {
                    "filter": {
                        "shape": "S19"
                    },
                    "aggregateField": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eventAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "aggregateValue": {},
                                "count": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        },
        "DescribeEventDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArns"
                ],
                "members": {
                    "eventArns": {
                        "shape": "Sb"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "event": {
                                    "shape": "S1v"
                                },
                                "eventDescription": {
                                    "shape": "S1x"
                                },
                                "eventMetadata": {
                                    "shape": "S1z"
                                }
                            }
                        }
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        },
        "DescribeEventDetailsForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationEventDetailFilters"
                ],
                "members": {
                    "organizationEventDetailFilters": {
                        "type": "list",
                        "member": {
                            "shape": "Sw"
                        }
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "event": {
                                    "shape": "S1v"
                                },
                                "eventDescription": {
                                    "shape": "S1x"
                                },
                                "eventMetadata": {
                                    "shape": "S1z"
                                }
                            }
                        }
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        },
        "DescribeEventTypes": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "type": "structure",
                        "members": {
                            "eventTypeCodes": {
                                "type": "list",
                                "member": {}
                            },
                            "services": {
                                "shape": "S1c"
                            },
                            "eventTypeCategories": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eventTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "service": {},
                                "code": {},
                                "category": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        },
        "DescribeEvents": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "shape": "S19"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "shape": "S1v"
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        },
        "DescribeEventsForOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "type": "structure",
                        "members": {
                            "eventTypeCodes": {
                                "shape": "S1a"
                            },
                            "awsAccountIds": {
                                "type": "list",
                                "member": {}
                            },
                            "services": {
                                "shape": "S1c"
                            },
                            "regions": {
                                "shape": "S1e"
                            },
                            "startTime": {
                                "shape": "Sh"
                            },
                            "endTime": {
                                "shape": "Sh"
                            },
                            "lastUpdatedTime": {
                                "shape": "Sh"
                            },
                            "entityArns": {
                                "shape": "Sc"
                            },
                            "entityValues": {
                                "shape": "Se"
                            },
                            "eventTypeCategories": {
                                "shape": "S1i"
                            },
                            "eventStatusCodes": {
                                "shape": "S1k"
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "service": {},
                                "eventTypeCode": {},
                                "eventTypeCategory": {},
                                "eventScopeCode": {},
                                "region": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "statusCode": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        },
        "DescribeHealthServiceStatusForOrganization": {
            "output": {
                "type": "structure",
                "members": {
                    "healthServiceAccessStatusForOrganization": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        },
        "DisableHealthServiceAccessForOrganization": {
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        },
        "EnableHealthServiceAccessForOrganization": {
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QLUHHRA5L42I3A534HXJDU6W6P3YQGWS5JFRT5F3I4TDJQ2EG7A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        },
        "DescribeEntityAggregatesForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArns"
                ],
                "members": {
                    "eventArns": {
                        "type": "list",
                        "member": {}
                    },
                    "awsAccountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "organizationEntityAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "count": {
                                    "type": "integer"
                                },
                                "statuses": {
                                    "shape": "S1a"
                                },
                                "accounts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "accountId": {},
                                            "count": {
                                                "type": "integer"
                                            },
                                            "statuses": {
                                                "shape": "S1a"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAR7U2K2JCREDJBWNVXAL7UAWGNFGOLGEVFGXCQP4D2YBTINNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sg": {
            "type": "list",
            "member": {
                "shape": "Sh"
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "from": {
                    "type": "timestamp"
                },
                "to": {
                    "type": "timestamp"
                }
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "shape": "Sk"
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "entityArn": {},
                    "eventArn": {},
                    "entityValue": {},
                    "entityUrl": {},
                    "awsAccountId": {},
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "statusCode": {},
                    "tags": {
                        "shape": "Sk"
                    }
                }
            }
        },
        "Sw": {
            "type": "structure",
            "required": [
                "eventArn"
            ],
            "members": {
                "eventArn": {},
                "awsAccountId": {}
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sb"
                },
                "eventTypeCodes": {
                    "shape": "S1a"
                },
                "services": {
                    "shape": "S1c"
                },
                "regions": {
                    "shape": "S1e"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sg"
                },
                "endTimes": {
                    "shape": "Sg"
                },
                "lastUpdatedTimes": {
                    "shape": "Sg"
                },
                "entityArns": {
                    "shape": "Sc"
                },
                "entityValues": {
                    "shape": "Se"
                },
                "eventTypeCategories": {
                    "shape": "S1i"
                },
                "tags": {
                    "shape": "Sj"
                },
                "eventStatusCodes": {
                    "shape": "S1k"
                }
            }
        },
        "S1a": {
            "type": "list",
            "member": {}
        },
        "S1c": {
            "type": "list",
            "member": {}
        },
        "S1e": {
            "type": "list",
            "member": {}
        },
        "S1i": {
            "type": "list",
            "member": {}
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S1v": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S1x": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S1z": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S18": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sb"
                },
                "eventTypeCodes": {
                    "shape": "S19"
                },
                "services": {
                    "shape": "S1b"
                },
                "regions": {
                    "shape": "S1d"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sg"
                },
                "endTimes": {
                    "shape": "Sg"
                },
                "lastUpdatedTimes": {
                    "shape": "Sg"
                },
                "entityArns": {
                    "shape": "Sc"
                },
                "entityValues": {
                    "shape": "Se"
                },
                "eventTypeCategories": {
                    "shape": "S1h"
                },
                "tags": {
                    "shape": "Sj"
                },
                "eventStatusCodes": {
                    "shape": "S1j"
                }
            }
        },
        "S1b": {
            "type": "list",
            "member": {}
        },
        "S1d": {
            "type": "list",
            "member": {}
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "S1u": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S1w": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S1y": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sa": {
            "type": "list",
            "member": {}
        },
        "Sd": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {
                "shape": "Sg"
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "shape": "Sj"
            }
        },
        "Sq": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "entityArn": {},
                    "eventArn": {},
                    "entityValue": {},
                    "entityUrl": {},
                    "awsAccountId": {},
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "statusCode": {},
                    "tags": {
                        "shape": "Sj"
                    }
                }
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "eventArn",
                "awsAccountId"
            ],
            "members": {
                "eventArn": {},
                "awsAccountId": {}
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sa"
                },
                "eventTypeCodes": {
                    "shape": "S18"
                },
                "services": {
                    "shape": "S1a"
                },
                "regions": {
                    "shape": "S1c"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sf"
                },
                "endTimes": {
                    "shape": "Sf"
                },
                "lastUpdatedTimes": {
                    "shape": "Sf"
                },
                "entityArns": {
                    "shape": "Sb"
                },
                "entityValues": {
                    "shape": "Sd"
                },
                "eventTypeCategories": {
                    "shape": "S1g"
                },
                "tags": {
                    "shape": "Si"
                },
                "eventStatusCodes": {
                    "shape": "S1i"
                }
            }
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S1t": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {}
            }
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "S1l": {
            "type": "list",
            "member": {}
        },
        "S1n": {
            "type": "list",
            "member": {}
        },
        "S1p": {
            "type": "list",
            "member": {}
        },
        "S26": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S28": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S2a": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}