{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-08-04",
        "endpointPrefix": "health",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWSHealth",
        "serviceFullName": "AWS Health APIs and Notifications",
        "serviceId": "Health",
        "signatureVersion": "v4",
        "targetPrefix": "AWSHealth_20160804",
        "uid": "health-2016-08-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "DescribeAffectedAccountsForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArn"
                ],
                "members": {
                    "eventArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "affectedAccounts": {
                        "type": "list",
                        "member": {}
                    },
                    "eventScopeCode": {},
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAffectedEntities": {
            "input": {
                "type": "structure",
                "required": [
                    "filter"
                ],
                "members": {
                    "filter": {
                        "type": "structure",
                        "required": [
                            "eventArns"
                        ],
                        "members": {
                            "eventArns": {
                                "shape": "Sb"
                            },
                            "entityArns": {
                                "shape": "Sc"
                            },
                            "entityValues": {
                                "shape": "Se"
                            },
                            "lastUpdatedTimes": {
                                "shape": "Sg"
                            },
                            "tags": {
                                "shape": "Sj"
                            },
                            "statusCodes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entities": {
                        "shape": "Sr"
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAffectedEntitiesForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationEntityFilters"
                ],
                "members": {
                    "organizationEntityFilters": {
                        "type": "list",
                        "member": {
                            "shape": "Sw"
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "organizationEntityAccountFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "eventArn"
                            ],
                            "members": {
                                "eventArn": {},
                                "awsAccountId": {},
                                "statusCodes": {
                                    "shape": "Sn"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entities": {
                        "shape": "Sr"
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEntityAggregates": {
            "input": {
                "type": "structure",
                "members": {
                    "eventArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entityAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "count": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEventAggregates": {
            "input": {
                "type": "structure",
                "required": [
                    "aggregateField"
                ],
                "members": {
                    "filter": {
                        "shape": "S19"
                    },
                    "aggregateField": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eventAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "aggregateValue": {},
                                "count": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEventDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArns"
                ],
                "members": {
                    "eventArns": {
                        "shape": "Sb"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "event": {
                                    "shape": "S1v"
                                },
                                "eventDescription": {
                                    "shape": "S1x"
                                },
                                "eventMetadata": {
                                    "shape": "S1z"
                                }
                            }
                        }
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEventDetailsForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationEventDetailFilters"
                ],
                "members": {
                    "organizationEventDetailFilters": {
                        "type": "list",
                        "member": {
                            "shape": "Sw"
                        }
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "event": {
                                    "shape": "S1v"
                                },
                                "eventDescription": {
                                    "shape": "S1x"
                                },
                                "eventMetadata": {
                                    "shape": "S1z"
                                }
                            }
                        }
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEventTypes": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "type": "structure",
                        "members": {
                            "eventTypeCodes": {
                                "type": "list",
                                "member": {}
                            },
                            "services": {
                                "shape": "S1c"
                            },
                            "eventTypeCategories": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eventTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "service": {},
                                "code": {},
                                "category": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEvents": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "shape": "S19"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "shape": "S1v"
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEventsForOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "type": "structure",
                        "members": {
                            "eventTypeCodes": {
                                "shape": "S1a"
                            },
                            "awsAccountIds": {
                                "type": "list",
                                "member": {}
                            },
                            "services": {
                                "shape": "S1c"
                            },
                            "regions": {
                                "shape": "S1e"
                            },
                            "startTime": {
                                "shape": "Sh"
                            },
                            "endTime": {
                                "shape": "Sh"
                            },
                            "lastUpdatedTime": {
                                "shape": "Sh"
                            },
                            "entityArns": {
                                "shape": "Sc"
                            },
                            "entityValues": {
                                "shape": "Se"
                            },
                            "eventTypeCategories": {
                                "shape": "S1i"
                            },
                            "eventStatusCodes": {
                                "shape": "S1k"
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "service": {},
                                "eventTypeCode": {},
                                "eventTypeCategory": {},
                                "eventScopeCode": {},
                                "region": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "statusCode": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeHealthServiceStatusForOrganization": {
            "output": {
                "type": "structure",
                "members": {
                    "healthServiceAccessStatusForOrganization": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisableHealthServiceAccessForOrganization": {
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "EnableHealthServiceAccessForOrganization": {
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7OY7UXSURY5BVCFZ6CLUHEZIKU2ROJ462ICICMYUWQUX35G7RBQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCQGTZ4GRUQNIV2Y37CNE4YTMVLH23DU7R2QV766DZH6GS6DW5UQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEntityAggregatesForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArns"
                ],
                "members": {
                    "eventArns": {
                        "type": "list",
                        "member": {}
                    },
                    "awsAccountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "organizationEntityAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "count": {
                                    "type": "integer"
                                },
                                "statuses": {
                                    "shape": "S1a"
                                },
                                "accounts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "accountId": {},
                                            "count": {
                                                "type": "integer"
                                            },
                                            "statuses": {
                                                "shape": "S1a"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWS6SZAYDACGAJVO3YALLDWM75LKKW24WD7LRLGJ6XWOSIF4ZKFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWS6SZAYDACGAJVO3YALLDWM75LKKW24WD7LRLGJ6XWOSIF4ZKFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKI2QOV7U7BZFGMUXLRDJOEB2WJX4SRF7A6XARV64ANFON7MDOXQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKI2QOV7U7BZFGMUXLRDJOEB2WJX4SRF7A6XARV64ANFON7MDOXQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKI2QOV7U7BZFGMUXLRDJOEB2WJX4SRF7A6XARV64ANFON7MDOXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KRQXOPFMRWWQK5SDFOSVG5HFMWJDPWQF33W5OXTS64ACCM7X7OA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sg": {
            "type": "list",
            "member": {
                "shape": "Sh"
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "from": {
                    "type": "timestamp"
                },
                "to": {
                    "type": "timestamp"
                }
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "shape": "Sk"
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "entityArn": {},
                    "eventArn": {},
                    "entityValue": {},
                    "entityUrl": {},
                    "awsAccountId": {},
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "statusCode": {},
                    "tags": {
                        "shape": "Sk"
                    }
                }
            }
        },
        "Sw": {
            "type": "structure",
            "required": [
                "eventArn"
            ],
            "members": {
                "eventArn": {},
                "awsAccountId": {}
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sb"
                },
                "eventTypeCodes": {
                    "shape": "S1a"
                },
                "services": {
                    "shape": "S1c"
                },
                "regions": {
                    "shape": "S1e"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sg"
                },
                "endTimes": {
                    "shape": "Sg"
                },
                "lastUpdatedTimes": {
                    "shape": "Sg"
                },
                "entityArns": {
                    "shape": "Sc"
                },
                "entityValues": {
                    "shape": "Se"
                },
                "eventTypeCategories": {
                    "shape": "S1i"
                },
                "tags": {
                    "shape": "Sj"
                },
                "eventStatusCodes": {
                    "shape": "S1k"
                }
            }
        },
        "S1a": {
            "type": "list",
            "member": {}
        },
        "S1c": {
            "type": "list",
            "member": {}
        },
        "S1e": {
            "type": "list",
            "member": {}
        },
        "S1i": {
            "type": "list",
            "member": {}
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S1v": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S1x": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S1z": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S18": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sb"
                },
                "eventTypeCodes": {
                    "shape": "S19"
                },
                "services": {
                    "shape": "S1b"
                },
                "regions": {
                    "shape": "S1d"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sg"
                },
                "endTimes": {
                    "shape": "Sg"
                },
                "lastUpdatedTimes": {
                    "shape": "Sg"
                },
                "entityArns": {
                    "shape": "Sc"
                },
                "entityValues": {
                    "shape": "Se"
                },
                "eventTypeCategories": {
                    "shape": "S1h"
                },
                "tags": {
                    "shape": "Sj"
                },
                "eventStatusCodes": {
                    "shape": "S1j"
                }
            }
        },
        "S1b": {
            "type": "list",
            "member": {}
        },
        "S1d": {
            "type": "list",
            "member": {}
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "S1u": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S1w": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S1y": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sa": {
            "type": "list",
            "member": {}
        },
        "Sd": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {
                "shape": "Sg"
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "shape": "Sj"
            }
        },
        "Sq": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "entityArn": {},
                    "eventArn": {},
                    "entityValue": {},
                    "entityUrl": {},
                    "awsAccountId": {},
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "statusCode": {},
                    "tags": {
                        "shape": "Sj"
                    }
                }
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "eventArn",
                "awsAccountId"
            ],
            "members": {
                "eventArn": {},
                "awsAccountId": {}
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sa"
                },
                "eventTypeCodes": {
                    "shape": "S18"
                },
                "services": {
                    "shape": "S1a"
                },
                "regions": {
                    "shape": "S1c"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sf"
                },
                "endTimes": {
                    "shape": "Sf"
                },
                "lastUpdatedTimes": {
                    "shape": "Sf"
                },
                "entityArns": {
                    "shape": "Sb"
                },
                "entityValues": {
                    "shape": "Sd"
                },
                "eventTypeCategories": {
                    "shape": "S1g"
                },
                "tags": {
                    "shape": "Si"
                },
                "eventStatusCodes": {
                    "shape": "S1i"
                }
            }
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S1t": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {}
            }
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "S1l": {
            "type": "list",
            "member": {}
        },
        "S1n": {
            "type": "list",
            "member": {}
        },
        "S1p": {
            "type": "list",
            "member": {}
        },
        "S26": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S28": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S2a": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}