{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-01",
        "endpointPrefix": "healthlake",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "HealthLake",
        "serviceFullName": "Amazon HealthLake",
        "serviceId": "HealthLake",
        "signatureVersion": "v4",
        "signingName": "healthlake",
        "targetPrefix": "HealthLake",
        "uid": "healthlake-2017-07-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
        ]
    },
    "operations": {
        "CreateFHIRDatastore": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreTypeVersion"
                ],
                "members": {
                    "DatastoreName": {},
                    "DatastoreTypeVersion": {},
                    "SseConfiguration": {
                        "shape": "S4"
                    },
                    "PreloadDataConfig": {
                        "shape": "S8"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sb"
                    },
                    "IdentityProviderConfiguration": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DatastoreId",
                    "DatastoreArn",
                    "DatastoreStatus",
                    "DatastoreEndpoint"
                ],
                "members": {
                    "DatastoreId": {},
                    "DatastoreArn": {},
                    "DatastoreStatus": {},
                    "DatastoreEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteFHIRDatastore": {
            "input": {
                "type": "structure",
                "members": {
                    "DatastoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DatastoreId",
                    "DatastoreArn",
                    "DatastoreStatus",
                    "DatastoreEndpoint"
                ],
                "members": {
                    "DatastoreId": {},
                    "DatastoreArn": {},
                    "DatastoreStatus": {},
                    "DatastoreEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DescribeFHIRDatastore": {
            "input": {
                "type": "structure",
                "members": {
                    "DatastoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DatastoreProperties"
                ],
                "members": {
                    "DatastoreProperties": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DescribeFHIRExportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreId",
                    "JobId"
                ],
                "members": {
                    "DatastoreId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ExportJobProperties"
                ],
                "members": {
                    "ExportJobProperties": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DescribeFHIRImportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreId",
                    "JobId"
                ],
                "members": {
                    "DatastoreId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ImportJobProperties"
                ],
                "members": {
                    "ImportJobProperties": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListFHIRDatastores": {
            "input": {
                "type": "structure",
                "members": {
                    "Filter": {
                        "type": "structure",
                        "members": {
                            "DatastoreName": {},
                            "DatastoreStatus": {},
                            "CreatedBefore": {
                                "type": "timestamp"
                            },
                            "CreatedAfter": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DatastorePropertiesList"
                ],
                "members": {
                    "DatastorePropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "So"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListFHIRExportJobs": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreId"
                ],
                "members": {
                    "DatastoreId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "JobName": {},
                    "JobStatus": {},
                    "SubmittedBefore": {
                        "type": "timestamp"
                    },
                    "SubmittedAfter": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ExportJobPropertiesList"
                ],
                "members": {
                    "ExportJobPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListFHIRImportJobs": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreId"
                ],
                "members": {
                    "DatastoreId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "JobName": {},
                    "JobStatus": {},
                    "SubmittedBefore": {
                        "type": "timestamp"
                    },
                    "SubmittedAfter": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ImportJobPropertiesList"
                ],
                "members": {
                    "ImportJobPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "S14"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "StartFHIRExportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "OutputDataConfig",
                    "DatastoreId",
                    "DataAccessRoleArn",
                    "ClientToken"
                ],
                "members": {
                    "JobName": {},
                    "OutputDataConfig": {
                        "shape": "Sx"
                    },
                    "DatastoreId": {},
                    "DataAccessRoleArn": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "JobStatus"
                ],
                "members": {
                    "JobId": {},
                    "JobStatus": {},
                    "DatastoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "StartFHIRImportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "InputDataConfig",
                    "JobOutputDataConfig",
                    "DatastoreId",
                    "DataAccessRoleArn",
                    "ClientToken"
                ],
                "members": {
                    "JobName": {},
                    "InputDataConfig": {
                        "shape": "S15"
                    },
                    "JobOutputDataConfig": {
                        "shape": "Sx"
                    },
                    "DatastoreId": {},
                    "DataAccessRoleArn": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "JobStatus"
                ],
                "members": {
                    "JobId": {},
                    "JobStatus": {},
                    "DatastoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "required": [
                "KmsEncryptionConfig"
            ],
            "members": {
                "KmsEncryptionConfig": {
                    "type": "structure",
                    "required": [
                        "CmkType"
                    ],
                    "members": {
                        "CmkType": {},
                        "KmsKeyId": {}
                    }
                }
            }
        },
        "S8": {
            "type": "structure",
            "required": [
                "PreloadDataType"
            ],
            "members": {
                "PreloadDataType": {}
            }
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "So": {
            "type": "structure",
            "required": [
                "DatastoreId",
                "DatastoreArn",
                "DatastoreStatus",
                "DatastoreTypeVersion",
                "DatastoreEndpoint"
            ],
            "members": {
                "DatastoreId": {},
                "DatastoreArn": {},
                "DatastoreName": {},
                "DatastoreStatus": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "DatastoreTypeVersion": {},
                "DatastoreEndpoint": {},
                "SseConfiguration": {
                    "shape": "S4"
                },
                "PreloadDataConfig": {
                    "shape": "S8"
                }
            }
        },
        "Su": {
            "type": "structure",
            "required": [
                "JobId",
                "JobStatus",
                "SubmitTime",
                "DatastoreId",
                "OutputDataConfig"
            ],
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "SubmitTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "DatastoreId": {},
                "OutputDataConfig": {
                    "shape": "Sx"
                },
                "DataAccessRoleArn": {},
                "Message": {}
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "S3Configuration": {
                    "type": "structure",
                    "required": [
                        "S3Uri",
                        "KmsKeyId"
                    ],
                    "members": {
                        "S3Uri": {},
                        "KmsKeyId": {}
                    }
                }
            },
            "union": true
        },
        "S14": {
            "type": "structure",
            "required": [
                "JobId",
                "JobStatus",
                "SubmitTime",
                "DatastoreId",
                "InputDataConfig"
            ],
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "SubmitTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "DatastoreId": {},
                "InputDataConfig": {
                    "shape": "S15"
                },
                "JobOutputDataConfig": {
                    "shape": "Sx"
                },
                "DataAccessRoleArn": {},
                "Message": {}
            }
        },
        "S15": {
            "type": "structure",
            "members": {
                "S3Uri": {}
            },
            "union": true
        },
        "Sg": {
            "type": "structure",
            "required": [
                "DatastoreId",
                "DatastoreArn",
                "DatastoreStatus",
                "DatastoreTypeVersion",
                "DatastoreEndpoint"
            ],
            "members": {
                "DatastoreId": {},
                "DatastoreArn": {},
                "DatastoreName": {},
                "DatastoreStatus": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "DatastoreTypeVersion": {},
                "DatastoreEndpoint": {},
                "PreloadDataConfig": {
                    "shape": "S4"
                }
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "S3Uri": {}
            },
            "union": true
        },
        "Sw": {
            "type": "structure",
            "members": {
                "S3Uri": {}
            },
            "union": true
        },
        "Sf": {
            "type": "structure",
            "required": [
                "AuthorizationStrategy"
            ],
            "members": {
                "AuthorizationStrategy": {},
                "FineGrainedAuthorizationEnabled": {
                    "type": "boolean"
                },
                "Metadata": {},
                "IdpLambdaArn": {}
            }
        },
        "St": {
            "type": "structure",
            "required": [
                "DatastoreId",
                "DatastoreArn",
                "DatastoreStatus",
                "DatastoreTypeVersion",
                "DatastoreEndpoint"
            ],
            "members": {
                "DatastoreId": {},
                "DatastoreArn": {},
                "DatastoreName": {},
                "DatastoreStatus": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "DatastoreTypeVersion": {},
                "DatastoreEndpoint": {},
                "SseConfiguration": {
                    "shape": "S4"
                },
                "PreloadDataConfig": {
                    "shape": "S8"
                },
                "IdentityProviderConfiguration": {
                    "shape": "Sf"
                }
            }
        },
        "Sz": {
            "type": "structure",
            "required": [
                "JobId",
                "JobStatus",
                "SubmitTime",
                "DatastoreId",
                "OutputDataConfig"
            ],
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "SubmitTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "DatastoreId": {},
                "OutputDataConfig": {
                    "shape": "S12"
                },
                "DataAccessRoleArn": {},
                "Message": {}
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "S3Configuration": {
                    "type": "structure",
                    "required": [
                        "S3Uri",
                        "KmsKeyId"
                    ],
                    "members": {
                        "S3Uri": {},
                        "KmsKeyId": {}
                    }
                }
            },
            "union": true
        },
        "S19": {
            "type": "structure",
            "required": [
                "JobId",
                "JobStatus",
                "SubmitTime",
                "DatastoreId",
                "InputDataConfig"
            ],
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "SubmitTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "DatastoreId": {},
                "InputDataConfig": {
                    "shape": "S1a"
                },
                "JobOutputDataConfig": {
                    "shape": "S12"
                },
                "DataAccessRoleArn": {},
                "Message": {}
            }
        },
        "S1a": {
            "type": "structure",
            "members": {
                "S3Uri": {}
            },
            "union": true
        },
        "S1c": {
            "type": "structure",
            "required": [
                "JobId",
                "JobStatus",
                "SubmitTime",
                "DatastoreId",
                "InputDataConfig"
            ],
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "SubmitTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "DatastoreId": {},
                "InputDataConfig": {
                    "shape": "S1d"
                },
                "JobOutputDataConfig": {
                    "shape": "S15"
                },
                "JobProgressReport": {
                    "type": "structure",
                    "members": {
                        "TotalNumberOfScannedFiles": {
                            "type": "long"
                        },
                        "TotalSizeOfScannedFilesInMB": {
                            "type": "double"
                        },
                        "TotalNumberOfImportedFiles": {
                            "type": "long"
                        },
                        "TotalNumberOfResourcesScanned": {
                            "type": "long"
                        },
                        "TotalNumberOfResourcesImported": {
                            "type": "long"
                        },
                        "TotalNumberOfResourcesWithCustomerError": {
                            "type": "long"
                        },
                        "TotalNumberOfFilesReadWithCustomerError": {
                            "type": "long"
                        },
                        "Throughput": {
                            "type": "double"
                        }
                    }
                },
                "DataAccessRoleArn": {},
                "Message": {}
            }
        },
        "S1d": {
            "type": "structure",
            "members": {
                "S3Uri": {}
            },
            "union": true
        }
    }
}