{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-01",
        "endpointPrefix": "healthlake",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "HealthLake",
        "serviceFullName": "Amazon HealthLake",
        "serviceId": "HealthLake",
        "signatureVersion": "v4",
        "signingName": "healthlake",
        "targetPrefix": "HealthLake",
        "uid": "healthlake-2017-07-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
        ]
    },
    "operations": {
        "CreateFHIRDatastore": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreTypeVersion"
                ],
                "members": {
                    "DatastoreName": {},
                    "DatastoreTypeVersion": {},
                    "SseConfiguration": {
                        "shape": "S4"
                    },
                    "PreloadDataConfig": {
                        "shape": "S8"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sb"
                    },
                    "IdentityProviderConfiguration": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DatastoreId",
                    "DatastoreArn",
                    "DatastoreStatus",
                    "DatastoreEndpoint"
                ],
                "members": {
                    "DatastoreId": {},
                    "DatastoreArn": {},
                    "DatastoreStatus": {},
                    "DatastoreEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "DeleteFHIRDatastore": {
            "input": {
                "type": "structure",
                "members": {
                    "DatastoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DatastoreId",
                    "DatastoreArn",
                    "DatastoreStatus",
                    "DatastoreEndpoint"
                ],
                "members": {
                    "DatastoreId": {},
                    "DatastoreArn": {},
                    "DatastoreStatus": {},
                    "DatastoreEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "DescribeFHIRDatastore": {
            "input": {
                "type": "structure",
                "members": {
                    "DatastoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DatastoreProperties"
                ],
                "members": {
                    "DatastoreProperties": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "DescribeFHIRExportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreId",
                    "JobId"
                ],
                "members": {
                    "DatastoreId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ExportJobProperties"
                ],
                "members": {
                    "ExportJobProperties": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "DescribeFHIRImportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreId",
                    "JobId"
                ],
                "members": {
                    "DatastoreId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ImportJobProperties"
                ],
                "members": {
                    "ImportJobProperties": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "ListFHIRDatastores": {
            "input": {
                "type": "structure",
                "members": {
                    "Filter": {
                        "type": "structure",
                        "members": {
                            "DatastoreName": {},
                            "DatastoreStatus": {},
                            "CreatedBefore": {
                                "type": "timestamp"
                            },
                            "CreatedAfter": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DatastorePropertiesList"
                ],
                "members": {
                    "DatastorePropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "So"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "ListFHIRExportJobs": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreId"
                ],
                "members": {
                    "DatastoreId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "JobName": {},
                    "JobStatus": {},
                    "SubmittedBefore": {
                        "type": "timestamp"
                    },
                    "SubmittedAfter": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ExportJobPropertiesList"
                ],
                "members": {
                    "ExportJobPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIW7HN6UMBTVIGPLE2GPLPZT2INVABEFNACXAP67TEWJMZVMHFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEC4ZZMYD3GRGGJABU2JCDGCUKB5AOWVGEIYFDMOUKMM2YT4STFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EY52ATUHCLVJS6QXWD4EGKBMARJFUWVGU7VUW5M3BTQZXPCXEZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73C4LSUQNVFAQXQTUHWUKKSDOAFWCI745GB4O4UJYVA5WTVRETOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LDC53BCG5NY6VDQ7LDBKA7LXDOTYIDNQJABNGT25A4HFSCUONJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSHYOBPWX4CTNIEQO4CGVO6QWLNITU7P7USHL4SDBUMY56QGRXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "ListFHIRImportJobs": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreId"
                ],
                "members": {
                    "DatastoreId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "JobName": {},
                    "JobStatus": {},
                    "SubmittedBefore": {
                        "type": "timestamp"
                    },
                    "SubmittedAfter": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ImportJobPropertiesList"
                ],
                "members": {
                    "ImportJobPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "S14"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIW7HN6UMBTVIGPLE2GPLPZT2INVABEFNACXAP67TEWJMZVMHFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEC4ZZMYD3GRGGJABU2JCDGCUKB5AOWVGEIYFDMOUKMM2YT4STFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EY52ATUHCLVJS6QXWD4EGKBMARJFUWVGU7VUW5M3BTQZXPCXEZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73C4LSUQNVFAQXQTUHWUKKSDOAFWCI745GB4O4UJYVA5WTVRETOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LDC53BCG5NY6VDQ7LDBKA7LXDOTYIDNQJABNGT25A4HFSCUONJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSHYOBPWX4CTNIEQO4CGVO6QWLNITU7P7USHL4SDBUMY56QGRXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIW7HN6UMBTVIGPLE2GPLPZT2INVABEFNACXAP67TEWJMZVMHFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEC4ZZMYD3GRGGJABU2JCDGCUKB5AOWVGEIYFDMOUKMM2YT4STFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EY52ATUHCLVJS6QXWD4EGKBMARJFUWVGU7VUW5M3BTQZXPCXEZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73C4LSUQNVFAQXQTUHWUKKSDOAFWCI745GB4O4UJYVA5WTVRETOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LDC53BCG5NY6VDQ7LDBKA7LXDOTYIDNQJABNGT25A4HFSCUONJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSHYOBPWX4CTNIEQO4CGVO6QWLNITU7P7USHL4SDBUMY56QGRXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "StartFHIRExportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "OutputDataConfig",
                    "DatastoreId",
                    "DataAccessRoleArn",
                    "ClientToken"
                ],
                "members": {
                    "JobName": {},
                    "OutputDataConfig": {
                        "shape": "Sx"
                    },
                    "DatastoreId": {},
                    "DataAccessRoleArn": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "JobStatus"
                ],
                "members": {
                    "JobId": {},
                    "JobStatus": {},
                    "DatastoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "StartFHIRImportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "InputDataConfig",
                    "JobOutputDataConfig",
                    "DatastoreId",
                    "DataAccessRoleArn",
                    "ClientToken"
                ],
                "members": {
                    "JobName": {},
                    "InputDataConfig": {
                        "shape": "S15"
                    },
                    "JobOutputDataConfig": {
                        "shape": "Sx"
                    },
                    "DatastoreId": {},
                    "DataAccessRoleArn": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "JobStatus"
                ],
                "members": {
                    "JobId": {},
                    "JobStatus": {},
                    "DatastoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIW7HN6UMBTVIGPLE2GPLPZT2INVABEFNACXAP67TEWJMZVMHFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEC4ZZMYD3GRGGJABU2JCDGCUKB5AOWVGEIYFDMOUKMM2YT4STFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EY52ATUHCLVJS6QXWD4EGKBMARJFUWVGU7VUW5M3BTQZXPCXEZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73C4LSUQNVFAQXQTUHWUKKSDOAFWCI745GB4O4UJYVA5WTVRETOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LDC53BCG5NY6VDQ7LDBKA7LXDOTYIDNQJABNGT25A4HFSCUONJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSHYOBPWX4CTNIEQO4CGVO6QWLNITU7P7USHL4SDBUMY56QGRXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIW7HN6UMBTVIGPLE2GPLPZT2INVABEFNACXAP67TEWJMZVMHFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEC4ZZMYD3GRGGJABU2JCDGCUKB5AOWVGEIYFDMOUKMM2YT4STFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EY52ATUHCLVJS6QXWD4EGKBMARJFUWVGU7VUW5M3BTQZXPCXEZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73C4LSUQNVFAQXQTUHWUKKSDOAFWCI745GB4O4UJYVA5WTVRETOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LDC53BCG5NY6VDQ7LDBKA7LXDOTYIDNQJABNGT25A4HFSCUONJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSHYOBPWX4CTNIEQO4CGVO6QWLNITU7P7USHL4SDBUMY56QGRXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7KJDXW3FKFSASCSWEMSZC7HXZRBABQAJY7JNL2BEH5CZZQN7WFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUFDTQQIGP3ZC5ZTJYVFGIL5WOQVCOMRSTMRYU7SSYNJGHDBMSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUMQSRUUZFYWIQDCEKM5FTJ42IZ4IMTOFMYNU3MICYNQUPL3QV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JT4W6NIL4HYWAASPGM6T3JZ6ZSO6HF4BBAAH74Y2K6VYYMZ3ZEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRLU5RCB2KNRFJYSVODD7SFNLQ6G6PDJI6FH4S6YEWBHL6C4SSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXM72VNMMCGMZVQW3RVUL6DJZXKRY5JNAVUFCA325FMT3JQFULNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPKCWBG3KQ7RNTB55QBMN52CMBVVFVDPSAIBJPWJFCOMUOJ22LOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOUFUALC6XYIG35OLELWIV3GQX5EPZQWHS4R72VY3ICPA6BD6CUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKE4NIMIWD4TVCAXUH3YHRULELNCNOF57CYTJN74LP2ZUTZ2DU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42XZEVX456CBTKMQEEDSQU3GZNXND3R6AUZTMBSFQLRRZX7D4OFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVLWXXYIXPOMZCEHDHO3U2W2WUZ4434X4ZG52IIAQR33WET45URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJDYZP44SXFQXYSR6SPUU5UYXJFMMPJHYJQKGIBMLV2NJERBKVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXJWGXSLPGDRTSSZR4MGNK3BC5B7APS2NFYZ6FERHZR26BIVPUQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ6MLIKJVBPK6VHPMGL7HA7YKFZL4D5VFSRRUAXFM3P4BO6ZSUGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "required": [
                "KmsEncryptionConfig"
            ],
            "members": {
                "KmsEncryptionConfig": {
                    "type": "structure",
                    "required": [
                        "CmkType"
                    ],
                    "members": {
                        "CmkType": {},
                        "KmsKeyId": {}
                    }
                }
            }
        },
        "S8": {
            "type": "structure",
            "required": [
                "PreloadDataType"
            ],
            "members": {
                "PreloadDataType": {}
            }
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "So": {
            "type": "structure",
            "required": [
                "DatastoreId",
                "DatastoreArn",
                "DatastoreStatus",
                "DatastoreTypeVersion",
                "DatastoreEndpoint"
            ],
            "members": {
                "DatastoreId": {},
                "DatastoreArn": {},
                "DatastoreName": {},
                "DatastoreStatus": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "DatastoreTypeVersion": {},
                "DatastoreEndpoint": {},
                "SseConfiguration": {
                    "shape": "S4"
                },
                "PreloadDataConfig": {
                    "shape": "S8"
                }
            }
        },
        "Su": {
            "type": "structure",
            "required": [
                "JobId",
                "JobStatus",
                "SubmitTime",
                "DatastoreId",
                "OutputDataConfig"
            ],
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "SubmitTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "DatastoreId": {},
                "OutputDataConfig": {
                    "shape": "Sx"
                },
                "DataAccessRoleArn": {},
                "Message": {}
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "S3Configuration": {
                    "type": "structure",
                    "required": [
                        "S3Uri",
                        "KmsKeyId"
                    ],
                    "members": {
                        "S3Uri": {},
                        "KmsKeyId": {}
                    }
                }
            },
            "union": true
        },
        "S14": {
            "type": "structure",
            "required": [
                "JobId",
                "JobStatus",
                "SubmitTime",
                "DatastoreId",
                "InputDataConfig"
            ],
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "SubmitTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "DatastoreId": {},
                "InputDataConfig": {
                    "shape": "S15"
                },
                "JobOutputDataConfig": {
                    "shape": "Sx"
                },
                "DataAccessRoleArn": {},
                "Message": {}
            }
        },
        "S15": {
            "type": "structure",
            "members": {
                "S3Uri": {}
            },
            "union": true
        },
        "Sg": {
            "type": "structure",
            "required": [
                "DatastoreId",
                "DatastoreArn",
                "DatastoreStatus",
                "DatastoreTypeVersion",
                "DatastoreEndpoint"
            ],
            "members": {
                "DatastoreId": {},
                "DatastoreArn": {},
                "DatastoreName": {},
                "DatastoreStatus": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "DatastoreTypeVersion": {},
                "DatastoreEndpoint": {},
                "PreloadDataConfig": {
                    "shape": "S4"
                }
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "S3Uri": {}
            },
            "union": true
        },
        "Sw": {
            "type": "structure",
            "members": {
                "S3Uri": {}
            },
            "union": true
        },
        "Sf": {
            "type": "structure",
            "required": [
                "AuthorizationStrategy"
            ],
            "members": {
                "AuthorizationStrategy": {},
                "FineGrainedAuthorizationEnabled": {
                    "type": "boolean"
                },
                "Metadata": {},
                "IdpLambdaArn": {}
            }
        },
        "St": {
            "type": "structure",
            "required": [
                "DatastoreId",
                "DatastoreArn",
                "DatastoreStatus",
                "DatastoreTypeVersion",
                "DatastoreEndpoint"
            ],
            "members": {
                "DatastoreId": {},
                "DatastoreArn": {},
                "DatastoreName": {},
                "DatastoreStatus": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "DatastoreTypeVersion": {},
                "DatastoreEndpoint": {},
                "SseConfiguration": {
                    "shape": "S4"
                },
                "PreloadDataConfig": {
                    "shape": "S8"
                },
                "IdentityProviderConfiguration": {
                    "shape": "Sf"
                }
            }
        },
        "Sz": {
            "type": "structure",
            "required": [
                "JobId",
                "JobStatus",
                "SubmitTime",
                "DatastoreId",
                "OutputDataConfig"
            ],
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "SubmitTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "DatastoreId": {},
                "OutputDataConfig": {
                    "shape": "S12"
                },
                "DataAccessRoleArn": {},
                "Message": {}
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "S3Configuration": {
                    "type": "structure",
                    "required": [
                        "S3Uri",
                        "KmsKeyId"
                    ],
                    "members": {
                        "S3Uri": {},
                        "KmsKeyId": {}
                    }
                }
            },
            "union": true
        },
        "S19": {
            "type": "structure",
            "required": [
                "JobId",
                "JobStatus",
                "SubmitTime",
                "DatastoreId",
                "InputDataConfig"
            ],
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "SubmitTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "DatastoreId": {},
                "InputDataConfig": {
                    "shape": "S1a"
                },
                "JobOutputDataConfig": {
                    "shape": "S12"
                },
                "DataAccessRoleArn": {},
                "Message": {}
            }
        },
        "S1a": {
            "type": "structure",
            "members": {
                "S3Uri": {}
            },
            "union": true
        },
        "S1c": {
            "type": "structure",
            "required": [
                "JobId",
                "JobStatus",
                "SubmitTime",
                "DatastoreId",
                "InputDataConfig"
            ],
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "SubmitTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "DatastoreId": {},
                "InputDataConfig": {
                    "shape": "S1d"
                },
                "JobOutputDataConfig": {
                    "shape": "S15"
                },
                "JobProgressReport": {
                    "type": "structure",
                    "members": {
                        "TotalNumberOfScannedFiles": {
                            "type": "long"
                        },
                        "TotalSizeOfScannedFilesInMB": {
                            "type": "double"
                        },
                        "TotalNumberOfImportedFiles": {
                            "type": "long"
                        },
                        "TotalNumberOfResourcesScanned": {
                            "type": "long"
                        },
                        "TotalNumberOfResourcesImported": {
                            "type": "long"
                        },
                        "TotalNumberOfResourcesWithCustomerError": {
                            "type": "long"
                        },
                        "TotalNumberOfFilesReadWithCustomerError": {
                            "type": "long"
                        },
                        "Throughput": {
                            "type": "double"
                        }
                    }
                },
                "DataAccessRoleArn": {},
                "Message": {}
            }
        },
        "S1d": {
            "type": "structure",
            "members": {
                "S3Uri": {}
            },
            "union": true
        }
    }
}