{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-08-04",
        "endpointPrefix": "health",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWSHealth",
        "serviceFullName": "AWS Health APIs and Notifications",
        "serviceId": "Health",
        "signatureVersion": "v4",
        "targetPrefix": "AWSHealth_20160804",
        "uid": "health-2016-08-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
        ]
    },
    "operations": {
        "DescribeAffectedAccountsForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArn"
                ],
                "members": {
                    "eventArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "affectedAccounts": {
                        "type": "list",
                        "member": {}
                    },
                    "eventScopeCode": {},
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        },
        "DescribeAffectedEntities": {
            "input": {
                "type": "structure",
                "required": [
                    "filter"
                ],
                "members": {
                    "filter": {
                        "type": "structure",
                        "required": [
                            "eventArns"
                        ],
                        "members": {
                            "eventArns": {
                                "shape": "Sb"
                            },
                            "entityArns": {
                                "shape": "Sc"
                            },
                            "entityValues": {
                                "shape": "Se"
                            },
                            "lastUpdatedTimes": {
                                "shape": "Sg"
                            },
                            "tags": {
                                "shape": "Sj"
                            },
                            "statusCodes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entities": {
                        "shape": "Sr"
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        },
        "DescribeAffectedEntitiesForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationEntityFilters"
                ],
                "members": {
                    "organizationEntityFilters": {
                        "type": "list",
                        "member": {
                            "shape": "Sw"
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "organizationEntityAccountFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "eventArn"
                            ],
                            "members": {
                                "eventArn": {},
                                "awsAccountId": {},
                                "statusCodes": {
                                    "shape": "Sn"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entities": {
                        "shape": "Sr"
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        },
        "DescribeEntityAggregates": {
            "input": {
                "type": "structure",
                "members": {
                    "eventArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entityAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "count": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        },
        "DescribeEventAggregates": {
            "input": {
                "type": "structure",
                "required": [
                    "aggregateField"
                ],
                "members": {
                    "filter": {
                        "shape": "S19"
                    },
                    "aggregateField": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eventAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "aggregateValue": {},
                                "count": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        },
        "DescribeEventDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArns"
                ],
                "members": {
                    "eventArns": {
                        "shape": "Sb"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "event": {
                                    "shape": "S1v"
                                },
                                "eventDescription": {
                                    "shape": "S1x"
                                },
                                "eventMetadata": {
                                    "shape": "S1z"
                                }
                            }
                        }
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        },
        "DescribeEventDetailsForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "organizationEventDetailFilters"
                ],
                "members": {
                    "organizationEventDetailFilters": {
                        "type": "list",
                        "member": {
                            "shape": "Sw"
                        }
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "event": {
                                    "shape": "S1v"
                                },
                                "eventDescription": {
                                    "shape": "S1x"
                                },
                                "eventMetadata": {
                                    "shape": "S1z"
                                }
                            }
                        }
                    },
                    "failedSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "eventArn": {},
                                "errorName": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        },
        "DescribeEventTypes": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "type": "structure",
                        "members": {
                            "eventTypeCodes": {
                                "type": "list",
                                "member": {}
                            },
                            "services": {
                                "shape": "S1c"
                            },
                            "eventTypeCategories": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "locale": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eventTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "service": {},
                                "code": {},
                                "category": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        },
        "DescribeEvents": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "shape": "S19"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "shape": "S1v"
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        },
        "DescribeEventsForOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "type": "structure",
                        "members": {
                            "eventTypeCodes": {
                                "shape": "S1a"
                            },
                            "awsAccountIds": {
                                "type": "list",
                                "member": {}
                            },
                            "services": {
                                "shape": "S1c"
                            },
                            "regions": {
                                "shape": "S1e"
                            },
                            "startTime": {
                                "shape": "Sh"
                            },
                            "endTime": {
                                "shape": "Sh"
                            },
                            "lastUpdatedTime": {
                                "shape": "Sh"
                            },
                            "entityArns": {
                                "shape": "Sc"
                            },
                            "entityValues": {
                                "shape": "Se"
                            },
                            "eventTypeCategories": {
                                "shape": "S1i"
                            },
                            "eventStatusCodes": {
                                "shape": "S1k"
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "service": {},
                                "eventTypeCode": {},
                                "eventTypeCategory": {},
                                "eventScopeCode": {},
                                "region": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "statusCode": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        },
        "DescribeHealthServiceStatusForOrganization": {
            "output": {
                "type": "structure",
                "members": {
                    "healthServiceAccessStatusForOrganization": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        },
        "DisableHealthServiceAccessForOrganization": {
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        },
        "EnableHealthServiceAccessForOrganization": {
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        },
        "DescribeEntityAggregatesForOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "eventArns"
                ],
                "members": {
                    "eventArns": {
                        "type": "list",
                        "member": {}
                    },
                    "awsAccountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "organizationEntityAggregates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventArn": {},
                                "count": {
                                    "type": "integer"
                                },
                                "statuses": {
                                    "shape": "S1a"
                                },
                                "accounts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "accountId": {},
                                            "count": {
                                                "type": "integer"
                                            },
                                            "statuses": {
                                                "shape": "S1a"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZYZPYG2G63ZMWGZCYYHBMJ5Y2UUN7BOSW3HI7HDFTEORX5K3IA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHJZ5IS3S2LVZYOW2J3NRNP43CF6WXQ3E7XGUM2UBEYXOZEPKV5A/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PZB2IP6R7CA5H34VOOTKWFFGIW3MQPY3F7BFO5D5XV6VLWD6PWQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMROGD7ZZNJTRM7NJPTD2V5PSDFWSZOQRZWDE4B5XWGVO4CJXRMA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3D44JPPWS3ZWZBUJHLQCKDZCLUT44FED7LJSLD4MWWI5STNGWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6BJCLKIZG6S5VZMNONCJSWWLSG2R27QT2JFA7ESBPY43IRRCOOQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDM5URBNSFREQZBA7INYCQQ43GFRLJS2HNLY6H277XADNZR54EQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J4FHYK77FIFA3IA3CYGOHO2ZS67AH73FJT7NJ27Q4OC33UJMDUQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJZ4Z7GQV4WSI4GBPC2FVIZ3LVJS3SWC3XM7XSIJ4NMKNYQ3QDA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDBLTQZLJKVNDJ5G4NRYGUBBDGAKNY5FLH4SNPACPFPFRDAEWRTA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sg": {
            "type": "list",
            "member": {
                "shape": "Sh"
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "from": {
                    "type": "timestamp"
                },
                "to": {
                    "type": "timestamp"
                }
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "shape": "Sk"
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "entityArn": {},
                    "eventArn": {},
                    "entityValue": {},
                    "entityUrl": {},
                    "awsAccountId": {},
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "statusCode": {},
                    "tags": {
                        "shape": "Sk"
                    }
                }
            }
        },
        "Sw": {
            "type": "structure",
            "required": [
                "eventArn"
            ],
            "members": {
                "eventArn": {},
                "awsAccountId": {}
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sb"
                },
                "eventTypeCodes": {
                    "shape": "S1a"
                },
                "services": {
                    "shape": "S1c"
                },
                "regions": {
                    "shape": "S1e"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sg"
                },
                "endTimes": {
                    "shape": "Sg"
                },
                "lastUpdatedTimes": {
                    "shape": "Sg"
                },
                "entityArns": {
                    "shape": "Sc"
                },
                "entityValues": {
                    "shape": "Se"
                },
                "eventTypeCategories": {
                    "shape": "S1i"
                },
                "tags": {
                    "shape": "Sj"
                },
                "eventStatusCodes": {
                    "shape": "S1k"
                }
            }
        },
        "S1a": {
            "type": "list",
            "member": {}
        },
        "S1c": {
            "type": "list",
            "member": {}
        },
        "S1e": {
            "type": "list",
            "member": {}
        },
        "S1i": {
            "type": "list",
            "member": {}
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S1v": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S1x": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S1z": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S18": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sb"
                },
                "eventTypeCodes": {
                    "shape": "S19"
                },
                "services": {
                    "shape": "S1b"
                },
                "regions": {
                    "shape": "S1d"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sg"
                },
                "endTimes": {
                    "shape": "Sg"
                },
                "lastUpdatedTimes": {
                    "shape": "Sg"
                },
                "entityArns": {
                    "shape": "Sc"
                },
                "entityValues": {
                    "shape": "Se"
                },
                "eventTypeCategories": {
                    "shape": "S1h"
                },
                "tags": {
                    "shape": "Sj"
                },
                "eventStatusCodes": {
                    "shape": "S1j"
                }
            }
        },
        "S1b": {
            "type": "list",
            "member": {}
        },
        "S1d": {
            "type": "list",
            "member": {}
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "S1u": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S1w": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S1y": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sa": {
            "type": "list",
            "member": {}
        },
        "Sd": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {
                "shape": "Sg"
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "shape": "Sj"
            }
        },
        "Sq": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "entityArn": {},
                    "eventArn": {},
                    "entityValue": {},
                    "entityUrl": {},
                    "awsAccountId": {},
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "statusCode": {},
                    "tags": {
                        "shape": "Sj"
                    }
                }
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "eventArn",
                "awsAccountId"
            ],
            "members": {
                "eventArn": {},
                "awsAccountId": {}
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "eventArns": {
                    "shape": "Sa"
                },
                "eventTypeCodes": {
                    "shape": "S18"
                },
                "services": {
                    "shape": "S1a"
                },
                "regions": {
                    "shape": "S1c"
                },
                "availabilityZones": {
                    "type": "list",
                    "member": {}
                },
                "startTimes": {
                    "shape": "Sf"
                },
                "endTimes": {
                    "shape": "Sf"
                },
                "lastUpdatedTimes": {
                    "shape": "Sf"
                },
                "entityArns": {
                    "shape": "Sb"
                },
                "entityValues": {
                    "shape": "Sd"
                },
                "eventTypeCategories": {
                    "shape": "S1g"
                },
                "tags": {
                    "shape": "Si"
                },
                "eventStatusCodes": {
                    "shape": "S1i"
                }
            }
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S1t": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {}
            }
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "S1l": {
            "type": "list",
            "member": {}
        },
        "S1n": {
            "type": "list",
            "member": {}
        },
        "S1p": {
            "type": "list",
            "member": {}
        },
        "S26": {
            "type": "structure",
            "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "availabilityZone": {},
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "lastUpdatedTime": {
                    "type": "timestamp"
                },
                "statusCode": {},
                "eventScopeCode": {}
            }
        },
        "S28": {
            "type": "structure",
            "members": {
                "latestDescription": {}
            }
        },
        "S2a": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}