{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-03-01",
        "endpointPrefix": "honeycode",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Honeycode",
        "serviceFullName": "Amazon Honeycode",
        "serviceId": "Honeycode",
        "signatureVersion": "v4",
        "signingName": "honeycode",
        "uid": "honeycode-2020-03-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "BatchCreateTableRows": {
            "http": {
                "requestUri": "/workbooks/{workbookId}/tables/{tableId}/rows/batchcreate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "tableId",
                    "rowsToCreate"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "tableId": {
                        "location": "uri",
                        "locationName": "tableId"
                    },
                    "rowsToCreate": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "batchItemId",
                                "cellsToCreate"
                            ],
                            "members": {
                                "batchItemId": {},
                                "cellsToCreate": {
                                    "shape": "S6"
                                }
                            }
                        }
                    },
                    "clientRequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workbookCursor",
                    "createdRows"
                ],
                "members": {
                    "workbookCursor": {
                        "type": "long"
                    },
                    "createdRows": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "failedBatchItems": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "BatchDeleteTableRows": {
            "http": {
                "requestUri": "/workbooks/{workbookId}/tables/{tableId}/rows/batchdelete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "tableId",
                    "rowIds"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "tableId": {
                        "location": "uri",
                        "locationName": "tableId"
                    },
                    "rowIds": {
                        "shape": "Sj"
                    },
                    "clientRequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workbookCursor"
                ],
                "members": {
                    "workbookCursor": {
                        "type": "long"
                    },
                    "failedBatchItems": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "BatchUpdateTableRows": {
            "http": {
                "requestUri": "/workbooks/{workbookId}/tables/{tableId}/rows/batchupdate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "tableId",
                    "rowsToUpdate"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "tableId": {
                        "location": "uri",
                        "locationName": "tableId"
                    },
                    "rowsToUpdate": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "rowId",
                                "cellsToUpdate"
                            ],
                            "members": {
                                "rowId": {},
                                "cellsToUpdate": {
                                    "shape": "S6"
                                }
                            }
                        }
                    },
                    "clientRequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workbookCursor"
                ],
                "members": {
                    "workbookCursor": {
                        "type": "long"
                    },
                    "failedBatchItems": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "BatchUpsertTableRows": {
            "http": {
                "requestUri": "/workbooks/{workbookId}/tables/{tableId}/rows/batchupsert"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "tableId",
                    "rowsToUpsert"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "tableId": {
                        "location": "uri",
                        "locationName": "tableId"
                    },
                    "rowsToUpsert": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "batchItemId",
                                "filter",
                                "cellsToUpdate"
                            ],
                            "members": {
                                "batchItemId": {},
                                "filter": {
                                    "shape": "Ss"
                                },
                                "cellsToUpdate": {
                                    "shape": "S6"
                                }
                            }
                        }
                    },
                    "clientRequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "rows",
                    "workbookCursor"
                ],
                "members": {
                    "rows": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "rowIds",
                                "upsertAction"
                            ],
                            "members": {
                                "rowIds": {
                                    "shape": "Sj"
                                },
                                "upsertAction": {}
                            }
                        }
                    },
                    "workbookCursor": {
                        "type": "long"
                    },
                    "failedBatchItems": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeTableDataImportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/workbooks/{workbookId}/tables/{tableId}/import/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "tableId",
                    "jobId"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "tableId": {
                        "location": "uri",
                        "locationName": "tableId"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobStatus",
                    "message",
                    "jobMetadata"
                ],
                "members": {
                    "jobStatus": {},
                    "message": {},
                    "jobMetadata": {
                        "type": "structure",
                        "required": [
                            "submitter",
                            "submitTime",
                            "importOptions",
                            "dataSource"
                        ],
                        "members": {
                            "submitter": {
                                "type": "structure",
                                "members": {
                                    "email": {
                                        "type": "string",
                                        "sensitive": true
                                    },
                                    "userArn": {}
                                }
                            },
                            "submitTime": {
                                "type": "timestamp"
                            },
                            "importOptions": {
                                "shape": "S18"
                            },
                            "dataSource": {
                                "shape": "S1i"
                            }
                        }
                    },
                    "errorCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetScreenData": {
            "http": {
                "requestUri": "/screendata"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "appId",
                    "screenId"
                ],
                "members": {
                    "workbookId": {},
                    "appId": {},
                    "screenId": {},
                    "variables": {
                        "shape": "S1n"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "results",
                    "workbookCursor"
                ],
                "members": {
                    "results": {
                        "type": "map",
                        "key": {
                            "shape": "S1v"
                        },
                        "value": {
                            "type": "structure",
                            "required": [
                                "headers",
                                "rows"
                            ],
                            "members": {
                                "headers": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "name",
                                            "format"
                                        ],
                                        "members": {
                                            "name": {
                                                "shape": "S1v"
                                            },
                                            "format": {}
                                        }
                                    }
                                },
                                "rows": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "dataItems"
                                        ],
                                        "members": {
                                            "rowId": {},
                                            "dataItems": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "overrideFormat": {},
                                                        "rawValue": {},
                                                        "formattedValue": {}
                                                    },
                                                    "sensitive": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "workbookCursor": {
                        "type": "long"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "InvokeScreenAutomation": {
            "http": {
                "requestUri": "/workbooks/{workbookId}/apps/{appId}/screens/{screenId}/automations/{automationId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "appId",
                    "screenId",
                    "screenAutomationId"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "screenId": {
                        "location": "uri",
                        "locationName": "screenId"
                    },
                    "screenAutomationId": {
                        "location": "uri",
                        "locationName": "automationId"
                    },
                    "variables": {
                        "shape": "S1n"
                    },
                    "rowId": {},
                    "clientRequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workbookCursor"
                ],
                "members": {
                    "workbookCursor": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListTableColumns": {
            "http": {
                "method": "GET",
                "requestUri": "/workbooks/{workbookId}/tables/{tableId}/columns"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "tableId"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "tableId": {
                        "location": "uri",
                        "locationName": "tableId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tableColumns"
                ],
                "members": {
                    "tableColumns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "tableColumnId": {},
                                "tableColumnName": {},
                                "format": {}
                            }
                        }
                    },
                    "nextToken": {},
                    "workbookCursor": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListTableRows": {
            "http": {
                "requestUri": "/workbooks/{workbookId}/tables/{tableId}/rows/list"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "tableId"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "tableId": {
                        "location": "uri",
                        "locationName": "tableId"
                    },
                    "rowIds": {
                        "shape": "Sj"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "columnIds",
                    "rows",
                    "workbookCursor"
                ],
                "members": {
                    "columnIds": {
                        "shape": "S2e"
                    },
                    "rows": {
                        "shape": "S2f"
                    },
                    "rowIdsNotFound": {
                        "shape": "Sj"
                    },
                    "nextToken": {},
                    "workbookCursor": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListTables": {
            "http": {
                "method": "GET",
                "requestUri": "/workbooks/{workbookId}/tables"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tables"
                ],
                "members": {
                    "tables": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "tableId": {},
                                "tableName": {}
                            }
                        }
                    },
                    "nextToken": {},
                    "workbookCursor": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S2s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "QueryTableRows": {
            "http": {
                "requestUri": "/workbooks/{workbookId}/tables/{tableId}/rows/query"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "tableId",
                    "filterFormula"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "tableId": {
                        "location": "uri",
                        "locationName": "tableId"
                    },
                    "filterFormula": {
                        "shape": "Ss"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "columnIds",
                    "rows",
                    "workbookCursor"
                ],
                "members": {
                    "columnIds": {
                        "shape": "S2e"
                    },
                    "rows": {
                        "shape": "S2f"
                    },
                    "nextToken": {},
                    "workbookCursor": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "StartTableDataImportJob": {
            "http": {
                "requestUri": "/workbooks/{workbookId}/tables/{tableId}/import"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workbookId",
                    "dataSource",
                    "dataFormat",
                    "destinationTableId",
                    "importOptions",
                    "clientRequestToken"
                ],
                "members": {
                    "workbookId": {
                        "location": "uri",
                        "locationName": "workbookId"
                    },
                    "dataSource": {
                        "shape": "S1i"
                    },
                    "dataFormat": {},
                    "destinationTableId": {
                        "location": "uri",
                        "locationName": "tableId"
                    },
                    "importOptions": {
                        "shape": "S18"
                    },
                    "clientRequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "jobStatus"
                ],
                "members": {
                    "jobId": {},
                    "jobStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S2s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "fact": {
                        "shape": "S8"
                    },
                    "facts": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    }
                }
            }
        },
        "S8": {
            "type": "string",
            "sensitive": true
        },
        "Sf": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "id",
                    "errorMessage"
                ],
                "members": {
                    "id": {},
                    "errorMessage": {}
                }
            }
        },
        "Sj": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "structure",
            "required": [
                "formula"
            ],
            "members": {
                "formula": {
                    "shape": "St"
                },
                "contextRowId": {}
            }
        },
        "St": {
            "type": "string",
            "sensitive": true
        },
        "S18": {
            "type": "structure",
            "members": {
                "destinationOptions": {
                    "type": "structure",
                    "members": {
                        "columnMap": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "type": "structure",
                                "members": {
                                    "columnIndex": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "delimitedTextOptions": {
                    "type": "structure",
                    "required": [
                        "delimiter"
                    ],
                    "members": {
                        "delimiter": {},
                        "hasHeaderRow": {
                            "type": "boolean"
                        },
                        "ignoreEmptyRows": {
                            "type": "boolean"
                        },
                        "dataCharacterEncoding": {}
                    }
                }
            }
        },
        "S1i": {
            "type": "structure",
            "required": [
                "dataSourceConfig"
            ],
            "members": {
                "dataSourceConfig": {
                    "type": "structure",
                    "members": {
                        "dataSourceUrl": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                }
            }
        },
        "S1n": {
            "type": "map",
            "key": {
                "type": "string",
                "sensitive": true
            },
            "value": {
                "type": "structure",
                "required": [
                    "rawValue"
                ],
                "members": {
                    "rawValue": {}
                },
                "sensitive": true
            },
            "sensitive": true
        },
        "S1v": {
            "type": "string",
            "sensitive": true
        },
        "S2e": {
            "type": "list",
            "member": {}
        },
        "S2f": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "rowId",
                    "cells"
                ],
                "members": {
                    "rowId": {},
                    "cells": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "formula": {
                                    "shape": "St"
                                },
                                "format": {},
                                "rawValue": {},
                                "formattedValue": {},
                                "formattedValues": {
                                    "type": "list",
                                    "member": {}
                                }
                            },
                            "sensitive": true
                        }
                    }
                }
            }
        },
        "S2s": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Se": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "id",
                    "errorMessage"
                ],
                "members": {
                    "id": {},
                    "errorMessage": {}
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "Sr": {
            "type": "structure",
            "required": [
                "formula"
            ],
            "members": {
                "formula": {
                    "shape": "Ss"
                },
                "contextRowId": {}
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "destinationOptions": {
                    "type": "structure",
                    "members": {
                        "columnMap": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "type": "structure",
                                "members": {
                                    "columnIndex": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "delimitedTextOptions": {
                    "type": "structure",
                    "required": [
                        "delimiter"
                    ],
                    "members": {
                        "delimiter": {},
                        "hasHeaderRow": {
                            "type": "boolean"
                        },
                        "ignoreEmptyRows": {
                            "type": "boolean"
                        },
                        "dataCharacterEncoding": {}
                    }
                }
            }
        },
        "S1h": {
            "type": "structure",
            "required": [
                "dataSourceConfig"
            ],
            "members": {
                "dataSourceConfig": {
                    "type": "structure",
                    "members": {
                        "dataSourceUrl": {}
                    }
                }
            }
        },
        "S1l": {
            "type": "map",
            "key": {
                "type": "string",
                "sensitive": true
            },
            "value": {
                "type": "structure",
                "required": [
                    "rawValue"
                ],
                "members": {
                    "rawValue": {}
                },
                "sensitive": true
            },
            "sensitive": true
        },
        "S1t": {
            "type": "string",
            "sensitive": true
        },
        "S2c": {
            "type": "list",
            "member": {}
        },
        "S2d": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "rowId",
                    "cells"
                ],
                "members": {
                    "rowId": {},
                    "cells": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "formula": {
                                    "shape": "Ss"
                                },
                                "format": {},
                                "rawValue": {},
                                "formattedValue": {}
                            },
                            "sensitive": true
                        }
                    }
                }
            }
        }
    }
}