{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-05-08",
        "endpointPrefix": "iam",
        "globalEndpoint": "iam.amazonaws.com",
        "protocol": "query",
        "serviceAbbreviation": "IAM",
        "serviceFullName": "AWS Identity and Access Management",
        "serviceId": "IAM",
        "signatureVersion": "v4",
        "uid": "iam-2010-05-08",
        "xmlNamespace": "https://iam.amazonaws.com/doc/2010-05-08/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
        ]
    },
    "operations": {
        "AddClientIDToOpenIDConnectProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "OpenIDConnectProviderArn",
                    "ClientID"
                ],
                "members": {
                    "OpenIDConnectProviderArn": {},
                    "ClientID": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "AddRoleToInstanceProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceProfileName",
                    "RoleName"
                ],
                "members": {
                    "InstanceProfileName": {},
                    "RoleName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "AddUserToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName",
                    "UserName"
                ],
                "members": {
                    "GroupName": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "AttachGroupPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName",
                    "PolicyArn"
                ],
                "members": {
                    "GroupName": {},
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "AttachRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleName",
                    "PolicyArn"
                ],
                "members": {
                    "RoleName": {},
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "AttachUserPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "PolicyArn"
                ],
                "members": {
                    "UserName": {},
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "ChangePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "OldPassword",
                    "NewPassword"
                ],
                "members": {
                    "OldPassword": {
                        "shape": "Sf"
                    },
                    "NewPassword": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateAccessKey": {
            "input": {
                "type": "structure",
                "members": {
                    "UserName": {},
                    "AccessKeySelector": {}
                }
            },
            "output": {
                "resultWrapper": "CreateAccessKeyResult",
                "type": "structure",
                "required": [
                    "AccessKey"
                ],
                "members": {
                    "AccessKey": {
                        "type": "structure",
                        "required": [
                            "UserName",
                            "AccessKeyId",
                            "Status",
                            "SecretAccessKey"
                        ],
                        "members": {
                            "UserName": {},
                            "AccessKeyId": {},
                            "Status": {},
                            "SecretAccessKey": {
                                "type": "string",
                                "sensitive": true
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateAccountAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountAlias"
                ],
                "members": {
                    "AccountAlias": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "Path": {},
                    "GroupName": {}
                }
            },
            "output": {
                "resultWrapper": "CreateGroupResult",
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateInstanceProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceProfileName"
                ],
                "members": {
                    "InstanceProfileName": {},
                    "Path": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateInstanceProfileResult",
                "type": "structure",
                "required": [
                    "InstanceProfile"
                ],
                "members": {
                    "InstanceProfile": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateLoginProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "Password"
                ],
                "members": {
                    "UserName": {},
                    "Password": {
                        "shape": "Sf"
                    },
                    "PasswordResetRequired": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateLoginProfileResult",
                "type": "structure",
                "required": [
                    "LoginProfile"
                ],
                "members": {
                    "LoginProfile": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateOpenIDConnectProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "Url",
                    "ThumbprintList"
                ],
                "members": {
                    "Url": {},
                    "ClientIDList": {
                        "shape": "S1g"
                    },
                    "ThumbprintList": {
                        "shape": "S1h"
                    },
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateOpenIDConnectProviderResult",
                "type": "structure",
                "members": {
                    "OpenIDConnectProviderArn": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreatePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyName",
                    "PolicyDocument"
                ],
                "members": {
                    "PolicyName": {},
                    "Path": {},
                    "PolicyDocument": {},
                    "Description": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreatePolicyResult",
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreatePolicyVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyArn",
                    "PolicyDocument"
                ],
                "members": {
                    "PolicyArn": {},
                    "PolicyDocument": {},
                    "SetAsDefault": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreatePolicyVersionResult",
                "type": "structure",
                "members": {
                    "PolicyVersion": {
                        "shape": "S1u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleName",
                    "AssumeRolePolicyDocument"
                ],
                "members": {
                    "Path": {},
                    "RoleName": {},
                    "AssumeRolePolicyDocument": {},
                    "Description": {},
                    "MaxSessionDuration": {
                        "type": "integer"
                    },
                    "PermissionsBoundary": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateRoleResult",
                "type": "structure",
                "required": [
                    "Role"
                ],
                "members": {
                    "Role": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateSAMLProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "SAMLMetadataDocument",
                    "Name"
                ],
                "members": {
                    "SAMLMetadataDocument": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sv"
                    },
                    "AssertionEncryptionMode": {},
                    "AddPrivateKey": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateSAMLProviderResult",
                "type": "structure",
                "members": {
                    "SAMLProviderArn": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName"
                ],
                "members": {
                    "AWSServiceName": {},
                    "Description": {},
                    "CustomSuffix": {}
                }
            },
            "output": {
                "resultWrapper": "CreateServiceLinkedRoleResult",
                "type": "structure",
                "members": {
                    "Role": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateServiceSpecificCredential": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "ServiceName"
                ],
                "members": {
                    "UserName": {},
                    "ServiceName": {}
                }
            },
            "output": {
                "resultWrapper": "CreateServiceSpecificCredentialResult",
                "type": "structure",
                "members": {
                    "ServiceSpecificCredential": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName"
                ],
                "members": {
                    "Path": {},
                    "UserName": {},
                    "PermissionsBoundary": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateUserResult",
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "S2d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateVirtualMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "VirtualMFADeviceName"
                ],
                "members": {
                    "Path": {},
                    "VirtualMFADeviceName": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateVirtualMFADeviceResult",
                "type": "structure",
                "required": [
                    "VirtualMFADevice"
                ],
                "members": {
                    "VirtualMFADevice": {
                        "shape": "S2h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeactivateMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "SerialNumber"
                ],
                "members": {
                    "UserName": {},
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteAccessKey": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyId"
                ],
                "members": {
                    "UserName": {},
                    "AccessKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteAccountAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountAlias"
                ],
                "members": {
                    "AccountAlias": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteAccountPasswordPolicy": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
[...]
