{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-05-08",
        "endpointPrefix": "iam",
        "globalEndpoint": "iam.amazonaws.com",
        "protocol": "query",
        "serviceAbbreviation": "IAM",
        "serviceFullName": "AWS Identity and Access Management",
        "serviceId": "IAM",
        "signatureVersion": "v4",
        "uid": "iam-2010-05-08",
        "xmlNamespace": "https://iam.amazonaws.com/doc/2010-05-08/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
            "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
        ]
    },
    "operations": {
        "AddClientIDToOpenIDConnectProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "OpenIDConnectProviderArn",
                    "ClientID"
                ],
                "members": {
                    "OpenIDConnectProviderArn": {},
                    "ClientID": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "AddRoleToInstanceProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceProfileName",
                    "RoleName"
                ],
                "members": {
                    "InstanceProfileName": {},
                    "RoleName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "AddUserToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName",
                    "UserName"
                ],
                "members": {
                    "GroupName": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "AttachGroupPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName",
                    "PolicyArn"
                ],
                "members": {
                    "GroupName": {},
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "AttachRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleName",
                    "PolicyArn"
                ],
                "members": {
                    "RoleName": {},
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "AttachUserPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "PolicyArn"
                ],
                "members": {
                    "UserName": {},
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ChangePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "OldPassword",
                    "NewPassword"
                ],
                "members": {
                    "OldPassword": {
                        "shape": "Sf"
                    },
                    "NewPassword": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateAccessKey": {
            "input": {
                "type": "structure",
                "members": {
                    "UserName": {},
                    "AccessKeySelector": {}
                }
            },
            "output": {
                "resultWrapper": "CreateAccessKeyResult",
                "type": "structure",
                "required": [
                    "AccessKey"
                ],
                "members": {
                    "AccessKey": {
                        "type": "structure",
                        "required": [
                            "UserName",
                            "AccessKeyId",
                            "Status",
                            "SecretAccessKey"
                        ],
                        "members": {
                            "UserName": {},
                            "AccessKeyId": {},
                            "Status": {},
                            "SecretAccessKey": {
                                "type": "string",
                                "sensitive": true
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateAccountAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountAlias"
                ],
                "members": {
                    "AccountAlias": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "Path": {},
                    "GroupName": {}
                }
            },
            "output": {
                "resultWrapper": "CreateGroupResult",
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateInstanceProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceProfileName"
                ],
                "members": {
                    "InstanceProfileName": {},
                    "Path": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateInstanceProfileResult",
                "type": "structure",
                "required": [
                    "InstanceProfile"
                ],
                "members": {
                    "InstanceProfile": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateLoginProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "Password"
                ],
                "members": {
                    "UserName": {},
                    "Password": {
                        "shape": "Sf"
                    },
                    "PasswordResetRequired": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateLoginProfileResult",
                "type": "structure",
                "required": [
                    "LoginProfile"
                ],
                "members": {
                    "LoginProfile": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateOpenIDConnectProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "Url",
                    "ThumbprintList"
                ],
                "members": {
                    "Url": {},
                    "ClientIDList": {
                        "shape": "S1g"
                    },
                    "ThumbprintList": {
                        "shape": "S1h"
                    },
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateOpenIDConnectProviderResult",
                "type": "structure",
                "members": {
                    "OpenIDConnectProviderArn": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreatePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyName",
                    "PolicyDocument"
                ],
                "members": {
                    "PolicyName": {},
                    "Path": {},
                    "PolicyDocument": {},
                    "Description": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreatePolicyResult",
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreatePolicyVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyArn",
                    "PolicyDocument"
                ],
                "members": {
                    "PolicyArn": {},
                    "PolicyDocument": {},
                    "SetAsDefault": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreatePolicyVersionResult",
                "type": "structure",
                "members": {
                    "PolicyVersion": {
                        "shape": "S1u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleName",
                    "AssumeRolePolicyDocument"
                ],
                "members": {
                    "Path": {},
                    "RoleName": {},
                    "AssumeRolePolicyDocument": {},
                    "Description": {},
                    "MaxSessionDuration": {
                        "type": "integer"
                    },
                    "PermissionsBoundary": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateRoleResult",
                "type": "structure",
                "required": [
                    "Role"
                ],
                "members": {
                    "Role": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateSAMLProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "SAMLMetadataDocument",
                    "Name"
                ],
                "members": {
                    "SAMLMetadataDocument": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateSAMLProviderResult",
                "type": "structure",
                "members": {
                    "SAMLProviderArn": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName"
                ],
                "members": {
                    "AWSServiceName": {},
                    "Description": {},
                    "CustomSuffix": {}
                }
            },
            "output": {
                "resultWrapper": "CreateServiceLinkedRoleResult",
                "type": "structure",
                "members": {
                    "Role": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateServiceSpecificCredential": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "ServiceName"
                ],
                "members": {
                    "UserName": {},
                    "ServiceName": {}
                }
            },
            "output": {
                "resultWrapper": "CreateServiceSpecificCredentialResult",
                "type": "structure",
                "members": {
                    "ServiceSpecificCredential": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName"
                ],
                "members": {
                    "Path": {},
                    "UserName": {},
                    "PermissionsBoundary": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateUserResult",
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "S2d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateVirtualMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "VirtualMFADeviceName"
                ],
                "members": {
                    "Path": {},
                    "VirtualMFADeviceName": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateVirtualMFADeviceResult",
                "type": "structure",
                "required": [
                    "VirtualMFADevice"
                ],
                "members": {
                    "VirtualMFADevice": {
                        "shape": "S2h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeactivateMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "SerialNumber"
                ],
                "members": {
                    "UserName": {},
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteAccessKey": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyId"
                ],
                "members": {
                    "UserName": {},
                    "AccessKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteAccountAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountAlias"
                ],
                "members": {
                    "AccountAlias": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteAccountPasswordPolicy": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PCK7EN3TGXLY7W5EHIRA42AK3ZINNQM772P7KG3P2HUCQGKXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPHVFBODW6GRDLWL56IOSVJHVKQZQI34ZFTJUQKCZXW2UIAKMT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
[...]
