{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-05-08",
        "endpointPrefix": "iam",
        "globalEndpoint": "iam.amazonaws.com",
        "protocol": "query",
        "serviceAbbreviation": "IAM",
        "serviceFullName": "AWS Identity and Access Management",
        "serviceId": "IAM",
        "signatureVersion": "v4",
        "uid": "iam-2010-05-08",
        "xmlNamespace": "https://iam.amazonaws.com/doc/2010-05-08/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
        ]
    },
    "operations": {
        "AddClientIDToOpenIDConnectProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "OpenIDConnectProviderArn",
                    "ClientID"
                ],
                "members": {
                    "OpenIDConnectProviderArn": {},
                    "ClientID": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "AddRoleToInstanceProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceProfileName",
                    "RoleName"
                ],
                "members": {
                    "InstanceProfileName": {},
                    "RoleName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "AddUserToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName",
                    "UserName"
                ],
                "members": {
                    "GroupName": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "AttachGroupPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName",
                    "PolicyArn"
                ],
                "members": {
                    "GroupName": {},
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "AttachRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleName",
                    "PolicyArn"
                ],
                "members": {
                    "RoleName": {},
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "AttachUserPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "PolicyArn"
                ],
                "members": {
                    "UserName": {},
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ChangePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "OldPassword",
                    "NewPassword"
                ],
                "members": {
                    "OldPassword": {
                        "shape": "Sf"
                    },
                    "NewPassword": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateAccessKey": {
            "input": {
                "type": "structure",
                "members": {
                    "UserName": {},
                    "AccessKeySelector": {}
                }
            },
            "output": {
                "resultWrapper": "CreateAccessKeyResult",
                "type": "structure",
                "required": [
                    "AccessKey"
                ],
                "members": {
                    "AccessKey": {
                        "type": "structure",
                        "required": [
                            "UserName",
                            "AccessKeyId",
                            "Status",
                            "SecretAccessKey"
                        ],
                        "members": {
                            "UserName": {},
                            "AccessKeyId": {},
                            "Status": {},
                            "SecretAccessKey": {
                                "type": "string",
                                "sensitive": true
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateAccountAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountAlias"
                ],
                "members": {
                    "AccountAlias": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "Path": {},
                    "GroupName": {}
                }
            },
            "output": {
                "resultWrapper": "CreateGroupResult",
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateInstanceProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceProfileName"
                ],
                "members": {
                    "InstanceProfileName": {},
                    "Path": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateInstanceProfileResult",
                "type": "structure",
                "required": [
                    "InstanceProfile"
                ],
                "members": {
                    "InstanceProfile": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateLoginProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "Password"
                ],
                "members": {
                    "UserName": {},
                    "Password": {
                        "shape": "Sf"
                    },
                    "PasswordResetRequired": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateLoginProfileResult",
                "type": "structure",
                "required": [
                    "LoginProfile"
                ],
                "members": {
                    "LoginProfile": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateOpenIDConnectProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "Url",
                    "ThumbprintList"
                ],
                "members": {
                    "Url": {},
                    "ClientIDList": {
                        "shape": "S1g"
                    },
                    "ThumbprintList": {
                        "shape": "S1h"
                    },
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateOpenIDConnectProviderResult",
                "type": "structure",
                "members": {
                    "OpenIDConnectProviderArn": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreatePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyName",
                    "PolicyDocument"
                ],
                "members": {
                    "PolicyName": {},
                    "Path": {},
                    "PolicyDocument": {},
                    "Description": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreatePolicyResult",
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreatePolicyVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyArn",
                    "PolicyDocument"
                ],
                "members": {
                    "PolicyArn": {},
                    "PolicyDocument": {},
                    "SetAsDefault": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreatePolicyVersionResult",
                "type": "structure",
                "members": {
                    "PolicyVersion": {
                        "shape": "S1u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleName",
                    "AssumeRolePolicyDocument"
                ],
                "members": {
                    "Path": {},
                    "RoleName": {},
                    "AssumeRolePolicyDocument": {},
                    "Description": {},
                    "MaxSessionDuration": {
                        "type": "integer"
                    },
                    "PermissionsBoundary": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateRoleResult",
                "type": "structure",
                "required": [
                    "Role"
                ],
                "members": {
                    "Role": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateSAMLProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "SAMLMetadataDocument",
                    "Name"
                ],
                "members": {
                    "SAMLMetadataDocument": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sv"
                    },
                    "AssertionEncryptionMode": {},
                    "AddPrivateKey": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateSAMLProviderResult",
                "type": "structure",
                "members": {
                    "SAMLProviderArn": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName"
                ],
                "members": {
                    "AWSServiceName": {},
                    "Description": {},
                    "CustomSuffix": {}
                }
            },
            "output": {
                "resultWrapper": "CreateServiceLinkedRoleResult",
                "type": "structure",
                "members": {
                    "Role": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateServiceSpecificCredential": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "ServiceName"
                ],
                "members": {
                    "UserName": {},
                    "ServiceName": {},
                    "CredentialAgeDays": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateServiceSpecificCredentialResult",
                "type": "structure",
                "members": {
                    "ServiceSpecificCredential": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName"
                ],
                "members": {
                    "Path": {},
                    "UserName": {},
                    "PermissionsBoundary": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateUserResult",
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "S2d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateVirtualMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "VirtualMFADeviceName"
                ],
                "members": {
                    "Path": {},
                    "VirtualMFADeviceName": {},
                    "Tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateVirtualMFADeviceResult",
                "type": "structure",
                "required": [
                    "VirtualMFADevice"
                ],
                "members": {
                    "VirtualMFADevice": {
                        "shape": "S2h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeactivateMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "SerialNumber"
                ],
                "members": {
                    "UserName": {},
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteAccessKey": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyId"
                ],
                "members": {
                    "UserName": {},
                    "AccessKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteAccountAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountAlias"
                ],
                "members": {
                    "AccountAlias": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteAccountPasswordPolicy": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3S3HT2UWHODRIAF37W65JQGFD6LAMUQYWRKLN4PJFU4BTJ432QGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
[...]
