{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-05-08",
        "endpointPrefix": "iam",
        "globalEndpoint": "iam.amazonaws.com",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "IAM",
        "serviceFullName": "AWS Identity and Access Management",
        "serviceId": "IAM",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityManagementV20100508",
        "uid": "iam-2010-05-08",
        "download_location": [
            "https://d3gz1r5kdm6nwl.cloudfront.net/1710183123995/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
        ]
    },
    "operations": {
        "AddClientIDToOpenIDConnectProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "OpenIDConnectProviderArn",
                    "ClientID"
                ],
                "members": {
                    "OpenIDConnectProviderArn": {},
                    "ClientID": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "AddRoleToInstanceProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceProfileName",
                    "RoleName"
                ],
                "members": {
                    "InstanceProfileName": {},
                    "RoleName": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "AddUserToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName",
                    "UserName"
                ],
                "members": {
                    "GroupName": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "AttachGroupPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName",
                    "PolicyArn"
                ],
                "members": {
                    "GroupName": {},
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "AttachRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleName",
                    "PolicyArn"
                ],
                "members": {
                    "RoleName": {},
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "AttachUserPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "PolicyArn"
                ],
                "members": {
                    "UserName": {},
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "ChangePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "OldPassword",
                    "NewPassword"
                ],
                "members": {
                    "OldPassword": {
                        "shape": "Sf"
                    },
                    "NewPassword": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateAccessKey": {
            "input": {
                "type": "structure",
                "members": {
                    "UserName": {},
                    "AccessKeySelector": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccessKey"
                ],
                "members": {
                    "AccessKey": {
                        "type": "structure",
                        "required": [
                            "UserName",
                            "AccessKeyId",
                            "Status",
                            "SecretAccessKey"
                        ],
                        "members": {
                            "UserName": {},
                            "AccessKeyId": {},
                            "Status": {},
                            "SecretAccessKey": {
                                "type": "string",
                                "sensitive": true
                            },
                            "AccessKeySelector": {},
                            "CreateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateAccountAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountAlias"
                ],
                "members": {
                    "AccountAlias": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "Path": {},
                    "GroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateInstanceProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceProfileName"
                ],
                "members": {
                    "InstanceProfileName": {},
                    "Path": {},
                    "Tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceProfile"
                ],
                "members": {
                    "InstanceProfile": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateLoginProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "Password"
                ],
                "members": {
                    "UserName": {},
                    "Password": {
                        "shape": "Sf"
                    },
                    "PasswordResetRequired": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LoginProfile"
                ],
                "members": {
                    "LoginProfile": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateOpenIDConnectProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "Url",
                    "ThumbprintList"
                ],
                "members": {
                    "Url": {},
                    "ClientIDList": {
                        "shape": "S1h"
                    },
                    "ThumbprintList": {
                        "shape": "S1i"
                    },
                    "Tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OpenIDConnectProviderArn": {},
                    "Tags": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreatePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyName",
                    "PolicyDocument"
                ],
                "members": {
                    "PolicyName": {},
                    "Path": {},
                    "PolicyDocument": {},
                    "Description": {},
                    "Tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreatePolicyVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyArn",
                    "PolicyDocument"
                ],
                "members": {
                    "PolicyArn": {},
                    "PolicyDocument": {},
                    "SetAsDefault": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyVersion": {
                        "shape": "S1v"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleName",
                    "AssumeRolePolicyDocument"
                ],
                "members": {
                    "Path": {},
                    "RoleName": {},
                    "AssumeRolePolicyDocument": {},
                    "Description": {},
                    "MaxSessionDuration": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "Sw"
                    },
                    "PermissionsBoundary": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Role"
                ],
                "members": {
                    "Role": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateSAMLProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "SAMLMetadataDocument",
                    "Name"
                ],
                "members": {
                    "SAMLMetadataDocument": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SAMLProviderArn": {},
                    "Tags": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName"
                ],
                "members": {
                    "AWSServiceName": {},
                    "Description": {},
                    "CustomSuffix": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Role": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateServiceSpecificCredential": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceName"
                ],
                "members": {
                    "UserName": {},
                    "ServiceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceSpecificCredential": {
                        "shape": "S28"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName"
                ],
                "members": {
                    "Path": {},
                    "UserName": {},
                    "Tags": {
                        "shape": "Sw"
                    },
                    "PermissionsBoundary": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateVirtualMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "VirtualMFADeviceName"
                ],
                "members": {
                    "Path": {},
                    "VirtualMFADeviceName": {},
                    "Tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VirtualMFADevice"
                ],
                "members": {
                    "VirtualMFADevice": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeactivateMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "SerialNumber"
                ],
                "members": {
                    "UserName": {},
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteAccessKey": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyId"
                ],
                "members": {
                    "UserName": {},
                    "AccessKeyId": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteAccountAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountAlias"
                ],
                "members": {
                    "AccountAlias": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteAccountPasswordPolicy": {
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteGroupPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName",
                    "PolicyName"
                ],
                "members": {
                    "GroupName": {},
                    "PolicyName": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteInstanceProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceProfileName"
                ],
                "members": {
                    "InstanceProfileName": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteLoginProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName"
                ],
                "members": {
                    "UserName": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteOpenIDConnectProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "OpenIDConnectProviderArn"
                ],
                "members": {
                    "OpenIDConnectProviderArn": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyArn"
                ],
                "members": {
                    "PolicyArn": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeletePolicyVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyArn",
                    "VersionId"
                ],
                "members": {
                    "PolicyArn": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleName"
                ],
                "members": {
                    "RoleName": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteRolePermissionsBoundary": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleName"
                ],
                "members": {
                    "RoleName": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleName",
                    "PolicyName"
                ],
                "members": {
                    "RoleName": {},
                    "PolicyName": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteSAMLProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "SAMLProviderArn"
                ],
                "members": {
                    "SAMLProviderArn": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteSSHPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "SSHPublicKeyId"
                ],
                "members": {
                    "UserName": {},
                    "SSHPublicKeyId": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteServerCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerCertificateName"
                ],
                "members": {
                    "ServerCertificateName": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleName"
                ],
                "members": {
                    "RoleName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeletionTaskId"
                ],
                "members": {
                    "DeletionTaskId": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
[...]
