{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-05-08",
        "endpointPrefix": "iamadmin",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS IAMAdmin",
        "serviceFullName": "AWS Identity Management Admin Service",
        "serviceId": "IAMAdmin",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityManagementAdminService",
        "uid": "iamadmin-2010-05-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/2c74cbbe-dd6f-4621-9001-3f1ec25108f0/vendorv3.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NBKOZNE577QLIZNRICEVLCN436QW72FHY4B2KJKWX3N45F7QMQAA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VYQQAWTWQZSFBVF2VF5S72OWCQAA35T5QJJ3HVJ4HYMOYDF56SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/5fc20c4b-ac64-43d8-9fd9-95b3f10b26c9/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNCD5PT73D2DH57ZJYUGSGSNCVLHRH3BG6HBUGC5A5FP6YPMGYEA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/00f999e1-c081-4edd-a6c7-b2e49a08fb38/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GUFF7JOZB2XMB7HCKYQDRRM3NZ46VNDTPCUU2Z4XAHJSGKU2XKBQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
        ]
    },
    "operations": {
        "AttachServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "AmazonManagedPolicyArn"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "AmazonManagedPolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2c74cbbe-dd6f-4621-9001-3f1ec25108f0/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBKOZNE577QLIZNRICEVLCN436QW72FHY4B2KJKWX3N45F7QMQAA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VYQQAWTWQZSFBVF2VF5S72OWCQAA35T5QJJ3HVJ4HYMOYDF56SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5fc20c4b-ac64-43d8-9fd9-95b3f10b26c9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCD5PT73D2DH57ZJYUGSGSNCVLHRH3BG6HBUGC5A5FP6YPMGYEA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/00f999e1-c081-4edd-a6c7-b2e49a08fb38/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUFF7JOZB2XMB7HCKYQDRRM3NZ46VNDTPCUU2Z4XAHJSGKU2XKBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "CreatePolicyForServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyArn"
                ],
                "members": {
                    "PolicyArn": {},
                    "PolicyDocument": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2c74cbbe-dd6f-4621-9001-3f1ec25108f0/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBKOZNE577QLIZNRICEVLCN436QW72FHY4B2KJKWX3N45F7QMQAA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VYQQAWTWQZSFBVF2VF5S72OWCQAA35T5QJJ3HVJ4HYMOYDF56SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5fc20c4b-ac64-43d8-9fd9-95b3f10b26c9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCD5PT73D2DH57ZJYUGSGSNCVLHRH3BG6HBUGC5A5FP6YPMGYEA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/00f999e1-c081-4edd-a6c7-b2e49a08fb38/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUFF7JOZB2XMB7HCKYQDRRM3NZ46VNDTPCUU2Z4XAHJSGKU2XKBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "CreateServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "RoleDescription": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "TrustPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "TrustPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "AmazonManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Role"
                ],
                "members": {
                    "Role": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2c74cbbe-dd6f-4621-9001-3f1ec25108f0/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBKOZNE577QLIZNRICEVLCN436QW72FHY4B2KJKWX3N45F7QMQAA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VYQQAWTWQZSFBVF2VF5S72OWCQAA35T5QJJ3HVJ4HYMOYDF56SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5fc20c4b-ac64-43d8-9fd9-95b3f10b26c9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCD5PT73D2DH57ZJYUGSGSNCVLHRH3BG6HBUGC5A5FP6YPMGYEA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/00f999e1-c081-4edd-a6c7-b2e49a08fb38/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUFF7JOZB2XMB7HCKYQDRRM3NZ46VNDTPCUU2Z4XAHJSGKU2XKBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "ListRolesByPrincipal": {
            "input": {
                "type": "structure",
                "required": [
                    "AuthorizedPrincipal"
                ],
                "members": {
                    "PathPrefix": {},
                    "Marker": {},
                    "AuthorizedPrincipal": {
                        "type": "structure",
                        "required": [
                            "providerType",
                            "principalReference"
                        ],
                        "members": {
                            "providerType": {},
                            "principalReference": {},
                            "principalName": {},
                            "principalId": {},
                            "tags": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Key",
                                        "Value"
                                    ],
                                    "members": {
                                        "Key": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Roles"
                ],
                "members": {
                    "Roles": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "IsTruncated": {
                        "type": "boolean"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2c74cbbe-dd6f-4621-9001-3f1ec25108f0/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBKOZNE577QLIZNRICEVLCN436QW72FHY4B2KJKWX3N45F7QMQAA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VYQQAWTWQZSFBVF2VF5S72OWCQAA35T5QJJ3HVJ4HYMOYDF56SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5fc20c4b-ac64-43d8-9fd9-95b3f10b26c9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCD5PT73D2DH57ZJYUGSGSNCVLHRH3BG6HBUGC5A5FP6YPMGYEA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/00f999e1-c081-4edd-a6c7-b2e49a08fb38/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUFF7JOZB2XMB7HCKYQDRRM3NZ46VNDTPCUU2Z4XAHJSGKU2XKBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "UpdateServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyVersion"
                ],
                "members": {
                    "PolicyVersion": {
                        "type": "structure",
                        "members": {
                            "Document": {},
                            "VersionId": {},
                            "IsDefaultVersion": {
                                "type": "boolean"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2c74cbbe-dd6f-4621-9001-3f1ec25108f0/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBKOZNE577QLIZNRICEVLCN436QW72FHY4B2KJKWX3N45F7QMQAA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VYQQAWTWQZSFBVF2VF5S72OWCQAA35T5QJJ3HVJ4HYMOYDF56SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5fc20c4b-ac64-43d8-9fd9-95b3f10b26c9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCD5PT73D2DH57ZJYUGSGSNCVLHRH3BG6HBUGC5A5FP6YPMGYEA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/00f999e1-c081-4edd-a6c7-b2e49a08fb38/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUFF7JOZB2XMB7HCKYQDRRM3NZ46VNDTPCUU2Z4XAHJSGKU2XKBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "CreateServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "InlinePolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "Description": {},
                    "CustomSuffix": {},
                    "InlinePolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Role": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "GetGroupMembershipCounts": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "integer"
                        }
                    },
                    "ErrorMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "ErrorCode": {
                                        "type": "integer"
                                    },
                                    "ErrorMessage": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "PutServiceLinkedRoleInlinePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "RoleName",
                    "PolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "BatchGetRoleLastUsed": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleNames"
                ],
                "members": {
                    "RoleNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "LastUsedDate": {
                                    "type": "timestamp"
                                },
                                "Region": {}
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "BeginRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias"
                ],
                "members": {
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "BeginWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "DeactivateRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber"
                ],
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "DeleteRSAPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "PublicKeyId"
                ],
                "members": {
                    "PublicKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "EnableRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber",
                    "AuthenticationCode1",
                    "AuthenticationCode2"
                ],
                "members": {
                    "SerialNumber": {},
                    "AuthenticationCode1": {},
                    "AuthenticationCode2": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "FinalizeRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "FinalizeWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "GetAccountEmailAddress": {
            "output": {
                "type": "structure",
                "members": {
                    "EmailAddress": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "GetAccountName": {
            "output": {
                "type": "structure",
                "members": {
                    "AccountName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "GetLoginProfilesForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "UserName",
                                "CreateDate"
                            ],
                            "members": {
                                "UserName": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "PasswordResetRequired": {
                                    "type": "boolean"
                                },
                                "LastPasswordChange": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "ListAccessKeyLastUsedForMultipleAccessKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyIds"
                ],
                "members": {
                    "AccessKeyIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "UserName": {},
                                "AccessKeyLastUsed": {
                                    "type": "structure",
                                    "required": [
                                        "LastUsedDate",
                                        "ServiceName",
                                        "Region"
                                    ],
                                    "members": {
                                        "LastUsedDate": {
                                            "type": "timestamp"
                                        },
                                        "ServiceName": {},
                                        "Region": {}
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "ListAccessKeysForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "UserName",
                                    "AccessKeyId",
                                    "Status",
                                    "CreateDate"
                                ],
                                "members": {
                                    "UserName": {},
                                    "AccessKeyId": {},
                                    "Status": {},
                                    "CreateDate": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "ListAttachedPoliciesForGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "shape": "S1v"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "ListAttachedPoliciesForUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js"
            ]
        },
        "ListDescriptionsForPolicies": {
            "input": {
                "type": "structure",
                "members": {
                    "PolicyArns": {
                        "type": "list",
                        "member": {}
                    },
                    "SystemPolicies": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyDescriptions": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
[...]
