{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-05-08",
        "endpointPrefix": "iamadmin",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS IAMAdmin",
        "serviceFullName": "AWS Identity Management Admin Service",
        "serviceId": "IAMAdmin",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityManagementAdminService",
        "uid": "iamadmin-2010-05-08",
        "download_location": [
            "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FBRFIVRFVYOJMB6DISLDMQ3RAVYGGFKPB5TJXOC6LKUWU6TQP7Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2SMBSZAVUJW3VAOMCA2DRUF6UJO2BV466CNUCE722337ULE4YGFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z62GTF7CNVH6446XS6Q233HEGP2WYIT2TTGL5XLP5E24X4NIPX2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js"
        ]
    },
    "operations": {
        "AttachServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "AmazonManagedPolicyArn"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "AmazonManagedPolicyArn": {}
                }
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FBRFIVRFVYOJMB6DISLDMQ3RAVYGGFKPB5TJXOC6LKUWU6TQP7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SMBSZAVUJW3VAOMCA2DRUF6UJO2BV466CNUCE722337ULE4YGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z62GTF7CNVH6446XS6Q233HEGP2WYIT2TTGL5XLP5E24X4NIPX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js"
            ]
        },
        "CreatePolicyForServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyArn"
                ],
                "members": {
                    "PolicyArn": {},
                    "PolicyDocument": {}
                }
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FBRFIVRFVYOJMB6DISLDMQ3RAVYGGFKPB5TJXOC6LKUWU6TQP7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SMBSZAVUJW3VAOMCA2DRUF6UJO2BV466CNUCE722337ULE4YGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z62GTF7CNVH6446XS6Q233HEGP2WYIT2TTGL5XLP5E24X4NIPX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js"
            ]
        },
        "CreateServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "RoleDescription": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "TrustPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "TrustPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "AmazonManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Role"
                ],
                "members": {
                    "Role": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FBRFIVRFVYOJMB6DISLDMQ3RAVYGGFKPB5TJXOC6LKUWU6TQP7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SMBSZAVUJW3VAOMCA2DRUF6UJO2BV466CNUCE722337ULE4YGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z62GTF7CNVH6446XS6Q233HEGP2WYIT2TTGL5XLP5E24X4NIPX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js"
            ]
        },
        "ListRolesByPrincipal": {
            "input": {
                "type": "structure",
                "required": [
                    "AuthorizedPrincipal"
                ],
                "members": {
                    "PathPrefix": {},
                    "Marker": {},
                    "AuthorizedPrincipal": {
                        "type": "structure",
                        "required": [
                            "providerType",
                            "principalReference"
                        ],
                        "members": {
                            "providerType": {},
                            "principalReference": {},
                            "principalName": {},
                            "principalId": {},
                            "tags": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Key",
                                        "Value"
                                    ],
                                    "members": {
                                        "Key": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Roles"
                ],
                "members": {
                    "Roles": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "IsTruncated": {
                        "type": "boolean"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FBRFIVRFVYOJMB6DISLDMQ3RAVYGGFKPB5TJXOC6LKUWU6TQP7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SMBSZAVUJW3VAOMCA2DRUF6UJO2BV466CNUCE722337ULE4YGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z62GTF7CNVH6446XS6Q233HEGP2WYIT2TTGL5XLP5E24X4NIPX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js"
            ]
        },
        "UpdateServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyVersion"
                ],
                "members": {
                    "PolicyVersion": {
                        "type": "structure",
                        "members": {
                            "Document": {},
                            "VersionId": {},
                            "IsDefaultVersion": {
                                "type": "boolean"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FBRFIVRFVYOJMB6DISLDMQ3RAVYGGFKPB5TJXOC6LKUWU6TQP7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SMBSZAVUJW3VAOMCA2DRUF6UJO2BV466CNUCE722337ULE4YGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z62GTF7CNVH6446XS6Q233HEGP2WYIT2TTGL5XLP5E24X4NIPX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js"
            ]
        },
        "CreateServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "InlinePolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "Description": {},
                    "CustomSuffix": {},
                    "InlinePolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Role": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVW23U4CG2HKCLEPGWAKZN5ZVFOB42L2SPO5N7YE6OUKTHZCGFPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z62GTF7CNVH6446XS6Q233HEGP2WYIT2TTGL5XLP5E24X4NIPX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js"
            ]
        },
        "GetGroupMembershipCounts": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "integer"
                        }
                    },
                    "ErrorMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "ErrorCode": {
                                        "type": "integer"
                                    },
                                    "ErrorMessage": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVW23U4CG2HKCLEPGWAKZN5ZVFOB42L2SPO5N7YE6OUKTHZCGFPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z62GTF7CNVH6446XS6Q233HEGP2WYIT2TTGL5XLP5E24X4NIPX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js"
            ]
        },
        "PutServiceLinkedRoleInlinePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "RoleName",
                    "PolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVW23U4CG2HKCLEPGWAKZN5ZVFOB42L2SPO5N7YE6OUKTHZCGFPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z62GTF7CNVH6446XS6Q233HEGP2WYIT2TTGL5XLP5E24X4NIPX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sd": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "Sk": {
            "type": "structure",
            "required": [
                "Path",
                "RoleName",
                "RoleId",
                "Arn",
                "CreateDate"
            ],
            "members": {
                "Path": {},
                "RoleName": {},
                "RoleId": {},
                "Arn": {},
                "CreateDate": {
                    "type": "timestamp"
                },
                "AssumeRolePolicyDocument": {},
                "PermissionsBoundary": {
                    "type": "structure",
                    "members": {
                        "PermissionsBoundaryType": {},
                        "PermissionsBoundaryArn": {}
                    }
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "Path",
                "RoleName",
                "RoleId",
                "Arn",
                "CreateDate"
            ],
            "members": {
                "Path": {},
                "RoleName": {},
                "RoleId": {},
                "Arn": {},
                "CreateDate": {
                    "type": "timestamp"
                },
                "AssumeRolePolicyDocument": {},
                "PermissionsBoundary": {
                    "type": "structure",
                    "members": {
                        "PermissionsBoundaryType": {},
                        "PermissionsBoundaryArn": {}
                    }
                }
            }
        }
    }
}