{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-05-08",
        "endpointPrefix": "iamadmin",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS IAMAdmin",
        "serviceFullName": "AWS Identity Management Admin Service",
        "serviceId": "IAMAdmin",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityManagementAdminService",
        "uid": "iamadmin-2010-05-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RIXHDXPHVVNCOP2WLLTFRYFEJSLNHDKXTMFZG34DB3FG5U4IVHXQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIXHDXPHVVNCOP2WLLTFRYFEJSLNHDKXTMFZG34DB3FG5U4IVHXQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.js"
        ]
    },
    "operations": {
        "AttachServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "AmazonManagedPolicyArn"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "AmazonManagedPolicyArn": {}
                }
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIXHDXPHVVNCOP2WLLTFRYFEJSLNHDKXTMFZG34DB3FG5U4IVHXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIXHDXPHVVNCOP2WLLTFRYFEJSLNHDKXTMFZG34DB3FG5U4IVHXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.js"
            ]
        },
        "CreatePolicyForServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyArn"
                ],
                "members": {
                    "PolicyArn": {},
                    "PolicyDocument": {}
                }
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIXHDXPHVVNCOP2WLLTFRYFEJSLNHDKXTMFZG34DB3FG5U4IVHXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIXHDXPHVVNCOP2WLLTFRYFEJSLNHDKXTMFZG34DB3FG5U4IVHXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.js"
            ]
        },
        "CreateServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "RoleDescription": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "TrustPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "TrustPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "AmazonManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Role"
                ],
                "members": {
                    "Role": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIXHDXPHVVNCOP2WLLTFRYFEJSLNHDKXTMFZG34DB3FG5U4IVHXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIXHDXPHVVNCOP2WLLTFRYFEJSLNHDKXTMFZG34DB3FG5U4IVHXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.js"
            ]
        },
        "ListRolesByPrincipal": {
            "input": {
                "type": "structure",
                "required": [
                    "AuthorizedPrincipal"
                ],
                "members": {
                    "PathPrefix": {},
                    "Marker": {},
                    "AuthorizedPrincipal": {
                        "type": "structure",
                        "required": [
                            "providerType",
                            "principalReference"
                        ],
                        "members": {
                            "providerType": {},
                            "principalReference": {},
                            "principalName": {},
                            "principalId": {},
                            "tags": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Key",
                                        "Value"
                                    ],
                                    "members": {
                                        "Key": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Roles"
                ],
                "members": {
                    "Roles": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "IsTruncated": {
                        "type": "boolean"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIXHDXPHVVNCOP2WLLTFRYFEJSLNHDKXTMFZG34DB3FG5U4IVHXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIXHDXPHVVNCOP2WLLTFRYFEJSLNHDKXTMFZG34DB3FG5U4IVHXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.js"
            ]
        },
        "UpdateServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyVersion"
                ],
                "members": {
                    "PolicyVersion": {
                        "type": "structure",
                        "members": {
                            "Document": {},
                            "VersionId": {},
                            "IsDefaultVersion": {
                                "type": "boolean"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7db31fa5-50e0-4e5c-a724-7885fc6a9674/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/076f25fe-180a-4d32-9a9b-edb3f3053933/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIXHDXPHVVNCOP2WLLTFRYFEJSLNHDKXTMFZG34DB3FG5U4IVHXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIXHDXPHVVNCOP2WLLTFRYFEJSLNHDKXTMFZG34DB3FG5U4IVHXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.js"
            ]
        },
        "CreateServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "InlinePolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "Description": {},
                    "CustomSuffix": {},
                    "InlinePolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Role": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "GetGroupMembershipCounts": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "integer"
                        }
                    },
                    "ErrorMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "ErrorCode": {
                                        "type": "integer"
                                    },
                                    "ErrorMessage": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "PutServiceLinkedRoleInlinePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "RoleName",
                    "PolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "BatchGetRoleLastUsed": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleNames"
                ],
                "members": {
                    "RoleNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "LastUsedDate": {
                                    "type": "timestamp"
                                },
                                "Region": {}
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "BeginRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias"
                ],
                "members": {
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "BeginWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "DeactivateRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber"
                ],
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "DeleteRSAPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "PublicKeyId"
                ],
                "members": {
                    "PublicKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "EnableRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber",
                    "AuthenticationCode1",
                    "AuthenticationCode2"
                ],
                "members": {
                    "SerialNumber": {},
                    "AuthenticationCode1": {},
                    "AuthenticationCode2": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "FinalizeRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "FinalizeWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "GetAccountEmailAddress": {
            "output": {
                "type": "structure",
                "members": {
                    "EmailAddress": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "GetAccountName": {
            "output": {
                "type": "structure",
                "members": {
                    "AccountName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "GetLoginProfilesForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "UserName",
                                "CreateDate"
                            ],
                            "members": {
                                "UserName": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "PasswordResetRequired": {
                                    "type": "boolean"
                                },
                                "LastPasswordChange": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "ListAccessKeyLastUsedForMultipleAccessKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyIds"
                ],
                "members": {
                    "AccessKeyIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "UserName": {},
                                "AccessKeyLastUsed": {
                                    "type": "structure",
                                    "required": [
                                        "LastUsedDate",
                                        "ServiceName",
                                        "Region"
                                    ],
                                    "members": {
                                        "LastUsedDate": {
                                            "type": "timestamp"
                                        },
                                        "ServiceName": {},
                                        "Region": {}
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "ListAccessKeysForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "UserName",
                                    "AccessKeyId",
                                    "Status",
                                    "CreateDate"
                                ],
                                "members": {
                                    "UserName": {},
                                    "AccessKeyId": {},
                                    "Status": {},
                                    "CreateDate": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "ListAttachedPoliciesForGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "shape": "S1v"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "ListAttachedPoliciesForUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js"
            ]
        },
        "ListDescriptionsForPolicies": {
            "input": {
                "type": "structure",
                "members": {
                    "PolicyArns": {
                        "type": "list",
                        "member": {}
                    },
                    "SystemPolicies": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyDescriptions": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOPZVCCR3WY2KDOW3EXP53TSRIW6YWD6HALMCICS6BKJ5BDWLMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G67BQHM4VFYMSI5HLW45XL2GPPCG5WDYBQDU3T6MISAZJF3HYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXWASUV7FVCDG7QMQEEM2FAVDHEY5NYW45I5NVVGIIPD674G3ONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHLMUMHBLSUFFGOVECMDMOGZCN4ZDVTJ7RGXE3SKHA437JXENRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THTUC2GY6SZ6YR5BEL5ROZELA3UBGYDU7FUI6PSPZ5QZ3ZRMJCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W46UEXOKJXQIGCU6M2RJYVLS4OT4YXUHP57YSEYBDPSMRSNNRYFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMRZ3NGSGN453HJTEXNUQLGOMS5VCRT3OYRKCA2SI6QDSB57HTBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTN6GCGUBIZELJDMOE3QSOJ3DJJZLQW6J24TZ3TZF4RX35JMHLBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22N7T42FA4GAMLUDRS5E27PKJJ4DCAR74DTMC7EKLKXAUYC76MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZD7Q6XOWU34J3MGVBUEKHFYBUVZFN6UWCLZYSNI27YWO2XEYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO2NNTYQPKRZ6WSYIFPR3ESL2DT2AN2RW7F3BG44R36M723N6WHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIOEFYETWFIMZOFSKKXDFTR6BSK2RVARXPS4MSH6SDZD64MXBJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HQME63D2B42N6DKR7LM72GAGKH6M275FBBRDSNESGSHOO2TQRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIYJRUQEAYCH2JV72NLME37KTJLZZLA7BP45DRTLCITNPGSWNJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGPXJ5NBIVCFHE3AI2PP2RSSVQSJPBZCMYES3LNLGSOXIWU3BNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQVJD7MDFRHHTDSGOZGJCIPR2WP3ZWOPB6FUX5Q3GSHNQL5CT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
[...]
