{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-05-08",
        "endpointPrefix": "iamadmin",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS IAMAdmin",
        "serviceFullName": "AWS Identity Management Admin Service",
        "serviceId": "IAMAdmin",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityManagementAdminService",
        "uid": "iamadmin-2010-05-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/a369b4c7-2698-4ffc-9192-177bc2186904/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/f6dd7980-de63-4f98-acdc-8f64ddae055b/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KRQXOPFMRWWQK5SDFOSVG5HFMWJDPWQF33W5OXTS64ACCM7X7OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2XY7LBIIO4H7EGDRXJUXNU4AURUWTUQOZ5WXQ7YTIGRN7R5OEODA/vendorv3.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDJUI377ZMJBTEKUUZRPQGHYAAQYWJRBNM7KZUEW2ZQU5Y62ZWHQ/vendorv3.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZXCJN3PHUZMR4AHJ7WQ2V5QLDLXNGWW6KHKLUFQMCF6T4O4YI6Q/vendorv3.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js"
        ]
    },
    "operations": {
        "AttachServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "AmazonManagedPolicyArn"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "AmazonManagedPolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a369b4c7-2698-4ffc-9192-177bc2186904/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f6dd7980-de63-4f98-acdc-8f64ddae055b/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KRQXOPFMRWWQK5SDFOSVG5HFMWJDPWQF33W5OXTS64ACCM7X7OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XY7LBIIO4H7EGDRXJUXNU4AURUWTUQOZ5WXQ7YTIGRN7R5OEODA/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDJUI377ZMJBTEKUUZRPQGHYAAQYWJRBNM7KZUEW2ZQU5Y62ZWHQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZXCJN3PHUZMR4AHJ7WQ2V5QLDLXNGWW6KHKLUFQMCF6T4O4YI6Q/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js"
            ]
        },
        "CreatePolicyForServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyArn"
                ],
                "members": {
                    "PolicyArn": {},
                    "PolicyDocument": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a369b4c7-2698-4ffc-9192-177bc2186904/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f6dd7980-de63-4f98-acdc-8f64ddae055b/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KRQXOPFMRWWQK5SDFOSVG5HFMWJDPWQF33W5OXTS64ACCM7X7OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XY7LBIIO4H7EGDRXJUXNU4AURUWTUQOZ5WXQ7YTIGRN7R5OEODA/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDJUI377ZMJBTEKUUZRPQGHYAAQYWJRBNM7KZUEW2ZQU5Y62ZWHQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZXCJN3PHUZMR4AHJ7WQ2V5QLDLXNGWW6KHKLUFQMCF6T4O4YI6Q/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js"
            ]
        },
        "CreateServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "RoleDescription": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "TrustPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "TrustPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "AmazonManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Role"
                ],
                "members": {
                    "Role": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a369b4c7-2698-4ffc-9192-177bc2186904/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f6dd7980-de63-4f98-acdc-8f64ddae055b/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KRQXOPFMRWWQK5SDFOSVG5HFMWJDPWQF33W5OXTS64ACCM7X7OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XY7LBIIO4H7EGDRXJUXNU4AURUWTUQOZ5WXQ7YTIGRN7R5OEODA/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDJUI377ZMJBTEKUUZRPQGHYAAQYWJRBNM7KZUEW2ZQU5Y62ZWHQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZXCJN3PHUZMR4AHJ7WQ2V5QLDLXNGWW6KHKLUFQMCF6T4O4YI6Q/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js"
            ]
        },
        "ListRolesByPrincipal": {
            "input": {
                "type": "structure",
                "required": [
                    "AuthorizedPrincipal"
                ],
                "members": {
                    "PathPrefix": {},
                    "Marker": {},
                    "AuthorizedPrincipal": {
                        "type": "structure",
                        "required": [
                            "providerType",
                            "principalReference"
                        ],
                        "members": {
                            "providerType": {},
                            "principalReference": {},
                            "principalName": {},
                            "principalId": {},
                            "tags": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Key",
                                        "Value"
                                    ],
                                    "members": {
                                        "Key": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Roles"
                ],
                "members": {
                    "Roles": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "IsTruncated": {
                        "type": "boolean"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a369b4c7-2698-4ffc-9192-177bc2186904/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f6dd7980-de63-4f98-acdc-8f64ddae055b/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KRQXOPFMRWWQK5SDFOSVG5HFMWJDPWQF33W5OXTS64ACCM7X7OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XY7LBIIO4H7EGDRXJUXNU4AURUWTUQOZ5WXQ7YTIGRN7R5OEODA/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDJUI377ZMJBTEKUUZRPQGHYAAQYWJRBNM7KZUEW2ZQU5Y62ZWHQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZXCJN3PHUZMR4AHJ7WQ2V5QLDLXNGWW6KHKLUFQMCF6T4O4YI6Q/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js"
            ]
        },
        "UpdateServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyVersion"
                ],
                "members": {
                    "PolicyVersion": {
                        "type": "structure",
                        "members": {
                            "Document": {},
                            "VersionId": {},
                            "IsDefaultVersion": {
                                "type": "boolean"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a369b4c7-2698-4ffc-9192-177bc2186904/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f6dd7980-de63-4f98-acdc-8f64ddae055b/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KRQXOPFMRWWQK5SDFOSVG5HFMWJDPWQF33W5OXTS64ACCM7X7OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XY7LBIIO4H7EGDRXJUXNU4AURUWTUQOZ5WXQ7YTIGRN7R5OEODA/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDJUI377ZMJBTEKUUZRPQGHYAAQYWJRBNM7KZUEW2ZQU5Y62ZWHQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZXCJN3PHUZMR4AHJ7WQ2V5QLDLXNGWW6KHKLUFQMCF6T4O4YI6Q/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js"
            ]
        },
        "CreateServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "InlinePolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "Description": {},
                    "CustomSuffix": {},
                    "InlinePolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Role": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "GetGroupMembershipCounts": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "integer"
                        }
                    },
                    "ErrorMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "ErrorCode": {
                                        "type": "integer"
                                    },
                                    "ErrorMessage": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "PutServiceLinkedRoleInlinePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "RoleName",
                    "PolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "BatchGetRoleLastUsed": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleNames"
                ],
                "members": {
                    "RoleNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "LastUsedDate": {
                                    "type": "timestamp"
                                },
                                "Region": {}
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "BeginRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias"
                ],
                "members": {
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "BeginWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "DeactivateRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber"
                ],
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "DeleteRSAPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "PublicKeyId"
                ],
                "members": {
                    "PublicKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "EnableRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber",
                    "AuthenticationCode1",
                    "AuthenticationCode2"
                ],
                "members": {
                    "SerialNumber": {},
                    "AuthenticationCode1": {},
                    "AuthenticationCode2": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "FinalizeRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "FinalizeWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "GetAccountEmailAddress": {
            "output": {
                "type": "structure",
                "members": {
                    "EmailAddress": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "GetAccountName": {
            "output": {
                "type": "structure",
                "members": {
                    "AccountName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "GetLoginProfilesForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "UserName",
                                "CreateDate"
                            ],
                            "members": {
                                "UserName": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "PasswordResetRequired": {
                                    "type": "boolean"
                                },
                                "LastPasswordChange": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "ListAccessKeyLastUsedForMultipleAccessKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyIds"
                ],
                "members": {
                    "AccessKeyIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "UserName": {},
                                "AccessKeyLastUsed": {
                                    "type": "structure",
                                    "required": [
                                        "LastUsedDate",
                                        "ServiceName",
                                        "Region"
                                    ],
                                    "members": {
                                        "LastUsedDate": {
                                            "type": "timestamp"
                                        },
                                        "ServiceName": {},
                                        "Region": {}
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "ListAccessKeysForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "UserName",
                                    "AccessKeyId",
                                    "Status",
                                    "CreateDate"
                                ],
                                "members": {
                                    "UserName": {},
                                    "AccessKeyId": {},
                                    "Status": {},
                                    "CreateDate": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "ListAttachedPoliciesForGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "shape": "S1v"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "ListAttachedPoliciesForUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBOJFPWK4KODWD6S62HLICMBRZTEX4C3HEWJBCU34TIVHFGLJXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js"
            ]
        },
        "ListDescriptionsForPolicies": {
            "input": {
                "type": "structure",
                "members": {
                    "PolicyArns": {
                        "type": "list",
                        "member": {}
                    },
                    "SystemPolicies": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyDescriptions": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZX26UOQUVXOX36AJJ5FDFZGETZC2WDS5BD642BAJCNGVU6EBHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMCT37E4RVERBUGJBH4JHFFULRYNJ7QPCHPMPUEVIXQNDQCFT5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTIYRE6EVM7W7LRZBBBVD3EV455ZQ3M3XQDEAIYHS2J5E5UXNXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEX2JWHXFP2BC46X3VI5YTVEIFJBHFAAKFXJ66M7KZYC5NLOWEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI4TKZP6RCRT3NC7SC4ALY4LGLAS4YLTAVZQKS6ZCELA4NBNWCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
[...]
