{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-05-08",
        "endpointPrefix": "iamadmin",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS IAMAdmin",
        "serviceFullName": "AWS Identity Management Admin Service",
        "serviceId": "IAMAdmin",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityManagementAdminService",
        "uid": "iamadmin-2010-05-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DE75GJQKWS4ER4N5YUQM2MJUIY4TZLAU2IZIB43GNSSS4BJQAC5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/1ff9eaec-faf3-40a2-8152-d18d411912a0/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/dbaeecd0-332f-4348-9207-82d62804ed93/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/73a72d64-7979-4fe6-810c-df2aec6d8fe3/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/0729ec71-cb4b-494c-9ff6-42b9523267b7/vendorv3.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/64662cb8-c4e0-4316-953e-3719e0c679e4/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
        ]
    },
    "operations": {
        "AttachServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "AmazonManagedPolicyArn"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "AmazonManagedPolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE75GJQKWS4ER4N5YUQM2MJUIY4TZLAU2IZIB43GNSSS4BJQAC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/1ff9eaec-faf3-40a2-8152-d18d411912a0/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/dbaeecd0-332f-4348-9207-82d62804ed93/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/73a72d64-7979-4fe6-810c-df2aec6d8fe3/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0729ec71-cb4b-494c-9ff6-42b9523267b7/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/64662cb8-c4e0-4316-953e-3719e0c679e4/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "CreatePolicyForServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyArn"
                ],
                "members": {
                    "PolicyArn": {},
                    "PolicyDocument": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE75GJQKWS4ER4N5YUQM2MJUIY4TZLAU2IZIB43GNSSS4BJQAC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/1ff9eaec-faf3-40a2-8152-d18d411912a0/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/dbaeecd0-332f-4348-9207-82d62804ed93/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/73a72d64-7979-4fe6-810c-df2aec6d8fe3/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0729ec71-cb4b-494c-9ff6-42b9523267b7/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/64662cb8-c4e0-4316-953e-3719e0c679e4/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "CreateServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "RoleDescription": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "TrustPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "TrustPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "AmazonManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Role"
                ],
                "members": {
                    "Role": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE75GJQKWS4ER4N5YUQM2MJUIY4TZLAU2IZIB43GNSSS4BJQAC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/1ff9eaec-faf3-40a2-8152-d18d411912a0/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/dbaeecd0-332f-4348-9207-82d62804ed93/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/73a72d64-7979-4fe6-810c-df2aec6d8fe3/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0729ec71-cb4b-494c-9ff6-42b9523267b7/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/64662cb8-c4e0-4316-953e-3719e0c679e4/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "ListRolesByPrincipal": {
            "input": {
                "type": "structure",
                "required": [
                    "AuthorizedPrincipal"
                ],
                "members": {
                    "PathPrefix": {},
                    "Marker": {},
                    "AuthorizedPrincipal": {
                        "type": "structure",
                        "required": [
                            "providerType",
                            "principalReference"
                        ],
                        "members": {
                            "providerType": {},
                            "principalReference": {},
                            "principalName": {},
                            "principalId": {},
                            "tags": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Key",
                                        "Value"
                                    ],
                                    "members": {
                                        "Key": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Roles"
                ],
                "members": {
                    "Roles": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "IsTruncated": {
                        "type": "boolean"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE75GJQKWS4ER4N5YUQM2MJUIY4TZLAU2IZIB43GNSSS4BJQAC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/1ff9eaec-faf3-40a2-8152-d18d411912a0/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/dbaeecd0-332f-4348-9207-82d62804ed93/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/73a72d64-7979-4fe6-810c-df2aec6d8fe3/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0729ec71-cb4b-494c-9ff6-42b9523267b7/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/64662cb8-c4e0-4316-953e-3719e0c679e4/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "UpdateServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyVersion"
                ],
                "members": {
                    "PolicyVersion": {
                        "type": "structure",
                        "members": {
                            "Document": {},
                            "VersionId": {},
                            "IsDefaultVersion": {
                                "type": "boolean"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE75GJQKWS4ER4N5YUQM2MJUIY4TZLAU2IZIB43GNSSS4BJQAC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/1ff9eaec-faf3-40a2-8152-d18d411912a0/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/dbaeecd0-332f-4348-9207-82d62804ed93/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/73a72d64-7979-4fe6-810c-df2aec6d8fe3/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0729ec71-cb4b-494c-9ff6-42b9523267b7/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/64662cb8-c4e0-4316-953e-3719e0c679e4/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "CreateServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "InlinePolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "Description": {},
                    "CustomSuffix": {},
                    "InlinePolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Role": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "GetGroupMembershipCounts": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "integer"
                        }
                    },
                    "ErrorMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "ErrorCode": {
                                        "type": "integer"
                                    },
                                    "ErrorMessage": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "PutServiceLinkedRoleInlinePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "RoleName",
                    "PolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "BatchGetRoleLastUsed": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleNames"
                ],
                "members": {
                    "RoleNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "LastUsedDate": {
                                    "type": "timestamp"
                                },
                                "Region": {}
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "BeginRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias"
                ],
                "members": {
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "BeginWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "DeactivateRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber"
                ],
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "DeleteRSAPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "PublicKeyId"
                ],
                "members": {
                    "PublicKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "EnableRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber",
                    "AuthenticationCode1",
                    "AuthenticationCode2"
                ],
                "members": {
                    "SerialNumber": {},
                    "AuthenticationCode1": {},
                    "AuthenticationCode2": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "FinalizeRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "FinalizeWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "GetAccountEmailAddress": {
            "output": {
                "type": "structure",
                "members": {
                    "EmailAddress": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "GetAccountName": {
            "output": {
                "type": "structure",
                "members": {
                    "AccountName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "GetLoginProfilesForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "UserName",
                                "CreateDate"
                            ],
                            "members": {
                                "UserName": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "PasswordResetRequired": {
                                    "type": "boolean"
                                },
                                "LastPasswordChange": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "ListAccessKeyLastUsedForMultipleAccessKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyIds"
                ],
                "members": {
                    "AccessKeyIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "UserName": {},
                                "AccessKeyLastUsed": {
                                    "type": "structure",
                                    "required": [
                                        "LastUsedDate",
                                        "ServiceName",
                                        "Region"
                                    ],
                                    "members": {
                                        "LastUsedDate": {
                                            "type": "timestamp"
                                        },
                                        "ServiceName": {},
                                        "Region": {}
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "ListAccessKeysForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "UserName",
                                    "AccessKeyId",
                                    "Status",
                                    "CreateDate"
                                ],
                                "members": {
                                    "UserName": {},
                                    "AccessKeyId": {},
                                    "Status": {},
                                    "CreateDate": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "ListAttachedPoliciesForGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "shape": "S1v"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "ListAttachedPoliciesForUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js"
            ]
        },
        "ListDescriptionsForPolicies": {
            "input": {
                "type": "structure",
                "members": {
                    "PolicyArns": {
                        "type": "list",
                        "member": {}
                    },
                    "SystemPolicies": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyDescriptions": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKL5PFOQ5VSCMKX22DSJLY5QPQDRDCPXCQXFWOI4NSVTBZY5WBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXPKJ44FECHFW7MQVAEETGZEAQQ3OBYYND7VWQD2RCBKVYKUKG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQVBZRCJLNBE3L22FY6VPIV5C6YPJAKFCLITCIMI42KEHHAKWNLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27EPNNKG33OPNXN2FILRGM2CO4EP4BZVTMB6VVXIIONTYDYZS5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V45SVRHIGKOMS2AGBYXP4HGGH23NNCMZ72GHNXURUNYUX6VKZDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGW7QLCEZZX24OF5PVYM2XMLM24TGHN4IEHC55DS3THZCQCWWWBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
[...]
