{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-05-08",
        "endpointPrefix": "iamadmin",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS IAMAdmin",
        "serviceFullName": "AWS Identity Management Admin Service",
        "serviceId": "IAMAdmin",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityManagementAdminService",
        "uid": "iamadmin-2010-05-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
        ]
    },
    "operations": {
        "AttachServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "AmazonManagedPolicyArn"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "AmazonManagedPolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreatePolicyForServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyArn"
                ],
                "members": {
                    "PolicyArn": {},
                    "PolicyDocument": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "RoleDescription": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "TrustPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "TrustPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "AmazonManagedPolicyArn": {},
                    "GenericRole": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Role"
                ],
                "members": {
                    "Role": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "ListRolesByPrincipal": {
            "input": {
                "type": "structure",
                "required": [
                    "AuthorizedPrincipal"
                ],
                "members": {
                    "PathPrefix": {},
                    "Marker": {},
                    "AuthorizedPrincipal": {
                        "type": "structure",
                        "required": [
                            "providerType",
                            "principalReference"
                        ],
                        "members": {
                            "providerType": {},
                            "principalReference": {},
                            "principalName": {},
                            "principalId": {},
                            "tags": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Key",
                                        "Value"
                                    ],
                                    "members": {
                                        "Key": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Roles"
                ],
                "members": {
                    "Roles": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "IsTruncated": {
                        "type": "boolean"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "UpdateServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyVersion"
                ],
                "members": {
                    "PolicyVersion": {
                        "type": "structure",
                        "members": {
                            "Document": {},
                            "VersionId": {},
                            "IsDefaultVersion": {
                                "type": "boolean"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "InlinePolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "Description": {},
                    "CustomSuffix": {},
                    "InlinePolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Role": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "GetGroupMembershipCounts": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "integer"
                        }
                    },
                    "ErrorMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "ErrorCode": {
                                        "type": "integer"
                                    },
                                    "ErrorMessage": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "PutServiceLinkedRoleInlinePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "RoleName",
                    "PolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "BatchGetRoleLastUsed": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleNames"
                ],
                "members": {
                    "RoleNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "LastUsedDate": {
                                    "type": "timestamp"
                                },
                                "Region": {}
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "BeginRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias"
                ],
                "members": {
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "BeginWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "DeactivateRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber"
                ],
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "DeleteRSAPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "PublicKeyId"
                ],
                "members": {
                    "PublicKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "EnableRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber",
                    "AuthenticationCode1",
                    "AuthenticationCode2"
                ],
                "members": {
                    "SerialNumber": {},
                    "AuthenticationCode1": {},
                    "AuthenticationCode2": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "FinalizeRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "FinalizeWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "GetAccountEmailAddress": {
            "output": {
                "type": "structure",
                "members": {
                    "EmailAddress": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "GetAccountName": {
            "output": {
                "type": "structure",
                "members": {
                    "AccountName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "GetLoginProfilesForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "UserName",
                                "CreateDate"
                            ],
                            "members": {
                                "UserName": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "PasswordResetRequired": {
                                    "type": "boolean"
                                },
                                "LastPasswordChange": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "ListAccessKeyLastUsedForMultipleAccessKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyIds"
                ],
                "members": {
                    "AccessKeyIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "UserName": {},
                                "AccessKeyLastUsed": {
                                    "type": "structure",
                                    "required": [
                                        "LastUsedDate",
                                        "ServiceName",
                                        "Region"
                                    ],
                                    "members": {
                                        "LastUsedDate": {
                                            "type": "timestamp"
                                        },
                                        "ServiceName": {},
                                        "Region": {}
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "ListAccessKeysForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "UserName",
                                    "AccessKeyId",
                                    "Status",
                                    "CreateDate"
                                ],
                                "members": {
                                    "UserName": {},
                                    "AccessKeyId": {},
                                    "Status": {},
                                    "CreateDate": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "ListAttachedPoliciesForGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "shape": "S1v"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "ListAttachedPoliciesForUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js"
            ]
        },
        "ListDescriptionsForPolicies": {
            "input": {
                "type": "structure",
                "members": {
                    "PolicyArns": {
                        "type": "list",
                        "member": {}
                    },
                    "SystemPolicies": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyDescriptions": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7ODL7SQGCXIFZAZ4EVJQFI5IZQBLJ245HL2ZH5CME6EZNB5O6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHO5NGQP4FX3LTWYXVD7QAVIULVIQXPJXIYVMNV6BPR5F5WVEMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMSD53SP3VGQ7MCRCE7OD6GQUR7G2HSQL2G4PKGTGAHH3LUYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WCMZBHPKFAFBBYHWRXSY5KOV4VOJXNCTMLC5IXZHUPK47SDXLDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN5CXYMDDMMXSCE4O4JUPCYJGZGTWWK6ZXPPVQVY2XZFR4DNLSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KMBMPR7UQTIXBL2K7QPDNND5IEXW4YDLOG7NONQOXAG2NG7CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2QJMJBUPVQQIM3SYZEVYZ7HTY764WBU6TSDXIMFR7N5FRYJVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGTVR26PLLC66LEZHQVR44MZWCIU5AGWSMSAKYOJ2WQGB3I3SEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SVJZQZUTOGGJEZKXB6ZM6L5MQCZTMIMEOAM5BT6OVVP3OHXRSTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OHXE6FY3JGV7YFE7J6S2LHK47BDWUORBDJAAPC4O5HR4XQIAF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
[...]
