{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-05-08",
        "endpointPrefix": "iamadmin",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS IAMAdmin",
        "serviceFullName": "AWS Identity Management Admin Service",
        "serviceId": "IAMAdmin",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityManagementAdminService",
        "uid": "iamadmin-2010-05-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWREFV6DVTYXCYP7SDEZDZMKYAAJEAMPZPIZP4EO7ZPSC3VBJHVQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/f0415660-f61f-43d5-bd62-cd9bc9085d68/vendorv3.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/a602bebe-a829-4525-84ff-eed9792b8bc7/vendorv3.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/caab8767-ebdb-48a5-ac81-017cc633dec0/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AEMGB6UAZZQ5BQJDZ4ENWB27JZIEVFMXCDACI6KCVJRUGSCVYJ4A/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/7b599172-4308-408d-ab3f-13a7569308c1/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WC3ACNESDJQUS2VIEGKFQX244DGVXYTA3BZXX2E5EN6OOHF3W77A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/123e40e0-c0da-4ca4-b9fb-ed1249483fac/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/6635d232-d11f-4ad8-a32e-1cd36576ca8e/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PWREFV6DVTYXCYP7SDEZDZMKYAAJEAMPZPIZP4EO7ZPSC3VBJHVQ/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4MOSB3SMV2TE4I5OREJDYBNDMNJZV7OSQN2ICA56VVQUD6X6F2VA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js"
        ]
    },
    "operations": {
        "AttachServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "AmazonManagedPolicyArn"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "AmazonManagedPolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0415660-f61f-43d5-bd62-cd9bc9085d68/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a602bebe-a829-4525-84ff-eed9792b8bc7/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/caab8767-ebdb-48a5-ac81-017cc633dec0/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEMGB6UAZZQ5BQJDZ4ENWB27JZIEVFMXCDACI6KCVJRUGSCVYJ4A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7b599172-4308-408d-ab3f-13a7569308c1/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WC3ACNESDJQUS2VIEGKFQX244DGVXYTA3BZXX2E5EN6OOHF3W77A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/123e40e0-c0da-4ca4-b9fb-ed1249483fac/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/6635d232-d11f-4ad8-a32e-1cd36576ca8e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PWREFV6DVTYXCYP7SDEZDZMKYAAJEAMPZPIZP4EO7ZPSC3VBJHVQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MOSB3SMV2TE4I5OREJDYBNDMNJZV7OSQN2ICA56VVQUD6X6F2VA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js"
            ]
        },
        "CreatePolicyForServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyArn"
                ],
                "members": {
                    "PolicyArn": {},
                    "PolicyDocument": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0415660-f61f-43d5-bd62-cd9bc9085d68/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a602bebe-a829-4525-84ff-eed9792b8bc7/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/caab8767-ebdb-48a5-ac81-017cc633dec0/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEMGB6UAZZQ5BQJDZ4ENWB27JZIEVFMXCDACI6KCVJRUGSCVYJ4A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7b599172-4308-408d-ab3f-13a7569308c1/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WC3ACNESDJQUS2VIEGKFQX244DGVXYTA3BZXX2E5EN6OOHF3W77A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/123e40e0-c0da-4ca4-b9fb-ed1249483fac/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/6635d232-d11f-4ad8-a32e-1cd36576ca8e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PWREFV6DVTYXCYP7SDEZDZMKYAAJEAMPZPIZP4EO7ZPSC3VBJHVQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MOSB3SMV2TE4I5OREJDYBNDMNJZV7OSQN2ICA56VVQUD6X6F2VA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js"
            ]
        },
        "CreateServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "RoleDescription": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "TrustPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "TrustPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "AmazonManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Role"
                ],
                "members": {
                    "Role": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0415660-f61f-43d5-bd62-cd9bc9085d68/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a602bebe-a829-4525-84ff-eed9792b8bc7/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/caab8767-ebdb-48a5-ac81-017cc633dec0/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEMGB6UAZZQ5BQJDZ4ENWB27JZIEVFMXCDACI6KCVJRUGSCVYJ4A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7b599172-4308-408d-ab3f-13a7569308c1/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WC3ACNESDJQUS2VIEGKFQX244DGVXYTA3BZXX2E5EN6OOHF3W77A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/123e40e0-c0da-4ca4-b9fb-ed1249483fac/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/6635d232-d11f-4ad8-a32e-1cd36576ca8e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PWREFV6DVTYXCYP7SDEZDZMKYAAJEAMPZPIZP4EO7ZPSC3VBJHVQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MOSB3SMV2TE4I5OREJDYBNDMNJZV7OSQN2ICA56VVQUD6X6F2VA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js"
            ]
        },
        "ListRolesByPrincipal": {
            "input": {
                "type": "structure",
                "required": [
                    "AuthorizedPrincipal"
                ],
                "members": {
                    "PathPrefix": {},
                    "Marker": {},
                    "AuthorizedPrincipal": {
                        "type": "structure",
                        "required": [
                            "providerType",
                            "principalReference"
                        ],
                        "members": {
                            "providerType": {},
                            "principalReference": {},
                            "principalName": {},
                            "principalId": {},
                            "tags": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Key",
                                        "Value"
                                    ],
                                    "members": {
                                        "Key": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Roles"
                ],
                "members": {
                    "Roles": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "IsTruncated": {
                        "type": "boolean"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0415660-f61f-43d5-bd62-cd9bc9085d68/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a602bebe-a829-4525-84ff-eed9792b8bc7/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/caab8767-ebdb-48a5-ac81-017cc633dec0/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEMGB6UAZZQ5BQJDZ4ENWB27JZIEVFMXCDACI6KCVJRUGSCVYJ4A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7b599172-4308-408d-ab3f-13a7569308c1/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WC3ACNESDJQUS2VIEGKFQX244DGVXYTA3BZXX2E5EN6OOHF3W77A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/123e40e0-c0da-4ca4-b9fb-ed1249483fac/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/6635d232-d11f-4ad8-a32e-1cd36576ca8e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PWREFV6DVTYXCYP7SDEZDZMKYAAJEAMPZPIZP4EO7ZPSC3VBJHVQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MOSB3SMV2TE4I5OREJDYBNDMNJZV7OSQN2ICA56VVQUD6X6F2VA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js"
            ]
        },
        "UpdateServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyVersion"
                ],
                "members": {
                    "PolicyVersion": {
                        "type": "structure",
                        "members": {
                            "Document": {},
                            "VersionId": {},
                            "IsDefaultVersion": {
                                "type": "boolean"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0415660-f61f-43d5-bd62-cd9bc9085d68/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a602bebe-a829-4525-84ff-eed9792b8bc7/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/caab8767-ebdb-48a5-ac81-017cc633dec0/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEMGB6UAZZQ5BQJDZ4ENWB27JZIEVFMXCDACI6KCVJRUGSCVYJ4A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/7b599172-4308-408d-ab3f-13a7569308c1/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WC3ACNESDJQUS2VIEGKFQX244DGVXYTA3BZXX2E5EN6OOHF3W77A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/123e40e0-c0da-4ca4-b9fb-ed1249483fac/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/6635d232-d11f-4ad8-a32e-1cd36576ca8e/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PWREFV6DVTYXCYP7SDEZDZMKYAAJEAMPZPIZP4EO7ZPSC3VBJHVQ/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MOSB3SMV2TE4I5OREJDYBNDMNJZV7OSQN2ICA56VVQUD6X6F2VA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js"
            ]
        },
        "CreateServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "InlinePolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "Description": {},
                    "CustomSuffix": {},
                    "InlinePolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Role": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "GetGroupMembershipCounts": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "integer"
                        }
                    },
                    "ErrorMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "ErrorCode": {
                                        "type": "integer"
                                    },
                                    "ErrorMessage": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "PutServiceLinkedRoleInlinePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "RoleName",
                    "PolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "BatchGetRoleLastUsed": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleNames"
                ],
                "members": {
                    "RoleNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "LastUsedDate": {
                                    "type": "timestamp"
                                },
                                "Region": {}
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "BeginRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias"
                ],
                "members": {
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "BeginWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "DeactivateRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber"
                ],
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "DeleteRSAPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "PublicKeyId"
                ],
                "members": {
                    "PublicKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "EnableRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber",
                    "AuthenticationCode1",
                    "AuthenticationCode2"
                ],
                "members": {
                    "SerialNumber": {},
                    "AuthenticationCode1": {},
                    "AuthenticationCode2": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "FinalizeRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "FinalizeWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "GetAccountEmailAddress": {
            "output": {
                "type": "structure",
                "members": {
                    "EmailAddress": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "GetAccountName": {
            "output": {
                "type": "structure",
                "members": {
                    "AccountName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "GetLoginProfilesForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "UserName",
                                "CreateDate"
                            ],
                            "members": {
                                "UserName": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "PasswordResetRequired": {
                                    "type": "boolean"
                                },
                                "LastPasswordChange": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "ListAccessKeyLastUsedForMultipleAccessKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyIds"
                ],
                "members": {
                    "AccessKeyIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "UserName": {},
                                "AccessKeyLastUsed": {
                                    "type": "structure",
                                    "required": [
                                        "LastUsedDate",
                                        "ServiceName",
                                        "Region"
                                    ],
                                    "members": {
                                        "LastUsedDate": {
                                            "type": "timestamp"
                                        },
                                        "ServiceName": {},
                                        "Region": {}
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "ListAccessKeysForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "UserName",
                                    "AccessKeyId",
                                    "Status",
                                    "CreateDate"
                                ],
                                "members": {
                                    "UserName": {},
                                    "AccessKeyId": {},
                                    "Status": {},
                                    "CreateDate": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "ListAttachedPoliciesForGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "shape": "S1v"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "ListAttachedPoliciesForUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js"
            ]
        },
        "ListDescriptionsForPolicies": {
            "input": {
                "type": "structure",
                "members": {
                    "PolicyArns": {
                        "type": "list",
                        "member": {}
                    },
                    "SystemPolicies": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyDescriptions": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQU6S6Z4H7XED45ALXPCOJSCUCTFEB5IPNEU7I5SQZDZMBZAO6EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBV6YZSUBGOW2UHE7X6UV4F5MJASHWJDUASXUZHOZVMT7GT3OEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIEBLOKXE64NONIJXVYN6R64RCC2G4DOXAUZSTJUHB27PLOLESIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGRX6JKFA62UVKYLQHNAFKDZ3VEDLLR6CGXQS54XCXWV6PGR2QPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXRYA4DL7QRT3NFP7UEX7T6ZAOAVKDXRIZRZA6HFXO2DDSYSUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG4B4XDH4BM2JNVMDLIS7HYFF72P2F333J7NYIXS2VEOEOB5SFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCDHPC23DY2E34ZKO4PVOV6Y4G35J4Q6PSGEN3W5JDDGMUS2CRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZ75MH6NTHOQ7HNYRLWFKDSADT5VEJRVGYV4UC4G7EVJ7QRDMU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HSKOKWBSSQJHDLCSUXLQREQDN3EBHG2E6DL2KBSLNZIKBBQQMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RD6DBJT4SOGRFJK7VS7HE5G7P4QVO6ETYXEKVWRBLPUZ5NWXXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js",
[...]
