{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "identitystoreinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystoreinternal",
        "signatureVersion": "v4",
        "signingName": "identitystore",
        "targetPrefix": "AWSIdentityStoreService",
        "uid": "identitystoreinternal-2019-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJIA4R2W3VYCDNZTVAZFFO3V66MBMMULH4WJAAZQ4PT6YJFH3SIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
        ]
    },
    "operations": {
        "AddMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Member"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Member": {
                        "type": "structure",
                        "required": [
                            "MemberId"
                        ],
                        "members": {
                            "MemberId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "CreateBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BearerToken"
                ],
                "members": {
                    "BearerToken": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {},
                    "GroupAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "CreateIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "UserSchema",
                    "GroupSchema"
                ],
                "members": {
                    "UserSchema": {
                        "shape": "Sz"
                    },
                    "GroupSchema": {
                        "shape": "Sz"
                    },
                    "Schemas": {
                        "type": "structure",
                        "members": {
                            "UserSchema": {
                                "shape": "S1b"
                            },
                            "GroupSchema": {
                                "shape": "S1b"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "CreateProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "PasswordMode": {},
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    },
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "CreateUserFromReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserAttributes": {
                        "shape": "Sf"
                    },
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "CreateUserWithId": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserName",
                    "Active"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DeleteBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId",
                    "TokenId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {},
                    "TokenId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DeleteIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DeleteProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S26"
                    },
                    "UnprocessedGroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DescribeIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DescribeProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DescribeUserByUniqueAttribute": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AttributeName",
                    "AttributeValue"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AttributeName": {},
                    "AttributeValue": {
                        "type": "structure",
                        "members": {
                            "StringValue": {
                                "shape": "Si"
                            },
                            "NumberValue": {
                                "shape": "Sk"
                            },
                            "DecimalValue": {
                                "shape": "Sm"
                            },
                            "DateTimeValue": {
                                "shape": "Sn"
                            },
                            "BinaryValue": {
                                "shape": "Sl"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S2i"
                    },
                    "UnprocessedUserIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DisableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "EnableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "EnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "GetAuditIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "Token"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "Token": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BearerTokenId": {},
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ4ZEAN5MMX6SSCZ5WCDTWWSOI4COZMUQJQYHTJRGIHWJ3PA523Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WKWFDMVS4KTJHFRZ2DYN7NAEQ6SEJZ5IOVDX7QTKRFWQAU234TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "GetUserId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
[...]
