{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-10-31",
        "endpointPrefix": "identity-sync",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Identity Sync",
        "serviceId": "IdentitySync",
        "signatureVersion": "v4",
        "signingName": "identity-sync",
        "uid": "identitysync-2021-10-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
        ]
    },
    "operations": {
        "CreateSyncFilter": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/filters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "FilterType",
                    "Attributes",
                    "Effect"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "FilterType": {},
                    "Attributes": {},
                    "Effect": {},
                    "DryRun": {
                        "location": "querystring",
                        "locationName": "DryRun",
                        "type": "boolean"
                    },
                    "Augmentation": {
                        "location": "querystring",
                        "locationName": "Augmentation",
                        "type": "boolean"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncFilterId"
                ],
                "members": {
                    "SyncFilterId": {},
                    "DryRun": {
                        "type": "boolean"
                    },
                    "Augmentation": {
                        "type": "boolean"
                    },
                    "Attributes": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "CreateSyncProfile": {
            "http": {
                "requestUri": "/v0/profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SourceResourceArn"
                ],
                "members": {
                    "SyncProfileName": {},
                    "SourceResourceArn": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncProfileArn"
                ],
                "members": {
                    "SyncProfileArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "CreateSyncTarget": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/targets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName",
                    "TargetResourceArn"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {},
                    "TargetResourceArn": {},
                    "CustomAttributeMappings": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncTargetArn"
                ],
                "members": {
                    "SyncTargetArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DeleteSyncFilter": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v0/profiles/{SyncProfileName}/filters/{SyncFilterId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncFilterId"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncFilterId": {
                        "location": "uri",
                        "locationName": "SyncFilterId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DeleteSyncProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v0/profiles/{SyncProfileName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DeleteSyncTarget": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v0/profiles/{SyncProfileName}/targets/{SyncTargetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {
                        "location": "uri",
                        "locationName": "SyncTargetName"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "GetSyncProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/v0/profiles/{SyncProfileName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncProfileArn",
                    "SourceResourceArn",
                    "Schedule",
                    "SyncStatus",
                    "CreateTime",
                    "LastUpdateTime"
                ],
                "members": {
                    "SyncProfileName": {},
                    "SyncProfileArn": {},
                    "SourceResourceArn": {},
                    "Schedule": {
                        "type": "structure",
                        "members": {
                            "State": {}
                        }
                    },
                    "SyncStatus": {
                        "shape": "So"
                    },
                    "CreateTime": {
                        "shape": "Sq"
                    },
                    "LastUpdateTime": {
                        "shape": "Sq"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "GetSyncTarget": {
            "http": {
                "method": "GET",
                "requestUri": "/v0/profiles/{SyncProfileName}/targets/{SyncTargetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {
                        "location": "uri",
                        "locationName": "SyncTargetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncTargetName",
                    "SyncTargetArn",
                    "TargetResourceArn",
                    "SyncProfileName",
                    "CustomAttributeMappings",
                    "CreateTime",
                    "LastUpdateTime",
                    "SyncStatus"
                ],
                "members": {
                    "SyncTargetName": {},
                    "SyncTargetArn": {},
                    "TargetResourceArn": {},
                    "SyncProfileName": {},
                    "CustomAttributeMappings": {
                        "shape": "Se"
                    },
                    "CreateTime": {
                        "shape": "Sq"
                    },
                    "LastUpdateTime": {
                        "shape": "Sq"
                    },
                    "SyncStatus": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ListSyncFilters": {
            "http": {
                "method": "GET",
                "requestUri": "/v0/profiles/{SyncProfileName}/filters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "FilterType"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "FilterType": {
                        "location": "querystring",
                        "locationName": "FilterType"
                    },
                    "Effect": {
                        "location": "querystring",
                        "locationName": "Effect"
                    },
                    "Attributes": {
                        "location": "querystring",
                        "locationName": "Attributes"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "Augmentation": {
                        "location": "querystring",
                        "locationName": "Augmentation",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncFilters"
                ],
                "members": {
                    "SyncFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SyncProfileName",
                                "SyncFilterId",
                                "FilterType",
                                "Effect",
                                "Attributes",
                                "CreateTime"
                            ],
                            "members": {
                                "SyncProfileName": {},
                                "SyncFilterId": {},
                                "FilterType": {},
                                "Effect": {},
                                "Attributes": {},
                                "CreateTime": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "StartSync": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/startSync",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "StopSync": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/stopSync",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "UpdateSyncTarget": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v0/profiles/{SyncProfileName}/targets/{SyncTargetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {
                        "location": "uri",
                        "locationName": "SyncTargetName"
                    },
                    "CustomAttributeMappings": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncTargetArn"
                ],
                "members": {
                    "SyncTargetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "structure",
            "members": {
                "User": {
                    "shape": "Sf"
                },
                "Group": {
                    "shape": "Sf"
                }
            }
        },
        "Sf": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "So": {
            "type": "structure",
            "members": {
                "ErrorCodes": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sq": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}