{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-10-31",
        "endpointPrefix": "identity-sync",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Identity Sync",
        "serviceId": "IdentitySync",
        "signatureVersion": "v4",
        "signingName": "identity-sync",
        "uid": "identitysync-2021-10-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
        ]
    },
    "operations": {
        "CreateSyncFilter": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/filters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "FilterType",
                    "Attributes",
                    "Effect"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "FilterType": {},
                    "Attributes": {},
                    "Effect": {},
                    "DryRun": {
                        "location": "querystring",
                        "locationName": "DryRun",
                        "type": "boolean"
                    },
                    "Augmentation": {
                        "location": "querystring",
                        "locationName": "Augmentation",
                        "type": "boolean"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncFilterId"
                ],
                "members": {
                    "SyncFilterId": {},
                    "DryRun": {
                        "type": "boolean"
                    },
                    "Augmentation": {
                        "type": "boolean"
                    },
                    "Attributes": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateSyncProfile": {
            "http": {
                "requestUri": "/v0/profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SourceResourceArn"
                ],
                "members": {
                    "SyncProfileName": {},
                    "SourceResourceArn": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncProfileArn"
                ],
                "members": {
                    "SyncProfileArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateSyncTarget": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/targets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName",
                    "TargetResourceArn"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {},
                    "TargetResourceArn": {},
                    "CustomAttributeMappings": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncTargetArn"
                ],
                "members": {
                    "SyncTargetArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteSyncFilter": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v0/profiles/{SyncProfileName}/filters/{SyncFilterId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncFilterId"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncFilterId": {
                        "location": "uri",
                        "locationName": "SyncFilterId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteSyncProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v0/profiles/{SyncProfileName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteSyncTarget": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v0/profiles/{SyncProfileName}/targets/{SyncTargetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {
                        "location": "uri",
                        "locationName": "SyncTargetName"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetSyncProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/v0/profiles/{SyncProfileName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncProfileArn",
                    "SourceResourceArn",
                    "Schedule",
                    "SyncStatus",
                    "CreateTime",
                    "LastUpdateTime"
                ],
                "members": {
                    "SyncProfileName": {},
                    "SyncProfileArn": {},
                    "SourceResourceArn": {},
                    "Schedule": {
                        "type": "structure",
                        "members": {
                            "State": {}
                        }
                    },
                    "SyncStatus": {
                        "shape": "So"
                    },
                    "CreateTime": {
                        "shape": "Sq"
                    },
                    "LastUpdateTime": {
                        "shape": "Sq"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetSyncTarget": {
            "http": {
                "method": "GET",
                "requestUri": "/v0/profiles/{SyncProfileName}/targets/{SyncTargetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {
                        "location": "uri",
                        "locationName": "SyncTargetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncTargetName",
                    "SyncTargetArn",
                    "TargetResourceArn",
                    "SyncProfileName",
                    "CustomAttributeMappings",
                    "CreateTime",
                    "LastUpdateTime",
                    "SyncStatus"
                ],
                "members": {
                    "SyncTargetName": {},
                    "SyncTargetArn": {},
                    "TargetResourceArn": {},
                    "SyncProfileName": {},
                    "CustomAttributeMappings": {
                        "shape": "Se"
                    },
                    "CreateTime": {
                        "shape": "Sq"
                    },
                    "LastUpdateTime": {
                        "shape": "Sq"
                    },
                    "SyncStatus": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListSyncFilters": {
            "http": {
                "method": "GET",
                "requestUri": "/v0/profiles/{SyncProfileName}/filters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "FilterType"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "FilterType": {
                        "location": "querystring",
                        "locationName": "FilterType"
                    },
                    "Effect": {
                        "location": "querystring",
                        "locationName": "Effect"
                    },
                    "Attributes": {
                        "location": "querystring",
                        "locationName": "Attributes"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "Augmentation": {
                        "location": "querystring",
                        "locationName": "Augmentation",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncFilters"
                ],
                "members": {
                    "SyncFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SyncProfileName",
                                "SyncFilterId",
                                "FilterType",
                                "Effect",
                                "Attributes",
                                "CreateTime"
                            ],
                            "members": {
                                "SyncProfileName": {},
                                "SyncFilterId": {},
                                "FilterType": {},
                                "Effect": {},
                                "Attributes": {},
                                "CreateTime": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "StartSync": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/startSync",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "StopSync": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/stopSync",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "UpdateSyncTarget": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v0/profiles/{SyncProfileName}/targets/{SyncTargetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {
                        "location": "uri",
                        "locationName": "SyncTargetName"
                    },
                    "CustomAttributeMappings": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncTargetArn"
                ],
                "members": {
                    "SyncTargetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "AllowVendedLogDeliveryForResource": {
            "http": {
                "requestUri": "/v0/logs/allowVendedLogDeliveryForResource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArnBeingAuthorized",
                    "deliverySourceArn"
                ],
                "members": {
                    "resourceArnBeingAuthorized": {},
                    "deliverySourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteAllAccountResources": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v0/accounts/resources/{AwsAccountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "structure",
            "members": {
                "User": {
                    "shape": "Sf"
                },
                "Group": {
                    "shape": "Sf"
                }
            }
        },
        "Sf": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "So": {
            "type": "structure",
            "members": {
                "ErrorCodes": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sq": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sg": {
            "type": "structure",
            "members": {
                "User": {
                    "shape": "Sh"
                },
                "Group": {
                    "shape": "Sh"
                }
            }
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Ss": {
            "type": "structure",
            "members": {
                "ErrorCodes": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Su": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}