{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "identitystore",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystore",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityStoreService",
        "uid": "identitystore-2019-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
        ]
    },
    "operations": {
        "AddMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Member"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Member": {
                        "type": "structure",
                        "required": [
                            "MemberId"
                        ],
                        "members": {
                            "MemberId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "CreateBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BearerToken"
                ],
                "members": {
                    "BearerToken": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {},
                    "GroupAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "CreateIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "UserSchema",
                    "GroupSchema"
                ],
                "members": {
                    "UserSchema": {
                        "shape": "Sz"
                    },
                    "GroupSchema": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "CreateProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "PasswordMode": {},
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    },
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "CreateUserFromReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserAttributes": {
                        "shape": "Sf"
                    },
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "CreateUserWithId": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserName",
                    "Active"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "DeleteBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId",
                    "TokenId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {},
                    "TokenId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DeleteIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "DeleteProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S26"
                    },
                    "UnprocessedGroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DescribeIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "DescribeProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DescribeUserByUniqueAttribute": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AttributeName",
                    "AttributeValue"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AttributeName": {},
                    "AttributeValue": {
                        "type": "structure",
                        "members": {
                            "StringValue": {
                                "shape": "Si"
                            },
                            "NumberValue": {
                                "shape": "Sk"
                            },
                            "DecimalValue": {
                                "shape": "Sm"
                            },
                            "DateTimeValue": {
                                "shape": "Sn"
                            },
                            "BinaryValue": {
                                "shape": "Sl"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S2i"
                    },
                    "UnprocessedUserIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DisableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "DisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "EnableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "EnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "GetAuditIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "Token"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "Token": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BearerTokenId": {},
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "GetUserId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "IsMemberInGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MemberId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Result"
                ],
                "members": {
                    "Result": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
[...]
