{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-03-31",
        "endpointPrefix": "directoryservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "IdentityCentralConsole",
        "serviceId": "identityCentralConsole",
        "signatureVersion": "v4",
        "signingName": "directoryservice",
        "uid": "identitycentralconsole-2015-03-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
        ]
    },
    "operations": {
        "DescribeGroups": {
            "http": {
                "requestUri": "/warpdrive/describeGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "GroupIds": {
                                "type": "list",
                                "member": {}
                            },
                            "GroupAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "Groups": {
                        "shape": "Sl"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "DescribeUsers": {
            "http": {
                "requestUri": "/warpdrive/describeUsers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "UserIds": {
                                "type": "list",
                                "member": {}
                            },
                            "UserAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "Users": {
                        "shape": "Sy"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "ListRegisteredApplications": {
            "http": {
                "requestUri": "/galaxy/listRegisteredApplications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Applications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "ApplicationName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "SearchGroups": {
            "http": {
                "requestUri": "/warpdrive/searchGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken",
                            "SearchString"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "SearchString": {},
                            "SearchAttributes": {
                                "shape": "S8"
                            },
                            "GroupAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            },
                            "GroupNameExactMatchForIdentityPool": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Groups": {
                        "shape": "Sl"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "SearchUsers": {
            "http": {
                "requestUri": "/warpdrive/searchUsers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken",
                            "SearchString"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "SearchString": {},
                            "SearchAttributes": {
                                "shape": "S8"
                            },
                            "UserAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Users": {
                        "shape": "Sy"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "structure",
            "members": {
                "TargetIndex": {
                    "type": "integer"
                },
                "BeforeCount": {
                    "type": "integer"
                },
                "AfterCount": {
                    "type": "integer"
                },
                "ContentCount": {
                    "type": "integer"
                },
                "Critical": {
                    "type": "boolean"
                },
                "MaxResults": {
                    "type": "integer"
                },
                "PagingCookie": {},
                "GreaterThanOrEqual": {}
            }
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "GroupId": {},
                    "GroupName": {},
                    "GroupARN": {},
                    "UniqueGroupARN": {},
                    "GroupAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AttributeName": {},
                                "AttributeValue": {}
                            }
                        }
                    }
                }
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "TargetIndex": {
                    "type": "integer"
                },
                "ContentCount": {
                    "type": "integer"
                },
                "PagingCookie": {}
            }
        },
        "Sy": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "UserId": {},
                    "UserName": {},
                    "UserARN": {},
                    "UniqueUserARN": {},
                    "UserAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AttributeName": {},
                                "AttributeValue": {}
                            }
                        }
                    }
                }
            }
        },
        "Sr": {
            "type": "string",
            "sensitive": true
        },
        "S1c": {
            "type": "string",
            "sensitive": true
        }
    }
}