{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-06-15",
        "endpointPrefix": "identitystore",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystore",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityStore",
        "uid": "identitystore-2020-06-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
            "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
            "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
            "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
            "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
        ]
    },
    "operations": {
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {
                        "shape": "S3"
                    },
                    "Description": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MembershipId",
                    "IdentityStoreId"
                ],
                "members": {
                    "MembershipId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "Sb"
                    },
                    "Name": {
                        "shape": "Sc"
                    },
                    "DisplayName": {
                        "shape": "S4"
                    },
                    "NickName": {
                        "shape": "S4"
                    },
                    "ProfileUrl": {
                        "shape": "S4"
                    },
                    "Emails": {
                        "shape": "Sd"
                    },
                    "Addresses": {
                        "shape": "Sg"
                    },
                    "PhoneNumbers": {
                        "shape": "Si"
                    },
                    "UserType": {
                        "shape": "S4"
                    },
                    "Title": {
                        "shape": "S4"
                    },
                    "PreferredLanguage": {
                        "shape": "S4"
                    },
                    "Locale": {
                        "shape": "S4"
                    },
                    "Timezone": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "SamAccountNameFlag": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "DisplayName": {
                        "shape": "S3"
                    },
                    "ExternalIds": {
                        "shape": "Su"
                    },
                    "Description": {
                        "shape": "S4"
                    },
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserName": {
                        "shape": "Sb"
                    },
                    "UserId": {},
                    "ExternalIds": {
                        "shape": "Su"
                    },
                    "Name": {
                        "shape": "Sc"
                    },
                    "DisplayName": {
                        "shape": "S4"
                    },
                    "NickName": {
                        "shape": "S4"
                    },
                    "ProfileUrl": {
                        "shape": "S4"
                    },
                    "Emails": {
                        "shape": "Sd"
                    },
                    "Addresses": {
                        "shape": "Sg"
                    },
                    "PhoneNumbers": {
                        "shape": "Si"
                    },
                    "UserType": {
                        "shape": "S4"
                    },
                    "Title": {
                        "shape": "S4"
                    },
                    "PreferredLanguage": {
                        "shape": "S4"
                    },
                    "Locale": {
                        "shape": "S4"
                    },
                    "Timezone": {
                        "shape": "S4"
                    },
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "GetGroupMembershipId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MembershipId",
                    "IdentityStoreId"
                ],
                "members": {
                    "MembershipId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "GetUserId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "IsMemberInGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MemberId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MemberId": {
                        "shape": "S8"
                    },
                    "GroupIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Results"
                ],
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupId": {},
                                "MemberId": {
                                    "shape": "S8"
                                },
                                "MembershipExists": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "ListGroupMemberships": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupMemberships"
                ],
                "members": {
                    "GroupMemberships": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "ListGroupMembershipsForMember": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MemberId": {
                        "shape": "S8"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupMemberships"
                ],
                "members": {
                    "GroupMemberships": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "ListGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1q",
                        "deprecated": true,
                        "deprecatedMessage": "Using filters with ListGroups API is deprecated, please use GetGroupId API instead."
                    },
                    "SamAccountNameFlag": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "GroupId",
                                "IdentityStoreId"
                            ],
                            "members": {
                                "GroupId": {},
                                "DisplayName": {
                                    "shape": "S3"
                                },
                                "ExternalIds": {
                                    "shape": "Su"
                                },
                                "Description": {
                                    "shape": "S4"
                                },
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "ListUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1q",
                        "deprecated": true,
                        "deprecatedMessage": "Using filters with ListUsers API is deprecated, please use GetGroupId API instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "UserId",
                                "IdentityStoreId"
                            ],
                            "members": {
                                "UserName": {
                                    "shape": "Sb"
                                },
                                "UserId": {},
                                "ExternalIds": {
                                    "shape": "Su"
                                },
                                "Name": {
                                    "shape": "Sc"
                                },
                                "DisplayName": {
                                    "shape": "S4"
                                },
                                "NickName": {
                                    "shape": "S4"
                                },
                                "ProfileUrl": {
                                    "shape": "S4"
                                },
                                "Emails": {
                                    "shape": "Sd"
                                },
                                "Addresses": {
                                    "shape": "Sg"
                                },
                                "PhoneNumbers": {
                                    "shape": "Si"
                                },
                                "UserType": {
                                    "shape": "S4"
                                },
                                "Title": {
                                    "shape": "S4"
                                },
                                "PreferredLanguage": {
                                    "shape": "S4"
                                },
                                "Locale": {
                                    "shape": "S4"
                                },
                                "Timezone": {
                                    "shape": "S4"
                                },
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "UpdateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Operations"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Operations": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "UpdateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId",
                    "Operations"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {},
                    "Operations": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJGOYTBZ6NEBXAVMB3SF6TRR2HARZ7B3RGSJVPJRXESOGCQFSYGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHAXX5UAZFIDSA745WDIKFNTHAOEGWGOJNX3CCNCE3A32AR24WLQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "S4": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "structure",
            "members": {
                "UserId": {}
            },
            "union": true
        },
        "Sb": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "structure",
            "members": {
                "Formatted": {
                    "shape": "S4"
                },
                "FamilyName": {
                    "shape": "S4"
                },
                "GivenName": {
                    "shape": "S4"
                },
                "MiddleName": {
                    "shape": "S4"
                },
                "HonorificPrefix": {
                    "shape": "S4"
                },
                "HonorificSuffix": {
                    "shape": "S4"
                }
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Value": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Sf": {
            "type": "boolean",
            "sensitive": true
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "StreetAddress": {
                        "shape": "S4"
                    },
                    "Locality": {
                        "shape": "S4"
                    },
                    "Region": {
                        "shape": "S4"
                    },
                    "PostalCode": {
                        "shape": "S4"
                    },
                    "Country": {
                        "shape": "S4"
                    },
                    "Formatted": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Value": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "shape": "Sv"
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "Issuer",
                "Id"
            ],
            "members": {
                "Issuer": {
                    "type": "string",
                    "sensitive": true
                },
                "Id": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "ExternalId": {
                    "shape": "Sv"
                },
                "UniqueAttribute": {
                    "type": "structure",
                    "required": [
                        "AttributePath",
                        "AttributeValue"
                    ],
                    "members": {
                        "AttributePath": {},
                        "AttributeValue": {
                            "shape": "S16"
                        }
                    }
                }
            },
            "union": true
        },
        "S16": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1l": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            }
        },
        "S1q": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath",
                    "AttributeValue"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S4"
                    }
                }
            }
        },
        "S20": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S16"
                    }
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "shape": "Su"
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "ExternalId": {
                    "shape": "Su"
                },
                "UniqueAttribute": {
                    "type": "structure",
                    "required": [
                        "AttributePath",
                        "AttributeValue"
                    ],
                    "members": {
                        "AttributePath": {},
                        "AttributeValue": {
                            "shape": "S15"
                        }
                    }
                }
            },
            "union": true
        },
        "S15": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1k": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            }
        },
        "S1p": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath",
                    "AttributeValue"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S4"
                    }
                }
            }
        },
        "S1z": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S15"
                    }
                }
            }
        }
    }
}