{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "identitystoreinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystoreinternal",
        "signatureVersion": "v4",
        "signingName": "identitystore",
        "targetPrefix": "AWSIdentityStoreService",
        "uid": "identitystoreinternal-2019-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
            "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
            "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
        ]
    },
    "operations": {
        "AddMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Member"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Member": {
                        "type": "structure",
                        "required": [
                            "MemberId"
                        ],
                        "members": {
                            "MemberId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "CreateBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BearerToken"
                ],
                "members": {
                    "BearerToken": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {},
                    "GroupAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "CreateIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "UserSchema",
                    "GroupSchema"
                ],
                "members": {
                    "UserSchema": {
                        "shape": "Sz"
                    },
                    "GroupSchema": {
                        "shape": "Sz"
                    },
                    "Schemas": {
                        "type": "structure",
                        "members": {
                            "UserSchema": {
                                "shape": "S1b"
                            },
                            "GroupSchema": {
                                "shape": "S1b"
                            }
                        }
                    },
                    "EncryptionConfiguration": {
                        "shape": "S1l"
                    },
                    "DirectoryId": {},
                    "Tenants": {
                        "shape": "S1w"
                    },
                    "SharingStatus": {},
                    "OrganizationId": {},
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "CreateProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "PasswordMode": {},
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    },
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "CreateUserFromReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserAttributes": {
                        "shape": "Sf"
                    },
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "CreateUserWithId": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserName",
                    "Active"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DeleteBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId",
                    "TokenId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {},
                    "TokenId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DeleteIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DeleteProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S26"
                    },
                    "UnprocessedGroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DescribeIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DescribeProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {},
                    "ProjectedAttributes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DescribeUserByUniqueAttribute": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AttributeName",
                    "AttributeValue"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AttributeName": {},
                    "AttributeValue": {
                        "type": "structure",
                        "members": {
                            "StringValue": {
                                "shape": "Si"
                            },
                            "NumberValue": {
                                "shape": "Sk"
                            },
                            "DecimalValue": {
                                "shape": "Sm"
                            },
                            "DateTimeValue": {
                                "shape": "Sn"
                            },
                            "BinaryValue": {
                                "shape": "Sl"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/a1b0cb22-b585-4296-817a-968d354796ea/main.js",
                "https://druat2d21o8vh.cloudfront.net/5fa9326b-a334-4637-b984-813b516ee207/main.js",
                "https://druat2d21o8vh.cloudfront.net/4949b246-c4c1-4c7c-92b6-a40800d04cde/main.js",
                "https://druat2d21o8vh.cloudfront.net/3271c0a2-e765-4a4a-ac05-1478d3a6a47c/main.js",
                "https://druat2d21o8vh.cloudfront.net/e7c39c88-a0f3-4a6a-a99f-c060f02fa5a2/main.js",
                "https://druat2d21o8vh.cloudfront.net/0e651f0b-cb5c-4928-b558-9e036e166d27/main.js",
                "https://druat2d21o8vh.cloudfront.net/3686b771-004d-4a74-ba56-17b82a0f2891/main.js",
                "https://druat2d21o8vh.cloudfront.net/80e103dc-021f-4ef8-9a46-24f7ade868c1/main.js",
                "https://druat2d21o8vh.cloudfront.net/77f3b0ba-5658-44cf-b3d4-2c2ce1268035/main.js",
                "https://druat2d21o8vh.cloudfront.net/888472cc-a6e2-4709-99d3-cd5d5d730b55/main.js",
                "https://druat2d21o8vh.cloudfront.net/14cb52c4-30b6-49fa-8a0f-ee3225c33543/main.js",
                "https://druat2d21o8vh.cloudfront.net/4b3c9229-f2e4-4758-9337-6717cd939833/main.js",
                "https://druat2d21o8vh.cloudfront.net/4dd76c7d-311d-4acf-98b3-e490e92a9c76/main.js",
                "https://druat2d21o8vh.cloudfront.net/b8ab742b-485c-4830-956c-7fa2d38a2449/main.js",
                "https://druat2d21o8vh.cloudfront.net/0641032c-953e-4868-ad5f-11f9dac13c2a/main.js",
                "https://druat2d21o8vh.cloudfront.net/9e803438-6608-423c-be3a-8b220d618674/main.js",
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S2i"
                    },
                    "UnprocessedUserIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DisableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "DisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "EnableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "EnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "GetAuditIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "Token"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "Token": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BearerTokenId": {},
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupId": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js"
            ]
        },
        "GetUserId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserId": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
[...]
