{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-06-15",
        "endpointPrefix": "identitystore",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystore",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityStore",
        "uid": "identitystore-2020-06-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOFUCLJDINV3Z6K4MZOXPGDJZ4JYHJHJYSNES52YIMGQ5RC7B46Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
            "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
            "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {
                        "shape": "S3"
                    },
                    "Description": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MembershipId",
                    "IdentityStoreId"
                ],
                "members": {
                    "MembershipId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "Sb"
                    },
                    "Name": {
                        "shape": "Sc"
                    },
                    "DisplayName": {
                        "shape": "S4"
                    },
                    "NickName": {
                        "shape": "S4"
                    },
                    "ProfileUrl": {
                        "shape": "S4"
                    },
                    "Emails": {
                        "shape": "Sd"
                    },
                    "Addresses": {
                        "shape": "Sg"
                    },
                    "PhoneNumbers": {
                        "shape": "Si"
                    },
                    "UserType": {
                        "shape": "S4"
                    },
                    "Title": {
                        "shape": "S4"
                    },
                    "PreferredLanguage": {
                        "shape": "S4"
                    },
                    "Locale": {
                        "shape": "S4"
                    },
                    "Timezone": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "SamAccountNameFlag": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "DisplayName": {
                        "shape": "S3"
                    },
                    "ExternalIds": {
                        "shape": "Su"
                    },
                    "Description": {
                        "shape": "S4"
                    },
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOFUCLJDINV3Z6K4MZOXPGDJZ4JYHJHJYSNES52YIMGQ5RC7B46Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserName": {
                        "shape": "Sb"
                    },
                    "UserId": {},
                    "ExternalIds": {
                        "shape": "Su"
                    },
                    "Name": {
                        "shape": "Sc"
                    },
                    "DisplayName": {
                        "shape": "S4"
                    },
                    "NickName": {
                        "shape": "S4"
                    },
                    "ProfileUrl": {
                        "shape": "S4"
                    },
                    "Emails": {
                        "shape": "Sd"
                    },
                    "Addresses": {
                        "shape": "Sg"
                    },
                    "PhoneNumbers": {
                        "shape": "Si"
                    },
                    "UserType": {
                        "shape": "S4"
                    },
                    "Title": {
                        "shape": "S4"
                    },
                    "PreferredLanguage": {
                        "shape": "S4"
                    },
                    "Locale": {
                        "shape": "S4"
                    },
                    "Timezone": {
                        "shape": "S4"
                    },
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOFUCLJDINV3Z6K4MZOXPGDJZ4JYHJHJYSNES52YIMGQ5RC7B46Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetGroupMembershipId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MembershipId",
                    "IdentityStoreId"
                ],
                "members": {
                    "MembershipId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetUserId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "IsMemberInGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MemberId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MemberId": {
                        "shape": "S8"
                    },
                    "GroupIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Results"
                ],
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupId": {},
                                "MemberId": {
                                    "shape": "S8"
                                },
                                "MembershipExists": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListGroupMemberships": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupMemberships"
                ],
                "members": {
                    "GroupMemberships": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListGroupMembershipsForMember": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MemberId": {
                        "shape": "S8"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupMemberships"
                ],
                "members": {
                    "GroupMemberships": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1q",
                        "deprecated": true,
                        "deprecatedMessage": "Using filters with ListGroups API is deprecated, please use GetGroupId API instead."
                    },
                    "SamAccountNameFlag": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "GroupId",
                                "IdentityStoreId"
                            ],
                            "members": {
                                "GroupId": {},
                                "DisplayName": {
                                    "shape": "S3"
                                },
                                "ExternalIds": {
                                    "shape": "Su"
                                },
                                "Description": {
                                    "shape": "S4"
                                },
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOFUCLJDINV3Z6K4MZOXPGDJZ4JYHJHJYSNES52YIMGQ5RC7B46Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1q",
                        "deprecated": true,
                        "deprecatedMessage": "Using filters with ListUsers API is deprecated, please use GetGroupId API instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "UserId",
                                "IdentityStoreId"
                            ],
                            "members": {
                                "UserName": {
                                    "shape": "Sb"
                                },
                                "UserId": {},
                                "ExternalIds": {
                                    "shape": "Su"
                                },
                                "Name": {
                                    "shape": "Sc"
                                },
                                "DisplayName": {
                                    "shape": "S4"
                                },
                                "NickName": {
                                    "shape": "S4"
                                },
                                "ProfileUrl": {
                                    "shape": "S4"
                                },
                                "Emails": {
                                    "shape": "Sd"
                                },
                                "Addresses": {
                                    "shape": "Sg"
                                },
                                "PhoneNumbers": {
                                    "shape": "Si"
                                },
                                "UserType": {
                                    "shape": "S4"
                                },
                                "Title": {
                                    "shape": "S4"
                                },
                                "PreferredLanguage": {
                                    "shape": "S4"
                                },
                                "Locale": {
                                    "shape": "S4"
                                },
                                "Timezone": {
                                    "shape": "S4"
                                },
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOFUCLJDINV3Z6K4MZOXPGDJZ4JYHJHJYSNES52YIMGQ5RC7B46Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Operations"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Operations": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId",
                    "Operations"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {},
                    "Operations": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "S4": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "structure",
            "members": {
                "UserId": {}
            },
            "union": true
        },
        "Sb": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "structure",
            "members": {
                "Formatted": {
                    "shape": "S4"
                },
                "FamilyName": {
                    "shape": "S4"
                },
                "GivenName": {
                    "shape": "S4"
                },
                "MiddleName": {
                    "shape": "S4"
                },
                "HonorificPrefix": {
                    "shape": "S4"
                },
                "HonorificSuffix": {
                    "shape": "S4"
                }
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Value": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Sf": {
            "type": "boolean",
            "sensitive": true
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "StreetAddress": {
                        "shape": "S4"
                    },
                    "Locality": {
                        "shape": "S4"
                    },
                    "Region": {
                        "shape": "S4"
                    },
                    "PostalCode": {
                        "shape": "S4"
                    },
                    "Country": {
                        "shape": "S4"
                    },
                    "Formatted": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Value": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "shape": "Sv"
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "Issuer",
                "Id"
            ],
            "members": {
                "Issuer": {
                    "type": "string",
                    "sensitive": true
                },
                "Id": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "ExternalId": {
                    "shape": "Sv"
                },
                "UniqueAttribute": {
                    "type": "structure",
                    "required": [
                        "AttributePath",
                        "AttributeValue"
                    ],
                    "members": {
                        "AttributePath": {},
                        "AttributeValue": {
                            "shape": "S16"
                        }
                    }
                }
            },
            "union": true
        },
        "S16": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1l": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            }
        },
        "S1q": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath",
                    "AttributeValue"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S4"
                    }
                }
            }
        },
        "S20": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S16"
                    }
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "shape": "Su"
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "ExternalId": {
                    "shape": "Su"
                },
                "UniqueAttribute": {
                    "type": "structure",
                    "required": [
                        "AttributePath",
                        "AttributeValue"
                    ],
                    "members": {
                        "AttributePath": {},
                        "AttributeValue": {
                            "shape": "S15"
                        }
                    }
                }
            },
            "union": true
        },
        "S15": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1k": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            }
        },
        "S1p": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath",
                    "AttributeValue"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S4"
                    }
                }
            }
        },
        "S1z": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S15"
                    }
                }
            }
        }
    }
}