{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "identitystore",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystore",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityStoreService",
        "uid": "identitystore-2019-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
        ]
    },
    "operations": {
        "AddMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Member"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Member": {
                        "type": "structure",
                        "required": [
                            "MemberId"
                        ],
                        "members": {
                            "MemberId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreateBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BearerToken"
                ],
                "members": {
                    "BearerToken": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {},
                    "GroupAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreateIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "UserSchema",
                    "GroupSchema"
                ],
                "members": {
                    "UserSchema": {
                        "shape": "Sz"
                    },
                    "GroupSchema": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreateProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "PasswordMode": {},
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    },
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreateUserFromReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserAttributes": {
                        "shape": "Sf"
                    },
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreateUserWithId": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserName",
                    "Active"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId",
                    "TokenId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {},
                    "TokenId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S26"
                    },
                    "UnprocessedGroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeUserByUniqueAttribute": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AttributeName",
                    "AttributeValue"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AttributeName": {},
                    "AttributeValue": {
                        "type": "structure",
                        "members": {
                            "StringValue": {
                                "shape": "Si"
                            },
                            "NumberValue": {
                                "shape": "Sk"
                            },
                            "DecimalValue": {
                                "shape": "Sm"
                            },
                            "DateTimeValue": {
                                "shape": "Sn"
                            },
                            "BinaryValue": {
                                "shape": "Sl"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S2i"
                    },
                    "UnprocessedUserIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DisableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "EnableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "EnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "GetAuditIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "Token"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "Token": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BearerTokenId": {},
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
[...]
