{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "identitystoreinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystoreinternal",
        "signatureVersion": "v4",
        "signingName": "identitystore",
        "targetPrefix": "AWSIdentityStoreService",
        "uid": "identitystoreinternal-2019-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7T7RHTTGNXTVCOYD7PX4B3F7Q2LT4VLGPWH3OLNRBWRY7MM6HVQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
            "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
            "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
            "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
        ]
    },
    "operations": {
        "AddMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Member"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Member": {
                        "type": "structure",
                        "required": [
                            "MemberId"
                        ],
                        "members": {
                            "MemberId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "CreateBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BearerToken"
                ],
                "members": {
                    "BearerToken": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {},
                    "GroupAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "CreateIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "UserSchema",
                    "GroupSchema"
                ],
                "members": {
                    "UserSchema": {
                        "shape": "Sz"
                    },
                    "GroupSchema": {
                        "shape": "Sz"
                    },
                    "Schemas": {
                        "type": "structure",
                        "members": {
                            "UserSchema": {
                                "shape": "S1b"
                            },
                            "GroupSchema": {
                                "shape": "S1b"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "CreateProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "PasswordMode": {},
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    },
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "CreateUserFromReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserAttributes": {
                        "shape": "Sf"
                    },
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "CreateUserWithId": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserName",
                    "Active"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DeleteBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId",
                    "TokenId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {},
                    "TokenId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DeleteIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DeleteProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S26"
                    },
                    "UnprocessedGroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DescribeIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DescribeProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DescribeUserByUniqueAttribute": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AttributeName",
                    "AttributeValue"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AttributeName": {},
                    "AttributeValue": {
                        "type": "structure",
                        "members": {
                            "StringValue": {
                                "shape": "Si"
                            },
                            "NumberValue": {
                                "shape": "Sk"
                            },
                            "DecimalValue": {
                                "shape": "Sm"
                            },
                            "DateTimeValue": {
                                "shape": "Sn"
                            },
                            "BinaryValue": {
                                "shape": "Sl"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S2i"
                    },
                    "UnprocessedUserIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DisableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "DisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "EnableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "EnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "GetAuditIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "Token"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "Token": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BearerTokenId": {},
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupId": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "GetUserId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserId": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FD7J3H6EHRITTEGFKSE6PF3GCCJV7LTYU3TUM5HTFDICBNOHRAQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO4JFISRAR5D6JTVGPGQ3DQ2L6KNH36CUN7TOSWZXZ5LB7TQOJQQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js"
            ]
        },
        "IsMemberInGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
[...]
