{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "identitystoreinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystoreinternal",
        "signatureVersion": "v4",
        "signingName": "identitystore",
        "targetPrefix": "AWSIdentityStoreService",
        "uid": "identitystoreinternal-2019-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
        ]
    },
    "operations": {
        "AddMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Member"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Member": {
                        "type": "structure",
                        "required": [
                            "MemberId"
                        ],
                        "members": {
                            "MemberId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "CreateBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BearerToken"
                ],
                "members": {
                    "BearerToken": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {},
                    "GroupAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "CreateIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "UserSchema",
                    "GroupSchema"
                ],
                "members": {
                    "UserSchema": {
                        "shape": "Sz"
                    },
                    "GroupSchema": {
                        "shape": "Sz"
                    },
                    "Schemas": {
                        "type": "structure",
                        "members": {
                            "UserSchema": {
                                "shape": "S1b"
                            },
                            "GroupSchema": {
                                "shape": "S1b"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "CreateProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "PasswordMode": {},
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    },
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "CreateUserFromReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserAttributes": {
                        "shape": "Sf"
                    },
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "CreateUserWithId": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserName",
                    "Active"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DeleteBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId",
                    "TokenId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {},
                    "TokenId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DeleteIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DeleteProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S26"
                    },
                    "UnprocessedGroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DescribeIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DescribeProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DescribeUserByUniqueAttribute": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AttributeName",
                    "AttributeValue"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AttributeName": {},
                    "AttributeValue": {
                        "type": "structure",
                        "members": {
                            "StringValue": {
                                "shape": "Si"
                            },
                            "NumberValue": {
                                "shape": "Sk"
                            },
                            "DecimalValue": {
                                "shape": "Sm"
                            },
                            "DateTimeValue": {
                                "shape": "Sn"
                            },
                            "BinaryValue": {
                                "shape": "Sl"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S2i"
                    },
                    "UnprocessedUserIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DisableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "EnableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "EnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "GetAuditIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "Token"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "Token": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BearerTokenId": {},
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
[...]
