{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "identitystore",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystore",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityStoreService",
        "uid": "identitystore-2019-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js"
        ]
    },
    "operations": {
        "AddMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Member"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Member": {
                        "type": "structure",
                        "required": [
                            "MemberId"
                        ],
                        "members": {
                            "MemberId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BearerToken"
                ],
                "members": {
                    "BearerToken": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {},
                    "GroupAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "UserSchema",
                    "GroupSchema"
                ],
                "members": {
                    "UserSchema": {
                        "shape": "Sz"
                    },
                    "GroupSchema": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "PasswordMode": {},
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    },
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateUserFromReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserAttributes": {
                        "shape": "Sf"
                    },
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateUserWithId": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserName",
                    "Active"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId",
                    "TokenId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {},
                    "TokenId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S26"
                    },
                    "UnprocessedGroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeUserByUniqueAttribute": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AttributeName",
                    "AttributeValue"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AttributeName": {},
                    "AttributeValue": {
                        "type": "structure",
                        "members": {
                            "StringValue": {
                                "shape": "Si"
                            },
                            "NumberValue": {
                                "shape": "Sk"
                            },
                            "DecimalValue": {
                                "shape": "Sm"
                            },
                            "DateTimeValue": {
                                "shape": "Sn"
                            },
                            "BinaryValue": {
                                "shape": "Sl"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S2i"
                    },
                    "UnprocessedUserIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DisableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "EnableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "EnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetAuditIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "Token"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "Token": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BearerTokenId": {},
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
[...]
