{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-10-31",
        "endpointPrefix": "identity-sync",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Identity Sync",
        "serviceId": "IdentitySync",
        "signatureVersion": "v4",
        "signingName": "identity-sync",
        "uid": "identitysync-2021-10-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
        ]
    },
    "operations": {
        "CreateSyncFilter": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/filters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "FilterType",
                    "Attributes",
                    "Effect"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "FilterType": {},
                    "Attributes": {},
                    "Effect": {},
                    "DryRun": {
                        "location": "querystring",
                        "locationName": "DryRun",
                        "type": "boolean"
                    },
                    "Augmentation": {
                        "location": "querystring",
                        "locationName": "Augmentation",
                        "type": "boolean"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncFilterId"
                ],
                "members": {
                    "SyncFilterId": {},
                    "DryRun": {
                        "type": "boolean"
                    },
                    "Augmentation": {
                        "type": "boolean"
                    },
                    "Attributes": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CreateSyncProfile": {
            "http": {
                "requestUri": "/v0/profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SourceResourceArn"
                ],
                "members": {
                    "SyncProfileName": {},
                    "SourceResourceArn": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncProfileArn"
                ],
                "members": {
                    "SyncProfileArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CreateSyncTarget": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/targets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName",
                    "TargetResourceArn"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {},
                    "TargetResourceArn": {},
                    "CustomAttributeMappings": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncTargetArn"
                ],
                "members": {
                    "SyncTargetArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeleteSyncFilter": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v0/profiles/{SyncProfileName}/filters/{SyncFilterId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncFilterId"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncFilterId": {
                        "location": "uri",
                        "locationName": "SyncFilterId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeleteSyncProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v0/profiles/{SyncProfileName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeleteSyncTarget": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v0/profiles/{SyncProfileName}/targets/{SyncTargetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {
                        "location": "uri",
                        "locationName": "SyncTargetName"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetSyncProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/v0/profiles/{SyncProfileName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncProfileArn",
                    "SourceResourceArn",
                    "Schedule",
                    "SyncStatus",
                    "CreateTime",
                    "LastUpdateTime"
                ],
                "members": {
                    "SyncProfileName": {},
                    "SyncProfileArn": {},
                    "SourceResourceArn": {},
                    "Schedule": {
                        "type": "structure",
                        "members": {
                            "State": {}
                        }
                    },
                    "SyncStatus": {
                        "shape": "So"
                    },
                    "CreateTime": {
                        "shape": "Sq"
                    },
                    "LastUpdateTime": {
                        "shape": "Sq"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetSyncTarget": {
            "http": {
                "method": "GET",
                "requestUri": "/v0/profiles/{SyncProfileName}/targets/{SyncTargetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {
                        "location": "uri",
                        "locationName": "SyncTargetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncTargetName",
                    "SyncTargetArn",
                    "TargetResourceArn",
                    "SyncProfileName",
                    "CustomAttributeMappings",
                    "CreateTime",
                    "LastUpdateTime",
                    "SyncStatus"
                ],
                "members": {
                    "SyncTargetName": {},
                    "SyncTargetArn": {},
                    "TargetResourceArn": {},
                    "SyncProfileName": {},
                    "CustomAttributeMappings": {
                        "shape": "Se"
                    },
                    "CreateTime": {
                        "shape": "Sq"
                    },
                    "LastUpdateTime": {
                        "shape": "Sq"
                    },
                    "SyncStatus": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListSyncFilters": {
            "http": {
                "method": "GET",
                "requestUri": "/v0/profiles/{SyncProfileName}/filters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "FilterType"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "FilterType": {
                        "location": "querystring",
                        "locationName": "FilterType"
                    },
                    "Effect": {
                        "location": "querystring",
                        "locationName": "Effect"
                    },
                    "Attributes": {
                        "location": "querystring",
                        "locationName": "Attributes"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "Augmentation": {
                        "location": "querystring",
                        "locationName": "Augmentation",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncFilters"
                ],
                "members": {
                    "SyncFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SyncProfileName",
                                "SyncFilterId",
                                "FilterType",
                                "Effect",
                                "Attributes",
                                "CreateTime"
                            ],
                            "members": {
                                "SyncProfileName": {},
                                "SyncFilterId": {},
                                "FilterType": {},
                                "Effect": {},
                                "Attributes": {},
                                "CreateTime": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "StartSync": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/startSync",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "StopSync": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/stopSync",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "UpdateSyncTarget": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v0/profiles/{SyncProfileName}/targets/{SyncTargetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {
                        "location": "uri",
                        "locationName": "SyncTargetName"
                    },
                    "CustomAttributeMappings": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncTargetArn"
                ],
                "members": {
                    "SyncTargetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "structure",
            "members": {
                "User": {
                    "shape": "Sf"
                },
                "Group": {
                    "shape": "Sf"
                }
            }
        },
        "Sf": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "So": {
            "type": "structure",
            "members": {
                "ErrorCodes": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sq": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}