{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-06-15",
        "endpointPrefix": "identitystore",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystore",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityStore",
        "uid": "identitystore-2020-06-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
            "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
            "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js",
            "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
        ]
    },
    "operations": {
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {
                        "shape": "S3"
                    },
                    "Description": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "CreateGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MembershipId",
                    "IdentityStoreId"
                ],
                "members": {
                    "MembershipId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "Sb"
                    },
                    "Name": {
                        "shape": "Sc"
                    },
                    "DisplayName": {
                        "shape": "S4"
                    },
                    "NickName": {
                        "shape": "S4"
                    },
                    "ProfileUrl": {
                        "shape": "S4"
                    },
                    "Emails": {
                        "shape": "Sd"
                    },
                    "Addresses": {
                        "shape": "Sg"
                    },
                    "PhoneNumbers": {
                        "shape": "Si"
                    },
                    "UserType": {
                        "shape": "S4"
                    },
                    "Title": {
                        "shape": "S4"
                    },
                    "PreferredLanguage": {
                        "shape": "S4"
                    },
                    "Locale": {
                        "shape": "S4"
                    },
                    "Timezone": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "DeleteGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "SamAccountNameFlag": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "DisplayName": {
                        "shape": "S3"
                    },
                    "ExternalIds": {
                        "shape": "Su"
                    },
                    "Description": {
                        "shape": "S4"
                    },
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "DescribeGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserName": {
                        "shape": "Sb"
                    },
                    "UserId": {},
                    "ExternalIds": {
                        "shape": "Su"
                    },
                    "Name": {
                        "shape": "Sc"
                    },
                    "DisplayName": {
                        "shape": "S4"
                    },
                    "NickName": {
                        "shape": "S4"
                    },
                    "ProfileUrl": {
                        "shape": "S4"
                    },
                    "Emails": {
                        "shape": "Sd"
                    },
                    "Addresses": {
                        "shape": "Sg"
                    },
                    "PhoneNumbers": {
                        "shape": "Si"
                    },
                    "UserType": {
                        "shape": "S4"
                    },
                    "Title": {
                        "shape": "S4"
                    },
                    "PreferredLanguage": {
                        "shape": "S4"
                    },
                    "Locale": {
                        "shape": "S4"
                    },
                    "Timezone": {
                        "shape": "S4"
                    },
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "GetGroupMembershipId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MembershipId",
                    "IdentityStoreId"
                ],
                "members": {
                    "MembershipId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "GetUserId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "IsMemberInGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MemberId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MemberId": {
                        "shape": "S8"
                    },
                    "GroupIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Results"
                ],
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupId": {},
                                "MemberId": {
                                    "shape": "S8"
                                },
                                "MembershipExists": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "ListGroupMemberships": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupMemberships"
                ],
                "members": {
                    "GroupMemberships": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "ListGroupMembershipsForMember": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MemberId": {
                        "shape": "S8"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupMemberships"
                ],
                "members": {
                    "GroupMemberships": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "ListGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1q",
                        "deprecated": true,
                        "deprecatedMessage": "Using filters with ListGroups API is deprecated, please use GetGroupId API instead."
                    },
                    "SamAccountNameFlag": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "GroupId",
                                "IdentityStoreId"
                            ],
                            "members": {
                                "GroupId": {},
                                "DisplayName": {
                                    "shape": "S3"
                                },
                                "ExternalIds": {
                                    "shape": "Su"
                                },
                                "Description": {
                                    "shape": "S4"
                                },
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "ListUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1q",
                        "deprecated": true,
                        "deprecatedMessage": "Using filters with ListUsers API is deprecated, please use GetGroupId API instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "UserId",
                                "IdentityStoreId"
                            ],
                            "members": {
                                "UserName": {
                                    "shape": "Sb"
                                },
                                "UserId": {},
                                "ExternalIds": {
                                    "shape": "Su"
                                },
                                "Name": {
                                    "shape": "Sc"
                                },
                                "DisplayName": {
                                    "shape": "S4"
                                },
                                "NickName": {
                                    "shape": "S4"
                                },
                                "ProfileUrl": {
                                    "shape": "S4"
                                },
                                "Emails": {
                                    "shape": "Sd"
                                },
                                "Addresses": {
                                    "shape": "Sg"
                                },
                                "PhoneNumbers": {
                                    "shape": "Si"
                                },
                                "UserType": {
                                    "shape": "S4"
                                },
                                "Title": {
                                    "shape": "S4"
                                },
                                "PreferredLanguage": {
                                    "shape": "S4"
                                },
                                "Locale": {
                                    "shape": "S4"
                                },
                                "Timezone": {
                                    "shape": "S4"
                                },
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "UpdateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Operations"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Operations": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "UpdateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId",
                    "Operations"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {},
                    "Operations": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWQHLRSUHWVRIW6B3RMPPDWFWWG2FTWYSHDZLJCCKNKI4D4Y7VA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJWLH5JQ3BKJIP7BN75FZITJE2CCHH6W7QDBB4DJ73SVHCRQYQQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "S4": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "structure",
            "members": {
                "UserId": {}
            },
            "union": true
        },
        "Sb": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "structure",
            "members": {
                "Formatted": {
                    "shape": "S4"
                },
                "FamilyName": {
                    "shape": "S4"
                },
                "GivenName": {
                    "shape": "S4"
                },
                "MiddleName": {
                    "shape": "S4"
                },
                "HonorificPrefix": {
                    "shape": "S4"
                },
                "HonorificSuffix": {
                    "shape": "S4"
                }
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Value": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Sf": {
            "type": "boolean",
            "sensitive": true
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "StreetAddress": {
                        "shape": "S4"
                    },
                    "Locality": {
                        "shape": "S4"
                    },
                    "Region": {
                        "shape": "S4"
                    },
                    "PostalCode": {
                        "shape": "S4"
                    },
                    "Country": {
                        "shape": "S4"
                    },
                    "Formatted": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Value": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "shape": "Sv"
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "Issuer",
                "Id"
            ],
            "members": {
                "Issuer": {
                    "type": "string",
                    "sensitive": true
                },
                "Id": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "ExternalId": {
                    "shape": "Sv"
                },
                "UniqueAttribute": {
                    "type": "structure",
                    "required": [
                        "AttributePath",
                        "AttributeValue"
                    ],
                    "members": {
                        "AttributePath": {},
                        "AttributeValue": {
                            "shape": "S16"
                        }
                    }
                }
            },
            "union": true
        },
        "S16": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1l": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            }
        },
        "S1q": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath",
                    "AttributeValue"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S4"
                    }
                }
            }
        },
        "S20": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S16"
                    }
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "shape": "Su"
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "ExternalId": {
                    "shape": "Su"
                },
                "UniqueAttribute": {
                    "type": "structure",
                    "required": [
                        "AttributePath",
                        "AttributeValue"
                    ],
                    "members": {
                        "AttributePath": {},
                        "AttributeValue": {
                            "shape": "S15"
                        }
                    }
                }
            },
            "union": true
        },
        "S15": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1k": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            }
        },
        "S1p": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath",
                    "AttributeValue"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S4"
                    }
                }
            }
        },
        "S1z": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S15"
                    }
                }
            }
        }
    }
}