{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-06-15",
        "endpointPrefix": "identitystore",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystore",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityStore",
        "uid": "identitystore-2020-06-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BWNJUAMRZRN3IP3PDJEE32YPULSJQVW7YHSKAEVWWPLQXCGS4UEA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js"
        ]
    },
    "operations": {
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {
                        "shape": "S3"
                    },
                    "Description": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "CreateGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MembershipId",
                    "IdentityStoreId"
                ],
                "members": {
                    "MembershipId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "Sb"
                    },
                    "Name": {
                        "shape": "Sc"
                    },
                    "DisplayName": {
                        "shape": "S4"
                    },
                    "NickName": {
                        "shape": "S4"
                    },
                    "ProfileUrl": {
                        "shape": "S4"
                    },
                    "Emails": {
                        "shape": "Sd"
                    },
                    "Addresses": {
                        "shape": "Sg"
                    },
                    "PhoneNumbers": {
                        "shape": "Si"
                    },
                    "UserType": {
                        "shape": "S4"
                    },
                    "Title": {
                        "shape": "S4"
                    },
                    "PreferredLanguage": {
                        "shape": "S4"
                    },
                    "Locale": {
                        "shape": "S4"
                    },
                    "Timezone": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "DeleteGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "SamAccountNameFlag": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "DisplayName": {
                        "shape": "S3"
                    },
                    "ExternalIds": {
                        "shape": "Su"
                    },
                    "Description": {
                        "shape": "S4"
                    },
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWNJUAMRZRN3IP3PDJEE32YPULSJQVW7YHSKAEVWWPLQXCGS4UEA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js"
            ]
        },
        "DescribeGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserName": {
                        "shape": "Sb"
                    },
                    "UserId": {},
                    "ExternalIds": {
                        "shape": "Su"
                    },
                    "Name": {
                        "shape": "Sc"
                    },
                    "DisplayName": {
                        "shape": "S4"
                    },
                    "NickName": {
                        "shape": "S4"
                    },
                    "ProfileUrl": {
                        "shape": "S4"
                    },
                    "Emails": {
                        "shape": "Sd"
                    },
                    "Addresses": {
                        "shape": "Sg"
                    },
                    "PhoneNumbers": {
                        "shape": "Si"
                    },
                    "UserType": {
                        "shape": "S4"
                    },
                    "Title": {
                        "shape": "S4"
                    },
                    "PreferredLanguage": {
                        "shape": "S4"
                    },
                    "Locale": {
                        "shape": "S4"
                    },
                    "Timezone": {
                        "shape": "S4"
                    },
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWNJUAMRZRN3IP3PDJEE32YPULSJQVW7YHSKAEVWWPLQXCGS4UEA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "GetGroupMembershipId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MembershipId",
                    "IdentityStoreId"
                ],
                "members": {
                    "MembershipId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "GetUserId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "IsMemberInGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MemberId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MemberId": {
                        "shape": "S8"
                    },
                    "GroupIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Results"
                ],
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupId": {},
                                "MemberId": {
                                    "shape": "S8"
                                },
                                "MembershipExists": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "ListGroupMemberships": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupMemberships"
                ],
                "members": {
                    "GroupMemberships": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "ListGroupMembershipsForMember": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MemberId": {
                        "shape": "S8"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupMemberships"
                ],
                "members": {
                    "GroupMemberships": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "ListGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1q",
                        "deprecated": true,
                        "deprecatedMessage": "Using filters with ListGroups API is deprecated, please use GetGroupId API instead."
                    },
                    "SamAccountNameFlag": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "GroupId",
                                "IdentityStoreId"
                            ],
                            "members": {
                                "GroupId": {},
                                "DisplayName": {
                                    "shape": "S3"
                                },
                                "ExternalIds": {
                                    "shape": "Su"
                                },
                                "Description": {
                                    "shape": "S4"
                                },
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWNJUAMRZRN3IP3PDJEE32YPULSJQVW7YHSKAEVWWPLQXCGS4UEA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js"
            ]
        },
        "ListUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1q",
                        "deprecated": true,
                        "deprecatedMessage": "Using filters with ListUsers API is deprecated, please use GetGroupId API instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "UserId",
                                "IdentityStoreId"
                            ],
                            "members": {
                                "UserName": {
                                    "shape": "Sb"
                                },
                                "UserId": {},
                                "ExternalIds": {
                                    "shape": "Su"
                                },
                                "Name": {
                                    "shape": "Sc"
                                },
                                "DisplayName": {
                                    "shape": "S4"
                                },
                                "NickName": {
                                    "shape": "S4"
                                },
                                "ProfileUrl": {
                                    "shape": "S4"
                                },
                                "Emails": {
                                    "shape": "Sd"
                                },
                                "Addresses": {
                                    "shape": "Sg"
                                },
                                "PhoneNumbers": {
                                    "shape": "Si"
                                },
                                "UserType": {
                                    "shape": "S4"
                                },
                                "Title": {
                                    "shape": "S4"
                                },
                                "PreferredLanguage": {
                                    "shape": "S4"
                                },
                                "Locale": {
                                    "shape": "S4"
                                },
                                "Timezone": {
                                    "shape": "S4"
                                },
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWNJUAMRZRN3IP3PDJEE32YPULSJQVW7YHSKAEVWWPLQXCGS4UEA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js"
            ]
        },
        "UpdateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Operations"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Operations": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "UpdateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId",
                    "Operations"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {},
                    "Operations": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76224U2GAB25V5FKTRRHVCNJMKQM6RIM6TX4GEMJWNK5346MKIEQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6WAQFZZ7LLX6A3QKVFVXDJ6BNGCWLSITJH7C7GVO2D24XE2QQRQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4DNLC6MMWXTFGVTN27CWTIQM7TYXN7D5EAQBYLVI6T7TVRKYOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEOJVTN7JKC7YJBVJBXBCH4M5GS5K25E6XXQARNZYTZGSOULAA2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "S4": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "structure",
            "members": {
                "UserId": {}
            },
            "union": true
        },
        "Sb": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "structure",
            "members": {
                "Formatted": {
                    "shape": "S4"
                },
                "FamilyName": {
                    "shape": "S4"
                },
                "GivenName": {
                    "shape": "S4"
                },
                "MiddleName": {
                    "shape": "S4"
                },
                "HonorificPrefix": {
                    "shape": "S4"
                },
                "HonorificSuffix": {
                    "shape": "S4"
                }
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Value": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Sf": {
            "type": "boolean",
            "sensitive": true
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "StreetAddress": {
                        "shape": "S4"
                    },
                    "Locality": {
                        "shape": "S4"
                    },
                    "Region": {
                        "shape": "S4"
                    },
                    "PostalCode": {
                        "shape": "S4"
                    },
                    "Country": {
                        "shape": "S4"
                    },
                    "Formatted": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Value": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "shape": "Sv"
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "Issuer",
                "Id"
            ],
            "members": {
                "Issuer": {
                    "type": "string",
                    "sensitive": true
                },
                "Id": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "ExternalId": {
                    "shape": "Sv"
                },
                "UniqueAttribute": {
                    "type": "structure",
                    "required": [
                        "AttributePath",
                        "AttributeValue"
                    ],
                    "members": {
                        "AttributePath": {},
                        "AttributeValue": {
                            "shape": "S16"
                        }
                    }
                }
            },
            "union": true
        },
        "S16": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1l": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            }
        },
        "S1q": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath",
                    "AttributeValue"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S4"
                    }
                }
            }
        },
        "S20": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S16"
                    }
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "shape": "Su"
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "ExternalId": {
                    "shape": "Su"
                },
                "UniqueAttribute": {
                    "type": "structure",
                    "required": [
                        "AttributePath",
                        "AttributeValue"
                    ],
                    "members": {
                        "AttributePath": {},
                        "AttributeValue": {
                            "shape": "S15"
                        }
                    }
                }
            },
            "union": true
        },
        "S15": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1k": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            }
        },
        "S1p": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath",
                    "AttributeValue"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S4"
                    }
                }
            }
        },
        "S1z": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S15"
                    }
                }
            }
        }
    }
}