{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-03-31",
        "endpointPrefix": "directoryservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "IdentityCentralConsole",
        "serviceId": "identityCentralConsole",
        "signatureVersion": "v4",
        "signingName": "directoryservice",
        "uid": "identitycentralconsole-2015-03-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
        ]
    },
    "operations": {
        "DescribeGroups": {
            "http": {
                "requestUri": "/warpdrive/describeGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "GroupIds": {
                                "type": "list",
                                "member": {}
                            },
                            "GroupAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "Groups": {
                        "shape": "Sl"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DescribeUsers": {
            "http": {
                "requestUri": "/warpdrive/describeUsers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "UserIds": {
                                "type": "list",
                                "member": {}
                            },
                            "UserAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "Users": {
                        "shape": "Sy"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListRegisteredApplications": {
            "http": {
                "requestUri": "/galaxy/listRegisteredApplications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Applications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "ApplicationName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "SearchGroups": {
            "http": {
                "requestUri": "/warpdrive/searchGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken",
                            "SearchString"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "SearchString": {},
                            "SearchAttributes": {
                                "shape": "S8"
                            },
                            "GroupAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            },
                            "GroupNameExactMatchForIdentityPool": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Groups": {
                        "shape": "Sl"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "SearchUsers": {
            "http": {
                "requestUri": "/warpdrive/searchUsers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken",
                            "SearchString"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "SearchString": {},
                            "SearchAttributes": {
                                "shape": "S8"
                            },
                            "UserAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Users": {
                        "shape": "Sy"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "structure",
            "members": {
                "TargetIndex": {
                    "type": "integer"
                },
                "BeforeCount": {
                    "type": "integer"
                },
                "AfterCount": {
                    "type": "integer"
                },
                "ContentCount": {
                    "type": "integer"
                },
                "Critical": {
                    "type": "boolean"
                },
                "MaxResults": {
                    "type": "integer"
                },
                "PagingCookie": {},
                "GreaterThanOrEqual": {}
            }
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "GroupId": {},
                    "GroupName": {},
                    "GroupARN": {},
                    "UniqueGroupARN": {},
                    "GroupAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AttributeName": {},
                                "AttributeValue": {}
                            }
                        }
                    }
                }
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "TargetIndex": {
                    "type": "integer"
                },
                "ContentCount": {
                    "type": "integer"
                },
                "PagingCookie": {}
            }
        },
        "Sy": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "UserId": {},
                    "UserName": {},
                    "UserARN": {},
                    "UniqueUserARN": {},
                    "UserAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AttributeName": {},
                                "AttributeValue": {}
                            }
                        }
                    }
                }
            }
        }
    }
}