{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-10-31",
        "endpointPrefix": "identity-sync",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Identity Sync",
        "serviceId": "IdentitySync",
        "signatureVersion": "v4",
        "signingName": "identity-sync",
        "uid": "identitysync-2021-10-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
        ]
    },
    "operations": {
        "CreateSyncFilter": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/filters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "FilterType",
                    "Attributes",
                    "Effect"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "FilterType": {},
                    "Attributes": {},
                    "Effect": {},
                    "DryRun": {
                        "location": "querystring",
                        "locationName": "DryRun",
                        "type": "boolean"
                    },
                    "Augmentation": {
                        "location": "querystring",
                        "locationName": "Augmentation",
                        "type": "boolean"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncFilterId"
                ],
                "members": {
                    "SyncFilterId": {},
                    "DryRun": {
                        "type": "boolean"
                    },
                    "Augmentation": {
                        "type": "boolean"
                    },
                    "Attributes": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateSyncProfile": {
            "http": {
                "requestUri": "/v0/profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SourceResourceArn"
                ],
                "members": {
                    "SyncProfileName": {},
                    "SourceResourceArn": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncProfileArn"
                ],
                "members": {
                    "SyncProfileArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateSyncTarget": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/targets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName",
                    "TargetResourceArn"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {},
                    "TargetResourceArn": {},
                    "CustomAttributeMappings": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncTargetArn"
                ],
                "members": {
                    "SyncTargetArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DeleteSyncFilter": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v0/profiles/{SyncProfileName}/filters/{SyncFilterId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncFilterId"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncFilterId": {
                        "location": "uri",
                        "locationName": "SyncFilterId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DeleteSyncProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v0/profiles/{SyncProfileName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DeleteSyncTarget": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v0/profiles/{SyncProfileName}/targets/{SyncTargetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {
                        "location": "uri",
                        "locationName": "SyncTargetName"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "GetSyncProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/v0/profiles/{SyncProfileName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncProfileArn",
                    "SourceResourceArn",
                    "Schedule",
                    "SyncStatus",
                    "CreateTime",
                    "LastUpdateTime"
                ],
                "members": {
                    "SyncProfileName": {},
                    "SyncProfileArn": {},
                    "SourceResourceArn": {},
                    "Schedule": {
                        "type": "structure",
                        "members": {
                            "State": {}
                        }
                    },
                    "SyncStatus": {
                        "shape": "So"
                    },
                    "CreateTime": {
                        "shape": "Sq"
                    },
                    "LastUpdateTime": {
                        "shape": "Sq"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "GetSyncTarget": {
            "http": {
                "method": "GET",
                "requestUri": "/v0/profiles/{SyncProfileName}/targets/{SyncTargetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {
                        "location": "uri",
                        "locationName": "SyncTargetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncTargetName",
                    "SyncTargetArn",
                    "TargetResourceArn",
                    "SyncProfileName",
                    "CustomAttributeMappings",
                    "CreateTime",
                    "LastUpdateTime",
                    "SyncStatus"
                ],
                "members": {
                    "SyncTargetName": {},
                    "SyncTargetArn": {},
                    "TargetResourceArn": {},
                    "SyncProfileName": {},
                    "CustomAttributeMappings": {
                        "shape": "Se"
                    },
                    "CreateTime": {
                        "shape": "Sq"
                    },
                    "LastUpdateTime": {
                        "shape": "Sq"
                    },
                    "SyncStatus": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "ListSyncFilters": {
            "http": {
                "method": "GET",
                "requestUri": "/v0/profiles/{SyncProfileName}/filters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "FilterType"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "FilterType": {
                        "location": "querystring",
                        "locationName": "FilterType"
                    },
                    "Effect": {
                        "location": "querystring",
                        "locationName": "Effect"
                    },
                    "Attributes": {
                        "location": "querystring",
                        "locationName": "Attributes"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "Augmentation": {
                        "location": "querystring",
                        "locationName": "Augmentation",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncFilters"
                ],
                "members": {
                    "SyncFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SyncProfileName",
                                "SyncFilterId",
                                "FilterType",
                                "Effect",
                                "Attributes",
                                "CreateTime"
                            ],
                            "members": {
                                "SyncProfileName": {},
                                "SyncFilterId": {},
                                "FilterType": {},
                                "Effect": {},
                                "Attributes": {},
                                "CreateTime": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "StartSync": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/startSync",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "StopSync": {
            "http": {
                "requestUri": "/v0/profiles/{SyncProfileName}/stopSync",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "UpdateSyncTarget": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v0/profiles/{SyncProfileName}/targets/{SyncTargetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SyncProfileName",
                    "SyncTargetName"
                ],
                "members": {
                    "SyncProfileName": {
                        "location": "uri",
                        "locationName": "SyncProfileName"
                    },
                    "SyncTargetName": {
                        "location": "uri",
                        "locationName": "SyncTargetName"
                    },
                    "CustomAttributeMappings": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SyncTargetArn"
                ],
                "members": {
                    "SyncTargetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "structure",
            "members": {
                "User": {
                    "shape": "Sf"
                },
                "Group": {
                    "shape": "Sf"
                }
            }
        },
        "Sf": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "So": {
            "type": "structure",
            "members": {
                "ErrorCodes": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sq": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}