{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-03-31",
        "endpointPrefix": "directoryservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "IdentityCentralConsole",
        "serviceId": "identityCentralConsole",
        "signatureVersion": "v4",
        "signingName": "directoryservice",
        "uid": "identitycentralconsole-2015-03-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
        ]
    },
    "operations": {
        "DescribeGroups": {
            "http": {
                "requestUri": "/warpdrive/describeGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "GroupIds": {
                                "type": "list",
                                "member": {}
                            },
                            "GroupAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "Groups": {
                        "shape": "Sl"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DescribeUsers": {
            "http": {
                "requestUri": "/warpdrive/describeUsers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "UserIds": {
                                "type": "list",
                                "member": {}
                            },
                            "UserAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "Users": {
                        "shape": "Sy"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "ListRegisteredApplications": {
            "http": {
                "requestUri": "/galaxy/listRegisteredApplications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Applications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "ApplicationName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "SearchGroups": {
            "http": {
                "requestUri": "/warpdrive/searchGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken",
                            "SearchString"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "SearchString": {},
                            "SearchAttributes": {
                                "shape": "S8"
                            },
                            "GroupAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            },
                            "GroupNameExactMatchForIdentityPool": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Groups": {
                        "shape": "Sl"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "SearchUsers": {
            "http": {
                "requestUri": "/warpdrive/searchUsers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken",
                            "SearchString"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "SearchString": {},
                            "SearchAttributes": {
                                "shape": "S8"
                            },
                            "UserAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Users": {
                        "shape": "Sy"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "structure",
            "members": {
                "TargetIndex": {
                    "type": "integer"
                },
                "BeforeCount": {
                    "type": "integer"
                },
                "AfterCount": {
                    "type": "integer"
                },
                "ContentCount": {
                    "type": "integer"
                },
                "Critical": {
                    "type": "boolean"
                },
                "MaxResults": {
                    "type": "integer"
                },
                "PagingCookie": {},
                "GreaterThanOrEqual": {}
            }
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "GroupId": {},
                    "GroupName": {},
                    "GroupARN": {},
                    "UniqueGroupARN": {},
                    "GroupAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AttributeName": {},
                                "AttributeValue": {}
                            }
                        }
                    }
                }
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "TargetIndex": {
                    "type": "integer"
                },
                "ContentCount": {
                    "type": "integer"
                },
                "PagingCookie": {}
            }
        },
        "Sy": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "UserId": {},
                    "UserName": {},
                    "UserARN": {},
                    "UniqueUserARN": {},
                    "UserAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AttributeName": {},
                                "AttributeValue": {}
                            }
                        }
                    }
                }
            }
        }
    }
}