{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-06-15",
        "endpointPrefix": "identitystore",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystore",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityStore",
        "uid": "identitystore-2020-06-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
        ]
    },
    "operations": {
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {
                        "shape": "S3"
                    },
                    "Description": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "CreateGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MembershipId",
                    "IdentityStoreId"
                ],
                "members": {
                    "MembershipId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "Sb"
                    },
                    "Name": {
                        "shape": "Sc"
                    },
                    "DisplayName": {
                        "shape": "S4"
                    },
                    "NickName": {
                        "shape": "S4"
                    },
                    "ProfileUrl": {
                        "shape": "S4"
                    },
                    "Emails": {
                        "shape": "Sd"
                    },
                    "Addresses": {
                        "shape": "Sg"
                    },
                    "PhoneNumbers": {
                        "shape": "Si"
                    },
                    "UserType": {
                        "shape": "S4"
                    },
                    "Title": {
                        "shape": "S4"
                    },
                    "PreferredLanguage": {
                        "shape": "S4"
                    },
                    "Locale": {
                        "shape": "S4"
                    },
                    "Timezone": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "DeleteGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "SamAccountNameFlag": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "DisplayName": {
                        "shape": "S3"
                    },
                    "ExternalIds": {
                        "shape": "Su"
                    },
                    "Description": {
                        "shape": "S4"
                    },
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DescribeGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserName": {
                        "shape": "Sb"
                    },
                    "UserId": {},
                    "ExternalIds": {
                        "shape": "Su"
                    },
                    "Name": {
                        "shape": "Sc"
                    },
                    "DisplayName": {
                        "shape": "S4"
                    },
                    "NickName": {
                        "shape": "S4"
                    },
                    "ProfileUrl": {
                        "shape": "S4"
                    },
                    "Emails": {
                        "shape": "Sd"
                    },
                    "Addresses": {
                        "shape": "Sg"
                    },
                    "PhoneNumbers": {
                        "shape": "Si"
                    },
                    "UserType": {
                        "shape": "S4"
                    },
                    "Title": {
                        "shape": "S4"
                    },
                    "PreferredLanguage": {
                        "shape": "S4"
                    },
                    "Locale": {
                        "shape": "S4"
                    },
                    "Timezone": {
                        "shape": "S4"
                    },
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "GetGroupMembershipId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MembershipId",
                    "IdentityStoreId"
                ],
                "members": {
                    "MembershipId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "GetUserId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "IsMemberInGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MemberId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MemberId": {
                        "shape": "S8"
                    },
                    "GroupIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Results"
                ],
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupId": {},
                                "MemberId": {
                                    "shape": "S8"
                                },
                                "MembershipExists": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "ListGroupMemberships": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupMemberships"
                ],
                "members": {
                    "GroupMemberships": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "ListGroupMembershipsForMember": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MemberId": {
                        "shape": "S8"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupMemberships"
                ],
                "members": {
                    "GroupMemberships": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "ListGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1q",
                        "deprecated": true,
                        "deprecatedMessage": "Using filters with ListGroups API is deprecated, please use GetGroupId API instead."
                    },
                    "SamAccountNameFlag": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "GroupId",
                                "IdentityStoreId"
                            ],
                            "members": {
                                "GroupId": {},
                                "DisplayName": {
                                    "shape": "S3"
                                },
                                "ExternalIds": {
                                    "shape": "Su"
                                },
                                "Description": {
                                    "shape": "S4"
                                },
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ListUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1q",
                        "deprecated": true,
                        "deprecatedMessage": "Using filters with ListUsers API is deprecated, please use GetGroupId API instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "UserId",
                                "IdentityStoreId"
                            ],
                            "members": {
                                "UserName": {
                                    "shape": "Sb"
                                },
                                "UserId": {},
                                "ExternalIds": {
                                    "shape": "Su"
                                },
                                "Name": {
                                    "shape": "Sc"
                                },
                                "DisplayName": {
                                    "shape": "S4"
                                },
                                "NickName": {
                                    "shape": "S4"
                                },
                                "ProfileUrl": {
                                    "shape": "S4"
                                },
                                "Emails": {
                                    "shape": "Sd"
                                },
                                "Addresses": {
                                    "shape": "Sg"
                                },
                                "PhoneNumbers": {
                                    "shape": "Si"
                                },
                                "UserType": {
                                    "shape": "S4"
                                },
                                "Title": {
                                    "shape": "S4"
                                },
                                "PreferredLanguage": {
                                    "shape": "S4"
                                },
                                "Locale": {
                                    "shape": "S4"
                                },
                                "Timezone": {
                                    "shape": "S4"
                                },
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "UpdateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Operations"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Operations": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "UpdateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId",
                    "Operations"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {},
                    "Operations": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEXHYXA47WZUTTU5FQ6EA5JCSQCX5KEWFF3XQCLZPQA52VRBSIXA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "S4": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "structure",
            "members": {
                "UserId": {}
            },
            "union": true
        },
        "Sb": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "structure",
            "members": {
                "Formatted": {
                    "shape": "S4"
                },
                "FamilyName": {
                    "shape": "S4"
                },
                "GivenName": {
                    "shape": "S4"
                },
                "MiddleName": {
                    "shape": "S4"
                },
                "HonorificPrefix": {
                    "shape": "S4"
                },
                "HonorificSuffix": {
                    "shape": "S4"
                }
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Value": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Sf": {
            "type": "boolean",
            "sensitive": true
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "StreetAddress": {
                        "shape": "S4"
                    },
                    "Locality": {
                        "shape": "S4"
                    },
                    "Region": {
                        "shape": "S4"
                    },
                    "PostalCode": {
                        "shape": "S4"
                    },
                    "Country": {
                        "shape": "S4"
                    },
                    "Formatted": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Value": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "shape": "Sv"
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "Issuer",
                "Id"
            ],
            "members": {
                "Issuer": {
                    "type": "string",
                    "sensitive": true
                },
                "Id": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "ExternalId": {
                    "shape": "Sv"
                },
                "UniqueAttribute": {
                    "type": "structure",
                    "required": [
                        "AttributePath",
                        "AttributeValue"
                    ],
                    "members": {
                        "AttributePath": {},
                        "AttributeValue": {
                            "shape": "S16"
                        }
                    }
                }
            },
            "union": true
        },
        "S16": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1l": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            }
        },
        "S1q": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath",
                    "AttributeValue"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S4"
                    }
                }
            }
        },
        "S20": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S16"
                    }
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "shape": "Su"
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "ExternalId": {
                    "shape": "Su"
                },
                "UniqueAttribute": {
                    "type": "structure",
                    "required": [
                        "AttributePath",
                        "AttributeValue"
                    ],
                    "members": {
                        "AttributePath": {},
                        "AttributeValue": {
                            "shape": "S15"
                        }
                    }
                }
            },
            "union": true
        },
        "S15": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1k": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            }
        },
        "S1p": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath",
                    "AttributeValue"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S4"
                    }
                }
            }
        },
        "S1z": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S15"
                    }
                }
            }
        }
    }
}