{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-06-15",
        "endpointPrefix": "identitystore",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystore",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityStore",
        "uid": "identitystore-2020-06-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P5GQ5EM7OFHIQ7TD76RBB4ICPKH5QJLPYCCOMAZG4Q4LZSQHWEDA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
        ]
    },
    "operations": {
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {
                        "shape": "S3"
                    },
                    "Description": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "CreateGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MembershipId",
                    "IdentityStoreId"
                ],
                "members": {
                    "MembershipId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "Sb"
                    },
                    "Name": {
                        "shape": "Sc"
                    },
                    "DisplayName": {
                        "shape": "S4"
                    },
                    "NickName": {
                        "shape": "S4"
                    },
                    "ProfileUrl": {
                        "shape": "S4"
                    },
                    "Emails": {
                        "shape": "Sd"
                    },
                    "Addresses": {
                        "shape": "Sg"
                    },
                    "PhoneNumbers": {
                        "shape": "Si"
                    },
                    "UserType": {
                        "shape": "S4"
                    },
                    "Title": {
                        "shape": "S4"
                    },
                    "PreferredLanguage": {
                        "shape": "S4"
                    },
                    "Locale": {
                        "shape": "S4"
                    },
                    "Timezone": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "DeleteGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "SamAccountNameFlag": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "DisplayName": {
                        "shape": "S3"
                    },
                    "ExternalIds": {
                        "shape": "Su"
                    },
                    "Description": {
                        "shape": "S4"
                    },
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5GQ5EM7OFHIQ7TD76RBB4ICPKH5QJLPYCCOMAZG4Q4LZSQHWEDA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DescribeGroupMembership": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MembershipId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserName": {
                        "shape": "Sb"
                    },
                    "UserId": {},
                    "ExternalIds": {
                        "shape": "Su"
                    },
                    "Name": {
                        "shape": "Sc"
                    },
                    "DisplayName": {
                        "shape": "S4"
                    },
                    "NickName": {
                        "shape": "S4"
                    },
                    "ProfileUrl": {
                        "shape": "S4"
                    },
                    "Emails": {
                        "shape": "Sd"
                    },
                    "Addresses": {
                        "shape": "Sg"
                    },
                    "PhoneNumbers": {
                        "shape": "Si"
                    },
                    "UserType": {
                        "shape": "S4"
                    },
                    "Title": {
                        "shape": "S4"
                    },
                    "PreferredLanguage": {
                        "shape": "S4"
                    },
                    "Locale": {
                        "shape": "S4"
                    },
                    "Timezone": {
                        "shape": "S4"
                    },
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5GQ5EM7OFHIQ7TD76RBB4ICPKH5QJLPYCCOMAZG4Q4LZSQHWEDA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "IdentityStoreId"
                ],
                "members": {
                    "GroupId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "GetGroupMembershipId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MembershipId",
                    "IdentityStoreId"
                ],
                "members": {
                    "MembershipId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "GetUserId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "IsMemberInGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MemberId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MemberId": {
                        "shape": "S8"
                    },
                    "GroupIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Results"
                ],
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupId": {},
                                "MemberId": {
                                    "shape": "S8"
                                },
                                "MembershipExists": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "ListGroupMemberships": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupMemberships"
                ],
                "members": {
                    "GroupMemberships": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "ListGroupMembershipsForMember": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "MemberId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MemberId": {
                        "shape": "S8"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "GroupMemberships"
                ],
                "members": {
                    "GroupMemberships": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "ListGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1q",
                        "deprecated": true,
                        "deprecatedMessage": "Using filters with ListGroups API is deprecated, please use GetGroupId API instead."
                    },
                    "SamAccountNameFlag": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "GroupId",
                                "IdentityStoreId"
                            ],
                            "members": {
                                "GroupId": {},
                                "DisplayName": {
                                    "shape": "S3"
                                },
                                "ExternalIds": {
                                    "shape": "Su"
                                },
                                "Description": {
                                    "shape": "S4"
                                },
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5GQ5EM7OFHIQ7TD76RBB4ICPKH5QJLPYCCOMAZG4Q4LZSQHWEDA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "ListUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1q",
                        "deprecated": true,
                        "deprecatedMessage": "Using filters with ListUsers API is deprecated, please use GetGroupId API instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "UserId",
                                "IdentityStoreId"
                            ],
                            "members": {
                                "UserName": {
                                    "shape": "Sb"
                                },
                                "UserId": {},
                                "ExternalIds": {
                                    "shape": "Su"
                                },
                                "Name": {
                                    "shape": "Sc"
                                },
                                "DisplayName": {
                                    "shape": "S4"
                                },
                                "NickName": {
                                    "shape": "S4"
                                },
                                "ProfileUrl": {
                                    "shape": "S4"
                                },
                                "Emails": {
                                    "shape": "Sd"
                                },
                                "Addresses": {
                                    "shape": "Sg"
                                },
                                "PhoneNumbers": {
                                    "shape": "Si"
                                },
                                "UserType": {
                                    "shape": "S4"
                                },
                                "Title": {
                                    "shape": "S4"
                                },
                                "PreferredLanguage": {
                                    "shape": "S4"
                                },
                                "Locale": {
                                    "shape": "S4"
                                },
                                "Timezone": {
                                    "shape": "S4"
                                },
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5GQ5EM7OFHIQ7TD76RBB4ICPKH5QJLPYCCOMAZG4Q4LZSQHWEDA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "UpdateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Operations"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Operations": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        },
        "UpdateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId",
                    "Operations"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {},
                    "Operations": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLSMH4PVEWOK34PTF26TJZKKNLM3V6W7UL72SIIRJ7NLYABL5WQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVAO2J6KJQKBEEGJVT5B2KHRB6MWKMTN4XANRJIU3NPXSWWRXPFA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXSZP5AFWNQIAPX65FJQNDORXWWZOHSTCPJQ2YYISOJOUVUW2IKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "S4": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "structure",
            "members": {
                "UserId": {}
            },
            "union": true
        },
        "Sb": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "structure",
            "members": {
                "Formatted": {
                    "shape": "S4"
                },
                "FamilyName": {
                    "shape": "S4"
                },
                "GivenName": {
                    "shape": "S4"
                },
                "MiddleName": {
                    "shape": "S4"
                },
                "HonorificPrefix": {
                    "shape": "S4"
                },
                "HonorificSuffix": {
                    "shape": "S4"
                }
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Value": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Sf": {
            "type": "boolean",
            "sensitive": true
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "StreetAddress": {
                        "shape": "S4"
                    },
                    "Locality": {
                        "shape": "S4"
                    },
                    "Region": {
                        "shape": "S4"
                    },
                    "PostalCode": {
                        "shape": "S4"
                    },
                    "Country": {
                        "shape": "S4"
                    },
                    "Formatted": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Value": {
                        "shape": "S4"
                    },
                    "Type": {
                        "shape": "S4"
                    },
                    "Primary": {
                        "shape": "Sf"
                    }
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "shape": "Sv"
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "Issuer",
                "Id"
            ],
            "members": {
                "Issuer": {
                    "type": "string",
                    "sensitive": true
                },
                "Id": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "ExternalId": {
                    "shape": "Sv"
                },
                "UniqueAttribute": {
                    "type": "structure",
                    "required": [
                        "AttributePath",
                        "AttributeValue"
                    ],
                    "members": {
                        "AttributePath": {},
                        "AttributeValue": {
                            "shape": "S16"
                        }
                    }
                }
            },
            "union": true
        },
        "S16": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1l": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            }
        },
        "S1q": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath",
                    "AttributeValue"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S4"
                    }
                }
            }
        },
        "S20": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S16"
                    }
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "shape": "Su"
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "ExternalId": {
                    "shape": "Su"
                },
                "UniqueAttribute": {
                    "type": "structure",
                    "required": [
                        "AttributePath",
                        "AttributeValue"
                    ],
                    "members": {
                        "AttributePath": {},
                        "AttributeValue": {
                            "shape": "S15"
                        }
                    }
                }
            },
            "union": true
        },
        "S15": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1k": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "MembershipId": {},
                    "GroupId": {},
                    "MemberId": {
                        "shape": "S8"
                    }
                }
            }
        },
        "S1p": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath",
                    "AttributeValue"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S4"
                    }
                }
            }
        },
        "S1z": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AttributePath"
                ],
                "members": {
                    "AttributePath": {},
                    "AttributeValue": {
                        "shape": "S15"
                    }
                }
            }
        }
    }
}