{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "identitystore",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Identity Store",
        "serviceId": "identitystore",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityStoreService",
        "uid": "identitystore-2019-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
        ]
    },
    "operations": {
        "AddMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId",
                    "Member"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {},
                    "Member": {
                        "type": "structure",
                        "required": [
                            "MemberId"
                        ],
                        "members": {
                            "MemberId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BearerToken"
                ],
                "members": {
                    "BearerToken": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "DisplayName": {},
                    "GroupAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "UserSchema",
                    "GroupSchema"
                ],
                "members": {
                    "UserSchema": {
                        "shape": "Sz"
                    },
                    "GroupSchema": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "PasswordMode": {},
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    },
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateUserFromReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserAttributes": {
                        "shape": "Sf"
                    },
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateUserWithId": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserName",
                    "Active"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserName": {
                        "shape": "S1i"
                    },
                    "Active": {
                        "type": "boolean"
                    },
                    "UserAttributes": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DeleteBearerToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "TenantId",
                    "TokenId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "TenantId": {},
                    "TokenId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DeleteIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DeleteProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DescribeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Group"
                ],
                "members": {
                    "Group": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "GroupIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "GroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S26"
                    },
                    "UnprocessedGroupIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DescribeIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityStore": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DescribeProvisioningTenant": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "IdentityStoreId"
                ],
                "members": {
                    "TenantId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProvisioningTenant": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DescribeUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DescribeUserByUniqueAttribute": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AttributeName",
                    "AttributeValue"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AttributeName": {},
                    "AttributeValue": {
                        "type": "structure",
                        "members": {
                            "StringValue": {
                                "shape": "Si"
                            },
                            "NumberValue": {
                                "shape": "Sk"
                            },
                            "DecimalValue": {
                                "shape": "Sm"
                            },
                            "DateTimeValue": {
                                "shape": "Sn"
                            },
                            "BinaryValue": {
                                "shape": "Sl"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "User"
                ],
                "members": {
                    "User": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserIds"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserIds": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S2i"
                    },
                    "UnprocessedUserIds": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DisableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "DisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "EnableIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "EnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "UserId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "GetAuditIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "Token"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "Token": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BearerTokenId": {},
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "GetGroupId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "AlternateIdentifier"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "AlternateIdentifier": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
[...]
