{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-03-31",
        "endpointPrefix": "directoryservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "IdentityCentralConsole",
        "serviceId": "identityCentralConsole",
        "signatureVersion": "v4",
        "signingName": "directoryservice",
        "uid": "identitycentralconsole-2015-03-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
        ]
    },
    "operations": {
        "DescribeGroups": {
            "http": {
                "requestUri": "/warpdrive/describeGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "GroupIds": {
                                "type": "list",
                                "member": {}
                            },
                            "GroupAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "Groups": {
                        "shape": "Sl"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DescribeUsers": {
            "http": {
                "requestUri": "/warpdrive/describeUsers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "UserIds": {
                                "type": "list",
                                "member": {}
                            },
                            "UserAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "Users": {
                        "shape": "Sy"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ListRegisteredApplications": {
            "http": {
                "requestUri": "/galaxy/listRegisteredApplications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Applications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "ApplicationName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "SearchGroups": {
            "http": {
                "requestUri": "/warpdrive/searchGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken",
                            "SearchString"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "SearchString": {},
                            "SearchAttributes": {
                                "shape": "S8"
                            },
                            "GroupAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            },
                            "GroupNameExactMatchForIdentityPool": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Groups": {
                        "shape": "Sl"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "SearchUsers": {
            "http": {
                "requestUri": "/warpdrive/searchUsers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Request": {
                        "type": "structure",
                        "required": [
                            "AccessToken",
                            "SearchString"
                        ],
                        "members": {
                            "AccessToken": {
                                "shape": "S5"
                            },
                            "Realm": {},
                            "SearchString": {},
                            "SearchAttributes": {
                                "shape": "S8"
                            },
                            "UserAttributes": {
                                "shape": "S8"
                            },
                            "PagingOption": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Users": {
                        "shape": "Sy"
                    },
                    "PagingResponse": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "structure",
            "members": {
                "TargetIndex": {
                    "type": "integer"
                },
                "BeforeCount": {
                    "type": "integer"
                },
                "AfterCount": {
                    "type": "integer"
                },
                "ContentCount": {
                    "type": "integer"
                },
                "Critical": {
                    "type": "boolean"
                },
                "MaxResults": {
                    "type": "integer"
                },
                "PagingCookie": {},
                "GreaterThanOrEqual": {}
            }
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "GroupId": {},
                    "GroupName": {},
                    "GroupARN": {},
                    "UniqueGroupARN": {},
                    "GroupAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AttributeName": {},
                                "AttributeValue": {}
                            }
                        }
                    }
                }
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "TargetIndex": {
                    "type": "integer"
                },
                "ContentCount": {
                    "type": "integer"
                },
                "PagingCookie": {}
            }
        },
        "Sy": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "UserId": {},
                    "UserName": {},
                    "UserARN": {},
                    "UniqueUserARN": {},
                    "UserAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AttributeName": {},
                                "AttributeValue": {}
                            }
                        }
                    }
                }
            }
        }
    }
}