{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "imagebuilder",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "imagebuilder",
        "serviceFullName": "EC2 Image Builder",
        "serviceId": "imagebuilder",
        "signatureVersion": "v4",
        "signingName": "imagebuilder",
        "uid": "imagebuilder-2019-12-02",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelImageCreation": {
            "http": {
                "method": "PUT",
                "requestUri": "/CancelImageCreation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imageBuildVersionArn",
                    "clientToken"
                ],
                "members": {
                    "imageBuildVersionArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "imageBuildVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateComponent": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateComponent"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "semanticVersion",
                    "platform",
                    "clientToken"
                ],
                "members": {
                    "name": {},
                    "semanticVersion": {},
                    "description": {},
                    "changeDescription": {},
                    "platform": {},
                    "supportedOsVersions": {
                        "shape": "Sa"
                    },
                    "data": {},
                    "uri": {},
                    "kmsKeyId": {},
                    "tags": {
                        "shape": "Se"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "billingAttributes": {
                        "type": "list",
                        "member": {}
                    },
                    "obfuscate": {
                        "type": "boolean"
                    },
                    "publisher": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "componentBuildVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateContainerRecipe": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateContainerRecipe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "containerType",
                    "name",
                    "semanticVersion",
                    "components",
                    "parentImage",
                    "targetRepository",
                    "clientToken"
                ],
                "members": {
                    "containerType": {},
                    "name": {},
                    "description": {},
                    "semanticVersion": {},
                    "components": {
                        "shape": "Sl"
                    },
                    "instanceConfiguration": {
                        "shape": "St"
                    },
                    "dockerfileTemplateData": {},
                    "dockerfileTemplateUri": {},
                    "platformOverride": {},
                    "imageOsVersionOverride": {},
                    "parentImage": {},
                    "tags": {
                        "shape": "Se"
                    },
                    "workingDirectory": {},
                    "targetRepository": {
                        "shape": "S14"
                    },
                    "kmsKeyId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "containerRecipeArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDistributionConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateDistributionConfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "distributions",
                    "clientToken"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "distributions": {
                        "shape": "S19"
                    },
                    "tags": {
                        "shape": "Se"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "distributionConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateImage": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateImage"
            },
            "input": {
                "type": "structure",
                "required": [
                    "infrastructureConfigurationArn",
                    "clientToken"
                ],
                "members": {
                    "imageRecipeArn": {},
                    "containerRecipeArn": {},
                    "distributionConfigurationArn": {},
                    "infrastructureConfigurationArn": {},
                    "imageTestsConfiguration": {
                        "shape": "S25"
                    },
                    "enhancedImageMetadataEnabled": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "Se"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "imageScanningConfiguration": {
                        "shape": "S27"
                    },
                    "workflows": {
                        "shape": "S2c"
                    },
                    "inventoryConfiguration": {
                        "shape": "S2c"
                    },
                    "executionRole": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "imageBuildVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateImagePipeline": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateImagePipeline"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "infrastructureConfigurationArn",
                    "clientToken"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "imageRecipeArn": {},
                    "containerRecipeArn": {},
                    "infrastructureConfigurationArn": {},
                    "distributionConfigurationArn": {},
                    "imageTestsConfiguration": {
                        "shape": "S25"
                    },
                    "enhancedImageMetadataEnabled": {
                        "type": "boolean"
                    },
                    "schedule": {
                        "shape": "S29"
                    },
                    "status": {},
                    "tags": {
                        "shape": "Se"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "imageScanningConfiguration": {
                        "shape": "S27"
                    },
                    "workflows": {
                        "shape": "S2c"
                    },
                    "inventoryConfiguration": {
                        "shape": "S2c"
                    },
                    "executionRole": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "imagePipelineArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateImageRecipe": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateImageRecipe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "semanticVersion",
                    "components",
                    "parentImage",
                    "clientToken"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "semanticVersion": {},
                    "components": {
                        "shape": "Sl"
                    },
                    "parentImage": {},
                    "blockDeviceMappings": {
                        "shape": "Su"
                    },
                    "tags": {
                        "shape": "Se"
                    },
                    "workingDirectory": {},
                    "additionalInstanceConfiguration": {
                        "shape": "S2g"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "imageRecipeArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateInfrastructureConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateInfrastructureConfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "instanceProfileName",
                    "clientToken"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "instanceTypes": {
                        "shape": "S2l"
                    },
                    "instanceProfileName": {},
                    "securityGroupIds": {
                        "shape": "S2o"
                    },
                    "subnetId": {},
                    "logging": {
                        "shape": "S2p"
                    },
                    "keyPair": {},
                    "terminateInstanceOnFailure": {
                        "type": "boolean"
                    },
                    "snsTopicArn": {},
                    "resourceTags": {
                        "shape": "S2s"
                    },
                    "instanceMetadataOptions": {
                        "shape": "S2t"
                    },
                    "tags": {
                        "shape": "Se"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "placement": {
                        "shape": "S36"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "infrastructureConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteComponent": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteComponent"
            },
            "input": {
                "type": "structure",
                "required": [
                    "componentBuildVersionArn"
                ],
                "members": {
                    "componentBuildVersionArn": {
                        "location": "querystring",
                        "locationName": "componentBuildVersionArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "componentBuildVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteContainerRecipe": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteContainerRecipe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "containerRecipeArn"
                ],
                "members": {
                    "containerRecipeArn": {
                        "location": "querystring",
                        "locationName": "containerRecipeArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "containerRecipeArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDistributionConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteDistributionConfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "distributionConfigurationArn"
                ],
                "members": {
                    "distributionConfigurationArn": {
                        "location": "querystring",
                        "locationName": "distributionConfigurationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "distributionConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteImage": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteImage"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imageBuildVersionArn"
                ],
                "members": {
                    "imageBuildVersionArn": {
                        "location": "querystring",
                        "locationName": "imageBuildVersionArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "imageBuildVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteImagePipeline": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteImagePipeline"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imagePipelineArn"
                ],
                "members": {
                    "imagePipelineArn": {
                        "location": "querystring",
                        "locationName": "imagePipelineArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "imagePipelineArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteImageRecipe": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteImageRecipe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imageRecipeArn"
                ],
                "members": {
                    "imageRecipeArn": {
                        "location": "querystring",
                        "locationName": "imageRecipeArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "imageRecipeArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteInfrastructureConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteInfrastructureConfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "infrastructureConfigurationArn"
                ],
                "members": {
                    "infrastructureConfigurationArn": {
                        "location": "querystring",
                        "locationName": "infrastructureConfigurationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "infrastructureConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetComponent": {
            "http": {
                "method": "GET",
                "requestUri": "/GetComponent"
            },
            "input": {
                "type": "structure",
                "required": [
                    "componentBuildVersionArn"
                ],
                "members": {
                    "componentBuildVersionArn": {
                        "location": "querystring",
                        "locationName": "componentBuildVersionArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "component": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "name": {},
                            "version": {},
                            "description": {},
                            "changeDescription": {},
                            "type": {},
                            "platform": {},
                            "supportedOsVersions": {
                                "shape": "Sa"
                            },
                            "state": {
                                "shape": "S3g"
                            },
                            "parameters": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "name",
                                        "type"
                                    ],
                                    "members": {
                                        "name": {},
                                        "type": {},
                                        "defaultValue": {
                                            "shape": "Sr"
                                        },
                                        "description": {}
                                    }
                                }
                            },
                            "owner": {},
                            "data": {},
                            "kmsKeyId": {},
                            "encrypted": {
                                "type": "boolean"
                            },
                            "dateCreated": {},
                            "tags": {
                                "shape": "Se"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetComponentPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/GetComponentPolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "componentArn"
                ],
                "members": {
                    "componentArn": {
                        "location": "querystring",
                        "locationName": "componentArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetContainerRecipe": {
            "http": {
                "method": "GET",
                "requestUri": "/GetContainerRecipe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "containerRecipeArn"
                ],
                "members": {
                    "containerRecipeArn": {
                        "location": "querystring",
                        "locationName": "containerRecipeArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "containerRecipe": {
                        "shape": "S3t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetContainerRecipePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/GetContainerRecipePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "containerRecipeArn"
                ],
                "members": {
                    "containerRecipeArn": {
                        "location": "querystring",
                        "locationName": "containerRecipeArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDistributionConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDistributionConfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "distributionConfigurationArn"
                ],
                "members": {
                    "distributionConfigurationArn": {
                        "location": "querystring",
                        "locationName": "distributionConfigurationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "distributionConfiguration": {
                        "shape": "S3z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetImage": {
            "http": {
                "method": "GET",
                "requestUri": "/GetImage"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imageBuildVersionArn"
                ],
                "members": {
                    "imageBuildVersionArn": {
                        "location": "querystring",
                        "locationName": "imageBuildVersionArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "image": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "type": {},
                            "name": {},
                            "version": {},
                            "platform": {},
                            "enhancedImageMetadataEnabled": {
                                "type": "boolean"
                            },
                            "osVersion": {},
                            "state": {
                                "shape": "S46"
                            },
                            "imageRecipe": {
                                "shape": "S48"
                            },
                            "containerRecipe": {
                                "shape": "S3t"
                            },
                            "sourcePipelineName": {},
                            "sourcePipelineArn": {},
                            "infrastructureConfiguration": {
                                "shape": "S4a"
                            },
                            "distributionConfiguration": {
                                "shape": "S3z"
                            },
                            "imageTestsConfiguration": {
                                "shape": "S25"
                            },
                            "dateCreated": {},
                            "outputResources": {
                                "shape": "S4b"
                            },
                            "tags": {
                                "shape": "Se"
                            },
                            "buildType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetImagePipeline": {
            "http": {
                "method": "GET",
                "requestUri": "/GetImagePipeline"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imagePipelineArn"
                ],
                "members": {
                    "imagePipelineArn": {
                        "location": "querystring",
                        "locationName": "imagePipelineArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "imagePipeline": {
                        "shape": "S4j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetImagePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/GetImagePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imageArn"
                ],
                "members": {
                    "imageArn": {
                        "location": "querystring",
                        "locationName": "imageArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
[...]
