{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "imagebuilder",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "imagebuilder",
        "serviceFullName": "EC2 Image Builder",
        "serviceId": "imagebuilder",
        "signatureVersion": "v4",
        "signingName": "imagebuilder",
        "uid": "imagebuilder-2019-12-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
        ]
    },
    "operations": {
        "CancelImageCreation": {
            "http": {
                "method": "PUT",
                "requestUri": "/CancelImageCreation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imageBuildVersionArn",
                    "clientToken"
                ],
                "members": {
                    "imageBuildVersionArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "imageBuildVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "CreateComponent": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateComponent"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "semanticVersion",
                    "platform",
                    "clientToken"
                ],
                "members": {
                    "name": {},
                    "semanticVersion": {},
                    "description": {},
                    "changeDescription": {},
                    "platform": {},
                    "supportedOsVersions": {
                        "shape": "Sa"
                    },
                    "data": {},
                    "uri": {},
                    "kmsKeyId": {},
                    "tags": {
                        "shape": "Se"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "billingAttributes": {
                        "type": "list",
                        "member": {}
                    },
                    "obfuscate": {
                        "type": "boolean"
                    },
                    "publisher": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "componentBuildVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "CreateContainerRecipe": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateContainerRecipe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "containerType",
                    "name",
                    "semanticVersion",
                    "components",
                    "parentImage",
                    "targetRepository",
                    "clientToken"
                ],
                "members": {
                    "containerType": {},
                    "name": {},
                    "description": {},
                    "semanticVersion": {},
                    "components": {
                        "shape": "Sl"
                    },
                    "instanceConfiguration": {
                        "shape": "St"
                    },
                    "dockerfileTemplateData": {},
                    "dockerfileTemplateUri": {},
                    "platformOverride": {},
                    "imageOsVersionOverride": {},
                    "parentImage": {},
                    "tags": {
                        "shape": "Se"
                    },
                    "workingDirectory": {},
                    "targetRepository": {
                        "shape": "S14"
                    },
                    "kmsKeyId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "containerRecipeArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateDistributionConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateDistributionConfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "distributions",
                    "clientToken"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "distributions": {
                        "shape": "S19"
                    },
                    "tags": {
                        "shape": "Se"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "distributionConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "CreateImage": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateImage"
            },
            "input": {
                "type": "structure",
                "required": [
                    "infrastructureConfigurationArn",
                    "clientToken"
                ],
                "members": {
                    "imageRecipeArn": {},
                    "containerRecipeArn": {},
                    "distributionConfigurationArn": {},
                    "infrastructureConfigurationArn": {},
                    "imageTestsConfiguration": {
                        "shape": "S25"
                    },
                    "enhancedImageMetadataEnabled": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "Se"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "imageScanningConfiguration": {
                        "shape": "S27"
                    },
                    "workflows": {
                        "shape": "S2c"
                    },
                    "inventoryConfiguration": {
                        "shape": "S2c"
                    },
                    "executionRole": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "imageBuildVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "CreateImagePipeline": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateImagePipeline"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "infrastructureConfigurationArn",
                    "clientToken"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "imageRecipeArn": {},
                    "containerRecipeArn": {},
                    "infrastructureConfigurationArn": {},
                    "distributionConfigurationArn": {},
                    "imageTestsConfiguration": {
                        "shape": "S25"
                    },
                    "enhancedImageMetadataEnabled": {
                        "type": "boolean"
                    },
                    "schedule": {
                        "shape": "S29"
                    },
                    "status": {},
                    "tags": {
                        "shape": "Se"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "imageScanningConfiguration": {
                        "shape": "S27"
                    },
                    "workflows": {
                        "shape": "S2c"
                    },
                    "inventoryConfiguration": {
                        "shape": "S2c"
                    },
                    "executionRole": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "imagePipelineArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "CreateImageRecipe": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateImageRecipe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "semanticVersion",
                    "components",
                    "parentImage",
                    "clientToken"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "semanticVersion": {},
                    "components": {
                        "shape": "Sl"
                    },
                    "parentImage": {},
                    "blockDeviceMappings": {
                        "shape": "Su"
                    },
                    "tags": {
                        "shape": "Se"
                    },
                    "workingDirectory": {},
                    "additionalInstanceConfiguration": {
                        "shape": "S2g"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "imageRecipeArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "CreateInfrastructureConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateInfrastructureConfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "instanceProfileName",
                    "clientToken"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "instanceTypes": {
                        "shape": "S2l"
                    },
                    "instanceProfileName": {},
                    "securityGroupIds": {
                        "shape": "S2o"
                    },
                    "subnetId": {},
                    "logging": {
                        "shape": "S2p"
                    },
                    "keyPair": {},
                    "terminateInstanceOnFailure": {
                        "type": "boolean"
                    },
                    "snsTopicArn": {},
                    "resourceTags": {
                        "shape": "S2s"
                    },
                    "instanceMetadataOptions": {
                        "shape": "S2t"
                    },
                    "tags": {
                        "shape": "Se"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "placement": {
                        "shape": "S36"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "clientToken": {},
                    "infrastructureConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "DeleteComponent": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteComponent"
            },
            "input": {
                "type": "structure",
                "required": [
                    "componentBuildVersionArn"
                ],
                "members": {
                    "componentBuildVersionArn": {
                        "location": "querystring",
                        "locationName": "componentBuildVersionArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "componentBuildVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "DeleteContainerRecipe": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteContainerRecipe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "containerRecipeArn"
                ],
                "members": {
                    "containerRecipeArn": {
                        "location": "querystring",
                        "locationName": "containerRecipeArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "containerRecipeArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteDistributionConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteDistributionConfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "distributionConfigurationArn"
                ],
                "members": {
                    "distributionConfigurationArn": {
                        "location": "querystring",
                        "locationName": "distributionConfigurationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "distributionConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "DeleteImage": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteImage"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imageBuildVersionArn"
                ],
                "members": {
                    "imageBuildVersionArn": {
                        "location": "querystring",
                        "locationName": "imageBuildVersionArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "imageBuildVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "DeleteImagePipeline": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteImagePipeline"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imagePipelineArn"
                ],
                "members": {
                    "imagePipelineArn": {
                        "location": "querystring",
                        "locationName": "imagePipelineArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "imagePipelineArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "DeleteImageRecipe": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteImageRecipe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imageRecipeArn"
                ],
                "members": {
                    "imageRecipeArn": {
                        "location": "querystring",
                        "locationName": "imageRecipeArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "imageRecipeArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "DeleteInfrastructureConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteInfrastructureConfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "infrastructureConfigurationArn"
                ],
                "members": {
                    "infrastructureConfigurationArn": {
                        "location": "querystring",
                        "locationName": "infrastructureConfigurationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "infrastructureConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "GetComponent": {
            "http": {
                "method": "GET",
                "requestUri": "/GetComponent"
            },
            "input": {
                "type": "structure",
                "required": [
                    "componentBuildVersionArn"
                ],
                "members": {
                    "componentBuildVersionArn": {
                        "location": "querystring",
                        "locationName": "componentBuildVersionArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "component": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "name": {},
                            "version": {},
                            "description": {},
                            "changeDescription": {},
                            "type": {},
                            "platform": {},
                            "supportedOsVersions": {
                                "shape": "Sa"
                            },
                            "state": {
                                "shape": "S3g"
                            },
                            "parameters": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "name",
                                        "type"
                                    ],
                                    "members": {
                                        "name": {},
                                        "type": {},
                                        "defaultValue": {
                                            "shape": "Sr"
                                        },
                                        "description": {}
                                    }
                                }
                            },
                            "owner": {},
                            "data": {},
                            "kmsKeyId": {},
                            "encrypted": {
                                "type": "boolean"
                            },
                            "dateCreated": {},
                            "tags": {
                                "shape": "Se"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "GetComponentPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/GetComponentPolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "componentArn"
                ],
                "members": {
                    "componentArn": {
                        "location": "querystring",
                        "locationName": "componentArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "GetContainerRecipe": {
            "http": {
                "method": "GET",
                "requestUri": "/GetContainerRecipe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "containerRecipeArn"
                ],
                "members": {
                    "containerRecipeArn": {
                        "location": "querystring",
                        "locationName": "containerRecipeArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "containerRecipe": {
                        "shape": "S3t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetContainerRecipePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/GetContainerRecipePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "containerRecipeArn"
                ],
                "members": {
                    "containerRecipeArn": {
                        "location": "querystring",
                        "locationName": "containerRecipeArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetDistributionConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDistributionConfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "distributionConfigurationArn"
                ],
                "members": {
                    "distributionConfigurationArn": {
                        "location": "querystring",
                        "locationName": "distributionConfigurationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "distributionConfiguration": {
                        "shape": "S3z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "GetImage": {
            "http": {
                "method": "GET",
                "requestUri": "/GetImage"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imageBuildVersionArn"
                ],
                "members": {
                    "imageBuildVersionArn": {
                        "location": "querystring",
                        "locationName": "imageBuildVersionArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "image": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "type": {},
                            "name": {},
                            "version": {},
                            "platform": {},
                            "enhancedImageMetadataEnabled": {
                                "type": "boolean"
                            },
                            "osVersion": {},
                            "state": {
                                "shape": "S46"
                            },
                            "imageRecipe": {
                                "shape": "S48"
                            },
                            "containerRecipe": {
                                "shape": "S3t"
                            },
                            "sourcePipelineName": {},
                            "sourcePipelineArn": {},
                            "infrastructureConfiguration": {
                                "shape": "S4a"
                            },
                            "distributionConfiguration": {
                                "shape": "S3z"
                            },
                            "imageTestsConfiguration": {
                                "shape": "S25"
                            },
                            "dateCreated": {},
                            "outputResources": {
                                "shape": "S4b"
                            },
                            "tags": {
                                "shape": "Se"
                            },
                            "buildType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "GetImagePipeline": {
            "http": {
                "method": "GET",
                "requestUri": "/GetImagePipeline"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imagePipelineArn"
                ],
                "members": {
                    "imagePipelineArn": {
                        "location": "querystring",
                        "locationName": "imagePipelineArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "imagePipeline": {
                        "shape": "S4j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "GetImagePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/GetImagePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "imageArn"
                ],
                "members": {
                    "imageArn": {
                        "location": "querystring",
                        "locationName": "imageArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
[...]
