{
    "version": "2.0",
    "metadata": {
        "uid": "importexport-2010-06-01",
        "apiVersion": "2010-06-01",
        "endpointPrefix": "importexport",
        "globalEndpoint": "importexport.amazonaws.com",
        "serviceFullName": "AWS Import/Export",
        "serviceId": "ImportExport",
        "signatureVersion": "v2",
        "xmlNamespace": "http://importexport.amazonaws.com/doc/2010-06-01/",
        "protocol": "query",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "CancelJob": {
            "http": {
                "requestUri": "/?Operation=CancelJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "APIVersion": {}
                }
            },
            "output": {
                "resultWrapper": "CancelJobResult",
                "type": "structure",
                "members": {
                    "Success": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateJob": {
            "http": {
                "requestUri": "/?Operation=CreateJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "JobType",
                    "Manifest",
                    "ValidateOnly"
                ],
                "members": {
                    "JobType": {},
                    "Manifest": {},
                    "ManifestAddendum": {},
                    "ValidateOnly": {
                        "type": "boolean"
                    },
                    "APIVersion": {}
                }
            },
            "output": {
                "resultWrapper": "CreateJobResult",
                "type": "structure",
                "members": {
                    "JobId": {},
                    "JobType": {},
                    "Signature": {},
                    "SignatureFileContents": {},
                    "WarningMessage": {},
                    "ArtifactList": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetShippingLabel": {
            "http": {
                "requestUri": "/?Operation=GetShippingLabel"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobIds"
                ],
                "members": {
                    "jobIds": {
                        "type": "list",
                        "member": {}
                    },
                    "name": {},
                    "company": {},
                    "phoneNumber": {},
                    "country": {},
                    "stateOrProvince": {},
                    "city": {},
                    "postalCode": {},
                    "street1": {},
                    "street2": {},
                    "street3": {},
                    "APIVersion": {}
                }
            },
            "output": {
                "resultWrapper": "GetShippingLabelResult",
                "type": "structure",
                "members": {
                    "ShippingLabelURL": {},
                    "Warning": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetStatus": {
            "http": {
                "requestUri": "/?Operation=GetStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "APIVersion": {}
                }
            },
            "output": {
                "resultWrapper": "GetStatusResult",
                "type": "structure",
                "members": {
                    "JobId": {},
                    "JobType": {},
                    "LocationCode": {},
                    "LocationMessage": {},
                    "ProgressCode": {},
                    "ProgressMessage": {},
                    "Carrier": {},
                    "TrackingNumber": {},
                    "LogBucket": {},
                    "LogKey": {},
                    "ErrorCount": {
                        "type": "integer"
                    },
                    "Signature": {},
                    "SignatureFileContents": {},
                    "CurrentManifest": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "ArtifactList": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListJobs": {
            "http": {
                "requestUri": "/?Operation=ListJobs"
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxJobs": {
                        "type": "integer"
                    },
                    "Marker": {},
                    "APIVersion": {}
                }
            },
            "output": {
                "resultWrapper": "ListJobsResult",
                "type": "structure",
                "members": {
                    "Jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "JobId": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "IsCanceled": {
                                    "type": "boolean"
                                },
                                "JobType": {}
                            }
                        }
                    },
                    "IsTruncated": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateJob": {
            "http": {
                "requestUri": "/?Operation=UpdateJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "JobId",
                    "Manifest",
                    "JobType",
                    "ValidateOnly"
                ],
                "members": {
                    "JobId": {},
                    "Manifest": {},
                    "JobType": {},
                    "ValidateOnly": {
                        "type": "boolean"
                    },
                    "APIVersion": {}
                }
            },
            "output": {
                "resultWrapper": "UpdateJobResult",
                "type": "structure",
                "members": {
                    "Success": {
                        "type": "boolean"
                    },
                    "WarningMessage": {},
                    "ArtifactList": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sf": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "URL": {}
                }
            }
        }
    },
    "examples": {}
}