{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-06-08",
        "endpointPrefix": "inspector2",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Inspector2",
        "serviceFullName": "Inspector2",
        "serviceId": "Inspector2",
        "signatureVersion": "v4",
        "signingName": "inspector2",
        "uid": "inspector2-2020-06-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
        ]
    },
    "operations": {
        "AssociateMember": {
            "http": {
                "requestUri": "/members/associate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "BatchGetAccountStatus": {
            "http": {
                "requestUri": "/status/batch/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accounts"
                ],
                "members": {
                    "accounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "accountId",
                                "resourceState",
                                "state"
                            ],
                            "members": {
                                "accountId": {},
                                "resourceState": {
                                    "type": "structure",
                                    "required": [
                                        "ec2",
                                        "ecr"
                                    ],
                                    "members": {
                                        "ec2": {
                                            "shape": "Sa"
                                        },
                                        "ecr": {
                                            "shape": "Sa"
                                        },
                                        "lambda": {
                                            "shape": "Sa"
                                        }
                                    }
                                },
                                "state": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "failedAccounts": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "BatchGetFreeTrialInfo": {
            "http": {
                "requestUri": "/freetrialinfo/batchget",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountIds"
                ],
                "members": {
                    "accountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accounts",
                    "failedAccounts"
                ],
                "members": {
                    "accounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "accountId",
                                "freeTrialInfo"
                            ],
                            "members": {
                                "accountId": {},
                                "freeTrialInfo": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "end",
                                            "start",
                                            "status",
                                            "type"
                                        ],
                                        "members": {
                                            "end": {
                                                "type": "timestamp"
                                            },
                                            "start": {
                                                "type": "timestamp"
                                            },
                                            "status": {},
                                            "type": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "failedAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "accountId",
                                "code",
                                "message"
                            ],
                            "members": {
                                "accountId": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "CancelFindingsReport": {
            "http": {
                "requestUri": "/reporting/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "reportId"
                ],
                "members": {
                    "reportId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "reportId"
                ],
                "members": {
                    "reportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "CreateFilter": {
            "http": {
                "requestUri": "/filters/create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "action",
                    "filterCriteria",
                    "name"
                ],
                "members": {
                    "action": {},
                    "description": {},
                    "filterCriteria": {
                        "shape": "S12"
                    },
                    "name": {},
                    "reason": {},
                    "tags": {
                        "shape": "S1o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "CreateFindingsReport": {
            "http": {
                "requestUri": "/reporting/create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "reportFormat",
                    "s3Destination"
                ],
                "members": {
                    "filterCriteria": {
                        "shape": "S12"
                    },
                    "reportFormat": {},
                    "s3Destination": {
                        "shape": "S1t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "reportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "DeleteFilter": {
            "http": {
                "requestUri": "/filters/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "DescribeOrganizationConfiguration": {
            "http": {
                "requestUri": "/organizationconfiguration/describe",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "autoEnable": {
                        "shape": "S1z"
                    },
                    "maxAccountLimitReached": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "Disable": {
            "http": {
                "requestUri": "/disable",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "S5"
                    },
                    "resourceTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accounts"
                ],
                "members": {
                    "accounts": {
                        "shape": "S25"
                    },
                    "failedAccounts": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "DisableDelegatedAdminAccount": {
            "http": {
                "requestUri": "/delegatedadminaccounts/disable",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "delegatedAdminAccountId"
                ],
                "members": {
                    "delegatedAdminAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "delegatedAdminAccountId"
                ],
                "members": {
                    "delegatedAdminAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "DisassociateMember": {
            "http": {
                "requestUri": "/members/disassociate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "Enable": {
            "http": {
                "requestUri": "/enable",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceTypes"
                ],
                "members": {
                    "accountIds": {
                        "shape": "S5"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "resourceTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accounts"
                ],
                "members": {
                    "accounts": {
                        "shape": "S25"
                    },
                    "failedAccounts": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "EnableDelegatedAdminAccount": {
            "http": {
                "requestUri": "/delegatedadminaccounts/enable",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "delegatedAdminAccountId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "delegatedAdminAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "delegatedAdminAccountId"
                ],
                "members": {
                    "delegatedAdminAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "GetConfiguration": {
            "http": {
                "requestUri": "/configuration/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ecrConfiguration": {
                        "type": "structure",
                        "members": {
                            "rescanDurationState": {
                                "type": "structure",
                                "members": {
                                    "rescanDuration": {},
                                    "status": {},
                                    "updatedAt": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAAOI5VR4CMJCRLL7EIYB2IR2MSIMOLX6LJRQURXXHOTLXDFBYGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js"
            ]
        },
        "GetDelegatedAdminAccount": {
            "http": {
                "requestUri": "/delegatedadminaccounts/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "delegatedAdmin": {
                        "type": "structure",
                        "members": {
                            "accountId": {},
                            "relationshipStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "GetFindingsReportStatus": {
            "http": {
                "requestUri": "/reporting/status/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "reportId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "destination": {
                        "shape": "S1t"
                    },
                    "errorCode": {},
                    "errorMessage": {},
                    "filterCriteria": {
                        "shape": "S12"
                    },
                    "reportId": {},
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "GetMember": {
            "http": {
                "requestUri": "/members/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "member": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "ListAccountPermissions": {
            "http": {
                "requestUri": "/accountpermissions/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "service": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "permissions"
                ],
                "members": {
                    "nextToken": {},
                    "permissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "operation",
                                "service"
                            ],
                            "members": {
                                "operation": {},
                                "service": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "ListCoverage": {
            "http": {
                "requestUri": "/coverage/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filterCriteria": {
                        "shape": "S39"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "coveredResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "accountId",
                                "resourceId",
                                "resourceType",
                                "scanType"
                            ],
                            "members": {
                                "accountId": {},
                                "resourceId": {},
                                "resourceMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "ec2": {
                                            "type": "structure",
                                            "members": {
                                                "amiId": {},
                                                "platform": {},
                                                "tags": {
                                                    "shape": "S1o"
                                                }
                                            }
                                        },
                                        "ecrImage": {
                                            "type": "structure",
                                            "members": {
                                                "tags": {
                                                    "type": "list",
                                                    "member": {}
                                                }
                                            }
                                        },
                                        "ecrRepository": {
                                            "type": "structure",
                                            "members": {
                                                "name": {},
                                                "scanFrequency": {}
                                            }
                                        },
                                        "lambdaFunction": {
                                            "type": "structure",
                                            "members": {
                                                "functionName": {},
                                                "functionTags": {
                                                    "shape": "S1o"
                                                },
                                                "layers": {
                                                    "type": "list",
                                                    "member": {}
                                                },
                                                "runtime": {}
                                            }
                                        }
                                    }
                                },
                                "resourceType": {},
                                "scanStatus": {
                                    "type": "structure",
                                    "required": [
                                        "reason",
                                        "statusCode"
                                    ],
                                    "members": {
                                        "reason": {},
                                        "statusCode": {}
                                    }
                                },
                                "scanType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "ListCoverageStatistics": {
            "http": {
                "requestUri": "/coverage/statistics/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filterCriteria": {
                        "shape": "S39"
                    },
                    "groupBy": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "totalCounts"
                ],
                "members": {
                    "countsByGroup": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "count": {
                                    "type": "long"
                                },
                                "groupKey": {}
                            }
                        }
                    },
                    "nextToken": {},
                    "totalCounts": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "ListDelegatedAdminAccounts": {
            "http": {
                "requestUri": "/delegatedadminaccounts/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "delegatedAdminAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "ListFilters": {
            "http": {
                "requestUri": "/filters/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "action": {},
                    "arns": {
                        "type": "list",
                        "member": {}
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "action",
                                "arn",
                                "createdAt",
                                "criteria",
                                "name",
                                "ownerId",
                                "updatedAt"
                            ],
                            "members": {
                                "action": {},
                                "arn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "criteria": {
                                    "shape": "S12"
                                },
                                "description": {},
                                "name": {},
                                "ownerId": {},
                                "reason": {},
                                "tags": {
                                    "shape": "S1o"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFJ6CSQNKRFKJ2OFULUPPO2EVEVDWPYTLALXIOZ4RXN3KMSCAHZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4G3OLFCHS5RN6Q4IQ6ZUZBIOEADSDP4TYCLIWX2I3NTE3ACCS6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBVTR566E543S5VIE6QQTURUJ2ZZFF7LVRQ34IYKW764L4CA4TPQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "ListFindingAggregations": {
            "http": {
                "requestUri": "/findings/aggregation/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "aggregationType"
                ],
                "members": {
                    "accountIds": {
                        "shape": "S13"
                    },
                    "aggregationRequest": {
                        "type": "structure",
                        "members": {
                            "accountAggregation": {
                                "type": "structure",
                                "members": {
                                    "findingType": {},
                                    "resourceType": {},
                                    "sortBy": {},
                                    "sortOrder": {}
[...]
