{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-06-08",
        "endpointPrefix": "inspector2",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Inspector2",
        "serviceFullName": "Inspector2",
        "serviceId": "Inspector2",
        "signatureVersion": "v4",
        "signingName": "inspector2",
        "uid": "inspector2-2020-06-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
        ]
    },
    "operations": {
        "AssociateMember": {
            "http": {
                "requestUri": "/members/associate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "BatchGetAccountStatus": {
            "http": {
                "requestUri": "/status/batch/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accounts"
                ],
                "members": {
                    "accounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "accountId",
                                "resourceState",
                                "state"
                            ],
                            "members": {
                                "accountId": {},
                                "resourceState": {
                                    "type": "structure",
                                    "required": [
                                        "ec2",
                                        "ecr"
                                    ],
                                    "members": {
                                        "ec2": {
                                            "shape": "Sa"
                                        },
                                        "ecr": {
                                            "shape": "Sa"
                                        },
                                        "lambda": {
                                            "shape": "Sa"
                                        }
                                    }
                                },
                                "state": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "failedAccounts": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "BatchGetFreeTrialInfo": {
            "http": {
                "requestUri": "/freetrialinfo/batchget",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountIds"
                ],
                "members": {
                    "accountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accounts",
                    "failedAccounts"
                ],
                "members": {
                    "accounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "accountId",
                                "freeTrialInfo"
                            ],
                            "members": {
                                "accountId": {},
                                "freeTrialInfo": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "end",
                                            "start",
                                            "status",
                                            "type"
                                        ],
                                        "members": {
                                            "end": {
                                                "type": "timestamp"
                                            },
                                            "start": {
                                                "type": "timestamp"
                                            },
                                            "status": {},
                                            "type": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "failedAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "accountId",
                                "code",
                                "message"
                            ],
                            "members": {
                                "accountId": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "CancelFindingsReport": {
            "http": {
                "requestUri": "/reporting/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "reportId"
                ],
                "members": {
                    "reportId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "reportId"
                ],
                "members": {
                    "reportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "CreateFilter": {
            "http": {
                "requestUri": "/filters/create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "action",
                    "filterCriteria",
                    "name"
                ],
                "members": {
                    "action": {},
                    "description": {},
                    "filterCriteria": {
                        "shape": "S12"
                    },
                    "name": {},
                    "reason": {},
                    "tags": {
                        "shape": "S1o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "CreateFindingsReport": {
            "http": {
                "requestUri": "/reporting/create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "reportFormat",
                    "s3Destination"
                ],
                "members": {
                    "filterCriteria": {
                        "shape": "S12"
                    },
                    "reportFormat": {},
                    "s3Destination": {
                        "shape": "S1t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "reportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "DeleteFilter": {
            "http": {
                "requestUri": "/filters/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "DescribeOrganizationConfiguration": {
            "http": {
                "requestUri": "/organizationconfiguration/describe",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "autoEnable": {
                        "shape": "S1z"
                    },
                    "maxAccountLimitReached": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "Disable": {
            "http": {
                "requestUri": "/disable",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "S5"
                    },
                    "resourceTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accounts"
                ],
                "members": {
                    "accounts": {
                        "shape": "S25"
                    },
                    "failedAccounts": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "DisableDelegatedAdminAccount": {
            "http": {
                "requestUri": "/delegatedadminaccounts/disable",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "delegatedAdminAccountId"
                ],
                "members": {
                    "delegatedAdminAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "delegatedAdminAccountId"
                ],
                "members": {
                    "delegatedAdminAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "DisassociateMember": {
            "http": {
                "requestUri": "/members/disassociate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "Enable": {
            "http": {
                "requestUri": "/enable",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceTypes"
                ],
                "members": {
                    "accountIds": {
                        "shape": "S5"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "resourceTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accounts"
                ],
                "members": {
                    "accounts": {
                        "shape": "S25"
                    },
                    "failedAccounts": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "EnableDelegatedAdminAccount": {
            "http": {
                "requestUri": "/delegatedadminaccounts/enable",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "delegatedAdminAccountId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "delegatedAdminAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "delegatedAdminAccountId"
                ],
                "members": {
                    "delegatedAdminAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "GetConfiguration": {
            "http": {
                "requestUri": "/configuration/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ecrConfiguration": {
                        "type": "structure",
                        "members": {
                            "rescanDurationState": {
                                "type": "structure",
                                "members": {
                                    "rescanDuration": {},
                                    "status": {},
                                    "updatedAt": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "GetDelegatedAdminAccount": {
            "http": {
                "requestUri": "/delegatedadminaccounts/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "delegatedAdmin": {
                        "type": "structure",
                        "members": {
                            "accountId": {},
                            "relationshipStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "GetFindingsReportStatus": {
            "http": {
                "requestUri": "/reporting/status/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "reportId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "destination": {
                        "shape": "S1t"
                    },
                    "errorCode": {},
                    "errorMessage": {},
                    "filterCriteria": {
                        "shape": "S12"
                    },
                    "reportId": {},
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "GetMember": {
            "http": {
                "requestUri": "/members/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "member": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "ListAccountPermissions": {
            "http": {
                "requestUri": "/accountpermissions/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "service": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "permissions"
                ],
                "members": {
                    "nextToken": {},
                    "permissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "operation",
                                "service"
                            ],
                            "members": {
                                "operation": {},
                                "service": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "ListCoverage": {
            "http": {
                "requestUri": "/coverage/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filterCriteria": {
                        "shape": "S39"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "coveredResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "accountId",
                                "resourceId",
                                "resourceType",
                                "scanType"
                            ],
                            "members": {
                                "accountId": {},
                                "resourceId": {},
                                "resourceMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "ec2": {
                                            "type": "structure",
                                            "members": {
                                                "amiId": {},
                                                "platform": {},
                                                "tags": {
                                                    "shape": "S1o"
                                                }
                                            }
                                        },
                                        "ecrImage": {
                                            "type": "structure",
                                            "members": {
                                                "tags": {
                                                    "type": "list",
                                                    "member": {}
                                                }
                                            }
                                        },
                                        "ecrRepository": {
                                            "type": "structure",
                                            "members": {
                                                "name": {},
                                                "scanFrequency": {}
                                            }
                                        },
                                        "lambdaFunction": {
                                            "type": "structure",
                                            "members": {
                                                "functionName": {},
                                                "functionTags": {
                                                    "shape": "S1o"
                                                },
                                                "layers": {
                                                    "type": "list",
                                                    "member": {}
                                                },
                                                "runtime": {}
                                            }
                                        }
                                    }
                                },
                                "resourceType": {},
                                "scanStatus": {
                                    "type": "structure",
                                    "required": [
                                        "reason",
                                        "statusCode"
                                    ],
                                    "members": {
                                        "reason": {},
                                        "statusCode": {}
                                    }
                                },
                                "scanType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "ListCoverageStatistics": {
            "http": {
                "requestUri": "/coverage/statistics/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filterCriteria": {
                        "shape": "S39"
                    },
                    "groupBy": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "totalCounts"
                ],
                "members": {
                    "countsByGroup": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "count": {
                                    "type": "long"
                                },
                                "groupKey": {}
                            }
                        }
                    },
                    "nextToken": {},
                    "totalCounts": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "ListDelegatedAdminAccounts": {
            "http": {
                "requestUri": "/delegatedadminaccounts/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "delegatedAdminAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "ListFilters": {
            "http": {
                "requestUri": "/filters/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "action": {},
                    "arns": {
                        "type": "list",
                        "member": {}
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "filters"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "action",
                                "arn",
                                "createdAt",
                                "criteria",
                                "name",
                                "ownerId",
                                "updatedAt"
                            ],
                            "members": {
                                "action": {},
                                "arn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "criteria": {
                                    "shape": "S12"
                                },
                                "description": {},
                                "name": {},
                                "ownerId": {},
                                "reason": {},
                                "tags": {
                                    "shape": "S1o"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MFYCLKTFL4GAZHGA3MNQSPDULHYV22JT675W4S37NHLKDXESWXQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN2YUYIEMN6C2FJAWZX7QPQGXLPDWIVFCIZA7FGMMW4N5KPLWV2A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V66PLGP6FUBKNG5X5DRQ4O24ITEL6HUMUTWDFSSSE6MSQMNPZBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET542WGHOLTXXEZMYKRPOOSXFI43NM435DY3FS4EACYOULT6IECA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBND2IOJKPKKI6LVGNTNDDAXG6ZG5YD6MDVEJO3C2SJEORBIETMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEVET7W2WOAW5JMZ25ZQGKJKHQYWWVQDTFVMWNMK6AB3NGVRSZHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js"
            ]
        },
        "ListFindingAggregations": {
            "http": {
                "requestUri": "/findings/aggregation/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "aggregationType"
                ],
                "members": {
                    "accountIds": {
                        "shape": "S13"
                    },
                    "aggregationRequest": {
                        "type": "structure",
                        "members": {
                            "accountAggregation": {
                                "type": "structure",
                                "members": {
                                    "findingType": {},
                                    "resourceType": {},
                                    "sortBy": {},
                                    "sortOrder": {}
                                }
                            },
                            "amiAggregation": {
                                "type": "structure",
                                "members": {
                                    "amis": {
                                        "shape": "S13"
                                    },
                                    "sortBy": {},
                                    "sortOrder": {}
                                }
                            },
                            "awsEcrContainerAggregation": {
                                "type": "structure",
                                "members": {
                                    "architectures": {
                                        "shape": "S13"
                                    },
                                    "imageShas": {
                                        "shape": "S13"
                                    },
                                    "imageTags": {
                                        "shape": "S13"
                                    },
                                    "repositories": {
                                        "shape": "S13"
                                    },
                                    "resourceIds": {
                                        "shape": "S13"
                                    },
                                    "sortBy": {},
                                    "sortOrder": {}
                                }
                            },
                            "ec2InstanceAggregation": {
                                "type": "structure",
                                "members": {
                                    "amis": {
                                        "shape": "S13"
                                    },
                                    "instanceIds": {
                                        "shape": "S13"
                                    },
                                    "instanceTags": {
                                        "shape": "S1f"
                                    },
                                    "operatingSystems": {
                                        "shape": "S13"
                                    },
                                    "sortBy": {},
                                    "sortOrder": {}
                                }
                            },
[...]
