{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-06-03",
        "endpointPrefix": "internetmonitor",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon CloudWatch Internet Monitor",
        "serviceId": "InternetMonitor",
        "signatureVersion": "v4",
        "signingName": "internetmonitor",
        "uid": "internetmonitor-2021-06-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateMonitor": {
            "http": {
                "requestUri": "/v20210603/Monitors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {},
                    "Resources": {
                        "shape": "S3"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S6"
                    },
                    "MaxCityNetworksToMonitor": {
                        "type": "integer"
                    },
                    "InternetMeasurementsLogDelivery": {
                        "shape": "Sa"
                    },
                    "TrafficPercentageToMonitor": {
                        "type": "integer"
                    },
                    "HealthEventsConfig": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Status"
                ],
                "members": {
                    "Arn": {},
                    "Status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteMonitor": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20210603/Monitors/{MonitorName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetHealthEvent": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}/HealthEvents/{EventId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "EventId"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "EventId": {
                        "location": "uri",
                        "locationName": "EventId"
                    },
                    "LinkedAccountId": {
                        "location": "querystring",
                        "locationName": "LinkedAccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EventArn",
                    "EventId",
                    "StartedAt",
                    "LastUpdatedAt",
                    "ImpactedLocations",
                    "Status",
                    "ImpactType"
                ],
                "members": {
                    "EventArn": {},
                    "EventId": {},
                    "StartedAt": {
                        "shape": "Sn"
                    },
                    "EndedAt": {
                        "shape": "Sn"
                    },
                    "CreatedAt": {
                        "shape": "Sn"
                    },
                    "LastUpdatedAt": {
                        "shape": "Sn"
                    },
                    "ImpactedLocations": {
                        "shape": "So"
                    },
                    "Status": {},
                    "PercentOfTotalTrafficImpacted": {
                        "type": "double"
                    },
                    "ImpactType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetMonitor": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "LinkedAccountId": {
                        "location": "querystring",
                        "locationName": "LinkedAccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "MonitorArn",
                    "Resources",
                    "Status",
                    "CreatedAt",
                    "ModifiedAt"
                ],
                "members": {
                    "MonitorName": {},
                    "MonitorArn": {},
                    "Resources": {
                        "shape": "S3"
                    },
                    "Status": {},
                    "CreatedAt": {
                        "shape": "Sn"
                    },
                    "ModifiedAt": {
                        "shape": "Sn"
                    },
                    "ProcessingStatus": {},
                    "ProcessingStatusInfo": {},
                    "Tags": {
                        "shape": "S6"
                    },
                    "MaxCityNetworksToMonitor": {
                        "type": "integer"
                    },
                    "InternetMeasurementsLogDelivery": {
                        "shape": "Sa"
                    },
                    "TrafficPercentageToMonitor": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListHealthEvents": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}/HealthEvents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "StartTime": {
                        "shape": "Sn",
                        "location": "querystring",
                        "locationName": "StartTime"
                    },
                    "EndTime": {
                        "shape": "Sn",
                        "location": "querystring",
                        "locationName": "EndTime"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "EventStatus": {
                        "location": "querystring",
                        "locationName": "EventStatus"
                    },
                    "LinkedAccountId": {
                        "location": "querystring",
                        "locationName": "LinkedAccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HealthEvents"
                ],
                "members": {
                    "HealthEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "EventArn",
                                "EventId",
                                "StartedAt",
                                "LastUpdatedAt",
                                "ImpactedLocations",
                                "Status",
                                "ImpactType"
                            ],
                            "members": {
                                "EventArn": {},
                                "EventId": {},
                                "StartedAt": {
                                    "shape": "Sn"
                                },
                                "EndedAt": {
                                    "shape": "Sn"
                                },
                                "CreatedAt": {
                                    "shape": "Sn"
                                },
                                "LastUpdatedAt": {
                                    "shape": "Sn"
                                },
                                "ImpactedLocations": {
                                    "shape": "So"
                                },
                                "Status": {},
                                "PercentOfTotalTrafficImpacted": {
                                    "type": "double"
                                },
                                "ImpactType": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListMonitors": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "MonitorStatus": {
                        "location": "querystring",
                        "locationName": "MonitorStatus"
                    },
                    "IncludeLinkedAccounts": {
                        "location": "querystring",
                        "locationName": "IncludeLinkedAccounts",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Monitors"
                ],
                "members": {
                    "Monitors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "MonitorName",
                                "MonitorArn",
                                "Status"
                            ],
                            "members": {
                                "MonitorName": {},
                                "MonitorArn": {},
                                "Status": {},
                                "ProcessingStatus": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UpdateMonitor": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v20210603/Monitors/{MonitorName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "ResourcesToAdd": {
                        "shape": "S3"
                    },
                    "ResourcesToRemove": {
                        "shape": "S3"
                    },
                    "Status": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "MaxCityNetworksToMonitor": {
                        "type": "integer"
                    },
                    "InternetMeasurementsLogDelivery": {
                        "shape": "Sa"
                    },
                    "TrafficPercentageToMonitor": {
                        "type": "integer"
                    },
                    "HealthEventsConfig": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MonitorArn",
                    "Status"
                ],
                "members": {
                    "MonitorArn": {},
                    "Status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetQueryResults": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}/Queries/{QueryId}/Results",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "QueryId"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "QueryId": {
                        "location": "uri",
                        "locationName": "QueryId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Fields",
                    "Data"
                ],
                "members": {
                    "Fields": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {}
                            }
                        }
                    },
                    "Data": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetQueryStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}/Queries/{QueryId}/Status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "QueryId"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "QueryId": {
                        "location": "uri",
                        "locationName": "QueryId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Status"
                ],
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "StartQuery": {
            "http": {
                "requestUri": "/v20210603/Monitors/{MonitorName}/Queries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "StartTime",
                    "EndTime",
                    "QueryType"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "StartTime": {
                        "shape": "Sr"
                    },
                    "EndTime": {
                        "shape": "Sr"
                    },
                    "QueryType": {},
                    "FilterParameters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Field": {},
                                "Operator": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "LinkedAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "QueryId"
                ],
                "members": {
                    "QueryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "StopQuery": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20210603/Monitors/{MonitorName}/Queries/{QueryId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "QueryId"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "QueryId": {
                        "location": "uri",
                        "locationName": "QueryId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sa": {
            "type": "structure",
            "members": {
                "S3Config": {
                    "type": "structure",
                    "members": {
                        "BucketName": {},
                        "BucketPrefix": {},
                        "LogDeliveryStatus": {}
                    }
                }
            }
        },
        "Sn": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ASName",
                    "ASNumber",
                    "Country",
                    "Status"
                ],
                "members": {
                    "ASName": {},
                    "ASNumber": {
                        "type": "long"
                    },
                    "Country": {},
                    "Subdivision": {},
                    "Metro": {},
                    "City": {},
                    "Latitude": {
                        "type": "double"
                    },
                    "Longitude": {
                        "type": "double"
                    },
                    "CountryCode": {},
                    "SubdivisionCode": {},
                    "ServiceLocation": {},
                    "Status": {},
                    "CausedBy": {
                        "type": "structure",
                        "required": [
                            "Networks",
                            "AsPath",
                            "NetworkEventType"
                        ],
                        "members": {
                            "Networks": {
                                "shape": "Su"
                            },
                            "AsPath": {
                                "shape": "Su"
                            },
                            "NetworkEventType": {}
                        }
                    },
                    "InternetHealth": {
                        "type": "structure",
                        "members": {
                            "Availability": {
                                "type": "structure",
                                "members": {
                                    "ExperienceScore": {
                                        "type": "double"
                                    },
                                    "PercentOfTotalTrafficImpacted": {
                                        "type": "double"
                                    },
                                    "PercentOfClientLocationImpacted": {
                                        "type": "double"
                                    }
                                }
                            },
                            "Performance": {
                                "type": "structure",
                                "members": {
                                    "ExperienceScore": {
                                        "type": "double"
                                    },
                                    "PercentOfTotalTrafficImpacted": {
                                        "type": "double"
                                    },
                                    "PercentOfClientLocationImpacted": {
                                        "type": "double"
                                    },
                                    "RoundTripTime": {
                                        "type": "structure",
                                        "members": {
                                            "P50": {
                                                "type": "double"
                                            },
                                            "P90": {
                                                "type": "double"
                                            },
                                            "P95": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ASName",
                    "ASNumber"
                ],
                "members": {
                    "ASName": {},
                    "ASNumber": {
                        "type": "long"
                    }
                }
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "AvailabilityScoreThreshold": {
                    "type": "double"
                },
                "PerformanceScoreThreshold": {
                    "type": "double"
                }
            }
        },
        "Sp": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sq": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ASName",
                    "ASNumber",
                    "Country",
                    "Status"
                ],
                "members": {
                    "ASName": {},
                    "ASNumber": {
                        "type": "long"
                    },
                    "Country": {},
                    "Subdivision": {},
                    "Metro": {},
                    "City": {},
                    "Latitude": {
                        "type": "double"
                    },
                    "Longitude": {
                        "type": "double"
                    },
                    "CountryCode": {},
                    "SubdivisionCode": {},
                    "ServiceLocation": {},
                    "Status": {},
                    "CausedBy": {
                        "type": "structure",
                        "required": [
                            "Networks",
                            "AsPath",
                            "NetworkEventType"
                        ],
                        "members": {
                            "Networks": {
                                "shape": "Sw"
                            },
                            "AsPath": {
                                "shape": "Sw"
                            },
                            "NetworkEventType": {}
                        }
                    },
                    "InternetHealth": {
                        "type": "structure",
                        "members": {
                            "Availability": {
                                "type": "structure",
                                "members": {
                                    "ExperienceScore": {
                                        "type": "double"
                                    },
                                    "PercentOfTotalTrafficImpacted": {
                                        "type": "double"
                                    },
                                    "PercentOfClientLocationImpacted": {
                                        "type": "double"
                                    }
                                }
                            },
                            "Performance": {
                                "type": "structure",
                                "members": {
                                    "ExperienceScore": {
                                        "type": "double"
                                    },
                                    "PercentOfTotalTrafficImpacted": {
                                        "type": "double"
                                    },
                                    "PercentOfClientLocationImpacted": {
                                        "type": "double"
                                    },
                                    "RoundTripTime": {
                                        "type": "structure",
                                        "members": {
                                            "P50": {
                                                "type": "double"
                                            },
                                            "P90": {
                                                "type": "double"
                                            },
                                            "P95": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ASName",
                    "ASNumber"
                ],
                "members": {
                    "ASName": {},
                    "ASNumber": {
                        "type": "long"
                    }
                }
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "Status": {},
                "HealthScoreThreshold": {
                    "type": "double"
                },
                "MinTrafficImpact": {
                    "type": "double"
                }
            }
        },
        "Sr": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ASName",
                    "ASNumber",
                    "Country",
                    "Status"
                ],
                "members": {
                    "ASName": {},
                    "ASNumber": {
                        "type": "long"
                    },
                    "Country": {},
                    "Subdivision": {},
                    "Metro": {},
                    "City": {},
                    "Latitude": {
                        "type": "double"
                    },
                    "Longitude": {
                        "type": "double"
                    },
                    "CountryCode": {},
                    "SubdivisionCode": {},
                    "ServiceLocation": {},
                    "Status": {},
                    "CausedBy": {
                        "type": "structure",
                        "required": [
                            "Networks",
                            "AsPath",
                            "NetworkEventType"
                        ],
                        "members": {
                            "Networks": {
                                "shape": "Sy"
                            },
                            "AsPath": {
                                "shape": "Sy"
                            },
                            "NetworkEventType": {}
                        }
                    },
                    "InternetHealth": {
                        "type": "structure",
                        "members": {
                            "Availability": {
                                "type": "structure",
                                "members": {
                                    "ExperienceScore": {
                                        "type": "double"
                                    },
                                    "PercentOfTotalTrafficImpacted": {
                                        "type": "double"
                                    },
                                    "PercentOfClientLocationImpacted": {
                                        "type": "double"
                                    }
                                }
                            },
                            "Performance": {
                                "type": "structure",
                                "members": {
                                    "ExperienceScore": {
                                        "type": "double"
                                    },
                                    "PercentOfTotalTrafficImpacted": {
                                        "type": "double"
                                    },
                                    "PercentOfClientLocationImpacted": {
                                        "type": "double"
                                    },
                                    "RoundTripTime": {
                                        "type": "structure",
                                        "members": {
                                            "P50": {
                                                "type": "double"
                                            },
                                            "P90": {
                                                "type": "double"
                                            },
                                            "P95": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sy": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ASName",
                    "ASNumber"
                ],
                "members": {
                    "ASName": {},
                    "ASNumber": {
                        "type": "long"
                    }
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ASName",
                    "ASNumber",
                    "Country",
                    "Status"
                ],
                "members": {
                    "ASName": {},
                    "ASNumber": {
                        "type": "long"
                    },
                    "Country": {},
                    "Subdivision": {},
                    "Metro": {},
                    "City": {},
                    "Latitude": {
                        "type": "double"
                    },
                    "Longitude": {
                        "type": "double"
                    },
                    "CountryCode": {},
                    "SubdivisionCode": {},
                    "ServiceLocation": {},
                    "Status": {},
                    "CausedBy": {
                        "type": "structure",
                        "required": [
                            "Networks",
                            "AsPath",
                            "NetworkEventType"
                        ],
                        "members": {
                            "Networks": {
                                "shape": "Sz"
                            },
                            "AsPath": {
                                "shape": "Sz"
                            },
                            "NetworkEventType": {}
                        }
                    },
                    "InternetHealth": {
                        "type": "structure",
                        "members": {
                            "Availability": {
                                "type": "structure",
                                "members": {
                                    "ExperienceScore": {
                                        "type": "double"
                                    },
                                    "PercentOfTotalTrafficImpacted": {
                                        "type": "double"
                                    },
                                    "PercentOfClientLocationImpacted": {
                                        "type": "double"
                                    }
                                }
                            },
                            "Performance": {
                                "type": "structure",
                                "members": {
                                    "ExperienceScore": {
                                        "type": "double"
                                    },
                                    "PercentOfTotalTrafficImpacted": {
                                        "type": "double"
                                    },
                                    "PercentOfClientLocationImpacted": {
                                        "type": "double"
                                    },
                                    "RoundTripTime": {
                                        "type": "structure",
                                        "members": {
                                            "P50": {
                                                "type": "double"
                                            },
                                            "P90": {
                                                "type": "double"
                                            },
                                            "P95": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Ipv4Prefixes": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "Sz": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ASName",
                    "ASNumber"
                ],
                "members": {
                    "ASName": {},
                    "ASNumber": {
                        "type": "long"
                    }
                }
            }
        }
    }
}