{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-06-03",
        "endpointPrefix": "internetmonitor",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon CloudWatch Internet Monitor",
        "serviceId": "InternetMonitor",
        "signatureVersion": "v4",
        "signingName": "internetmonitor",
        "uid": "internetmonitor-2021-06-03",
        "download_location": [
            "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateMonitor": {
            "http": {
                "requestUri": "/v20210603/Monitors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {},
                    "Resources": {
                        "shape": "S3"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S6"
                    },
                    "MaxCityNetworksToMonitor": {
                        "type": "integer"
                    },
                    "InternetMeasurementsLogDelivery": {
                        "shape": "Sa"
                    },
                    "TrafficPercentageToMonitor": {
                        "type": "integer"
                    },
                    "HealthEventsConfig": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Status"
                ],
                "members": {
                    "Arn": {},
                    "Status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "DeleteMonitor": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20210603/Monitors/{MonitorName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "GetHealthEvent": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}/HealthEvents/{EventId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "EventId"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "EventId": {
                        "location": "uri",
                        "locationName": "EventId"
                    },
                    "LinkedAccountId": {
                        "location": "querystring",
                        "locationName": "LinkedAccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EventArn",
                    "EventId",
                    "StartedAt",
                    "LastUpdatedAt",
                    "ImpactedLocations",
                    "Status",
                    "ImpactType"
                ],
                "members": {
                    "EventArn": {},
                    "EventId": {},
                    "StartedAt": {
                        "shape": "Sn"
                    },
                    "EndedAt": {
                        "shape": "Sn"
                    },
                    "CreatedAt": {
                        "shape": "Sn"
                    },
                    "LastUpdatedAt": {
                        "shape": "Sn"
                    },
                    "ImpactedLocations": {
                        "shape": "So"
                    },
                    "Status": {},
                    "PercentOfTotalTrafficImpacted": {
                        "type": "double"
                    },
                    "ImpactType": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "GetMonitor": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "LinkedAccountId": {
                        "location": "querystring",
                        "locationName": "LinkedAccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "MonitorArn",
                    "Resources",
                    "Status",
                    "CreatedAt",
                    "ModifiedAt"
                ],
                "members": {
                    "MonitorName": {},
                    "MonitorArn": {},
                    "Resources": {
                        "shape": "S3"
                    },
                    "Status": {},
                    "CreatedAt": {
                        "shape": "Sn"
                    },
                    "ModifiedAt": {
                        "shape": "Sn"
                    },
                    "ProcessingStatus": {},
                    "ProcessingStatusInfo": {},
                    "Tags": {
                        "shape": "S6"
                    },
                    "MaxCityNetworksToMonitor": {
                        "type": "integer"
                    },
                    "InternetMeasurementsLogDelivery": {
                        "shape": "Sa"
                    },
                    "TrafficPercentageToMonitor": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "ListHealthEvents": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}/HealthEvents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "StartTime": {
                        "shape": "Sn",
                        "location": "querystring",
                        "locationName": "StartTime"
                    },
                    "EndTime": {
                        "shape": "Sn",
                        "location": "querystring",
                        "locationName": "EndTime"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "EventStatus": {
                        "location": "querystring",
                        "locationName": "EventStatus"
                    },
                    "LinkedAccountId": {
                        "location": "querystring",
                        "locationName": "LinkedAccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HealthEvents"
                ],
                "members": {
                    "HealthEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "EventArn",
                                "EventId",
                                "StartedAt",
                                "LastUpdatedAt",
                                "ImpactedLocations",
                                "Status",
                                "ImpactType"
                            ],
                            "members": {
                                "EventArn": {},
                                "EventId": {},
                                "StartedAt": {
                                    "shape": "Sn"
                                },
                                "EndedAt": {
                                    "shape": "Sn"
                                },
                                "CreatedAt": {
                                    "shape": "Sn"
                                },
                                "LastUpdatedAt": {
                                    "shape": "Sn"
                                },
                                "ImpactedLocations": {
                                    "shape": "So"
                                },
                                "Status": {},
                                "PercentOfTotalTrafficImpacted": {
                                    "type": "double"
                                },
                                "ImpactType": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "ListMonitors": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "MonitorStatus": {
                        "location": "querystring",
                        "locationName": "MonitorStatus"
                    },
                    "IncludeLinkedAccounts": {
                        "location": "querystring",
                        "locationName": "IncludeLinkedAccounts",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Monitors"
                ],
                "members": {
                    "Monitors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "MonitorName",
                                "MonitorArn",
                                "Status"
                            ],
                            "members": {
                                "MonitorName": {},
                                "MonitorArn": {},
                                "Status": {},
                                "ProcessingStatus": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "UpdateMonitor": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v20210603/Monitors/{MonitorName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "ResourcesToAdd": {
                        "shape": "S3"
                    },
                    "ResourcesToRemove": {
                        "shape": "S3"
                    },
                    "Status": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "MaxCityNetworksToMonitor": {
                        "type": "integer"
                    },
                    "InternetMeasurementsLogDelivery": {
                        "shape": "Sa"
                    },
                    "TrafficPercentageToMonitor": {
                        "type": "integer"
                    },
                    "HealthEventsConfig": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MonitorArn",
                    "Status"
                ],
                "members": {
                    "MonitorArn": {},
                    "Status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "GetQueryResults": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}/Queries/{QueryId}/Results",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "QueryId"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "QueryId": {
                        "location": "uri",
                        "locationName": "QueryId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Fields",
                    "Data"
                ],
                "members": {
                    "Fields": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {}
                            }
                        }
                    },
                    "Data": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "GetQueryStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}/Queries/{QueryId}/Status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "QueryId"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "QueryId": {
                        "location": "uri",
                        "locationName": "QueryId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Status"
                ],
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "StartQuery": {
            "http": {
                "requestUri": "/v20210603/Monitors/{MonitorName}/Queries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "StartTime",
                    "EndTime",
                    "QueryType"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "StartTime": {
                        "shape": "Sr"
                    },
                    "EndTime": {
                        "shape": "Sr"
                    },
                    "QueryType": {},
                    "FilterParameters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Field": {},
                                "Operator": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "LinkedAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "QueryId"
                ],
                "members": {
                    "QueryId": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "StopQuery": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20210603/Monitors/{MonitorName}/Queries/{QueryId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "QueryId"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "QueryId": {
                        "location": "uri",
                        "locationName": "QueryId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPFE7GGXXECPPJESDU7OMLM5QBWJ52ZPPFLWU5ARTR6OKA7JWIQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFT5MSBGATDEGW5FA5ATUPCCZ4R7NQVXXKLSDIDHYCODPPKOYUJQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZTZVURIOJW6TPZA7YRE65QXNK4IVBHZFAGGF42RKDF4CQSLB6IQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RFAXSBIBS3TBKA3ENYAJMV5CUSKY6IYOJAIR32BKCGT5KSBDYPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GW4E6XSWFIEZZTO5MTSIJ2TCGL2QUT5O6AHWRGE6H5W3QDIVTUSQ/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "GetInternetEvent": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/InternetEvents/{EventId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventId"
                ],
                "members": {
                    "EventId": {
                        "location": "uri",
                        "locationName": "EventId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EventId",
                    "EventArn",
                    "StartedAt",
                    "ClientLocation",
                    "EventType",
                    "EventStatus"
                ],
                "members": {
                    "EventId": {},
                    "EventArn": {},
                    "StartedAt": {
                        "shape": "Ss"
                    },
                    "EndedAt": {
                        "shape": "Ss"
                    },
                    "ClientLocation": {
                        "shape": "S1b"
                    },
                    "EventType": {},
                    "EventStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "ListInternetEvents": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/InternetEvents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "InternetEventMaxResults",
                        "type": "integer"
                    },
                    "StartTime": {
                        "shape": "Ss",
                        "location": "querystring",
                        "locationName": "StartTime"
                    },
                    "EndTime": {
                        "shape": "Ss",
                        "location": "querystring",
                        "locationName": "EndTime"
                    },
                    "EventStatus": {
                        "location": "querystring",
                        "locationName": "EventStatus"
                    },
                    "EventType": {
                        "location": "querystring",
                        "locationName": "EventType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InternetEvents"
                ],
                "members": {
                    "InternetEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "EventId",
                                "EventArn",
                                "StartedAt",
                                "ClientLocation",
                                "EventType",
                                "EventStatus"
                            ],
                            "members": {
                                "EventId": {},
                                "EventArn": {},
                                "StartedAt": {
                                    "shape": "Ss"
                                },
                                "EndedAt": {
                                    "shape": "Ss"
                                },
                                "ClientLocation": {
                                    "shape": "S1b"
                                },
                                "EventType": {},
                                "EventStatus": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "BatchAssociateMonitoredLocation": {
            "http": {
                "requestUri": "/v20210603/Monitors/{MonitorName}/BatchAssociateMonitoredLocation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "LocationEntries"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "LocationEntries": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Items"
                ],
                "members": {
                    "Items": {
                        "shape": "S8"
                    },
                    "Errors": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "BatchDeleteMonitoredLocation": {
            "http": {
                "requestUri": "/v20210603/Monitors/{MonitorName}/BatchDeleteMonitoredLocation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "LocationEntries"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "LocationEntries": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Items",
                    "Errors"
                ],
                "members": {
                    "Items": {
                        "shape": "S8"
                    },
                    "Errors": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "CreateAsnMonitor": {
            "http": {
                "requestUri": "/v20210603/AsnMonitors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "Resources"
                ],
                "members": {
                    "MonitorName": {},
                    "Resources": {
                        "shape": "Sg"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "InternetMeasurementsLogDelivery": {
                        "shape": "Si"
                    },
                    "HealthEventsConfig": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Status"
                ],
                "members": {
                    "Arn": {},
                    "Status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DeleteAsnMonitor": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20210603/AsnMonitors/{MonitorName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "GetAsnHealthEvent": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/AsnMonitors/{MonitorName}/HealthEvents/{EventId}",
                "responseCode": 200
            },
            "input": {
                "shape": "S16"
            },
            "output": {
                "shape": "S19"
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js"
            ]
        },
        "GetAsnMonitor": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/AsnMonitors/{MonitorName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MonitorName",
                    "MonitorArn",
                    "Resources",
                    "Status",
                    "CreatedAt",
                    "ModifiedAt"
                ],
                "members": {
                    "MonitorName": {},
                    "MonitorArn": {},
                    "Resources": {
                        "shape": "Sg"
                    },
                    "Status": {},
                    "CreatedAt": {
                        "shape": "S1a"
                    },
                    "ModifiedAt": {
                        "shape": "S1a"
                    },
                    "ProcessingStatus": {},
                    "ProcessingStatusInfo": {},
                    "InternetMeasurementsLogDelivery": {
                        "shape": "Si"
                    },
                    "HealthEventsConfig": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "ListAsnHealthEvents": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/AsnMonitors/{MonitorName}/HealthEvents",
                "responseCode": 200
            },
            "input": {
                "shape": "S2b"
            },
            "output": {
                "shape": "S2d"
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js"
            ]
        },
        "ListAsnMonitors": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/AsnMonitors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "MonitorStatus": {
                        "location": "querystring",
                        "locationName": "MonitorStatus"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Monitors"
                ],
                "members": {
                    "Monitors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "MonitorName",
                                "MonitorArn",
                                "Status"
                            ],
                            "members": {
                                "MonitorName": {},
                                "MonitorArn": {},
                                "Status": {},
                                "ProcessingStatus": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "ListMonitoredLocations": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}/ListMonitoredLocations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Items"
                ],
                "members": {
                    "Items": {
                        "shape": "S8"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "UpdateAsnMonitor": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v20210603/AsnMonitors/{MonitorName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "ResourcesToAdd": {
                        "shape": "Sg"
                    },
                    "ResourcesToRemove": {
                        "shape": "Sg"
                    },
                    "Status": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "InternetMeasurementsLogDelivery": {
                        "shape": "Si"
                    },
                    "HealthEventsConfig": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MonitorArn",
                    "Status"
                ],
                "members": {
                    "MonitorArn": {},
                    "Status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sa": {
            "type": "structure",
            "members": {
                "S3Config": {
                    "type": "structure",
                    "members": {
                        "BucketName": {},
                        "BucketPrefix": {},
                        "LogDeliveryStatus": {}
                    }
                }
            }
        },
        "Sn": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ASName",
                    "ASNumber",
                    "Country",
                    "Status"
                ],
                "members": {
                    "ASName": {},
                    "ASNumber": {
                        "type": "long"
                    },
                    "Country": {},
                    "Subdivision": {},
                    "Metro": {},
                    "City": {},
                    "Latitude": {
                        "type": "double"
                    },
                    "Longitude": {
                        "type": "double"
                    },
                    "CountryCode": {},
                    "SubdivisionCode": {},
                    "ServiceLocation": {},
                    "Status": {},
                    "CausedBy": {
                        "type": "structure",
                        "required": [
                            "Networks",
                            "AsPath",
                            "NetworkEventType"
                        ],
                        "members": {
                            "Networks": {
                                "shape": "Su"
                            },
                            "AsPath": {
                                "shape": "Su"
                            },
                            "NetworkEventType": {}
                        }
                    },
                    "InternetHealth": {
                        "type": "structure",
[...]
