{
    "metadata": {
        "apiVersion": "2017-09-08",
        "endpointPrefix": "ioqshumleg",
        "signingName": "serverlessrepo",
        "serviceFullName": "AWSServerlessRepositoryAuthorizedSearch",
        "serviceId": "ServerlessRepositoryAuthorizedSearch",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "ioqshumleg-2017-09-08",
        "signatureVersion": "v4",
        "download_location": [
            "https://d32lzpo3vjlthz.cloudfront.net/1687363095995/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1687964115177/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1688567645760/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1689170701909/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1690379144681/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1690982603210/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1691587603600/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1692195049261/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1692801120105/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1701941883597/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1706728750507/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1707318004797/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1707920512663/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1708527476202/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1709129318071/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1709341845852/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1709738782897/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1710339506483/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1710946297299/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1711546456829/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1712153147700/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1712759283311/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1713363647243/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js"
        ]
    },
    "operations": {
        "BrowseApplications": {
            "name": "BrowseApplications",
            "http": {
                "method": "GET",
                "requestUri": "/Prod/applications/authorized/browse",
                "responseCode": 200
            },
            "input": {
                "shape": "BrowseApplicationsRequest"
            },
            "output": {
                "shape": "BrowseApplicationsResponse"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                }
            ],
            "download_location": [
                "https://d32lzpo3vjlthz.cloudfront.net/1687964115177/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1688567645760/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1689170701909/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1690379144681/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1690982603210/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1691587603600/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1692195049261/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1692801120105/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1701941883597/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1706728750507/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1707318004797/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1707920512663/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1708527476202/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1709129318071/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1709341845852/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1709738782897/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1710339506483/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1710946297299/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1711546456829/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1712153147700/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1712759283311/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713363647243/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js"
            ]
        },
        "SearchApplications": {
            "name": "SearchApplications",
            "http": {
                "method": "GET",
                "requestUri": "/Prod/applications/authorized/search",
                "responseCode": 200
            },
            "input": {
                "shape": "SearchApplicationsRequest"
            },
            "output": {
                "shape": "SearchApplicationsResponse"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                }
            ],
            "download_location": [
                "https://d32lzpo3vjlthz.cloudfront.net/1687964115177/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1688567645760/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1689170701909/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1690379144681/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1690982603210/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1691587603600/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1692195049261/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1692801120105/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1701941883597/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1706728750507/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1707318004797/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1707920512663/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1708527476202/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1709129318071/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1709341845852/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1709738782897/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1710339506483/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1710946297299/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1711546456829/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1712153147700/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1712759283311/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713363647243/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js"
            ]
        }
    },
    "shapes": {
        "Application": {
            "type": "structure",
            "members": {
                "DeploymentCount": {
                    "shape": "__integer",
                    "locationName": "deploymentCount"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "HomePageUrl": {
                    "shape": "__string",
                    "locationName": "homePageUrl"
                },
                "Id": {
                    "shape": "__string",
                    "locationName": "id"
                },
                "IsSharedWithOrganization": {
                    "shape": "__boolean",
                    "locationName": "isSharedWithOrganization"
                },
                "IsVerifiedAuthor": {
                    "shape": "__boolean",
                    "locationName": "isVerifiedAuthor"
                },
                "Labels": {
                    "shape": "__listOf__string",
                    "locationName": "labels"
                },
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "PublisherAlias": {
                    "shape": "__string",
                    "locationName": "publisherAlias"
                },
                "ReadmeUrl": {
                    "shape": "__string",
                    "locationName": "readmeUrl"
                },
                "RequiredCapabilitiesForLatestVersion": {
                    "shape": "__listOfCapability",
                    "locationName": "requiredCapabilitiesForLatestVersion"
                },
                "SpdxLicenseId": {
                    "shape": "__string",
                    "locationName": "spdxLicenseId"
                },
                "VerifiedAuthorUrl": {
                    "shape": "__string",
                    "locationName": "verifiedAuthorUrl"
                }
            }
        },
        "ApplicationList": {
            "type": "structure",
            "members": {
                "Applications": {
                    "shape": "__listOfApplication",
                    "locationName": "applications"
                },
                "ApproximateResultCount": {
                    "shape": "__integer",
                    "locationName": "approximateResultCount"
                }
            }
        },
        "BadRequestException": {
            "type": "structure",
            "members": {
                "ErrorCode": {
                    "shape": "__string",
                    "locationName": "errorCode"
                },
                "Message": {
                    "shape": "__string",
                    "locationName": "message"
                }
            },
            "exception": true,
            "error": {
                "httpStatusCode": 400
            }
        },
        "BrowseApplicationsRequest": {
            "type": "structure",
            "members": {
                "AccessLevels": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "accessLevels"
                },
                "IncludeAppsWithCapabilities": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "includeAppsWithCapabilities"
                },
                "PageNumber": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "pageNumber"
                },
                "PageSize": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "pageSize"
                },
                "SortFields": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "sortFields"
                }
            }
        },
        "BrowseApplicationsResponse": {
            "type": "structure",
            "members": {
                "Applications": {
                    "shape": "__listOfApplication",
                    "locationName": "applications"
                },
                "ApproximateResultCount": {
                    "shape": "__integer",
                    "locationName": "approximateResultCount"
                }
            }
        },
        "Capability": {
            "type": "string",
            "enum": [
                "CAPABILITY_IAM",
                "CAPABILITY_NAMED_IAM",
                "CAPABILITY_AUTO_EXPAND",
                "CAPABILITY_RESOURCE_POLICY"
            ]
        },
        "MaxItems": {
            "type": "integer",
            "min": 1,
            "max": 100
        },
        "SearchApplicationsRequest": {
            "type": "structure",
            "members": {
                "AccessLevels": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "accessLevels"
                },
                "IncludeAppsWithCapabilities": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "includeAppsWithCapabilities"
                },
                "PageNumber": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "pageNumber"
                },
                "PageSize": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "pageSize"
                },
                "SearchText": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "searchText"
                },
                "SortFields": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "sortFields"
                }
            },
            "required": [
                "SearchText"
            ]
        },
        "SearchApplicationsResponse": {
            "type": "structure",
            "members": {
                "Applications": {
                    "shape": "__listOfApplication",
                    "locationName": "applications"
                },
                "ApproximateResultCount": {
                    "shape": "__integer",
                    "locationName": "approximateResultCount"
                }
            }
        },
        "__boolean": {
            "type": "boolean"
        },
        "__double": {
            "type": "double"
        },
        "__integer": {
            "type": "integer"
        },
        "__listOfApplication": {
            "type": "list",
            "member": {
                "shape": "Application"
            }
        },
        "__listOfCapability": {
            "type": "list",
            "member": {
                "shape": "Capability"
            }
        },
        "__listOf__string": {
            "type": "list",
            "member": {
                "shape": "__string"
            }
        },
        "__long": {
            "type": "long"
        },
        "__string": {
            "type": "string"
        },
        "__timestampIso8601": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "__timestampUnix": {
            "type": "timestamp",
            "timestampFormat": "unixTimestamp"
        }
    },
    "authorizers": {
        "authorization_strategy": {
            "name": "authorization_strategy",
            "type": "provided",
            "placement": {
                "location": "header",
                "name": "Authorization"
            }
        }
    }
}