{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "iotroborunner",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS IoT RoboRunner",
        "serviceId": "IoT RoboRunner",
        "signatureVersion": "v4",
        "signingName": "iotroborunner",
        "uid": "iot-roborunner-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFWQ64TAJQZNBJDDT3Q2COGP7RKNYSLEBRNTK7IBSDTHFZD4RVYA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateDestination": {
            "http": {
                "requestUri": "/createDestination",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "site"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "site": {},
                    "state": {},
                    "additionalFixedProperties": {},
                    "additionalInformation": {},
                    "location": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "createdAt",
                    "updatedAt",
                    "state"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "state": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "CreateSite": {
            "http": {
                "requestUri": "/createSite",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "countryCode"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "countryCode": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "CreateWorker": {
            "http": {
                "requestUri": "/createWorker",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "fleet"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "fleet": {},
                    "additionalTransientProperties": {},
                    "additionalFixedProperties": {},
                    "vendorProperties": {
                        "shape": "Sm"
                    },
                    "position": {
                        "shape": "Sr"
                    },
                    "orientation": {
                        "shape": "Su"
                    },
                    "additionalInformation": {},
                    "state": {},
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "createdAt",
                    "updatedAt",
                    "site"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "site": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "CreateWorkerFleet": {
            "http": {
                "requestUri": "/createWorkerFleet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "site"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "site": {},
                    "additionalFixedProperties": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DeleteDestination": {
            "http": {
                "requestUri": "/deleteDestination",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DeleteSite": {
            "http": {
                "requestUri": "/deleteSite",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DeleteWorker": {
            "http": {
                "requestUri": "/deleteWorker",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DeleteWorkerFleet": {
            "http": {
                "requestUri": "/deleteWorkerFleet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "GetDestination": {
            "http": {
                "method": "GET",
                "requestUri": "/getDestination",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "querystring",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "name",
                    "site",
                    "createdAt",
                    "updatedAt",
                    "state"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "name": {},
                    "site": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "state": {},
                    "additionalFixedProperties": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "GetSite": {
            "http": {
                "method": "GET",
                "requestUri": "/getSite",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "querystring",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "name",
                    "countryCode",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "name": {},
                    "countryCode": {},
                    "description": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "GetWorker": {
            "http": {
                "method": "GET",
                "requestUri": "/getWorker",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "querystring",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "fleet",
                    "site",
                    "createdAt",
                    "updatedAt",
                    "name"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "fleet": {},
                    "site": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "name": {},
                    "additionalTransientProperties": {},
                    "additionalFixedProperties": {},
                    "vendorProperties": {
                        "shape": "Sm"
                    },
                    "position": {
                        "shape": "Sr"
                    },
                    "orientation": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "GetWorkerFleet": {
            "http": {
                "method": "GET",
                "requestUri": "/getWorkerFleet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "querystring",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "name",
                    "site",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "site": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "additionalFixedProperties": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ListDestinations": {
            "http": {
                "method": "GET",
                "requestUri": "/listDestinations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "site"
                ],
                "members": {
                    "site": {
                        "location": "querystring",
                        "locationName": "site"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "state": {
                        "location": "querystring",
                        "locationName": "state"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "destinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "id",
                                "name",
                                "site",
                                "createdAt",
                                "updatedAt",
                                "state"
                            ],
                            "members": {
                                "arn": {},
                                "id": {},
                                "name": {},
                                "site": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "state": {},
                                "additionalFixedProperties": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ListSites": {
            "http": {
                "method": "GET",
                "requestUri": "/listSites",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "sites": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "name",
                                "countryCode",
                                "createdAt"
                            ],
                            "members": {
                                "arn": {},
                                "name": {},
                                "countryCode": {},
                                "createdAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ListWorkerFleets": {
            "http": {
                "method": "GET",
                "requestUri": "/listWorkerFleets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "site"
                ],
                "members": {
                    "site": {
                        "location": "querystring",
                        "locationName": "site"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workerFleets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "id",
                                "name",
                                "site",
                                "createdAt",
                                "updatedAt"
                            ],
                            "members": {
                                "arn": {},
                                "id": {},
                                "name": {},
                                "site": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "additionalFixedProperties": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ListWorkers": {
            "http": {
                "method": "GET",
                "requestUri": "/listWorkers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "site"
                ],
                "members": {
                    "site": {
                        "location": "querystring",
                        "locationName": "site"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "fleet": {
                        "location": "querystring",
                        "locationName": "fleet"
                    },
                    "state": {
                        "location": "querystring",
                        "locationName": "state"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "id",
                                "fleet",
                                "createdAt",
                                "updatedAt",
                                "name",
                                "site"
                            ],
                            "members": {
                                "arn": {},
                                "id": {},
                                "fleet": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "name": {},
                                "site": {},
                                "additionalTransientProperties": {},
                                "additionalFixedProperties": {},
                                "vendorProperties": {
                                    "shape": "Sm"
                                },
                                "position": {
                                    "shape": "Sr"
                                },
                                "orientation": {
                                    "shape": "Su"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "UpdateDestination": {
            "http": {
                "requestUri": "/updateDestination",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "state": {},
                    "additionalFixedProperties": {},
                    "additionalInformation": {},
                    "location": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "name",
                    "updatedAt",
                    "state"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "name": {},
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "state": {},
                    "additionalFixedProperties": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "UpdateSite": {
            "http": {
                "requestUri": "/updateSite",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "countryCode": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "name",
                    "updatedAt"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "name": {},
                    "countryCode": {},
                    "description": {},
                    "updatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "UpdateWorker": {
            "http": {
                "requestUri": "/updateWorker",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "additionalTransientProperties": {},
                    "additionalFixedProperties": {},
                    "vendorProperties": {
                        "shape": "Sm"
                    },
                    "position": {
                        "shape": "Sr"
                    },
                    "orientation": {
                        "shape": "Su"
                    },
                    "additionalInformation": {},
                    "state": {},
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "fleet",
                    "updatedAt",
                    "name"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "fleet": {},
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "name": {},
                    "additionalTransientProperties": {},
                    "additionalFixedProperties": {},
                    "orientation": {
                        "shape": "Su"
                    },
                    "vendorProperties": {
                        "shape": "Sm"
                    },
                    "position": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "UpdateWorkerFleet": {
            "http": {
                "requestUri": "/updateWorkerFleet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "additionalFixedProperties": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "name",
                    "updatedAt"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "name": {},
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "additionalFixedProperties": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTLWFN5EU3YUPFPXA7E5DSSLYCT2CJU2S3LFZBQBS4SXUSJSSKJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGHYHJSNL2MWKCENR3XKKI7KCUK4KT3F3W76NUC7WWYXO5BH7FA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JGU4HQXCMUJ3NMAWCOKYCGBVJGJNZNPYJXY5ZWO54DF55EZQERA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PB2EMVER3IOKUNLWRANVHGP4YRISTWLJ6SVGDYY64LV3UWSH67WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHJL34ASDN4JQOOHMULQLTJMGEDYCXPRIXXACL4NHZJ6EACH2AGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU567OM66OVVWFSHSYYOKS73Y6BQ222CZAXRO3QPUUS4LG2OEVZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR3U6SLMJSEFR722FS5PWDXIQPLSJAEPTWAQCTIJBOKQXCMYXSDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLKDL5LY5KNQHYQBBKIIUKZZRZ74D3LPJUS3IPQ4AL5GHFKJJUFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "CreateAction": {
            "http": {
                "requestUri": "/createAction",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "activity",
                    "name",
                    "payload",
                    "worker"
                ],
                "members": {
                    "activity": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "dependencies": {
                        "shape": "S4"
                    },
                    "name": {},
                    "payload": {},
                    "state": {},
                    "substate": {},
                    "worker": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "createdAt",
                    "id",
                    "state",
                    "substate",
                    "updatedAt"
                ],
                "members": {
                    "arn": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "id": {},
                    "state": {},
                    "substate": {},
                    "updatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RN3TH2MW2JDCAHMUZIGLQUH7AEBMMFNLZD25WOSALZKHBOUW2JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/452UZWMUQSST4YMIWKSMMQZTDMWP6U6C3ZV7YW5YBR4OEMWVA5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3CEFKQMFQRINE6QDYNV5PUOFVNP44GPDG3DNFRB2ZGONG4AJ6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP3ZPVUAHCWVZ62LCEUXJ3LIMUD5FJLE7WJXPKELRV26JN772GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSBJZGICJJPAAN43YTL57EJBQT52IQJHVK6NFIWKP2NMSK45TKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5SZJDFUNZZKMSHMAQ4BPHQJT7OXPFIXTM7FXZZZZ3Z36PZG4PDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLMSN3YS44VWUH3ROSQAE7YG5KFH4G6QKDMZ2LJPNFTEFP2IAXTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMA7KIHIQHWDPH7BTEOMNW3NGTXL2QSD4ZG3NS2XH5KSSDX575WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYYMKASQDO4UEWRDU4CK7X7IXUSGKHKCPS6UUE4KWGYTRH4GTMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGY7NRMVRAD4CCH4RCCQR3PHK2MNQ6LNLADSW3NQQL4BBQIXNCLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXG355NVRQIMV2EKY53MA5I24LDAZL7UKQLWUCW35SS6PWA4OUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUIBIPPC2QQMPLED4J732X2KSPFJPD7652KZA7OMGWY5NW2DRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5CMJLFL23K2YKWI3JPB6ULR6UT5LWXNDNBGEVYGMNTBUNBFCPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PS3H25O5PORT4H6DTQEGKYULYPFANSFQ2YHHO6AS25RZ6TVZJRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TOCQOF357VNWEJ4X4WBCHFVNYSBKDJY3AJN7HD5PCKISAJNZXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVR3G3FWPE4B3LTSOQ6NOQZBUT77OLKNJMOJQQOJ4UAUOPB5FRFQ/vendors.js"
            ]
        },
        "CreateActionTemplate": {
            "http": {
                "requestUri": "/createActionTemplate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "payload",
                    "task"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "dependencies": {
                        "shape": "Sj"
                    },
                    "name": {},
                    "payload": {},
                    "task": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "createdAt",
                    "id",
                    "site"
                ],
                "members": {
                    "arn": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "id": {},
                    "site": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RN3TH2MW2JDCAHMUZIGLQUH7AEBMMFNLZD25WOSALZKHBOUW2JIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/452UZWMUQSST4YMIWKSMMQZTDMWP6U6C3ZV7YW5YBR4OEMWVA5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3CEFKQMFQRINE6QDYNV5PUOFVNP44GPDG3DNFRB2ZGONG4AJ6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP3ZPVUAHCWVZ62LCEUXJ3LIMUD5FJLE7WJXPKELRV26JN772GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSBJZGICJJPAAN43YTL57EJBQT52IQJHVK6NFIWKP2NMSK45TKEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5SZJDFUNZZKMSHMAQ4BPHQJT7OXPFIXTM7FXZZZZ3Z36PZG4PDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLMSN3YS44VWUH3ROSQAE7YG5KFH4G6QKDMZ2LJPNFTEFP2IAXTQ/vendors.js",
[...]
