{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-05-28",
        "endpointPrefix": "data.iot",
        "protocol": "rest-json",
        "serviceFullName": "AWS IoT Data Plane",
        "serviceId": "IoT Data Plane",
        "signatureVersion": "v4",
        "signingName": "iotdata",
        "uid": "iot-data-2015-05-28",
        "download_location": [
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
        ]
    },
    "operations": {
        "DeleteThingShadow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/things/{thingName}/shadow"
            },
            "input": {
                "type": "structure",
                "required": [
                    "thingName"
                ],
                "members": {
                    "thingName": {
                        "location": "uri",
                        "locationName": "thingName"
                    },
                    "shadowName": {
                        "location": "querystring",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "payload"
                ],
                "members": {
                    "payload": {
                        "type": "blob"
                    }
                },
                "payload": "payload"
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetThingShadow": {
            "http": {
                "method": "GET",
                "requestUri": "/things/{thingName}/shadow"
            },
            "input": {
                "type": "structure",
                "required": [
                    "thingName"
                ],
                "members": {
                    "thingName": {
                        "location": "uri",
                        "locationName": "thingName"
                    },
                    "shadowName": {
                        "location": "querystring",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "payload": {
                        "type": "blob"
                    }
                },
                "payload": "payload"
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "ListNamedShadowsForThing": {
            "http": {
                "method": "GET",
                "requestUri": "/api/things/shadow/ListNamedShadowsForThing/{thingName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "thingName"
                ],
                "members": {
                    "thingName": {
                        "location": "uri",
                        "locationName": "thingName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "pageSize": {
                        "location": "querystring",
                        "locationName": "pageSize",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "results": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "timestamp": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "Publish": {
            "http": {
                "requestUri": "/topics/{topic}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "topic"
                ],
                "members": {
                    "topic": {
                        "location": "uri",
                        "locationName": "topic"
                    },
                    "qos": {
                        "location": "querystring",
                        "locationName": "qos",
                        "type": "integer"
                    },
                    "payload": {
                        "type": "blob"
                    },
                    "retain": {
                        "location": "querystring",
                        "locationName": "retain",
                        "type": "boolean"
                    },
                    "userProperties": {
                        "jsonvalue": true,
                        "location": "header",
                        "locationName": "x-amz-mqtt5-user-properties"
                    },
                    "payloadFormatIndicator": {
                        "location": "header",
                        "locationName": "x-amz-mqtt5-payload-format-indicator"
                    },
                    "contentType": {
                        "location": "querystring",
                        "locationName": "contentType"
                    },
                    "responseTopic": {
                        "location": "querystring",
                        "locationName": "responseTopic"
                    },
                    "correlationData": {
                        "location": "header",
                        "locationName": "x-amz-mqtt5-correlation-data"
                    },
                    "messageExpiry": {
                        "location": "querystring",
                        "locationName": "messageExpiry",
                        "type": "long"
                    }
                },
                "payload": "payload"
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "UpdateThingShadow": {
            "http": {
                "requestUri": "/things/{thingName}/shadow"
            },
            "input": {
                "type": "structure",
                "required": [
                    "thingName",
                    "payload"
                ],
                "members": {
                    "thingName": {
                        "location": "uri",
                        "locationName": "thingName"
                    },
                    "shadowName": {
                        "location": "querystring",
                        "locationName": "name"
                    },
                    "payload": {
                        "type": "blob"
                    }
                },
                "payload": "payload"
            },
            "output": {
                "type": "structure",
                "members": {
                    "payload": {
                        "type": "blob"
                    }
                },
                "payload": "payload"
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetRetainedMessage": {
            "http": {
                "method": "GET",
                "requestUri": "/retainedMessage/{topic}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "topic"
                ],
                "members": {
                    "topic": {
                        "location": "uri",
                        "locationName": "topic"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "topic": {},
                    "payload": {
                        "type": "blob"
                    },
                    "qos": {
                        "type": "integer"
                    },
                    "lastModifiedTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "ListRetainedMessages": {
            "http": {
                "method": "GET",
                "requestUri": "/retainedMessage"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "retainedTopics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "topic": {},
                                "payloadSize": {
                                    "type": "long"
                                },
                                "qos": {
                                    "type": "integer"
                                },
                                "lastModifiedTime": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        }
    },
    "shapes": {}
}