{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-29",
        "endpointPrefix": "data.jobs.iot",
        "protocol": "rest-json",
        "serviceFullName": "AWS IoT Jobs Data Plane",
        "serviceId": "IoT Jobs Data Plane",
        "signatureVersion": "v4",
        "signingName": "iot-jobs-data",
        "uid": "iot-jobs-data-2017-09-29",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
        ]
    },
    "operations": {
        "DescribeJobExecution": {
            "http": {
                "method": "GET",
                "requestUri": "/things/{thingName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "thingName"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "thingName": {
                        "location": "uri",
                        "locationName": "thingName"
                    },
                    "includeJobDocument": {
                        "location": "querystring",
                        "locationName": "includeJobDocument",
                        "type": "boolean"
                    },
                    "executionNumber": {
                        "location": "querystring",
                        "locationName": "executionNumber",
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "execution": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetPendingJobExecutions": {
            "http": {
                "method": "GET",
                "requestUri": "/things/{thingName}/jobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "thingName"
                ],
                "members": {
                    "thingName": {
                        "location": "uri",
                        "locationName": "thingName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "inProgressJobs": {
                        "shape": "Sl"
                    },
                    "queuedJobs": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "StartNextPendingJobExecution": {
            "http": {
                "method": "PUT",
                "requestUri": "/things/{thingName}/jobs/$next"
            },
            "input": {
                "type": "structure",
                "required": [
                    "thingName"
                ],
                "members": {
                    "thingName": {
                        "location": "uri",
                        "locationName": "thingName"
                    },
                    "statusDetails": {
                        "shape": "Sa"
                    },
                    "stepTimeoutInMinutes": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "execution": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "UpdateJobExecution": {
            "http": {
                "requestUri": "/things/{thingName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId",
                    "thingName",
                    "status"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "thingName": {
                        "location": "uri",
                        "locationName": "thingName"
                    },
                    "status": {},
                    "statusDetails": {
                        "shape": "Sa"
                    },
                    "stepTimeoutInMinutes": {
                        "type": "long"
                    },
                    "expectedVersion": {
                        "type": "long"
                    },
                    "includeJobExecutionState": {
                        "type": "boolean"
                    },
                    "includeJobDocument": {
                        "type": "boolean"
                    },
                    "executionNumber": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionState": {
                        "type": "structure",
                        "members": {
                            "status": {},
                            "statusDetails": {
                                "shape": "Sa"
                            },
                            "versionNumber": {
                                "type": "long"
                            }
                        }
                    },
                    "jobDocument": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "members": {
                "jobId": {},
                "thingName": {},
                "status": {},
                "statusDetails": {
                    "shape": "Sa"
                },
                "queuedAt": {
                    "type": "long"
                },
                "startedAt": {
                    "type": "long"
                },
                "lastUpdatedAt": {
                    "type": "long"
                },
                "approximateSecondsBeforeTimedOut": {
                    "type": "long"
                },
                "versionNumber": {
                    "type": "long"
                },
                "executionNumber": {
                    "type": "long"
                },
                "jobDocument": {}
            }
        },
        "Sa": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "queuedAt": {
                        "type": "long"
                    },
                    "startedAt": {
                        "type": "long"
                    },
                    "lastUpdatedAt": {
                        "type": "long"
                    },
                    "versionNumber": {
                        "type": "long"
                    },
                    "executionNumber": {
                        "type": "long"
                    }
                }
            }
        }
    }
}