{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-27",
        "endpointPrefix": "iotanalytics",
        "protocol": "rest-json",
        "serviceFullName": "AWS IoT Analytics",
        "serviceId": "IoTAnalytics",
        "signatureVersion": "v4",
        "signingName": "iotanalytics",
        "uid": "iotanalytics-2017-11-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
        ]
    },
    "operations": {
        "BatchPutMessage": {
            "http": {
                "requestUri": "/messages/batch",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelName",
                    "messages"
                ],
                "members": {
                    "channelName": {},
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "payload"
                            ],
                            "members": {
                                "messageId": {},
                                "payload": {
                                    "type": "blob"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchPutMessageErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CancelPipelineReprocessing": {
            "http": {
                "method": "DELETE",
                "requestUri": "/pipelines/{pipelineName}/reprocessing/{reprocessingId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "pipelineName",
                    "reprocessingId"
                ],
                "members": {
                    "pipelineName": {
                        "location": "uri",
                        "locationName": "pipelineName"
                    },
                    "reprocessingId": {
                        "location": "uri",
                        "locationName": "reprocessingId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateChannel": {
            "http": {
                "requestUri": "/channels",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelName"
                ],
                "members": {
                    "channelName": {},
                    "channelStorage": {
                        "shape": "Sh"
                    },
                    "retentionPeriod": {
                        "shape": "Sn"
                    },
                    "tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "channelName": {},
                    "channelArn": {},
                    "retentionPeriod": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateDataset": {
            "http": {
                "requestUri": "/datasets",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName",
                    "actions"
                ],
                "members": {
                    "datasetName": {},
                    "actions": {
                        "shape": "Sy"
                    },
                    "triggers": {
                        "shape": "S1l"
                    },
                    "contentDeliveryRules": {
                        "shape": "S1q"
                    },
                    "retentionPeriod": {
                        "shape": "Sn"
                    },
                    "versioningConfiguration": {
                        "shape": "S21"
                    },
                    "tags": {
                        "shape": "Sq"
                    },
                    "lateDataRules": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetName": {},
                    "datasetArn": {},
                    "retentionPeriod": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateDatasetContent": {
            "http": {
                "requestUri": "/datasets/{datasetName}/content"
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName"
                ],
                "members": {
                    "datasetName": {
                        "location": "uri",
                        "locationName": "datasetName"
                    },
                    "versionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "versionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateDatastore": {
            "http": {
                "requestUri": "/datastores",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreName"
                ],
                "members": {
                    "datastoreName": {},
                    "datastoreStorage": {
                        "shape": "S2h"
                    },
                    "retentionPeriod": {
                        "shape": "Sn"
                    },
                    "tags": {
                        "shape": "Sq"
                    },
                    "fileFormatConfiguration": {
                        "shape": "S2k"
                    },
                    "datastorePartitions": {
                        "shape": "S2u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datastoreName": {},
                    "datastoreArn": {},
                    "retentionPeriod": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreatePipeline": {
            "http": {
                "requestUri": "/pipelines",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "pipelineName",
                    "pipelineActivities"
                ],
                "members": {
                    "pipelineName": {},
                    "pipelineActivities": {
                        "shape": "S2v"
                    },
                    "tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "pipelineName": {},
                    "pipelineArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/channels/{channelName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelName"
                ],
                "members": {
                    "channelName": {
                        "location": "uri",
                        "locationName": "channelName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/datasets/{datasetName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName"
                ],
                "members": {
                    "datasetName": {
                        "location": "uri",
                        "locationName": "datasetName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteDatasetContent": {
            "http": {
                "method": "DELETE",
                "requestUri": "/datasets/{datasetName}/content",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName"
                ],
                "members": {
                    "datasetName": {
                        "location": "uri",
                        "locationName": "datasetName"
                    },
                    "versionId": {
                        "location": "querystring",
                        "locationName": "versionId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteDatastore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/datastores/{datastoreName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreName"
                ],
                "members": {
                    "datastoreName": {
                        "location": "uri",
                        "locationName": "datastoreName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeletePipeline": {
            "http": {
                "method": "DELETE",
                "requestUri": "/pipelines/{pipelineName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "pipelineName"
                ],
                "members": {
                    "pipelineName": {
                        "location": "uri",
                        "locationName": "pipelineName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribeChannel": {
            "http": {
                "method": "GET",
                "requestUri": "/channels/{channelName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelName"
                ],
                "members": {
                    "channelName": {
                        "location": "uri",
                        "locationName": "channelName"
                    },
                    "includeStatistics": {
                        "location": "querystring",
                        "locationName": "includeStatistics",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "channel": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "storage": {
                                "shape": "Sh"
                            },
                            "arn": {},
                            "status": {},
                            "retentionPeriod": {
                                "shape": "Sn"
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            },
                            "lastMessageArrivalTime": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "statistics": {
                        "type": "structure",
                        "members": {
                            "size": {
                                "shape": "S3t"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets/{datasetName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName"
                ],
                "members": {
                    "datasetName": {
                        "location": "uri",
                        "locationName": "datasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataset": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "arn": {},
                            "actions": {
                                "shape": "Sy"
                            },
                            "triggers": {
                                "shape": "S1l"
                            },
                            "contentDeliveryRules": {
                                "shape": "S1q"
                            },
                            "status": {},
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            },
                            "retentionPeriod": {
                                "shape": "Sn"
                            },
                            "versioningConfiguration": {
                                "shape": "S21"
                            },
                            "lateDataRules": {
                                "shape": "S24"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribeDatastore": {
            "http": {
                "method": "GET",
                "requestUri": "/datastores/{datastoreName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreName"
                ],
                "members": {
                    "datastoreName": {
                        "location": "uri",
                        "locationName": "datastoreName"
                    },
                    "includeStatistics": {
                        "location": "querystring",
                        "locationName": "includeStatistics",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datastore": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "storage": {
                                "shape": "S2h"
                            },
                            "arn": {},
                            "status": {},
                            "retentionPeriod": {
                                "shape": "Sn"
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            },
                            "lastMessageArrivalTime": {
                                "type": "timestamp"
                            },
                            "fileFormatConfiguration": {
                                "shape": "S2k"
                            }
                        }
                    },
                    "statistics": {
                        "type": "structure",
                        "members": {
                            "size": {
                                "shape": "S3t"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribeLoggingOptions": {
            "http": {
                "method": "GET",
                "requestUri": "/logging"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "loggingOptions": {
                        "shape": "S46"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribePipeline": {
            "http": {
                "method": "GET",
                "requestUri": "/pipelines/{pipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "pipelineName"
                ],
                "members": {
                    "pipelineName": {
                        "location": "uri",
                        "locationName": "pipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "pipeline": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "arn": {},
                            "activities": {
                                "shape": "S2v"
                            },
                            "reprocessingSummaries": {
                                "shape": "S4c"
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GetDatasetContent": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets/{datasetName}/content"
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName"
                ],
                "members": {
                    "datasetName": {
                        "location": "uri",
                        "locationName": "datasetName"
                    },
                    "versionId": {
                        "location": "querystring",
                        "locationName": "versionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "entryName": {},
                                "dataURI": {}
                            }
                        }
                    },
                    "timestamp": {
                        "type": "timestamp"
                    },
                    "status": {
                        "shape": "S4k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListChannels": {
            "http": {
                "method": "GET",
                "requestUri": "/channels"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "channelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "channelName": {},
                                "channelStorage": {
                                    "type": "structure",
                                    "members": {
                                        "serviceManagedS3": {
                                            "type": "structure",
                                            "members": {}
                                        },
                                        "customerManagedS3": {
                                            "type": "structure",
                                            "members": {
                                                "bucket": {},
                                                "keyPrefix": {},
                                                "roleArn": {}
                                            }
                                        }
                                    }
                                },
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "lastMessageArrivalTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListDatasetContents": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets/{datasetName}/contents"
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName"
                ],
                "members": {
                    "datasetName": {
                        "location": "uri",
                        "locationName": "datasetName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "scheduledOnOrAfter": {
                        "location": "querystring",
                        "locationName": "scheduledOnOrAfter",
                        "type": "timestamp"
                    },
                    "scheduledBefore": {
                        "location": "querystring",
                        "locationName": "scheduledBefore",
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetContentSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "version": {},
                                "status": {
                                    "shape": "S4k"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "scheduleTime": {
                                    "type": "timestamp"
                                },
                                "completionTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "datasetName": {},
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "triggers": {
                                    "shape": "S1l"
                                },
                                "actions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "actionName": {},
                                            "actionType": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListDatastores": {
            "http": {
                "method": "GET",
                "requestUri": "/datastores"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datastoreSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "datastoreName": {},
                                "datastoreStorage": {
                                    "type": "structure",
                                    "members": {
                                        "serviceManagedS3": {
                                            "type": "structure",
                                            "members": {}
                                        },
                                        "customerManagedS3": {
                                            "type": "structure",
                                            "members": {
                                                "bucket": {},
                                                "keyPrefix": {},
                                                "roleArn": {}
                                            }
                                        }
                                    }
                                },
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "lastMessageArrivalTime": {
                                    "type": "timestamp"
                                },
                                "fileFormatType": {}
                            }
                        }
                    },
[...]
