{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-27",
        "endpointPrefix": "iotanalytics",
        "protocol": "rest-json",
        "serviceFullName": "AWS IoT Analytics",
        "serviceId": "IoTAnalytics",
        "signatureVersion": "v4",
        "signingName": "iotanalytics",
        "uid": "iotanalytics-2017-11-27",
        "download_location": [
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
        ]
    },
    "operations": {
        "BatchPutMessage": {
            "http": {
                "requestUri": "/messages/batch",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelName",
                    "messages"
                ],
                "members": {
                    "channelName": {},
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "payload"
                            ],
                            "members": {
                                "messageId": {},
                                "payload": {
                                    "type": "blob"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchPutMessageErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CancelPipelineReprocessing": {
            "http": {
                "method": "DELETE",
                "requestUri": "/pipelines/{pipelineName}/reprocessing/{reprocessingId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "pipelineName",
                    "reprocessingId"
                ],
                "members": {
                    "pipelineName": {
                        "location": "uri",
                        "locationName": "pipelineName"
                    },
                    "reprocessingId": {
                        "location": "uri",
                        "locationName": "reprocessingId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateChannel": {
            "http": {
                "requestUri": "/channels",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelName"
                ],
                "members": {
                    "channelName": {},
                    "channelStorage": {
                        "shape": "Sh"
                    },
                    "retentionPeriod": {
                        "shape": "Sn"
                    },
                    "tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "channelName": {},
                    "channelArn": {},
                    "retentionPeriod": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateDataset": {
            "http": {
                "requestUri": "/datasets",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName",
                    "actions"
                ],
                "members": {
                    "datasetName": {},
                    "actions": {
                        "shape": "Sy"
                    },
                    "triggers": {
                        "shape": "S1l"
                    },
                    "contentDeliveryRules": {
                        "shape": "S1q"
                    },
                    "retentionPeriod": {
                        "shape": "Sn"
                    },
                    "versioningConfiguration": {
                        "shape": "S21"
                    },
                    "tags": {
                        "shape": "Sq"
                    },
                    "lateDataRules": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetName": {},
                    "datasetArn": {},
                    "retentionPeriod": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateDatasetContent": {
            "http": {
                "requestUri": "/datasets/{datasetName}/content"
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName"
                ],
                "members": {
                    "datasetName": {
                        "location": "uri",
                        "locationName": "datasetName"
                    },
                    "versionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "versionId": {}
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateDatastore": {
            "http": {
                "requestUri": "/datastores",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreName"
                ],
                "members": {
                    "datastoreName": {},
                    "datastoreStorage": {
                        "shape": "S2h"
                    },
                    "retentionPeriod": {
                        "shape": "Sn"
                    },
                    "tags": {
                        "shape": "Sq"
                    },
                    "fileFormatConfiguration": {
                        "shape": "S2k"
                    },
                    "datastorePartitions": {
                        "shape": "S2u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datastoreName": {},
                    "datastoreArn": {},
                    "retentionPeriod": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreatePipeline": {
            "http": {
                "requestUri": "/pipelines",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "pipelineName",
                    "pipelineActivities"
                ],
                "members": {
                    "pipelineName": {},
                    "pipelineActivities": {
                        "shape": "S2v"
                    },
                    "tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "pipelineName": {},
                    "pipelineArn": {}
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/channels/{channelName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelName"
                ],
                "members": {
                    "channelName": {
                        "location": "uri",
                        "locationName": "channelName"
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/datasets/{datasetName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName"
                ],
                "members": {
                    "datasetName": {
                        "location": "uri",
                        "locationName": "datasetName"
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteDatasetContent": {
            "http": {
                "method": "DELETE",
                "requestUri": "/datasets/{datasetName}/content",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName"
                ],
                "members": {
                    "datasetName": {
                        "location": "uri",
                        "locationName": "datasetName"
                    },
                    "versionId": {
                        "location": "querystring",
                        "locationName": "versionId"
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteDatastore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/datastores/{datastoreName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreName"
                ],
                "members": {
                    "datastoreName": {
                        "location": "uri",
                        "locationName": "datastoreName"
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeletePipeline": {
            "http": {
                "method": "DELETE",
                "requestUri": "/pipelines/{pipelineName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "pipelineName"
                ],
                "members": {
                    "pipelineName": {
                        "location": "uri",
                        "locationName": "pipelineName"
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeChannel": {
            "http": {
                "method": "GET",
                "requestUri": "/channels/{channelName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelName"
                ],
                "members": {
                    "channelName": {
                        "location": "uri",
                        "locationName": "channelName"
                    },
                    "includeStatistics": {
                        "location": "querystring",
                        "locationName": "includeStatistics",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "channel": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "storage": {
                                "shape": "Sh"
                            },
                            "arn": {},
                            "status": {},
                            "retentionPeriod": {
                                "shape": "Sn"
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            },
                            "lastMessageArrivalTime": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "statistics": {
                        "type": "structure",
                        "members": {
                            "size": {
                                "shape": "S3t"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets/{datasetName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName"
                ],
                "members": {
                    "datasetName": {
                        "location": "uri",
                        "locationName": "datasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataset": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "arn": {},
                            "actions": {
                                "shape": "Sy"
                            },
                            "triggers": {
                                "shape": "S1l"
                            },
                            "contentDeliveryRules": {
                                "shape": "S1q"
                            },
                            "status": {},
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            },
                            "retentionPeriod": {
                                "shape": "Sn"
                            },
                            "versioningConfiguration": {
                                "shape": "S21"
                            },
                            "lateDataRules": {
                                "shape": "S24"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeDatastore": {
            "http": {
                "method": "GET",
                "requestUri": "/datastores/{datastoreName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreName"
                ],
                "members": {
                    "datastoreName": {
                        "location": "uri",
                        "locationName": "datastoreName"
                    },
                    "includeStatistics": {
                        "location": "querystring",
                        "locationName": "includeStatistics",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datastore": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "storage": {
                                "shape": "S2h"
                            },
                            "arn": {},
                            "status": {},
                            "retentionPeriod": {
                                "shape": "Sn"
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            },
                            "lastMessageArrivalTime": {
                                "type": "timestamp"
                            },
                            "fileFormatConfiguration": {
                                "shape": "S2k"
                            }
                        }
                    },
                    "statistics": {
                        "type": "structure",
                        "members": {
                            "size": {
                                "shape": "S3t"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeLoggingOptions": {
            "http": {
                "method": "GET",
                "requestUri": "/logging"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "loggingOptions": {
                        "shape": "S46"
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribePipeline": {
            "http": {
                "method": "GET",
                "requestUri": "/pipelines/{pipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "pipelineName"
                ],
                "members": {
                    "pipelineName": {
                        "location": "uri",
                        "locationName": "pipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "pipeline": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "arn": {},
                            "activities": {
                                "shape": "S2v"
                            },
                            "reprocessingSummaries": {
                                "shape": "S4c"
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "GetDatasetContent": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets/{datasetName}/content"
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName"
                ],
                "members": {
                    "datasetName": {
                        "location": "uri",
                        "locationName": "datasetName"
                    },
                    "versionId": {
                        "location": "querystring",
                        "locationName": "versionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "entryName": {},
                                "dataURI": {}
                            }
                        }
                    },
                    "timestamp": {
                        "type": "timestamp"
                    },
                    "status": {
                        "shape": "S4k"
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListChannels": {
            "http": {
                "method": "GET",
                "requestUri": "/channels"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "channelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "channelName": {},
                                "channelStorage": {
                                    "type": "structure",
                                    "members": {
                                        "serviceManagedS3": {
                                            "type": "structure",
                                            "members": {}
                                        },
                                        "customerManagedS3": {
                                            "type": "structure",
                                            "members": {
                                                "bucket": {},
                                                "keyPrefix": {},
                                                "roleArn": {}
                                            }
                                        }
                                    }
                                },
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "lastMessageArrivalTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListDatasetContents": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets/{datasetName}/contents"
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetName"
                ],
                "members": {
                    "datasetName": {
                        "location": "uri",
                        "locationName": "datasetName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "scheduledOnOrAfter": {
                        "location": "querystring",
                        "locationName": "scheduledOnOrAfter",
                        "type": "timestamp"
                    },
                    "scheduledBefore": {
                        "location": "querystring",
                        "locationName": "scheduledBefore",
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetContentSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "version": {},
                                "status": {
                                    "shape": "S4k"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "scheduleTime": {
                                    "type": "timestamp"
                                },
                                "completionTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "datasetName": {},
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "triggers": {
                                    "shape": "S1l"
                                },
                                "actions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "actionName": {},
                                            "actionType": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListDatastores": {
            "http": {
                "method": "GET",
                "requestUri": "/datastores"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datastoreSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "datastoreName": {},
                                "datastoreStorage": {
                                    "type": "structure",
                                    "members": {
                                        "serviceManagedS3": {
                                            "type": "structure",
                                            "members": {}
                                        },
                                        "customerManagedS3": {
                                            "type": "structure",
                                            "members": {
                                                "bucket": {},
                                                "keyPrefix": {},
                                                "roleArn": {}
                                            }
                                        }
                                    }
                                },
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "lastMessageArrivalTime": {
                                    "type": "timestamp"
                                },
                                "fileFormatType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
[...]
