{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "iotbifrostmlorchestratorlambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Iot Bifrost ML Orchestrator Lambda",
        "serviceId": "IoTBifrostML",
        "signatureVersion": "v4",
        "signingName": "iotsitewise",
        "uid": "iotbifrostmlorchestratorlambda-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6CAUBF56YXOUDAPV26KZJUP4JKGPMC5K7XBKEYNBSVJU3WKEN6PA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEK4ISKICGDHQSUJTWCVONHGP5YS4BKHMHZKHC3L3ZNAOB665R7Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFES6UHYZFYQUIFG63CYAI5B5M4FPH7TYNE6LVTI2BDOPB5RJKQQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QIPRRNKNTIJ2EEF7FFX65O2KIJERZBYJOCOFLZOE4I5X77A4SOOQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPTBQY2HVKNZHRTKLNRFT6LKQGV6LJVAN2DNS4IV4XTSIE7K7MTQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E4DVFJINLB4VXJJ3BTCC4XRIOPYIPE6BMUO4VTIIQBRLIHHCLI4Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RQZ36Z4NG6KMXBG2EDYDSNBZOXIFGZBQ5MHJ3EBRQGZYUN3R73A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BWY7QOEJ7XX5SLQFWY7MUDUWT7M4XHX5LCSRQCQLEUNNRPWYMPLQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O42IHQQAWKEDEUHTQSBOVWDVAWQHRL5Y4LI2QVNCTDTLJPFICQWA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CJCWIXAXXD5XWUEGWRGW62TQN5KZ2Z6WLN36WXRXZVSEA6MRFPIA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQPNUUKRMCW7HPGK33NJEDU6MJ5FUS5MCFR4NRSVHDC7MSSE4OQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBW7VP7WUULF6SZ3MS5GAJULBKMHLGVRKGVXPIOR2DKTVOG74MGA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJJJ563ZH63265IIXNK62YACFX3BZG2MYW42O45PFIIQGTJYDOKQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JZW56JZL4MQTWOAV55AL5ASWMOSN5TZQMZHP255O4N6UTNSA26Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZN4QAVH6DYLUYUBYAUCFKZJFFQQ6YRAZDCA3LZH5HKUAZRHQH4A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
        ]
    },
    "operations": {
        "CreateAndStartAnomalyDetector": {
            "http": {
                "requestUri": "/createAndStartAnomalyDetector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorId",
                    "anomalyDetectorName",
                    "sitewiseSourceConfig",
                    "mlServiceConfig"
                ],
                "members": {
                    "detectorId": {},
                    "anomalyDetectorName": {},
                    "sitewiseSourceConfig": {
                        "type": "structure",
                        "required": [
                            "modelId",
                            "modelName",
                            "assetProperty"
                        ],
                        "members": {
                            "modelId": {},
                            "modelName": {},
                            "assetProperty": {
                                "type": "structure",
                                "required": [
                                    "propertyId",
                                    "propertyName"
                                ],
                                "members": {
                                    "assetId": {},
                                    "propertyId": {},
                                    "propertyName": {}
                                }
                            }
                        }
                    },
                    "mlServiceConfig": {
                        "type": "structure",
                        "members": {
                            "l4MServiceConfig": {
                                "type": "structure",
                                "required": [
                                    "dataUploadFrequency",
                                    "dataIngestionLocation",
                                    "roleConfiguration"
                                ],
                                "members": {
                                    "timeZone": {},
                                    "dataIngestionDelay": {
                                        "type": "long"
                                    },
                                    "dataUploadFrequency": {},
                                    "dataIngestionLocation": {
                                        "type": "structure",
                                        "required": [
                                            "s3DataSource"
                                        ],
                                        "members": {
                                            "s3DataSource": {
                                                "shape": "Sd"
                                            }
                                        }
                                    },
                                    "roleConfiguration": {
                                        "type": "structure",
                                        "required": [
                                            "roleArn",
                                            "s3RoleArn"
                                        ],
                                        "members": {
                                            "roleArn": {},
                                            "s3RoleArn": {}
                                        }
                                    },
                                    "description": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorId": {},
                    "detectorStatus": {},
                    "anomalyDetectorName": {},
                    "anomalyDetectorARN": {},
                    "failureReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEK4ISKICGDHQSUJTWCVONHGP5YS4BKHMHZKHC3L3ZNAOB665R7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFES6UHYZFYQUIFG63CYAI5B5M4FPH7TYNE6LVTI2BDOPB5RJKQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIPRRNKNTIJ2EEF7FFX65O2KIJERZBYJOCOFLZOE4I5X77A4SOOQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPTBQY2HVKNZHRTKLNRFT6LKQGV6LJVAN2DNS4IV4XTSIE7K7MTQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4DVFJINLB4VXJJ3BTCC4XRIOPYIPE6BMUO4VTIIQBRLIHHCLI4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RQZ36Z4NG6KMXBG2EDYDSNBZOXIFGZBQ5MHJ3EBRQGZYUN3R73A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWY7QOEJ7XX5SLQFWY7MUDUWT7M4XHX5LCSRQCQLEUNNRPWYMPLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O42IHQQAWKEDEUHTQSBOVWDVAWQHRL5Y4LI2QVNCTDTLJPFICQWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJCWIXAXXD5XWUEGWRGW62TQN5KZ2Z6WLN36WXRXZVSEA6MRFPIA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQPNUUKRMCW7HPGK33NJEDU6MJ5FUS5MCFR4NRSVHDC7MSSE4OQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBW7VP7WUULF6SZ3MS5GAJULBKMHLGVRKGVXPIOR2DKTVOG74MGA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJJJ563ZH63265IIXNK62YACFX3BZG2MYW42O45PFIIQGTJYDOKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JZW56JZL4MQTWOAV55AL5ASWMOSN5TZQMZHP255O4N6UTNSA26Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZN4QAVH6DYLUYUBYAUCFKZJFFQQ6YRAZDCA3LZH5HKUAZRHQH4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "DescribeAnomalyDetector": {
            "http": {
                "method": "GET",
                "requestUri": "/anomalyDetector/{detectorId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorId"
                ],
                "members": {
                    "detectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "anomalyDetectorName": {},
                    "detectorId": {},
                    "detectorStatus": {},
                    "description": {},
                    "dataUploadFrequency": {},
                    "failureReason": {},
                    "s3RoleArn": {},
                    "mlServiceRoleArn": {},
                    "creationTime": {
                        "type": "long"
                    },
                    "lastModificationTime": {
                        "type": "long"
                    },
                    "anomalyDetectorARN": {},
                    "propertyId": {},
                    "propertyName": {},
                    "s3DataSource": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEK4ISKICGDHQSUJTWCVONHGP5YS4BKHMHZKHC3L3ZNAOB665R7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFES6UHYZFYQUIFG63CYAI5B5M4FPH7TYNE6LVTI2BDOPB5RJKQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIPRRNKNTIJ2EEF7FFX65O2KIJERZBYJOCOFLZOE4I5X77A4SOOQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPTBQY2HVKNZHRTKLNRFT6LKQGV6LJVAN2DNS4IV4XTSIE7K7MTQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4DVFJINLB4VXJJ3BTCC4XRIOPYIPE6BMUO4VTIIQBRLIHHCLI4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RQZ36Z4NG6KMXBG2EDYDSNBZOXIFGZBQ5MHJ3EBRQGZYUN3R73A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWY7QOEJ7XX5SLQFWY7MUDUWT7M4XHX5LCSRQCQLEUNNRPWYMPLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O42IHQQAWKEDEUHTQSBOVWDVAWQHRL5Y4LI2QVNCTDTLJPFICQWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJCWIXAXXD5XWUEGWRGW62TQN5KZ2Z6WLN36WXRXZVSEA6MRFPIA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQPNUUKRMCW7HPGK33NJEDU6MJ5FUS5MCFR4NRSVHDC7MSSE4OQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBW7VP7WUULF6SZ3MS5GAJULBKMHLGVRKGVXPIOR2DKTVOG74MGA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJJJ563ZH63265IIXNK62YACFX3BZG2MYW42O45PFIIQGTJYDOKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JZW56JZL4MQTWOAV55AL5ASWMOSN5TZQMZHP255O4N6UTNSA26Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZN4QAVH6DYLUYUBYAUCFKZJFFQQ6YRAZDCA3LZH5HKUAZRHQH4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        }
    },
    "shapes": {
        "Sd": {
            "type": "structure",
            "required": [
                "bucket",
                "keyPrefix"
            ],
            "members": {
                "bucket": {},
                "keyPrefix": {}
            }
        }
    }
}