{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "iotbifrostmlorchestratorlambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Iot Bifrost ML Orchestrator Lambda",
        "serviceId": "IoTBifrostML",
        "signatureVersion": "v4",
        "signingName": "iotsitewise",
        "uid": "iotbifrostmlorchestratorlambda-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFO4R3J5SD64IQHNMOEWU35CUWSQ4QUBEZ6SVXCEJVQXEODIPDHA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DK5PVHR5CP5ONKP3JS4AGMFTKE6EWZ6EN3X4DYUDO33BTEZM2KA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NIMEHXTALDXJBSB4MM2JVL2YK5CUO7EPJPV55BM5LYLZDFQCUUNQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NBK62DS5N5KKQJXLYPX3MQGESOJUZIKS4WZS24NSEWS2NCK276FQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S5H7Q4VRT7VBSDEFDRAYIBAWOQSXA6XVMJMH7NVVOC4HZQZGNJNQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N7PMMZLRB523ORAN7D4G63PQORI6N5DXEXJOBZYTE6SSSB7ZJEXA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQ7FKVN5H3UUEI46TOSOTOJQZSC6OWK3GX5XER3H44UMGAIYQC4A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTDZM3JJRZGJUVMTYVWZ5FPQENSTO7FSY6EVMCGYFZANKXKEEA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5FPPF65CD3LQJMXEB2QKKYJLJAFWYD4FS2MSCIVEYP7T5PAXUJA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3PR6KV3VVAKIY5RFUHBJODLKGHMGZQXIYCKJ6G6DBONQO2J3ZAQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MZC2NOLR7OFH4IIKVYGRMX2OVJN7MHQ64IWQV7DVIYKQWPS3LBQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3AKYITSUQEOZPOKPW276KYGMVFVIXIPUN4L4443W6DBEAODGRKQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RFBTGDTIAAQVOHUKCBNMYRHMJUFTVC4FGSCK36LDEW2OMJY2WNOA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4AETQ2SFQ2NPMV6IGUDHYJ3ODE7MIVXKCPPJ72TST7TBF7W7WQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/756H5J55VIFS2LYCM5AMPQWK5TRVJYFYNG456QDFJTPMUP5SE5YQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TNHUUCIZQP3TYRCYFLEFN3OEHEQZGT3ABB5P7V6FISCPUBBBXSA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UOIAUQ2NXHIIAYRRX3YOM5JXS4QLZBTGIY242CUBFQCN35NXBV7A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLNXEFM5XEBGHSM7FYW72QZBPJ44VVLZ5BTTCMYJRAMBMLFVLQCQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JENWGFTFVCVBZF2T6BSXFRW2RDWNP55X5TVFKOPZJJTNNATBBUDA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NE4MYXZGO2KDLKPDRKL5PTS3RTTTOZQYOV7YUMTYBF64RGVV4QQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DR7HX3FRKSDG3ND2YWNN7TCAPQUYXOVQ7RH2DBJ6Y2FTI33KMSFA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
        ]
    },
    "operations": {
        "CreateAndStartAnomalyDetector": {
            "http": {
                "requestUri": "/createAndStartAnomalyDetector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorId",
                    "anomalyDetectorName",
                    "sitewiseSourceConfig",
                    "mlServiceConfig"
                ],
                "members": {
                    "detectorId": {},
                    "anomalyDetectorName": {},
                    "sitewiseSourceConfig": {
                        "type": "structure",
                        "required": [
                            "modelId",
                            "modelName",
                            "assetProperty"
                        ],
                        "members": {
                            "modelId": {},
                            "modelName": {},
                            "assetProperty": {
                                "type": "structure",
                                "required": [
                                    "propertyId",
                                    "propertyName"
                                ],
                                "members": {
                                    "assetId": {},
                                    "propertyId": {},
                                    "propertyName": {}
                                }
                            }
                        }
                    },
                    "mlServiceConfig": {
                        "type": "structure",
                        "members": {
                            "l4MServiceConfig": {
                                "type": "structure",
                                "required": [
                                    "dataUploadFrequency",
                                    "dataIngestionLocation",
                                    "roleConfiguration"
                                ],
                                "members": {
                                    "timeZone": {},
                                    "dataIngestionDelay": {
                                        "type": "long"
                                    },
                                    "dataUploadFrequency": {},
                                    "dataIngestionLocation": {
                                        "type": "structure",
                                        "required": [
                                            "s3DataSource"
                                        ],
                                        "members": {
                                            "s3DataSource": {
                                                "shape": "Sd"
                                            }
                                        }
                                    },
                                    "roleConfiguration": {
                                        "type": "structure",
                                        "required": [
                                            "roleArn",
                                            "s3RoleArn"
                                        ],
                                        "members": {
                                            "roleArn": {},
                                            "s3RoleArn": {}
                                        }
                                    },
                                    "description": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorId": {},
                    "detectorStatus": {},
                    "anomalyDetectorName": {},
                    "anomalyDetectorARN": {},
                    "failureReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DK5PVHR5CP5ONKP3JS4AGMFTKE6EWZ6EN3X4DYUDO33BTEZM2KA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIMEHXTALDXJBSB4MM2JVL2YK5CUO7EPJPV55BM5LYLZDFQCUUNQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBK62DS5N5KKQJXLYPX3MQGESOJUZIKS4WZS24NSEWS2NCK276FQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5H7Q4VRT7VBSDEFDRAYIBAWOQSXA6XVMJMH7NVVOC4HZQZGNJNQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7PMMZLRB523ORAN7D4G63PQORI6N5DXEXJOBZYTE6SSSB7ZJEXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ7FKVN5H3UUEI46TOSOTOJQZSC6OWK3GX5XER3H44UMGAIYQC4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTDZM3JJRZGJUVMTYVWZ5FPQENSTO7FSY6EVMCGYFZANKXKEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5FPPF65CD3LQJMXEB2QKKYJLJAFWYD4FS2MSCIVEYP7T5PAXUJA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PR6KV3VVAKIY5RFUHBJODLKGHMGZQXIYCKJ6G6DBONQO2J3ZAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MZC2NOLR7OFH4IIKVYGRMX2OVJN7MHQ64IWQV7DVIYKQWPS3LBQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3AKYITSUQEOZPOKPW276KYGMVFVIXIPUN4L4443W6DBEAODGRKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFBTGDTIAAQVOHUKCBNMYRHMJUFTVC4FGSCK36LDEW2OMJY2WNOA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4AETQ2SFQ2NPMV6IGUDHYJ3ODE7MIVXKCPPJ72TST7TBF7W7WQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756H5J55VIFS2LYCM5AMPQWK5TRVJYFYNG456QDFJTPMUP5SE5YQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TNHUUCIZQP3TYRCYFLEFN3OEHEQZGT3ABB5P7V6FISCPUBBBXSA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOIAUQ2NXHIIAYRRX3YOM5JXS4QLZBTGIY242CUBFQCN35NXBV7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLNXEFM5XEBGHSM7FYW72QZBPJ44VVLZ5BTTCMYJRAMBMLFVLQCQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JENWGFTFVCVBZF2T6BSXFRW2RDWNP55X5TVFKOPZJJTNNATBBUDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NE4MYXZGO2KDLKPDRKL5PTS3RTTTOZQYOV7YUMTYBF64RGVV4QQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7HX3FRKSDG3ND2YWNN7TCAPQUYXOVQ7RH2DBJ6Y2FTI33KMSFA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DescribeAnomalyDetector": {
            "http": {
                "method": "GET",
                "requestUri": "/anomalyDetector/{detectorId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorId"
                ],
                "members": {
                    "detectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "anomalyDetectorName": {},
                    "detectorId": {},
                    "detectorStatus": {},
                    "description": {},
                    "dataUploadFrequency": {},
                    "failureReason": {},
                    "s3RoleArn": {},
                    "mlServiceRoleArn": {},
                    "creationTime": {
                        "type": "long"
                    },
                    "lastModificationTime": {
                        "type": "long"
                    },
                    "anomalyDetectorARN": {},
                    "propertyId": {},
                    "propertyName": {},
                    "s3DataSource": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DK5PVHR5CP5ONKP3JS4AGMFTKE6EWZ6EN3X4DYUDO33BTEZM2KA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIMEHXTALDXJBSB4MM2JVL2YK5CUO7EPJPV55BM5LYLZDFQCUUNQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBK62DS5N5KKQJXLYPX3MQGESOJUZIKS4WZS24NSEWS2NCK276FQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5H7Q4VRT7VBSDEFDRAYIBAWOQSXA6XVMJMH7NVVOC4HZQZGNJNQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7PMMZLRB523ORAN7D4G63PQORI6N5DXEXJOBZYTE6SSSB7ZJEXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ7FKVN5H3UUEI46TOSOTOJQZSC6OWK3GX5XER3H44UMGAIYQC4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTDZM3JJRZGJUVMTYVWZ5FPQENSTO7FSY6EVMCGYFZANKXKEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5FPPF65CD3LQJMXEB2QKKYJLJAFWYD4FS2MSCIVEYP7T5PAXUJA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PR6KV3VVAKIY5RFUHBJODLKGHMGZQXIYCKJ6G6DBONQO2J3ZAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MZC2NOLR7OFH4IIKVYGRMX2OVJN7MHQ64IWQV7DVIYKQWPS3LBQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3AKYITSUQEOZPOKPW276KYGMVFVIXIPUN4L4443W6DBEAODGRKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFBTGDTIAAQVOHUKCBNMYRHMJUFTVC4FGSCK36LDEW2OMJY2WNOA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4AETQ2SFQ2NPMV6IGUDHYJ3ODE7MIVXKCPPJ72TST7TBF7W7WQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756H5J55VIFS2LYCM5AMPQWK5TRVJYFYNG456QDFJTPMUP5SE5YQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TNHUUCIZQP3TYRCYFLEFN3OEHEQZGT3ABB5P7V6FISCPUBBBXSA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOIAUQ2NXHIIAYRRX3YOM5JXS4QLZBTGIY242CUBFQCN35NXBV7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLNXEFM5XEBGHSM7FYW72QZBPJ44VVLZ5BTTCMYJRAMBMLFVLQCQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JENWGFTFVCVBZF2T6BSXFRW2RDWNP55X5TVFKOPZJJTNNATBBUDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NE4MYXZGO2KDLKPDRKL5PTS3RTTTOZQYOV7YUMTYBF64RGVV4QQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7HX3FRKSDG3ND2YWNN7TCAPQUYXOVQ7RH2DBJ6Y2FTI33KMSFA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        }
    },
    "shapes": {
        "Sd": {
            "type": "structure",
            "required": [
                "bucket",
                "keyPrefix"
            ],
            "members": {
                "bucket": {},
                "keyPrefix": {}
            }
        }
    }
}