{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "iotbifrostmlorchestratorlambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Iot Bifrost ML Orchestrator Lambda",
        "serviceId": "IoTBifrostML",
        "signatureVersion": "v4",
        "signingName": "iotsitewise",
        "uid": "iotbifrostmlorchestratorlambda-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLNXEFM5XEBGHSM7FYW72QZBPJ44VVLZ5BTTCMYJRAMBMLFVLQCQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JENWGFTFVCVBZF2T6BSXFRW2RDWNP55X5TVFKOPZJJTNNATBBUDA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NE4MYXZGO2KDLKPDRKL5PTS3RTTTOZQYOV7YUMTYBF64RGVV4QQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DR7HX3FRKSDG3ND2YWNN7TCAPQUYXOVQ7RH2DBJ6Y2FTI33KMSFA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y3QCZTK23XAZTQJRU2U54MW4PFONXKYYAGV6SGRCUS77QGUZ6Z4A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TP6ET6AXDZ3OZRXH25HTID7NMNSV6JKBPD24WIDWSWQU3E7HOZNQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/234LVJI7NYSSJ57R4HKCL4OH4FYXVV4MEIISQ3ZLBNHMR3AYVDGQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKQL7CZLF74XJENK2JBDW66NDWEHHQGT7CRPQ23CS3FEM7LUBFGQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKHT5XC4UU7YW2FF42K664DLKGEMAKW2UX35XBADB6XLVLKQX5DQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GKITNUMIOPHXYINFT6VK56YX4ARQ5ZRK43UN7VY76N75M2ZR2TYA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TWL7X2ODYFWVPPAXO3YHMCA3EWQ2JC5SYAXMIPG4JOXLJNJ5TU4A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4SPTZ2EHELQRAZCZ5JWVRMW3V2BSRWPKISPE2NYQ6HE6QK262HQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNYONTTFPCV7VTQMS2WNTXLUKXT7HMHF5CXLETZM7PL5TYPUASSQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6CAUBF56YXOUDAPV26KZJUP4JKGPMC5K7XBKEYNBSVJU3WKEN6PA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEK4ISKICGDHQSUJTWCVONHGP5YS4BKHMHZKHC3L3ZNAOB665R7Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFES6UHYZFYQUIFG63CYAI5B5M4FPH7TYNE6LVTI2BDOPB5RJKQQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QIPRRNKNTIJ2EEF7FFX65O2KIJERZBYJOCOFLZOE4I5X77A4SOOQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPTBQY2HVKNZHRTKLNRFT6LKQGV6LJVAN2DNS4IV4XTSIE7K7MTQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E4DVFJINLB4VXJJ3BTCC4XRIOPYIPE6BMUO4VTIIQBRLIHHCLI4Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RQZ36Z4NG6KMXBG2EDYDSNBZOXIFGZBQ5MHJ3EBRQGZYUN3R73A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js"
        ]
    },
    "operations": {
        "CreateAndStartAnomalyDetector": {
            "http": {
                "requestUri": "/createAndStartAnomalyDetector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorId",
                    "anomalyDetectorName",
                    "sitewiseSourceConfig",
                    "mlServiceConfig"
                ],
                "members": {
                    "detectorId": {},
                    "anomalyDetectorName": {},
                    "sitewiseSourceConfig": {
                        "type": "structure",
                        "required": [
                            "modelId",
                            "modelName",
                            "assetProperty"
                        ],
                        "members": {
                            "modelId": {},
                            "modelName": {},
                            "assetProperty": {
                                "type": "structure",
                                "required": [
                                    "propertyId",
                                    "propertyName"
                                ],
                                "members": {
                                    "assetId": {},
                                    "propertyId": {},
                                    "propertyName": {}
                                }
                            }
                        }
                    },
                    "mlServiceConfig": {
                        "type": "structure",
                        "members": {
                            "l4MServiceConfig": {
                                "type": "structure",
                                "required": [
                                    "dataUploadFrequency",
                                    "dataIngestionLocation",
                                    "roleConfiguration"
                                ],
                                "members": {
                                    "timeZone": {},
                                    "dataIngestionDelay": {
                                        "type": "long"
                                    },
                                    "dataUploadFrequency": {},
                                    "dataIngestionLocation": {
                                        "type": "structure",
                                        "required": [
                                            "s3DataSource"
                                        ],
                                        "members": {
                                            "s3DataSource": {
                                                "shape": "Sd"
                                            }
                                        }
                                    },
                                    "roleConfiguration": {
                                        "type": "structure",
                                        "required": [
                                            "roleArn",
                                            "s3RoleArn"
                                        ],
                                        "members": {
                                            "roleArn": {},
                                            "s3RoleArn": {}
                                        }
                                    },
                                    "description": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorId": {},
                    "detectorStatus": {},
                    "anomalyDetectorName": {},
                    "anomalyDetectorARN": {},
                    "failureReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JENWGFTFVCVBZF2T6BSXFRW2RDWNP55X5TVFKOPZJJTNNATBBUDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NE4MYXZGO2KDLKPDRKL5PTS3RTTTOZQYOV7YUMTYBF64RGVV4QQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7HX3FRKSDG3ND2YWNN7TCAPQUYXOVQ7RH2DBJ6Y2FTI33KMSFA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3QCZTK23XAZTQJRU2U54MW4PFONXKYYAGV6SGRCUS77QGUZ6Z4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6ET6AXDZ3OZRXH25HTID7NMNSV6JKBPD24WIDWSWQU3E7HOZNQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/234LVJI7NYSSJ57R4HKCL4OH4FYXVV4MEIISQ3ZLBNHMR3AYVDGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKQL7CZLF74XJENK2JBDW66NDWEHHQGT7CRPQ23CS3FEM7LUBFGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKHT5XC4UU7YW2FF42K664DLKGEMAKW2UX35XBADB6XLVLKQX5DQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKITNUMIOPHXYINFT6VK56YX4ARQ5ZRK43UN7VY76N75M2ZR2TYA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWL7X2ODYFWVPPAXO3YHMCA3EWQ2JC5SYAXMIPG4JOXLJNJ5TU4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4SPTZ2EHELQRAZCZ5JWVRMW3V2BSRWPKISPE2NYQ6HE6QK262HQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNYONTTFPCV7VTQMS2WNTXLUKXT7HMHF5CXLETZM7PL5TYPUASSQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CAUBF56YXOUDAPV26KZJUP4JKGPMC5K7XBKEYNBSVJU3WKEN6PA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEK4ISKICGDHQSUJTWCVONHGP5YS4BKHMHZKHC3L3ZNAOB665R7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFES6UHYZFYQUIFG63CYAI5B5M4FPH7TYNE6LVTI2BDOPB5RJKQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIPRRNKNTIJ2EEF7FFX65O2KIJERZBYJOCOFLZOE4I5X77A4SOOQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPTBQY2HVKNZHRTKLNRFT6LKQGV6LJVAN2DNS4IV4XTSIE7K7MTQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4DVFJINLB4VXJJ3BTCC4XRIOPYIPE6BMUO4VTIIQBRLIHHCLI4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RQZ36Z4NG6KMXBG2EDYDSNBZOXIFGZBQ5MHJ3EBRQGZYUN3R73A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js"
            ]
        },
        "DescribeAnomalyDetector": {
            "http": {
                "method": "GET",
                "requestUri": "/anomalyDetector/{detectorId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorId"
                ],
                "members": {
                    "detectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "anomalyDetectorName": {},
                    "detectorId": {},
                    "detectorStatus": {},
                    "description": {},
                    "dataUploadFrequency": {},
                    "failureReason": {},
                    "s3RoleArn": {},
                    "mlServiceRoleArn": {},
                    "creationTime": {
                        "type": "long"
                    },
                    "lastModificationTime": {
                        "type": "long"
                    },
                    "anomalyDetectorARN": {},
                    "propertyId": {},
                    "propertyName": {},
                    "s3DataSource": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JENWGFTFVCVBZF2T6BSXFRW2RDWNP55X5TVFKOPZJJTNNATBBUDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NE4MYXZGO2KDLKPDRKL5PTS3RTTTOZQYOV7YUMTYBF64RGVV4QQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7HX3FRKSDG3ND2YWNN7TCAPQUYXOVQ7RH2DBJ6Y2FTI33KMSFA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3QCZTK23XAZTQJRU2U54MW4PFONXKYYAGV6SGRCUS77QGUZ6Z4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6ET6AXDZ3OZRXH25HTID7NMNSV6JKBPD24WIDWSWQU3E7HOZNQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/234LVJI7NYSSJ57R4HKCL4OH4FYXVV4MEIISQ3ZLBNHMR3AYVDGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKQL7CZLF74XJENK2JBDW66NDWEHHQGT7CRPQ23CS3FEM7LUBFGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKHT5XC4UU7YW2FF42K664DLKGEMAKW2UX35XBADB6XLVLKQX5DQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKITNUMIOPHXYINFT6VK56YX4ARQ5ZRK43UN7VY76N75M2ZR2TYA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWL7X2ODYFWVPPAXO3YHMCA3EWQ2JC5SYAXMIPG4JOXLJNJ5TU4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4SPTZ2EHELQRAZCZ5JWVRMW3V2BSRWPKISPE2NYQ6HE6QK262HQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNYONTTFPCV7VTQMS2WNTXLUKXT7HMHF5CXLETZM7PL5TYPUASSQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CAUBF56YXOUDAPV26KZJUP4JKGPMC5K7XBKEYNBSVJU3WKEN6PA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEK4ISKICGDHQSUJTWCVONHGP5YS4BKHMHZKHC3L3ZNAOB665R7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFES6UHYZFYQUIFG63CYAI5B5M4FPH7TYNE6LVTI2BDOPB5RJKQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIPRRNKNTIJ2EEF7FFX65O2KIJERZBYJOCOFLZOE4I5X77A4SOOQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPTBQY2HVKNZHRTKLNRFT6LKQGV6LJVAN2DNS4IV4XTSIE7K7MTQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4DVFJINLB4VXJJ3BTCC4XRIOPYIPE6BMUO4VTIIQBRLIHHCLI4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RQZ36Z4NG6KMXBG2EDYDSNBZOXIFGZBQ5MHJ3EBRQGZYUN3R73A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js"
            ]
        }
    },
    "shapes": {
        "Sd": {
            "type": "structure",
            "required": [
                "bucket",
                "keyPrefix"
            ],
            "members": {
                "bucket": {},
                "keyPrefix": {}
            }
        }
    }
}