{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "iotbifrostmlorchestratorlambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Iot Bifrost ML Orchestrator Lambda",
        "serviceId": "IoTBifrostML",
        "signatureVersion": "v4",
        "signingName": "iotsitewise",
        "uid": "iotbifrostmlorchestratorlambda-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBW7VP7WUULF6SZ3MS5GAJULBKMHLGVRKGVXPIOR2DKTVOG74MGA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJJJ563ZH63265IIXNK62YACFX3BZG2MYW42O45PFIIQGTJYDOKQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JZW56JZL4MQTWOAV55AL5ASWMOSN5TZQMZHP255O4N6UTNSA26Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZN4QAVH6DYLUYUBYAUCFKZJFFQQ6YRAZDCA3LZH5HKUAZRHQH4A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIVTEGZN2E6XCZ2MUDPHUU6QLSPY45GXOK6ZJSASU2HLLRDZSZTQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLFNDOBHTGESCWS2PSWZYG5JH2LTBEW4KL2EJ7YHF3A2Z7KRPZ6Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WSD5W5OQE7NLA43XXGDVO27WGSYF4AS22D2LP5YRE36ZEVYL5RQQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/442Y2BFTKWTSMXLNBPPK25OCMXY4YECR5UIYQN7B6CTJX3JZ4YBA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js"
        ]
    },
    "operations": {
        "CreateAndStartAnomalyDetector": {
            "http": {
                "requestUri": "/createAndStartAnomalyDetector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorId",
                    "anomalyDetectorName",
                    "sitewiseSourceConfig",
                    "mlServiceConfig"
                ],
                "members": {
                    "detectorId": {},
                    "anomalyDetectorName": {},
                    "sitewiseSourceConfig": {
                        "type": "structure",
                        "required": [
                            "modelId",
                            "modelName",
                            "assetProperty"
                        ],
                        "members": {
                            "modelId": {},
                            "modelName": {},
                            "assetProperty": {
                                "type": "structure",
                                "required": [
                                    "propertyId",
                                    "propertyName"
                                ],
                                "members": {
                                    "assetId": {},
                                    "propertyId": {},
                                    "propertyName": {}
                                }
                            }
                        }
                    },
                    "mlServiceConfig": {
                        "type": "structure",
                        "members": {
                            "l4MServiceConfig": {
                                "type": "structure",
                                "required": [
                                    "dataUploadFrequency",
                                    "dataIngestionLocation",
                                    "roleConfiguration"
                                ],
                                "members": {
                                    "timeZone": {},
                                    "dataIngestionDelay": {
                                        "type": "long"
                                    },
                                    "dataUploadFrequency": {},
                                    "dataIngestionLocation": {
                                        "type": "structure",
                                        "required": [
                                            "s3DataSource"
                                        ],
                                        "members": {
                                            "s3DataSource": {
                                                "shape": "Sd"
                                            }
                                        }
                                    },
                                    "roleConfiguration": {
                                        "type": "structure",
                                        "required": [
                                            "roleArn",
                                            "s3RoleArn"
                                        ],
                                        "members": {
                                            "roleArn": {},
                                            "s3RoleArn": {}
                                        }
                                    },
                                    "description": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorId": {},
                    "detectorStatus": {},
                    "anomalyDetectorName": {},
                    "anomalyDetectorARN": {},
                    "failureReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJJJ563ZH63265IIXNK62YACFX3BZG2MYW42O45PFIIQGTJYDOKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JZW56JZL4MQTWOAV55AL5ASWMOSN5TZQMZHP255O4N6UTNSA26Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZN4QAVH6DYLUYUBYAUCFKZJFFQQ6YRAZDCA3LZH5HKUAZRHQH4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIVTEGZN2E6XCZ2MUDPHUU6QLSPY45GXOK6ZJSASU2HLLRDZSZTQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLFNDOBHTGESCWS2PSWZYG5JH2LTBEW4KL2EJ7YHF3A2Z7KRPZ6Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSD5W5OQE7NLA43XXGDVO27WGSYF4AS22D2LP5YRE36ZEVYL5RQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/442Y2BFTKWTSMXLNBPPK25OCMXY4YECR5UIYQN7B6CTJX3JZ4YBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js"
            ]
        },
        "DescribeAnomalyDetector": {
            "http": {
                "method": "GET",
                "requestUri": "/anomalyDetector/{detectorId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorId"
                ],
                "members": {
                    "detectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "anomalyDetectorName": {},
                    "detectorId": {},
                    "detectorStatus": {},
                    "description": {},
                    "dataUploadFrequency": {},
                    "failureReason": {},
                    "s3RoleArn": {},
                    "mlServiceRoleArn": {},
                    "creationTime": {
                        "type": "long"
                    },
                    "lastModificationTime": {
                        "type": "long"
                    },
                    "anomalyDetectorARN": {},
                    "propertyId": {},
                    "propertyName": {},
                    "s3DataSource": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJJJ563ZH63265IIXNK62YACFX3BZG2MYW42O45PFIIQGTJYDOKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JZW56JZL4MQTWOAV55AL5ASWMOSN5TZQMZHP255O4N6UTNSA26Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZN4QAVH6DYLUYUBYAUCFKZJFFQQ6YRAZDCA3LZH5HKUAZRHQH4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIVTEGZN2E6XCZ2MUDPHUU6QLSPY45GXOK6ZJSASU2HLLRDZSZTQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLFNDOBHTGESCWS2PSWZYG5JH2LTBEW4KL2EJ7YHF3A2Z7KRPZ6Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSD5W5OQE7NLA43XXGDVO27WGSYF4AS22D2LP5YRE36ZEVYL5RQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/442Y2BFTKWTSMXLNBPPK25OCMXY4YECR5UIYQN7B6CTJX3JZ4YBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js"
            ]
        }
    },
    "shapes": {
        "Sd": {
            "type": "structure",
            "required": [
                "bucket",
                "keyPrefix"
            ],
            "members": {
                "bucket": {},
                "keyPrefix": {}
            }
        }
    }
}