{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "iotbifrostmlorchestratorlambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Iot Bifrost ML Orchestrator Lambda",
        "serviceId": "IoTBifrostML",
        "signatureVersion": "v4",
        "signingName": "iotsitewise",
        "uid": "iotbifrostmlorchestratorlambda-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BR4M26SEAHWGGULIEM7OPOMY5SBZSWJCWFRXIMX7HRLYO7TKCE3A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3AINSYQAIXZTCSIMS52FE63PKBKCN4MAD5OT4ZZADOVR37STCUA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4AQQWPBKAZB5FYIAWXTCP7JKGNVGCU7M34KBYMRMY6B6MULDPIMQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3MA35Z2YRWHTCCTQMYRC34MVKL2BUHG2NHJ5PCMFQAYC3Q7OYUA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QCJCKIYZHYPCJPGC32HIRQJRP66ZU2FMXURQW3MPE2ER7LGCZ4Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FBDVAAL4NH6QHB6AZEJCVL6NZRBSXQ7HKPQCNEI44RKEM3MTHDQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YGWLFTSZLLKK7CCOYEZBXD3ENXJNCBFCOWD4Q3GDXHGGPCEHC7CQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHUOIZDBUNIXW5AP42GFO5QSO6YA5IKNWREAF5HC6HFITNM2636A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OA5JFK7DBADZ4PWCKEK2C663YMR66RR5M45KEEF3Y3EJJLXCPTFA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KGRLQAJLDJXHQUIZRVMOTSXFT5RMTNHX74TUOLMHL2MCKVQAYKCQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZA6D62BHV4GUEVEWXZWNL3OUWPVBISJ6NAFORMW4477V6B2WHPQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5DLAMYAPPTRDOQBVHOUITL6U4LWOYZ6T4TTZ7ESLI5RIHTY24HA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZJVZBK7POB4KOFN6WCSTFPOJ7AZ5Z2JMBQ34TFGKKP7ISPLVQ4A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABT4G55ZFIZOIHH3NI2BSYJO7KI6HTTEMKOZIFYTTKV7MLQ2BXSA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6B5KQ5S6BJOJJVSG2DVOY5KYCEMKHJ67R75VXP4LWWENOUBA4YA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js"
        ]
    },
    "operations": {
        "CreateAndStartAnomalyDetector": {
            "http": {
                "requestUri": "/createAndStartAnomalyDetector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorId",
                    "anomalyDetectorName",
                    "sitewiseSourceConfig",
                    "mlServiceConfig"
                ],
                "members": {
                    "detectorId": {},
                    "anomalyDetectorName": {},
                    "sitewiseSourceConfig": {
                        "type": "structure",
                        "required": [
                            "modelId",
                            "modelName",
                            "assetProperty"
                        ],
                        "members": {
                            "modelId": {},
                            "modelName": {},
                            "assetProperty": {
                                "type": "structure",
                                "required": [
                                    "propertyId",
                                    "propertyName"
                                ],
                                "members": {
                                    "assetId": {},
                                    "propertyId": {},
                                    "propertyName": {}
                                }
                            }
                        }
                    },
                    "mlServiceConfig": {
                        "type": "structure",
                        "members": {
                            "l4MServiceConfig": {
                                "type": "structure",
                                "required": [
                                    "dataUploadFrequency",
                                    "dataIngestionLocation",
                                    "roleConfiguration"
                                ],
                                "members": {
                                    "timeZone": {},
                                    "dataIngestionDelay": {
                                        "type": "long"
                                    },
                                    "dataUploadFrequency": {},
                                    "dataIngestionLocation": {
                                        "type": "structure",
                                        "required": [
                                            "s3DataSource"
                                        ],
                                        "members": {
                                            "s3DataSource": {
                                                "shape": "Sd"
                                            }
                                        }
                                    },
                                    "roleConfiguration": {
                                        "type": "structure",
                                        "required": [
                                            "roleArn",
                                            "s3RoleArn"
                                        ],
                                        "members": {
                                            "roleArn": {},
                                            "s3RoleArn": {}
                                        }
                                    },
                                    "description": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorId": {},
                    "detectorStatus": {},
                    "anomalyDetectorName": {},
                    "anomalyDetectorARN": {},
                    "failureReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3AINSYQAIXZTCSIMS52FE63PKBKCN4MAD5OT4ZZADOVR37STCUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AQQWPBKAZB5FYIAWXTCP7JKGNVGCU7M34KBYMRMY6B6MULDPIMQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3MA35Z2YRWHTCCTQMYRC34MVKL2BUHG2NHJ5PCMFQAYC3Q7OYUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QCJCKIYZHYPCJPGC32HIRQJRP66ZU2FMXURQW3MPE2ER7LGCZ4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FBDVAAL4NH6QHB6AZEJCVL6NZRBSXQ7HKPQCNEI44RKEM3MTHDQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWLFTSZLLKK7CCOYEZBXD3ENXJNCBFCOWD4Q3GDXHGGPCEHC7CQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHUOIZDBUNIXW5AP42GFO5QSO6YA5IKNWREAF5HC6HFITNM2636A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA5JFK7DBADZ4PWCKEK2C663YMR66RR5M45KEEF3Y3EJJLXCPTFA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRLQAJLDJXHQUIZRVMOTSXFT5RMTNHX74TUOLMHL2MCKVQAYKCQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZA6D62BHV4GUEVEWXZWNL3OUWPVBISJ6NAFORMW4477V6B2WHPQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5DLAMYAPPTRDOQBVHOUITL6U4LWOYZ6T4TTZ7ESLI5RIHTY24HA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZJVZBK7POB4KOFN6WCSTFPOJ7AZ5Z2JMBQ34TFGKKP7ISPLVQ4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABT4G55ZFIZOIHH3NI2BSYJO7KI6HTTEMKOZIFYTTKV7MLQ2BXSA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6B5KQ5S6BJOJJVSG2DVOY5KYCEMKHJ67R75VXP4LWWENOUBA4YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js"
            ]
        },
        "DescribeAnomalyDetector": {
            "http": {
                "method": "GET",
                "requestUri": "/anomalyDetector/{detectorId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorId"
                ],
                "members": {
                    "detectorId": {
                        "location": "uri",
                        "locationName": "detectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "anomalyDetectorName": {},
                    "detectorId": {},
                    "detectorStatus": {},
                    "description": {},
                    "dataUploadFrequency": {},
                    "failureReason": {},
                    "s3RoleArn": {},
                    "mlServiceRoleArn": {},
                    "creationTime": {
                        "type": "long"
                    },
                    "lastModificationTime": {
                        "type": "long"
                    },
                    "anomalyDetectorARN": {},
                    "propertyId": {},
                    "propertyName": {},
                    "s3DataSource": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3AINSYQAIXZTCSIMS52FE63PKBKCN4MAD5OT4ZZADOVR37STCUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AQQWPBKAZB5FYIAWXTCP7JKGNVGCU7M34KBYMRMY6B6MULDPIMQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3MA35Z2YRWHTCCTQMYRC34MVKL2BUHG2NHJ5PCMFQAYC3Q7OYUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QCJCKIYZHYPCJPGC32HIRQJRP66ZU2FMXURQW3MPE2ER7LGCZ4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FBDVAAL4NH6QHB6AZEJCVL6NZRBSXQ7HKPQCNEI44RKEM3MTHDQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWLFTSZLLKK7CCOYEZBXD3ENXJNCBFCOWD4Q3GDXHGGPCEHC7CQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHUOIZDBUNIXW5AP42GFO5QSO6YA5IKNWREAF5HC6HFITNM2636A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA5JFK7DBADZ4PWCKEK2C663YMR66RR5M45KEEF3Y3EJJLXCPTFA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRLQAJLDJXHQUIZRVMOTSXFT5RMTNHX74TUOLMHL2MCKVQAYKCQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZA6D62BHV4GUEVEWXZWNL3OUWPVBISJ6NAFORMW4477V6B2WHPQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5DLAMYAPPTRDOQBVHOUITL6U4LWOYZ6T4TTZ7ESLI5RIHTY24HA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZJVZBK7POB4KOFN6WCSTFPOJ7AZ5Z2JMBQ34TFGKKP7ISPLVQ4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABT4G55ZFIZOIHH3NI2BSYJO7KI6HTTEMKOZIFYTTKV7MLQ2BXSA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6B5KQ5S6BJOJJVSG2DVOY5KYCEMKHJ67R75VXP4LWWENOUBA4YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js"
            ]
        }
    },
    "shapes": {
        "Sd": {
            "type": "structure",
            "required": [
                "bucket",
                "keyPrefix"
            ],
            "members": {
                "bucket": {},
                "keyPrefix": {}
            }
        }
    }
}