{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-23",
        "endpointPrefix": "data.iotevents",
        "protocol": "rest-json",
        "serviceFullName": "AWS IoT Events Data",
        "serviceId": "IoT Events Data",
        "signatureVersion": "v4",
        "signingName": "ioteventsdata",
        "uid": "iotevents-data-2018-10-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RE5VBOMLDTPPZQK5KCD45F6F27ID3CDV4PB3OX7KVPU7UPH5YNCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js"
        ]
    },
    "operations": {
        "BatchAcknowledgeAlarm": {
            "http": {
                "requestUri": "/alarms/acknowledge",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "acknowledgeActionRequests"
                ],
                "members": {
                    "acknowledgeActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE5VBOMLDTPPZQK5KCD45F6F27ID3CDV4PB3OX7KVPU7UPH5YNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZA6D62BHV4GUEVEWXZWNL3OUWPVBISJ6NAFORMW4477V6B2WHPQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5DLAMYAPPTRDOQBVHOUITL6U4LWOYZ6T4TTZ7ESLI5RIHTY24HA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZJVZBK7POB4KOFN6WCSTFPOJ7AZ5Z2JMBQ34TFGKKP7ISPLVQ4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABT4G55ZFIZOIHH3NI2BSYJO7KI6HTTEMKOZIFYTTKV7MLQ2BXSA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6B5KQ5S6BJOJJVSG2DVOY5KYCEMKHJ67R75VXP4LWWENOUBA4YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js"
            ]
        },
        "BatchDeleteDetector": {
            "http": {
                "requestUri": "/detectors/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectors"
                ],
                "members": {
                    "detectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "detectorModelName"
                            ],
                            "members": {
                                "messageId": {},
                                "detectorModelName": {},
                                "keyValue": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchDeleteDetectorErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRLQAJLDJXHQUIZRVMOTSXFT5RMTNHX74TUOLMHL2MCKVQAYKCQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE5VBOMLDTPPZQK5KCD45F6F27ID3CDV4PB3OX7KVPU7UPH5YNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZA6D62BHV4GUEVEWXZWNL3OUWPVBISJ6NAFORMW4477V6B2WHPQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5DLAMYAPPTRDOQBVHOUITL6U4LWOYZ6T4TTZ7ESLI5RIHTY24HA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZJVZBK7POB4KOFN6WCSTFPOJ7AZ5Z2JMBQ34TFGKKP7ISPLVQ4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABT4G55ZFIZOIHH3NI2BSYJO7KI6HTTEMKOZIFYTTKV7MLQ2BXSA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6B5KQ5S6BJOJJVSG2DVOY5KYCEMKHJ67R75VXP4LWWENOUBA4YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js"
            ]
        },
        "BatchDisableAlarm": {
            "http": {
                "requestUri": "/alarms/disable",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "disableActionRequests"
                ],
                "members": {
                    "disableActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE5VBOMLDTPPZQK5KCD45F6F27ID3CDV4PB3OX7KVPU7UPH5YNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZA6D62BHV4GUEVEWXZWNL3OUWPVBISJ6NAFORMW4477V6B2WHPQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5DLAMYAPPTRDOQBVHOUITL6U4LWOYZ6T4TTZ7ESLI5RIHTY24HA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZJVZBK7POB4KOFN6WCSTFPOJ7AZ5Z2JMBQ34TFGKKP7ISPLVQ4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABT4G55ZFIZOIHH3NI2BSYJO7KI6HTTEMKOZIFYTTKV7MLQ2BXSA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6B5KQ5S6BJOJJVSG2DVOY5KYCEMKHJ67R75VXP4LWWENOUBA4YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js"
            ]
        },
        "BatchEnableAlarm": {
            "http": {
                "requestUri": "/alarms/enable",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "enableActionRequests"
                ],
                "members": {
                    "enableActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE5VBOMLDTPPZQK5KCD45F6F27ID3CDV4PB3OX7KVPU7UPH5YNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZA6D62BHV4GUEVEWXZWNL3OUWPVBISJ6NAFORMW4477V6B2WHPQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5DLAMYAPPTRDOQBVHOUITL6U4LWOYZ6T4TTZ7ESLI5RIHTY24HA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZJVZBK7POB4KOFN6WCSTFPOJ7AZ5Z2JMBQ34TFGKKP7ISPLVQ4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABT4G55ZFIZOIHH3NI2BSYJO7KI6HTTEMKOZIFYTTKV7MLQ2BXSA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6B5KQ5S6BJOJJVSG2DVOY5KYCEMKHJ67R75VXP4LWWENOUBA4YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js"
            ]
        },
        "BatchPutMessage": {
            "http": {
                "requestUri": "/inputs/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "messages"
                ],
                "members": {
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "inputName",
                                "payload"
                            ],
                            "members": {
                                "messageId": {},
                                "inputName": {},
                                "payload": {
                                    "type": "blob"
                                },
                                "timestamp": {
                                    "type": "structure",
                                    "members": {
                                        "timeInMillis": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BatchPutMessageErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE5VBOMLDTPPZQK5KCD45F6F27ID3CDV4PB3OX7KVPU7UPH5YNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js"
            ]
        },
        "BatchResetAlarm": {
            "http": {
                "requestUri": "/alarms/reset",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "resetActionRequests"
                ],
                "members": {
                    "resetActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE5VBOMLDTPPZQK5KCD45F6F27ID3CDV4PB3OX7KVPU7UPH5YNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZA6D62BHV4GUEVEWXZWNL3OUWPVBISJ6NAFORMW4477V6B2WHPQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5DLAMYAPPTRDOQBVHOUITL6U4LWOYZ6T4TTZ7ESLI5RIHTY24HA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZJVZBK7POB4KOFN6WCSTFPOJ7AZ5Z2JMBQ34TFGKKP7ISPLVQ4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABT4G55ZFIZOIHH3NI2BSYJO7KI6HTTEMKOZIFYTTKV7MLQ2BXSA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6B5KQ5S6BJOJJVSG2DVOY5KYCEMKHJ67R75VXP4LWWENOUBA4YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js"
            ]
        },
        "BatchSnoozeAlarm": {
            "http": {
                "requestUri": "/alarms/snooze",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "snoozeActionRequests"
                ],
                "members": {
                    "snoozeActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName",
                                "snoozeDuration"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {},
                                "snoozeDuration": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE5VBOMLDTPPZQK5KCD45F6F27ID3CDV4PB3OX7KVPU7UPH5YNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZA6D62BHV4GUEVEWXZWNL3OUWPVBISJ6NAFORMW4477V6B2WHPQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5DLAMYAPPTRDOQBVHOUITL6U4LWOYZ6T4TTZ7ESLI5RIHTY24HA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZJVZBK7POB4KOFN6WCSTFPOJ7AZ5Z2JMBQ34TFGKKP7ISPLVQ4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABT4G55ZFIZOIHH3NI2BSYJO7KI6HTTEMKOZIFYTTKV7MLQ2BXSA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6B5KQ5S6BJOJJVSG2DVOY5KYCEMKHJ67R75VXP4LWWENOUBA4YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js"
            ]
        },
        "BatchUpdateDetector": {
            "http": {
                "requestUri": "/detectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectors"
                ],
                "members": {
                    "detectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "detectorModelName",
                                "state"
                            ],
                            "members": {
                                "messageId": {},
                                "detectorModelName": {},
                                "keyValue": {},
                                "state": {
                                    "type": "structure",
                                    "required": [
                                        "stateName",
                                        "variables",
                                        "timers"
                                    ],
                                    "members": {
                                        "stateName": {},
                                        "variables": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "name",
                                                    "value"
                                                ],
                                                "members": {
                                                    "name": {},
                                                    "value": {}
                                                }
                                            }
                                        },
                                        "timers": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "name",
                                                    "seconds"
                                                ],
                                                "members": {
                                                    "name": {},
                                                    "seconds": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchUpdateDetectorErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE5VBOMLDTPPZQK5KCD45F6F27ID3CDV4PB3OX7KVPU7UPH5YNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js"
            ]
        },
        "DescribeAlarm": {
            "http": {
                "method": "GET",
                "requestUri": "/alarms/{alarmModelName}/keyValues/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "alarmModelName"
                ],
                "members": {
                    "alarmModelName": {
                        "location": "uri",
                        "locationName": "alarmModelName"
                    },
                    "keyValue": {
                        "location": "querystring",
                        "locationName": "keyValue"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alarm": {
                        "type": "structure",
                        "members": {
                            "alarmModelName": {},
                            "alarmModelVersion": {},
                            "keyValue": {},
                            "alarmState": {
                                "type": "structure",
                                "members": {
                                    "stateName": {},
                                    "ruleEvaluation": {
                                        "type": "structure",
                                        "members": {
                                            "simpleRuleEvaluation": {
                                                "type": "structure",
                                                "members": {
                                                    "inputPropertyValue": {},
                                                    "operator": {},
                                                    "thresholdValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "customerAction": {
                                        "type": "structure",
                                        "members": {
                                            "actionName": {},
                                            "snoozeActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "snoozeDuration": {
                                                        "type": "integer"
                                                    },
                                                    "note": {}
                                                }
                                            },
                                            "enableActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            },
                                            "disableActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            },
                                            "acknowledgeActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            },
                                            "resetActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            }
                                        }
                                    },
                                    "systemEvent": {
                                        "type": "structure",
                                        "members": {
                                            "eventType": {},
                                            "stateChangeConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "triggerType": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "severity": {
                                "type": "integer"
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE5VBOMLDTPPZQK5KCD45F6F27ID3CDV4PB3OX7KVPU7UPH5YNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZA6D62BHV4GUEVEWXZWNL3OUWPVBISJ6NAFORMW4477V6B2WHPQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5DLAMYAPPTRDOQBVHOUITL6U4LWOYZ6T4TTZ7ESLI5RIHTY24HA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZJVZBK7POB4KOFN6WCSTFPOJ7AZ5Z2JMBQ34TFGKKP7ISPLVQ4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABT4G55ZFIZOIHH3NI2BSYJO7KI6HTTEMKOZIFYTTKV7MLQ2BXSA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6B5KQ5S6BJOJJVSG2DVOY5KYCEMKHJ67R75VXP4LWWENOUBA4YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js"
            ]
        },
        "DescribeDetector": {
            "http": {
                "method": "GET",
                "requestUri": "/detectors/{detectorModelName}/keyValues/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorModelName"
                ],
                "members": {
                    "detectorModelName": {
                        "location": "uri",
                        "locationName": "detectorModelName"
                    },
                    "keyValue": {
                        "location": "querystring",
                        "locationName": "keyValue"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detector": {
                        "type": "structure",
                        "members": {
                            "detectorModelName": {},
                            "keyValue": {},
                            "detectorModelVersion": {},
                            "state": {
                                "type": "structure",
                                "required": [
                                    "stateName",
                                    "variables",
                                    "timers"
                                ],
                                "members": {
                                    "stateName": {},
                                    "variables": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "value"
                                            ],
                                            "members": {
                                                "name": {},
                                                "value": {}
                                            }
                                        }
                                    },
                                    "timers": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "timestamp"
                                            ],
                                            "members": {
                                                "name": {},
                                                "timestamp": {
                                                    "type": "timestamp"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE5VBOMLDTPPZQK5KCD45F6F27ID3CDV4PB3OX7KVPU7UPH5YNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js"
            ]
        },
        "ListAlarms": {
            "http": {
                "method": "GET",
                "requestUri": "/alarms/{alarmModelName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "alarmModelName"
                ],
                "members": {
                    "alarmModelName": {
                        "location": "uri",
                        "locationName": "alarmModelName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alarmSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "alarmModelName": {},
                                "alarmModelVersion": {},
                                "keyValue": {},
                                "stateName": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE5VBOMLDTPPZQK5KCD45F6F27ID3CDV4PB3OX7KVPU7UPH5YNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZA6D62BHV4GUEVEWXZWNL3OUWPVBISJ6NAFORMW4477V6B2WHPQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5DLAMYAPPTRDOQBVHOUITL6U4LWOYZ6T4TTZ7ESLI5RIHTY24HA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZJVZBK7POB4KOFN6WCSTFPOJ7AZ5Z2JMBQ34TFGKKP7ISPLVQ4A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABT4G55ZFIZOIHH3NI2BSYJO7KI6HTTEMKOZIFYTTKV7MLQ2BXSA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6B5KQ5S6BJOJJVSG2DVOY5KYCEMKHJ67R75VXP4LWWENOUBA4YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js"
            ]
        },
        "ListDetectors": {
            "http": {
                "method": "GET",
                "requestUri": "/detectors/{detectorModelName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorModelName"
                ],
                "members": {
                    "detectorModelName": {
                        "location": "uri",
                        "locationName": "detectorModelName"
                    },
                    "stateName": {
                        "location": "querystring",
                        "locationName": "stateName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "detectorModelName": {},
                                "keyValue": {},
                                "detectorModelVersion": {},
                                "state": {
                                    "type": "structure",
                                    "members": {
                                        "stateName": {}
                                    }
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7CHHDDA3MVIK6EHX4OUR2VDHJE3ETJPS4NTZZXCJCJG74YNS4TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPWJZPICMV54PL36EYFINFYOV3CSTI7J3QNR5ISHAITBMHUR4L7A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3ZLITVJ3MK5KVRDNL3VKAYDSORPCNV2A7EHMNDXKYT2C7PFUD5A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACMDDJQHVWX6TIQCMH4BD2NKFRRC3QVJHEDIY6CWNJQ5OTRVQAKQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42ATQ4YZP2WGXPPLOZIDW7GXBW74OU3WQC2RCS4QUD3DOF5FK2PQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYITIPJ7NQIJVDPGE7RZ6W5XQWY3WIEOYNWXQTLKWHSKZ6VOTY6A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP5TAGOXIQGBE3Y35TFK2CHFM2ASFVIYMENGWAGHXSUM4UQYQHRQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDJ6ZY3EJX4T7L6JQDSID4OVOCS6TJPH7ULEB7RJW4STEBF4QIAQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE5VBOMLDTPPZQK5KCD45F6F27ID3CDV4PB3OX7KVPU7UPH5YNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGS3FXZ6HBJC7Z3COIMHH7SHV2V6NFNPTO3XAN6PC3GXP54TRS2A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "errorCode": {},
                    "errorMessage": {}
                }
            }
        }
    }
}