{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-23",
        "endpointPrefix": "data.iotevents",
        "protocol": "rest-json",
        "serviceFullName": "AWS IoT Events Data",
        "serviceId": "IoT Events Data",
        "signatureVersion": "v4",
        "signingName": "ioteventsdata",
        "uid": "iotevents-data-2018-10-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "BatchAcknowledgeAlarm": {
            "http": {
                "requestUri": "/alarms/acknowledge",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "acknowledgeActionRequests"
                ],
                "members": {
                    "acknowledgeActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSD5W5OQE7NLA43XXGDVO27WGSYF4AS22D2LP5YRE36ZEVYL5RQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/442Y2BFTKWTSMXLNBPPK25OCMXY4YECR5UIYQN7B6CTJX3JZ4YBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E2PD3E2DUXNLRSEOASUUUTDJXUYPBHD4KLXNJESMXVBAXEYMPRQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchDeleteDetector": {
            "http": {
                "requestUri": "/detectors/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectors"
                ],
                "members": {
                    "detectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "detectorModelName"
                            ],
                            "members": {
                                "messageId": {},
                                "detectorModelName": {},
                                "keyValue": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchDeleteDetectorErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLFNDOBHTGESCWS2PSWZYG5JH2LTBEW4KL2EJ7YHF3A2Z7KRPZ6Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZRME6S4Y5G2TVDZG23JP3545JODKC5I52JG42XL3JMLVVMEF6HZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SHDF6BDFVX5BLTH5OYXJVC6S4E6Z5QZVBXRWZW4KEHGXFILPVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUVPSYXFEDV6I6UDM2CHJ6E7IN6CWZPOGIYYZ6YFJT6PHQRLJYEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CK6BMGYKEKSUVCYHX47GYQBXXSH6GJ2OYHBYIUOCGO7TM63QBPEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46ZQD3BOU24QHH6B6PNGWMYK7AJN2NOPQJVPPLKRJCJ6LYRDD6MQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVN6J6KNIIGMKSVU4NCD7YYN45FNPQHJCEGHZVTI2FKDRC7BDYDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSD5W5OQE7NLA43XXGDVO27WGSYF4AS22D2LP5YRE36ZEVYL5RQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/442Y2BFTKWTSMXLNBPPK25OCMXY4YECR5UIYQN7B6CTJX3JZ4YBA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E2PD3E2DUXNLRSEOASUUUTDJXUYPBHD4KLXNJESMXVBAXEYMPRQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchDisableAlarm": {
            "http": {
                "requestUri": "/alarms/disable",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "disableActionRequests"
                ],
                "members": {
                    "disableActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSD5W5OQE7NLA43XXGDVO27WGSYF4AS22D2LP5YRE36ZEVYL5RQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/442Y2BFTKWTSMXLNBPPK25OCMXY4YECR5UIYQN7B6CTJX3JZ4YBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E2PD3E2DUXNLRSEOASUUUTDJXUYPBHD4KLXNJESMXVBAXEYMPRQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchEnableAlarm": {
            "http": {
                "requestUri": "/alarms/enable",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "enableActionRequests"
                ],
                "members": {
                    "enableActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSD5W5OQE7NLA43XXGDVO27WGSYF4AS22D2LP5YRE36ZEVYL5RQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/442Y2BFTKWTSMXLNBPPK25OCMXY4YECR5UIYQN7B6CTJX3JZ4YBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E2PD3E2DUXNLRSEOASUUUTDJXUYPBHD4KLXNJESMXVBAXEYMPRQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchPutMessage": {
            "http": {
                "requestUri": "/inputs/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "messages"
                ],
                "members": {
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "inputName",
                                "payload"
                            ],
                            "members": {
                                "messageId": {},
                                "inputName": {},
                                "payload": {
                                    "type": "blob"
                                },
                                "timestamp": {
                                    "type": "structure",
                                    "members": {
                                        "timeInMillis": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BatchPutMessageErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchResetAlarm": {
            "http": {
                "requestUri": "/alarms/reset",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "resetActionRequests"
                ],
                "members": {
                    "resetActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSD5W5OQE7NLA43XXGDVO27WGSYF4AS22D2LP5YRE36ZEVYL5RQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/442Y2BFTKWTSMXLNBPPK25OCMXY4YECR5UIYQN7B6CTJX3JZ4YBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E2PD3E2DUXNLRSEOASUUUTDJXUYPBHD4KLXNJESMXVBAXEYMPRQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchSnoozeAlarm": {
            "http": {
                "requestUri": "/alarms/snooze",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "snoozeActionRequests"
                ],
                "members": {
                    "snoozeActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName",
                                "snoozeDuration"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {},
                                "snoozeDuration": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSD5W5OQE7NLA43XXGDVO27WGSYF4AS22D2LP5YRE36ZEVYL5RQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/442Y2BFTKWTSMXLNBPPK25OCMXY4YECR5UIYQN7B6CTJX3JZ4YBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E2PD3E2DUXNLRSEOASUUUTDJXUYPBHD4KLXNJESMXVBAXEYMPRQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchUpdateDetector": {
            "http": {
                "requestUri": "/detectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectors"
                ],
                "members": {
                    "detectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "detectorModelName",
                                "state"
                            ],
                            "members": {
                                "messageId": {},
                                "detectorModelName": {},
                                "keyValue": {},
                                "state": {
                                    "type": "structure",
                                    "required": [
                                        "stateName",
                                        "variables",
                                        "timers"
                                    ],
                                    "members": {
                                        "stateName": {},
                                        "variables": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "name",
                                                    "value"
                                                ],
                                                "members": {
                                                    "name": {},
                                                    "value": {}
                                                }
                                            }
                                        },
                                        "timers": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "name",
                                                    "seconds"
                                                ],
                                                "members": {
                                                    "name": {},
                                                    "seconds": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchUpdateDetectorErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAlarm": {
            "http": {
                "method": "GET",
                "requestUri": "/alarms/{alarmModelName}/keyValues/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "alarmModelName"
                ],
                "members": {
                    "alarmModelName": {
                        "location": "uri",
                        "locationName": "alarmModelName"
                    },
                    "keyValue": {
                        "location": "querystring",
                        "locationName": "keyValue"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alarm": {
                        "type": "structure",
                        "members": {
                            "alarmModelName": {},
                            "alarmModelVersion": {},
                            "keyValue": {},
                            "alarmState": {
                                "type": "structure",
                                "members": {
                                    "stateName": {},
                                    "ruleEvaluation": {
                                        "type": "structure",
                                        "members": {
                                            "simpleRuleEvaluation": {
                                                "type": "structure",
                                                "members": {
                                                    "inputPropertyValue": {},
                                                    "operator": {},
                                                    "thresholdValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "customerAction": {
                                        "type": "structure",
                                        "members": {
                                            "actionName": {},
                                            "snoozeActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "snoozeDuration": {
                                                        "type": "integer"
                                                    },
                                                    "note": {}
                                                }
                                            },
                                            "enableActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            },
                                            "disableActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            },
                                            "acknowledgeActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            },
                                            "resetActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            }
                                        }
                                    },
                                    "systemEvent": {
                                        "type": "structure",
                                        "members": {
                                            "eventType": {},
                                            "stateChangeConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "triggerType": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "severity": {
                                "type": "integer"
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSD5W5OQE7NLA43XXGDVO27WGSYF4AS22D2LP5YRE36ZEVYL5RQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/442Y2BFTKWTSMXLNBPPK25OCMXY4YECR5UIYQN7B6CTJX3JZ4YBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E2PD3E2DUXNLRSEOASUUUTDJXUYPBHD4KLXNJESMXVBAXEYMPRQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeDetector": {
            "http": {
                "method": "GET",
                "requestUri": "/detectors/{detectorModelName}/keyValues/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorModelName"
                ],
                "members": {
                    "detectorModelName": {
                        "location": "uri",
                        "locationName": "detectorModelName"
                    },
                    "keyValue": {
                        "location": "querystring",
                        "locationName": "keyValue"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detector": {
                        "type": "structure",
                        "members": {
                            "detectorModelName": {},
                            "keyValue": {},
                            "detectorModelVersion": {},
                            "state": {
                                "type": "structure",
                                "required": [
                                    "stateName",
                                    "variables",
                                    "timers"
                                ],
                                "members": {
                                    "stateName": {},
                                    "variables": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "value"
                                            ],
                                            "members": {
                                                "name": {},
                                                "value": {}
                                            }
                                        }
                                    },
                                    "timers": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "timestamp"
                                            ],
                                            "members": {
                                                "name": {},
                                                "timestamp": {
                                                    "type": "timestamp"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListAlarms": {
            "http": {
                "method": "GET",
                "requestUri": "/alarms/{alarmModelName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "alarmModelName"
                ],
                "members": {
                    "alarmModelName": {
                        "location": "uri",
                        "locationName": "alarmModelName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alarmSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "alarmModelName": {},
                                "alarmModelVersion": {},
                                "keyValue": {},
                                "stateName": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSD5W5OQE7NLA43XXGDVO27WGSYF4AS22D2LP5YRE36ZEVYL5RQQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/442Y2BFTKWTSMXLNBPPK25OCMXY4YECR5UIYQN7B6CTJX3JZ4YBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E2PD3E2DUXNLRSEOASUUUTDJXUYPBHD4KLXNJESMXVBAXEYMPRQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListDetectors": {
            "http": {
                "method": "GET",
                "requestUri": "/detectors/{detectorModelName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorModelName"
                ],
                "members": {
                    "detectorModelName": {
                        "location": "uri",
                        "locationName": "detectorModelName"
                    },
                    "stateName": {
                        "location": "querystring",
                        "locationName": "stateName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "detectorModelName": {},
                                "keyValue": {},
                                "detectorModelVersion": {},
                                "state": {
                                    "type": "structure",
                                    "members": {
                                        "stateName": {}
                                    }
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOUVEVRPKW7I4GBPRVIDOD5B4G7LNZFODOCA6KNZIPIH25YIGI3A/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77VPPVYIHPHLNSEU2O3RPEZEGZ2UZVDRSJVV4YUJPDCI2KCJXWA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUQPGKBNNBBV5PUXMCXIJZNVXZ6RIM45ZHDNDOLFP2MQPGOZATMA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CMXYJMYFO4QS7AK4QZ5XPMD4LU76T53AXXBL4QF6FE2JXF4BLNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DOY3VDGRTDLISZ5WAY5QCYYCOIDRPAVBUOOOA5HM7QBXTWX5RUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTLWNKBHY5EJ7HX4AGR4GABJ3BGK663EQAI5C2YNF5OZ3EZRHUGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXU2S7TOR6OFFUXGKOCY6Y5AUCXTSSHGPCZ6WMNQIWZL3SNSBHUA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRJEJFBDPBFGMGHECJUSZACUXCKMZP53RCUCDOGJ3K3G53UPZCWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SPCEPOZ6N2I75IZ6QYM4YWSO7WVASII5UERXQEZIATYQPLGRR3TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "errorCode": {},
                    "errorMessage": {}
                }
            }
        }
    }
}