{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-23",
        "endpointPrefix": "data.iotevents",
        "protocol": "rest-json",
        "serviceFullName": "AWS IoT Events Data",
        "serviceId": "IoT Events Data",
        "signatureVersion": "v4",
        "signingName": "ioteventsdata",
        "uid": "iotevents-data-2018-10-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
        ]
    },
    "operations": {
        "BatchAcknowledgeAlarm": {
            "http": {
                "requestUri": "/alarms/acknowledge",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "acknowledgeActionRequests"
                ],
                "members": {
                    "acknowledgeActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "BatchDeleteDetector": {
            "http": {
                "requestUri": "/detectors/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectors"
                ],
                "members": {
                    "detectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "detectorModelName"
                            ],
                            "members": {
                                "messageId": {},
                                "detectorModelName": {},
                                "keyValue": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchDeleteDetectorErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "BatchDisableAlarm": {
            "http": {
                "requestUri": "/alarms/disable",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "disableActionRequests"
                ],
                "members": {
                    "disableActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "BatchEnableAlarm": {
            "http": {
                "requestUri": "/alarms/enable",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "enableActionRequests"
                ],
                "members": {
                    "enableActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "BatchPutMessage": {
            "http": {
                "requestUri": "/inputs/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "messages"
                ],
                "members": {
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "inputName",
                                "payload"
                            ],
                            "members": {
                                "messageId": {},
                                "inputName": {},
                                "payload": {
                                    "type": "blob"
                                },
                                "timestamp": {
                                    "type": "structure",
                                    "members": {
                                        "timeInMillis": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BatchPutMessageErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "BatchResetAlarm": {
            "http": {
                "requestUri": "/alarms/reset",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "resetActionRequests"
                ],
                "members": {
                    "resetActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "BatchSnoozeAlarm": {
            "http": {
                "requestUri": "/alarms/snooze",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "snoozeActionRequests"
                ],
                "members": {
                    "snoozeActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName",
                                "snoozeDuration"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {},
                                "snoozeDuration": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "BatchUpdateDetector": {
            "http": {
                "requestUri": "/detectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectors"
                ],
                "members": {
                    "detectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "detectorModelName",
                                "state"
                            ],
                            "members": {
                                "messageId": {},
                                "detectorModelName": {},
                                "keyValue": {},
                                "state": {
                                    "type": "structure",
                                    "required": [
                                        "stateName",
                                        "variables",
                                        "timers"
                                    ],
                                    "members": {
                                        "stateName": {},
                                        "variables": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "name",
                                                    "value"
                                                ],
                                                "members": {
                                                    "name": {},
                                                    "value": {}
                                                }
                                            }
                                        },
                                        "timers": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "name",
                                                    "seconds"
                                                ],
                                                "members": {
                                                    "name": {},
                                                    "seconds": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchUpdateDetectorErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "DescribeAlarm": {
            "http": {
                "method": "GET",
                "requestUri": "/alarms/{alarmModelName}/keyValues/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "alarmModelName"
                ],
                "members": {
                    "alarmModelName": {
                        "location": "uri",
                        "locationName": "alarmModelName"
                    },
                    "keyValue": {
                        "location": "querystring",
                        "locationName": "keyValue"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alarm": {
                        "type": "structure",
                        "members": {
                            "alarmModelName": {},
                            "alarmModelVersion": {},
                            "keyValue": {},
                            "alarmState": {
                                "type": "structure",
                                "members": {
                                    "stateName": {},
                                    "ruleEvaluation": {
                                        "type": "structure",
                                        "members": {
                                            "simpleRuleEvaluation": {
                                                "type": "structure",
                                                "members": {
                                                    "inputPropertyValue": {},
                                                    "operator": {},
                                                    "thresholdValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "customerAction": {
                                        "type": "structure",
                                        "members": {
                                            "actionName": {},
                                            "snoozeActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "snoozeDuration": {
                                                        "type": "integer"
                                                    },
                                                    "note": {}
                                                }
                                            },
                                            "enableActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            },
                                            "disableActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            },
                                            "acknowledgeActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            },
                                            "resetActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            }
                                        }
                                    },
                                    "systemEvent": {
                                        "type": "structure",
                                        "members": {
                                            "eventType": {},
                                            "stateChangeConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "triggerType": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "severity": {
                                "type": "integer"
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "DescribeDetector": {
            "http": {
                "method": "GET",
                "requestUri": "/detectors/{detectorModelName}/keyValues/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorModelName"
                ],
                "members": {
                    "detectorModelName": {
                        "location": "uri",
                        "locationName": "detectorModelName"
                    },
                    "keyValue": {
                        "location": "querystring",
                        "locationName": "keyValue"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detector": {
                        "type": "structure",
                        "members": {
                            "detectorModelName": {},
                            "keyValue": {},
                            "detectorModelVersion": {},
                            "state": {
                                "type": "structure",
                                "required": [
                                    "stateName",
                                    "variables",
                                    "timers"
                                ],
                                "members": {
                                    "stateName": {},
                                    "variables": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "value"
                                            ],
                                            "members": {
                                                "name": {},
                                                "value": {}
                                            }
                                        }
                                    },
                                    "timers": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "timestamp"
                                            ],
                                            "members": {
                                                "name": {},
                                                "timestamp": {
                                                    "type": "timestamp"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "ListAlarms": {
            "http": {
                "method": "GET",
                "requestUri": "/alarms/{alarmModelName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "alarmModelName"
                ],
                "members": {
                    "alarmModelName": {
                        "location": "uri",
                        "locationName": "alarmModelName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alarmSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "alarmModelName": {},
                                "alarmModelVersion": {},
                                "keyValue": {},
                                "stateName": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "ListDetectors": {
            "http": {
                "method": "GET",
                "requestUri": "/detectors/{detectorModelName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorModelName"
                ],
                "members": {
                    "detectorModelName": {
                        "location": "uri",
                        "locationName": "detectorModelName"
                    },
                    "stateName": {
                        "location": "querystring",
                        "locationName": "stateName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "detectorModelName": {},
                                "keyValue": {},
                                "detectorModelVersion": {},
                                "state": {
                                    "type": "structure",
                                    "members": {
                                        "stateName": {}
                                    }
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "errorCode": {},
                    "errorMessage": {}
                }
            }
        }
    }
}