{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-07-27",
        "endpointPrefix": "iotevents",
        "protocol": "rest-json",
        "serviceFullName": "AWS IoT Events",
        "serviceId": "IoT Events",
        "signatureVersion": "v4",
        "signingName": "iotevents",
        "uid": "iotevents-2018-07-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
        ]
    },
    "operations": {
        "CreateAlarmModel": {
            "http": {
                "requestUri": "/alarm-models"
            },
            "input": {
                "type": "structure",
                "required": [
                    "alarmModelName",
                    "roleArn",
                    "alarmRule"
                ],
                "members": {
                    "alarmModelName": {},
                    "alarmModelDescription": {},
                    "roleArn": {},
                    "tags": {
                        "shape": "S5"
                    },
                    "key": {},
                    "severity": {
                        "type": "integer"
                    },
                    "alarmRule": {
                        "shape": "Sb"
                    },
                    "alarmNotification": {
                        "shape": "Sg"
                    },
                    "alarmEventActions": {
                        "shape": "S13"
                    },
                    "alarmCapabilities": {
                        "shape": "S23"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "alarmModelArn": {},
                    "alarmModelVersion": {},
                    "lastUpdateTime": {
                        "type": "timestamp"
                    },
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
            ]
        },
        "CreateDetectorModel": {
            "http": {
                "requestUri": "/detector-models"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorModelName",
                    "detectorModelDefinition",
                    "roleArn"
                ],
                "members": {
                    "detectorModelName": {},
                    "detectorModelDefinition": {
                        "shape": "S2f"
                    },
                    "detectorModelDescription": {},
                    "key": {},
                    "roleArn": {},
                    "tags": {
                        "shape": "S5"
                    },
                    "evaluationMethod": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorModelConfiguration": {
                        "shape": "S35"
                    }
                }
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "CreateInput": {
            "http": {
                "requestUri": "/inputs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputName",
                    "inputDefinition"
                ],
                "members": {
                    "inputName": {},
                    "inputDescription": {},
                    "inputDefinition": {
                        "shape": "S3b"
                    },
                    "tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "inputConfiguration": {
                        "shape": "S3f"
                    }
                }
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DeleteAlarmModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/alarm-models/{alarmModelName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "alarmModelName"
                ],
                "members": {
                    "alarmModelName": {
                        "location": "uri",
                        "locationName": "alarmModelName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
            ]
        },
        "DeleteDetectorModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/detector-models/{detectorModelName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorModelName"
                ],
                "members": {
                    "detectorModelName": {
                        "location": "uri",
                        "locationName": "detectorModelName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DeleteInput": {
            "http": {
                "method": "DELETE",
                "requestUri": "/inputs/{inputName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputName"
                ],
                "members": {
                    "inputName": {
                        "location": "uri",
                        "locationName": "inputName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DescribeAlarmModel": {
            "http": {
                "method": "GET",
                "requestUri": "/alarm-models/{alarmModelName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "alarmModelName"
                ],
                "members": {
                    "alarmModelName": {
                        "location": "uri",
                        "locationName": "alarmModelName"
                    },
                    "alarmModelVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "alarmModelArn": {},
                    "alarmModelVersion": {},
                    "lastUpdateTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "statusMessage": {},
                    "alarmModelName": {},
                    "alarmModelDescription": {},
                    "roleArn": {},
                    "key": {},
                    "severity": {
                        "type": "integer"
                    },
                    "alarmRule": {
                        "shape": "Sb"
                    },
                    "alarmNotification": {
                        "shape": "Sg"
                    },
                    "alarmEventActions": {
                        "shape": "S13"
                    },
                    "alarmCapabilities": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
            ]
        },
        "DescribeDetectorModel": {
            "http": {
                "method": "GET",
                "requestUri": "/detector-models/{detectorModelName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorModelName"
                ],
                "members": {
                    "detectorModelName": {
                        "location": "uri",
                        "locationName": "detectorModelName"
                    },
                    "detectorModelVersion": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorModel": {
                        "type": "structure",
                        "members": {
                            "detectorModelDefinition": {
                                "shape": "S2f"
                            },
                            "detectorModelConfiguration": {
                                "shape": "S35"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DescribeDetectorModelAnalysis": {
            "http": {
                "method": "GET",
                "requestUri": "/analysis/detector-models/{analysisId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "analysisId"
                ],
                "members": {
                    "analysisId": {
                        "location": "uri",
                        "locationName": "analysisId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DescribeInput": {
            "http": {
                "method": "GET",
                "requestUri": "/inputs/{inputName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputName"
                ],
                "members": {
                    "inputName": {
                        "location": "uri",
                        "locationName": "inputName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "input": {
                        "type": "structure",
                        "members": {
                            "inputConfiguration": {
                                "shape": "S3f"
                            },
                            "inputDefinition": {
                                "shape": "S3b"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DescribeLoggingOptions": {
            "http": {
                "method": "GET",
                "requestUri": "/logging"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "loggingOptions": {
                        "shape": "S43"
                    }
                }
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "GetDetectorModelAnalysisResults": {
            "http": {
                "method": "GET",
                "requestUri": "/analysis/detector-models/{analysisId}/results"
            },
            "input": {
                "type": "structure",
                "required": [
                    "analysisId"
                ],
                "members": {
                    "analysisId": {
                        "location": "uri",
                        "locationName": "analysisId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "analysisResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "level": {},
                                "message": {},
                                "locations": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "path": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "ListAlarmModelVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/alarm-models/{alarmModelName}/versions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "alarmModelName"
                ],
                "members": {
                    "alarmModelName": {
                        "location": "uri",
                        "locationName": "alarmModelName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alarmModelVersionSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "alarmModelName": {},
                                "alarmModelArn": {},
                                "alarmModelVersion": {},
                                "roleArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "status": {},
                                "statusMessage": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
            ]
        },
        "ListAlarmModels": {
            "http": {
                "method": "GET",
                "requestUri": "/alarm-models"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alarmModelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "alarmModelDescription": {},
                                "alarmModelName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
            ]
        },
        "ListDetectorModelVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/detector-models/{detectorModelName}/versions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorModelName"
                ],
                "members": {
                    "detectorModelName": {
                        "location": "uri",
                        "locationName": "detectorModelName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorModelVersionSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "detectorModelName": {},
                                "detectorModelVersion": {},
                                "detectorModelArn": {},
                                "roleArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "status": {},
                                "evaluationMethod": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "ListDetectorModels": {
            "http": {
                "method": "GET",
                "requestUri": "/detector-models"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorModelSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "detectorModelName": {},
                                "detectorModelDescription": {},
                                "creationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "ListInputRoutings": {
            "http": {
                "requestUri": "/input-routings"
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputIdentifier"
                ],
                "members": {
                    "inputIdentifier": {
                        "type": "structure",
                        "members": {
                            "iotEventsInputIdentifier": {
                                "type": "structure",
                                "required": [
                                    "inputName"
                                ],
                                "members": {
                                    "inputName": {}
                                }
                            },
                            "iotSiteWiseInputIdentifier": {
                                "type": "structure",
                                "members": {
                                    "iotSiteWiseAssetModelPropertyIdentifier": {
                                        "type": "structure",
                                        "required": [
                                            "assetModelId",
                                            "propertyId"
                                        ],
                                        "members": {
                                            "assetModelId": {},
                                            "propertyId": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "routedResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
            ]
        },
        "ListInputs": {
            "http": {
                "method": "GET",
                "requestUri": "/inputs"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "inputSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "inputName": {},
                                "inputDescription": {},
                                "inputArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "PutLoggingOptions": {
            "http": {
                "method": "PUT",
                "requestUri": "/logging"
            },
            "input": {
                "type": "structure",
                "required": [
                    "loggingOptions"
                ],
                "members": {
                    "loggingOptions": {
                        "shape": "S43"
                    }
                }
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "StartDetectorModelAnalysis": {
            "http": {
                "requestUri": "/analysis/detector-models/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorModelDefinition"
                ],
                "members": {
                    "detectorModelDefinition": {
                        "shape": "S2f"
                    },
                    "evaluationMethod": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "analysisId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DW3DWGF3YWWOUSNHKZAQMUQ5HPNOP2YEC6DV5RRBHUUUTJJCZRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
[...]
